[2018-04-11 23:31] #531 closed, assigned to nobody

[2018-04-12 00:21] brockallen commented on #528
This is what I recommend, because 1) the OIDC callback needs to use the hash fragment to pass params and some frameworks are a PITA with not playing nice here, and 2) I'd encourage to avoid superfluous code on the callback to avoid XSS and other possible security vulnerabilities. The callback is the very sensitive handoff from the STS back to your app.

[2018-04-12 13:32] disist commented on #529
@brockallen Thanks for the empathy :)

After some deeper investigation, I understood that I have this problem just when I have set `silent_redirect_uri` in options and on each `checkSessionInterval` `cordova-plugin-inappbrowser` tries to open and do some check session. So when I have not set `silent_redirect_uri` each opens of InAppBrowser works fine.

I have tried to reimplement silent renew toke

[2018-04-13 09:47] Farshidgolkarihagh commented on #23
This is a total show stopper. This library is ~85Kb GZipped.!!!! Has anyone came up with a way to optimize this library or found an alternative library?

[2018-04-13 18:58] sei-jmattson commented on #486
We were troubleshooting this issue in MS Edge v40.15063.674.0, but now find it
works again in Microsoft Edge 41.16299.15.0.  Hate to leave clients behind, but hey, if you aren't leaning forward you are falling backward!

[2018-04-19 04:37] loliver opened #532 "Implicit flow form fallback"
Does the library support a form fallback option for implicit flow?

We're using WIA but when our issuer returns an error on signinSilent we want to redirect them to a signin page to manually enter their details to log in manually.

[2018-04-19 07:05] subprime commented on #507
Thanks @vadimkorr for your comment. It save my life 🥇.

@brockallen can you shortly explain why we need to add this line to solve the problem?
[code]

[2018-04-19 08:11] #532 closed, assigned to nobody

[2018-04-19 08:52] loliver opened #533 "Error state getting set to undefined in ResponseValidator"
Hi there,

Our IdentityServer is setting our state rather than the client on SigninRequest and on Error ResponseValidator is settings `response.state = state.data` which is undefined.

Is this something that I can fix without having to rewrite the IdentityServer to use state from the oidc client?

https://github.com/IdentityModel/oidc-client-js/blob/2b38397ab3c8377612e43df03182f92b03f72de4/src/Res

[2018-04-21 04:02] brockallen commented on #533
Sorry, I don't follow.

[2018-04-23 01:09] loliver commented on #533
Our state doesn't have `data` attached to it, so `response.state` is always set to undefined within our ErrorResponse.

[2018-04-24 22:17] bakedog417 opened #534 "Error when authorize response is missing expires_in response parameter"
I'm getting a strange issue where upon receiving my id_token and access_token, I get the following log messages:
[code]

This effectively prevents any refreshing of the tokens from my IdP. (Which is still Keycloak)

As far as I can track it down, [here](https://github.com/IdentityModel/oidc-client-js/blob/56fed0ee375be96fb7269c0562c3175f82656a8e/src/AccessTokenEvents.js#L29) is where it is trying

[2018-04-25 00:14] davidamidon commented on #339
@brockallen I'd be happy to help update the Wiki with Shad's already excellent write up if that was something you were interested in still.

[2018-04-25 09:04] fttriquet opened #535 "Remove babel-polyfill from peerDependencies"
#Can babel-polyfill be removed from peerDependencies ?

In our app we do not need that dependency to use oidc client, but removing it from our dependencies will cause the unmet peer dependency warning.

cc @davinkevin

[2018-04-25 09:04] fttriquet commented on #535
cc @kevindavin

[2018-04-26 10:08] lexon0011 opened #536 "signinSilent() does not working correctly after restarting the browser (only in IE and Firefox)"
To test my oidc implementation, I configure the AccessTokenLifetime to 120 (2 minutes). After authenticating in my application, the browser refresh the access token correctly after 2 minutes. For this the browser create a request with some cookies to the IdentityProvider

![refreshaccesstokenrequestwithcookies](https://user-images.githubusercontent.com/16290662/39299785-dbc2ca42-4949-11e8-9b07-6e3

[2018-04-26 13:57] brockallen commented on #339
Sure. If the wiki works, then that's a fine place to put it.

[2018-04-26 14:00] brockallen commented on #534
It's really OAuth2's `expires_in` that we care about, since it's the access token we're talking about. And yes, it's only marked as recommended. https://tools.ietf.org/html/rfc6749#section-4.2.2

So if the token server doesn't supply it, your client is SOL. Get a better token server :)

No, as access tokens are opaque to the client.

[2018-04-26 14:01] brockallen commented on #534
I'll mark this as a bug to deal with the absent expires_in, which means the client can't proactively know when to renew the access token.

[2018-04-26 14:04] brockallen commented on #536
What's the error you get back? I suspect it's `login_required`: https://openid.net/specs/openid-connect-core-1_0.html#AuthError

[2018-04-26 14:10] bakedog417 commented on #534
That make sense, I didn't realize the access_token should be otherwise ignored on the client except when thrown in a header.

This only came up when I switched to using SAML as the IdP for my IdP, which supplies 2 tokens only in the return URL.

Thanks for checking in on it.

[2018-04-26 14:29] brockallen commented on #534
I'll reopen this -- again, I think there's a bug in the sense that the code expects an expires_in.

[2018-04-26 15:31] lexon0011 commented on #536
Yes you are right, the error is 'login_required'
I check you link, but I am not sure what I have to change, to get it running in IE and Firefox?

[2018-04-26 16:39] brockallen commented on #536
It means the user needs to login again - their session is no longer active at the token server.

[2018-04-26 17:13] lexon0011 commented on #536
To reach a high level of security, I use the IdentityServer in the following way:
--> my access tokens expires after 8 hours
--> my SPA Client refresh the access token via silent renew - `signinSilent() `

After 4 weeks the user need to login again. For this I set the following configuration on the server:
[code]

So in Chrome everything works as expected. I don't understand why in IE or Firefox t

[2018-04-26 18:31] brockallen commented on #536
Sorry, but you'll have to debug why those browsers are not honoring your cookie.

[2018-04-26 18:47] lexon0011 commented on #536
I try to find the problem since two days.Okay, a soon as I found a solution, I will post it ...

[2018-04-26 19:13] bakedog417 commented on #534
Alright, so in the interim, any danger in doing something like this, provided my tokens expire >900s?

[code]

PS; sorry for closing the ticket, browser only showed your first response when I closed it.

[2018-04-26 20:09] brockallen commented on #534
yea, i guess hacking it for now might work. try it and let me know :)

[2018-04-27 06:52] bakedog417 commented on #534
It certainly seems to kill the NaN bug in the refresh timers:
[code]

But, it leads to this issue when it actually tries to refresh:
[code]
So, I don't believe it to be work-around.

[2018-04-30 06:43] lexon0011 commented on #536
I found the problem and a workaround.

**Problem:** I use a custom view for my IdenityServer (for developing the custom view I used [this sample](https://github.com/IdentityServer/IdentityServer3.Samples/tree/master/source/CustomViewService) as template). In the [login template](https://github.com/IdentityServer/IdentityServer3.Samples/blob/master/source/CustomViewService/CustomViewService/Content

[2018-04-30 09:50] elgerm commented on #23
Agreed, the file size renders the library unusable for real world apps. Apologies for this depressing statement, identityserver is great, but not so for web apps.

[2018-04-30 09:59] Farshidgolkarihagh commented on #23
Way to get around for me was to load the file when the user click on the
login button.

On Mon, 30 Apr 2018, 2:20 pm Elger Mensonides, <notifications@github.com>
wrote:

[2018-05-01 07:20] loliver commented on #533
Or is state in this instance the redux state, not the token issuer api state?

[2018-05-01 07:35] loliver commented on #533
I have no idea why but after a week off this started working, no idea what was going wrong to start with, closing.

[2018-05-01 08:15] loliver commented on #533
Turns out I had commented out the offending line in the library in node_modules last week and forgotten about it.

[2018-05-02 10:17] biltongza opened #537 "Why does getUser not raise events?"
https://github.com/IdentityModel/oidc-client-js/blob/2b38397ab3c8377612e43df03182f92b03f72de4/src/UserManager.js#L66
`false` is passed to `events.load`. Is there any reason for this? I'm asking because I'm using the angularjs service example from [here](https://github.com/markphillips100/oidc-cordova-demo/blob/master/src/Oidc.Demo.Cordova/www/app/js/services/angular-oidc-client.js) which relies on

[2018-05-02 21:33] eib commented on #315
Thanks for the changes!

For posterity:
[code]

[2018-05-02 23:04] davidamidon commented on #339
Thanks @brockallen but I don't see an edit option on the wiki. Can you give me edits rights so that I may update it.

[2018-05-02 23:42] brockallen commented on #339
Unfortunately the wiki in github does not have such fine grained controls. I'd suggest writing up some markdown and we can review to merge into the wiki.

[2018-05-02 23:46] davidamidon commented on #339
Ahh ok no worries I'll work on it this way and put in a PR when ready

[2018-05-02 23:55] brockallen commented on #339
yea, even just create some doc.md file -- that's perfect. and if you want to do a whole docs folder, then go crazy

[2018-05-03 00:30] ShadSterling commented on #339
I don't think you have access to the markdown of my comments, so I pulled it out into a gist: https://gist.github.com/ShadSterling/e28e55751c7b709e859aa17635989c00

[2018-05-03 00:48] davidamidon commented on #339
Great, thank you both. I'll get something put together this week.

[2018-05-03 23:26] brockallen commented on #537
IIRC it's very common to call getUser from in those events, so we don't want an infinite loop

[2018-05-04 04:05] davidamidon commented on #339
Here is what I put together. Please let me know if you would like it submitted in some other way or have any suggested edits. I tried to tie it into what was already included in the wiki and removed the first person portions.

https://gist.github.com/davidamidon/24c8a6980e116e62f781be4d6239d10d

[2018-05-04 08:02] biltongza commented on #537
I've left it true for a few days of testing and I haven't had any issues (yet). But what you say makes sense so I'll be sure to watch out for it. Thanks.

[2018-05-04 20:24] ShadSterling commented on #339
Having my explanatory text merged in with the more reference-style docs is a bit weird.  It might be better to have multiple pages.  The worst bit is having the "Retrieving the User object" and "User validity" headings under the "Methods" heading; there's no clear delimiter between the "User validity" subsection and the actual list of methods, which is confusing to read.  It's also weird that my h

[2018-05-04 21:06] brockallen commented on #521
I started a branch with some updates for things like this: js_size.

[2018-05-04 21:10] brockallen commented on #23
I spent a good amount of time trying to improve this. What I ended up having to do is manually build jsrsasign and (one-by-one) remove each of their js file and test to see if it was needed (by running our unit tests). I'm not thrilled about this approach, but the jsrsasign project is sort of a nightmare when it comes to trying to build it or use some of their smaller files.

Unfortunately I was o

[2018-05-04 23:14] brockallen commented on #535
Yes, I was thinking of how to build this with two versions -- one with the polyfill and one without. I'll see what I can do.

[2018-05-04 23:17] brockallen commented on #527
Did you ever sort that out? It sounds more like a config issues, rather than an issue with the library.

[2018-05-04 23:17] #497 closed, assigned to nobody

[2018-05-04 23:18] brockallen commented on #505
All set on this issue -- can we close?

[2018-05-04 23:19] brockallen commented on #507
Sorry, but I was never really sure what the real issue was. The line of code above revokes the user's cookie at the token server, which is what signout means.

[2018-05-04 23:19] #507 closed, assigned to nobody

[2018-05-04 23:19] brockallen commented on #513
Ok, I'll have a look to see if I can make this smarter.

[2018-05-04 23:20] brockallen commented on #514
I know, I know... sorry. Too much travel/work. I spent a good three days this week on oidc-client, so I'm in the zone, so to speak. I'll get something out soon-ish.

[2018-05-04 23:21] brockallen commented on #524
All set on this issue -- can we close?

[2018-05-04 23:21] #525 closed, assigned to nobody

[2018-05-04 23:21] #526 closed, assigned to nobody

[2018-05-04 23:21] #527 closed, assigned to nobody

[2018-05-04 23:22] brockallen commented on #536
All set on this issue -- can we close?

[2018-05-05 01:04] brockallen commented on #468
Any update on this?

[2018-05-05 01:32] brockallen commented on #521
done on dev.

[2018-05-05 01:32] #521 closed, assigned to nobody

[2018-05-05 01:41] brockallen commented on #535
So this is the PR that added it: https://github.com/IdentityModel/oidc-client-js/pull/166

So should we have it or not? // @kristofdegrave

[2018-05-05 07:33] lexon0011 commented on #536
My workaround works. So you can close it! Thanks!

[2018-05-05 09:08] Meligy commented on #514
Awesome. Thanks a lot for the super great free-gift work :) :) :)

[2018-05-05 13:12] brockallen commented on #514
Well, you could always convince your employer to sponsor:  https://www.patreon.com/identityserver :)

[2018-05-05 13:13] #536 closed, assigned to nobody

[2018-05-05 13:20] brockallen commented on #514
I put out a pre-release to have folks start testing the reduced size: oidc-client@1.5.0-beta.1

[2018-05-05 13:20] #514 closed, assigned to brockallen

[2018-05-05 13:21] brockallen commented on #23
I was pretty comfortable with these changes to reduce the size, I merged the work to dev and put out a pre-release: oidc-client@1.5.0-beta.1. Please test to ensure it's working.

[2018-05-05 13:23] brockallen opened #539 "Publish a version without the babel-polyfill bundled"

[2018-05-05 15:20] brockallen commented on #515
Sorry, I'll keep the thread here...

[2018-05-05 15:34] brockallen commented on #515
I merged (manually) this into the dev branch. Have a look please and let me know if it's working the way you need.

[2018-05-05 15:42] brockallen commented on #459
Not in scope now.

[2018-05-05 15:42] #459 closed, assigned to brockallen

[2018-05-05 15:54] DanielSchaffer commented on #515
Ahhhh yes. For ES6 - it depends, I think. I wasn't ever able to figure out how to import modules from the index correctly - I'd end up with some sort of ES module object, and would've had to call `.default` on the import in order to actually use the class - so I'd ended up importing from the source files directly - and if anyone else was doing that, then yes, I believe this would be a breaking cha

[2018-05-05 16:03] brockallen commented on #488
done

[2018-05-05 16:03] #488 closed, assigned to brockallen

[2018-05-05 16:17] brockallen commented on #534
I added a check that prevents loading the timers if there's no or undefined expiration.

[2018-05-05 16:17] #534 closed, assigned to nobody

[2018-05-05 17:50] DanielSchaffer commented on #515
Had a few mins to check into this, and I'm running into a few issues. First, there's a typo in `index.d.ts` (`SignoutRespsone` instead of `SignoutResponse`), which is easy enough to fix. But I'm also having issues with the babel plugins somehow sneaking into my build process, which is conflicting with the stuff I've got set up there. I _think_ this might just be due to trying to test it out using

[2018-05-05 18:18] brockallen commented on #515
yea, odd. from what i recall the polyfill is onlt being pulled in when we build what goes into dist or lib. if you just import is ES6 style, then i don't know why.

[2018-05-05 18:18] brockallen commented on #515
Also, .ts typo is fixed

[2018-05-05 21:09] brockallen commented on #513
I just made an update to try to address this. Not up on npm yet, but feel free to try it from a local build.

[2018-05-06 00:27] jsw324 opened #540 "Refresh Token - No State in Response"
I've been trying with no success to implement the token refresh using this library.  Any help or insight is greatly appreciated.

Stach:
- React
- GraphQL (Apollo Client)

Structure:
I've tried a few approaches, starting with `automaticSilentRenew` and creating a `static-renew.html` callback file in my `public/` folder - but this both approaches gave me a `No state in response` error so I set out

[2018-05-06 00:40] brockallen commented on #540
This library only supports implicit flow, where refresh tokens are prohibited from the protocol flows. For a JS browser-based client-side apps you should not be using refresh tokens.

[2018-05-06 01:06] jsw324 commented on #540
The token I'm issued expires in 60 minutes so I'd need some kind of mechanism to refresh.  And our `onelogin` app is set up as an OIDC app, which I assume is implicit flow.  Please correct me if I'm thinking about something wrong here.

[2018-05-06 01:50] jsw324 commented on #540
When I set `automaticSilentRenew: true` and don't take any special care of anything else (iframe, silent callback routes, etc.) I get `Error from signinSilent: Frame window timed out`

Edit: Created a `silent.html` page and registered that in onelogin - error there is: `Error from signinSilent: End-User authentication is required`

**Edit:** @brockallen  Maybe I wasn't clear above.  We are using a

[2018-05-06 07:16] artcab opened #541 "SignoutRespsone -- There's a typo in the NPM project typescript definition file index.d.ts"
Not sure if this is the correct place to report an error with the NPM package: https://www.npmjs.com/package/oidc-client

I'm using in an Angular project and the following errors are preventing webpack compilation:

[code]

In said file, there appears to be typos like "SignoutRe**sp**sone"

workaround is to edit index.d.ts and use SignoutRespsone instead of SignoutResponse

[2018-05-06 12:26] brockallen commented on #541
I think I fixed this just yesterday: https://github.com/IdentityModel/oidc-client-js/commit/96533abf40f4473da1322e06fdb21111fc399c56

[2018-05-06 16:39] intuitivepixel commented on #541
`SignoutResposne` should be `SigninResponse` - would be grate if this get's fixed

[2018-05-06 16:45] intuitivepixel commented on #541
If I fix it from which branch should I branch away for a PR? It is breaking my build.

[2018-05-06 17:11] DanielSchaffer commented on #515
Okay, I can confirm that it's just the `.babelrc` file being there when using `npm link`. It works fine when I remove it. Can you cut another prerelease (with the typo fix) so I can confirm with the actual package?

[2018-05-06 20:40] intuitivepixel commented on #541
I've created a PR https://github.com/IdentityModel/oidc-client-js/pull/542

[2018-05-06 23:51] brockallen commented on #539
i was confused -- ~/lib seems to already do this. for some reason i thought it was bundling it

[2018-05-06 23:51] #539 closed, assigned to nobody

[2018-05-06 23:55] brockallen commented on #491
I added a config flag for this: stopCheckSessionOnError. It defaults to true to keep current behavior. Set to false to get what you want.

[2018-05-07 00:15] brockallen commented on #515
I merged in a fix for that. I just released 1.5.0-beta.2. Let me know.

[2018-05-07 00:16] brockallen commented on #513
I just released 1.5.0-beta.2. Let me know.

[2018-05-07 00:16] brockallen commented on #491
I just released 1.5.0-beta.2. Let me know.

[2018-05-07 18:21] brockallen commented on #491
I'll close to track completion, but please let me know here if any feedback. Thanks

[2018-05-07 18:21] #491 closed, assigned to brockallen

[2018-05-07 18:21] brockallen commented on #23
I'll close to track completion, but please let me know here if any feedback. Thanks

[2018-05-07 18:21] brockallen commented on #513
I'll close to track completion, but please let me know here if any feedback. Thanks

[2018-05-07 18:21] #513 closed, assigned to brockallen

[2018-05-07 18:22] brockallen commented on #535
@fttriquet any update?

[2018-05-07 19:45] davidamidon commented on #339
Ok thank you for the feedback, I'll make some edits based on this and resubmit.

[2018-05-07 22:48] dlcsoup51 opened #543 "It's happening with mine all the time..."
![dashboard for exeter](https://user-images.githubusercontent.com/38765827/39728882-fb39d006-520d-11e8-9506-b1ef965a8263.png)

I've had it many times in the two weeks I've been in school...

[2018-05-08 13:29] brockallen commented on #543
You will have to debug it, sorry.

[2018-05-08 16:47] davidamidon commented on #339
Ok I've updated to include multiple pages. Please review.

https://github.com/davidamidon/oidc-client-js/wiki

[2018-05-08 22:06] german-j-rodriguez opened #544 "Parameter to ignore self-signed certs on the authority endpoint"
When using the oidc-client module to test against an endpoint using self-signed or internally signed certs, I get a "Failed to load resource: net::ERR_CERT_AUTHORITY_INVALID" response, is there a way to specify the CA or ignore the certs?

[2018-05-09 18:06] ericmorand opened #545 "Error: No state in response when no "expires_in" in hash fragment"
When no `expires_in` parameter is returned as part of the redirect hash fragment, oidc-client-js throws an error and doesn't store the user:

`>>>>> Error: No state in response`

As far as I know, `expires_in` is only a recommended parameter in  OAuth 2.0  specs, so the lib should work when it's not returned:

https://tools.ietf.org/html/rfc6749#section-5.1

Is there a workaround?

[2018-05-09 19:13] ericmorand commented on #545
It appears that the problem comes from the fact that my URL has two hashes (#), one of them located at the last position. I'll open an issue about this.

[2018-05-09 19:13] #545 closed, assigned to nobody

[2018-05-09 19:27] ericmorand opened #546 "Is there a way to preprocess the redirect URL before it is sent to _signinEnd"
I'm currently facing issues with a redirect URL that is not formatted correctly for oidc-client-js - namely there is a hash character at the end of the URL that makes the lib fail to parse the parameters.

I'd like to preprocess the URL to remove that last character before it is sent to _signinEnd. Is it possible without having to override UserManager, like an event or a "hook" I'm not aware of?

[2018-05-10 06:23] zedL opened #547 "signoutSilent"
Would it be possible to have a signoutSilent like the signinSilent? I want to avoid redirect dancing in an SPA UI.

[2018-05-10 10:28] paulguz opened #548 "signinPopup fails in IE11"
Hi,

Thanks for OIDC-client, it's great.

On attempting to close the popup window, the signinPopup promise is rejected in IE11 (and possibly older), with the error "Popup window closed".  For some reason, IE isn't happy with the oidc-client script closing the window it created itself.

Closing a popup window with script is perfectly acceptable in IE11; I'm successfully doing this in the same appli

[2018-05-10 17:43] brockallen commented on #548
I'll have a look... IIRC it was previously working.

[2018-05-10 17:45] brockallen commented on #547
Not sure if that makes sense -- there might be a prompt involved. As a workaround you should be able to use OidcClient's APIs to build the URL and then you can build your own iframe.

[2018-05-10 18:10] brockallen commented on #544
That's something you need to configure in the browser or your host OS. That's not something this library can change.

[2018-05-10 18:10] #544 closed, assigned to nobody

[2018-05-10 18:11] brockallen commented on #545
The spec says you're not supposed to use a redirect uri that contains a hash fragment :)

[2018-05-10 18:12] brockallen commented on #546
You can explicitly pass the URL param to signinRedirectCallback. So in short, you parse away the extra hash fragment. Also, I'd suggest to not use a redirect uri page that runs all of your routing logic.

[2018-05-10 19:49] ericmorand commented on #545
I don't. I have a clean redirect URI. But the identity provider calls it with two hash marks, like this:

https://my-clean-reditect-uri/#token_id=123456#

Your lib is not in cause there.

[2018-05-11 00:45] ShadSterling commented on #339
That looks like progress!  Thanks for doing this.

It would be nice to establish a process for future contributions to the documentation.  I notice when I view those pages I can see an edit button, and apparently I can just edit it without any review.  Did you add me to the project in some way or is it just open for anyone to edit?  Is there an option to allow suggested edits?  If not, there is at

[2018-05-11 00:48] brockallen commented on #339
Yea, that's an aspect of how wiki works on github. Perhaps something more like readthedocs? I never had time for that (and felt it might be a bit overkill).

[2018-05-11 00:51] #505 closed, assigned to nobody

[2018-05-11 00:51] #524 closed, assigned to nobody

[2018-05-11 00:51] brockallen commented on #529
All set on this issue -- can we close?

[2018-05-11 00:52] brockallen commented on #533
Any update on this?

[2018-05-11 00:53] brockallen commented on #537
Also, the other thing is that it's a poorly named event. When I originally created it, it was meant to be something more like "userAuthenticated", but I misnamed it and didn't want to change it for backwards compat.

[2018-05-11 00:53] brockallen opened #549 "Rename/rework load event"
And make it something more like userAuthenticated, or investigate having both.

[2018-05-11 00:53] #537 closed, assigned to nobody

[2018-05-11 00:55] brockallen commented on #540
This tells me it's showing an error page on the token server. Check your token server's logs.

I don't know what the `refreshTokenURL` is. Where is that in the specs?

[2018-05-11 00:55] brockallen commented on #543
Any update on this?

[2018-05-11 00:55] brockallen commented on #546
Closing. If you still have issues, feel free to reopen.

[2018-05-11 00:55] #546 closed, assigned to nobody

[2018-05-11 03:04] dlcsoup51 commented on #543
Sorry Allen. No. I don’t have a clue how to debug this. I’m taking a coding class and am really new to all these things!

Worship Him, King of Kings!!

[2018-05-11 07:14] fttriquet commented on #535
Sorry for the delay, nothing more on my side, having a specific version without that dependency would do the trick for us.

[2018-05-11 07:38] ericmorand commented on #546
I'm currently overriding UserManager.signinRedirectCallback:

[code]

It solves the problem, obvously, but I fear this could lead to unexpected problems. What do you think?

[2018-05-11 13:05] brockallen commented on #543
Sorry, I can't help if I don't know what's wrong. Closing. If you still have issues, feel free to reopen.

[2018-05-11 13:05] #543 closed, assigned to nobody

[2018-05-11 13:05] brockallen commented on #535
As I see it, you might need this peerDependency... it depends on what and how you deploy your app.

[2018-05-11 13:07] brockallen commented on #546
Well, this is the logic:

https://github.com/IdentityModel/oidc-client-js/blob/dev/src/UrlUtility.js#L29

and it used to get the first index, but people complained that when they used angular routing it picked up the wrong hash fragment... so you can't please everyone. The other thing you can do is to parse the URL yourself when pass it in as the `value` param: https://github.com/IdentityModel/oid

[2018-05-11 13:53] ericmorand commented on #546
Fragment specs are a little bit confusing:

https://tools.ietf.org/html/rfc3986#page-24

Read literally, you were initally right: the first `#` in the URI would be the fragment delimiter and the fragment would consist of all the characters from there to the end of the URI, even if another `#` is present in between.

But it seems to be a convention that you should start looking for fragment delimit

[2018-05-11 14:38] brockallen commented on #548
The sample is working for me with IE11 on windows 10 (whatever the latest is they auto installed on my machine).

[2018-05-11 14:58] brockallen commented on #548
Ok, I added some cross-origin tests and I can confirm it's not working.

[2018-05-11 15:00] brockallen commented on #515
Any update on this? If it's working, I'd like to include it for you (and I have time to work on this today).

[2018-05-11 15:00] paulguz commented on #548
Ok, thanks for investigating

[2018-05-11 15:23] davinkevin commented on #535
It could be an optional dependency ?

[2018-05-11 15:29] brockallen commented on #535
Yes, depending on how you use/package/depend on oidc-client. If you use it as a ES6 module or use the UMD in ~/lib and run in an older browser then you need to have the polyfill in there somehow. That was the point of the PR from @kristofdegrave, I believe.

[2018-05-11 16:00] brockallen opened #551 "Increase the DefaultStaleStateAge"
To 15 mins from 5 mins.

[2018-05-11 16:00] brockallen commented on #551
done

[2018-05-11 16:00] #551 closed, assigned to nobody

[2018-05-11 16:25] brockallen commented on #541
merged, thanks all for checking my awful typos and spelling :)

[2018-05-11 16:25] #541 closed, assigned to nobody

[2018-05-11 16:27] brockallen commented on #548
Interesting development... did you notice the comments on the thread here? https://github.com/IdentityModel/oidc-client-js/pull/550

Can you test putting your tokens server in the same security zone as your client app?

[2018-05-11 18:54] brockallen commented on #433
Sorry, this issue fell thru the cracks. Since you closed the PR, does it mean this issue is resolved?

[2018-05-11 18:56] brockallen commented on #468
Closing. If you still have issues, feel free to reopen.

[2018-05-11 18:56] #468 closed, assigned to nobody

[2018-05-11 18:56] brockallen commented on #503
Closing. If you still have issues, feel free to reopen.

[2018-05-11 18:56] #503 closed, assigned to nobody

[2018-05-11 19:06] brockallen commented on #440
I'm going to close this as the `UserManager` has APIs `startSilentRenew` and `stopSilentRenew` and I think you can build your own retry logic with these.

[2018-05-11 19:06] #440 closed, assigned to nobody

[2018-05-11 19:09] brockallen commented on #369
I know this issue has been lingering for some time, but I'm going to close as something I don't see as being easily changed. I did spend some time looking into how I might do it, but the main issue is the nature of the async postMessage to send results to the parent window, and then the necessarily async way it would have to post back success or failure. It's a lot of work I think to build that re

[2018-05-11 19:09] #369 closed, assigned to brockallen

[2018-05-11 19:11] brockallen commented on #246
I'm going to finally close this as I don't see it happening anytime soon (especially given that I've not had time to do it since this issue was opened). If someone's company feels it's worth sponsoring me, then that would in essence make the time.

[2018-05-11 19:11] #246 closed, assigned to nobody

[2018-05-11 19:25] brockallen commented on #221
I know this issue has lingered here for a while, but I did looked into it and given the async nature of how the popup works it's really hard to keep a handle to the instance and then provide a global way (on the UserManager) to call back in and close the current one. Given that there doesn't seem to be a huge push for this, I'll close the issue. Sorry.

[2018-05-11 19:25] #221 closed, assigned to nobody

[2018-05-11 20:10] brockallen commented on #548
Given that this seems to be environmental, I don't think there's anything I can do in the library to fix this.

If you still have issues, feel free to reopen.

[2018-05-11 20:10] #548 closed, assigned to brockallen

[2018-05-12 14:35] pmhsfelix opened #552 "Support code flow (with pkce)"
The [OIDC spec seems](http://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#Combinations) seems to allow obtaining an authorization code in addition to the ID token and access token in the same request, using the "code id_token token" response_type.
On a app with a browser-side and a server-side, this authorization code might be useful on the server-side to obtain a refresh token for "

[2018-05-12 17:57] brockallen commented on #552
No particular reason, other than I was just focusing on the implicit scenario. I could see that scenario where the access token is used to securely deliver the code to a server side where it can do the exchange for refresh token and possibly another access token.

One thing I think about is that the spec does say that a refresh token should only issue new access tokens with the same or fewer scope

[2018-05-12 21:27] jasonmc86 opened #553 "Cross origin not allowed for oidc silent"
Use cases where the silent OIDC client callback is hosted on a different domain than where the iframe is created from fails because the domains are checked that they are the same in two places. One the frame postMessage and two the message callback.

Changes similar to #538 would be necessary.

This occurs for example when you want to have a shared OIDC client callback html that is used on differe

[2018-05-12 21:30] brockallen commented on #553
Sorry, I just don't see or understand that use case. Why wouldn't those just be two different clients? I have a feeling I am missing something about your scenario.

So then how would the domain you have no control over know to use oidc-client in the first place?

[2018-05-12 21:43] jasonmc86 commented on #553
`Sorry, I just don't see or understand that use case. Why wouldn't those just be two different clients? I have a feeling I am missing something about your scenario.`
- if they are different clients then I still need to host my callback.html in their domain which I cannot do.

`So then how would the domain you have no control over know to use oidc-client in the first place?`
- I have a script url (

[2018-05-12 21:56] jasonmc86 commented on #553
For the above you can imagine domains 2 or 3 just write a script tag in there website that calls domain 1s script (the same one).

[2018-05-14 09:28] paulguz commented on #548
Indeed, I experience the problem with two different domains (the client app is running on localhost, the token server on a domain).  But setting both localhost and the token server domain to both be in the 'intranet' zone didn't fix it, maybe because the client is running a port other than 80 (it won't let you set a port number when adding the site to the zone though).

The popup does close if whe

[2018-05-14 10:01] fttriquet commented on #535
I see what you mean, but it seems to be quite a specific case their, I would say it's up to the client to manage that part ? Kevin's proposition would solve this (without having to do several builds), and add en entry in the readme about polyfill.

[2018-05-14 16:52] ShadSterling commented on #339
I'm not familiar with readthedocs, but it looks more like it's for documentation hosting/distribution than for collaborative editing.

[2018-05-14 19:31] pmhsfelix commented on #552
Yes, I was looking for the offline_access semantics, where the server-side component of the client app gets a long-term refresh token. I'm not looking for extended scopes, just for an extended timeframe.

From a security standpoint, it seems that using the code flow for obtaining this long-term refresh token is preferable, since it requires client app authentication (server side) when exchanging t

[2018-05-15 03:26] davinkevin commented on #535
@brockallen The PR of @kristofdegrave add it to `peerDependencies` instead of `optionaldependencies` ([docs](https://docs.npmjs.com/files/package.json#optionaldependencies))

Putting it inside this here should solve the original problem of @fttriquet and won't break because `peerDependencies` are not installed since NPM 3 (& Yarn)

[2018-05-15 15:44] chensara commented on #501
https://github.com/IdentityModel/oidc-client-js/pull/554

[2018-05-15 19:04] dcarr42 commented on #249
In the current version of adal.js if the resource is the app it uses the Id token (maybe incorrectly) but otherwise access_token is supported.

[2018-05-15 19:31] jfcere commented on #500
I thought it worth sharing if anybody find this post and is having the same issue.

Although I use pretty much the same configuration with Angular than @premiumwd posted last, I've struggled a lot with the fact that in the static files (`auth.js` and `silent-renew.js`) you have to reconstruct the `UserManager` and pass back the configuration settings that already been set inside Angular otherwise

[2018-05-15 21:30] brockallen commented on #535
Ah I wasn't aware of the dedicated optional dependency config (which explains why I ignored the mention of it above). That sounds like the right place. Thanks

[2018-05-15 21:37] brockallen commented on #339
Right -- but we'd host the content here somewhere as content which PRs can be done against. Like we do in IdentityServer: https://github.com/IdentityServer/IdentityServer4/tree/dev/docs and get pushed to here: http://docs.identityserver.io/en/release/

[2018-05-16 02:14] baoduy commented on #368
I'm facing the same issues when sending prompt=none to the IDP. The response it require_login. However, when I remove the prompt=none it is working fine. So, I think the signinSilent should allow overwriting it.

[2018-05-16 14:33] j4ro commented on #368
@baoduy It would made my life so much easier cause I ended with editing this prompt=none inside downloaded package every time.

[2018-05-16 15:37] baoduy commented on #368
I will make a full request for this change

[2018-05-17 03:48] loliver commented on #533
No updates, I changed how our form fallback worked so it caught an `access_denied` from the silent flow which kicked off a redirect flow using a new state and nonce.

[2018-05-17 14:24] brockallen commented on #552
Given some more thinking, I think I'm willing to seriously consider supporting code flow here. We'd also need PKCE support. I don't think it'd be that big of an effort to do the protocol level. The larger bit of work would be enhancing the UserManager to handle the different protocol flows to manage token lifetime.

Ping me on skype sometime if you want to chat further.

[2018-05-18 09:52] ChrisDevinePimss commented on #298
if your using the oidc-client-js then register to the new user loaded event and the call somthing in the app to update the token. Thats what i did anyway, works great too, except the silent renew... seems i get timeout issues (but it works on my machine, just not in prod). Anyways i digress... hope that helps

[2018-05-18 17:24] narendragiri opened #555 "User switching functionality like gmail"
I have two login account in my  java script  application ,  like   gmail , i want to switch between my logged in account  easily. i  have  used three functions . when i click another account from the list it again logged in with same previous account. here  are the methods i have used
                 mgr.removeUser();
                 mgr.clearStaleState();
                 user=useraccount;

[2018-05-18 17:27] brockallen commented on #555
That's not a feature of the client, it's a  feature of the token server. From the client you can ask the token server to prompt the user to select an account with the prompt param to the authorize endpoint: https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

[2018-05-18 20:07] eestein commented on #500
@jfcere could you please share the code for getHashParameters and jwt_decode?

[2018-05-19 14:42] brockallen commented on #535
Done, thanks for helping me thru that!

[2018-05-19 14:42] #535 closed, assigned to brockallen

[2018-05-19 14:42] brockallen commented on #515
Ok, I'll close this since I think it's what you're asking for,

[2018-05-19 14:42] #515 closed, assigned to nobody

[2018-05-19 14:49] DanielSchaffer commented on #515
Shoot, sorry I hadn't updated. I ran into issues with my build chain on this, but it appears to just be due to including that jsrsasign library in the source, which I can work around. That said, that should really be a dependency - is the owner not responding to PRs? Why not fork it?

[2018-05-19 15:30] brockallen commented on #515
Their build system isn't really in their repo and so it's hard to repro the steps they take. Also, their version of the minimal build is actually not what is needed by this library to validate JWTs. I wish they were more receptive, but ... well, I took this step as the past of least resistance to get a minimal sized version of their code.

[2018-05-19 15:33] ShadSterling commented on #339
That looks like a good arrangement.

[2018-05-19 16:38] brockallen commented on #433
Closing. If you still have issues, feel free to reopen.

[2018-05-19 16:38] #433 closed, assigned to nobody

[2018-05-19 16:38] #529 closed, assigned to nobody

[2018-05-19 16:38] brockallen commented on #533
Closing. If you still have issues, feel free to reopen.

[2018-05-19 16:38] #533 closed, assigned to nobody

[2018-05-19 16:39] brockallen commented on #540
All set on this issue -- can we close?

[2018-05-19 16:39] brockallen commented on #547
Closing. If you still have issues, feel free to reopen.

[2018-05-19 16:39] #547 closed, assigned to nobody

[2018-05-19 19:04] davinkevin commented on #535
Thx 👍

[2018-05-20 01:52] brownbl1 commented on #275
I know this is closed, but wanted to mention a related issue I'm having. if `common` is used instead of `{tenant}` I get
![image](https://user-images.githubusercontent.com/2136925/40274819-98bcec6a-5bae-11e8-9509-d7390ddd4749.png)

It's comparing https://login.microsoftonline.com/067e9632-ea4c-4ed9-9e6d-e294956e284b/v2.0 with https://login.microsoftonline.com/common/v2.0.

Did you find a way to ge

[2018-05-20 13:06] brockallen commented on #275
Yes, that's a non-spec compliant discovery document tha azure invented for multi-tenancy.

[2018-05-21 08:53] baoduy opened #556 "The browser auto re-login on other tabs"
I have an application integrated with IPD:  I opened 2 tabs on Chrome to log in to the application in different environments. When the second tab logged the first tab auto reloaded. This issue does not happen when I disabled the auto refresh token.

If anyone already fixed this issues please share the solution.

[2018-05-21 11:28] brockallen commented on #556
I think you've answered your own question. You're using the SSO feature of your token server. That's how that works.

[2018-05-21 12:22] brownbl1 commented on #275
@brockallen Thanks, got it now. I can work around it, but kind of a pain that there isn't a standard approach for this.

[2018-05-21 12:31] narendragiri commented on #555
Thank you for this link.  currently, i am using oidc. client.js  for authenticating my JavaScript application. Now,i have a new requirement to switch between logged in users here is the two options i think i have to do.
1. using oidc.client.js , if it supports loading and unloading user.
2. creating login form in javascript client application  and getting token from token server with the help of u

[2018-05-21 16:50] tamias opened #557 "First session check should happen immediately, rather than after checkSessionInterval"
If a user changes their OIDC session through another site, then loads a page on my site, there is a delay before the change in session is noticed.  This allows a brief opportunity for the user to interact with my site under the original session.

I believe this could be addressed by having the `start` function in CheckSessionIFrame.js call the trigger function immediately, as well as setting the i

[2018-05-21 16:54] ronlane commented on #557
https://github.com/pangeamedia/testLodge/issues/307 - Should be resolved by this fix.

[2018-05-21 20:14] brockallen commented on #275
You can thanks the folks at Microsoft for doing this in a non-spec compliant way. Different token servers solve this in different ways.

[2018-05-21 20:19] brockallen commented on #555
No, this library does not currently have a mechanism to track many users logged into the client at the same time, nor are there plans to add that feature. Sorry

[2018-05-21 20:19] #555 closed, assigned to nobody

[2018-05-21 20:30] jsw324 commented on #540
[code]
is what generates the `refreshTokenURL`

Then we can make a call to `oneLogin` using that URL and we don't have to ask the user to authenticate.  I contacted `oneLogin` and they have not implemented `prompt:none` which is why we are getting the `End user authentication` message

[2018-05-21 21:00] brockallen commented on #540
I see -- that's just the normal authorization endpoint URL. And yes, they need to support prompt=none for the silent version of that API to work.

So then from the iframe you will need to devise a way to send the results up to the parent frame.

All of this is provided in the UserManager, except it expects to use prompt=none.

[2018-05-21 21:20] jsw324 commented on #540
We are using `postMessage` to communicate with the parent window.

Does that all seem legit to you as a workaround?

[2018-05-21 21:55] brockallen commented on #540
Yep

[2018-05-22 00:32] jsw324 commented on #540
Great, in that case go ahead please close the question. Thanks for your help!

[2018-05-22 02:29] #540 closed, assigned to nobody

[2018-05-22 10:38] fttriquet commented on #535
Great news, thank you

[2018-05-22 11:30] brockallen commented on #557
The interval can already be set in the options, FWIW.

I'm not sure doing the check at start time will always help your situation, as you could have already started, then the user signs out. So I think you will always have the possibility of this delay.

[2018-05-22 11:56] brockallen commented on #557
Ok, I changed the check to run immediately on start. It's been pushed to npm in 1.5.0-beta.4.

[2018-05-22 11:56] #557 closed, assigned to nobody

[2018-05-22 13:03] tamias commented on #557
Thank you!  I acknowledge that there will always be a small window of opportunity for the old session to be used.  This should help, though, so I appreciate the change.

[2018-05-22 13:27] ghost commented on #471
@brockallen I think this is an issue worth investigating as I am also seeing a similar behaviour.

I have some scenario  where I 'force' logout shortly after user logs in and somehow application endsup redirecting to "https://authority.example.com/null" where "https://authority.example.com" is the authority i set up the UserManager.

[2018-05-22 17:13] brockallen commented on #471
are you able to reproduce this in our samples? I can't do anything if I can't identify/repro the issue.

[2018-05-23 08:39] Herowin8x opened #558 "Force logout"
Hi **blockallen**,

My OP is Identity Server 3.

I have a user,
Ex. Bob and Bob have login success on Chrome Brower.
How to force log out this user when trying login this user on IE?

I have spent the time to investigate about "How a user login success" workflow and I have found "idsvr.session" is a union when a user login to Brower, we can be used this "idsvr.session" to force logout?

Thanks
Tua

[2018-05-23 19:09] brockallen commented on #558
There's nothing built-in for that. If you wanted that, you'd have to write (a lot of) custom code.

[2018-05-24 02:49] Herowin8x commented on #558
Thanks brockallen,

I will go ahead with this.

[2018-05-24 02:52] baoduy commented on #556
@brockallen Thanks for your answer. Let me explain the current my environments.
We have 4 environments (DEV, SIT, UAT and PRD) that using the same IDP server. The identification of the application based on the name example: App SIT, App UAT.

I open 2 tabs on the Chrome and login to both SIT and UAT environments the applications are kept login again and again on both tabs.

If you have any ideas t

[2018-05-24 05:24] teamsmiley opened #560 "1.5.0-beta.3 ie11 error"
ie 11 got error so i downgrade to 1.4 ie works fine.
just idea.

[2018-05-24 12:32] brockallen commented on #556
based on how you've done your setup, that's the behavior you've designed.

in short, don't use the same token server for the different environments. that's dangerous.

[2018-05-24 12:33] brockallen commented on #560
can you explain the errors you saw? any logs?

[2018-05-24 12:33] #558 closed, assigned to nobody

[2018-05-24 13:19] teamsmiley commented on #560
chrome

![image](https://user-images.githubusercontent.com/4934139/40487866-432fb9de-5f1a-11e8-9760-56278422ff24.png)

ie11
![image](https://user-images.githubusercontent.com/4934139/40487891-4f435b0e-5f1a-11e8-8c36-5b0dd13cbab3.png)

![image](https://user-images.githubusercontent.com/4934139/40487935-6dea5ee0-5f1a-11e8-82ae-cf292ff8ac7d.png)

this is what i got.

[2018-05-24 13:42] brockallen commented on #560
I can't tell what the error is from the above screen shots. You will need to debug into it.

Also, if you clone the repo and run "npm run start" and browse to "http://localhost:5000/identityserver-sample.html" you should see the library working properly in IE, Edge, FF, and Chrome (all of which I just tested).

[2018-05-24 13:44] teamsmiley commented on #560
i see

thanks. always

[2018-05-24 17:28] jfcere commented on #500
@eestein I updated my previous post to add the `getHashParameters` method and the source for `jwt-decode` library used in my example.

[2018-05-24 17:30] eestein commented on #500
@jfcere thanks! I was able to get it working using the default behavior by removing the hash from my URLs

[2018-05-24 18:13] vejandla commented on #225
Hey, This option of removing the header from the iis server/load balancer worked for me. But our security team raised concerns for completely removing that. So we added the x-frame-options: "Allow-FROM domain", But looks like this header is not working in chrome and it is completely ignoring? are there any better solutions for this if client and IDP are not in same domain..

[2018-05-24 21:40] brockallen commented on #225
Having a blanket rule about anything is always problematic when you have a perfectly valid exception to that rule. Check session is one of those perfectly valid exceptions.

[2018-05-25 00:17] baoduy commented on #556
Dear @brockallen thanks for your help. I will check with Architecture team to build different IDP for each environment.

[2018-05-25 00:17] #556 closed, assigned to nobody

[2018-05-25 16:38] PaulInglis opened #561 "v1.5.0 not compatible with production builds in webpack"
The build of our product started failing because it pulled in v1.5.0 of oidc-client.

We've got our package.json set to `"oidc-client": "^1.4.1",` and it seemed to update it.  Clearly it isn't a compatible version (that's what the hat symbolises).

Not sure what has caused it - maybe the move to an optional dependency, but it looks as though the file isn't transpiled in the distributed code.

Here

[2018-05-25 19:44] larlew opened #562 "v1.5.0 fails to build with create-react-app react-script"
## v1.5.0 fails to build with create-react-app react-script
Please republish pre-compiled to ES5.
Here is my command log:

$` react-scripts build
Creating an optimized production build...
Failed to compile.
Failed to minify the code from this file:
        ./node_modules/oidc-client/src/Log.js:4
Read more here: [http://bit.ly/2tRViJ9](http://bit.ly/2tRViJ9)

---------------------------------------

[2018-05-25 23:14] brockallen commented on #561
Bummer -- I had it out as beta for 2+ weeks looking for feedback.

[2018-05-25 23:14] brockallen commented on #562
Bummer -- I had it out as beta for 2+ weeks looking for feedback.

[2018-05-25 23:15] brockallen commented on #561
Do you have a public repo that I look at to reproduce this issue?

[2018-05-25 23:15] brockallen commented on #562
Do you have a public repo that I look at to reproduce this issue?

[2018-05-25 23:16] PaulInglis commented on #561
Sorry bud. Didn't even notice the beta.
I can't share the exact code, but I'll try and reproduce an equivalent

[2018-05-25 23:22] brockallen commented on #561
That'd be great -- if you can provide me a sample showing how you consume this (i.e. a working 1.4.x version), it'd be a help. Most folks I know only grab the ~/dist file and run from there.

[2018-05-25 23:33] brockallen commented on #561
@DanielSchaffer -- perhaps something about the change in how we export broke this? Any insight?

[2018-05-25 23:33] brockallen commented on #561
Related possibly: #562

[2018-05-25 23:47] DanielSchaffer commented on #561
It looks like from the error that their build is pulling in the ES Modules (`./node_modules/oidc-client/src/AccessTokenEvents.js`) instead of the bundled version. I can't tell what else is going on, but I would think that if the bundler knows to use the `module` property from `package.json`, it should be configured to transpile what it finds.

@PaulInglis, what build tool/bundler are you using, wh

[2018-05-26 00:05] PaulInglis commented on #561
Webpack 3 and transpiling from ES6

We use the direct import and don't target specific files.

[2018-05-26 00:07] DanielSchaffer commented on #561
Can you share your webpack config?

[2018-05-26 00:18] PaulInglis commented on #561
Production webpack.config

[code]

package.json:

[code]

[2018-05-26 09:19] OneCyrus opened #563 "further jsrsasign optimizations"
i think you can exclude this two as well:
 - jsrsasign/min/asn1-1.0.min.js
- jsrsasign/min/asn1x509-1.0.min.js

tests still work here and min lib reduced by another 44kb.

[2018-05-27 06:05] benedict1986 opened #565 "v1.5.0, signinRedirectCallback does not provide user after redirecting back to my website"
I am using v1.5.0 with Angular 6 and this.manager.signinRedirectCallback().then() function does not give user. The source code is as follow.

In LoginComponent, I have a button invokes the following function (with predefined config)

[code]

This functions works fine and will redirect me to the sign in page. After putting the credential, the page is correctly redirected to my SignOnCallbackCompone

[2018-05-28 06:19] basvis commented on #561
Similar problem here, when updating to version 1.5.0 it broke the build:

[code]

[2018-05-28 07:06] ibrahimsen opened #566 "Angular localStorage problem"
Hello,

When I'm using below application which is recommended on your wiki page. It works perfect with default configs, but when I change  userStore config property to localStorage application could not work as expected.

https://github.com/jmurphzyo/Angular2OidcClient

Could you please help me why it could not work with localStorage ?

[2018-05-28 14:30] joaojosefilho opened #567 "VueJs RenewAcessToken Problem"
Good Morning,
I can't renew the acess token
I use IdentityServer4, VueJs, Oidc-Client 1.4

The Error
[https://drive.google.com/open?id=1RcpamWC_b2CPZG6dndKRikrDcThEh4fK]()

IdentityServer4
[code]

Oidc Configuration

[code]
silent-renew.html

[code]

[2018-05-28 15:10] ibrahimsen commented on #560
@teamsmiley  How can you fixed this issue? I'm facing same issue in IE.

I'm using angular 6

![image](https://user-images.githubusercontent.com/2427905/40620697-68e649be-62a2-11e8-9738-1c4734fcb4bc.png)

[2018-05-28 15:57] teamsmiley commented on #560
when i user oidc 1.5.1-beta-3, i get that error
so i change to 1.4.1  . it works fine now.

[2018-05-28 15:58] teamsmiley commented on #560
"oidc-client": "^1.4.1",

[2018-05-28 16:00] ibrahimsen commented on #560
@brockallen Is there any changelog for your versions? If I downgrade my version to 1.4.1 what features or fixing I will miss? Or will you plan to fix this issue?

[2018-05-28 19:09] teamsmiley commented on #560
i think it's only happening with angular 6 .
so..i am not sure this is oidc-client error.

[2018-05-28 19:41] ibrahimsen commented on #560
@teamsmiley I think It's about oidc-client because when I downgrade for 1.4.1 version it worked as expected.

[2018-05-28 20:11] brockallen commented on #560
@ibrahimsen yes: https://github.com/IdentityModel/oidc-client-js/releases/tag/1.5.0

[2018-05-29 04:22] viveknaragude commented on #562
HI brockallen
I'm facing same problem.
can you fix this issue as per as possible.
![capture](https://user-images.githubusercontent.com/25178257/40638237-bcb83dce-6327-11e8-8a7e-304bf530e09f.PNG)

[2018-05-29 05:59] xakep139 commented on #561
Same problem:
[code]

[2018-05-29 09:00] xakep139 commented on #561
I resolved this error by manually installing latest version of [UglifyJS](https://github.com/webpack-contrib/uglifyjs-webpack-plugin) plugin and setting `ecma` parameter to 6 in [uglifyOptions](https://github.com/webpack-contrib/uglifyjs-webpack-plugin#uglifyoptions)

[2018-05-29 11:33] brockallen commented on #561
@xakep139 mind showing me what you did, or send a PR?

[2018-05-29 15:24] xakep139 commented on #561
@brockallen, sure! I did the following:
1. run `npm i -D uglifyjs-webpack-plugin` or `yarn add -D uglifyjs-webpack-plugin`
2. in webpack.config.js replaced `new webpack.optimize.UglifyJsPlugin()` with
[code]

[2018-05-29 15:36] DarkCow commented on #561
@xakep139 You can also upgrade to webpack 4.0, which solves this issue.

edit: webpack 4 already uses the latest version of uglifyjs

[2018-05-29 15:37] DarkCow commented on #562
@viveknaragude Can you upgrade to webpack 4.0? It uses the latest version of uglifyjs by default. which supports ECMA6.

Also you can try adding babeljs to your build scripts, so that it converts ecma 6 -> ecma 5, which old versions of uglifyjs understand

[2018-05-29 15:52] brockallen commented on #561
So @PaulInglis you're not even pulling in the version from ~/lib or ~/dist, right?

[2018-05-29 16:12] brockallen commented on #561
@DarkCow you seem to follow what's happening here, so mind helping me understand. It sounds like you think by me upgrading to webpack 4 that has caused others still on webpack 3 to see this issue? Or am I missing something.

[2018-05-29 16:22] PaulInglis commented on #561
@brockallen nope - I'm not even using UglifyJS (see the commented out line in the webpack.config above).  It seems to be some internal thing if using the `-p` flag on webpack.

My work around is to remove the `-p`, but manually set the production mode via
`
new webpack.DefinePlugin({
				'process.env.NODE_ENV': '"production"',
			}),
`

[2018-05-29 16:37] brockallen commented on #561
So then I'm still confused... I use webpack (from gulp) to build two versions of this library -- one in ~/lib and one in ~/dist, so if you're not using those then my use of webpack is unrelated to your error in your build using webpack -- I think. right?

So I guess what I'm confused about is what happened in how I'm building/packaging this that affected you? That's why I asked @DanielSchaffer to

[2018-05-29 16:43] brockallen commented on #561
Actually, I take it back -- "main" points to ~/lib/oidc-client.min.js. So if you're doing a require then that's what you're getting.

[2018-05-29 17:02] DanielSchaffer commented on #561
Hey, sorry, I'm not ignoring the pings ... had a long weekend with the fam, about to start poking now.

The way I understand things, the `module` property is used by webpack and by default, prioritized ahead of `main` (see https://webpack.js.org/configuration/resolve/#resolve-mainfields), but I'd expect that it if it does use `module`, which is meant to be a pointer to an entrypoint for ES Modules

[2018-05-29 17:39] DanielSchaffer commented on #561
Minimal repro and fixes for webpack 3 and 4: https://github.com/DanielSchaffer/oidc-client-webpack

[2018-05-29 18:07] DanielSchaffer commented on #561
^^ updated to add fixes and a README

[2018-05-29 18:11] DanielSchaffer commented on #561
After setting up the "fixed" repro, I'm going to take back by previous comment. It _should_ be up to the end user to configure their build tool properly. If someone is running into this problem, it's likely they're not transpiling at all.

[2018-05-29 20:12] DarkCow commented on #561
@brockallen it appears you are doing it correctly? JS devops are so confusing and change a million miles an hour... It appears `package.json` `main` points to `~/lib/oidc-client.min.js`, which is the output of your build path... Which goes `Gulp->Webpack->babel`... If you add `env` [preset](https://babeljs.io/docs/plugins/preset-env/) preset to babelrc, it should transpile completely to ecma5. But

[2018-05-30 04:24] viveknaragude commented on #562
Thank you DarkCow

webpack 4.0 is not direct dependencies in my project ...is it mandatory to install in my project.

[2018-05-30 15:21] vejandla opened #569 "Question: pass authorization headers in Window.open, iframe scenarios"
First of all a big thank you and I greatly appreciate the work and the support you are giving for the Identity Provider.

I have couple of scenarios In my application and I am sure at least some of the people who are using this identity provider might be facing or faced all these issues before. So If you are aware, Can you please let me know what are the best approaches for these problems.

Before

[2018-05-30 15:41] vejandla commented on #567
Was it something related to this?
https://github.com/IdentityModel/oidc-client-js/issues/366

[2018-05-30 15:44] vejandla commented on #566
Try doing this in idp settings
[code]

[2018-05-30 17:46] larlew commented on #562
FYI:  All developers using the create-react-app ecosystem, are bound by the package versions supplied which is currently:  webpack 3.8.1.   babeljs is not included.
I believe there is a fork out there with webpack 4.0.

[2018-05-30 21:31] Dariuosh commented on #566
@vejandla  Do you have a solution for Angular Universal ?

[2018-05-31 02:41] onderonur commented on #562
Hello,
I am using redux-oidc for my ReactRedux SPA project. oidc-client is one of its dependencies.
It was working perfectly until today. Now I am facing this exact problem.
How can I resolve this "Failed to minify" error?

I don't use webpack. dotnet spa template comes with react-scripts for "build" and I didn't change that.
I will be very happy if you help me to overcome this problem.

Thank you

[2018-05-31 07:48] borisGong commented on #565
can you fix this issue?

[2018-05-31 09:23] lasfin opened #570 "docs: clearStaleState method doesn't actually clear local storage"
I'm trying to clear localstorage manually:

[code]
After that i see 'clearState success' at console, but localstorage is still fill with `oidc.${hash}` items.
Could you provide any suggestions for fixing it? Thanks for your library.

[2018-05-31 10:08] benedict1986 commented on #565
No, haven't fixed it. Currently I have to first click the login button, direct to login page and enter credentials. After redirecting back to my website, I have to click the login button again to get user information.

[2018-05-31 11:11] borisGong commented on #565
I just solved this problem  , the reason is that  the clientId is  the beginning of the lowercase in client side , but the clientid is the beginning of the uppercase server side.  Interestingly ,I also login , but signinRedirectCallback is do not work , the error is  "No matching state found in storage" ,  so I suggest you can  check your configuration carefully  and hope to help you

[2018-05-31 22:33] vejandla commented on #566
@Dariuosh Nope, never worked on that package.

[2018-05-31 22:53] vejandla commented on #570
There is a created property which tells when the local storage got created, https://github.com/IdentityModel/oidc-client-js/blob/dev/src/State.js#L63
you can see why it is not removing that, it only removes the storage keys that are fallen in the criteria of when it actually got created,

[2018-05-31 22:55] brockallen commented on #566
I have a sample for Angular I will post next week.

[2018-06-01 08:18] themidnightgospel commented on #248
@merijndejonge By implementing Resource Owner Password flow, how do you handle refreshing the `access_token`?

[2018-06-01 09:56] benedict1986 commented on #565
Thanks, borisGong. I get the same error when the website is redirected back from sign on page to my own page. Then if I click the login button again, the error will gone and I can get user correctly.

[2018-06-01 10:28] asadsahi commented on #560
@brockallen having the same issue when running with IE 11 error in console:

**Expected: ':'**

downgrading to 1.4.1 works in same project.

Unable to see the real reason of error since webpack is bundling it and it all one line.

[2018-06-01 10:31] ibrahimsen commented on #560
@brockallen  I agree with you, I think oidc-client library should inspect this problem in angular 6.

[2018-06-01 10:51] asadsahi commented on #560
Right I did some investigation and error seems to be somewhere Log.js perhaps:

![image](https://user-images.githubusercontent.com/3470892/40837252-d4a1e798-6591-11e8-83b5-e3e14128bd84.png)

![image](https://user-images.githubusercontent.com/3470892/40837270-e6f4a570-6591-11e8-8e29-2ed0cddbb2df.png)

I think webpack is evaling this module but when opening this module in the code, can't see any obv

[2018-06-03 09:46] donalfenwick commented on #561
@DanielSchaffer Ahh, that makes sense now about how webpack is resolving the dependency via the module property in the package.json.
I have noticed that after upgrading to version 1.5 of the oidc-client in an angular 6 project the tests fail to run when targeting PhantomJS.
They fail with the error `SyntaxError: Unexpected token 'const’` in _karma_webpack_/vendor.js  and after inspecting this file

[2018-06-03 14:44] brockallen commented on #561
So @DanielSchaffer, it was the addition of "module": "index.js", in project.json that is the culprit behind this. When I remove that from your repo, then it's working again. This simply means that importing this (for now) pulls in the transpiled version, and as is evident from this thread it was a breaking change. So for now I'm going to remove it to get people back up and running.

I'm happy to s

[2018-06-03 14:45] brockallen commented on #562
I'll close this one as it's a dup of #561 and there;'s more discussion over there.

[2018-06-03 14:45] #562 closed, assigned to nobody

[2018-06-03 14:45] brockallen commented on #567
What does it mean that you can't renew the access token? What's the error? What do the logs say?

[2018-06-03 14:47] brockallen commented on #569
I don't quite follow... but if you have resources that expect an access token then pass them. I don't see that this is a question about this library or bug report.

[2018-06-03 14:50] brockallen commented on #561
@PaulInglis and @larlew I pushed a "1.5.1-beta.1" with the change I mentioned above. Can you test it, please to see if you're back up and running?

[2018-06-03 14:54] brockallen commented on #570
`clearStaleState` only cleans entries older than the configured age. perhaps this is why you are still seeing some entries?

[2018-06-03 15:18] brockallen commented on #563
done

[2018-06-03 15:18] #563 closed, assigned to nobody

[2018-06-03 21:12] DanielSchaffer commented on #561
@brockallen can you change the `module` to `es2015` rather than removing it entirely? After seeing these problems come in, I'm still not entirely clear on what's expected to be in `module` as far as ES level and module format, so I'm not sure that even doing a 2.0 to signify a breaking change is the right way to go. Using `es2015` seems like it'll still make the things I was trying work with happy

[2018-06-03 21:51] PaulInglis commented on #561
@brockallen - compiles fine for me (didn't before).  Not done a thorough test yet (will do it tomorrow, when I have time), but I seemed to be able to hit the site with the cached token.

[2018-06-04 10:54] JoshAntBrown opened #573 "Implicit Grant vs Authorization Code?"
Hey!

I'm curious to get your thoughts on https://oauth.net/2/grant-types/implicit/ which states that:

Is there anything in this library that eases the concerns raised by this? Alternatively, something supporting the opposite stance for implicit flow?

Struggling a little bit here to find what is regarded as best practice and whether this library is still something we can use whilst it doesn't su

[2018-06-04 12:51] joaojosefilho commented on #567
I was able to solve the problem.

I added "RequireConsent = false" in identityServer4

[code]

renewal message:
signinSilent successful, signed in sub:  d860efca-22d9-47fd-8249-791ba61b07c9

[2018-06-04 12:56] joaojosefilho commented on #567
Other question,
do you know how to do route protection in vuejs using oidc-client?

[2018-06-04 13:54] jwheap opened #574 "How to Store and Access Multiple Tokens?"
Is there an easy way to store and access more than one id_token/access token?  Currently, I found a way of storing more than one token  with the library by adding another token_type as an additional parameter to the end of my authority URL (`authority:  myAuthorityURL + '?token_type=xxx'`).  This however doesn't make it very convenient to get at in my code.

For example (lame example), if I wanted

[2018-06-04 15:49] brockallen commented on #561
@DanielSchaffer wouldn't that also be a breaking change from what was in 1.4?

[2018-06-04 15:52] brockallen commented on #573
You can read this thread: https://www.ietf.org/mail-archive/web/oauth/current/msg18020.html

Unfortunately even the OAuth2 spec committee doesn't seem to have a clear answer on it.

The real danger is if you use code flow and obtain refresh tokens -- that's a low of power that needs proper control. Most token servers don't provide the level of control needed, IMO.

[2018-06-04 15:55] brockallen commented on #573
As a side note -- that website you linked is a community site (well, backed by a vendor - Okta) and not maintained by the OAuth2 working committee, AFAICT.

[2018-06-04 15:57] brockallen commented on #574
Those are two different authorities, right? So you'd have two different configs, and two different UserManager instances, right?

[2018-06-04 15:58] brockallen commented on #567
Different questions should be opened in different issues.

[2018-06-04 15:58] #567 closed, assigned to nobody

[2018-06-04 16:01] jwheap commented on #574
Yes, they are two different authorities.  I would assume using two different UserManager instances, just wanted to see if there was a way to add multiple authorities within the same UserManager instance.

Btw, really like the library.  It's super slick and one of the best ones I found out there for Oauth OpenID Connect.  Nice job

[2018-06-04 16:33] brockallen commented on #574
Yea, given that each authority is really separate, that's the approach I envisioned and thus didn't implement it as somehow built into the library itself. It would add a lot of complexity and that's the enemy of security.

Thanks. Feel free to suggest sponsoring us to your company/management :)

https://www.patreon.com/identityserver

[2018-06-04 16:37] jwheap commented on #574
Somewhat related, but is there a way to get the token from the main window/app and the second token from the iframe for use elsewhere in the app?

[2018-06-04 17:06] DanielSchaffer commented on #561
@brockallen I don't think so. The issue here is with how the various packaging tools resolve 3rd party libraries. I'm not familiar with how Rollup works, but for Webpack, it uses the `resolve.mainFields` property to determine which fields in the library's `package.json` file it uses to find the entry point for the library. By default `resolve.mainFields` is set to `[ 'module', 'main' ]`. If the `t

[2018-06-04 19:30] brockallen commented on #574
I don't follow.

[2018-06-04 20:40] kvysh opened #575 "Signout issue"
I have 2 application, one angularJS and another angular 2. If i logout from angularjs application it is not triggering addUserSignedOut() event in second application, instead it is trying silent renew. but it works the other way(from 2nd app to 1st app).

/*
 * from app 1
 */
service.mgr.signoutRedirect({ id_token_hint: idToken }).then(function () {
	$timeout(function () {
		console.log('testing t

[2018-06-05 09:58] cloudlena opened #576 "Usage with AWS Cognito"
I'm trying to use https://github.com/maxmantz/redux-oidc (and therefore this library 😉) with [AWS Cognito](https://aws.amazon.com/cognito). AWS currently doesn't support nonces which leads me to getting the following error:

[code]

Is there a way of disabling the check for a nonce? Or is there a better way of using this library with AWS Cognito? Here's my user manager config for reference:

[code

[2018-06-05 11:26] borisGong commented on #565
No Thanks ,  Hope all of us can learn to progress.

[2018-06-05 11:47] brockallen commented on #565
You will have to debug into it. State is generated prior to leaving your site, and that state needs to be found when coming back. Make sure it's the same site (same scheme, for example).

[2018-06-05 11:48] brockallen commented on #576
No. nonce is mandatory in the OIDC spec.

[2018-06-05 11:49] brockallen commented on #575
You will have to debug. It's hard for me to tell from here.

[2018-06-05 11:56] joaojosefilho opened #577 "Route protection in vuejs using oidc-client"
Hello,
I'm a new vuejs programmer. I wanted to protect the routes of the vuejs ​​according to the claims(ex: admin, user). Does anyone know how to do this protection with oidc-client?

[2018-06-05 12:01] brockallen commented on #577
No idea -- that's an application feature based on the the identity of the user produced by the UserManager.

[2018-06-05 12:30] joaojosefilho commented on #577
Ok, I'll try to do and if I get it,I put hear.
When I finish security in vuejs, I will make a project available in github.
There is not much vue js using oidc-client

[2018-06-05 19:29] merijndejonge commented on #248
@tchelidze I don't refresh the token. My users have to login again.

[2018-06-05 21:26] hawkeng commented on #561
Users of **create-react-app** **can't change the webpack** version *(not without ejecting)* and thus the proposed solution of changing webpack's config/version is not suitable.

Please provide es5 version for build

[2018-06-06 03:06] lyphtec commented on #561
@hawkeng Lastest version (1.5.1-beta.1) works fine with **create-react-app** and you don't need to touch webpack.  This is due to the removal of the `module` key in `package.json` - so it now uses the `main` key that points to `lib/oidc-client.min.js` which is already an ES5 version.

[2018-06-06 08:03] benedict1986 commented on #565
Hi @brockallen , Thank you for your suggestion. Could you please elaborate more about the State? Which state do you referring to? Is it the UserManager with config?

Also what do you mean by same site? The url of the website sends the login request is the same as that of the callback website.

Thanks a lot

[2018-06-06 11:00] #566 closed, assigned to nobody

[2018-06-06 12:56] brockallen commented on #561
1.5.1 pushed

[2018-06-06 12:56] #561 closed, assigned to nobody

[2018-06-06 12:58] brockallen opened #578 "Expose as es6 module"
related #561

[2018-06-06 13:00] brockallen commented on #570
Any update?

[2018-06-06 13:38] j-hurst opened #579 "CheckSession - Blocked a frame with origin idsrv from accessing a cross-origin frame"
I am using implicit flow, and when my angular application returns back to my callback and the callback attempts to complete the authentication, I am getting a failure when trying to create an iframe for the check session endpoint in identityserver.

My logs are showing:
`SessionMonitor._start: Initializing check session iframe`
`Uncaught DOMException: Blocked a frame with origin "<identityserver o

[2018-06-06 13:59] brockallen commented on #579
Is that in IE or some other browser?

[2018-06-06 14:11] #569 closed, assigned to nobody

[2018-06-06 14:22] j-hurst commented on #579
Chrome
Version 67.0.3396.62 (Official Build) (64-bit)

[2018-06-06 14:57] brockallen commented on #579
I think I will need a repro or more details.

[2018-06-06 17:03] j-hurst commented on #579
I created a repository for the angular app...

https://github.com/j-hurst/AngularOidcClientTest

[2018-06-06 21:55] brockallen commented on #579
Well, I glanced at the code and nothing stands out at me. Can you test the sample here: https://github.com/IdentityModel/oidc-client-js/tree/dev/sample? Or give me more debug info from the browser? You might have to debug more into yourself.

[2018-06-07 09:08] slug56 opened #580 "v1.5.0 Introduces breaking change in Internet Explorer 11"
When attempting to run an application that is using oidc-client 1.4.1, everything is fine, but upon updating this to 1.5.0, the application fails to initialise and gives the following error in the console of IE:
`SCRIPT1003: Expected ':'`
`File: vendor.bundle.js, Line: 2841, Column: 1`
And in `vendor.bundle.js:2841` (eval() on src/Log.js), I get `Expected ':'`.
Reverting to 1.4.1 removes the issue

[2018-06-07 10:22] GeekJosh commented on #580
I had this issue too, it seems to have been resolved in 1.5.1

[2018-06-07 13:58] brockallen commented on #580
@slug56 test with 1.5.1 for me and see if you still have it? Thanks.

[2018-06-07 15:07] slug56 commented on #580
Yes, you're right - it seems to be resolved in 1.5.1. I wish I tried that at the time, though I don't think it was quite released.

[2018-06-07 15:07] #580 closed, assigned to nobody

[2018-06-07 15:30] brockallen commented on #580
Just yesterday :)

[2018-06-07 16:33] GrantHoffman commented on #579
@j-hurst, the client opens a popup which navigates to the token server, after login, the token server redirects the popup to your redirect url.  The browsers reads the parameters from the redirected url.  However, if the redirect url changes from Http, to Https, that is cross origin because of the Port, and the browsers will Not be able to read that.

Please assure that your redirect url matches y

[2018-06-08 00:01] j-hurst commented on #579
@brockallen, I did a little more digging on this today.  I believe the issue was coming from having the Ripple emulator extension not disabled in my browser.  Even though I wasn't running anything through the emulator, once I disabled all of my extensions in Chrome and slowly added them back one by one, I started seeing the errors again when the Ripple emulator was added back in.

I am going to cl

[2018-06-08 00:01] #579 closed, assigned to nobody

[2018-06-08 01:09] benhysell commented on #560
I'm seeing the same exact issue in React and CRA...its pointing me to: Log.js line 5 from the IE debugger:
[code]

This is with version 1.5.0.

[2018-06-08 01:32] skvijay007 opened #582 "when IE Developer toolbar Network profile session is on silentCallback not working"
when IE Developer toolbar Network profile session is on silentCallback not working

[2018-06-08 07:42] asadsahi commented on #560
@brockallen We really need to resolve this as this is the only library which is holding us to work with IE. Is it worth looking at? It can easily be reproduced in IE by running the any application with any oidc api usage.

[2018-06-08 11:06] ngi32487 opened #583 "1.5.1: Failed to parse id_token"
I have an angular 6 project where I use the latest oidc-client (oidc-client@1.5.1, angular@6.0.4).
During dev-builds everything works as expected, but when I make a production build by `ng build --prod`, the method `UserManager.signinRedirectCallback()` (which gets called right after the authentication server redirected to the app's auth-callback) throws the error "Failed to parse id_token".

Has

[2018-06-08 12:24] brockallen commented on #583
Can you paste in your id_token for us?

[2018-06-08 12:37] brockallen commented on #560
If you update to 1.5.1 the log error is solved due to the correct entry point being fixed in the module.

But I was able to see another error in IE11 using angualr. But in a vanilla JS project oidc-client works in IE11. So since you folks are the angular experts, can you help debug into and determine why angular is causing a problem with oidc-client?

[2018-06-08 13:05] brockallen commented on #582
What does "not working" mean?

[2018-06-09 11:04] asadsahi commented on #560
Hi @brockallen thanks for responding and opening this issue. Apparently 1.5.1 has fix the error that I was having in angular cli project.

What problem are you having can you share some details, screenshot to have some guesses.

[2018-06-09 13:23] brockallen commented on #560
@asadsahi di you have any problems anymore with 1.5.1?

[2018-06-09 13:28] asadsahi commented on #560
I don't...Can I ask what was the fix in log.js which was breaking previously?

[2018-06-09 16:20] brockallen commented on #560
Nothing in the code. It had to do with oidc-client's package.json listing the ES6 module as the entry point rather than the compiled es5 version:

https://github.com/IdentityModel/oidc-client-js/commit/26e1fde61e414eb27797749b39bf9c22436879bf

[2018-06-10 13:44] ussamoo commented on #583
The same error here when updating from angular 5 to angular@6.0.4 ( i'm using oidc-client@1.5.1)

[2018-06-11 07:19] kvysh commented on #575
Sorry... I got the issue, looks like events are adding before login. Started working when moved the code after login.

[2018-06-11 07:19] #575 closed, assigned to nobody

[2018-06-11 09:00] ngi32487 commented on #583
Here's my decoded id_token: (using jwt.io)

HEADER:ALGORITHM & TOKEN TYPE
{
  "alg": "RS256",
  "kid": "--hidden--",
  "typ": "JWT"
}
PAYLOAD:DATA
{
  "nbf": 1528706698,
  "exp": 1528707418,
  "iss": "--hidden--",
  "aud": "--hidden--",
  "nonce": "7089560554cd46d59aab25d27f84245b",
  "iat": 1528706698,
  "at_hash": "sWzGONS0IBRsrzhn2kGtIw",
  "sid": "8ae3c2d37f1ef62cd437d32401f1a09b",
  "sub": "-

[2018-06-11 20:57] benhysell commented on #560
1.5.1 is also working for the React app I'm developing with CRA.  I no longer receive the error with IE 11.

[2018-06-11 22:24] brockallen commented on #560
Ok, I'll close this issue then, now that I have 2 people confirming that it's working. I suspect in my own sample I neglected to include babel-polyfill, which was probably my issue.

[2018-06-11 22:24] #560 closed, assigned to nobody

[2018-06-11 22:29] brockallen commented on #565
There's state that needs to be maintained across requests in the protocol, specifically the nonce. It's stored in localStorage so when the response returns it needs to load it to complete the protocol response.

Check the logs to see if they help give any indication where the error happens.

[2018-06-11 22:30] #573 closed, assigned to nobody

[2018-06-11 22:30] #574 closed, assigned to nobody

[2018-06-11 22:30] #576 closed, assigned to nobody

[2018-06-11 22:30] brockallen commented on #577
Any update?

[2018-06-11 22:30] #582 closed, assigned to nobody

[2018-06-11 22:34] brockallen commented on #583
Sorry, I also should have asked for the client-side logs. That might help where in the workflow it's failing to parse the id_token.

[2018-06-11 22:38] brockallen commented on #583
Also, if the only thing that changed was a version of angular then it makes me wonder if somehow the id_token is being truncated in some way during the response processing (perhaps while trying to read the value from the URL/hash fragment).

[2018-06-12 06:17] ioantoader commented on #583
Also I have the same problem with the version oidc-client 1.5.1 and angular 6. In one SPA where the URL is shorter is working also with 1.5.1 and in one with longer url and /de or /en on end is not working with 1.5.1 but is working with 1.5.0.

[2018-06-12 07:26] nikunj231991 commented on #583
I have same issue

[2018-06-12 09:34] ngi32487 commented on #583
My client-side error-logs:

{…}
header: null
payload: null
__proto__: Object { … }

Stack trace:
3Rfw/e.exports</t.ResponseValidator</e.prototype._validateIdToken@http://my.internal.url/main.f5e30e257df08d940baa.js:1:71847
3Rfw/e.exports</t.ResponseValidator</e.prototype._validateIdTokenAndAccessToken@http://my.internal.url/main.f5e30e257df08d940baa.js:1:71407
3Rfw/e.exports</t.ResponseValidator</

[2018-06-12 09:57] ngi32487 commented on #583
Oh, I missed a log message:

This message gets logged 3 times (after my app's auth-callback gets called and right before the id_token related error messages get logged).

[2018-06-12 12:28] ngi32487 commented on #583
Here's the complete log (changed Log.level to DEBUG):

GET http://my.internal.url/
...some additional http GET calls...
UserManager._loadUser: no user storageString
UserManager._loadUser: no user storageString
UserManager._loadUser: no user storageString
UserManager._signinStart: got navigator window handle
OidcClient.createSigninRequest
MetadataService.getMetadataProperty for: authorization_endpo

[2018-06-12 12:28] joaojosefilho commented on #577
No, I need to finish other features of my system. I'll try to protect the routes at the end of the month.

[2018-06-12 12:57] brockallen commented on #577
Ok, I'll close for now.

[2018-06-12 12:57] #577 closed, assigned to nobody

[2018-06-12 16:53] brockallen commented on #566
The Angular sample is up: https://github.com/IdentityModel/oidc-client-js/tree/dev/samples/Angular

[2018-06-12 19:58] DarkCow commented on #583
Have the same issue. However I am using react-js@16 webpack@4, I would guess that it is something related to the webpack uglify-js minification code is borking something.

edit: thought it might be https://github.com/IdentityModel/oidc-client-js/blob/141fa1b78d25d2e1621ed05f5363698e1c453b9f/src/Global.js#L34

minifying wrong. But looking through the bundle, it appears to minify to `function(){if(!

[2018-06-12 20:29] brockallen commented on #583
Are you all using the ~/lib version or the ~/dist version?

[2018-06-12 20:52] saviem opened #585 "Vue silentRenew localStorage not reactive. Where to store the access_token?"
I created a Single Page App in Vue. It uses the oidc-client-js script, the access_token stored in the localStorage. This works fine when I reload the page every time but because it is a SPA I don't reload and use the automaticSilentRenew. Also the automaticSilentRenew works great. It stores the new access_token in the LocalStorage.
Because the LocalStorage and LocalSession in Vue are not reactive

[2018-06-13 01:21] brockallen commented on #585
What does "not reactive" mean?

[2018-06-13 06:15] nikunj231991 commented on #583
ng serve --open --aot this works fine
but when ng serve --prod --open --aot used then create issue.

[2018-06-13 07:29] ussamoo commented on #583
~/lib version.

[2018-06-13 07:45] ngi32487 commented on #583
Angular uses the minified ~/lib version (I tested this to be 100% sure).

[2018-06-13 08:05] saviem commented on #585
When I update the acces_token via silentRenew (iframe) the localstorage is updated but not in the SPA. So the localstorage does not update. i don't know why.
Is there a solution for this?

[2018-06-13 12:29] brockallen commented on #585
I have no idea what that means. Sounds like a bug in your app that does not keep the app in sync with what's in storage.

[2018-06-13 12:30] brockallen commented on #583
So what does that do differently?

[2018-06-13 12:51] micahp0506 commented on #585
saviem, are you getting 'Cannot read property 'WebStorageStateStore' of undefined' on Oidc?

[2018-06-13 13:06] saviem commented on #585
Thanks guys.
@micahp0506 there is no undefined or 'can not read'. Maybe it is a Vue problem.
Do you have experience with a Vue SPA and the silent renew?

[2018-06-13 13:38] micahp0506 commented on #585
@saviem Sorry, I don't. I'm deugging a Angular issue. But, at the moment it appears unrelated to your issue.

[2018-06-13 16:23] micahp0506 opened #586 "Oidc is undefined in Angular 1.5.x"
I have an Angular 1.5.x application that is getting an undefined for Oidc on Oidc version 1.5.x. This only happens on published builds. No issues when ran locally. On Oidc version 1.4.x, no issues on local or published environments. Any ideas of what has changed that would result in this? Below are my application dependencies. Thanks in advance.

"dependencies": {
    "angular": "^1.5.6",
    "ang

[2018-06-13 17:00] naffiq commented on #583
Rolling back to v1.5.0 made the thing.
Had React 16 and Webpack 4

[2018-06-14 08:48] snothub opened #587 "signinSilent and userinfo"
We're noticing some odd behavior that might be a bug.

When `UserManager.signinSilent()` is called, with `loadUserInfo: true`, there is a request to userinfo as expected. However, that request looks different depending on whether the hosting app is on the same domain as IdP or not.

One difference that is expected is that if it is a cross-origin request, there will be an OPTION pre-flight before t

[2018-06-14 12:46] brockallen commented on #587
Yes, that sounds like a bug in the IdP. What IdP are you using?

No, that's just how browsers work (since it's just an ajax call).

[2018-06-14 12:49] snothub commented on #587
IdSrv3

[2018-06-14 12:53] brockallen commented on #587
I've never seen what you describe happen on userinfo for IdSvr3. Perhaps run the samples and see if they have the same issue?

[2018-06-14 13:02] snothub commented on #587
I'm reproducing it using one of the samples. If both sample and IdSrv3 are running on the same domain, the cookies will be attached. Then I change one of the user claims in the database (like user firstname/lastname) and run the same request using Fiddler. Using same bearer token, with cookies, I get old values, without cookies I get new ones.

[2018-06-14 13:06] snothub commented on #587
Using this one https://github.com/IdentityServer/IdentityServer3.Samples/blob/master/source/Clients/JavaScriptImplicitClient%20Manual/index.html where I added a button and method to call userinfo in addition to what's there.

[2018-06-14 13:11] snothub commented on #587
Here's the whole thing, should be fairly simple stuff.

[index.txt](https://github.com/IdentityModel/oidc-client-js/files/2102446/index.txt)

[2018-06-14 19:04] brockallen commented on #587
I worry that it's something more in your IdentityServer that's causing this issue.

[2018-06-14 19:25] raymondsze opened #588 "Support extraQueryParams for metadata endpoint"
I would like to use this client library for Microsoft Azure Active Directory B2C.
In Microsoft Azure Active Directory B2C, there is a policy needed to append as query for the metadata endpoint.
For example
`https://login.microsoftonline.com/<tenant_id>/.well-known/openid-configuration?p=<policy_name>`
instead of
`https://login.microsoftonline.com/<tenant_id>/.well-known/openid-configuration`

But

[2018-06-14 20:34] brockallen commented on #588
What would you imagine this as a feature to look like?

[2018-06-15 10:09] snothub commented on #587
You were right, there was a `OwinContext.Authentication.AuthenticateAsync("idsrv")` check in the `GetProfileDataAsync` before attempting to fetch fresh values. Which makes sense to avoid db round trip, only when values are updated, it should be possible to do `OwinContext.Authentication.Challenge("idsrv")` as you pointed out [here](https://github.com/IdentityServer/IdentityServer3/issues/3446). Th

[2018-06-15 12:19] brockallen commented on #587
IMO that's not the right way to go about it, but at least you have your answer.

[2018-06-15 12:28] snothub commented on #587
It was done to avoid db round trip, but since it amounted to nothing, will be removed. Thanks

[2018-06-15 12:50] #587 closed, assigned to nobody

[2018-06-15 14:52] SergioETrillo commented on #516
@makaster quite late now probably, you need to pass the audience as a Dictionnary<string,string> into the extra parameters. A little example [here](https://gist.github.com/SergioETrillo/d0de422185ca6950d5fd8627a6be99ae)

[2018-06-16 18:14] raymondsze commented on #588
maybe we could have an option allow user specify the metadata url directly?

[2018-06-17 12:33] brockallen commented on #588
you can: metadataUrl on the settings

[2018-06-18 01:12] RafaelJovel commented on #586
I have this same issue, but with a VueJS SPA. If I roll back to 1.4.1 it works fine. Have the exports been changed?

[2018-06-18 11:51] dpraimeyuu opened #589 "Preventing redirect when offline"
Hi,

My team is working on web application that utilizes PWA (Progressive Web Application) concepts & technologies (Service Workers, etc.). We're targeting complete offline and that implies the following workflow:
* user logs into the app
* user does his work (can be offline around 1 hour)
* (optionally) user synchronizes his work when internet comes back

Currently, during middle point, sometimes

[2018-06-18 12:10] brockallen commented on #586
Do you have a super simple repro for me to look at?

[2018-06-18 12:12] brockallen commented on #589
Normally your code is in charge of triggering the redirect by calling APIs like "signinRedirect". I'd expect it to detect the offline scenario and just not call these APIs.

[2018-06-18 12:55] benhysell commented on #211
@brockallen Any chance we could reconsider this issue and the pull request?

tldr - Azure keys changed last week, without knowing, and my application was dead until I manually updated the signing keys.

Is there a true harm in proactively choosing to skip id_token validation?

[2018-06-18 12:58] jonek commented on #586
I have a problem that sounds similar. It also only happens with Angular production builds.

When built with `ng build --prod --build-optimizer=false` my Angular app is not able to verify the id-token whereas in dev mode (i.e. `ng build`) the problem does not occur.

When I set the log level like this
[code]
I can not see the log statement [JoseUtil.js line 13](https://github.com/IdentityModel/oidc

[2018-06-18 13:01] jonek commented on #586
Interestingly in development mode the id-token can be parsed but the log statement from [JoseUtils line 13](https://github.com/IdentityModel/oidc-client-js/blob/release/src/JoseUtil.js#L13) does also not occur like in production mode.

[2018-06-18 14:17] brockallen commented on #211
Your app should dynamically populate those keys from your server.

[2018-06-18 14:25] benhysell commented on #211
@brockallen sorry to keep this going, and really appreciate the help.

1. Can't call Azure from the front end, via oidc-client.
2. Without knowing any better I was doing a hard copy and paste from the output of the URL into the .js file for configuring the oidc client signing keys.
3. When doing it by hand, the keys rolled over, and I found this tread.
4. Is the suggested fix - in my backend call

[2018-06-18 14:47] brockallen commented on #211
Yes.

[2018-06-18 16:42] gigadie commented on #583
I have the same problem, I didn't change anything in my code and I'm using Angular 6.0.4, I updated from oidc-client.js version 1.5.0 to 1.5.1 and the issue appeared, when reverting back to 1.5.0 everything started to work as expected.

[2018-06-18 18:37] chriseugenerodriguez opened #590 "support b2c?"
do you guys support b2c? I am trying to use this for microsoft b2c

[2018-06-18 18:38] brockallen commented on #586
Yes, there was a change to how exports were done in 1.5.x. It was unclear if it was a breaking change. I just pushed a branch called "revert_exports" that tries to change back how exports are done. Can you test that to see if it's back to normal?

[2018-06-18 18:39] brockallen commented on #590
We support OIDC and OAuth2.

[2018-06-18 18:46] dpraimeyuu commented on #589
Yes, I know that and we're already doing so. Just after user opens web app we're checking whether user is authenticated and so on.

My question is more about `oidc-client-js` doing redirect while being offline. To me it seems there's some kind of "timer" set based on expiration time. So when token expiration time passes, `oidc-client-js` redirects to authority to get new one. While being offline,

[2018-06-18 18:51] chriseugenerodriguez commented on #590
Would I be able to do this with you this library?

https://docs.microsoft.com/en-us/azure/active-directory-b2c/active-directory-b2c-tutorials-spa

I ask because I am just having issue with handshake, I get error coming back from redirect url no user found in storage from oidc-client.min.js

[2018-06-18 20:32] brockallen commented on #589
Are you using the automatic silent renew feature?

[2018-06-18 20:32] brockallen commented on #589
Ok, so it sounds like you are. I'd suggest disabling that if/when you need. There's an API IIRC to do that.

[2018-06-18 20:33] brockallen commented on #590
No idea. Sorry.

[2018-06-18 21:08] chriseugenerodriguez commented on #590
@brockallen The callback comes but breaks on oidc-client.min.js, this is the error I got.

**Response was error server_error**
t.warn @ oidc-client.min.js:3
t._processSigninParams @ oidc-client.min.js:4
t.validateSigninResponse @ oidc-client.min.js:4
(anonymous) @ oidc-client.min.js:3
Promise.then (async)
t.processSigninResponse @ oidc-client.min.js:3
e._signinEnd @ oidc-client.min.js:76
e.signinR

[2018-06-18 22:20] jonek commented on #583
I am affected by the same problem.
Here is an [example project](https://github.com/jonek/angular-oidc-client-keycloak-example) which lets you reproduce the problem.

Steps to reproduce:

1. update oidc-client in package.json to 1.5.1
1. `npm i`
1. start using `npm run start:prod` -> error when click on "Protected"
1. stop and start using `npm run start` -> click on "Protected" works as expected

[2018-06-18 22:47] jonek commented on #586
Using your branch 'revert_exports' as a drop-in replacement of the `oidc-client` folder in my `node_modules` and then running `npm run start:prod`, I get this error:
[code]

PS: Sorry for having posted this problem under this (wrong) issue. I missed that #583 already described the problem. I posted there about the example I use to reproduce the problem. Also tried your branch in that example.

[2018-06-19 06:41] dpraimeyuu commented on #589
Ok, I found this setting in my configuration and it's set to `true`. I don't see any other option than doing:
[code]

It should do the job, isn't it?

[2018-06-19 12:14] brockallen commented on #589
`start/stopSilentRenew`: https://github.com/IdentityModel/oidc-client-js/blob/dev/src/UserManager.js#L414-L418

[2018-06-19 16:14] benhysell commented on #211
@brockallen Worked like a charm, thank you for taking the time to break it down for me!

For anyone else who finds this thread:
1. Setup an api endpoint on your backend to call the azure keys endpoint, as of now: https://login.microsoftonline.com/common/discovery/keys

[code]

Using the new .net core 2.1 typed http clients:
[code]

2. Configure oidc-client / metadata /  jwks_uri to point back to y

[2018-06-20 18:00] JanneHarju commented on #332
Thank you brockallen for clearing azure AD access_token role. I managed to get renew working with OIDC client and azure AD. Here is settings what I used. Response type must be id_token token to get access_token and scope must contain something more tha only openid. Now I get access_token and id_token and renew starts to working.

authority: `https://login.microsoftonline.com/${tenant}`,
    access

[2018-06-20 18:03] JanneHarju commented on #504
I answered for this here https://github.com/IdentityModel/oidc-client-js/issues/332#issuecomment-398842110 so this is possible with correct configuration. You must get access_token from azure AD. @AnthonyGiretti @juanpmarin @brockallen

[2018-06-20 19:27] AnthonyGiretti commented on #504
Open ID connect with Azure AF doesn't provide Access token in implicit mode

Le mer. 20 juin 2018 à 14:03, JanneHarju <notifications@github.com> a
écrit :

[2018-06-20 23:40] prateeknair opened #592 "Firefox - Private Mode - No matching state found in storage"
Hi,

I keep running into the issue below when trying to sign in:

No matching state found in storage                  Log.js:78:12
error                                            Log.js:78:12
processSigninResponse/<          OidcClient.js:106:16
run                                              es6.promise.js:66
notify/<                                      es6.promise.js:79
flush

[2018-06-21 06:32] JanneHarju commented on #504
Is it different than oauth2 implicit flow? If not then you can enable it by setting "oauth2AllowImplicitFlow": true in azure AD app registration manifest.json file.

[2018-06-21 08:34] AnthonyGiretti commented on #504
Différent yes. No access_token provided

Le jeu. 21 juin 2018 à 02:32, JanneHarju <notifications@github.com> a
écrit :

[2018-06-21 09:34] JanneHarju commented on #504
Just curious. Why no to use oauth2 implicit flow when using oidc client with azure AD?

[2018-06-21 09:38] AnthonyGiretti commented on #504
Open ID connect provides identity in token unlike OAuth2

Le jeu. 21 juin 2018 à 05:34, JanneHarju <notifications@github.com> a
écrit :

[2018-06-21 11:41] Domthegrom commented on #565
Are you saying that the `state` shown here `http://localhost:3000/callback?state=ba70dff` in my `Callback` url is the state that is stored in LocalStorage? I am having a similar issue that when I get to my `Callback` url I have the `state` in my url but can't pull it off of there. I just get an error stating:  `No State in Response`

[2018-06-21 12:33] JanneHarju commented on #504
I get both. id_token and access_token in my current solution. And they seems to be quite similar. I use id_token to get user name and with my API I use access_token.

[2018-06-21 12:35] AnthonyGiretti commented on #504
And you are using open id connect with Azure AD in implicit flow? Are you
using a single page app like angular or à fully back end application ? It's
not the same

Le jeu. 21 juin 2018 à 08:33, JanneHarju <notifications@github.com> a
écrit :

[2018-06-21 12:42] JanneHarju commented on #504
Yes I'm using Angular as well. First I call signinRedirect -method and after I get redirect callback I call signinRedirectCallback -method. Is that implicit flow. At least I need to set that oauth2 implicit flow to true in azure.

[2018-06-21 12:45] AnthonyGiretti commented on #504
Then they updated open Id connect in Azure.
In february it was Impossible to collect Access_token Microsoft told it
itself. That's à good thing because it was not possible to refresh tokens
because that.

I'll try it.

Thanks!

Le jeu. 21 juin 2018 à 08:42, JanneHarju <notifications@github.com> a
écrit :

[2018-06-21 13:03] sanmscse commented on #196
Hi @brockallen

I've facing the same issue of silent-renew call multi times in the application
![image](https://user-images.githubusercontent.com/40461278/41719034-698958c4-757c-11e8-8f9e-0df81d56f873.png)

I'm using "oidc-client": "^1.5.0"

also getUser() not  loop in to the function  immediatley.
it
userManager.getUser().then(function (user) {
var token = user.access_token;
}
//It debugs here fi

[2018-06-21 13:04] sanmscse opened #593 "Silent-refresh html called many times"
Hi @brockallen , @kristofdegrave, @bhardwajgaurav007,

i've see the issue id is closed #196(Too many calls in case of silent renew on a slow machine). but it occurs for me.

I've facing the same issue of silent-renew call multi times in the application
![image](https://user-images.githubusercontent.com/40461278/41719034-698958c4-757c-11e8-8f9e-0df81d56f873.png)

I'm using "oidc-client": "^1.5.0"

[2018-06-21 13:19] brockallen commented on #593
Not sure what's happening. Can you debug into it some more and let me know what you find?

[2018-06-21 13:29] brockallen commented on #592
Possibly because that blocks localstorage across the request/response?

[2018-06-21 13:46] sanmscse commented on #593
Hi @brockallen, @kristofdegrave, @bhardwajgaurav007

the below code is i used for silent callback
new UserManager().signinSilentCallback()
      .then(result => {
      }
      )
      .catch((err) => {
        console.log(err);
      });

this silent-refresh.html called 7 times now including other calls (oidc-client.min.js, authorize?client_id, userinfo all 4 runs a sum of 61 calls) for refreshin

[2018-06-21 17:07] prateeknair commented on #592
yes... its because of the local storage, but there are instances where it works in the private mode

[2018-06-21 17:51] micahp0506 commented on #586
I did the same as @jonek and get:

angular.js:5044 Uncaught TypeError: OidcClient.WebStorageStateStore is not a constructor
    at new IasService (ias.service.js:24)
    at Object.instantiate (angular.js:5112)
    at Object.<anonymous> (angular.js:4946)
    at Object.invoke (angular.js:5097)
    at Object.enforcedReturnValue [as $get] (angular.js:4930)
    at Object.invoke (angular.js:5097)
    at

[2018-06-21 17:57] brockallen commented on #586
FYI all -- This is still an open issue that I'm trying to find time to work on.

[2018-06-22 05:48] sanmscse opened #594 "userManager.getUser() not wait for the called function"
Hi @brockallen
Reg (getUser returns null , even after the receiving access token #327)

 this.userManager.getUser().then(function (user) {
        debugger; --> it not hits here while executing, asyncronously moves to next function
        if (user != null) {
          _currPage.token = user.access_token;
        }
      });
    }

when i called this getUser() in other function for apicall it not

[2018-06-22 11:33] sanmscse commented on #593
Hi @brockallen, @kristofdegrave, @bhardwajgaurav007

any update on this

Warm regards,
Saravanan

[2018-06-22 13:08] ericmorand-emakina commented on #488
@brockallen, is this needed because OpenID specs enforce this? Our SSO provider send `application/jwk-set+json;charset=UTF-8`.

[2018-06-22 13:13] brockallen commented on #488
it was used to detect when the OP had an error and was showing html pages

[2018-06-22 13:16] ericmorand-emakina commented on #488
But then `application/jwk-set+json` responses throw exceptions. I'm wondering if our SSO provider is at fault there. Do you think I should open an issue here? application/jwk-set+json looks like a valid content type:

https://tools.ietf.org/html/rfc7517

[2018-06-22 14:13] brockallen commented on #488
which token server do you use?

[2018-06-22 14:33] ericmorand-emakina commented on #488
Connect2id

[2018-06-22 16:48] ljani commented on #583
Here's a workaround I'm using with `webpack@4` and `oidc-client@1.5.1` (ie. the `lib` version seems to be working correctly):

[code]

[2018-06-23 01:35] AnthonyGiretti commented on #504
Cannyou send me à screenshots of your console I'm interested to check
what's included into /authorize answer from Microsoft

Le jeu. 21 juin 2018 à 08:45, Anthony Giretti <anthony.giretti@gmail.com> a
écrit :

[2018-06-23 13:08] brockallen commented on #594
Not sure. It's a standard promise.

[2018-06-23 13:16] brockallen commented on #565
All set on this issue -- can we close?

[2018-06-23 13:16] brockallen commented on #585
All set on this issue -- can we close?

[2018-06-23 13:17] brockallen commented on #589
All set on this issue -- can we close?

[2018-06-23 13:17] brockallen commented on #590
All set on this issue -- can we close?

[2018-06-23 13:18] brockallen commented on #592
If localStorage doesn't work then I can't help you. IIRC, someone on the issue tracker created a cookie based version of the storage. Perhaps look at it.

[2018-06-23 13:19] brockallen commented on #593
As I said:

I didn't see any more info from you into why it's being called that way.

[2018-06-23 15:47] chriseugenerodriguez commented on #590
Just say you do not support B2C

[2018-06-23 15:47] #590 closed, assigned to nobody

[2018-06-23 16:01] brockallen commented on #590
Microsoft supports B2C, not me. I support this library (for free, mind you). If you find a protocol issue with this library, please open an issue and let me know.

I don't know if their token server works with this library. If B2C follows the protocol then it should work. But you can check the issue history and find others asking about it.

[2018-06-24 13:12] benedict1986 commented on #565
Thanks @brockallen , will try out the suggestion, though haven't fixed the issue.

[2018-06-24 19:07] #565 closed, assigned to nobody

[2018-06-25 04:25] sanmscse commented on #593
Hi,

I even dont know why it called many times
   "client_id": "sample client id",
    "response_type": "code id_token token",
    "scope": "openid profile LoginApi offline_access",
    "loadUserInfo": true,
    "automaticSilentRenew": true,
    "monitorSession": false,
    "authority": "http://localhost:5000"
    "redirect_uri": "http://localhost:56352/home",
    "silent_redirect_uri": "http://lo

[2018-06-25 04:35] sanmscse commented on #594
Hi,

  public getToken(): any {
    this.user = this.getlocalvalues(); -->**each time i run i get null only since call not wait and return results**
    var strtoken = this.user ? this.user.access_token : null;
    if (strtoken == null) {
      strtoken = this._localStorage.getItem('auth_token');
    }
    return strtoken;
  }

 getlocalvalues(): any {
    if (this._identityServerConfig != null) {

[2018-06-25 05:25] dpraimeyuu commented on #589
Yes, thanks for your patience and help Brock! 😄

[2018-06-25 05:25] #589 closed, assigned to nobody

[2018-06-25 05:30] JanneHarju commented on #504
So do you need console log from browser? What spesific log do you need? Or do you need only callback url what MS is using when calling back to my callback route? Do you need those parameters in url?

[2018-06-25 06:39] amarwadi opened #595 "Javascript Client - Implicit Flow for anonymous access without User Login"
Hello, we have a Javascript based Checkout where users can view listed products, add them to cart, add necessary information and checkout. Our backend API is protected using IdentityServer4.0.

We would like to use the API from the Javascript client so we can list products etc. without requiring users to login or even authorize access to the API. Ideally, every time the user hits the URL in a brow

[2018-06-25 07:38] saviem commented on #585
Yes, close it.
It is not solved yet. If I have a solution I'll send you a pm.

[2018-06-25 11:08] AnthonyGiretti commented on #504
Everything you Can show me. Please

Le lun. 25 juin 2018 à 01:30, JanneHarju <notifications@github.com> a
écrit :

[2018-06-25 13:16] icistrate commented on #449
I am having same issues after I upgraded IDS from 1.5 to latest 2.x .. I just have my own cookie

@PeterHageus did you find any solution?

@brockallen could you show small example how to do that? (you mean this: `opts.Cookie.SameSite = Microsoft.AspNetCore.Http.SameSiteMode.Lax` .. this is already the default value)

[2018-06-25 14:32] PeterHageus commented on #449
@icistrate nope, there is obviously something I don't quite understand about the auth configuration. Have tried numerous ways to set it up, no difference. Think it's more of an ASP.NET Core issue than IDsrv though.

[2018-06-25 14:45] #585 closed, assigned to nobody

[2018-06-25 14:46] brockallen commented on #595
Nothing I can help you with. It's very hard to authenticate software that's public.

[2018-06-25 15:14] icistrate commented on #449
@PeterHageus yes indeed..

I am actually trying this in development server and I already get something working, but would be nice to understand bit more what is behind:

              .AddCookie(STR_COOKIE_NAME_IDS, opts =>
              {
                        opts.ExpireTimeSpan = VAL_COOKIE_DEFAULT_EXPIRATION;
                        opts.LoginPath = new Microsoft.AspNetCore.Http.PathString(A

[2018-06-25 18:50] JanneHarju commented on #504
Here is my example configuration https://github.com/IdentityModel/oidc-client-js/issues/332#issuecomment-398842110
here is all related example configurations:
        accessTokenExpiringNotificationTime: 500,
        includeIdTokenInSilentRenew: true,
        silentRequestTimeout: 10000,
        extraQueryParams: {
          resource: '11111111-2222-3333-7777-bbbbbbbbbb' // backend/API application

[2018-06-25 19:04] AnthonyGiretti commented on #504
Thanks!

 I have everything I want to know.

I dont’ Have the same config.
I was not able to use OIDC properly with azure open Id connect (some
incompatibilities) I needed to use adal.js instead.

I understand now! Let me explain you.

Both of us are using SpA application.
Then the config is visible from users (because JavaScript). So implicit
mode allow developer to sign in without setting the cl

[2018-06-25 19:08] AnthonyGiretti commented on #504
Brock Allen updated oidc-client as well.

Very interesting!
It fixes some issues I had, 4 months ago I needed to use Adal.js instead

Le lun. 25 juin 2018 à 14:50, JanneHarju <notifications@github.com> a
écrit :

[2018-06-25 19:44] amarwadi commented on #595
I think using API Keys and HMAC as an option may sound better for this approach. Thoughts?

[2018-06-25 19:50] brockallen commented on #595
I don't see how an API key changes the fact that it's hard to authenticate the calling app.

[2018-06-25 19:55] brockallen commented on #583
@ljani but that means your pulling in the non-minified version. so this means there's something wonky with how minification is being done.

[2018-06-25 20:13] brockallen commented on #583
Hi all -- so I think isolated the issue for this and it has something to do with how I updated webpack (and so that makes me think I did it wrong). In any event, I pushed a branch that reverted the webpack change I made in 1.5.0. The branch is here:

https://github.com/IdentityModel/oidc-client-js/tree/revert_webpack_update

Mind testing by dropping it in and seeing if it's better for you? I teste

[2018-06-25 20:14] brockallen commented on #586
So an update that I raised on another thread:

https://github.com/IdentityModel/oidc-client-js/issues/583#issuecomment-400080254

I'd ask that anyone on this thread that can test to do so and let me know. Thanks!

[2018-06-25 21:10] van100j opened #596 "Using oidc-client-js and OIDC IdP with silent renew support"
We are using OneLogin's Implicit Flow, and utilizing `oidc-client-js` library for handling authentication on the front end. We love using the `oidc-client-js` library because it elegantly solves an important requirement, but have been facing issues on OneLogin's side with silently renewing the token — at this point we've realized it's impossible to use the `oidc-client-js`'s `automaticSilentRenew`

[2018-06-25 21:20] brockallen commented on #596
well, you answered your own question -- any ones that support the prompt=none param. I don't know an exhaustive list.

I can tell you that IdentityServer does.

[2018-06-25 21:29] van100j commented on #596
@brockallen Thanks! And you are right, the answer is in the question but I guess I wanted to hear specific ones (like IdentityServer 👍). We'd love to continue using the `oidc-client-js` library as we've already built a lot of our functionality around it, and in case we decide to switch our IdP would definitely love to continue using it, but also have the `automaticSilentRenew` functionality.

[2018-06-26 02:57] amarwadi commented on #595
You are right. In the past, we have relied on hosting Javascript Apps within ASP.NET runtime and it has been easy to use Client Credentials flow.

When we were not using Identity Server for OIDC/OAuth, and had our own OWIN/katana pipeline we had hacked/built a version of the implicit flow to bypass the user login, and instead simply post back an access token.

The scope of this client was extremel

[2018-06-26 05:55] JanneHarju commented on #504
@AnthonyGiretti Thank you for the info about client_secret. I tried to remove it from the configuration and everything is still working so I just assume that it must be there but maybe it was something else what I changed when it started to working. At least resource must be set. I set backend application id to resource. To set permission for frontend to backend you need to require permission for

[2018-06-26 09:24] AnthonyGiretti commented on #504
Thanks*
Enabling implicit mode make useless client_secret

Le mar. 26 juin 2018 à 01:55, JanneHarju <notifications@github.com> a
écrit :

[2018-06-26 09:44] kabaehr commented on #493
I just landed here because I wanted to consider this repo for use it in my cordova application.

I also read that the InAppBrowser is no longer recommended but what else to use? SafariViewController/ChromeCustomTabs? I am doing this, but ChromeCustomTabs does not support hidden windows, so I can't have token refreshment... so I am stuck to inAppBrowser at least for Android

[2018-06-26 11:49] JanneHarju commented on #504
I think key to get access_token from azure AD is these two settings
`response_type: 'id_token token'`
and
[code]

[2018-06-26 12:00] AnthonyGiretti commented on #504
Thanks. You right.
4 months 'id_token token' raised an exception, only 'id_token' was working.
So they updated Updated their procorol which was not 100% compliant with
Open I’d Connect.

Thank you so much!

Le mar. 26 juin 2018 à 07:49, JanneHarju <notifications@github.com> a
écrit :

[2018-06-26 12:26] micahp0506 commented on #586
@brockallen I tested with your branch. Still getting an error of undefined for Oidc. Below is the line of code that errors.

userStore: new OidcClient.WebStorageStateStore({ store: $window.localStorage })

Uncaught TypeError: Cannot read property 'WebStorageStateStore' of undefined
    at new IasService (ias.service.js:24)
    at Object.instantiate (angular.js:5112)
    at Object.<anonymous> (angu

[2018-06-26 12:36] #596 closed, assigned to nobody

[2018-06-26 12:36] #595 closed, assigned to nobody

[2018-06-26 12:37] brockallen commented on #493
For native apps you'd use hybrid flow (and PKCE), and thus you'd be able to use refresh tokens.

[2018-06-26 12:37] brockallen commented on #586
Can you share your code that repos this issue?

[2018-06-26 12:43] gagle commented on #583
Problem still exists. How should we use this lib with angular? I have the callback and silent renew html pages which import the "min" file and then in the app code I import the classes and use them. I think that the problem is not in the "min" file but in how this lib is compiled with angular 6.

[2018-06-26 13:01] brockallen commented on #583
I don't know angular6 and its build system, so I would need from you something that helps debug this.

[2018-06-26 13:12] gagle commented on #583
The thing is that with 1.5.0 is working fine. With 1.5.1 the renew interval is broken and something under the hood happens because all the calls to the services fail. With Chrome it says... "failed to fetch data", thats why the error "Failed to parse id_token" is thrown.

[2018-06-26 13:18] brockallen commented on #583
hmmm... ok... that helps, i think. i'll try to put out another branch with a possible fix. thanks for helping -- it's very hard to debug these things if you can't see what's happening :)

[2018-06-26 13:19] kabaehr commented on #493
Thanks for the answer. Our application is also running in the browser, therefore we are using the implicit flow. As far as I understand it, we can't use both flows (using Azure) without doubling our Azure B2C endpoint. Do you probably know a solution for this?

[2018-06-26 13:23] brockallen commented on #583
I pushed this branch:

https://github.com/IdentityModel/oidc-client-js/tree/revert_jsrsasign_pruning

So what's happening here is that 3 different things changed. I'm trying to revert each change, one by one, with these branches and have you test. This branch reverts the last couple of files I removed in 1.5.1 from the jsrsasign library which parses and validates the id_token. So your hint that it

[2018-06-26 13:26] brockallen commented on #493
Sorry, I can't help you with AB2C. But still, if your app is considered native (like cordova) then it should use hybrid and PKCE with the system browser (and not implicit with an embedded browser), as recommended by this: https://tools.ietf.org/html/rfc8252

[2018-06-26 13:29] brockallen commented on #586
Also, @micahp0506 -- can you look at the angualr sample I have here: https://github.com/IdentityModel/oidc-client-js/tree/dev/samples/Angular

Why does my sample work, but yours does not? Perhaps my sample is not doing the same as yours? If not, can you let me know what;'s different? I'd like to be able to reproduce your issue.

[2018-06-26 14:11] micahp0506 commented on #586
@brockallen I'll see if I can put together some code for you. May be a bit. First thing that I noticed with your code is the Angular version. My application is in Angular 1.6.7, where you example is in 6. Not sure if those version differences are causing issues.

[2018-06-26 17:05] brockallen commented on #586
Oh yea, I'm sure that's a huge difference. are you using a module loader or not? Are you loading the ~/lib or the ~/dist version?

[2018-06-26 17:20] micahp0506 commented on #586
Using Webpack. loading from lib.

[2018-06-27 06:05] janpieterz commented on #585
Hi @saviem , going through something similar with React. Would tapping into the events of the usermanager solve anything for you? https://github.com/davidamidon/oidc-client-js/wiki/Reference#events

[2018-06-27 06:33] micha149 opened #597 "UrlUtility should throw if no fragment is present"
I have an issue primarily caused by a bad implementation of the authorization server, but it looked like a problem in the oidc-client. A proper exception could help finding such issues a bit faster.

My authorization server passed the response values as query parameters not as uri fragment:
[code]

The UrlUtility extracts the following props:
[code]

The resulting error is `OidcClient.processSigni

[2018-06-27 07:53] sanmscse commented on #593
Hi @brockallen,

are you able to figure out any solution, i've tried older version "1.3.0" by replace "1.5.0" as well. but it not works.

 Warm regards,
Saravanan

[2018-06-27 07:56] sanmscse commented on #594
Hi @brockallen,

i've found a solution to get latest token by recall API in interceptor. It works fine. I paste the code here  so that it could help others.

    intercept(request: HttpRequest<any>, next: HttpHandler): Observable<HttpEvent<any>> {
      if (request.headers.get('No-Auth') == "True") {
        return next.handle(request.clone());
      }
      var _currPage = this;

      const toke

[2018-06-27 07:59] sanmscse commented on #594
Please close this issue if the above code is good to use and fix unauthorize issue when user is idle but multi token are refreshed in silent refresh

[2018-06-27 10:11] gagle commented on #583
Apparently the issue dissapears but now I get the same error that was in 1.5.0 (https://github.com/IdentityModel/oidc-client-js/issues/560) regarding "Cannot execute from a freed script".

With 1.4.1 I don't have any issue.

[2018-06-27 11:02] darge98 opened #598 "get metadata from metadataSettings"
Hi,

I have metadataUrl in my settings.
I want get the jwks_uri from metadataSettings, it's possible?

Thanks

[2018-06-27 12:52] brockallen commented on #598
There's an internal method you could call:

_getMetadataProperty("jwks_uri")

I'll add a formal method to get the JWKS URI.

[2018-06-27 12:53] #594 closed, assigned to nobody

[2018-06-27 12:54] brockallen commented on #597
Hmm, yea, odd. I'll look into it.

[2018-06-27 14:04] joaojosefilho opened #599 "Access specific route before logging in"
hi,
is it possible to access a route on the front end without logging into the system?
i wanted to access the user registration screen.
this screen is on the front-end (vuejs)

this tag is on the login page.
the login page is on the backend. i'm using implicit flow.

[code]

route i want to access:  "http://localhost:8080/index.html#/admin/user"

[2018-06-27 14:24] darge98 commented on #598
Thank you

[2018-06-28 10:55] darge98 opened #600 "Redirect If user is null"
Hi,

I have a question about my code. what I want to do is sign the user if he's not already in the storage.
I use signinRedirect and after the login, I redirect to the same page. So I create this method

Here my code -> https://stackblitz.com/edit/getuser

What i do in my code is:
 - Check if user is already stored
 - If not, I check if there is a callback from the login and I stored the user
 -

[2018-06-28 14:22] akiander commented on #583
I just tried using the branch above and it did not fix this issue for me.

[code]

It works fine when running locally, but it fails when I package it up for deployment.

I'll try to get a DEBUG log and dump it here.

[2018-06-28 15:00] DavidRouyer commented on #583
It's a minification issue. I'm using Webpack 4 to instead of Webpack 3 to bundle the lib (https://github.com/IdentityModel/oidc-client-js/pull/601) and when I set
[code]
I get a lib of 409 Ko in size and it works.

I have to play with the different Uglify flags to see which one is the culprit.

[2018-06-28 15:05] akiander commented on #583
Okay, understood. I am fully functional on version 1.4.1 using minification, so I guess I'll stay on that version until this is resolved. But the code in the [revert_jsrsasign_pruning](https://github.com/IdentityModel/oidc-client-js/tree/revert_jsrsasign_pruning) branch above does not seem to fix this issue.

[2018-06-28 15:12] DavidRouyer commented on #583
If someone can get [webpack-stream](https://github.com/shama/webpack-stream) out of my way, it doesn't output anything when I set a custom [minimizer](https://webpack.js.org/configuration/optimization/#optimization-minimizer) with Webpack 4 :confused:

[2018-06-28 16:18] brockallen commented on #583
@akiander do you have a super simple repo that I can use/test with?

[2018-06-28 16:20] brockallen commented on #598
I'll leave this open to track the enhancement.

[2018-06-28 18:44] samtheprogrammer opened #602 "Question How to handle default authentication timeout from the server"
Hi , I have a question. How to handle session max authentication timeout from the oidc server. Meaning no new token wills be provided by the oidc server since max authentication time have been reached. I am just wondering which event should i use to prompt the user to re-login. Should i use token expired event or user Logged out event or silentRenewError event since silentRenew should fail when ti

[2018-06-28 21:25] DavidRouyer commented on #583
Can someone try my PR https://github.com/IdentityModel/oidc-client-js/pull/601 please? I disabled mangling of function names, the bundle size is now 241Ko instead of 224Ko.

[2018-06-29 10:48] yaneyba opened #603 "Find Claim in Token"
I implemented the solution provided in this link.
 https://brockallen.com/2016/08/12/check-session-support-in-oidc-client-js/.
How would I check if a particular claim exists in the returned id_token?

[2018-06-29 12:36] brockallen commented on #603
Look in the user.profile collection for the property.

[2018-06-29 14:15] akiander commented on #583
@brockallen - I put several hours into trying to build a simple repo that will reproduce the issue but I failed. Whenever I try to generate a small project that experiences this issue, I typically find that I just can't reproduce the issue. It only happens against my production application which is fairly large and proprietary, so not really something I can put on github.

@DavidRouyer  - I tried

[2018-06-29 15:51] brockallen commented on #583
Okies, I'll have a look at it then. Thanks everyone for trying to help sort this out!

[2018-06-29 16:13] ljani commented on #583
Here's [a minimal repro](https://github.com/ljani/oidc-client-583).

EDIT: Sorry, I forgot the logs:

[code]

[2018-06-29 23:15] cosmoKenney commented on #583
Same problem here. **Not** an angular or react app.
Webpack 4.11.1/webpack-cli 3.0.3
Typescript 2.9.1
oidc-client 1.5.1

I've simply got oidc-client listed as a dependency in package.json.
And in typescript I require OidcClient like this:
[code]
Dev webpack build works just fine.
I am successfully logging in to the ID Server and getting redirected to the client login call back. But production webp

[2018-06-29 23:19] cosmoKenney commented on #583
I should also mention that logout seems broken too. Most likely due to the client not receiving a token.

[2018-06-30 01:19] cosmoKenney commented on #583
Are you guys using self signed ssl certs for you https://<authority host>/.well-known/openid-configuration
endpoint where you are deploying the minified build?

[2018-06-30 15:11] brockallen commented on #583
@cosmoKenney does @DavidRouyer's PR fix your problem?

[2018-06-30 15:51] #583 closed, assigned to nobody

[2018-06-30 15:54] brockallen commented on #600
Normally you call getUser() on the UserManager. If the `user` param to the callback is undefined, then you know you have no user session.

[2018-06-30 15:55] brockallen commented on #599
routing is a framework concept. oidc-client is a library. you'd have to sort that out in your framework (with the help of this library). i don't have any examples for you, sorry.

[2018-06-30 15:56] brockallen commented on #602
this is based on the cookie lifetime at your token server. once the user's session at the token server is ended, then on silent renew this library will get an error indicating that login is required.

[2018-06-30 16:14] brockallen commented on #586
@micahp0506 so no super simple sample for me to try to repro? the failed to parse id_token seems like an unrelated issue, and I think it's been fixed in 1.5.2-beta.1.

[2018-06-30 16:16] brockallen commented on #583
I put out a 1.5.2-beta.1 that contains this fix. Please have a look! Thanks everyone for helping me out on this. I'm a security person, not a cutting edge front-end JS person. :/

[2018-06-30 16:29] brockallen commented on #597
BTW, you know you can pass a `delimiter` as the 2nd param to get around your wonky token server?

[2018-06-30 16:37] brockallen commented on #597
Ok, I looked into this and unfortunately given how it's designed to be used internally and that a client can explicitly pass a value that's pre-processed (meaning they've already parsed the URL and possibly parsed out the delimiter), then I can't change the way this works without some behavior changes. I added this to 2.0 to look into again, though, when I can make those types of changes

[2018-06-30 17:29] micha149 commented on #597
@brockallen Yes, I noticed the `delimiter` parameter as I digged into the problem. But I'm using the UrlUtility not directly. I came to it through `UserManager.signinRedirectCallback` > `OidcClient. processSigninResponse` > `SigninResponse.constructor` > `UrlUtility.parseUrlFragment` and there is a hard coded delimiter: https://github.com/IdentityModel/oidc-client-js/blob/dev/src/SigninResponse.js

[2018-06-30 17:44] brockallen commented on #597
Yep, good ideas.

So to help your immediate situation then I'd suggest you parse the URL in your callback code and pass the value in as a param. That way the delimiter is moot.

[2018-06-30 19:33] micha149 commented on #597
We don't need to help in my current situation. I already fixed the wrong redirect URL from the authorization service and all works fine now. This was only a suggestion to help people with similar problems in the future.

No unnecessary haste!

[2018-06-30 19:36] #592 closed, assigned to nobody

[2018-06-30 20:50] cosmoKenney commented on #583
@brockallen Confirmed fixed. Thanks so much! This app is now in the hands of my QA department.

[2018-07-02 04:30] sanmscse commented on #593
As per their designs it works only if we create usermanager in one typescript file only it works.
so who ever looking solution to this issue; check the object create instance declared only once in your project.

[2018-07-02 04:30] #593 closed, assigned to nobody

[2018-07-02 07:23] darge98 commented on #600
@brockallen If I have no user, I want to redirect to login. But i need RedirectSignin and RedirectSigningCallback.
So if the Callback return an error with message 'No state in response', i redirect to login.
I want to know if it's possible to avoid this problem because I don't want to check the error

[2018-07-02 09:12] ngi32487 commented on #583
I can also confirm that 1.5.2-beta.1 fixes the issue.
Great work!

[2018-07-02 12:17] joaojosefilho commented on #599
I'm using identityserver4.
Does IdentitySever4 have any attributes that allow me to access this URI(http://localhost:8080/index.html#/admin/user) without logging in?
I could not find

[2018-07-02 12:29] brockallen commented on #586
BTW, the "Oidc" namespace is something that's surfaced from the ~/dist version (the one you'd use when you don't have a module loader). I don't think it was ever surfaced in the ~/lib version. So I'm curious what your client app looks like that's using 1.4.1.

[2018-07-02 12:29] brockallen commented on #599
I think we're both confused.

[2018-07-02 12:31] brockallen commented on #600
There are a few things:

1) You will need to call getUser to see if you have a valid user session. If not, you will have to code the call to signinRedirect.

2) This error: 'No state in response' means something's wrong. Normally it's due to an incorrect URL config or something else. You need to track down why this is happening. It shouldn't normally happen.

3) You need to code to handle errors s

[2018-07-02 13:01] micahp0506 commented on #586
This is in my app.js file.

import OidcClient from 'oidc-client/lib/oidc-client';

I haven't had a chance to work on an example.

[2018-07-02 13:24] brockallen commented on #586
Ah, ok... that's different. I wonder if that's related to this commit: https://github.com/IdentityModel/oidc-client-js/pull/508. If that's it, then I will revert it in a patch.

[2018-07-02 13:32] darge98 commented on #600
Yep,I need to handle errors, but I want to know if there's another alternative to that for this method. If not i continue use it :)

[2018-07-02 13:47] micahp0506 commented on #586
If you want to put it in a branch, I'll test it.

[2018-07-03 17:48] szahn commented on #586
Having a related problem with version "^1.5.1":

[code]

[2018-07-03 17:59] nathanlogan commented on #437
@alundiak, I'm wanting to take the same approach (hit the auth service, and then use that token directly in my code to hit the DirectLine chat service).  Did you ever figure out the right headers to use to make that happen?  If so, can you paste them here?

[2018-07-04 10:42] ngi32487 commented on #586
@szahn Try importing the UserManager class directly.

e.g.:
`import { UserManager } from 'oidc-client';`
`private manager: UserManager;`
`this.manager = new UserManager(this.getOptions());`

[2018-07-04 10:49] masoud-bahrami opened #604 "Response to preflight request doesn't pass access control check:"
I have an Identity Server v4 with an asp net core v2 >> localhost:5000
Also I have an Angular SPA with implicit flow >> localhost:4200

In Identity Server I added localhost:4200 as a CORS origin, which allow to any:

- AnyOrigin
- AnyHeader
- AnyMethod

but when in Angular I use this setting to connect to OIDC, I run into the CORS error.
`
   {
    authority: 'http://localhost:5000/',
    client_i

[2018-07-04 11:15] masoud-bahrami commented on #604
After login the call back url is :

http://localhost:4200/auth-callback#id_token=eyJhbGciOiJSUzI1NiIsImtpZCI6IjI1ZTg1NDZmMTBiMWY0ZGUwM2RhMDVmNTBiMTc5ODhkIiwidHlwIjoiSldUIn0.eyJuYmYiOjE1MzA3MDI1MTQsImV4cCI6MTUzMDcwMjgxNCwiaXNzIjoiaHR0cDovL2xvY2FsaG9zdDo1MDAwIiwiYXVkIjoic3BhIiwibm9uY2UiOiI2YzRlZWI5MWMzN2U0NDgzYTYwYWZlOGFmZmZkYjVlZSIsImlhdCI6MTUzMDcwMjUxNCwiYXRfaGFzaCI6ImdxSE5Vd0NmYjdEOG1MLW54U2NtNlE

[2018-07-04 11:32] MateuszBucko opened #605 "Implict flow"
Is it possible to use oidc-client with implict flow ? To be specific i'm using vue js with keycloak.

when i'm executing
[code]

user is always null, after login on keycloak's login page it's redirected to my fron'tend application with arguments session_state=... , id_token = ....  etc

[2018-07-04 12:30] #604 closed, assigned to nobody

[2018-07-04 13:12] joaojosefilho commented on #599
I use .netCore in backend and vuejs in frontend. For Security, I use IdentityServer4. I'm using the quickstarter of IdentityServer4(https://github.com/IdentityServer/IdentityServer4.Quickstart.UI). To have access to any URI of the VueJs project, first I need to login to the system. how i'm using the implicit flow. I invok the login screen of quickstarter

[code]
I want to acess this URI (http://lo

[2018-07-04 13:32] brockallen commented on #605
Yes, this library implements implicit flow. In fact, it's certified: https://openid.net/certification/#RPs

[2018-07-04 13:33] MateuszBucko commented on #605
so why in this case user in UserManager is null after redirect ?

[2018-07-04 13:34] brockallen commented on #599
This sounds like an authorization decision in your client. You'd have to determine is the user's allowed to that link. If they're anonymous, trigger authentication. If they're already logged in, show an error page.

[2018-07-04 13:35] brockallen commented on #605
signinRedirect redirects the main windows of the browser, so the promise callback won't send anything meaningful. You need to have a separate page process the response with signinRedirectCallback. You should look at the samples.

[2018-07-04 13:50] MateuszBucko commented on #605
good point, i tried it already but i got an error

[code]

topic https://github.com/IdentityServer/IdentityServer3/issues/3444 didn't help

[2018-07-04 13:53] joaojosefilho commented on #605
hi Mateus,
I use .netCore in backend and vuejs in frontend. For Security, I use IdentityServer4. I'm using implicit flow.

In vuejs. I created a folder inside of src call of service.
Inside service, I created a javascript file call of SecurityService.

[code]

My App.vue

[code]

javascript is asynchronous. Always use Promise in your methods

[2018-07-04 14:14] simjes commented on #604
Did you solve this? @masoud-bahrami

[2018-07-04 14:20] MateuszBucko commented on #605
Thanks for your reply and code, i tried fragment, but i'm still having redirect again and again, there is no user in mgr in my case

[2018-07-04 15:33] joaojosefilho commented on #605
which security framework do you use in the identity provider? is the identityServer4?

[2018-07-04 15:58] mike-stewart-dev opened #606 "Please can prompt be optionally changed from 'none'"
Use case setting:
Specifically for windows auth & only when the application is hosted within the company infrastructure, users don't actually need to log in to identity server. It auto-detects and chucks them a token.

Issue:
With prompt=none on userManager.signinSilent you can not sign in silently unless they have a token still valid. Normally, you'd want this but for my scenario I have ended up

[2018-07-04 16:54] brockallen commented on #606
I don't understand what changes you are proposing.

[2018-07-04 16:57] mike-stewart-dev commented on #606
Instead of prompt=none hardcoded in signinsilent allow it to be configured with none as the default.

[2018-07-04 19:10] brockallen commented on #606
But why? The silent request is in an iframe, so the user can't see what's going on. That's why the spec defines prompt=none to pass for those scenarios.

[2018-07-04 19:53] MateuszBucko commented on #605
it's openid-connect

[2018-07-04 20:10] MateuszBucko commented on #605
can you show me example of url after Your login ? i mean full url with token etc

[2018-07-04 21:52] jasonmc86 commented on #553
@brockallen thoughts?

[2018-07-05 03:09] joaojosefilho commented on #605
Token does not stay in URL.
In OpenIdConnect, you create a centralized login application.
For example, I created an authentication application with OpenIdConnect.
Every client I create (Vuejs or angula), will invoke this OpenIdConnect application, and log in through it.

The URL of my vueJs application is http: localhost:8080/
The URL of my OpenId Connect application is https: // localhost: 44369

[2018-07-05 06:24] MateuszBucko commented on #605
when i'm executing

`mgr.signinRedirect`

it's redirect me to keycloak login page, then i type login and password. After correct login it redirect me to url like this (localhost:8085 is my vue app)

`http://localhost:8085/#state=aac46e19355d451bbb79c3fe376625f3&session_state=62dd5035-e0b4-4fb2-8586-99d303c5f385&id_token=eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSldUIiwia2lkIiA6ICJON2xJNEVtUjJ5Mk1nX3R1NnQ2TH

[2018-07-05 08:15] mike-stewart-dev commented on #606
Yeah and normally that makes sense - but with windows auth there is no "login" for the user necessary. As soon as they hit the identity server it receives their credentials and logs them in. Therefore it is unnecessary to use a full redirect, and could just silently log them in - but on line 155 of UserManager the prompt="none" forces the iFrame to say "Error: login_required" if they have no cooki

[2018-07-05 10:19] Qoooooooooooo opened #607 "How to make AccessToken include sid"
What config is needed？

{ alg: "RS256", kid: "8262dd1541cfb8d9e6f02308a5c61953", typ: "JWT"}.{ nbf: 1530785697, exp: 1531785696, iss: "http://identity.xx.com", aud: [  "http://identity.xx.com/resources",  "mc" ], client_id: "mc", sub: "11", auth_time: 1530785697, idp: "local", scope: [  "openid",  "profile",  "mc" ], amr: [  "pwd" ]}

[2018-07-05 11:43] Dji75 opened #608 "token can't be parsed with Angular 6 + optimization"
If integrated into an angular 6 project and if the project is build with the optimization flag, the library can't parse the authentication token with the error `Failed to parse id_token`.

P.S : The problem is not present if i use the beta release (v1.5.2-beta.1).

Angular version: 6.0.3
OIDC client: 1.5.1 (also reproduced with 1.4.2)

[2018-07-05 12:06] joaojosefilho commented on #605
It's working

I work with the token at the head of the requicition. You use the URL.
I recommend that you do not use the token in the URL.

Can you print the value of "mgr" on the console?

console.log('mrg', mgr);

In my SecurityService.js file

[code]
Print of mgr:
https://drive.google.com/open?id=1p2trUJCbVHZWFcw7SzglGQAk4kCop0Vb

[2018-07-05 13:12] longsleep commented on #488
This change is wrong - oidc-client should accept `application/jwk-set+json` response types which is the right content type for JSON web keys. This makes oidc-client-js essentially non-functional for OIDC providers which properly set the content type for jwk endpoints.

[2018-07-05 13:18] longsleep opened #609 "jwks_uri endpoint request does not accept `application/jwk-set+json` response"
Commit 4666c40e28fdb82a2e29fd834404bdff4865d1c9 added a check that responses need to be of`application/json` content type. This is wrong when loading the keys from the jwks_uri endpoint if that endpoint correctly returns the JSON Web Key content type as defined in https://tools.ietf.org/html/rfc7517. I can understand why it was added (#488) but i think the response type check needs to be enhanced

[2018-07-05 13:27] micahp0506 commented on #586
I'm getting passed the Undefined issue with the syntax changes from commit 508,

import {OidcClient, WebStorageStateStore} from 'oidc-client/lib/oidc-client';

However, I continue to get:

Uncaught TypeError: WebStorageStateStore is not a constructor
    at new IasService (ias.service.js:24)
    at Object.instantiate (angular.js:5112)
    at Object.<anonymous> (angular.js:4946)
    at Object.invok

[2018-07-05 13:37] ngi32487 commented on #462
I also had this issue in Firefox when Ghostery was active. It somehow stripped the cookie-header from the request. Disabling Ghostery solved the issue there.

[2018-07-05 14:26] brockallen commented on #608
dup: #583

[2018-07-05 14:26] #608 closed, assigned to nobody

[2018-07-05 14:26] brockallen commented on #607
This would be something you'd have to add from the token server.

[2018-07-05 14:27] brockallen commented on #606
This is something you'd have to solve in your token server.

[2018-07-05 14:30] brockallen commented on #609
To allow for other content types, I added this: https://github.com/IdentityModel/oidc-client-js/commit/e2edde991efe12c19178aaeb523590dd9906a5bf

and I pushed 1.5.2-beta.2 for you to test, please.

[2018-07-05 14:33] longsleep commented on #609
Thanks for the fast fix - works with 1.5.2-beta.2 :+1:

[2018-07-05 14:34] brockallen commented on #586
@micahp0506 I just pushed this branch to see if reverting back to default exports (as it was done in 1.4.x) helps you: https://github.com/IdentityModel/oidc-client-js/tree/revert_exports

please test it and let me know. i honestly don't understand the subtle difference that makes, but hopefully that's what changed from 1.4 to 1.5 and is causing your issue (since it's an easy thing to revert to fix

[2018-07-05 14:36] brockallen commented on #609
thanks!

[2018-07-05 14:36] #609 closed, assigned to nobody

[2018-07-05 14:56] micahp0506 commented on #586
@brockallen That worked.

[2018-07-05 15:01] brockallen commented on #586
Ok, I'll include it in the upcoming patch. Thanks.

[2018-07-05 15:02] brockallen opened #611 "Revert to default module export"
Was a breaking change for some: #586

[2018-07-05 15:06] brockallen commented on #611
done: https://github.com/IdentityModel/oidc-client-js/commit/887f75304492db08338b7adb867f22310a8d8674

[2018-07-05 15:06] #611 closed, assigned to nobody

[2018-07-05 15:06] brockallen commented on #586
Ok, tracked here: #611

[2018-07-05 15:06] #586 closed, assigned to nobody

[2018-07-09 00:41] #607 closed, assigned to nobody

[2018-07-09 00:41] brockallen commented on #599
All set on this issue -- can we close?

[2018-07-09 00:41] #599 closed, assigned to nobody

[2018-07-09 00:41] brockallen commented on #600
No, I don't have anything else to suggest.

[2018-07-09 00:41] #600 closed, assigned to nobody

[2018-07-09 00:42] #602 closed, assigned to nobody

[2018-07-09 00:42] #603 closed, assigned to nobody

[2018-07-09 00:42] brockallen commented on #605
All set on this issue -- can we close?

[2018-07-09 00:42] #606 closed, assigned to nobody

[2018-07-09 06:13] MateuszBucko commented on #605
@brockallen  not yet, i'll paste later "mgr" log and others

[2018-07-09 15:29] mike-stewart-dev commented on #606
Sorry but I don't think I'm getting this across right. Hopefully this will. If I use the current oidc-client, and call signinSilent:

1. it creates a sign in request with prompt="none"
2. the request is sent to the identity server authorize end point
3. In Identity Server it hits AuthorizeEndpoint.cs ProcessAsync()
4. This calls ProcessAuthorizeRequestAsync()
5. This calls _validator.ValidateAsync

[2018-07-09 15:57] brockallen commented on #606
Not true. IdentityServer is *designed* for extensibility. You'd need to implement the appropriate interface and put it in the DI system to override the behavior. So in that scenario if you know it's a windows auth scenario then your custom interaction generator would do what it needs to get windows auth done. That could be with a redirect to the login page and trigger windows auth, or it could be

[2018-07-10 06:50] MateuszBucko commented on #605
Sorry for my late response,

my code looks like:

[code]

and keycloak configuration (client):

https://imgur.com/a/DDSBvCm

and usermanager log:

https://imgur.com/a/1HSFE1w

localhost:8085 - my vue app
localhost:8080 - my keycloak server

not when i'm going to site, app redirects me to to login page. After this every time i go into site (because of mounted "getUser()" it redirects me to

`http:/

[2018-07-10 23:54] brockallen commented on #605
Their id_token is missing a sid claim. Not sure if internally we require that. Is there an error in the logs?

[2018-07-11 08:57] MateuszBucko commented on #605
@brockallen in keycloak logs there is no error, for keycloak it's correct answer, and access_token works with header Authorization : 'Bearer' + token

[2018-07-11 11:21] MateuszBucko commented on #605
claims_supported":["sub","iss","auth_time","name","given_name","family_name","preferred_username","email"],
"claim_types_supported":["normal"],
"claims_parameter_supported":false,

[2018-07-11 12:44] brockallen commented on #605
No, I meant logs in oidc-client.

[2018-07-11 13:35] creambyemute commented on #306
@sattaman Have you actually finished implementing it on react-native or did you switch to something else?

[2018-07-11 14:22] cdwaddell opened #612 "OIDC silent renew only asking for id_token"
We just updated our identityserver4 application to the latest dotnet core 2.0 version. After updating we started getting hammered with requests from oidc-client-js silent renew asking for only an id_token (10 million per day):

Fortunately our application handled the load after some scaling.

The identity server is only responding with the id_token as requested. So the client immediately fires off

[2018-07-11 17:37] sattaman commented on #306
I abandoned in favour of
react-native-app-auth

On Wed, 11 Jul 2018, 14:35 Thomas Steinbrüchel, <notifications@github.com>
wrote:

[2018-07-11 17:41] creambyemute commented on #306
@sattaman Alright, thinking about rolling my "own" (wrapper) for oAuth as I need to support uwp as well.

thx for the feedback!

[2018-07-11 18:16] samtheprogrammer commented on #602
Thanks.

[2018-07-12 18:31] cosmoKenney commented on #156
I'm facing this issue right now.
I set up my SPA to log in via an `IFrame`. In other words I pass the `IFrame` name, using the `popupWindowTarget` field, to the `signinPopup` call. This works well in Chrome and Firefox and makes it look like the login is a component of my SPA.

However in Edge I've had to implement `signinPopup` using `popupWindowTarget: '_blank'`. That works.

But in IE11, when u

[2018-07-12 21:10] cdwaddell commented on #612
I was able to trace down the origin of the calls within the oidc client. It appears that when I log out of our IdentityServer, the oidc client immediately makes a call to the silent refresh endpoint to ask for a refreshed id_token. This all appears to be related to the check session logic.

[2018-07-12 21:15] cdwaddell commented on #612
The question still remains, what could cause the oidc client to start spamming our IdentityServer with silent identity token requests. An increase in frequency by 2 orders of magnitude when compared to frequencies before we updated to dotnet core 2.0.

Count of id_token only refresh requests by day.
![image](https://user-images.githubusercontent.com/3679097/42659685-05eded4e-85f7-11e8-9779-e5d5793

[2018-07-12 22:19] brockallen commented on #612
Silent renew frequency is controlled by access token lifetime.

[2018-07-12 23:17] cdwaddell commented on #612
In this case normal silent renew requests (response_type=id_token token) are coming in at expected frequencies and those frequencies did not change.

![image](https://user-images.githubusercontent.com/3679097/42664304-06e70300-8608-11e8-9886-18b0ae5150f6.png)

The only requests to come in at abnormal frequencies are these "response_type=id_token" requests that appear to be coming from the check se

[2018-07-12 23:37] cdwaddell commented on #612
Users affected by this problem are submitting around 20-50 identity only (response_type=id_token) silent token requests per minute from the oidc client. We are unable to recreate the conditions necessary to manually cause these errors. Was there a historical version that had a bug that would exhibit these behaviors?

Maybe similar to this issue:
[Issue #593 ](https://github.com/IdentityModel/oidc-

[2018-07-13 00:33] cdwaddell commented on #612
In this case normal “id_token token” refresh re

[2018-07-13 12:53] brockallen commented on #612
The issue in the other thread is that the OP was creating many instances of the `UserManager`, and each one was doing its own silent renew. That's where that traffic came from.

In your situation, the client-side code did not change, right? You said you only updated IdentityServer?

[2018-07-13 12:53] cdwaddell commented on #612
Ok, I think we are experiencing this issue:
[Issue #196 ](https://github.com/IdentityModel/oidc-client-js/issues/196)

We had a caching problem in the past, and we may have some users holding onto a version of the oidc client that is susceptible. When we updated IdentityServer4 our token endpoint appears to be slightly slower than it was before, causing this issue to blow up. I have removed the si

[2018-07-13 12:54] cdwaddell commented on #612
That is correct, we have a singleton UserManager.

[2018-07-13 12:56] brockallen commented on #612
I wish I had never added the automatic silent renew into this library. After having worked on many other projects, I concluded that it's best to handle the access token expiring event yourself in your app and manage silent renews manually -- of course using the silent renew API on the user manager, but not its automatic one.

[2018-07-13 20:41] cosmoKenney opened #613 "oidc-client.js Signout (Yes another signout issue) -- Edge browser only."
I'm using:
IDS4 2.2.0
QuickStart UI with custom user store.
dotnet core 2.1
oidc-client.js 1.5.2-beta.1in a SPA
Implicit Flow
No external login.
No consent required.

In Chrome everything seems to work as expected. For the most part. More on that later.

In Edge (and maybe IE), when the user clicks the signout button, the SPA calls and awaits `UserManager.signoutPopup(  )`.

I watch the logout pop

[2018-07-13 20:59] hubaozhang2017 opened #614 "This page isn't working error (log out)."
I am using oidc-client library for my angular web site to work with IdentityServer4 for authentication and authorization using implict flow.  In the IdentityServer4 logout code, I redirect to my angular web page after logout.

public async Task<IActionResult> Logout(LogoutInputModel model)
 {
            // build a model so the logged out page knows what to display
            var vm = await _acco

[2018-07-13 22:45] ghost opened #615 "Question: Post Logout Redirect"
Hello,

Very cool oidc-client library. I have implicit flow working but I had a question about the post logout redirect. In the client I am calling

public logout(): Promise<void> {
    return this._userManager.signoutRedirect();
  }

Like in your Angular sample, but when it gets in the AccountController on IdentityServer 4 the loginId seems to be null so when it goes to pull the post logout redir

[2018-07-13 22:57] cosmoKenney commented on #613
FYI, I just downloaded the samples from here: https://github.com/IdentityServer/IdentityServer4.Samples
and am trying run them against my IDS4 implementation. Works fine with the out of the box samples. But if I switch the sample over to use popup for both signin and signout, then Edge can login fine. But when I attempt to logout I can watch the popup go to the OP, but then it stays open and I see

[2018-07-13 23:15] cosmoKenney commented on #613
This is the Logout in my IDS4 -- direct from the quickstart:
[code]

[2018-07-14 00:45] cosmoKenney commented on #613
Reading this: http://docs.identityserver.io/en/release/topics/signout.html
Implies that if you call this:
`await HttpContext.SignOutAsync( IdentityServerConstants.DefaultCookieAuthenticationScheme );`
Then your client should be signed-out. But that is clearly not working.

[2018-07-14 01:15] cosmoKenney commented on #613
I've just tested with chrome, firefox, IE11 and Edge. Edge is the only one that will not logout. Or, I should say that after logging out, going to login again immediately logs you in without prompting for creds. For all intents it may well be logging out, but might be trying to use old cookies again when hitting the login page after logout.

[2018-07-14 03:00] brockallen commented on #614
You should open this in the IdentityServer issue tracker if you think it's an issue there. In any event, providing more concrete repro info will be helpful.

[2018-07-14 03:01] brockallen commented on #615
Check your logs in the token server for any missing or invalid params.

[2018-07-15 09:14] mostafahedawa commented on #593
![image](https://user-images.githubusercontent.com/39267111/42732334-d1e3550e-881f-11e8-937e-9051ea3050c7.png)
 i have the same issue  and here is my config
[code]

[2018-07-16 04:21] sanmscse commented on #612
Hi @cdwaddell

The issue occurs due to multi object creation,
make sure in your project, you created this only once
this.userManager = new UserManager(getClientSettings());

and avoid calling the component class unnecessarily.

[2018-07-16 16:24] hubaozhang2017 commented on #614
I am not sure where is the issue (IdentityServer4 or oidc-client). Here is my user manager settings.

      authority: `${environment.identityServer4Url}`,
       client_id: '***************',
       redirect_uri: 'http://localhost:4200/auth.html',
       post_logout_redirect_uri: 'http://localhost:4200',
       response_type: 'id_token token',
       scope: 'read write openid profile',
       sil

[2018-07-16 16:32] ghost commented on #615
Turns out we were missing a js file in ID Server that does a redirect to the controller with the logout ID. Thanks for the help!

[2018-07-16 16:34] #615 closed, assigned to nobody

[2018-07-17 17:07] acvila-de-munte commented on #612
@brockallen , hi !
Have the same issue as @cdwaddell .
Use `angular 6`, the latest version of `asp.net core (2.1)` and the latest version of `identity server 4`.
As example I've used this article https://www.scottbrady91.com/Angular/SPA-Authentiction-using-OpenID-Connect-Angular-CLI-and-oidc-client .
I wrap `user manager` in service (which is singleton). So in my client side app I have only one in

[2018-07-17 18:47] brockallen commented on #612
Ok, I'll see if I can repro this.

[2018-07-18 10:25] heeropunjabi opened #616 "How to handle sid claim issue"
Hi Team,
As per the oidc code,
How to handle this code as part of UserManager.js

if (signinResponse.session_state && signinResponse.profile.sub && signinResponse.profile.sid) {

i m not getting sid from oauth provider.

Regards,
Heero.

[2018-07-18 11:05] acvila-de-munte commented on #612
thanks !
@brockallen I've tried dummy project with the latest `oidc client js` + `angular 6 app` and `asp.net core (2.1)`.
All clients, users, etc. were added in memory and there is no this issue.
But in my project everything is in data base and I have implementation of `IProfileService`.
In implementation of `IProfileService` I get some info about user from data base (first name, last name).
At b

[2018-07-18 12:35] brockallen commented on #616
OAuth doesn't issue a sid, since OAuth is not a protocol for authentication.

[2018-07-18 12:38] mvrhov opened #617 "Not working in firefox."
The version in master is not working in Latest version of Firefox. (It doesn't matter which mode do you use Private or normal)

I'm looking at the `user-manager-sample.html` example.
The way i'm testing this is:
* start signin main window
* end signin main window
* signin with iframe

In Firefox after clicking on sign in with iframe I'm either getting "No state in response" or "Error: No matching

[2018-07-18 16:28] brockallen commented on #617
I am also getting `Error: login_required` from the iframe in FF. I'll look into it.

[2018-07-19 16:03] bassmanitram opened #618 "Not expecting id_token in response"
I freely admit my newbie status to OIDC, but section "[3.2.2.5.  Successful Authentication Response](http://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthResponse)" of the spec seems to clearly say that for an openid scoped request using the implicit flow, the id_token is required in response.

However, when using  this client library with scopes including openid, and response_type "to

[2018-07-19 17:18] brockallen commented on #618
response_type of "id_token token" is how you request both. response_type of just "token" is only requesting an access token.

[2018-07-20 04:52] bassmanitram commented on #618
Thank you for your response. As I said I'm a bit of a newbie in this area. I've since found section http://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthRequest Which does, indeed seem to say that the only valid response_types for an OIDC-scoped request are "id_token" (which returns no access token) or "id_token token" (which returns both) - it being pointless to use just "token" and O

[2018-07-20 05:19] bassmanitram commented on #618
I do have a follow-up question. Given the basic premise from section 1

and that section 3.2.2.1 says

should it therefore be an error to use the two together?

[2018-07-20 05:39] bassmanitram commented on #618
[(I've posted this question to stack overflow)](https://stackoverflow.com/questions/51435691)

[2018-07-20 09:56] robbaman opened #619 "Failed to parse id_token"
After publishing a site using this library (version 1.5.1) and logging in using an IdentityServer3 instance, we get a javascript error _Failed to parse id_token_

There is an `id_token` in the url and it seems to get passed to the `_validateIdToken` properly, but for some reason the library thinks it cannot be parsed.

I'm quite baffled by this and have no idea in what direction to start looking t

[2018-07-20 10:10] robbaman commented on #619
Apologies, just noticed this thread: https://github.com/IdentityModel/oidc-client-js/issues/583

I'll try updating to 1.5.2 first

[2018-07-20 10:14] spoldman opened #620 "Multiple iFrames when using react-hot-reloader"
When using react-hot-loader I get multiple iframes in my DOM communicating with the identity server. On every hot reload I get a new iFrame added to the dom. I don't think this is a big issue but still wanted to point this out.

I'm using react 15.6, webpack 3.12, react-hot-loader: 3.0.0 and react-hot-loader: 4.3.3

[2018-07-20 10:47] robbaman commented on #619
Turns out 1.5.2 fixes this issue. Sorry for any inconvenience

[2018-07-20 10:47] #619 closed, assigned to nobody

[2018-07-20 17:06] cosmoKenney commented on #613
Is there any chance that someone could look into this? I currently have two login/logout UX for my application. One for Chrome/Firefox and one for Edge and IE which is forced to use popups. With Edge having a clear problem with logout.

I really don't think this is a problem with my implementation since everything works on the other three browsers. There is something in the oidc-client that Edge d

[2018-07-20 17:40] brockallen commented on #613
What have you done to debug into the oidc-client library? Have you found anything that looks odd under Edge?

I will try to repo when I can.

[2018-07-20 18:30] cosmoKenney commented on #613
I have debugged it some. But as you know the Edge debugger is wonky at best. For instance most of the time when I open the debugger I cannot even see my sources, so I cannot set breakpoints. Sorry about that, didn't me to close the issue.

[2018-07-21 01:44] joaojosefilho opened #621 "Project VueJs with Oidc-Client"
Hi @brockallen,
I have implemented a vueJs project using an oidc-client 1.5.2 library. There is not much documentation available from vueJs using your library, so I decided to create this example to help the community.

The project is simple but will help a lot

I also created an identity provider using IdentityServer4.

Both projects are integrated and working

IdentityServer4AndApi:
https://gith

[2018-07-21 05:41] Sonik20 commented on #575
Hi @kvysh I am facing same issue. I have two applications of angular 5 , one is loaded in other as iframe, sign in works, sign out event also works when i log out of second application i.e iframe, but when i logout of first application i.e parent, addUserSignout doesn't works.

[2018-07-21 12:41] brockallen commented on #621
Cool, thanks! You should be able to add these links to the wiki here as samples.

[2018-07-21 13:02] brockallen commented on #621
I went ahead and added it. Thanks!

[2018-07-21 13:02] #621 closed, assigned to nobody

[2018-07-21 13:04] brockallen commented on #620
I honestly don't know, mainly because I don't know how that specific reloader works. The thing it sounds like is that each instance of the UserManager manages one or two iframes (depending on the features you use), so each reload might be leaking an instance of the UserManager? which endpoints do the iframes hit?

[2018-07-21 13:06] brockallen commented on #553
I just worked on a customer that had somewhat of a similar sounding issue. They were building code on salesforce that needed oidc-client to do OIDC, but salesforce makes it hard to build a static web page that can handle the silent renew (mainly the need to have access to the hash fragment values). Does this sound like your situation?

[2018-07-21 13:07] brockallen commented on #605
Any update?

[2018-07-21 13:08] brockallen opened #622 "Normalize various expiration/time settings to use seconds (not ms)"

[2018-07-21 13:08] brockallen commented on #614
It's hard to tell. Any update on your end?

[2018-07-21 13:09] #616 closed, assigned to nobody

[2018-07-21 13:09] brockallen commented on #618
no -- check the OIDC spec: https://openid.net/specs/openid-connect-core-1_0.html#Authentication

[2018-07-21 13:35] brockallen opened #623 "signoutPopupCallback optional params not working"
When only keepOpen is passed, the value is not honored.

[2018-07-21 13:44] #623 closed, assigned to nobody

[2018-07-21 14:05] brockallen commented on #613
I tested on edge and I see the popup failing for both login and logout. The logic in the popup window wrapper in oidc-client is detecting that the window has been closed (when it has not), and thus stops its processing. Seems like a known issue: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/15030423/

[2018-07-21 14:08] brockallen commented on #613
Also, when the popup navigates back to the app's callback page, this happens:

`PopupWindow.notifyOpener: no window.opener. Can't complete notification.`

So something in edge severs the tie between the opener and the popup window when it navigates away.

What a difficult browser.

[2018-07-21 14:13] brockallen commented on #613
Marking this issue as a bug for now, but it's currently due to some change in how edge works.

So there's not much I can do at this point without a rewrite of how the popup window communicates back to the parent. Feel free to dig in and help with a design.

[2018-07-21 14:25] brockallen commented on #617
Ok, this was a red herring -- I had my privacy settings so cranked up that FF was blocking the cookie sent in the iframe.

Once I relaxed that setting, then it was all properly. So in short, I can't repo your issue.

[2018-07-21 14:45] brockallen commented on #612
Ok, my apologies to @cdwaddell  -- I'm a crap reader, and it wasn't until now that I finally digested your scenario. Yes, your assessment was spot on -- when the user's login status changes at the token server, the check session logic will detect the status has changed and then send an id_token only authorization request to query the user's status and current sub at the token server and compare th

[2018-07-21 14:48] brockallen commented on #622
access token expiring uses seconds
check session interval uses ms
clock skew uses seconds
stale state age uses seconds

[2018-07-21 14:49] brockallen commented on #612
@AndriiAlbu I tried to repro this on my local IdentityServer and the Clients sample. I can't repo it.

If you can repro this with our samples (perhaps branch and change the code and config as needed), then I can look into it. Until I can repro it, or you investigate more, there's not much else I can do.

[2018-07-21 15:41] mvrhov commented on #617
My firefox settings are set to default. At least for the Linux version I'm 100% sure. as I have just installed it and not touched any settings.

[2018-07-21 16:18] brockallen commented on #617
So then I will need to you do some more investigation. It might be environmental.

[2018-07-21 19:29] acvila-de-munte commented on #612
@brockallen hi !
Thanks a lot.
I'll try to investigate and if find something I'll write here.

Kind regards

[2018-07-21 19:51] cosmoKenney commented on #613
@brockallen
This is just a tangent remark and something to possibly think about for the future...

I'd love for the oidc-client.js library to not handle the UI/UX at all. Or at least provide a slightly lower level login api.

In any given app I have either bootstrap or jquery ui type dialogs that present with the theme of my app much better than a pop-up window does. And in the case of my highly s

[2018-07-21 20:17] acvila-de-munte commented on #612
@brockallen hi one more time !
Probably I've found what is the source of my issue.
According to microsoft docs about asp net core migration from 2.0 to 2.1 I've added this in `Startup.cs`, `ConfigureServices` method (in identity server 4 project)
[code]

When I change
`options.CheckConsentNeeded = context => true;`
to
`options.CheckConsentNeeded = context => false;`

`oidc client` doesn't spam ide

[2018-07-21 20:43] brockallen commented on #612
Ok, closing since it's sorted and I think @cdwaddell's original issue is addressed. @cdwaddell if not, please let me know.

[2018-07-21 20:43] #612 closed, assigned to nobody

[2018-07-21 20:47] brockallen commented on #613
In a sense, there already is. The `OidcClient` class provides you that. You would miss out on some of the session management features that the `UserManager` provides.

But as for using a bootstrap (or other style) modal -- that most likely won't work due to XFO issues. No sound minded login page would ever allow that, and so that's why I designed this library to use a popup.

It's a difficult (and

[2018-07-23 06:06] cosmoKenney commented on #613
@brockallen
Is there really any difference between presenting an IFrame in a bootstrap modal vs. a pop-up window?

[2018-07-23 06:44] MateuszBucko commented on #605
sorry for late updates, i checked few configurations in keycloak, and oidc-client just ignore url after redirect from login page. Official adapter for keycloak works with any flow.

[2018-07-23 12:19] brockallen commented on #605
Ok, well I'll close for now if you don't have any more information to help diagnose the issue.

[2018-07-23 12:19] #605 closed, assigned to nobody

[2018-07-23 12:19] brockallen commented on #613
yes: click jacking

[2018-07-23 15:45] spoldman commented on #620
I have not investigated this much but each iframe is pointing to "..../connect/checksession". I might investigate this further later when I have more time to do so.

[2018-07-23 17:53] cosmoKenney commented on #613
@brockallen sorry for the noob question, but considering:
1. my OP implementation is only for logging in to my company's client applications (and protecting our APIs).
2. no external providers
3. the OP and client applications are developed by us

Is click jacking an issue?

[2018-07-23 18:42] brockallen commented on #613
I can't answer that in (nor should you accept any answer in) a github issue. You need to threat model it.

[2018-07-23 19:00] chaholl opened #624 "Azure AD Resource identifier is not provided"
When trying to use this with Azure AD I'm reaching a dead end when trying to get a response for: `response_type: "id_token token"`

In typical Microsoft-style things work a bit differently! In order to generate an access token I need to pass a 'resource' value. As far as I can tell there isn't any way to add additional parameters or tweak the request before sending so I'm stuck with the **AADSTS50

[2018-07-23 19:43] chaholl commented on #624
Actually, I see extraQueryParams on [OidcClientSettings.js](https://github.com/IdentityModel/oidc-client-js/blob/dev/src/OidcClientSettings.js). Looks like that'll do the trick. Do we want to update the documentation with this additional property for UserManagerSettings?

[2018-07-23 20:04] chaholl opened #625 "Invalid Issuer when using Azure AD common endpoint"
When authenticating via Azure AD using the multi-tenant endpoint at: `https://login.microsoftonline.com/common/`

tokens are returned with a tenant specific issuer:
`https://sts.windows.net/{some-guid-signifying-the-azure-ad-tenantId}/`

The metadata specifies the issuer as:
`issuer=https://sts.windows.net/{tenantid}/`

Of course this fails validation in [ResponseValidator.js](https://github.com/I

[2018-07-23 21:34] brockallen commented on #624
You're right -- resource is not part of the spec and Microsoft made it up. And yes, someoen asked me to support that, so I think I added a custom resource param just for that. BUt if I didn't then the extra params is the way to go. And sure, feel free to add it to the wiki. Thanks

[2018-07-23 21:36] brockallen commented on #625
The spec says that issuer validation is mandatory. Microsoft doesn't follow the spec there too :/

[2018-07-24 14:29] chaholl commented on #624
Looks like I don't have permissions to push to the wiki, here's the text if you want to copy/paste when you get a chance:

* extraQueryParams: (object): An object containing additional query string parameters to be including in the authorization request. E.g, when using Azure AD to obtain an access token an additional `resource` parameter is required. `extraQueryParams:{resource:"uri:\\someresourc

[2018-07-25 13:02] zhexpin opened #627 "Inappbrowser won't close after successful login"
Hi there,

i have following problem:

In cordova app I use cordova-plugin-inappbrowser for login into Identityserver. In windows version, after successful login popup window stays open although Token was delivered from IDS.

I have this problem only when i try to call Identityserver which is hosted on other machine then mine(loacalhost). With localhost works fine.

I've tried to add host in securi

[2018-07-25 14:07] jeff-goddard commented on #553
Hi, I am also in the same situation as @jasonmc86

The use case for us is:

We are currently loading a script to display a common component across a bunch of legacy sites (think of a common page header component across a bunch of legacy sites) , which  is using OIDC to get an access token, which is needed to display the shared component.

Although we can add the script to all the legacy sites, it

[2018-07-25 19:37] jasonmc86 commented on #553
Hey @brockallen,

It has nothing to do with 'hash fragment values' and sounds like Jeff has
the exact problem we face. Would be good to work together on a solution if
the PR I raised isn't good enough.

Thanks,

Jason

On Thu, 26 Jul 2018, 2:07 AM Jeff Goddard, <notifications@github.com> wrote:

[2018-07-25 19:42] jasonmc86 commented on #553
Sounds like @ShadSterling also has the problem and has solved it slightly differently in this PR
https://github.com/IdentityModel/oidc-client-js/pull/382

[2018-07-25 19:51] ryanbuening commented on #303
I'm still getting this error when using 1.5.2. It doesn't happen all the time, but this error gets logged to the console occasionally:

`oidc-client.min.js` Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('https://idsrv.domain.com') does not match the recipient window's origin ('http://localhost:5000').

Doesn't appear to cause any major issues though.

[2018-07-26 14:54] edgarnovo commented on #627
I'm experiencing exactly the same problem. Have you fixed it? Ty

[2018-07-27 04:19] zhexpin commented on #627
No, I'm still searching...How do you access your host?

[2018-08-01 07:55] ghost opened #628 "Bundle size"
Bundle size is an issue here, part of it should be due to jsrsasign. We can take a look at the approach you can read here:

https://github.com/damienbod/angular-auth-oidc-client/issues/26

[2018-08-01 12:00] brockallen commented on #628
I've spent a lot of time trying to address this. If you have an idea, propose what changes you'd make and we can consider a PR.

[2018-08-01 12:00] #614 closed, assigned to nobody

[2018-08-01 12:01] #618 closed, assigned to nobody

[2018-08-01 12:01] brockallen commented on #620
Closing. If you still have issues, feel free to reopen.

[2018-08-01 12:01] #620 closed, assigned to nobody

[2018-08-01 17:47] christied opened #629 "Need to set discovery policy to not require HTTPS via UserManager"
I'm trying to connect to an IdentityServer that is not HTTPS, by using UserManager. I cannot find a way to set the DiscoveryPolicy to RequireHTTPS = false. Is it possible to use UserManager to connect to an IdentityServer that is not https?

[2018-08-01 21:17] brockallen commented on #629
Can you show the config you set on the user manager?

[2018-08-02 09:46] andrelombaard opened #630 "userManager.getUser not authenticating against authority"
This is my first time setting up an oicd-client, so please excuse my ignorance. I have an Angular 6 application with the following userManager configuration

[code]

When I call the getUser method it always returns null, I don't see any network traffic to the authority (An IdentityServer4 instance) using Fiddler. I'm also running the IdentityServer instance in console mode and see no activity when

[2018-08-02 11:51] kvysh commented on #575
This could be with event misplacement in your parent application, please check the events properly.

[2018-08-02 12:38] brockallen commented on #630
getUSer just lets you know if you have a session. You will need to call signinRedirect to get the user logged into the token server.

[2018-08-02 15:30] christied commented on #629
{
        authority: 'https://localhost:44316/',
        client_id: 'TestIntegration',
        redirect_uri: 'https://localhost:44352/auth-callback',
        post_logout_redirect_uri: 'https://localhost:44352/home',
        response_type: "id_token token",
        scope: "openid profile TestIntegration",
        filterProtocolClaims: true,
        loadUserInfo: true
    }

[2018-08-02 16:52] brockallen commented on #629
Change the scheme in the URL above to be HTTP. The oidc-client library does not force any of those URLs to be HTTPS.

[2018-08-02 17:41] christied commented on #629
The HTTPS URLs are my client app's URLs. But the identity provider URL is just HTTP, and so when I was getting redirected back to my client app after logging in via HTTP, I got an error about not allowing HTTP (should have captured the error details but didn't). We just decided to make our dev identityserver URL HTTPS to get around it for now, so this isn't a burning question any more. Was just cu

[2018-08-02 18:08] brockallen commented on #629
That's the URL of your IdentityServer. It shows https above, so I'm not sure if this was the value you used before or after you were having the problem.

But back to the last part of your question -- yes, this library allows you to use http for the urls.

[2018-08-02 18:08] #629 closed, assigned to nobody

[2018-08-02 23:25] primozs opened #631 "CookieStorage"
I would like to inititalize userManer on initial load from server.
So I tried to first change userStorage with CookieStorage like so:

[code]

Anybody with the same or similar issue?
Cheers

[2018-08-03 08:59] andrelombaard commented on #630
Thank you Brock

I can now see it reaching Identity Server but authentication fails for some reason and it redirect to http://localhost:5000/account/login

I enabled logging for Identity Server and can see the following

[code]

This is follwed by

[2018-08-03 09:07] primozs commented on #337
Hello @stjepan,
Is this still working for you? #631
I tried to change storage similar like you did, but I have an issue with userManager reading from cookie storage.
Cheers

[2018-08-03 10:43] imduffy15 opened #632 "If expires_at is not provided we should look at the id_token"
As far as I can tell `expires_at` is not required as part of the RFC. As such, the call back URL may not contain the `expires_at` query param. In these scenarios it would be nice to use the id_token `exp` claim to calculate the expiry.

[2018-08-03 12:16] brockallen commented on #632
id_token exp is different than the access token's expiration. expires_in in the response indicates when the access token expires.

[2018-08-03 12:17] brockallen commented on #630
Has your user entered credentials ever?

[2018-08-03 13:11] MaxboDev opened #633 ""Error: Access is denied" IE11 on Windows 8-10 with protected mode on"
When using creating an instance of UserManager in IE11 on Windows 8-10 with protected mode on an error stating "Error: Access is denied" is thrown.

From the stack trace the error is thrown when attempting to access localStorage. This is caused by the fact that IE11 on Windows 8-10 in protected mode throws this Access Denied exception when any attempt is made to access local storage. There's a scr

[2018-08-03 13:12] gitterchris commented on #534
@bakedog417 Where you able to send the expires_in attribute with KeyCloak? We are having the same issue with implicit grant type. Without it, the automatic silent refresh does not work.

[2018-08-03 14:20] bakedog417 commented on #534
@gitterchris No I was not able to get KeyCloak to send the expires_in parameter back-- it seems to have lost that functionality after version 3.3.  What I ended up doing was defining it into a config object.  Assuming you own the KeyCloak instance, you will know when the access token expires, so you can do something like this:

[code]
Then, later:

[code]
and
[code]

Obviously, this is not the cle

[2018-08-03 14:30] bakedog417 commented on #632
Possibly related: https://github.com/IdentityModel/oidc-client-js/issues/534

[2018-08-03 15:45] gitterchris commented on #534
Thanks for your response. I have tried the same thing and it works. Anyway, KeyCloak is working on bringing back the expires_in and token_type attributes in the next release.

https://issues.jboss.org/browse/KEYCLOAK-7695

[2018-08-03 19:11] primozs commented on #631
It seams that store key in UserManager is not the same as in extended OidcClient.

[2018-08-03 20:57] primozs commented on #631
It was my bad Cookie Storage initialization :)

[2018-08-03 20:57] #631 closed, assigned to nobody

[2018-08-04 20:20] stjepan commented on #337
Hi,

Unfortunately, I can’t confirm that. We have since then changed the way we’re doing this by tracking on the server side instead (through sessions). This is because of the limitation of storage when in private/incognito mode and/or older browsers that didn’t support either.

If you still wanna try using this, then download the project and see what interface you need to support and adjust the c

[2018-08-04 20:47] andrelombaard commented on #630
Hi Brock

No, no credentials entered. I was following the section in the IdentityServer4 documentation and didn't see anything on the user entering credentials, obviously, I'm missing something. Once again my apologies for my ignorance on this. Your question leads me to believe that my understanding is wrong of how this all works. Perhaps I should explain what I'm trying to achieve and my understa

[2018-08-06 06:03] Justincale opened #634 "Modify outbound Token"
Hi,

Apologies if this question is in the wrong place but here goes anyway.

I have a system that includes quite a complex custom security matrix. This can lead to large JWT’s. I currently use MVC and am able to modify the outgoing token to only include the permissions I need on my api to authorize the user for the end-point being called. Essentially, the function strips out all claims that are no

[2018-08-06 13:11] brockallen commented on #634
Nope, as the access token is signed by the token server. Your change should be in how you architect your identity system to not put permissions in tokens: https://policyserver.io/

[2018-08-07 00:42] Justincale commented on #634
Thank you, I thought as much. I was thinking that a reference_token may be the way to go? If so, does the reference token replace the access_token, or is it possible to return both from identityServer? I would like my clients to use the access_token and send the reference_token into my API.

Thanks again

[2018-08-07 00:44] brockallen commented on #634
Yes, a reference token would reduce the token size, but at the expense of introspection at the API.

[2018-08-07 07:23] Justincale commented on #634
Thanks Brock. That video was exactly what i needed. I'm kicking myself for falling into this trap as originally my api dealt with Authorization before i moved all of my permissions in to the access_token.

Do you see any problems with running  PolicyServer and IdentityServer in the same App?
Also, i couldn't find anything but is there a JS client for PolicyServer or would i roll my own?

Thanks Ag

[2018-08-07 09:03] asleire opened #635 "UserInfo JWT response support"
Hi,

If the UserInfo endpoint returns a JWT instead of JSON the client will fail with the error `Error: Invalid response Content-Type: application/jwt;charset=utf-8`.

According to the OpenId specifications the UserInfo endpoint is allowed to return a JWT. Could support for this response type be added?

Thanks!

[2018-08-07 16:03] brockallen commented on #635
I'm curious -- what OP are you using that does that?

But yes, this could be added as an enhancement. Want to submit a PR for it?

[2018-08-07 21:05] asleire commented on #635
I'm using a norwegian national identity provider called BankID

I've submitted a PR with a comment describing the changes. Please ask if you have any questions

[2018-08-08 17:05] roblapp commented on #457
I guess I am a little confused. By default IdentityServer4 gives the following response_mode values:

[code]

But I see you mention above that the spec forbids tokens from being sent in query string parameters. Also, the end_session endpoint requires you to pass the id_token as the id_token_hint parameter if you want the post_logout_redirect_uri to work. What am I missing here?

Thanks!

[2018-08-09 09:22] andrelombaard commented on #630
Hi Brock

My apologies for wasting your time with this. I had a proper read through the IdentityServer documentation. Got confused because I just jumped in at the add a js client section. My setup is now working as expected. Thank you for taking the time to answer my questions.

Kind Regards
Andre

[2018-08-09 09:22] #630 closed, assigned to nobody

[2018-08-13 09:47] jballe commented on #628
I think the important part is this: https://github.com/manfredsteyer/angular-oauth2-oidc/pull/356/files#diff-c69098b368427091af11df3f48046300L112

Instead of using jsrsasign they are using [crypto](https://developer.mozilla.org/en-US/docs/Web/API/Window/crypto) and [TextEncoder](https://developer.mozilla.org/en-US/docs/Web/API/TextEncoder) (probably the polyfill).

It would be very interesting if

[2018-08-13 12:09] brockallen commented on #628
I'm more than happy to use web crypto here. The main thing is you'd need to provide an IE-compat polyfill.

[2018-08-13 12:47] jballe commented on #628
Agree, it will be another required polyfill. Can it be handled similar to ``babel-polyfill`` that you will need to add a polyfill if support for IE<11 is needed, eg. [webcrypto-shim](https://www.npmjs.com/package/webcrypto-shim) ?

I don't know if it should be included in the ``~/dist`` and ``~/lib`` bundles. (I don't need support for IE<11 in my projects but I know that others will need it)

We w

[2018-08-13 14:01] brockallen commented on #628
I'll leave you to work on a PR then :)

[2018-08-13 23:47] diogodamiani opened #637 "Use with a no OIDC spec-compliant provider"
Hello,

Is it possible to use the OidcClient with a no OIDC spec-compliant provider like Facebook, for example?

They don't have a discovery endpoint, so an option would be to set authorize, token and user info endpoints explicit.

Regards.

[2018-08-14 12:32] brockallen commented on #637
Probably not.

[2018-08-14 12:37] brockallen commented on #624
Done, thanks!

[2018-08-14 12:37] #624 closed, assigned to nobody

[2018-08-14 12:38] #632 closed, assigned to nobody

[2018-08-14 12:38] #634 closed, assigned to nobody

[2018-08-14 16:02] philjones88 commented on #500
I just hit this with Angular and decided to do a workaround of constructing a new "clean" URL for this library using `HttpParams` from Angular.

[2018-08-15 17:41] HauptmannEck opened #638 "querySessionStatus not valid for other response_type's"
Our client has the setting:
[code]

This causes the querySessionStatus to fail as the server expects `id_token token` but the path url only has `id_token` due to this line:
https://github.com/IdentityModel/oidc-client-js/blob/f564f974809c90e8093f6f5006b07e2b0e7a0b4a/src/UserManager.js#L206

Shouldn't this just use the `response_type` setting like the other methods?

[2018-08-15 18:26] brockallen commented on #638
Not for this API -- it's intended to only obtain the user's id_token. How are you trying to use it and why is your token server rejecting the request?

[2018-08-15 18:49] HauptmannEck commented on #638
The only use of it is the built in `SessionMonitor` usage.
We are using `django-oidc-provider` and the selector for which Response Type only have a single selection. But I don't yet fully understand this library as I only just started looking at our implementation.
![image](https://user-images.githubusercontent.com/1865742/44166814-f53e4100-a091-11e8-8e1e-5ee8427c71dc.png)

[2018-08-15 18:55] brockallen commented on #638
"id_token" is a (safe) subset of "id_token token", so i'm a bit baffled why they make such a restriction. perhaps open an issue with them to ask?

Also, I suppose it's possible for us to add a flag to allow passing the originally configured response_type. Maybe submit a PR and I can have a look?

[2018-08-15 19:11] HauptmannEck commented on #638
Ok, thanks for the info. I'll try to follow up with them to come up with a solution.

[2018-08-15 20:00] HauptmannEck commented on #638
Actually looking at the spec and a few implementations I don't see any concept of a "Subset" of a response_type.
Spec:
http://openid.net/specs/oauth-v2-multiple-response-types-1_0.html
Identity Server:
https://github.com/IdentityServer/IdentityServer4/blob/e349f272b488e5f594242e73825ad0fbf5011c98/src/Validation/Default/ResponseTypeEqualityComparer.cs#L22
django-oidc-provider:
https://github.com/ju

[2018-08-15 20:21] brockallen commented on #638
But it is a subset. id_token asks for an id_token, where "id_token token" asks for an id_token and an access token. So you can ask for an access token, it's just that you didn't.

[2018-08-15 20:37] HauptmannEck commented on #638
That may be how they look, but the spec is specific that `id_token` and `id_token token` are unique options.

Which makes sense as the Subset style would allow for the response_type of `code id_token token` to support all different flow types (Authorization Code, Hybrid, Implicit) even though they are not cross compatible for one client.

Which OIDC Server do you know of that handles that function

[2018-08-15 21:35] brockallen commented on #638
IdentityServer allows that subset ("id_token" subset of "id_token token"): https://identityserver.io/

[2018-08-15 21:42] WellspringCS commented on #612
As someone with no working baseline, it's hard to express my gratitude for your conversations. Lost a day? Yes. But thanks to back-and-forth between @brockallen @AndriiAlbu  to name only two... I now find that what's been driving me INSANE all day is not my doing, and there is a solution.

I implemented @AndriiAlbu 's solution and it worked on my system. Before that, I was watching, helplessly, a

[2018-08-15 21:49] HauptmannEck commented on #638
As I linked earlier, their code is explicit in the fact that it has to have the same list of response_type's:
Especially this line:
https://github.com/IdentityServer/IdentityServer4/blob/e349f272b488e5f594242e73825ad0fbf5011c98/src/Validation/Default/ResponseTypeEqualityComparer.cs#L41
If the expected response_type does not have the same number of items as the received it will throw an error.

[2018-08-15 22:47] brockallen commented on #638
Sure, but my point is that the spec does not preclude it and their implementation has taken a very literal stance. That's all fine. I still think it's worth asking them about it. I'm also open to a PR here where you add a flag to use the original response_type, rather than overriding it. In fact, I'd prefer not a flag, but simply a response_type param value to the querySessionStatus API.

[2018-08-15 22:48] brockallen commented on #612
Yea, security's hard.

[2018-08-15 22:58] cdwaddell commented on #612
Indeed, security is hard. Thanks again for the libraries that make this hard topic accessible.

[2018-08-16 13:10] HauptmannEck commented on #638
It will have to be a flag or a new option like `response_type` (`query_status_response_type`?), as `querySessionStatus` is used through `SessionMonitor` which does not currently have any parameters.
https://github.com/IdentityModel/oidc-client-js/blob/dev/src/SessionMonitor.js#L96

[2018-08-16 14:02] jelkhoury commented on #402
Is there any specific configuration in the identity server to support the above ? or i just need to log the user out when he becomes idle ?

[2018-08-16 14:44] WellspringCS commented on #612
Question has to be asked...

The solution (turning CheckConsentNeeded to false) sure sounds like a decision to not comply with GDPR. (I do confess ignorance here...)

https://docs.microsoft.com/en-us/aspnet/core/security/gdpr?view=aspnetcore-2.1

Thankfully, my customers won't be concerned about that. But for a website facing a wider audience...
(a) Are my suspicions regarding GDPR compliance on t

[2018-08-16 15:00] cdwaddell commented on #612
This does not constitute legal advice and I am not a lawyer nor an expert on GDPR.

This cookie, however, is an essential cookie so a better solution may be to flag it as such:

`new CookieOptions() { IsEssential = true });`

Then this other setting will not need to be set to false.

[2018-08-16 15:24] HauptmannEck commented on #638
So I created locally a `query_status_response_type` param, and it seems to work correctly, but now I am noticing that Identity Server returns a `profile.sid`, ours does not, so the session status always is considered unauthorized. It is starting to look like I will need to fork to create one that is more aligned with our provider.

[2018-08-16 16:01] brockallen commented on #612
GDPR consent is really unrelated to OAuth2/OIDC consent.

[2018-08-16 16:03] brockallen commented on #638
The `sid` claim comes from the OIDC session management specs: https://openid.net/specs/openid-connect-frontchannel-1_0.html#RPLogout

[2018-08-16 16:12] cdwaddell commented on #612
It does look like the cookies for Session in IdentityServer4 are not considered Essential cookies.

Here is a commit I can PR:
https://github.com/cdwaddell/IdentityServer4/commit/cb667c4414e196fe0bfb951808968e96e3ab8c20

The consent mentioned is for GDPR to check if cookie tracking consent has been given:
[code]

I included Message cookies, I assume these are also essential. If they are not marked

[2018-08-16 16:21] HauptmannEck commented on #638
Looks, like `django-oidc-provider` supports the base **OpenID Connect Session Management 1.0 - draft 28** but not that **OpenID Connect Front-Channel Logout 1.0 - draft 02**.

It looks like to support Providers without **Front-Channel Logout** all that is needed is to remove the `&& signinResponse.profile.sid` from:
https://github.com/IdentityModel/oidc-client-js/blob/dev/src/UserManager.js#L219
T

[2018-08-16 16:21] acvila-de-munte commented on #612
In my project I've returned
`options.CheckConsentNeeded = context => true;`
Now client doesn't spam server. The only difference - instead of logging to file I log to sql server.

[2018-08-16 16:25] cdwaddell commented on #612
Yes, we solved this problem by speeding up our "UserClaimsPrincipalFactory" and updating our oidc-client-js to latest. So I consider this one closed.

[2018-08-16 16:28] WellspringCS commented on #612
Interesting, @AndriiAlbu, @cdwaddell  -- after I have a smooth as glass system running as my happy baseline, I'll come back and play with those settings. My OAuth server is in Azure, but I'm not paying for lightning response times, so perhaps that's my version of the "slow" problem? No idea what the mystical connection is between response time and cookie consent.

[2018-08-16 16:31] cdwaddell commented on #612
@brockallen, the default value of `CheckConsentNeeded` is false, so this will only affect users that turn this feature on for compliance with GDPR.

[2018-08-16 17:09] WellspringCS commented on #612
This does not constitute legal advice and I am not a lawyer nor an expert on GDPR. ;-)

@brockallen, I haven't a clue about anything on GDPR, but at a gut level I was just assuming that any website that tracks who you are and keeps your email address (and likely a link between you and Google/FB/MS) in a database... would fall within the purview of GDPR.

No?

[2018-08-16 17:15] brockallen commented on #612
GDPR requires the consuming app to disclose what the data is used for and get consent form the user.  OIDC/OAuth2 consent is the user consenting to the token server that it can release that info about the user to the consuming app. the token server has no idea what the consuming app does with the data, thus it couldn't properly ask for consent (or disclose).

[2018-08-16 17:18] cdwaddell commented on #612
@WellspringCS , this is true! But some cookies are required to make a website work. According to GDPR those can be considered "Essential" cookies, they cannot be used for tracking purposes, only for operational purposes. In this case, it would be up to the developers using IdentityServer4 to communicate to the end user that essential cookies and non-essential cookies are being used.  You can see t

[2018-08-16 17:25] WellspringCS commented on #612
All I knew was the acronym and (in the vaguest terms) what "the hubbub" was about... so thanks to you both for the edumacation! (mutter, mutter, not legal advice, mutter, mutter)

Anyway, that being the case certainly takes a burden off of IdentityServer4's shoulders, and off the shoulders of those who use it. (mutter, mutter)

[2018-08-17 07:48] timojokinen opened #641 "Set idpHint property"
I switched from keycloakjs to oidc-client-js and in keycloak i used to set
`keyCloakInstance.login({ idpHint: '...' });`

This is really important for my application.

How can I do the same thing in oidc-client-js?
I tried extraQueryParams already, didn't work.

[2018-08-17 07:50] timojokinen commented on #641
I actually just found out:

I needed to set the property `kc_idp_hint` in extraQueryParams

[2018-08-17 09:08] #641 closed, assigned to nobody

[2018-08-17 18:46] legaev-stas opened #642 "Polyfills issue"
Dear Developers,

I am developing JS library that should have built in implementation of integration with oAuth server. The library should support IE9+. I am trying to use oidc-client-js but have troubles with polyfilling because the library should not pollute global namespace.

Webpack tools like transform-runtime help me to transform usage of ES6 static methods and built-ins like Promise for oid

[2018-08-20 04:00] igor-moskvitin opened #643 "Single sign out question"
I have a simple client that uses implicit flow. It works, but i have a question about session management.
If i open 2 tabs in browser, each authenticated as some user and logout from one of them  - got this behavior on another tab:
[code]
And because of `signin request` - still autheticated.
Is it mean that i should subscribe for `userSignedOut` (`https://github.com/IdentityModel/oidc-client-js/wi

[2018-08-20 17:43] prateeknair opened #644 "Question: Best way to handle Frame window timeout"
I am calling the silentsignin method in the token expiring event.

This doesn't happen everytime, but i do get the following error:

![image](https://user-images.githubusercontent.com/39499261/44357285-79177500-a466-11e8-8e01-5ae49fcfa232.png)

What is the best way to handle a Frame Window Timeout error ? I tried loading the user again, calling the getUser() method on silent renew failure, but tha