[2021-03-09 14:43] vaalkor commented on #301
Did you solve your problem? I have **exactly** the same issue and am trying to figure out how to solve it.

[2021-03-09 23:38] dejan9393 commented on #301
@vaalkor I went with the solution I proposed in the comment you're replying to, didn't end up finding a conclusive answer and it seemed reasonable enough to me.

Basically you have 1 main redirect URL that all of your apps go through:

[code]

Save the actual redirect URL of the app you're currently in to the `state` parameter:

[code]

Set up your oidc-client with that redirectURI and state param

[2021-03-10 19:00] mellis481 commented on #1281
@brockallen What if he was?  I'm seeing this and I'm on https.

[2021-03-10 19:40] brockallen commented on #1281
If you don't use HTTPS then you can't set SameSite to None.

[2021-03-11 10:52] M0ns1gn0r commented on #297
We need this fix because the current implementation of expiring/expired timers works unreliably when PC wakes up after a sleep.

Most of the times the expir**ing** timer fires first, as expected, and performs the silent renewal. But ~30% of times expir**ed** timer fires first, its handler has to remove the user from userManager, which in turn cancels all events, including the not yet fired expir**

[2021-03-11 13:35] brockallen commented on #297
No, sorry. This has been a vexing problem since the beginning. Maybe it's possible to build your own logic to use visibilitychange to re-initalize things.

[2021-03-11 14:48] Gerrit-K commented on #1228
@brockallen Pardon me for jumping on this closed issue, but I was about to file a similar report.
I believe the check for JWT (i.e. looking for a `.`, see below) is too naïve as there are IdP implementations which use access tokens in the JWT format (at least that's the case for us with OpenAM in our company).

https://github.com/IdentityModel/oidc-client-js/blob/c150cd26dd29a09fedb4faaa95f00c16dd

[2021-03-11 14:55] brockallen commented on #1228
Sure, it would make sense to have a config flag for that behavior.

[2021-03-11 17:54] Gerrit-K commented on #1228
@brockallen a config flag could be a solution, but I think the default check whether the access token is a JWT shouldn't be just `token.indexOf('.') >= 0`. Is there any other way to check the type of the token (e.g. some setting in the user object)? Or is this really the only way? (I also don't rule out the possibility that our IdP is misconfigured and shouldn't even respond with pseudo-JWTs in th

[2021-03-11 22:01] fwitkowski opened #1319 "querySessionStatus causes "login_reuired" error"
am connecting to keycloak IdP from angular using OIDC-CLIENT-JS.

When connecting to keycloak on my localhost (in docker) and getting session status using querySessionStatus(), everything is fine.

When trying to do the same to keycloak on remote server, (connected through VPN) I am getting error: login_required

Both keycloak servers run on docker, and both have same configuration.

[2021-03-12 13:33] brockallen commented on #1319
I'm going to guess your cookie is not being sent in the iframe. Possibly due to same site or ITP issues?

[2021-03-12 13:35] brockallen commented on #1228
Access tokens are opaque to the client, so not really. Most other token servers I've encountered don't use dots in their opaque tokens, so this approach seemed like it was a reasonable, albeit simple approach.

[2021-03-12 15:04] fwitkowski commented on #1319
So do you think it might be caused by VPN settings?
Here is extended question in Stackoverflow:
https://stackoverflow.com/questions/66590538/login-required-error-oidc-client-with-angular

[2021-03-12 15:27] benitazz opened #1320 "Getting stuck on signinRedirectCallback"
I'm working on angular 10, implemented the auth service  which works most of the time but occasionally getting stuck on login screen:

Error - > error: "invalid_grant"
error_description: "The specified authorization code is invalid."

Not sure why it works and suddently it stops working.

// config
  const stsSettings = {
      authority: `${this.ssoissuer}/auth`,
      client_id: environment.ssoc

[2021-03-13 06:53] benitazz commented on #1320
It looks like the code gets trimmed for some reason.

Please check the Code on the URL:
http://localhost:4200/signin-callback?
code=CfDJ8Jx_1V6EPfVPgt__3-zVrP5Ko1qpp7LDFw38HQx5R1POtqHe98kPWod1UoinCn1rc-YIucn8ys7hBdQSHzEZHcIcOCBSr9Np02UU6Jv9L8jDx_
gZiNtyic5smJ9O6EGaYMBokJlXVkx_lQHLr3LnuEr4p11Dd6gG-P1HeH3XafhGI4BM1Y7RGFtmTmdHpaMSELplo38sNOAApKH6wPXlV6HGRCj_
9Z9QBhENp0p9epwAse6Th03zPG9bmx9-Qc3aoUxhGi

[2021-03-13 22:44] brockallen commented on #1320
Yea, URLs or proxies sometimes limit URL length. Nothing this library can do about that.

[2021-03-13 23:29] benitazz commented on #1320
Is there a way to set the code expiration time? I think the code expired hence it throws that error

[2021-03-15 14:23] sadek-hussein commented on #1209
@joe-mills your Cypress issue was solved? I have the same one! can you please help me

[2021-03-15 14:25] Powersource commented on #1270
If the github wiki system doesn't feel right, maybe it could just move to a regular md file in the git repo that could accept PRs?

[2021-03-15 15:13] NeilJ12 commented on #520
Where do you put this; I'm facing the same issue and I don't know where to add this

[2021-03-15 15:36] Powersource opened #1321 "Client gets logged out after ~10 seconds on localhost in firefox with Strict tracking protection"
Firefox version 86 (I recently updated my firefox version, idk which version I was running before)

Only happens on localhost, not production

And by "logged out" I just mean client-side, I still seem to be logged into my idp (keycloak 11.0.2)

I have more debugging notes and error messages in my issue here https://github.com/Edgeryders-Participio/realities/issues/229

I am technically using oidc-

[2021-03-15 19:56] alex737876 opened #1322 "Sometimes client calls server IP which fails SSL check as IP adress is not included in servers SSL certificate"
Using Angular 10 and oidc client package from dotnetcore individual auth startet project, the client sometimes loses its 'authenticated' state. In the browsers F12 debugger i found that the client is lauching a request against servers IP, which fails SSL check as IP adress is not included in servers SSL certificate.
I am using the `authorize guard` inside 2 different routing modules, one of it is

[2021-03-15 20:36] brockallen commented on #1322
Sorry, I can't help you with your TLS issues.

[2021-03-15 20:37] #1021 closed, assigned to nobody

[2021-03-15 20:37] #1278 closed, assigned to nobody

[2021-03-15 20:38] brockallen commented on #1298
Ok, I'll close for now. If there's something else on this then please reopen.

[2021-03-15 20:38] #1298 closed, assigned to nobody

[2021-03-15 20:38] #1307 closed, assigned to nobody

[2021-03-15 20:38] brockallen commented on #1309
Sorry, not sure. Perhaps ask the token server vendor/developer why?

[2021-03-15 20:39] #1311 closed, assigned to nobody

[2021-03-15 20:39] #1312 closed, assigned to nobody

[2021-03-15 20:39] brockallen commented on #1318
Sorry, you should ask the vendor for help connecting to their product.

[2021-03-15 20:39] #1318 closed, assigned to nobody

[2021-03-15 20:40] brockallen commented on #1319
No idea, just a guess based on common issues I've seen before.

[2021-03-15 20:41] brockallen commented on #1294
I don't use Angular, so I don't know their internal workings. Sorry.

[2021-03-15 20:43] alex737876 commented on #1322
Thank you, of course. I thought the issue is, that it is calling the IP instead of domain. Because win-acme (which i am using) could not include ip addresses to the SSL certificate.

Maybe its okay that it is using the IP but i need another cert? Is this what you mean? Thank you

[2021-03-15 21:36] brockallen commented on #1322
Oh I see... I wasn't clear that you were trying to use the IP. So no, you can't do that :) You need proper DNS (or local hosts hacked up) and cert to match.

[2021-03-16 03:12] ngoanhtan commented on #1319
I have the same issues but it just happens on chrome version 85 and above (the newest version of Microsoft edge is the same), it does not happen on firefox.
I guest it related to the Referrer Policy had change to "strict-origin-when-cross-origin". [Changelog of chrome 85](https://developers.google.com/web/updates/2020/07/referrer-policy-new-chrome-default)
Could you check again your issue by Firef

[2021-03-16 04:46] ngoanhtan commented on #1319
Update: The exact reason for my issue is [Reject insecure SameSite=None cookies](https://developers.google.com/web/updates/2020/07/chrome-85-deps-rems)

[2021-03-16 09:35] fvoordeckers opened #1323 "User profile params should return a map instead of an Array of maps"
### Steps to Reproduce:
- Add the params scope and make sure additional params are available.
- log in, the `/me` call returns the user profile.
- Access the profile via `const user = await userManager.getUser()`.

### Expected behaviour:
Calling `user.profile.params` would return a map of the extra user params.

### Actual result:
Calling `user.profile.params` returns the params as an array where

[2021-03-16 12:51] brockallen commented on #1323
Can you show an example of the result from the userinfo endpoint for the token server you're using?

[2021-03-16 14:36] fvoordeckers commented on #1323
@brockallen the user info is in the first screenshot

[2021-03-16 14:43] fvoordeckers commented on #1323
@brockallen noticed the user being stored in the session storage, session storage seems to be fine.

Maybe related to this?

https://github.com/IdentityModel/oidc-client-js/blob/88c7c7ade5d7bdc127c78480018ed3d9b121c383/src/ResponseValidator.js#L141

https://github.com/IdentityModel/oidc-client-js/blob/88c7c7ade5d7bdc127c78480018ed3d9b121c383/src/ResponseValidator.js#L175

[2021-03-16 18:53] alex737876 commented on #1322
Okay thank you1 :)  How can i configure oidc-js NOT to use ip address?

[2021-03-16 20:22] brockallen commented on #1322
Don't use an IP address in the Authority.

[2021-03-16 20:30] brockallen commented on #1323
It looks like the "params" is an object with the 2 props (role and the uri)? So I guess you're asking that it's just passed along as-is when merged into profile.

It's possible that the id_token has "params" as well, so how would those look merged?

[2021-03-17 11:48] Que2701 opened #1324 "Oidc-client identityserver infinite loop angular 10 app on signin-redirect"
I have an angular 10 app running on localhost:4200. In my app-routing.module.ts I have configured root path to load the AdminComponent, so if you hit localhost:4200 it will try to load AdminComponent but before it does; I have a authguardservice that checks to see if the user is logged in and if not; it redirects the user to identity server (where he gets a login screen to get the token).

_I do n

[2021-03-17 12:27] brockallen commented on #1324
Is there a record in sessionStorage for the user's session? If so, then as far as oidc-client is concerned the user is logged in.

[2021-03-17 13:17] Que2701 commented on #1324
@brockallen yes there is ( _unfortunately for me_ ),  the issue is persisting the user object from identity server into the angular app layer.

[2021-03-17 13:45] brockallen commented on #1324
Then that will be lost when the user hits refresh or you have page transitions

[2021-03-17 19:49] Bigtalljosh commented on #526
Anyone else end up here on a wild chase from a Blazor app? 😂

[2021-03-17 19:51] brockallen commented on #526
BTW, in some future release I plan to ditch jsrsasign -- it's just a matter of when I have the time to do so.

[2021-03-17 22:07] Que2701 commented on #1324
@brockallen okay I hear you, so what I did; I just went to ```sessionStorage``` and retrieved the user from there and  no more endless loop

[code]

[2021-03-17 23:15] cyraid commented on #526
Wait what? lol

[2021-03-18 08:18] fvoordeckers commented on #1323
Filtering out duplicates resulting in a single map instead of an array?

[2021-03-18 08:56] fvoordeckers commented on #1323
Just checked it and the params are also in the JWT token. So is this expected behaviour that the type of the params key changes from dict to array? The id token params are not profile params, to calling `user.profile.params` should not return params in the id_token. If you want the params in the jwt, you should decode it or provide a methode to get them, or get them combined with the profile param

[2021-03-18 10:27] ARM-Source opened #1325 "Angular application Signin Redirect fails with “invalid_grant” error when running on different machine than the IDP"
Here is the Stackoverflow question: https://stackoverflow.com/questions/66687890/angular-application-signin-redirect-fails-with-invalid-grant-error-when-runnin

I will paste the entire question in here aswell.

I am using oidc-client with Angular to log in to my identity server. When running both applications on the same machine everything works perfectly.

However when I run my Identity Server on

[2021-03-18 11:04] ARM-Source commented on #1320
How did you fix this issue?

[2021-03-18 13:12] brockallen commented on #1325
If it gets to the point where it makes the token request, then everything is fine in the client from oidc-client-js's perspective. Invalid grant means the code is invalid, but you'd need to check your token server logs. Refreshing the page will trigger invalid state error, because the state that was holding the prior request's data was consumed.

[2021-03-18 13:26] brockallen commented on #1323
For arbitrary object hierarchies, I would think this would be difficult. In the past my attitude was to just create an array and each object from the different sources get added in.

[2021-03-18 13:26] brockallen commented on #1323
Ah ok, so that explains why it's not just copied over directly.

[2021-03-18 18:15] astreiten opened #1326 "YUI vulnerabilities"
We are detecting some vulnerabilities related to the YUI 2.9.0, that is being used on the latest version of oidc-client (1.11.5).
[Vulns list](https://www.cvedetails.com/vulnerability-list/vendor_id-290/product_id-20206/version_id-137803/Yahoo-YUI-2.9.0.html)
Is there any plan to fix this?
Thanks

[2021-03-18 18:26] BiancaArtola commented on #743
Ey! I am having the same vulnerability on my projects. Will be any updates?

[2021-03-18 18:34] BiancaArtola commented on #743
The vulns are still in the library. Will you remove it soon?

[2021-03-18 19:28] malopgrics commented on #1044
I got the same error here, to finally found that I was calling `signinRedirectCallback` twice. The second call caused the error.

[2021-03-19 11:48] markvantilburg commented on #1326
Is this the same as: #1119

[2021-03-19 12:00] Denny966 commented on #1044
Same, it was called twice

For react users, I had a dependency in my array which caused a rerender so userManager.signinRedirectCallback() was called twice

[2021-03-19 13:22] yogen-darji-hs commented on #664
@vahidarr @brockallen Did you guys find any solution for this scenario? I also want to implement similar thing. Your suggestions will be helpful.

[2021-03-19 19:54] ARM-Source commented on #1325
Hey brock! Thanks for answering. I Can't get Identity Server to Log to Azure Log Stream with the Default Identity Server 4 settings, do you have any hints on what I should be doing? My code looks identical to this http://docs.identityserver.io/en/latest/topics/logging.html, in the mean while I am going to look at the deployment documentation for Identity Server 4 see if there's a solution there. D

[2021-03-21 12:54] benitazz commented on #1320
I have closed the issue because of the this comment: "Yea, URLs or proxies sometimes limit URL length. Nothing this library can do about that."

Actually I found out that the issue is not because the code is getting discarded, the library removes the state when sending back to the server which works fine on localhost but as soon as I point to https on the test server then thats when it works and s

[2021-03-21 18:19] ARM-Source commented on #1320
Thank you for responding!

[2021-03-21 20:53] brockallen commented on #1320
Well, there must be a reason the state is not being accessed properly. Is it possible that user starts on http but ends up on https on the callback? That's a common mistake.

[2021-03-22 08:41] ARM-Source commented on #1320
Do you know where I could specifically check for this in the related question [https://github.com/IdentityModel/oidc-client-js/issues/1325](https://github.com/IdentityModel/oidc-client-js/issues/1325)?

[2021-03-22 11:06] ARM-Source commented on #1320
@benitazz Can you share the configuration on the IDP and client for the token flow? With "Token Flow" do you mean implicit flow?

[2021-03-22 11:55] benitazz commented on #1320
Yes, I mean the implicit flow. Below is my configuration for Implicit flow:

const stsSettings = {
      authority: `${this.ssoissuer}/auth`,
      client_id: environment.ssoclientid,
      redirect_uri: `${this.host}/signin-callback`,
      scope: 'oidc account email profile offline_access api',
      response_type: 'token',
      post_logout_redirect_uri: `${this.host}/signout-callback`,
      o

[2021-03-22 11:58] benitazz commented on #1320
This is the IDP that is working and sometimes it does not work:

 const stsSettings = {
      authority: `${this.ssoissuer}/auth`,
      client_id: environment.ssoclientid,
      redirect_uri: `${this.host}/signin-callback`,
      scope: 'openid email profile offline_access api',
      response_type: 'code',
      post_logout_redirect_uri: `${this.host}/signout-callback`,
      oidc: true,
    };

[2021-03-23 14:43] fvoordeckers commented on #1323
Just not sure if the idea of merging those params is correct. By creating an array of param object you're deviating from what the response provides. Also, parsing params from the JWT could be done in a separate method by simply moving that piece of to a method. Atm there is no way to distinct these params from each other. It's just an array of objects.

[2021-03-23 14:54] brockallen commented on #1323
But what if the two response objects are:
{address:{street:"1 Main St"}}
and the other is:
{address:{street:"2 Spruce Rd"}}

It would not make sense to merge these.

[2021-03-24 05:55] rvjaywaks commented on #1320
I have same issue. I have a 50% signinRedirectCallback success and 50% failed.
![image](https://user-images.githubusercontent.com/2319264/112262256-57c73700-8ca8-11eb-8d40-6a6483ed660b.png)

error on server
![image](https://user-images.githubusercontent.com/2319264/112262390-8ba25c80-8ca8-11eb-8022-20068f12ea9f.png)

[2021-03-25 15:01] dgreene1 commented on #1067
@ghost @dopry, may I ask what your workarounds were?

[2021-03-25 15:29] dopry commented on #1067
Check out https://github.com/dopry/svelte-oidc/blob/5401fed67175c6cdb512dca788cb2aba7bda8378/src/components/OidcContext.svelte#L83

[2021-03-25 17:53] dgreene1 commented on #1067
Thank you so much for documenting the solution @dopry. For future readers, I've also reached out to Auth0 about adding compliance to their roadmap. But until I or someone else replies, we should assume that @dopry's solution is the way to go.

[2021-03-26 00:50] brockallen commented on #1067
You'd think they have the budget now.

[2021-03-26 00:59] dgreene1 commented on #1067
@brockallen I don’t think I’ve laughed that hard in a year. Bravo.

[2021-03-26 13:33] magoogli opened #1327 "Best practices for a custom clockService"
Hi,

I have a SPA which is using the oidc-client, and have experienced similar issues as discussed here: #472 and here: #1108 where the client has  incorrectly configured their time and is unable to log in due to token validation failure. The SPA is used by hundreds of different users on different devices, and telling the them to fix their time is frustrating, and the issue will just escalate as n

[2021-03-26 15:24] brockallen commented on #1327
Those two above statements seem to be conflicting requirements :) The clock check is part of the required validation steps in OIDC. I don't know what else to say about it.

Yea, that's the general intent with the extensibility point.

[2021-03-26 18:16] lacroixdavid1 opened #1328 "Manually set URL state"
Is there a way when redirecting to the Sign-in URL to manually set the URL state query param?

[2021-03-26 18:26] brockallen commented on #1328
No, but there's a way to preserve state across the round trip. You set the `state` value on the args to the signinXxx methods.

[2021-03-26 18:27] brockallen commented on #1328
For example:

https://github.com/IdentityModel/oidc-client-js/blob/dev/samples/VanillaJS/public/code-identityserver-sample.js#L135

and then this will have the state on the response:

https://github.com/IdentityModel/oidc-client-js/blob/dev/samples/VanillaJS/public/code-identityserver-sample-callback.js#L4

[2021-03-26 18:39] lacroixdavid1 commented on #1328
I need to have absolute control over what the state query param will be. It matters for our Identity Server. Is there any way to have control on that?

[2021-03-26 18:44] brockallen commented on #1328
Unfortunate, as it's supposed to be opaque to the STS

Nope, sorry.

[2021-03-26 18:46] lacroixdavid1 commented on #1328
Closing. I'll be using `extraQueryParams` and adjust the Identity server.

[2021-03-26 18:46] #1328 closed, assigned to nobody

[2021-03-29 11:47] magoogli commented on #1327
Ok, thanks for the speedy reply. I will implement a new endpoint on the backend then to get the time of the server and validate based on that.

[2021-03-29 11:47] #1327 closed, assigned to nobody

[2021-03-31 09:51] LilanSilva commented on #1150
id_token used to resolve and identify user session & post logout url. that is the reason. you are correct

[2021-04-01 03:32] IAMHK90 opened #1331 "UserManager.querySessionStatus: No silent_redirect_uri configured"
Three Apps

IdentityServer4 with asp.net core identity (ID server)

Angular (client1)

VueJs (client2) The client is setup using code grant type

When I logout from client2 then client1 logouts as well which is the expected behaviour and working fine. However, When I logout from client1 then client2 doesn't logout and I see "UserManager.querySessionStatus: No silent_redirect_uri configured" error

[2021-04-01 11:51] brockallen commented on #1331
Configure one, or disable session monitoring.

[2021-04-01 11:52] brockallen commented on #1326
Yes, dup of the above issue.

[2021-04-01 11:52] #1326 closed, assigned to nobody

[2021-04-01 15:15] IAMHK90 commented on #1331
@brockallen Sorry, I did not get what you meant by 'configure one'?  I did set monitorSession to false, but no luck.

[2021-04-01 23:21] aminkhandesign commented on #1088
I had this issue, silent sign-in was making the request successfully to the server but the iframe would error.
This was occurring on my local machine, in development. The app was being served over localhost with a self-signed certificate.
 The solution seemed to be to use a local Certificate Authority by using the 'mkcert' util, rather than a self-signed certificate .
 It worked after that.

[2021-04-03 14:34] BressOne opened #1332 "Multiple concurent calls issue"
Hi!

Using the package for a while with REact and found an issue.
I am initializing oidc client once in a high-level context. Init is caused only once and I am pretty certain that it is done only once. But for some reason, I see that the oidc-configuration call is issued multiple times, furthermore: renewal of a token is issued multiple times too. That is a bit confusing.
Also found that there are

[2021-04-03 15:23] brockallen commented on #1332
Ensure you only have one instance of the `UserManager`, as it's responsible for the user's session. If you have more than one, then you'll have many of them thinking they need to do their job.

[2021-04-05 14:13] IAMHK90 commented on #1331
@brockallen, let me know if you need additional information

[2021-04-05 14:52] brockallen commented on #1331
Check the samples -- there's a regular callback endpoint and a silent callback endpoint.

https://github.com/IdentityModel/oidc-client-js/tree/dev/samples/VanillaJS/public

[2021-04-06 02:49] IAMHK90 commented on #1331
@brockallen, I did try exactly what was mentioned in that sample, but I still see the same error message in console log of client 2 application when I logout from client 1.

Error: UserManager.querySessionStatus: No silent_redirect_uri configured

[2021-04-07 04:17] xpol commented on #1081
@brockallen Any updates?

[2021-04-07 12:24] brockallen commented on #1081
I thought this was merged in

[2021-04-07 15:17] IAMHK90 commented on #1331
We were not able to figure out that bug from past few months, just wondering why error message says ‘No silent_redirect_uri configured’ even though we configured it. Any clue ?

[2021-04-07 15:55] brockallen commented on #1331
No sorry, I don't know why your solution is not working. The code flow sample does work -- I'd suggest starting with that and find out where in your design it doesn't match.

[2021-04-07 19:28] lwansbrough commented on #1280
@brockallen hold on, why not? Isn't that the point of SameSite=None? I'm having this issue in Chrome (not Firefox!) -- user signs in from a.com, gets redirected to the sign in service (IS4) at accounts.a.com, sign in successful, accounts.a.com stores a SameSite=None;Secure cookie. a.com can now sign in silently. b.com is another first party client, user visits b.com, silent sign in is attempted an

[2021-04-07 19:49] brockallen commented on #1280
you can't because many features of SPAs rely upon iframes -- token renewal and check session. browsers with ITP simply blocks cookies cross site (regardless of same site). in short, ITP simply breaks OIDC and OAuth from browsers. that's why the BFF pattern has grown up to replace SPAs using the protocols and tokens:

https://blog.duendesoftware.com/posts/20210326_bff/

[2021-04-07 19:52] lwansbrough commented on #1280
I see, I think my issue was unrelated, but good to document here: if you're testing this stuff in incognito mode on Chrome, make sure you have "Block third-party cookies" **_disabled_** on Chrome's incognito start page
![image](https://user-images.githubusercontent.com/186674/113925631-1d799180-97a0-11eb-8da1-60fd41abba35.png)

[2021-04-08 19:41] Krysztal opened #1333 "Add scope to getTokenEndpoint"
I have error during getTokenEndpoint. Battle.net APIs require to set scopes to the token request. As I see TokenClient does not do it. Can I add it somehow? If not then please add scopes to a token request.

https://github.com/IdentityModel/oidc-client-js/blob/a8a70ce68bd07373abd7d33e016a97adc5d204bc/src/TokenClient.js#L21

[2021-04-08 19:59] brockallen commented on #1333
You can set additional token request params. Try that?

[2021-04-08 20:53] obriematt commented on #1228
Sorry to jump into a closed issue, I'm curious if a configuration flag was added for this behavior?

@brockallen - would it be appropriate to open a new issue for this?

[2021-04-09 05:11] Krysztal commented on #1333
I was to sleepy tonight, I can do it, Thx!

[2021-04-09 05:11] #1333 closed, assigned to nobody

[2021-04-13 23:26] Clifte opened #1334 "Autologin by token on URL"
I've an app that uses OpenId as authentication method. I wondering if is it possible to auto login in a Webview using only the access_token in the url.

example:
http://base_url/callbackAutoLogin?jwt=asdkjaslkdj092i12alskdasklj

[2021-04-14 12:59] brockallen commented on #1334
That would be beyond the scope of this library.

[2021-04-14 17:22] robntracts commented on #1325
I believe we are also having this issue. @ARM-Source is this issue for every user or only specific users?

[2021-04-15 09:46] ARM-Source commented on #1325
Hi rob! Its for every user on dev, staging and production environments. My workaround is to switch to the Implicit flow. With me it also seemed to be that the code was to long for the URL, although I cannot say for certain. [https://github.com/IdentityModel/oidc-client-js/issues/1320](https://github.com/IdentityModel/oidc-client-js/issues/1320)

[2021-04-15 12:02] Clifte commented on #1334
I don't know if the openid spec alow this token exchange, but I think it could be useful to create a method that receive this external token and create a browser session.
how to do this?

[2021-04-15 18:20] mitar opened #1336 "Should default constructor arguments be moved to config?"
First, I think this library is really amazing. You have great internal interfaces which allow one to nicely implement alternative implementations. E.g., I am using this library inside a Chrome extension so I implemented a storage class to use [extension storage](https://developer.chrome.com/docs/extensions/reference/storage/) and [specialized extension popup](https://developer.chrome.com/docs/exte

[2021-04-15 18:57] ps1Xt opened #1337 "SignoutRedirect not redirecting"
[code]

BackEnd side
[code]
![image](https://user-images.githubusercontent.com/56559167/114923481-911d3d80-9e35-11eb-99e9-0fd0a2a0af48.png)

with signinRedirect everything works fine but with signOut there are some problems. I need logoutId but query string is empty,

[2021-04-15 19:08] richc7 commented on #1037
I am not seeing the .map file in the [dist](https://github.com/IdentityModel/oidc-client-js/tree/dev/dist) folder.

[2021-04-15 19:45] brockallen commented on #1336
Yep, this is a realization I came to a while back as well. I did build the first version of this thing like 7 years ago now (give or take?). Of course this would be a breaking change, so it's something on my TODO list if/when I ever get the cycles for a v2.

[2021-04-15 19:50] mitar commented on #1336
I do not think it is a breaking change if done like I described above (check if value is set in config, if not, use the value from the constructor).

[2021-04-15 19:54] richc7 commented on #1037
I see. The gulp code is using inline-source-maps for Webpack.

[2021-04-16 09:45] #1337 closed, assigned to nobody

[2021-04-16 16:18] nominds opened #1338 "Metadata: How to handle key rotation by AD admin"
In my web application implementation I maintain a config file (metadata) to save information regarding AD's endpoint such authorize, well-known, jwks_uri e.t.c. Because, if I try to hit "jwks_uri" from web application I received a CORS error. This file also maintain information regarding public key, kid (key id) under "signingKeys" to validate JWT's signature from OIDCJS's **ResponseValidator.js**

[2021-04-16 16:25] brockallen commented on #1338
If you have a static copy of their keys and they rotate, then yes you will need to update your copy. That's why clients don't normally do that, and instead rely upon dynamic access to the discovery document.

[2021-04-16 18:54] Entroper opened #1339 "unsupported alg name: ES512"
I got the above error message when trying to validate the token signature.  Which signing algorithms are supported?  Where can I find this out?

[2021-04-17 12:57] Exlord opened #1341 "Silent Refresh is not working in mobile browsers(android, ios)"
Hi, I have a Angular app setup with oidc, Everything is fine in desktop enviroment and silent refresh works as it should ...

But when using mobile device browsers , silent refresh does not work and the user gets logged out after the token is expired!

Is there anything happening differently when oidc detects a mobile device?

this is my config :

[code]

[code]

Should I set some config different

[2021-04-17 15:13] brockallen commented on #1341
I don't know, sorry.

[2021-04-19 09:41] nominds commented on #1338
How to get dynamic access to the discovery document ? Did you mean hit the "well-known endpoints" from SPA ?

[2021-04-19 12:03] fvoordeckers commented on #1323
Hmm indeed the issue here is that there are 2 types of parameters being stored in a single property which from my point of view should not be the case. Parameters from the JWT are simply out of scope there and can be easily parsed in another way. The other parameter do actually have the intention to serve as profile parameters. At this moment all the profile parameters are merged into a single arr

[2021-04-19 13:31] brockallen commented on #1338
The library handles that by making HTTP requests as part of its processing. Yes, the well-known endpoints.

[2021-04-20 00:42] justinbmeyer opened #1344 "Question: Supporting a single renew that is shared across all tabs?"
If multiple tabs are using the same shared access/refresh token and one of the tabs starts renewing, can I prevent the other tabs from renewing and "piggy back" off the tab that is performing the renew?

Could https://developer.mozilla.org/en-US/docs/Web/API/Web_Locks_API be used in browsers that support it?

[2021-04-20 14:17] ismeddnl opened #1345 "How can we update and reassign config to UserManager"
Hi ,

How can we update and reassign config to UserManager instead of recall the contructor (Oidc.UserManager(config)), could you please suggest how to solve this. thanks.

[code]

[code]

[2021-04-20 14:38] brockallen commented on #1345
Just create a new instance?

[2021-04-20 14:55] kuttymbekov commented on #49
'WebStorageStateStore' is not defined

[2021-04-20 14:58] kuttymbekov commented on #49
https://github.com/IdentityModel/oidc-client-js/issues/1176

Found

[2021-04-20 14:58] ismeddnl commented on #1345
actually, i dont want to create a new instance, i just want to reupdate the config to usermanager after api call.

[2021-04-21 14:21] kimlukas commented on #1062
And if you do something like this.
To have your own XMLHttpRequest Factory?
[code]

[2021-04-21 17:26] mellis481 commented on #1067
@dopry Looking at the [solution](https://github.com/dopry/svelte-oidc/blob/5401fed67175c6cdb512dca788cb2aba7bda8378/src/components/OidcContext.svelte#L83) you linked above, why couldn't/wouldn't you just add the following to the `OidcClientSettings` you use when creating a new user manager instance via `new UserManager(settings)`:

[code]
CC: @brockallen

[2021-04-21 17:36] dopry commented on #1067
Did it work for you? If so I will look more closely, it would be nice to eliminate the branch in my svelte components.

[2021-04-21 18:25] mellis481 commented on #1067
@dopry I will try and let you know. :)

[2021-04-21 22:21] balazsorban44 commented on #993
Circulating back on this, as (in my opinion) I have now come to a better understanding of how OSS works...

I would like to again apologize @brockallen and @leastprivilege if I caused discomfort. This package in a way or another set me on a path that ultimately has led me to another project revolving around OIDC and OAuth over at https://github.com/nextauthjs/next-auth, which I am now a core maint

[2021-04-22 03:37] ismeddnl commented on #1345
Hi @brockallen , i got the solution , i just reupdated the setting like this ,
[code]

[2021-04-22 03:37] #1345 closed, assigned to nobody

[2021-04-22 13:09] mellis481 opened #1347 "Is there a way to modify the post_logout_redirect_uri at run-time?"
I have a `/loggedout` page which is set in client settings as the `post_logout_redirect_uri`.  This is the page users will see when they manually log out.  We're in the process of adding an idle timeout and want the messaging on the `/loggedout` page to be different if the user was timed out vs. logged out.  I, therefore, am hoping to be able to add a query string (eg. `?timedout=true`) to the `/l

[2021-04-22 15:42] mellis481 commented on #1067
@dopry auth0 was down yesterday, but I was able to test seeing if specifying a `end_session_endpoint` in the client settings `metadata` would allow me to logout of an auth0 session.  And it worked!  It took a bit of back and forth because I had to satisfy complaints one by one that not enough metadata was included.  Here are the client settings that ultimately worked:

[code]

I'm not sure if your

[2021-04-23 13:13] mellis481 commented on #1347
Is the following an acceptable way to accomplish this?

[code]

Will this essentially allow me to override the `post_logout_redirect_uri`?

[2021-04-23 13:55] mellis481 commented on #1347
Actually even when I create a second `UserManager` specifically for setting the `post_logout_redirect_uri` with a `?timedout` query string, it's not redirecting with the query param.  I registered that URL with the IdP, it's simply not including it.

Is there a rule that OAuth/OIDC IdPs will not include a query string in the `post_logout_redirect_uri`?

[2021-04-23 14:24] mellis481 commented on #1345
@brockallen Are there any caveats to creating a second user manager instance?  For instance, would all instances have to call `singinCallback()` on the login callback?

[2021-04-23 14:42] brockallen commented on #1345
The design is that only one instance runs on a page.

[2021-04-23 19:57] ghostd commented on #1347
Hi,

Did you try to call `userManager.signoutRedirect({post_logout_redirect_uri: 'http://whatever.example.com/some/path'})`. I guess it could work according to the code:
https://github.com/IdentityModel/oidc-client-js/blob/a8a70ce68bd07373abd7d33e016a97adc5d204bc/src/UserManager.js#L433-L447

[2021-04-26 12:44] mellis481 commented on #1347
@ghostd That works. Thanks!

[2021-04-26 12:44] #1347 closed, assigned to nobody

[2021-04-27 11:56] rutup opened #1349 "Does it support code flow"
I have integrated Vuex-oidc with implicit flow. It works perfect. However when using **Code Flow**  it does not work. also it does not have option for passing response_mode which is mandate for using PKCE

[2021-04-27 12:50] brockallen commented on #1349
oidc-client-js supports code flow with PKCE. You can indicate the response_mode of query and fragment, but you must configure that on each instance. response_mode of form_post does not make sense for a client-side JS app.

[2021-04-28 08:49] petriq opened #1350 "Silent refresh iframe causes blinking scrollbar"
Visibility:hidden used when creating iframe does not solve blinking scrollbar, because visibility:hiden only hides element, but its dimensions are reserved.

You should use display:none style, or at least assign ID or any ID-like class to silent-refresh iframe (ideally the name should be editable in the client settings), so we can use styles to properly hide it. This applies to all "invisible" ifr

[2021-04-28 10:33] anilakuzum opened #1351 "Oidc-Client Library For React-Native"
Is it possible to use library **Oidc-Client** for project **React-Native** , not **Reacj.js**

[2021-04-28 11:51] oklas commented on #1351
It seems to be a duplicate #306

[2021-04-28 13:10] brockallen commented on #1351
Native apps should be using a native browser via AppAuth, not this library. Here's a reference impl: github.com/openid/appAuth-JS

[2021-04-28 13:10] #1351 closed, assigned to nobody

[2021-04-29 02:57] ysq5202121 opened #1352 "Infinite loop log, not always called"
![image](https://user-images.githubusercontent.com/8586973/116497318-a08e9300-a8d9-11eb-9d21-7cd1ea61bb7e.png)

[2021-04-29 13:50] ascazzola opened #1353 "Monitor session and UserStore"
Hello,

I have an identity server with some clients (Angular). I'm using

- MonitorSession = true and
- WebStorageStateStore = localstorage

I'm doing this steps:

1. Go to client1 and logged in with user1
2. In the same browser tab go to client2 and user1 is logged in (it is correct)
3. go to the logout and login with other user (user2) after it I automatically redirected to the client2
4. In the

[2021-04-29 14:53] Chandrama1 opened #1354 "Unable to pass extraTokenParams to signinSilentCallback while silent renew in Angular app"
I am using oidc-client library to provide authentication to an Angular 10 app. I am passing some extra params as shown below to the `signinRedirect` function. That is working as expected, but, when I am trying to do the same thing in the silent renew HTML file, the token endpoint doesn't get called. The identity provider is based on IdentityServer4.

**auth.service.ts**
[code]

**silent-callback.h

[2021-04-29 15:00] divid3byzero opened #1355 "Error status handling for OIDC session management"
I am using oidc-client-js in an enterprise SSO and SLO environment. We have implemented SLO using the OIDC session management process as defined here: https://openid.net/specs/openid-connect-session-1_0.html by providing the session state and the required OP iFrame. This is the part that works, the statuses "changed" and "unchanged" are propagated as needed.

The problem is that in case of the "er

[2021-04-29 16:57] brockallen commented on #1354
Depending on the workflow it might not be the instance of the UserManager in the iframe that's processing the code and thus calling the token endpoint.

[2021-04-29 17:00] brockallen commented on #1355
I think you have it right -- the library won't know why there's an error and the spec doesn't help with knowing if you should keep polling or not, so this library stops the polling. IIRC there's an API to start/stop, so you might be able to reach thru the UserManager and find the object you need to re-start the polling.

[2021-04-29 17:01] brockallen commented on #1353
Well, I'm not sure there's a right answer for what's correct behavior. This is a library and you can use it in many ways to satisfy your requirements.

[2021-04-29 17:02] brockallen commented on #1339
IIRC we support that, but you need to use the non-slim version.

[2021-04-29 17:05] #1294 closed, assigned to nobody

[2021-04-29 17:05] #1309 closed, assigned to nobody

[2021-04-29 17:07] #1319 closed, assigned to nobody

[2021-04-29 17:13] brockallen commented on #1321
Did you ever figure this out?

[2021-04-29 17:15] #1322 closed, assigned to nobody

[2021-04-29 17:21] #1324 closed, assigned to nobody

[2021-04-29 17:21] #1325 closed, assigned to nobody

[2021-04-29 17:27] #1331 closed, assigned to nobody

[2021-04-29 17:30] #1332 closed, assigned to nobody

[2021-04-29 17:31] brockallen commented on #1334
You'd have to come up with your own design for this.

[2021-04-29 17:31] #1334 closed, assigned to nobody

[2021-04-29 17:31] #1338 closed, assigned to nobody

[2021-04-29 17:31] #1341 closed, assigned to nobody

[2021-04-29 17:45] ascazzola commented on #1353
@brockallen thanks are compatible the monitorSession=true and the WebStorageStateStore = localstorage at the same time?

[2021-04-29 18:02] ShivaniDemra opened #1356 "Allow custom parameters to be set in silent renew"
I have implemented silent renew in my react app. I am sending extraTokenParams (appId and domain) when authorizing using IdentityServer4. I need to pass the same custom parameters when the token is being refreshed. Could not find a way to do it.

Code snippet for authorize endpoint:
mgr.signinRedirectCallback(window.location.href).then(function () {
                window.location = "/";

[2021-04-29 18:32] brockallen commented on #1353
Sure.

[2021-04-29 18:54] ascazzola commented on #1353
@brockallen I'm not understanding how can I avoid the issue that I explained with that configuration, when the monitorSession get from the UserManager.getUser() a user that was logged off in other client

[2021-04-29 21:25] brockallen commented on #1353
Well, this is why the default is to use sessionStorage for the user storage. They will remain isolated that way, and then your monitor session will detect that the user has changed.

[2021-04-29 22:16] ascazzola commented on #1353
@brockallen the issue happen with session storage too, because is persisted until the browser / tab is closed

[2021-04-30 06:01] divid3byzero commented on #1355
Actually, my problem is not that I can't start or restart the polling. There is a configuration parameter to continue polling in the error case (which, by the way, is not documented, I found the parameter "by accident" as I was searching through the code to find a solution for my issue). My problem is that, in case of an error, I want to be notified so I can take further action such as logging the

[2021-04-30 11:41] brockallen commented on #1355
Locally or also at the OP?

In either case, that sounds dangerous. If you search the archives there are a few issues where people are reporting that "error" is returned for completely unrelated reasons. The main one I can think of is a browser plug in that was hammering all iframes with postMessage, which produced "error".

[2021-04-30 11:49] divid3byzero commented on #1355
Well, in my case probably at both.

I understand what you mean by dangerous. That is why I suggest that the library could provide an event so the client can decide what needs to be done. This "error status event listening" could additionally be "guarded" by a setting that is set to `false` per default so that in the default case the session management error status results in the current behaviour

[2021-04-30 12:42] brockallen commented on #1355
Ok, so you're looking for an error event on error. Got it.

[2021-04-30 13:32] divid3byzero commented on #1355
Yes, that is exactly what I am looking for. And like I said, I can implement a suggestion and send a pull requerst if you want.

[2021-04-30 15:32] brockallen commented on #1355
You can send a PR, but my time is strapped to even review.

[2021-05-01 10:31] FaisalST32 opened #1357 "Iframe window is missing display: none; style"
The iframe window created using IFrameWindow class has a missing 'display: none' style. This causes the window to take up space on the screen (4px x 4px).

This can deter user styles especially while working with websites that use full page styles (100vh, etc).

I can create a PR for this as I have identified a fix.

[2021-05-02 12:57] okandonmez opened #1359 "How can i add signout option?"
Hello,

Thanks for such a easy usefull library. Now i can successfully signin with your oidc client but i can't find any option for signout. How can i implement this?

[2021-05-02 13:25] brockallen commented on #1359
There's a signoutRedirect API.

[2021-05-03 09:29] NickH-nz opened #1360 "Add usePkce flag to allow authorization_code flow without PKCE"
I ran into an issue recently with an Authorization Server that supports integrations with the OAuth2.0 authorization_code flow both with and without PKCE (with no upgrade path for enabling PKCE on old integrations).

You could argue that it's a bug with the Auth Server not being correctly backwards compaptible, (clients SHOULD include PKCE parameters regardless of server support, as per https://to

[2021-05-03 09:30] NickH-nz commented on #1360
I have the bulk of the code working locally and can submit it in a PR for review, but wanted to get the input of the maintainers before progressing further.

[2021-05-03 11:26] divid3byzero commented on #1355
Ok, I will implement something and commit via pull request. I am sure that others will also profit from this - this is something that everyone using OIDC session management should potentially need even though it is not explicitly defined by the specification.

[2021-05-03 11:30] MorisR opened #1361 "Redirect the user back after a signout followed by a signin?"
I want to redirect the user back to the origin/referrer/from route after a "signout" followed by a "signin".

- passing a "state" arg to ```loginRedirect``` works fine.
- when I try passing a "state" arg to ```signoutRedirect```", the value is being overridden by a random string.

[code]
    ![](https://user-images.githubusercontent.com/10247681/116870286-f4bbaf00-ac1a-11eb-95ab-a1fb4e9ab867.png)

[2021-05-03 21:41] asadsq commented on #1259
Did you guys ever find out a solution. I have an angular app that flickers upon initial load on Safari browser. The error I get in the browser dev console is: Uncaught (in promise) Error: No matching state found in storage

The home page flickers for about 8-10 seconds then goes on to load the contents properly. Here's a link to some of my code:

https://stackoverflow.com/questions/67350344/angula

[2021-05-04 10:16] ghost opened #1362 "Support for Code Flow PKCE with Refresh tokens"
As far as I see, the `oidc-client-js` library supports only silent renewal with a silent renew callback URL.
Is there a way to make it work with refresh token mechanism? If not, are there any plans to support it in the future?

[2021-05-04 12:11] brockallen commented on #1362
It supports refresh tokens and renewal already.

[2021-05-04 12:16] ghost commented on #1362
Cool, how can we configure to use `refresh token`? I don't see that in the documentation.

[2021-05-04 13:23] brockallen commented on #1362
Request offline_access as a scope, as per the spec. https://openid.net/specs/openid-connect-core-1_0.html#OfflineAccess

[2021-05-04 20:35] ghost commented on #1362
@brockallen Perfect, thanks a lot. It works when using `offline_access` scope. 🎉

Could you please mention it in the [Wiki ](https://github.com/IdentityModel/oidc-client-js/wiki)documentation?
That would be helpful for other developers too.

[2021-05-04 21:25] Chandrama1 commented on #1354
I am not sure what you meant to say. Do you mean that there may be multiple instances of the User Manager created and that is causing the problem?
The silent-callback.html is outside the Angular project and is loading a local copy of oidc-client.min.js. Please let me know if this is this the correct way of doing it. PFA the file for your reference.
[silent-callback.txt](https://github.com/Identity

[2021-05-05 00:13] brockallen commented on #1362
You know refresh tokens in the browser are not really recommended, though, right?

https://pragmaticwebsecurity.com/talks/xssoauth.html

[2021-05-05 00:16] brockallen commented on #1354
signinSilentCallback does not contact the token endpoint. It passes the result back to the parent window where the parent windows completes the protocol exchange. So this means any data you pass into signinSilentCallback is moot. Instead pass the params into signinSilent. Does that not work for you?

[2021-05-05 00:21] Chandrama1 commented on #1354
Tried with signinSilent. It worked. Thanks

[2021-05-05 06:26] ghost commented on #1362
That's what I thought at first.
But recently, Auth0 recommends **refresh token rotation** as more secure than silent renewal with iframe.

See https://auth0.com/docs/tokens/refresh-tokens#for-single-page-apps
![image](https://user-images.githubusercontent.com/77727801/117103609-f2706680-ad7a-11eb-9fc9-ac50dff874fe.png)

[2021-05-05 11:45] brockallen commented on #1362
Did you watch the video above?

[2021-05-05 13:01] frontendplace commented on #1313
it should be: client_authentication? : string

can anybody make PR for this: in node_modules/oidc-client/index.d.ts
I am not allowed to push changes

line 126:
export interface OidcClientSettings {
  /** The URL of the OIDC/OAuth2 provider */
  authority?: string;
  readonly metadataUrl?: string;
  /** Provide metadata when authority server does not allow CORS on the metadata endpoint */
  metadat

[2021-05-05 13:39] #1354 closed, assigned to nobody

[2021-05-05 13:40] Chandrama1 commented on #1354
`this.manager.events.addAccessTokenExpiring(() => {
            console.log('token expiring');
            this.manager.signinSilent({
                extraTokenParams: {
                    appId: 123,
                    domain: 'abc.com'
                }
            }).then(user => {
            }).catch(e => {
            });
        });`
This worked for me hence closing it.

[2021-05-05 15:25] Lautaro-Garcia opened #1363 "UserManager.signinRedirect() returns a resolved promise even when the redirection isn't finalized"
Hello! Thank you for mantaining this library, I've been using it for some time now, and yesterday I found a case that I wasn't expecting. I don't know if it's the desired use case for that API. If it is, ignore this issue.

So, if I use the `UserManager#signinRedirect()` method to start the sign-in process it returns a resolved promise, allowing code that's hooked up in a `.then()` method to run e

[2021-05-05 15:59] ghost commented on #1362
I just watched the video. Thanks for sharing.
I understand the attacking vectors on refresh token rotation now.

Could you please explain how silent renewal with iFrame is still better than refresh token rotation?
Is silent renewal with iFrame not vulnerable to XSS?

[2021-05-05 16:12] asadsq commented on #1259
@brockallen - any updates please?

[2021-05-06 04:00] Exlord commented on #1341
Ok testing it shows that silent refresh is actually working while the browser is open, but if I switch to another app or close the browser and come back after a while then I have to enter the user/pass again ! ant idea on this one?

[2021-05-08 21:26] MorisR commented on #1361
Anyhow, resolved it with a workaround using session storage :/

[2021-05-08 21:26] #1361 closed, assigned to nobody

[2021-05-10 10:06] peelybgl opened #1373 "Latest version appears vulnerable to CVE-2021-30246"
We've recently seen an NPM advisory for a critical dependency issue relating to `jsrsasign`, https://www.npmjs.com/advisories/1672.

We use release `1.5.4` of `oidc-client-js`, and the advisory suggests we update to release `1.11.5` (latest). However, while trying to determine what the impact of this vulnerability was to us, we stubmled across this file https://github.com/IdentityModel/oidc-client

[2021-05-12 15:30] nilact opened #1375 "Default storage mechanism not working"
I'm using oidc-client.js for authentication and various flows, such as renewing the token and logout for Azure B2C AD.

I have the below configuration:

[code]
Despite the fact that I have mentioned the localstorage as the default storage mechanism, it still considers sessionstorage.

Do I need to make any other changes to make it work?

[2021-05-12 22:23] brockallen commented on #1375
You'd need to configure similar values in the signin-callback.html

[2021-05-13 13:24] andrei-kuzmin-godel commented on #1373
Hello there, we're in the same position.
Any updates on this one?

Thanks!

[2021-05-13 13:53] brockallen commented on #1373
Isn't this a dup of an older issue?

[2021-05-13 14:07] peelybgl commented on #1373
Not that I could see @brockallen , I've just had a read of the titles of the 79 open issues and none jump out at me, and i'm not sure I can read all 1000 closed issues 😅

[2021-05-14 10:57] nilact commented on #1375
@brockallen Thanks it is working after making changes in signin-callback.html.

[2021-05-14 10:57] #1375 closed, assigned to nobody

[2021-05-15 15:11] gcacars commented on #624
No. It's in the specs: [RFC8707](https://datatracker.ietf.org/doc/html/rfc8707)

If my web application needs a token for each API, how can I use the library? (i.e. how to request a new token for the resource, and it is capable to store multiple access tokens?)

Example:

- Super front-end: (IDT: ey....sadsad, AT: 000000front)
  - User API (resource: userapi.example.com) AT: 11111111111aaaaaaa
  -

[2021-05-15 17:10] brockallen commented on #624
To be fair, the date of that spec if after the date of this thread, oh and when this library was created.

[2021-05-16 12:22] gcacars commented on #624
Yes, but this is currently not supported yet?
It's possible with the current version or a PR is needed?

[2021-05-16 13:35] brockallen commented on #624
As of now you'd have to use multiple instance of the UserManager. I've not tried to tinker with the internals to support more than one resource. In general the [BFF pattern](https://blog.duendesoftware.com/posts/20210326_bff/) has been preferred over doing token work in the client, so you can consider that instead. Also, there is [good support](https://identitymodel.readthedocs.io/en/latest/aspnet

[2021-05-16 14:03] gcacars commented on #624
Thanks @brockallen ! I thinking about BFF, but I don't want to use it for now.
I'll do some tests, and update this thread if I can or make a PR.

[2021-05-16 14:41] TwinbrotherPro opened #1376 "Call oauth token endpoint with http GET instead of POST"
Right now I am integrating this library into my client code.

Sadly my IDProvider only supports the GET method for the token endpoint.

Is there a way to configure oidc-client-js to do the token request with an HTTP GET?

[2021-05-16 16:36] brockallen commented on #624
Feel free to research it, but don't bother with a PR if it's any significant work. I don't have the time to review something too complex to be added.

[2021-05-16 16:38] brockallen commented on #1376
Sadly your token server is not spec compliant, and this library will [try to] remain spec compliant:

"The client MUST use the HTTP "POST" method when making access token requests."

https://datatracker.ietf.org/doc/html/rfc6749#section-3.2

[2021-05-17 17:31] maximsan commented on #1058
Hello @brockallen. We get the same error but with IdentityServer3. We've checked auth_time in original token and in id_token that's returned by Identity Server when we do token refreshment and they match every time, but we still have the error `UserManager._validateIdTokenFromTokenRefreshToken: auth_time in id_token does not match original auth_time`. Any ideas what can be the reason ? Thank you i

[2021-05-17 18:26] brockallen commented on #1058
No idea. IS3 has been out of support for a very, very long time. You might want consider [upgrading](https://duendesoftware.com/products/identityserver).

[2021-05-17 19:44] maximegel opened #1377 "Claims with uri as a key returned as array"
## Current behavior

Our ID token contains claims with uri as a key and an object as the value:

![image](https://user-images.githubusercontent.com/18669972/118546594-2a39bf80-b726-11eb-91ea-2494ebd55b73.png)

For some reason, oidc-client store and return these claims as an array with duplicates:

![image](https://user-images.githubusercontent.com/18669972/118547053-d5e30f80-b726-11eb-922e-eb55595

[2021-05-18 13:40] ascazzola commented on #1353
@brockallen maybe my comment was not clear, the problem that I have is because the monitor session detects that the user has changed and trigger the log out, but the logout was already done in other client and I'm logged in with other user

[2021-05-18 13:56] brockallen commented on #1353
Never trigger logout automatically. Only when the user clicks logout.

[2021-05-18 14:07] brockallen commented on #1377
But when merging claims from the userinfo endpoint they have to get put in there somehow.

[2021-05-18 14:12] ascazzola commented on #1353
@brockallen  I follow the code and the _start method on the SessionMonitor calls

this._checkSessionIFrame = new this._CheckSessionIFrameCtor(this._callback.bind(this), client_id, url, interval, stopOnError);

and the _callback method get the user from the user manager and querySessionStatus and if the sub are different trigger the logout event, but in my case other user is logged in and the logou

[2021-05-18 14:18] ascazzola commented on #1353
[code]

[2021-05-18 23:42] AnthonyCrowcroft commented on #693
In an extension of this question is there any documentation on how we can hand the token from one subdomain to the other

[2021-05-19 19:02] maximegel commented on #1377
@brockallen  Thats why I have duplicates? One coming from the ID token and one coming from the userinfo endpoint? It kind of make sense but its not very intuitive. Would it be possible to merge identical claims and return them as an object?

[2021-05-20 00:35] brockallen commented on #1377
I don't know, but it's possible.

[2021-05-20 09:21] mesju opened #1378 "index.d.ts - Type definitions für Global class are missing"
Please extend type definitions index.d.ts for the Global class.

Regards,
Matthias

[2021-05-21 14:43] ismail261 commented on #1217
Hi @pmcb55. I am trying to follow your conversation but I am not getting refresh token in user object and not even in sign in response.

I have "offline_access" set in scope and response_mode is fragment.

Will this thing not work with fragment? Am I missing something?

[2021-05-24 05:24] nominds commented on #1338
I managed to resolve the CORS issue by modifying "Access-Control-Allow-Origin" on the token issuing server. IMO, that is not the correct way. @brockallen as mentioned by you earlier validating token signatures should be job of backend system and not the client. I was planning to modify the OIDC.JS library so that former does not verify signature of the token neither by requesting 'jwks_uri' endpoi

[2021-05-24 08:52] peelybgl commented on #1373
Any further thoughts on this @brockallen ?

[2021-05-24 11:15] egbertn commented on #1363
Hey I am not the author, but signinRedirect make the browser navigate to a new page. That means, any current scripts would stop anyway.
The place where the flow continues would be at signinRedirectCallback() which you need to implement.

[2021-05-24 16:40] nominds opened #1379 "Metadata: How to handle key rotation by AD admin"
Apologies for creating a duplicate issue. This issue is in continuation to issue - "Metadata: How to handle key rotation by AD admin #1338". Issue #1338 was closed around 25 days back so creating a new issue to solve a related problem.

**Follow-up question:**

I managed to resolve the CORS issue by modifying "Access-Control-Allow-Origin" on the token issuing server. IMO, that is not the correct w

[2021-05-24 17:01] brockallen commented on #1379
why not?

which would really be a different architecture different than the original design of oidc-client.

IMO, then it should just use the [BFF pattern](https://blog.duendesoftware.com/posts/20210326_bff/) and not use oidc-client-js.

[2021-05-24 17:01] brockallen commented on #1378
feel free to submit a PR

[2021-05-24 17:02] #1376 closed, assigned to nobody

[2021-05-24 17:02] brockallen commented on #1373
I believe this was the issue I was speaking of: https://github.com/IdentityModel/oidc-client-js/issues/743

[2021-05-24 17:04] brockallen commented on #1360
I believe a client would not know if the token server supported PKCE or not. IOW, it does not hurt to send the params.

[2021-05-24 17:17] nominds commented on #1379
why not?
Because, AD admin's do not like to fiddle with response headers as it can risk application security.

IMO, then it should just use the BFF pattern and not use oidc-client-js.

I will explore this approach and get back.

[2021-05-24 19:03] brockallen commented on #1379
Too bad it's not a first class feature of the product then :(

But yes, BFF is the preferred approach. There is a move away from tokens in the browser.

[2021-05-25 19:27] justinbmeyer commented on #1344
Any thoughts on this? I can work to submit a patch.

[2021-05-25 19:31] brockallen commented on #1344
The main issue is my bottleneck: If it's a complicated solution, then I don't have time to review.

[2021-05-26 07:08] marwalsch commented on #1362
@keth-dev Were you able to get enlightened on that? I was wondering about the same. From what I understand from the video there is no way to avoid browser vulnerabilities aside from using BFF, which essentially means once someone busts your SPA with XSRF it doesn't really matter whether you use refresh token rotation or silent renewal.

[2021-05-26 07:26] keropodium commented on #1263
Hi, just wanted to let you know that this was confusing for me as I thought that by setting `staleStateAge` this would work out of the box and be handled by the client.

[2021-05-26 08:38] ux-engineer commented on #743
@brockallen this problem still exists. I have installed oidc-client package via NPM and this vulnerable code snippet gets into build bundle, raising flags with security auditing tools.

Are there plans for 2.0 without this dependency included?

[2021-05-26 08:51] ux-engineer commented on #1326
https://github.com/IdentityModel/oidc-client-js/issues/743#issuecomment-848582818

[2021-05-26 11:55] brockallen commented on #743
Once we remove implicit flow, yes.

[2021-05-26 12:00] brockallen commented on #1362
The difference is the amount of damage in what amount of time. A leaked refresh token will allow an attacker much longer and potentially infinite time if there's no absolute limit on the RT.

[2021-05-26 12:00] brockallen commented on #1362
The difference is the amount of damage in what amount of time. A leaked refresh token will allow an attacker much longer and potentially infinite time if there's no absolute limit on the RT.

The BFF approach we suggest (if you're using ASP.NET) is this one: https://blog.duendesoftware.com/posts/20210326_bff/

[2021-05-26 13:15] Obothlale commented on #1360
I've experienced a 400 bad request in the past before, where an Identity Provider does not require PKCE. It's not a bad idea to make PKCE a bit more flexible.

[2021-05-26 14:57] brockallen commented on #1360
Yea, I've heard that too. But the specs clearly state that a token server is to ignore parameters it does not recognize. I don't want to code for non-spec compliant STSs.

[2021-05-26 15:00] odesyatnyk opened #1381 "Possibility to use with SAML 2.0 Bearer Profile"
Is it possible to use this package with for [SAML 2.0 Bearer Profile for Authorization Grant](https://www.netiq.com/documentation/access-manager-45-developer-documentation/administration-rest-api-guide/data/other-oauth-20-grants.html#saml-20-bearer-profile-for-authorization-grant), Netiq Access Manager is identity provider?

I have a SPA with Vue JS and backend in ASP.NET Core.

I will be grateful

[2021-05-26 15:25] brockallen commented on #1381
Ask them

[2021-05-26 15:25] #1381 closed, assigned to nobody

[2021-05-26 19:23] Lautaro-Garcia commented on #1363
That's correct, I would expect that the things "below" the `signinRedirect()` wouldn't be executed, but that's not what I found in practice. Maybe it's because my browser doesn't change pages that quickly (I tested it with both Firefox and Chrome).

[2021-05-26 22:17] erikrenaud opened #1382 "Issue with B2C when an accessToken AND idToken is present - accessToken does not contain userinfo_endpoint"
Hello,

when using the following config:
  public oidcSettings: any = {
    userStore: new WebStorageStateStore({ store: window.localStorage, prefix: 'Auth' }),
    authority: '',
    client_id: '',
    redirect_uri: window.location.origin + '/sign-in-callback',
    automaticSilentRenew: true,
    includeIdTokenInSilentRenew: true,
    silent_redirect_uri: window.location.origin + '/sign-in-silent

[2021-05-27 07:49] peelybgl commented on #1373
No, that is not the same issue (Or I am really misunderstanding). My issue is more of a question (As you have now labeled it), forget the NPM audit stuff for a moment.

First, a [CVE exists](https://nvd.nist.gov/vuln/detail/CVE-2021-30246) which states that any version of `jsrsasign` before `10.2.0` is vulnerable.

Looking at the `oidc-client-js` source code, I find [this file](https://github.com/

[2021-05-27 12:44] brockallen commented on #1373
I'm happy to accept a working PR for this. The reason we have a copy is due to the lack of molecularity of that package and how heavy weight it is. So how we pull it in is to break it apart. So no idea if what's vulnerable from it is actually included in what we use.

[2021-05-27 19:33] deepdesai003 opened #1384 "Cookies deleted but the tokens are still in Local Storage"
Hello, this is a question.

I am using oidc client for authenticating a JS client with identity server.
I have a callback html and this callback html is throwing an error every time the app is mounted and callback.html is called.
ErrorResponse: login_required

This happens only when a cookies is deleted, and the local storage still contains a an unexpired token.
My token is not expired, my code ha

[2021-05-27 21:42] brockallen commented on #1384
It's not clear to me the context in which you get "login_required" (silent login, automatic silent login, query session status?), but what it means is that you made a request to the authorize endpoint, the user does not have a session so they must login, and so the response failed and that error code let you know why it failed.

[2021-05-28 11:25] TimonV87 opened #1385 "Logout with POST method instead of GET"
In our project we would like to use a POST to call the logout endpoint, this is because our id_token can be very big and we run into problems when we do a GET request.
How could we do this?

[2021-05-28 11:54] brockallen commented on #1385
That's not currently supported, but you could get the id_token from the UserManager and build a form yourself to POST.

[2021-05-28 12:58] deepdesai003 commented on #1384
Even, I am not able to understand the context. Are there any logs to where I can see a more clear reason?
When a user reloads the app, the callback.html is also reloaded and the script runs on it own.
`signinRedirectCallback()` throws the error when the tokens are in local storage but cookies are somehow deleted for the site

[2021-05-28 13:19] brockallen commented on #1384
But the error is "login_required"?

[2021-05-28 13:26] deepdesai003 commented on #1384
Yes, from the callback.html

[2021-05-28 20:24] Mikilll94 opened #1386 "Path `id_token_hint` is longer than the maximum allowed length (50)."
Hello,
I have a React SPA app. Normal login works perfectly but silent login is not working. I receive the following error during silent login:

[code]

Here is my `UserManager`

[code]

I would be very for glad for any solutions to this error.

[2021-05-28 22:19] brockallen commented on #1386
You can disable sending the id_token_hint on silent logins with the `includeIdTokenInSilentRenew`.

[2021-05-29 00:05] Mikilll94 commented on #1386
@brockallen
Thanks. But now I receive a different error:
[code]

I am also curious why normal login does not have such problems.

[2021-05-29 01:39] brockallen commented on #1386
Then if the STS requires a hint but it don't like how big the id_token is, you need to either work on getting it smaller or allowing a larger one to be accepted. Both are changes in the STS, not in this library.

[2021-05-29 01:39] #1386 closed, assigned to nobody

[2021-05-29 14:27] thinkerytim commented on #1319
@ngoanhtan can you explain your solution please?

[2021-05-31 05:55] ebinroy opened #1387 "Slient renew openid-configuration is being canceled"
Hi,
 I am using "oidc-client": "^1.11.5", While calling silent renew openid-configuration is being canceled

**in silent-callback.html**
[code]
In chrome network tab I am getting below error but access token is being renewed without any issue. What is the cause of this being cancelled? Kindly advise

![1](https://user-images.githubusercontent.com/45000952/120146476-bf08e680-c217-11eb-8fa7-1e876af1

[2021-05-31 07:45] TimonV87 commented on #1385
@brockallen Thanks for the response.
So i know how to get the id_token, but what do you mean with build a form?
And can i also clear all the state myself? Like the state for the user etc?

[2021-05-31 07:46] sk222sw commented on #1373
jsrsasign removed the vulnerabilities a few years ago according to their [changelog](https://github.com/kjur/jsrsasign/blob/36d7d61f612cd6316f4c23322688970a383428a6/ChangeLog.txt#L946) and [this file](https://github.com/kjur/jsrsasign/blob/master/ext/yahoo.js)

 But please correct me if I'm wrong, cause my team is also looking into this :)

[2021-05-31 14:24] deskoh commented on #1259
I’m using React app. For some reason everything works well running in development mode. In production build, the state could not persist in local storage before redirects happen. For now changing to session storage for state store works. Still a mystery.

[2021-06-01 04:30] ebinroy opened #1388 "Help needed on , STS logout then silent renew force to sign in"
Hi All,
if STS user has logout then silent renew will be called. In silent renew I will get the query string error="login_required". I tried to the below code but I would like to redirect to the STS login again

[code]

instead of this code `new Oidc.UserManager(stsSettings).removeUser(); `I have tried new `Oidc.UserManager(stsSettings).signinRedirectCallback();` and `new Oidc.UserManager(stsSetti

[2021-06-01 09:49] marwalsch commented on #1362
@brockallen I see, but once the length of sessions kept with the ID provider for silent renewal surpasses refresh token lifetime it should be virtually the same if I am not mistaken.

[2021-06-01 11:48] LukaszGrela commented on #1321
In addition to this issue I have a similar one logged [here](https://github.com/facebook/create-react-app/issues/10633). Hot reloading is in a some sort of a loop and in best case scenario logs user out after some repetitions. The last thing called is `onUserSignedOut` callback
[code]

where I clear local storage from user data. To me misbehaving browser is Dissenter though (Version 1.5.114 Chromi

[2021-06-01 16:15] justinbmeyer commented on #1344
Ideally, it should just be putting a web-lock around the code that makes the refresh:

[code]

And telling people to use the polyfill:

https://github.com/bitovi/web-locks-polyfill

Even better, we could feature detect if `locks` exists:

[code]

This would allow people to still use oidc-client without the polyfill in browsers that are missing web-locks.

[2021-06-02 00:41] willmcclellan commented on #1313
Added this in #1390

[2021-06-02 17:55] brockallen opened #1391 "Looking for a new maintainer"
I've been working as the main and (for the most part) only individual on this project for 6+ years. Much has changed since then in the work of JavaScript and many updates are needed here. I no longer have the time to keep up and maintain this library and project (well, really haven't for some time now as many know).

As such, I plan to disable PRs and won't be responding to issues going forward. T

[2021-06-02 18:14] panva commented on #1391
@brockallen let's meet to see if this is something I could take over. (I believe my oidc oriented javascript track record needs no proof)

[2021-06-03 16:36] manjuls-94 commented on #949
Hi @atbelarmino
How did you solve this issue?

[2021-06-03 17:55] EloHg commented on #1264
Hello, I am having this exact issue. @slieschke did you find a workaround or did you end up using a different library?
@brockallen Any idea of when this enhancement could be done?
Thanks!

[2021-06-03 20:14] slieschke commented on #1264
@EloHg I've worked around this by patching `signinSilent` at runtime:

[code]

I've also got an `oidc-client-js` enhancement that adds a `includeScopeInTokenRefresh` option at https://github.com/IdentityModel/oidc-client-js/compare/dev...slieschke:support-azure-ad-access-token-refresh. I'm holding off raising a PR at this point however as I've noticed Microsoft's docs now state that the `scope` pa

[2021-06-08 16:56] deleonio commented on #1391
... refactoring to typescript.

[2021-06-10 10:20] samuel99 opened #1392 "Bearer token type casing?"
First of. This is my first time implementing OIDC, have that in mind when reading the following, my terminology might be wrong.

So, I'm using the oidc-client library to connect to an auth server from an Angular app. When I try to authenticate to an API, I append the authorization headers like so:
[code]
The request looks like this:

![image](https://user-images.githubusercontent.com/223954/121507

[2021-06-10 12:36] tchmnn commented on #1391
I'd like to support maintenance, but I don't think I'm proficient enough to take over the project as is by myself.
Feel free to reach out.

[2021-06-10 17:35] GuentherK commented on #1392
I have to say I actually never used the token_type property and instead always wrote `Bearer ${user.access_token}`. The access_token prop is from the oidc-client usermanager

[2021-06-10 18:21] samuel99 commented on #1392
Thanks for your reply @GuentherK!

Since this is my first time implementing oidc, I followed a tutorial and Scott used the token_type property. But then i know it's okay to just hardcode it to Bearer.
https://www.scottbrady91.com/Angular/SPA-Authentiction-using-OpenID-Connect-Angular-CLI-and-oidc-client

Thanks!

[2021-06-12 13:04] daxnet opened #1393 "login_required error in web browser console when calling `signinRedirectCallback`"
I'm using ASP.NET Core IdentityServer4 as the IdP and oidc-client library in my Angular project to integrate the id service. However, after user login, following error occurred twice in the web browser console:

[code]

My ASP.NET Core IdentityServer4 has the following client configuration:
[code]

In my Angular front-end app, I created the following `AuthService`:
[code]

Since I configured the r