[2017-07-27 17:22] lumamatadamas commented on #172
Hi i have the same problem, iam working with React. my client js configuration
` authConfig =
        {
            authority: "http://localhost:5000",
            client_id: "jsClient",
            redirect_uri: window.location.origin + "/callback",
            response_type: "id_token token",
            scope: "openid profile emapi ",
            post_logout_redirect_uri: window.location.origin

[2017-07-29 06:42] Lieblein commented on #327
I had a similar problem with getUser. In my case, i found solution to problem.
You can look at getUser code (https://github.com/IdentityModel/oidc-client-js/blob/e21b167a30712f9672603e2d7b9478cd5bf4686f/src/UserManager.js).
[code]
getUser returns null when this._loadUser () returns null. _loadUser code from same file:
[code]
_loadUser returns null when no value in storage found.
See, is value in s

[2017-07-31 06:07] crudh commented on #343
@stuartbloom not that I know of, I don't think I have the time to work on a PR for this now that it works for us (we are in the last phase in a large project). And sorry for the late answer, just got back from vacation.

[2017-07-31 06:44] MovGP0 commented on #387
I did not find an implementation in `oidc-client-js`, but there is token validation in the angular client from @damienbod :

https://github.com/damienbod/angular-auth-oidc-client/blob/master/src/services/oidc.security.validation.ts

[2017-08-01 09:54] sattaman commented on #389
If your redirect uri is handled by the application , so something like com.myApp://authredirect then does this not work? I've done something similar in React Native.

[2017-08-01 16:45] brockallen commented on #387
oidc-client does validate the id_token. The expiration of the id_token is sort of moot once validation has been completed. I think what you really care about is the expiration of the access token, and oidc-client provides help and management APIs for that.

[2017-08-01 16:51] brockallen commented on #381
All set on this issue? Can we close?

[2017-08-01 16:52] brockallen commented on #383
You can set the `popupWindowFeatures` on the settings: https://github.com/IdentityModel/oidc-client-js/wiki

[2017-08-01 16:53] brockallen commented on #379
All set on this issue? Can we close?

[2017-08-01 16:53] brockallen commented on #375
All set on this issue? Can we close?

[2017-08-01 16:54] brockallen commented on #385
Sounds like an odd timing issue -- someone else recently reported something similar.

[2017-08-01 16:55] #374 closed, assigned to nobody

[2017-08-01 16:57] brockallen commented on #389
You should be using a different library than this for a native app. See here for a reference: https://github.com/openid/AppAuth-JS

[2017-08-01 16:57] #389 closed, assigned to nobody

[2017-08-01 17:18] mina-skunk commented on #385
I have since rewritten my auth code and can reduplicate for now.

[2017-08-01 17:18] #385 closed, assigned to nobody

[2017-08-01 17:20] cportermalta commented on #375
Hi @kristofdegrave ,

Thanks for this and thanks for the link also.

The claims I'm referring to are rather standard, non app-specific and immutable (e.g.  first name, last name, home address and tel number). Of course however, our designers have designed in-app profile management, rather than redirecting to identity server's pages. These claims are not used for authentication. So, we need to hold

[2017-08-01 18:10] brockallen commented on #375
Nope, that sounds fine. Obviously once many apps need the same data, then there is redundancy and it might make sense to make IdSvr issue those as claims in various tokens.

[2017-08-01 19:41] #318 closed, assigned to nobody

[2017-08-02 06:48] AGuyCoding commented on #387
so does that mean that this code
[code]
does check if the id_token is also expired?

The validation of the access_token does indeed work.
___________
regardless of the above code ...
i really dont  know if it is important but the value of **IdentityTokenLifetime** is  greater than the value of **AccessTokenLifetime**, also i set **UpdateAccessTokenClaimsOnRefresh** to TRUE
_____________
Is the id_

[2017-08-02 10:19] jansivans opened #392 "Use with javascript host application"
I am currently developing Web Api which will be used as IdentityServer4 host. There will be also SPA (Angular) which will be used as UI for host.
I'm curious whether it is possible to use odc-client-js not for client application, but for host application?
If yes, then how?

[2017-08-02 10:21] brockallen commented on #392
I don't understand.

[2017-08-02 10:35] jansivans commented on #392
Imagine I have this IdentityServer implementation:
https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Quickstarts/6_AspNetIdentity/src/IdentityServerWithAspNetIdentity

But instead of MVC and Razor Views I have Web Api and Angular app.
So my Angular app is not a "Client", but it is javascript app which is used as IdentityServer UI.
Can odc-client-js library be used in this situ

[2017-08-02 10:37] brockallen commented on #392
Yes, it can. And in fact, look at this quickstart: https://identityserver4.readthedocs.io/en/release/quickstarts/7_javascript_client.html

[2017-08-02 10:37] jansivans commented on #392
But as I see here https://github.com/IdentityModel/oidc-client-js/wiki UserManager requires client_id.

[2017-08-02 11:01] jansivans commented on #392
The problem is that my IdentityServer login page is a part of Angular app.
Should I register my app as a Client and make redirections to itself?

[2017-08-02 11:02] brockallen commented on #392
Then that's not a client, so oidc-client.js is not appropriate.

[2017-08-02 16:23] cportermalta commented on #375
@brockallen thanks for this.

[2017-08-02 16:23] #375 closed, assigned to nobody

[2017-08-03 11:34] malloy045 commented on #389
I've had zero luck with AppAuth-JS in our project.  Build/npm errors right out of the gate.  It seems like it's still in its infancy stages.

[2017-08-03 11:47] brockallen commented on #389
Well, you're building a native app, not a browser-based app (at least according to the OAuth2/OIDC distinctions), so oidc-client is not designed for native apps.

[2017-08-03 12:01] sattaman commented on #389
@brockallen Is there anything specific that AppAuth-JS does that this library doesn't? I'm using this library in a native app and it seems to be working.

[2017-08-03 12:11] brockallen commented on #389
It does hybrid flow and PKCE. This library only does implicit.

[2017-08-03 14:38] malloy045 commented on #389
@brockallen I just want to clarify, I'm working on a hybrid/Cordova app - which this library seemed to originally support (CordovaPopupNavigator, CordovaIFrameNavigator, etc).  I understand hybrid+PKCE flow, but have yet to find a production-ready client that supports this for a hybrid/Cordova app.

@sattaman, if you find a suitable replacement for this library, let me know.  I will do the same.

[2017-08-04 14:50] brockallen commented on #389
Yes, we did add cordova support but that was before the various PKCE specs and updated recommendations for Cordova style apps (which fall into the native app category).

[2017-08-07 14:59] balaji-rajan opened #394 "[Help] - Demo Sample Code"
Hi Team, Great work in security and open source community. i've been following and starting around on identityserver. Where could i find the source code[Javascript] of this demo. much appreciate your help﻿ https://www.youtube.com/watch?v=eF2myGRT8bo

[2017-08-07 16:19] brockallen commented on #394
All of our samples are here for IS3: https://github.com/IdentityServer/IdentityServer3.Samples, and here for IS4: https://github.com/IdentityServer/IdentityServer4.Samples

[2017-08-08 06:19] balaji-rajan commented on #394
Thanks a lot for your quick response. i'm working on implementing windows authentication flow with ID4 on MVC and SPA Clients. It will be really great if you could share some sample on server configuration will definitely help me a lot

[2017-08-08 06:28] balaji-rajan commented on #394
Thanks once again, i've figured it out with AccountOptions and enabled windows authentication for ID4

[2017-08-08 06:28] #394 closed, assigned to nobody

[2017-08-08 09:26] Mitgenosse opened #395 "querySessionStatus fails after opening the app in two browser tabs"
Hello,

we have a problem when opening the application in two tabs. OIDC-Client tries to query the session status using `response_tyke=id_token` but the validation of the response fails, which results in a redirect loop on both tabs (redirecting to the OP, who redirects us to the callback page and the cycle goes on).

I found the `querySessionStatus` function in the UserManager class with line 206

[2017-08-08 16:55] ghost opened #396 "oidc-client.d.ts' is not a module with AngularCli"
I've started a new Angular 4 project using latest version of [angular cli](https://github.com/angular/angular-cli) (1.2.7) and lastest angular versions (4.3.3). I've try to use typescript 2.3.4 and 2.4.2, but both versions bring the error
[code]
It happens only in production build with enabled Ahead of Time compilation (enabled by default for production builds). The command to reproduce it is
`ng

[2017-08-08 17:10] brockallen commented on #396
Not sure, but here's a recent blog post showing how to get it working in angular: https://www.scottbrady91.com/Angular/SPA-Authentiction-using-OpenID-Connect-Angular-CLI-and-oidc-client

[2017-08-09 09:14] ghost commented on #396
I solve my problem.
I've create provider for UserManager class, like this
[code]
where `configuration.auth.oidcConfig` on L2 is [UserManagerSettings](https://github.com/IdentityModel/oidc-client-js/wiki#configuration) instance.

I have a `CoreModule`, that contains all applicatoin-wide providers, as [angular team recommeds](https://angular.io/guide/ngmodule-faq#coremodule). In my application I hav

[2017-08-09 14:00] ydekova opened #397 "How to force-refresh access token on the client"
I have a JS client with implicit flow. I am using a silent refresh to get a new token when the token expires. Sometimes i need to get a new token before the expiration time has passed, for example because I have changed the role of the current user. I noticed I can just call signinSilent() to get a new token, but I was wondering if this is the right way to do this.
Should i care about token revoca

[2017-08-09 19:43] cormacrelf commented on #350
I've got this (exactly the same as #385). Are you sure it's not solved by #303? I notice that #303 is scheduled for the 1.3.1 release, but NPM only has 1.3.0.

[2017-08-10 07:18] mrbbm opened #398 "Identity Server AccessTokenLifetime property and OIDC automaticSilentRenew"
I would like to know which one is need to configure for Automatic Token renew, note I'm using **Identity Server Version 3.0** and **Javascript Client UI Application**

My Client configuration is

[code]

The Current setup of Client re-loads the web page on every 60 Seconds AccessTokenLifetime = 60

My Javascript OIDC Configuration is

[code]

I don't know whats the purpose of `automaticSilentRenew

[2017-08-10 12:29] ghost commented on #396
Maybe we can close the issue and create the new one to resolve problem with Angular's IoC.
What dou you think about it? @brockallen

[2017-08-10 13:09] mrbbm opened #399 "Issue on redux-oidc signoutRedirect"
### Question / Issue

I'm using Identity Server for Single Sign On, my Client application is in ReactJs embedded with Redux. I'm using redux-oidc npm node module to implement the Identity Server functionality as mentioned in [https://github.com/IdentityModel/oidc-client-js/wiki](https://github.com/IdentityModel/oidc-client-js/wiki)

My oidc config is

[code]

If I use the in-built method `signoutR

[2017-08-10 14:35] AGuyCoding commented on #398
I guess [this link](https://github.com/IdentityServer/IdentityServer4.Samples/tree/293622b8438d27f4c9c2574e43fe92a22560ac6b/Clients/src/JsOidc/wwwroot) will help you out!
If not, try to "debug" it on client side via JS with the raised events like:

[code]

what does your "silent-renew.html" look like??
[this ](https://github.com/IdentityServer/IdentityServer4.Samples/blob/293622b8438d27f4c9c2574e4

[2017-08-10 14:39] AGuyCoding commented on #397
i did exactly the same, called the "signinSilent()" to get manually a new access_token, before the current token has expired.
I am also concerned of over-uasages of the "signinSilent()"-Button, which will be available for logged in users

[2017-08-10 14:43] AGuyCoding commented on #395
I had the same problem with multiple tabs, i guess it is because by default oidc-manager uses the sessionStorage, try to switch to "LoclaStorage" via
[code]
also dont forget to change the callbacks on your html files
[code]

[2017-08-10 18:09] maxmantz commented on #399
My apologies for asking, but I don't quite understand what your problem is here. What is the behavior you want to achieve?

[2017-08-10 18:16] michaelaflores opened #400 "Creating new Oidc.UserManager with sample settings throws error"
I'm trying to follow the sample code and created `new Oidc.UserManager(settings)` with the following settings, which were lightly modified from the sample project:
[code]
Doing this throws an error:
`SyntaxError: JSON Parse error: Unrecognized token '<'`

Since I'm just following the sample code, it's not clear why this error is being thrown.

[2017-08-11 00:57] mrbbm commented on #399
I need to logout the session using signoutRedirect, for my case it's failing.

Sent from my iPhone

[2017-08-11 04:56] mrbbm commented on #398
@benjaminadrom I'm using the same structure what you refereed in your reply. My question is whats the difference between **`AccessTokenLifetime`** which is in the Identity Server Client Confirguration Vs Silent Renew in Client Side redux-oidc.

Because, the `AccessTokenLifetime` reloads the client web application every 60 seconds (i.e., AccessTokenLifetime = 60). So, it automatically update the To

[2017-08-11 06:22] maxmantz commented on #398
@mrbbm The `AccessTokenLifetime` is what is claims to be: the lifetime of the access token, after which the token expires. Silent renew on the client side serves the purpose of renewing the token automatically when it expires to get a new one from IdentityServer. But the `userManager` does this silently by loading the token into an invisible `iframe` in the background, hence the second HTML file.

[2017-08-11 06:23] maxmantz commented on #399
Where is it failing, on your React app or on IdentityServer? What errors, if any, are you getting?

[2017-08-11 06:48] Mitgenosse commented on #395
Oh wow, thank you! I couldn't find any helpful information on this and was stuck for a long time. Did I overlook something? Maybe it should be documented somewhere?

How comes other people do not have this problem?

~~However it is working now.~~

EDIT: It is working for the first time I open a new browser tab. Both tabs seem to use the same access token. Now the same problem occurs while trying t

[2017-08-11 12:11] mrbbm commented on #399
@maxmantz Its redirecting to the `http://localhost:3000/callback`, then its redirecting to the default landing screen.

[2017-08-11 12:24] maxmantz commented on #399
Does this happen during  logout? If yes, please check `PostLogoutRedirectUris` in your IdentityServer config. It all looks correct in your client configuration.

[2017-08-11 14:28] mrbbm commented on #399
Yes, while on logout. It's redirecting to the callback screen, there is no Identity Server call.

Sent from my iPhone

[2017-08-11 20:16] brockallen commented on #399
You'll have to debug some more. Perhaps check logs in both the client and in the STS.

[2017-08-11 20:17] brockallen commented on #350
Feel free to test it and report back :)

[2017-08-11 20:17] brockallen commented on #396
Sure... i don't know what's involved. Open a new issue and discuss.

[2017-08-11 20:17] #396 closed, assigned to nobody

[2017-08-11 20:18] brockallen commented on #397
What @benjaminadrom said.

[2017-08-11 20:18] #397 closed, assigned to nobody

[2017-08-11 20:19] brockallen commented on #400
I bet the exception is from parsing some HTTP response where JSON is expected, but a 404 html page (or something else like that) is being displayed. Can you debug more? Check the network trace.

[2017-08-11 20:20] #398 closed, assigned to nobody

[2017-08-11 20:21] brockallen commented on #390
That's a factory function. I don't know how you model that in TS.

[2017-08-11 20:22] #342 closed, assigned to nobody

[2017-08-11 20:22] #347 closed, assigned to nobody

[2017-08-11 20:23] brockallen commented on #348
Sorry for the delayed replies. Can you debug into this more? Any updates?

[2017-08-11 20:24] brockallen commented on #358
Yea, sorry for the delayed replies. Yes, the id_token is short lived and the session lifetime in the client is unrelated to it.

[2017-08-11 20:24] #358 closed, assigned to nobody

[2017-08-11 20:25] brockallen commented on #361
Thanks.

[2017-08-11 20:25] #361 closed, assigned to nobody

[2017-08-11 20:25] brockallen commented on #367
I think I have finally fixed them. Thanks.

[2017-08-11 20:25] #367 closed, assigned to nobody

[2017-08-11 20:26] brockallen commented on #368
In what way? At IdSvr3, or as a error response back to the client?

[2017-08-11 20:26] #372 closed, assigned to nobody

[2017-08-11 20:27] #377 closed, assigned to nobody

[2017-08-11 20:27] brockallen commented on #362
All set on this issue -- can we close?

[2017-08-11 20:29] brockallen commented on #248
All set on this issue -- can we close?

[2017-08-11 20:29] #300 closed, assigned to nobody

[2017-08-11 20:30] brockallen commented on #306
All set on this issue -- can we close?

[2017-08-11 20:30] #392 closed, assigned to nobody

[2017-08-11 20:31] brockallen commented on #387
Each request to the OP that requests id_token does validate it on the response. The id token lifetime just indicates how long it needs to be valid to survive the delivery from OP to client.

[2017-08-11 20:32] #387 closed, assigned to nobody

[2017-08-11 20:32] #383 closed, assigned to nobody

[2017-08-11 20:32] #381 closed, assigned to nobody

[2017-08-11 20:32] #379 closed, assigned to nobody

[2017-08-11 20:32] #373 closed, assigned to nobody

[2017-08-11 20:33] brockallen commented on #371
Closing. If you still have issues, feel free to reopen.

[2017-08-11 20:33] #371 closed, assigned to nobody

[2017-08-11 20:33] brockallen commented on #366
In that case, it won't work with google given that they always prompt. Sorry.

[2017-08-11 20:33] #366 closed, assigned to nobody

[2017-08-11 20:33] #359 closed, assigned to nobody

[2017-08-11 20:33] #353 closed, assigned to nobody

[2017-08-11 20:34] brockallen commented on #337
Closing. If you still have issues, feel free to reopen.

[2017-08-11 20:34] #337 closed, assigned to nobody

[2017-08-11 20:34] #335 closed, assigned to nobody

[2017-08-11 20:34] #329 closed, assigned to nobody

[2017-08-11 20:35] brockallen commented on #327
All set on this issue -- can we close?

[2017-08-11 20:35] #323 closed, assigned to nobody

[2017-08-11 20:35] #314 closed, assigned to nobody

[2017-08-11 20:52] merijndejonge commented on #248
Sorry for being not so responsive. AppAuth wasn't a solution either. I ended up with implementing the resource owner flow in my app myself. This works great. No more popup appearing and by browser plugin now works in Edge and Firefox (in addition to Chrome and Opera).

So, you can close. Thanks!

[2017-08-11 20:52] #248 closed, assigned to nobody

[2017-08-11 21:41] stjepan commented on #337
👍🏻
The current solutions of yours doesn't work when in private/incognito mode. My solution (with a help from another user) is by impl. secure cookie storage.

[2017-08-12 13:31] tibbus commented on #362
At this moment I use the auto silent renew instead of this and don't have the time to test it to see where the issue was, so I will close it.

[2017-08-12 13:31] #362 closed, assigned to nobody

[2017-08-14 12:51] CraigEaston commented on #348
Let me pull down the latest Source, Integrate into my project and see if I can step in and find out any more

[2017-08-16 04:57] j4ro commented on #368
Well from JS client side I have on network tab:

and error in redirect back from IdSvr3:

[2017-08-16 13:54] bellmoose opened #401 "Expiration dates divided by 1000?"
I'm having problems with validating tokens coming back from the Identity Server.

Looking through the code I'm seeing this bit:

[code]
I'm trying to understand the logic here. I'm assuming that IdentityServer is doing something similar on its end, because parsing the exp and auth_time values on the access_token coming back is giving me values in 1970.

The openId Connect spec seems to imply secon

[2017-08-16 18:18] tonven commented on #243
@pellea Hi. Can you provide your custom storage. Tried to use the one you provided before, but still gets an error with sessionStorage is not defined.

[2017-08-17 10:56] snothub opened #402 "Silent renew flow"
Hey Brock

I'm not entirely clear on the renewing of access tokens in a SPA scenario and extending the sliding expiration of session cookie on the authorization server.

Once the user logs in and gets the session cookie with sliding expiration, the SPA will periodically do a silent renew of access token, using prompt=none. Will this extend the sliding expiration on the session cookie? If yes, won'

[2017-08-17 14:58] chdev77 commented on #171
Adding the div worked for me.  Now I can finally close this user story.

[2017-08-17 22:56] felpel opened #403 "Help with Angular E2E tests with Protractor"
Hi folks,

Our front end developer has recently written an Angular 2 service that uses your library.

I was wondering if anyone had mocked easily your `UserManager` or your `OidcClient` or if would have sample settings that would do the job?

We want to add Angular end-to-end tests to validate that the application is working fine.

Any help is wanted, thank you!

Félix

[2017-08-18 14:53] brockallen commented on #402
Yes

[2017-08-18 16:35] groetzi commented on #156
just a comment on @LetsGoRosco's answer: seems to be due to the fact that localhost and external urls usually lie in different IE security zones (one in intranet zone, one in internet zone) which is why communication between them is blocked. for others: things usually just work out when deployed (if not assert that all sites accessed during the flow are in the same IE security zone).

[2017-08-18 20:06] snothub commented on #402
Ok, so to followup, if the user walks away, how can the app tell oidc-client to stop renewing tokens silently so the session can expire without sliding it endlessly? Sort of goes against the session timeout principle otherwise.

[2017-08-18 20:20] brockallen commented on #402
You can do this manually in the access token expiring event -- explicitly do a silent renew only if the user is present.

[2017-08-19 15:19] LEW21 opened #404 "Lighter token reneval flow"
Hi,

I'm a bit worried about the amount of HTTP requests being sent by this library in the automaticSilentRenew mode.

What do you think about adding a method like getAccessToken that would:
1. If it has expired, refresh it.
2. Return it.

This way, browsers won't need to constantly spam OPs with requests, they'd get sent only when the app really needs an access token.

By the way, it'd be nice to

[2017-08-19 15:58] LEW21 opened #405 "Hybrid flow - for SPAs with backends"
I think it'd be useful to add official support for the hybrid flow, where a Single Page App does the auth request/response steps with response_type="code id_token", and then sends the code to the backend service, so that the backend is able to obtain a confidential access token.

[2017-08-20 03:54] matheusvellone opened #406 "Steam provider"
[Steam DEV page](http://steamcommunity.com/dev) says the following:
[code]
This library is listed with OpenID certification, so I think this might work, but I can't make it happen. Steam page says something about setting the provider, but couldn't find where to configure this.

I'm trying to use the sample provided to work with Steam.

[2017-08-20 13:24] brockallen commented on #406
You'd have to ask Steam.

[2017-08-20 13:24] #406 closed, assigned to nobody

[2017-08-21 06:48] pellea commented on #243
[code]

[2017-08-21 08:35] #402 closed, assigned to nobody

[2017-08-21 23:14] jonkerr commented on #275
In the Configure method, make sure that app.UseIdentityServer(); comes AFTER app.UseCors()

E.g.
[code]

[2017-08-22 20:11] superjulius commented on #65
Just add the same issue...thought that DEBUG log level was not working but was indeed the Chrome console filter not set to Verbose. This issue can be closed IMO @brockallen @Gurkenschreck.

[2017-08-22 23:00] chdev77 opened #407 "Aurelia pushState = false"
I'm desperate...please see the following issue

https://github.com/shaunluttin/aurelia-open-id-connect/issues/30

[2017-08-23 10:12] keirk commented on #247
In an effort to debug this further I switched the main from "lib/oidc-client.min.js" to "lib/oidc-client.js" in the package.json - and the error goes away? Not sure why?

[2017-08-23 11:42] stodolos commented on #234
Any updates on a ResourceOwnerClient?

[2017-08-23 18:29] paulvanbladel commented on #405
There is today a proliferation of SPA's and corresponding implementations of code flow/hybrid flow stuff with obscure implementations of popup's and sometimes build with suboptimal understanding of the protocols involved.
the oidc-client-js project is the only really trustworthy source, it would be great if this lib could serve as base for SPA specific versions for angular, react, vuejs....

[2017-08-23 22:15] chriseugenerodriguez opened #408 "getUser() returns null after successful signinRedirect()"
Hi,

I am having issue with your example for angular 4. I copied basically all your code and added callback urls to angular-cli.json so callback works for angular2. It redirects correctly and I see key values in session / local storage. But I am unable to get anything back and or see anything in my headers. Can you help?

**auth.service.ts**

[code]

**angular-cli.json**
[code]

[2017-08-24 02:11] brockallen commented on #407
I have no idea what any of that means.

[2017-08-24 02:12] brockallen commented on #408
I personally don't have an angular 4 example. Perhaps you're thinking of someone else?

[2017-08-24 02:40] #408 closed, assigned to nobody

[2017-08-25 15:25] chriseugenerodriguez opened #409 "after successful login redirect I refresh page and claims no longer valid"
I am using angular 2 setup and able to get claims back after successful redirect. However when I refresh page, claims no longer work and nor valid, anyone had a similar issue can steer me in right direction? thanks! need help validating token.

[2017-08-29 14:31] eddie1459 commented on #329
The addUserSignedOut event only gets thrown for me if I log out of a tab within the same browser, so if I open say chrome and log in and then open firefox and log out of either the event doesn't get thrown.  Do you have any idea why the event isn't getting thrown?

[2017-08-29 20:23] tomadj commented on #409
try to get the user from storage if the memory user is null ?

Like this :
[code]

[2017-08-29 21:15] chriseugenerodriguez commented on #409
@tomadj what do I do with this?

[code]
from my authservice

[code]

[2017-08-29 22:10] brockallen commented on #329
Because SSO doesn't work across browser instances.

[2017-08-29 22:15] eddie1459 commented on #329
Yeah, I understand that now, my requirement was to only allow the user to be signed in from one browser at a time so my "hack" was to use signalR and push a notification to the client based on sessionId and log them out.

[2017-08-29 22:27] brockallen commented on #329
That's fine, it's just not in any OIDC-like specs.

[2017-08-29 22:32] eddie1459 commented on #329
Thank you for responding to my comment!!

[2017-08-29 23:41] #409 closed, assigned to nobody

[2017-09-03 08:35] amorokh commented on #306
I just created a PR (#410) that includes some small changes to support RN.

[2017-09-03 22:48] jorgecotillo commented on #251
@brockallen not sure if this is valid, but the way I got it working was by adding: **&& typeof window !== 'undefined'** to oidc-client.js and oidc-client.min.js in the following _get_ properties: (added to the if condition) -> key: "localStorage", key: "sessionStorage" and key: "XMLHttpRequest" If you are ok with the update, I can create a pull request. Cheers!

[2017-09-04 01:11] brockallen commented on #251
Sure -- i can have a look. i wonder what behavioral changes this would have tho?

[2017-09-04 02:22] jorgecotillo commented on #251
just created a pull request. My feeling is that the condition might not bring any issues because is only checking if "window" exists, if you are not using prerender then "window" object is available and the condition passes, but maybe there are other cases?

[2017-09-06 18:20] krishna1682 commented on #172
Hi,
I have same problem, Can anyone help me to resolve this issue
Error: Frame window timed out
    at IFrameWindow._error (IFrameWindow.js:68)
    at IFrameWindow._timeout (IFrameWindow.js:89)

[2017-09-06 19:12] brockallen commented on #172
Chances are that there's some useful info in the STS logs.

[2017-09-07 07:13] krishna1682 commented on #398
Silent renew is triggering on expiring event based on the accessTokenExpiringNotificationTime and the silent renew is successful from client side, But the maximum tiken life time is based on the AccessTokenLifetime, so renew tokein is failing after this time interval. So no use of silent renew for me. Am i missing any other settings or sever call here?

[2017-09-08 07:50] nzdjigit opened #413 "Oidc-Client - Windows Azure AD and CORS issue"
Hi,

We are having issues with CORS and our oidc-client implementation. Here is the error we are getting:

**_XMLHttpRequest cannot load https://login.microsoftonline.com/common/discovery/keys. No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'https://localhost:44384' is therefore not allowed access._**

We've already looked at the following issues:
https://gith

[2017-09-08 12:46] brockallen commented on #413
They don't support CORS, so you can either configure the matdata manually or you should use their proprietary JS library for their proprietary token service.

[2017-09-08 12:54] nzdjigit commented on #413
Hi Brock,

Thanks for your reply.

Yes I did figure that much, that's why we tried to configure the metadata manually, but for some reason it still tries to browse to Microsoft's metadata endpoint, which is giving us an error.

I've posted the code snippet from our auth-service that shows how we're manually setting the metadata, but we're clearly doing something wrong or missing something. That's

[2017-09-08 12:55] brockallen commented on #413
You will also need to set the `signingKeys`, IIRC, which is sibling to the `metadata`, not a child

[2017-09-08 12:57] nzdjigit commented on #413
That might be it! Thanks Brock! We'll give that a go and see how it goes.

[2017-09-08 22:22] nzdjigit commented on #413
Thanks for spotting the error Brock! It works!

[2017-09-09 01:06] #413 closed, assigned to nobody

[2017-09-09 20:50] dturska commented on #368
Not sure if this relates to you, but I had the same issue and my problem was that my client had Require Consent on.   Once I turned that off that message went away.

[2017-09-10 16:49] dturska commented on #368
scratch my earlier comment.  My issue is that the signinSilent function in the UserManager is forcing args.prompt = "none".   I have a parent app and a iframe app in it. Users can't get into the iframe app unless they are logged into the main app.  So when the iframe app logs in it should send prompt="login" . The user will not see any login screen because identity has already been established whe

[2017-09-11 16:56] osudude opened #414 "Does oidc-client-js support authorization code flow?"
Not an issue, just a question.

thanks

[2017-09-11 17:17] brockallen commented on #414
No, as that flow is not suitable for browser-based clients

[2017-09-11 18:04] osudude commented on #414
In this case, the browser is electron desktop app which I think is Chromium.

[2017-09-11 18:11] brockallen commented on #414
So then you'd not use this library and instead this one:  https://github.com/openid/AppAuth-JS. You'd be using hybrid flow with PKCE.

[2017-09-11 18:14] osudude commented on #414
ok, thx @brockallen

Including link to [hybrid flow](http://docs.identityserver.io/en/release/quickstarts/5_hybrid_and_api_access.html?highlight=hybrid)

Including link to [Proof Key for Code Exchange by OAuth Public Clients](https://tools.ietf.org/html/rfc7636#section-1.1)

[2017-09-11 18:14] #414 closed, assigned to nobody

[2017-09-12 05:46] seven1986 opened #415 "No state in response"
![image](https://user-images.githubusercontent.com/20808494/30309984-cc31124a-97c0-11e7-897f-d4681513d11d.png)

[2017-09-12 07:11] nzdjigit opened #416 "Make UserManager.storeUser public"
Hi,

We have an unusual scenario, so we're hoping someone could help us out.

We have an Angular 2 SPA app that gets authenticated against Azure AD. This returns to us an id_token, which we then use to hit our own API to generate an access_token with all the roles and expiration times in it. We call our API inside the signInRedirectCallback method after we acquire an id_token from Azure AD.

So fa

[2017-09-12 16:00] FreeWillaert commented on #142
Regarding "_You can create many instances of UserManager, but it stores things and the key is based on the combination of the authority and the client id_":

I bumped into the same question - I want to use multiple user managers for different audiences (not with IdSrv but another authorization service).
I *think* it is solved by passing a userStore with a custom prefix  to the UserManager construc

[2017-09-12 17:38] brockallen commented on #415
Not enough info

[2017-09-12 17:40] brockallen commented on #416
That's not something that is supported, as it wasn't a use case that we designed for.

[2017-09-13 01:47] nzdjigit commented on #416
Thanks Brock. That sure sucks!

Would it not be as simple as exposing the setUser function alongside the getUser function? That would solve this problem.

[2017-09-13 15:13] NateBrady23 commented on #337
@stjepan would you mind pointing me in the direction of your solution?

[2017-09-13 18:18] brockallen commented on #416
Possibly. I could consider what's involved.

[2017-09-14 12:10] thomjak opened #417 "Multiple authority and redirect_uri's"
Hi.

Question. I have Identity Server 3 and a web app hosted in a protected network zone. Depending on whether you are inside or outside the network you either access that app using the DNS name (not available from other networks) or with the IP address. How do I solve this in from the oidc-client perspective? Do I dynamically set the authority and the redirect uri or am I missing something obviou

[2017-09-14 12:13] brockallen commented on #417
Can't you use the same host name inside the domain, but just configure the internal DNS differently? That's normally how it's handled and then the clients don't know/care the diff.

[2017-09-14 18:53] TulyOpt opened #418 "No state in response with Google Authentification"
Hello,

I am using :
- a  .NetCore API published on Azure with GoogleAuthentification turned on
- a simple js client ( adapted from https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Quickstarts/7_JavaScriptClient/src/JavaScriptClient/wwwroot )

My goal is to get access to the (protected) API from the js client.
During the first response (ie in the signinRedirectCallback functi

[2017-09-14 20:03] brockallen commented on #418
The token server is sending you back the results in correctly. They should be via the hash fragment, not the query string.

[2017-09-14 20:18] TulyOpt commented on #418
The token server is Google's : was oidc-client-js already tested with Google auth service ?

[2017-09-14 20:57] maxmantz commented on #418
@TulyOpt Yes, [here](https://github.com/maxmantz/redux-oidc-example).

[2017-09-15 06:05] thomjak commented on #417
Thanks, this makes sense - that's the preferred solution.

From a security point of view would it be bad to get the hostname from for example window.location.host and use it in the oidc-client configuration?

[2017-09-15 07:41] TulyOpt commented on #418
ok thanks for the exemple, it works now : I changed this line in the userManagerConfig :
  response_type: 'code',
to
  response_type: 'token id_token',

[2017-09-15 13:13] brockallen commented on #418
Well, then you were getting what you asked for :)

Glad to hear it's now working.

[2017-09-15 13:13] #418 closed, assigned to nobody

[2017-09-15 13:13] brockallen commented on #417
I'd prefer you to be explicit. :)

[2017-09-15 18:17] MrDesjardins opened #419 "Logout: No end session endpoint url returned"
Settings:

[code]

Call:

[code]

Debug Log:

[code]

I see in the Local Storage an entry. I looked at the source code, the endpoint is marked to be optional (MetadataService._getMetadataProperty end_session_endpoint) but later in the code, it looks for a URL which is missing hence return the error. I do not see where I can provide a end session endpoint.

[2017-09-17 18:51] brockallen commented on #419
Why `code`?

As for your original question: what's the metadata URL or what does it look like? If there's no `end_session_endpoint` then that would explain the error.

[2017-09-18 14:52] stjepan commented on #337
@nbrady-techempower Sure!

[code]

[code]

[code]

[code]
So, make sure you configure your userManager by overriding userStore and stateStore with the newly StorageFactory. It will check (with help of storageAvailable function, that I got from MDN) if client has support of session or local storage. If not, then it will fallback to the newly defined cookie storage.

Good luck!

[2017-09-18 15:46] MrDesjardins commented on #419
@brockallen  I'll have to double check about why `code`. I am porting some very old code and that is the actual configuration.

I am not sure about the metadata URL. The only URL I haven't mention is the URL once the authentication is successful and it contains these query strings:

http://dev:8080/dashboard#access_token=ABCDEFG...&state=0821f6906b864ae286879cdab380a74b&token_type=Bearer&expires_i

[2017-09-19 21:08] matt-orlando commented on #401
I think you are looking at the wrong part of the specification. See https://openid.net/specs/openid-connect-core-1_0.html#ImplicitAuthResponse

expires_in
OPTIONAL. Expiration time of the Access Token in seconds since the response was generated.

[2017-09-20 12:30] mode777 opened #420 "UserManager.signoutRedirect() is not redirecting when in subroute."
I'm building an Angular (4) application and I'm trying to logout via IdentityServer 4.
Here's my UserManager config:
[code]

when the user clicks the logout button, I call:

[code]

This **works fine** when I'm on the main (`http://localhost:4200`) endpoint, however as soon as I'm on a sub-route (e.g. `http://localhost:4200/admin`), calling above method will do the following:

* Logging says: "use

[2017-09-20 15:03] brockallen commented on #337
Relevant: https://twitter.com/rmondello/status/910276107978412034

[2017-09-20 15:04] brockallen commented on #420
Check network trace. Do you redirect to the token server's end session endpoint at all?

[2017-09-20 15:25] mode777 commented on #420
From the working route "/" the redirection works just as expected, from the sub routes e.g. "/admin", no endpoints are hit at all. I just get redirected to "/"

[2017-09-20 15:49] Sean-Brown commented on #298
+1 I've been having this issue for months and haven't been able to find a good solution. What happens is that silent renew for whatever reason doesn't refresh the access token, so the next API request gets a 401 unauthorized response.
The "solution" is to refresh the page, which causes the access token to get refreshed. I really want the OIDC client to do this automatically and I thought that was

[2017-09-20 16:27] mode777 commented on #420
Ok, second embarrassing issue in a day.
This was not a oidc-client issue. The button was in an anchor-tag and I forgot to call preventDefault().

Sorry for wasting your time.

[2017-09-20 16:27] #420 closed, assigned to nobody

[2017-09-20 18:08] fabiousa7 opened #421 "Please post license"
Could you please post the license for the source here on github?

[2017-09-21 00:25] mribichich commented on #335
Just in case I leave a fork for node that I found:

https://github.com/edwinf/oidc-client-node

[2017-09-21 07:33] pavel-agarkov commented on #251
@jorgecotillo did your changes make it work or just skip it on the server side?
In my case I need to make calls to the data api during server side rendering.
@brockallen - should I use mvc Authentication to get access tokens and pass them to the server side rendering process? Is it a common use case?

[2017-09-21 15:06] brockallen commented on #421
It's always been here: https://github.com/IdentityModel/oidc-client-js/blob/release/LICENSE

[2017-09-21 15:06] #421 closed, assigned to nobody

[2017-09-21 15:07] brockallen commented on #298
You still need to manage 401s yourself.

[2017-09-21 16:42] Sean-Brown commented on #298
Yes sorry I think my problem is actually due to Angular and not the OIDC client. The OIDC client correctly renews the token, the problem is that the AuthService that I use for adding the token to request headers isn't updated until the user navigates to a different component (or refreshes the current page), which causes the AuthService to be dependency injected again with the updated access token.

[2017-09-21 18:52] fabiousa7 commented on #421
Thank you.
For some reason it doesn't show in the repository main navigation.

[2017-09-22 02:34] infofromca opened #422 "make _userStore() public in class UserManager"
please make this public in order for my project to use SessionStorage.
get _userStore() {
        return this.settings.userStore;
    }

and I think it won't influence anything in oidc-client.js lib

[2017-09-22 11:05] dviry commented on #270
having the same issue now (on Safari/Chrome on Mac) and I think I've found the reason - the regional settings on the Mac are different (GMT-7) than on the IdentityServer (GMT+2) and as such the [Date.now()](https://github.com/IdentityModel/oidc-client-js/blob/920d484fc37beed8bf25adc7db4f450fae086d01/src/JoseUtil.js#L71) running on the client is giving the WRONG time (basically in the past when com

[2017-09-22 13:16] brockallen commented on #270
`Date.now` is supposed to return UTC: https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Date/now

[2017-09-22 13:21] dviry commented on #270
So now I know the issue was the Mac's configuration - he was basically running in a different timezone but manually set the time when flying over (instead of changing the timezone) causing Date.now() to really return something in the past - which obviously means this has nothing to do with IdentityServer ;)  Resetting everything to run automatically (time & timezone) solved the issue.

Thanks for

[2017-09-23 15:37] brockallen commented on #401
The division is done to get the nearest second for doing access token expiration checks. That's unrelated to id_token checks.

[2017-09-23 15:38] brockallen commented on #422
Can you elaborate on what you're trying to do?

[2017-09-23 15:38] #415 closed, assigned to nobody

[2017-09-23 15:38] #407 closed, assigned to nobody

[2017-09-23 15:38] brockallen commented on #405
Hybrid flow is designed for server-side apps (and native apps if they also use PKCE). This library is specifically focused on implicit flow.

[2017-09-23 15:39] brockallen commented on #404
You can simply not use the automatic and just call it yourself when you need/want to.

[2017-09-23 15:40] brockallen commented on #403
IIRC there's an angular sample linked in the wiki. I don't if they have anything along these lines?

[2017-09-23 15:41] #65 closed

[2017-09-23 15:42] brockallen commented on #311
Did you ever submit a PR for this?

[2017-09-23 15:42] #327 closed, assigned to nobody

[2017-09-23 15:43] brockallen commented on #348
Any update?

[2017-09-23 15:45] brockallen commented on #368
@j4ro yes that error tells you that the user must login. the error message is sent back to the client. i don't think the STS is showing anything, as per the spec.

@dturska The semantics of signinSilent are specifically to use prompt=none. This is by design. It's not meant to be used in a visible iframe.

[2017-09-23 15:46] #390 closed, assigned to nobody

[2017-09-23 15:46] brockallen commented on #395
Sure, state management is hard when you have multiple tabs open.

So any updates on your end?

[2017-09-23 15:47] brockallen commented on #399
Any update, or can we close?

[2017-09-23 15:47] #400 closed, assigned to nobody

[2017-09-23 15:47] #417 closed, assigned to nobody

[2017-09-23 15:47] brockallen commented on #419
Any update, or can we close?

[2017-09-23 17:32] brockallen commented on #324
merged, thanks

[2017-09-23 17:32] #324 closed, assigned to nobody

[2017-09-23 17:50] brockallen commented on #365
So you're all set on this?

[2017-09-23 18:08] brockallen commented on #344
I just tested this and I am getting the signed out event from the OP when only signinSilent is used to login. You will have to track this down some more to provide me a concrete repro.

[2017-09-23 18:08] brockallen commented on #350
Any update?

[2017-09-23 18:09] brockallen commented on #350
Actually, I think you're right -- seems fixed. I'll close. If you run into this again, feel free to reopen.

[2017-09-23 18:09] #350 closed, assigned to brockallen

[2017-09-23 18:10] brockallen commented on #363
That PR is getting too big for me to track the deltas. I'll just fix this myself.

[2017-09-23 18:14] brockallen commented on #363
Done. Thanks for the report.

[2017-09-23 18:14] #363 closed, assigned to nobody

[2017-09-23 18:30] brockallen commented on #370
Yea, I think it's acceptable to say you are expected to wait to use this until the body is loaded.

[2017-09-23 18:54] brockallen commented on #325
done

[2017-09-23 18:54] #325 closed, assigned to brockallen

[2017-09-23 19:05] brockallen opened #423 "Set includeIdTokenInSilentRenew to false by default"
Will be breaking change.

[2017-09-23 19:06] brockallen commented on #343
Done. Added a `includeIdTokenInSilentRenew` flag. For now defaults to `true` to be backwards compat.

[2017-09-23 19:06] #343 closed, assigned to nobody

[2017-09-23 19:14] brockallen commented on #315
Done, thanks!

[2017-09-23 19:14] #315 closed, assigned to brockallen

[2017-09-23 19:21] brockallen commented on #313
Done

[2017-09-23 19:21] #313 closed, assigned to nobody

[2017-09-23 19:22] brockallen commented on #341
Yea, I'm going to leave this to the app developer to decide how to do.

[2017-09-23 19:22] #341 closed, assigned to nobody

[2017-09-23 19:22] brockallen commented on #349
Done.

[2017-09-23 19:22] #349 closed, assigned to nobody

[2017-09-23 20:21] artipixel commented on #365
Yes, it's seems to work that way, I've previously sent parameters to the signinSilent() method, apparently, that was wrong but using promise catch works perfectly. Thanks!
Thanks!

[2017-09-23 20:46] #365 closed, assigned to brockallen

[2017-09-23 21:00] brockallen commented on #369
So I don't think I can get this to work without a lot of effort. Mainly because the initiating window is the only one that can determine if the silent callback is successful or not (there's more to check than just the error response param).

Now, as for the calling code, if you're not using the automatic silent renew, then you should be able to do this:

[code]

So this is what you're saying doesn

[2017-09-23 21:07] brockallen commented on #416
I made it public, but use at your own risk (and then report back how it works for you) :)

[2017-09-23 21:07] #416 closed, assigned to nobody

[2017-09-24 13:52] paulvanbladel commented on #405
Hi Brock,
Sure, I understand the focus and the lib is doing this exquisitely.

Just for my understanding, do you see the usage of hybrid/code flow in a SPA, but with a dedicated backend (in such a way the client secret is stored only server side and a server backend channel is used for exchanging code for a token with STS), as an anti-pattern/security concern ?

[2017-09-24 14:20] brockallen opened #424 "Close navigators on failure"

[2017-09-24 14:41] brockallen commented on #424
Now done.

[2017-09-24 14:41] #424 closed, assigned to nobody

[2017-09-24 14:42] brockallen commented on #283
Yep, this is now done. Thanks for the report.

[2017-09-24 14:42] #283 closed, assigned to brockallen

[2017-09-24 14:46] brockallen commented on #405
Not really. If you were to do this, you would have a bootstrapping problem to securely make requests from the SPA to the server-side to then use the secret/RT/hybrid flow/etc.

[2017-09-24 15:10] brockallen commented on #311
Ok, I made the changes you suggest and they seem to be working. Thanks.

[2017-09-24 15:10] #311 closed, assigned to nobody

[2017-09-25 17:34] CraigEaston commented on #348
Sorry for the delay.

This is what I have, this is kind of long so please bear with me.

I am not sure if any of this will help, but basically getting an access denied it looks like trying to get the window name?

This is the error that is thrown:
[code]

Here is where my debugger stops in this file ?? "_object-gopn-ext.js"
![logoutimage1](https://user-images.githubusercontent.com/17124248/3082207

[2017-09-25 17:41] nloding commented on #399
I just had a similar issue, and I had to pass `id_token_hint` to the `signoutRedirect` method for it all to come together, per this answer on SO:

https://stackoverflow.com/a/44726272/138148

Hope that helps @mrbbm

[2017-09-26 13:41] CKGrafico commented on #135
I think you can close this, are not necessary anymore because your library includes typings

[2017-09-26 13:56] brockallen commented on #348
Thanks for the follow up. Unfortunately this doesn't help me much. I think (especially since you're in angular) you need to debug into it more to help me fix this issue. I can say that with a vanilla JS project, it's working fine. See this sample: https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc -- and that's using the 1.4.0-beta.1 version as well (so the l

[2017-09-26 13:57] #135 closed, assigned to nobody

[2017-09-26 15:23] shuppert opened #425 "State returned as querystring parameter after signout in 1.4.0-beta.1"
In my Ionic application I'm seeing the state parameter used for signout returned when the post_logout_redirect_uri is called after signing out of IdentityServer3.

E.g. "http://localhost:8100/?state=b38291aa9a774e82992bdb88513d3036" is called when post_logout_redirect_uri is set to "http://localhost:8100".  This behavior is new in 1.4.0-beta.1 and wasn't happening with 1.3.0.

Is this a bug or a n

[2017-09-26 15:31] brockallen commented on #425
`state` should only get generated for the post_logout_redirect_uri if you passed `state` (or `data`) to the signout API. are you?

[2017-09-26 15:40] shuppert commented on #425
No, not specifically unless the TypeScript wrapper is doing something weird.  I do see the state on the Logout screen and in the IdentityServer3 logs.

TS code:
var signoutRedirectPromise = this.userManager.signoutRedirect();

IdentityServer3 log:
2017-09-26 09:16:17,552 [37] (null) MYMACHINE INFO  IdentityServer3.Core.Validation.EndSessionRequestValidator - End session request validation success

[2017-09-26 15:42] shuppert commented on #425
This is the log with 1.3.0.  Same client/TS code.

2017-09-23 13:20:21,702 [6] (null) MYMACHINE INFO  IdentityServer3.Core.Validation.EndSessionRequestValidator - End session request validation success
{
  "ClientId": "js.tokenmanager",
  "ClientName": "MyClient",
  "SubjectId": "22a03a21-e538-4db7-93d6-63b5f7d924ac",
  "PostLogOutUri": "http://localhost:8100/",
  "Raw": {
    "id_token_hint": "ey

[2017-09-26 17:25] brockallen commented on #425
Ah, I see where this is getting added -- it's in the UserManager. I think it was added for signOutPopup. I'll see if I can get it removed for normal redirects.

[2017-09-26 18:18] brockallen commented on #425
Fixed. Can you test 1.4.0-beta.2 for me, please?

[2017-09-26 18:18] #425 closed, assigned to nobody

[2017-09-26 18:34] shuppert commented on #425
1.4.0-beta.2 resolves the issue and the logs look like they did in 1.3.0.   Thanks @brockallen  for the quick fix!

-Scott

[2017-09-27 12:55] CraigEaston commented on #348
OK, I am trying to debug further to see what is happening for me.

I will try and update when I find something

[2017-09-27 19:35] MrDesjardins commented on #419
I still have the last question about is there something I should have configured about metadata url. Where is that configured?

[2017-09-27 20:14] brockallen commented on #419
Given that the response URL only contains access token, do you know if the token server supports OIDC?

[2017-09-29 09:55] Astimus opened #426 "Single signout"
I have three applications: asp .core MVC and two js web-apps which using this library.
I have configured FrontChannelLogoutUri for each of my application. For asp .core MVC i found detailed examples how to implement SingleSignout. When I sign out in any of my js web-apps, I automatically sign out in asp .core MVC application by singlesignout. But in the other js web-app I'm not signing out. Only a

[2017-09-29 10:44] Astimus commented on #426
I think I found solution in this article: [https://brockallen.com/2016/08/12/check-session-support-in-oidc-client-js/](url)
My code looks:
[code]
Is it correct solution to call sigoutRedirect when signedout event raised?

[2017-09-29 12:00] skolmer commented on #312
This change broke our layout because the hidden iframe is absolute positioned. As a quick fix we set:
[code]

[2017-09-29 13:14] brockallen commented on #426
The event is the right way to get notified of the user signing out. How you handle it is up to you, but what you've done above is fine.

[2017-09-30 16:18] #426 closed, assigned to nobody

[2017-09-30 16:21] #399 closed, assigned to nobody

[2017-09-30 16:21] #395 closed, assigned to nobody

[2017-09-30 16:21] brockallen commented on #368
All set on this issue -- can we close?

[2017-09-30 16:22] brockallen commented on #348
Closing. If you still have issues, feel free to reopen.

[2017-09-30 16:22] #348 closed, assigned to nobody

[2017-10-01 09:08] j4ro commented on #368
@brockallen
So there is still fixed prompt=none parameter in signinSilent?

Just to be clear this method works perfectly for token renewing, but if you are using it to logging in:

- when you are using `signinSilent` OIDC Client sets prompt=none (even if it was set in settings to different value),
- ID3 checks if you already signed:(https://github.com/IdentityServer/IdentityServer3/blob/master/sou

[2017-10-01 13:44] brockallen commented on #368
It's designed to make authorization requests in a hidden iframe, so yes, this means always pass prompt=none. So you can use it to renew tokens, but you can also use it to "login" to the client if the user already has a session at the token server. There's also an API `querySessionStatus` to query the user's session at the token server.

[2017-10-01 14:12] mukhtar opened #427 "Supporting the hybrid flow"
I’m making use of this library and wanted to ask a little about support for the hybrid flow. I’ve read the issues that exist on this topic and I understand that the plan is not to support for this flow.

I have a couple of questions that I hope you can help me with.

1. Can you suggest any other libraries that are similar oidc-client-js that support the hybrid flow? I’e come across [AppAuth-JS](ht

[2017-10-01 15:50] #368 closed, assigned to nobody

[2017-10-01 20:01] brockallen commented on #427
Hybrid flow is not designed for browser-based apps. Why do you want to use it for that scenario?

[2017-10-01 20:55] mukhtar commented on #427
I think I was unclear when I said 'browser based'.

I'm working on two apps. One is a traditional web application where web pages are rendered server side and there is some element of client side logic. The other is more of SPA.

For the former, from what I can tell, it would be necessary for the server to be able to get the id and access tokens using the authorisation code, thus the hybrid flow w

[2017-10-02 00:38] brockallen commented on #427
No, because it's specifically designed for client-side browser-based JS apps. If you want something server-side, then there are already tons of other OIDC frameworks for that.

[2017-10-02 07:29] Mitgenosse commented on #395
No updates. We have not yet been able to resolve this issue.

[2017-10-02 09:09] Astimus commented on #426
@brockallen thank you for help.

[2017-10-02 16:37] Wozbo opened #428 "oidc client is crashing ng4 builds with latest 1.4.0 package"
Just a heads up, this package is causing the following to occur when using the 1.4.0 package using angular cli with ng build --aot:

[code]

[2017-10-02 17:21] brockallen commented on #428
Can you debug it more? I don't use angular.

[2017-10-02 20:32] Sean-Brown opened #429 "Local storage eventually filled"
Today during development I noticed I couldn't navigate to the Identity Server 4 login page and I was receiving the following error in the Chrome console:
`DOMException: Failed to execute 'setItem' on 'Storage': Setting the value of 'oidc.707d8a12d6374f50b1eb268110ef6b1f' exceeded the quota.`

I checked Chrome's local storage and it had several entries. After clearing local storage, everything work

[2017-10-03 12:22] brockallen commented on #429
There's an API you should call to proactively clean up: `clearStaleState`

https://github.com/IdentityModel/oidc-client-js/wiki

[2017-10-03 12:49] Sean-Brown commented on #429
That's awesome, thanks for the hint

[2017-10-03 12:49] #429 closed, assigned to nobody

[2017-10-03 17:20] NateBrady23 commented on #311
@brockallen removing `display: none` introduced an issue in chrome 60 where the `iframe` now has a computed height. If creating the `iframe` with a `display` property causes issues in FF, could you add an id/class to the `iframe` for easy targeting?

[2017-10-03 20:06] brockallen commented on #311
That stinks. Yea, I can look at something...

[2017-10-03 20:06] brockallen opened #430 "Fix hidden iframes so they don't have width/height"
https://github.com/IdentityModel/oidc-client-js/issues/311#issuecomment-333916412

[2017-10-04 12:29] mwijnands commented on #430
We're seeing this problem as well since 1.4.0.

Maybe adding `height: 0; width: 0; border: 0;` is a better fix? This makes the iframe take up zero space.

[2017-10-04 12:52] brockallen commented on #430
I can't set width and height due to CSP.

[2017-10-04 13:09] brockallen commented on #430
Actually, I was wrong -- it is working with CSP. I'll submit a fix as a beta to NPM today -- can you test it for me?

[2017-10-04 13:23] mattbrooks2010 commented on #430
@brockallen I've hit this in Chrome today too. I'm happy to test the fix.

[2017-10-04 17:19] brockallen commented on #430
I just pushed 1.4.1-beta.1. Please have a look in FF and Chrome, please. Thanks!

[2017-10-04 17:20] brockallen commented on #311
I just pushed 1.4.1-beta.1 -- please test. Also, @franpsif, can you check this in whatever version of FF you were seeing the problem? My version seems to work fine.

[2017-10-04 20:20] #370 closed, assigned to nobody

[2017-10-04 20:20] brockallen commented on #344
Any update? I can't seem to repo the reported issue.

[2017-10-04 21:28] mattbrooks2010 commented on #430
@brockallen

:thumbsup:

I've tested this locally using `1.4.1-beta.1` and can confirm:

- The `iframe` is no longer visible in Chrome 61
- I can see requests for `checksession` in Firefox 55

[2017-10-04 21:48] brockallen commented on #430
Ok, good enough confirmation for me. I'll do a release. Thanks!

[2017-10-04 21:49] #430 closed, assigned to brockallen

[2017-10-04 21:52] brockallen commented on #311
Fixed: #430

[2017-10-04 22:12] mwijnands commented on #430
Without the `border: 0` I mentioned, the iframe was still 4x4px, because an iframe has 2px borders by default. But I see that `display: none` was added again so I'll see if that makes a difference after updating to the latest version. Nice work!

[2017-10-04 22:22] brockallen commented on #430
Ok, let me know what you find.

[2017-10-05 10:32] rpenrose opened #431 "oidc client - Windows Auth"
Hi,

I am working on a solution using IdentityServer4 in a windows environment. I would like to automatically log windows users on if windows credentials are available.  I have a solution set up with an ng4 client which is very similar to the quickstarts: 7_JavaScriptClient sample.

It all works fine with normal/test logins, but when I enable windows Auth in IIS Express (I have tried with both htt

[2017-10-05 13:06] wojtek-fliposports commented on #428
I can't reproduce this error on version 1.3.0 and 1.4.1

[2017-10-06 08:56] rpenrose commented on #431
Apologies, just me being a muppet. Didn't completey understand that this bit is handled outside Js with a page redirect...

[2017-10-06 08:56] #431 closed, assigned to nobody

[2017-10-06 12:13] joaopslins commented on #428
Can't reproduce here as well. I'm using the following versions:

Angular CLI: 1.3.2
Angular: 4.3.3
oidc-client: 1.4.1

[2017-10-08 15:28] gilknyaz opened #432 "Authentication for subdomains"
Hello,
I'm writing a multi-tenant SPA, where tenants are identified by subdomains.
I don't want to whitelist each subdomain at the Identity Provider.
I use both silent login, and redirects, and I hoped to be able to make the return_uri a single location (the higher domain), and then pass the token to the original pages (so the browser would eventually remain in the original subdomain).

1. In sile

[2017-10-08 17:03] robpaveza commented on #34
@markphillips100 Have you used Google+ authentication at all?  I'm curious about if/how you've worked around the new Google+ restrictions on in-app iframes due to the new Google security policy (effective April 2017).

[2017-10-08 17:27] brockallen commented on #432
But that's not terribly secure, as there's no way to validate it upon return. So this was by design.

As for the cross-origin callbacks, I don't know... I'd have to think about it. It adds complexity, which possibly hurts the security of the library.

[2017-10-08 20:26] gilknyaz commented on #432
I guess one can always sign the state, instead of just using the state key as a nonce. I understand that this may also add too much complexity. I'm thinking about implementing this approach as a private implementation of StateStorage.

Yeah, and it only solves the silent login, not the redirect...

[2017-10-08 22:25] markphillips100 commented on #34
I haven't specifically used Google authentication. However, specifically
from the Cordova support perspective, an Inappbrowser plugin is used not an
iframe. Iframe is used from say a pure JavaScript client.

On 9 Oct. 2017 3:04 am, "Rob Paveza" <notifications@github.com> wrote:

[2017-10-09 01:15] brockallen commented on #432
Someone recently submitted a PR for the cross-origin feature, but it was too complex for me to digest in one sitting. I think it's still out there.

[2017-10-09 10:11] cyberjar09 opened #433 "Cordova InAppBrowser loses focus when getting userInfo"
The user interaction in my app is as such:
user taps/clicks on profile picture and it opens the profile in an InAppBrowser (mobile) or new tab (desktop)

Observation:
with `automaticSilentRenew: true` the session renew XHR causes the active tab to be switched back to the main application window despite the user profile (InAppBrowser) still being open (no longer in focus). The InAppBrowser window i

[2017-10-09 16:05] MrDesjardins commented on #419
The server supports OpenID Connect, SAML and OAuth 2.0

[2017-10-09 22:10] mwijnands commented on #430
It's all good because of the `display:none` :smile:

[2017-10-10 02:58] carvallegro commented on #247
@keirk Having look at both files, I'd say that your feedback is tied to the one provided by @maxmantz : In both `dist/` and `lib/`, the minified versions have a reference to feross' Buffer module.

Is there any update for this ?

[2017-10-11 12:49] tjoskar opened #434 "Unable to use signinRedirect in Edge"
Hi,

First of all, thanks for this library.

I'm however getting some problems in Edge (version 15). I have created this dummy page:

[code]
[code]

It is working in Safari, Firefox, Chrome and IE11 but not Edge. It is just loading and nothing happens. If I open the devtools before I open the page I can see that we are making a request to `.well-known/openid-configuration` and receives a `200` but

[2017-10-11 14:39] brockallen commented on #434
So then something about setting the window.locacation in edge isn't working. I test the samples in Chrome, FF, Edge, and IE and they're all working for me.

[2017-10-11 19:54] mukhtar commented on #427
Thanks. How much work would be involved, in your opinion, to extend oidc-client-js to support hybrid flow? If I wanted to do this myself, are you able to point me in the right direction please?

[2017-10-12 13:36] Hyjaz opened #435 "OIDC crashing because of CSP"
Hello,

using the latest commit on branch release I am getting the following error:
`Refused to connect to 'https://login.microsoftonline.com/{tenant-id}/.well-known/openid-configuration' because it violates the following Content Security Policy directive: "default-src 'self'". Note that 'connect-src' was not explicitly set, so 'default-src' is used as a fallback.`

However with the same setup, wh

[2017-10-12 15:47] tjoskar commented on #434
I start to believe the issue is in edge and its ability to follow redirects and/or how it handles cookies. I think this library is working correctly.

Thanks for tried it out @brockallen

[2017-10-12 15:47] #434 closed, assigned to nobody

[2017-10-12 22:42] pritesha commented on #384
Hi @mathilde-pellerin  can you please help with the API that you used ( or you developed yourself ?) , I have similar requirement and could not find concrete solution as of now.

[2017-10-12 23:40] pritesha opened #436 "Token Sharing across muliple client using same identity server"
Hi ,

I am very new to all  Oauth and Id-connect domains , so the concepts are not very clear to me.
I am using oidc client and Identity server for user authentication and everything works fine.

Now I have a requirement that if user logins to one app ( SPA with its own client-id) , he can click on to the link , which will navigate it to another app ( SPA with different client id ) , one new SPA ,

[2017-10-13 02:56] brockallen commented on #435
If the JS is running on your page from your server, then you're the one that control the CSP setting.

[2017-10-13 07:36] mpellerin42 commented on #384
Hi @pritesha I call our own API which check the token on its side. But I can't say more as I'm not a C# developer at all, another team was in charge of the API. All I do is passing the token in the header of my requests.

[2017-10-13 16:53] MrDesjardins commented on #402
@brockallen Is there anything else to do than setting the `UserManagerSettings` with `automaticSilentRenew: true,` for the silent renew flow?

I've tried also by setting a `silent_redirect_uri` but in both cases, there is no renew.

Here is the log:
[code]

[2017-10-13 19:18] brockallen commented on #402
My guess is that an error happened at IdentityServer -- check the logs

[2017-10-15 05:06] Hyjaz opened #437 "CORS Issues"
Anybody has any idea why I might be getting this kind of error:

[code]

I am using Microsoft Azure Authentication Directory and I have set my callback on my registered app.

[2017-10-15 11:28] brockallen commented on #437
They don't support CORS. Contact support and let them know you want this feature.

[2017-10-15 12:06] Hyjaz commented on #437
Wow what a bummer.

[2017-10-15 12:12] wojtek-fliposports opened #438 "Wrong querySession response_type parameter"
https://github.com/IdentityModel/oidc-client-js/blob/9bf375464c9173f26c0a19901fc18f4d2db2de1d/src/UserManager.js#L220

This line should be:
[code]

[2017-10-15 12:17] wojtek-fliposports commented on #436
This is not related to this library. It's OAuth2/ OpenID Connect  based question.
Post the question on StackOverflow and I will be more than happy to answer for it.

[2017-10-15 16:24] Hyjaz opened #439 "set Resource"
Is there a way to set the resource to the resource we want to access in the settings before we create our client object?

[2017-10-15 16:51] #439 closed, assigned to nobody

[2017-10-15 21:02] brockallen commented on #438
Why? All querySession needs is the user's identity, thus only an id_token.

[2017-10-15 21:02] #437 closed, assigned to nobody

[2017-10-15 21:04] brockallen commented on #436
Yes, please do what @wojtek-fliposports  suggests.

[2017-10-15 21:04] #436 closed, assigned to nobody

[2017-10-15 21:19] wojtek-fliposports commented on #438
Yes, but a lot of providers defines response type as a list of choices:
 - `id_token`
 - `id_token token`
and so on to define Implicit Flow, Code Flow or Hybrid Flow

When you define client with Implicit Flow `id_token token` but you send only `id_token` then IdP returns
[code]

[2017-10-15 21:24] wojtek-fliposports commented on #438
And I have question about this on couple lines bellow:

[code]

What is `sid` ? I can't find this field in OpenID Core spec and my IdP does not return this value either.

[2017-10-15 22:14] pritesha commented on #436
thanks @wojtek-fliposports  , @brockallen  . I have added the question on  [stack-overflow](https://stackoverflow.com/questions/46760550/token-sharing-across-multiple-client-using-same-identity-server) ,

[2017-10-16 05:52] felpel commented on #403
This issue was resolved with another approach. It can be closed.

[2017-10-16 05:52] #403 closed, assigned to nobody

[2017-10-17 15:12] MrDesjardins commented on #402
The log previously sent contained manual code inside the token expired event. I removed this one and still has nothing happening. The console.log in verbose is only having this data:

[code]

[2017-10-17 16:52] rainesmoshe opened #440 "No retry after addSilentRenewError event"
Hi,

if there is a communication problem to Identity Server, while executing silent renew, we are getting once the event addSilentRenewError  and there are no subsequent retries to silent renew the token.

If we have a 1 hour token life time, by default silent renew 60 sec before expired, if we are getting error, due to some network problem (not protocol error like 'interaction_required' ) we stil

[2017-10-17 18:38] g-guth commented on #437
@Hyjaz  How did you solve this issue?

[2017-10-17 19:00] Hyjaz commented on #437
@g-guth You need to add metadata and signInKeys in your settings section.

Here is the actual closed issue that resolves this issue.

https://github.com/IdentityModel/oidc-client-js/issues/275

[2017-10-17 20:32] RichiCoder1 commented on #234
Here's a very rough PoC of a resource client:
https://gist.github.com/RichiCoder1/88903001dae4bb186dae79bd5f6adeb8

Duplicates a lot of stuff from OidcClient and ResourceValidator fyi. Can clean up further if I'm headed in the right direction. Also makes extensive use of async/await, which I can replace with .then later.

[2017-10-17 21:43] brockallen commented on #402
Do you have a log in your token server?

[2017-10-17 21:45] brockallen commented on #440
Yea, it's tricky -- if there is a real error you don't want to keep trying over and over, but if the error is temporary then it would be nice to retry. I can think about an enhancement to try to handle this scenario.

What is the value of e.message when you get your temporary timeout problem?

[2017-10-17 23:21] rainesmoshe commented on #440
Hi,

In my code I have added array with all protocol errors, if it is one of the
know protocol error, I'll redirect the user, hard login, any other error
will try again. The error I get is "frame timeout"

On Oct 17, 2017 5:45 PM, "Brock Allen" <notifications@github.com> wrote:

[2017-10-18 17:01] TrueGeek opened #441 ""'UserManager' is not exported" error when using AOT and tree shaking"
When using AOT and tree shaking / rollup I'm getting this error:

`{ Error: 'UserManager' is not exported by node_modules/oidc-client/lib/oidc-client.min.js`

I've read the threads on TypeScript usage and I believe I'm doing it correctly. I'm on the current version of the package, using Angular 4.4.4 from angular-seed. I'm importing UserManager like this:

[code]

Any help is appreciated!

[2017-10-18 21:59] brockallen commented on #441
It looks exported to me: https://github.com/IdentityModel/oidc-client-js/blob/dev/index.js#L25

[2017-10-19 09:17] gilknyaz commented on #432
I stand corrected about the state - I reread the OIDC spec (3.2.2.5) and saw that

I'm considering working around the issue by setting a cross-domain cookie to let the callback page know where to redirect the token. Does this seem legitimate to you or does it defeat the purpose of the whitelist?

[2017-10-19 16:38] MrDesjardins commented on #402
This is a corporate authentication server, I do not have any visibility.

[2017-10-20 02:17] brockallen opened #442 "Consider checking sub on signInSilent response to compare against current sub"
To prevent changing users at STS across silent renew.

[2017-10-20 04:20] Hyjaz opened #443 "On signoutRedirect() token is still"
Why is it that after signoutRedirect() is completed my bearer token is still valid.

Is there something that I missed in the documentation, such that I can destroy my token?

[2017-10-20 05:27] Hyjaz opened #444 "Getting the id_token instead of the access_token"
I have the following settings:
[code]

When I create my request with the sample server with these settings, the access_token that I receive is incorrect, basically the access_token is my id_token.

I am receiving back a token starting with ey where as the access token usually start of with AQA....
Also when I call the endpoint openid/userinfo  I get a bad request response because the bearer token

[2017-10-20 05:41] Hyjaz commented on #435
Currently i am using the csp chrome extension to work around this issue.

I think we can close this issue.

[2017-10-20 05:47] brockallen commented on #443
If it's a JWT, then it is unaffected by user session

[2017-10-20 05:48] brockallen commented on #444
Show your tokens, so we can see

[2017-10-20 05:48] #435 closed, assigned to nobody

[2017-10-20 05:55] Hyjaz commented on #444
Here is the result when I do process signin response:
![image](https://user-images.githubusercontent.com/16614359/31806985-62f5458a-b539-11e7-9a2f-e0cd3b7c2af1.png)

Then when I add the token in jwt I get the following json object:

![image](https://user-images.githubusercontent.com/16614359/31807030-a8b0ad8a-b539-11e7-8807-e8f54abc4182.png)

[2017-10-20 05:58] Hyjaz commented on #443
I see, makes sense. I think we can close this issue as well.

[2017-10-20 05:58] #443 closed, assigned to nobody

[2017-10-20 16:11] Hyjaz commented on #444
Can it be a problem with Microsoft AD?
I've tried all 5-6 `response_type` possible values.

[2017-10-20 16:17] Hyjaz commented on #444
I think this should answer my issue:
https://stackoverflow.com/questions/28631635/cannot-access-openid-userinfo-endpoint-on-azure-aadsts90010-jwt-tokens-cannot

Microsoft Azure 😒

[2017-10-22 13:32] #444 closed, assigned to nobody

[2017-10-23 18:02] figuerres opened #446 "QUESTION: getting the login / logout status"
I am trying to work out if and how to do something with an angular app.
i am looking over the code in the library and trying to see if what i want is possible or not.
i have code that is in my app that calls the oidc-client to get the user logged in and log them out if they chose to.

but in another part of the app i start a copy of the client and ask it to listen to the events for logout or token

[2017-10-24 22:38] MrDesjardins commented on #419
I doubled checked with the people who own the server. The feature is working with another third-party library. I suspect that I am not using `oidc-client-js` properly.

@brockallen Can you guide me?

I have in a singleton:

[code]

The expired function:

[code]

I do not have any error with this latest code, but also nothing refreshed. My settings are the same as the initial post.

[2017-10-25 08:56] brockallen commented on #419
Is their metadata public?

Also, there's only so much I can do from here. If you don't make any progress, then we offer consulting services.

[2017-10-25 09:40] urbanhusky commented on #440
Retry would not run endlessly because the token will be invalid in 60 seconds anyway (or as configured). Perhaps add an option to automatically retry + interval between retries?

We might be facing an issue with silent renewal as well - also it might fail in places with spotty internet connection.

[2017-10-25 10:03] rainesmoshe commented on #440
The silent renew will work after token expiration as long as the user
didn't logout from the Identity Server. Silent renew has nothing to do with
token lifetime. ( Only in clinet flow when use renew token, but not in
oidc- client)

The only issue is if the user make server call before renew and token was
expired, he will get unauthorized error. But this scenario is very unlikely
where the server i

[2017-10-25 12:42] urbanhusky commented on #440
I think that you could only use the app with an expired token for as long as the authentication on the API you call accepts it - for example as long as it is within the 5 minute clock skew of `IdentityServer4.AccessTokenValidation`.

We set up the user manager like so (example):

[code]
Therefore, for us, an expired access token will cause a sign out.
We could argue about whether logging out direc

[2017-10-26 20:32] TrueGeek commented on #441
I created a test project using just angular-seed an oidc-client. It works fine with angular-seed's npm run build.prod.aot.

I'm not sure why the error above is given in my project, but another piece of code must be causing it.

Sorry for the trouble!

[2017-10-26 20:32] #441 closed, assigned to nobody

[2017-10-27 14:16] houseme-brandon commented on #339
Thanks so much @Polyergic that was SO SO helpful. Our authentication went from pretty shoddy to infinitely better in under a day just by reading your discoveries.

[2017-10-31 23:59] felpel opened #447 "Typescript - Make settings available on created user manager"
Hi,

I'm trying to add unit tests for a factory that creates `UserManager` objects. In the Javascript world, I may call directly `userManager.settings.xyz` to fetch the value of a given setting. It would be nice if I could do the same in TypeScript.

Thanks in advance!

[2017-11-01 02:53] gdubs commented on #334
Hi @brockallen , regarding your comment. I was wondering if you can point me to the right direction with my issue (MVC with React). It's pretty similar to this one, the only thing is from the MVCClient part, the area where there's React will not require any log in (publicly accessed). But it will make calls to the API (which is protected by Identity Server via client credentials). Reason I'm doing

[2017-11-01 06:51] cyberjar09 commented on #433
I have forked the library in an attempt to isolate the code that is causing this behavior but not able to do so yet. Would really appreciate a nudge in the right direction.
Thanks.

[2017-11-01 09:03] cyberjar09 commented on #433
Submitted pull request: https://github.com/IdentityModel/oidc-client-js/pull/448

[2017-11-01 15:28] brockallen commented on #433
I'll have a look when I can. Not sure why focus was in there -- I don't think I worked on that part.

[2017-11-02 01:46] cyberjar09 commented on #433
thanks!

[2017-11-03 15:25] altmnt commented on #369
I am having the same problem. Any update on that?

[2017-11-07 09:07] Granatenhoschi opened #449 "CheckSession fails with local SPA and IdentityServer in Azure"
Hello,

I have a SPA based on Angular4 and an IdentityServer4, both deployed as Azure WebApps. The SPA requires authentication to the identity server via oidc-client.js. Everything works fine so far except for one specific szenario:

When running the SPA locally in Internet Explorer (my current version: 11.1176) against the in Azure deployed identity server the check session call fails with 'Respo

[2017-11-07 15:17] brockallen commented on #449
Possibly a IE zone issue? IOW, 2 of the hosts are in different zones, do IE does not send the auth cookie in the iframe?

[2017-11-07 16:56] Granatenhoschi commented on #449
Doing some research regarding zone-blocked cookies in iframes with IE, this seems to be a plausible explanation for my issue. Unfortunately I was not able to verify it: trying to allow the cookies via browser settings or via p3p headers did not fix it for me. Nevertheless, I would not be happy dealing with such workarounds for an issue which only has effect in my rarely occuring testing scenarios

[2017-11-07 16:56] #449 closed, assigned to nobody

[2017-11-09 16:37] bakedog417 opened #450 "Mobile SPA- Network Error on GetUser()"
I am getting an error once I get redirected from my provider.  It seems on mobile browsers there is a problem with JsonService.getJson().  I get the "network error" message whenever I try to getUser().

Is there a known issue with this?  Could it be the authorization header is not being set/changed?

Please note it works wonderfully in the desktop versions of Chrome/Firefox.
Any help would be grea

[2017-11-09 16:48] brockallen commented on #450
I think we need more info. What's the http trace look like? what are the errors in the dev console?

[2017-11-09 17:30] bakedog417 commented on #450
Thanks for getting back so quickly.  Here is the dev console:

[minute ago]FFL1[ERROR]network error
[minute ago]FFL1[DEBUG]token passed, setting Authorization header
[minute ago]FFL1[DEBUG]JsonService.getJson,https://[myAuthProvider]/protocol/openid-connect/userinfo
[minute ago]FFL1[DEBUG]received userinfo url,https://[myAuthProvider]/protocol/openid-connect/userinfo
[minute ago]FFL1[DEBUG]metadat

[2017-11-09 17:31] brockallen commented on #450
Odd that this is the first one, and then the rest of the HTTP calls look like they're successful. I don't know what's going on, sorry.

[2017-11-09 17:37] bakedog417 commented on #450
Oh, they read bottom up.  I'm using console.re to remote debug mobile browsers.

Also, checked out the HTTP calls, it opened a tunnel to my auth provider just before failing.  This is the auth header section:

No Proxy-Authenticate Header is present.

No WWW-Authenticate Header is present.

[2017-11-09 19:23] bakedog417 commented on #450
Hey, I am so sorry.  I was looking in the wrong pane.  The Authorization header is, in fact, present.

No Proxy-Authorization Header is present.

Authorization Header is present: Bearer eyJhbGciOiJSUzI1NiIsInR5cCIgOiAiSld...

It looks like there were 2 calls made, OPTION and GET.  OPTION did not have the auth header, GET had the above.

[2017-11-09 19:44] brockallen commented on #450
Yea, sorry -- it's hard for me to diagnose a general network error from here :)

[2017-11-09 20:38] bakedog417 commented on #450
I apologize for wasting your time.  It was a cross-origin issue with Keycloak.   The reason I thought it was mobile related was that I had to navigate away from localhost to access my dev box whenever I was on a device.

Solution: Added my dev-box hostname to allowed-origins.  Nothing wrong with oidc-client what-so-ever.

Thank you again for such a great library and your quick responses.

[2017-11-09 20:38] #450 closed, assigned to nobody

[2017-11-10 16:33] mina-skunk commented on #343
I'm having the same issue for signout redirect.

[2017-11-14 04:07] nzdjigit opened #451 "NetIQ IDP - "No key matching kid or alg found in signing keys" Error"
Hi,

We are using oidc-client v1.4.1 and NetIQ as the identity provider. For some reason we are getting the "No key matching kid or alg found in signing keys" error.

We got the keys from the jwks_uri and set them in the code:
_[{
	"kty": "RSA",
	"use": "sig",
	"alg": "RS256",
	"n": "AOcqBJ5O+7wT3LjRyoLn4quVr0CoLaCMDuRFNnrA+zmSXVCDJOEN4qCua/YuP4TFbjKViEsVHA3oF/mvI7Rxc8OIRDKLxyiI5z59dIQ1403BYGsm0k6

[2017-11-14 06:00] nzdjigit commented on #451
After looking into this a bit further we found that the ID Token contains only a single key in its header and it's **_"alg": "none"_**. Safe to assume that's the reason why it can't find a matching signing key.

Not sure why the IDP is returning an ID Token with **_"alg": "none"_** though.

We'll check if that can be fixed on the IDP side, but if it can't, do you have any suggestions? Should oidc-

[2017-11-14 11:03] billgo opened #452 "How can i store the key in cookies ?"

[2017-11-14 13:43] brockallen commented on #452
Can you explain more?

[2017-11-14 13:44] brockallen commented on #451
If the alg is none, we don't support that. As for the error, I'd also have to track down where it is. IIRC, we support matching the kid, or if there's only one key we use that. If there are more than one, IIRC, we would prolly fail without a kid.

[2017-11-14 22:52] nzdjigit commented on #451
Thanks Brock. We've managed to fix it up on the IDP side, 'alg' key is now coming back with RS256. So all good!

Thanks again
Ken

[2017-11-14 22:52] #451 closed, assigned to nobody

[2017-11-15 01:00] billgo commented on #452
I think you can close this issue, We don't need to store somethings in cookies. Just store in the localStorage is OK. 😄

[2017-11-15 02:39] #452 closed, assigned to nobody

[2017-11-15 10:44] gary-archer opened #453 "RESOURCE some readers might find useful"
I work for a Financial Company and recently we've been migrating to an OAuth architecture and using the OIDC Client library for our SPAs.

**We've been very impressed with the library - it does a complex job really well - in particular we like the Silent Token Renewal feature.**

I've been writing a detailed blog at [http://authguidance.com](http://authguidance.com) which some readers new to OIDC

[2017-11-15 23:55] alundiak commented on #437
Is this 29 days ago refers to the latest docs state?

.... And CORS again, whey for the sake of God, we always have that CORS.

My Bot registered via https://dev.botframework.com/
My MS App crated via https://apps.dev.microsoft.com
I have successfully deployed Bot to Heroku and communicate with Bot via Skype chat and in private dialogs. And now I need simple sing - send REST request to API, and re

[2017-11-16 02:39] brockallen commented on #437
If MSFT doesn't support CORS, they don't support CORS.

[2017-11-16 04:54] Hyjaz commented on #437
Since Microsoft does not support cors, you need to add metadata in your request. I have added the issue number in my previous answer. That should work. So you are missing your metadata and signinkeys.

[2017-11-16 09:20] alundiak commented on #437
@brockallen but why docs don't say anything about it? And how other people deal with this? Is the `ngrok` the only solution? I don't believe I'm first who faced with this during Auth, so how people solved it?

@Hyjaz if u mean this snippet:

[code]

Then I don't get where I should add it it?
Should I extend my object I pass as payload to POST?:
[code]

In [docs](https://docs.microsoft.com/en-us/bo

[2017-11-16 14:00] brockallen commented on #437
No clue. Ask Microsoft (not me).

[2017-11-16 20:27] Hyjaz commented on #437
@alundiak try adding it in the data.
Do not forget the signin keys, because without the signin keys you will get another cors issue after you get through the first server call.

[2017-11-17 00:38] alundiak commented on #437
@Hyjaz
Here is my "data" object:
[code]

Didn't help. The same CORS error:

And regarding yours

I'm sorry, but I don't know/guess what is this.
If u meant these:
[code]
then afaik, this is for second request, and CORS happens before first even succeed. So what do u mean under "sign keys"?

[2017-11-17 01:25] Hyjaz commented on #437
@alundiak
[code]
Replace those that are in brackets with your own values.

[2017-11-17 01:38] alundiak commented on #437
@Hyjaz this is kinda different type os usage Bot Connector. I don't want to use redirect to any page and get back then. I simply send $.ajax() POST request (`https://login.microsoftonline.com/common/oauth2/v2.0/token`) to get token, and then use the token in JavaScript code to do second request $.ajax() POST to Skype API (`https://smba.trafficmanager.net/apis/v3/conversations/" + conversationId +

[2017-11-17 12:57] brockallen commented on #437
Then why are you using this oidc-client library?

[2017-11-17 13:32] leo9223 opened #454 "how to persist user and have updated access_token until the user is using client app?"
First, I have tried to implement silentSignin like described on many posts I get error refused to display ''x-frame-options" are set to "sameorigin"
However, I also saw somewhere in the posts @brockallen said it is not supported by many browsers

Secondly, I saw this https://damienbod.com/2017/06/02/implementing-a-silent-token-renew-in-angular-for-the-openid-connect-implicit-flow/
blog post but in

[2017-11-17 14:12] timaxapa commented on #454
Hi. You have implemented signing in action yet and only need silent refresh mechanism?

[2017-11-17 14:32] brockallen commented on #454
signin silent should never run into CSP issues because if it's successful then it will never be rendering html. It should also never be rendering a login page because prompt=none should be part of the silent request. If it does need to render html, then it's an error page, so I suspect you have some error somewhere (possibly config).

[2017-11-17 15:00] leo9223 commented on #454
I am making an angular4 client using oidc-client.js

@timaxapa Yes I am able to successfully login, Now I just have to persist the session untill user is using my app

@brockallen

**Config**
`const config: any = {
  authority: 'http://localhost:5000',
  client_id: '1',
  redirect_uri: 'http://localhost:4200/callback',
  silent_redirect_uri: 'http://localhost:4200/silent-callback',
  automaticSile

[2017-11-17 17:14] CesarD opened #455 ""Error: No matching state found in storage" when redirecting from HTTP to HTTPS"
Scenario is the following:

1. I have Implicit client configured with redirects to HTTPS URLs
2. I enter the site via HTTP, no HTTPS
3. Site redirects me to SSO, which does its stuff and then redirects me back to my site, but on HTTPS URL
4. I get the previously mentioned error on the console, and navigation gets stuck on redirect page (redirect.html in my case).

From the Chrome console:
[code]

[2017-11-17 19:43] alundiak commented on #437
@brockallen in fact I don't use it. AFAIK. I simply spotted on CORS issue on Google/github, and as soon it's related to MS APP/Skype Bot / IdentityModel, I sought it's issue deep down.
So far, instead of JavaScript, I resolved my needs using Bash/Pythin script, where nio ** CORS happens so far.

So thanks and sorry. @Hyjaz u 2 thanks :)

PS. PS, but my CORS issue with MS App/Bot platform, I will m

[2017-11-18 02:40] brockallen commented on #437
FWIW there's much Microsoft's token service does not fully and/or properly support. G'dluck.

[2017-11-18 02:41] brockallen commented on #455
So this is an obvious problem. Storage on HTTP for the nonce and other protocol state is not shared to HTTPS when you return. They might as well be two different websites (since they are).

[2017-11-18 17:54] CesarD commented on #455
Any workaround to improve user experience? Cause I want IdS3 to return them to https version of the site, whether they access it by http or https...

[2017-11-18 17:59] CesarD commented on #455
Perhaps one way could be using URL rewrite, to force going into https by default, but I would like to also have an alternative within the library capabilities, in case I cannot use url rewrite for some reason...

[2017-11-18 20:45] timaxapa commented on #454
@leo9223
Your endpoints
[code]
have to be added to SSO server config as an acceptable redirect urls. Do you have an access to SSO server configuration?

[2017-11-19 12:45] brockallen commented on #455
Hard to do -- how would this library know if (and then why should this library deal with) the app is being accessed on the wrong scheme?

[2017-11-20 02:22] billgo opened #456 "How can i send the client secret to the OP server ?"
Because our OP server need the client secret, but i don't know how to send it?
Is't support

[2017-11-20 09:29] leo9223 commented on #454
@timaxapa
Ah! you are right.
I was not setting the http://localhost:4200/silent-callback in my auth server. After setting the redirect uri its working awesomely fine. Thank you so much :)

[2017-11-20 09:29] #454 closed, assigned to nobody

[2017-11-20 13:31] brockallen commented on #456
You would not have a secret for implicit flow. If you're not using implicit flow, then this library is not for you.

[2017-11-20 16:57] sattaman commented on #238
I've just been hit by this, very happy its an easy fix!

Seems to affect all logins on iOS , via Safari and Chrome.

[2017-11-20 17:05] CaptObvious opened #457 "Support response_modes_supported"
The .well-known/openid-configuration supports a property ```response_modes_supported``` which can take either "query" or "fragment".  oidc-client-js only seems to support "fragment", meaning it only looks in the URL after the #.

My OpenID provider (over which I have no control) only supports the "query" response mode, so it puts the details in the query string.

I'd do the work myself and send a

[2017-11-20 18:28] brockallen commented on #457
The protocol specifically disallows tokens from being sent in quest string params, so your token server is violating the spec if that's all it supports. That's also why this library doesn't support it.

[2017-11-20 18:29] CaptObvious commented on #457
https://openid.net/specs/openid-connect-discovery-1_0.html#ProviderMetadata

http://openid.net/specs/oauth-v2-multiple-response-types-1_0.html#ResponseModes

[2017-11-20 18:30] brockallen commented on #457
Also, shame on your company for using OSS without allowing contributions back. I know it's your company, and not you personally. Feel free to pass this feedback to them.

[2017-11-20 18:30] brockallen commented on #457
from that same spec:

    code token
        When supplied as the value for the response_type parameter, a successful response MUST include an Access Token, an Access Token Type, and an Authorization Code. The default Response Mode for this Response Type is the fragment encoding and the query encoding MUST NOT be used. Both successful and error responses SHOULD be returned using the supplied Respo

[2017-11-20 18:33] CaptObvious commented on #457
That only covers multi-type requests.

[2017-11-20 18:34] brockallen commented on #457
So you're only doing `response_type=token`?

[2017-11-20 18:35] CaptObvious commented on #457
I'm not 100% sure to be honest, I get an id_token and a state back.

[2017-11-20 18:35] CaptObvious commented on #457
```response_type=id_token```

[2017-11-20 18:37] brockallen commented on #457
If you're only doing `response_type=token`, then you're not doing OIDC (see here: https://openid.net/specs/openid-connect-core-1_0.html#Authentication). Arguably, then, the multiple response type spec is not pertinent.

Anyway, the whole point of the specs not allowing it is to prevent access tokens from being exposed/leaked to server logs. Pedantic spec quoting aside, I won't be making that chang

[2017-11-20 18:41] CaptObvious commented on #457
It seems like this is a moot point anyway, it seems our OID server does support response_mode=fragment, it's just not listed in /.well-known/openid-configuration.

Now to figure out why I'm getting told that there's no state in the response even though there clearly is.  Thanks for your help!

[2017-11-20 18:41] #457 closed, assigned to nobody

[2017-11-21 00:44] billgo commented on #456
thanks man.

[2017-11-21 13:38] #456 closed, assigned to nobody

[2017-11-21 19:54] CaptObvious opened #458 "Silent sign in/silent renew via AJAX?"
Is it possible to implement this?  You could get the new credentials from the responseURL property of the XMLHttpRequest object.

Failing that, is there a way to do this manually and update the UserManager with the new token?

[2017-11-21 20:00] brockallen commented on #458
Technically possible, but not part of the spec. Back when they designed the spec, they did not want to take a dependency on CORS as it was not widely supported at the time.

[2017-11-21 20:01] brockallen commented on #458
This already happens on silent renew processing. Am I missing your question?

[2017-11-21 20:02] CaptObvious commented on #458
I think you're missing my question - I'd make the AJAX request myself and grab the creds from the redirect URL - I'd then want to update the UserManager with these new creds that I have but didn't get via oidc-client-js.

[2017-11-21 20:03] brockallen commented on #458
Does your token service support CORS for the authorize endpoint?

[2017-11-21 20:04] CaptObvious commented on #458
Yep.  It checks that the origin header, client ID and redirect URI are all for the same domain.  If they are it'll allow it via CORS.

[2017-11-21 21:09] brockallen commented on #458
So then the next step is to validate the response... which will be a 302 and the results will be on the hash fragment. Can you read the URL on the ajax redirect? I don't think you can.

[2017-11-21 21:11] CaptObvious commented on #458
You can't read it on the redirect, but you can read the final URL once the AJAX call returns.  If all else fails I could make it redirect to a page that just echos the fragment back as JSON.

[2017-11-21 21:48] brockallen commented on #458
Ok. You'd then need to call the callback APIs and you should be able to pass what would normally be in the hash fragment as a param to have the library perform the response processing which would then update the internal user storage.

[2017-11-21 22:03] brockallen opened #459 "Consider API to encapsulate getUser, querySessionStatus, and signinSilent"

[2017-11-22 16:35] activebiz opened #460 "oidc-client fake data for the app"
Hi,

Does any one knows is there a way to fake the oidc-client in the app so that it can be use in conjunction with [json-server](https://github.com/typicode/json-server) as fake server?

I tried to mock various endpoints presented in well-known-configuration endpoint as follows and just passing in data but it just doesn't validate the token and redirect it back to the auth server.

[code]

Any id

[2017-11-22 17:07] brockallen commented on #460
I'm not sure exactly what you're trying to do, but I have a test server I use here: https://github.com/IdentityModel/oidc-client-js/tree/dev/sample

[2017-11-23 10:06] IncRev-Bala commented on #399
Try this piece of code...

[code]

[2017-11-27 17:42] mclark-nfocus opened #461 "How do we redirect an authenticated user to change their password?"
I have my javascript client authenticating against Identity Server 4. I get the token back, I can log out, but how do I allow the user to click a client profile button that takes them back to Identity Server 4 Manage are so they can change their password or email address?

I have searched all day and not found any examples. Sorry if this is redundant.

Goal: redirect an authenticated user to:

htt

[2017-11-28 11:03] mantasaudickas opened #462 "Silent renew in chrome fails"
I am using oidc client with IdentityServer4, with .NET Core app 2.0.
I have enabled silent renew, however it seems like request to
https://sts.my-domain.com/.well-known/openid-configuration
is canceled when executed from iFrame.

Only thing I can get from Chrome:
Referer: https://localhost:4200/auth/renew
XHR failed loading: GET "https://sts.my-domain.com/.well-known/openid-configuration".

CORS h

[2017-11-28 22:58] chrisgbaker commented on #23
Has there been any further thought or work on this issue? Even gzipped this library ends up being ~40% of my entire bundle size.

Has anybody tried updating from `5.1.0` to `8.0.4`, or is there a breaking change blocking this?

**Edit:**
Simply cloning the project and running the app, and everything _seems_ like it's working. There is a failed test, but only one:
`JoseUtil validateJwt should valid

[2017-11-29 17:49] chrisgbaker commented on #23
Clearly not a fix, but a quick branch to save somebody some time if they have more working knowledge than I do: https://github.com/IdentityModel/oidc-client-js/pull/463/files

[2017-11-29 17:51] brockallen commented on #23
Thanks -- I'll have a look when I have time!

[2017-11-30 20:18] nodediggity opened #464 "Failed to execute 'postMessage' on 'DOMWindow':"
Hey,

I have just added your lib to a React / Redux app that is consuming ID Server 3 for authentication.

I have everything working as expected, however my browser console is filling with errors
`oidc-client.min.js?93dc:75 Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('http://localhost') does not match the recipient window's origin ('null').`

I do not want silent re

[2017-11-30 22:09] leonardosigrist opened #465 "ClockSkew getting default time"
Some clients are getting `iat is at a future date` error. I'm tring to increase clockSkew to 15 minutes like so:

[code]

But when I try to change my local clock to less than 5 minutes before server time, the error is still showing.
How can I increase this time?

[2017-12-01 01:27] brockallen commented on #464
Are you building a native/installed app (as opposed to a browser based app)? And by native/installed, that includes cordova, electron, and/or ionic.

[2017-12-01 01:28] brockallen commented on #465
Not sure. I can try to debug it (but so can you).

[2017-12-01 04:12] nodediggity commented on #464
Hey Brock,

It's a browser based app. React / Redux running in the browser. Chrome / FF and IE all show the same message in the console.

I've attached a SS of the line highlighted by the Chrome console

![capture](https://user-images.githubusercontent.com/25435000/33467721-952bc3e0-d64e-11e7-947e-6b39a16b941d.PNG)

Could this be related to my ID Server running under http on localhost? Does the OI

[2017-12-01 08:35] thoemy commented on #462
I can reproduce this. The redirect to the silent callback comes back with `error=login_required` and the reason for this is because no cookies are attached to the authorize request. They are attached when doing the normal redirect. So it seems some kind of security policy preventing the cookies to be transmitted when the request is made inside the hidden iframe.

Google Chrome Version:  62.0.3202.

[2017-12-01 15:10] brockallen commented on #462
Which build of IdentityServer?

[2017-12-01 15:26] mantasaudickas commented on #462
I have these:
PackageReference Include="Microsoft.AspNetCore.All" Version="2.0.3"
PackageReference Include="IdentityServer4.AccessTokenValidation" Version="2.1.0"
PackageReference Include="IdentityServer4.EntityFramework" Version="2.1.0"

I see IdentityServer4.dll :
File version 2.0.3.0
Product Version 2.0.3

And npm package: "oidc-client": "^1.4.1"
Angular: 5.0.1
Angular CLI: 1.5.0

[2017-12-02 15:52] LisaTatum opened #466 "error message from check session op iframe"
I use those components:
[code]

After a successful login into the IdP I get redirected to my JS client.
2 seconds later appr. I see an error message appearing there:

1sth message: "add token expiring"

this.mgr.events.addAccessTokenExpiring(() => {
      console.log('add token expiring');
    });

2nd message: "error message from check session op iframe"

![image](https://user-images.githubuserco

[2017-12-03 07:02] awangdev commented on #238
The '/' is definitely a common mistake, even suggested by Auth0 official guide (https://auth0.com/docs/quickstart/spa/angular2/01-login)

However, another mistake that I've encountered on the same thread, is about using 'redirect' on my nodejs server. It seems to contribute to the lose of hash on safari browsers (or safari on mobile). I've always been redirecting to the home page by:

[code]

Inst

[2017-12-03 20:13] LisaTatum commented on #466
Ok I will try out Scotts sample https://github.com/scottbrady91/Angular4-OidcClientJs-Example
If it does work with my backend etc... I will close this issue :-)

[2017-12-04 21:17] LisaTatum commented on #466
ok scotts frontend worked with my backend :-)

[2017-12-04 21:17] #466 closed, assigned to nobody

[2017-12-05 00:16] steveoh opened #467 "CSP Violation"
I am using version 1.3.0 of this lib and the [sample page settings](https://github.com/IdentityModel/oidc-client-js/blob/1.3.0/sample/public/oidc-client-sample.js#L21-L29) are pointed at my agencies authorize url and it is functioning properly.

If I update the lib to 1.4.x and build/start the server I am displayed a CSP violation when clicking sign in.

It appears [this commit](https://github.com

[2017-12-05 14:03] activebiz commented on #460
@brockallen that worked! thanks

[2017-12-05 14:03] #460 closed, assigned to nobody

[2017-12-05 15:02] brockallen commented on #465
Any progress debugging this?

[2017-12-05 15:02] #401 closed, assigned to nobody

[2017-12-05 15:02] #404 closed, assigned to nobody

[2017-12-05 15:02] #405 closed, assigned to nobody

[2017-12-05 15:03] brockallen commented on #419
All set on this issue -- can we close?

[2017-12-05 15:03] #422 closed, assigned to nobody

[2017-12-05 15:03] brockallen commented on #427
No, sorry, I don't have the bandwidth. If you're looking to hire us for consulting services, or sponsor features then let us know.

[2017-12-05 15:04] #427 closed, assigned to nobody

[2017-12-05 15:04] brockallen commented on #428
All set on this issue -- can we close?

[2017-12-05 15:04] brockallen commented on #455
All set on this issue -- can we close?

[2017-12-05 15:04] brockallen commented on #458
All set on this issue -- can we close?

[2017-12-05 15:05] brockallen commented on #462
Were you able to debug any further into this?

[2017-12-05 15:06] brockallen commented on #464
I guess what I'm puzzled by is that this is working from our normal samples... so something's not right about your setup or environment.

[2017-12-05 15:11] brockallen commented on #467
That commit is in the sample/fake token server piece only used for doing smoke screen testing of this library. I don't see how that should affect anything in the library. It was added, in fact, to prove that the library works properly with server CSP restrictions.

[2017-12-05 15:13] brockallen commented on #432
Not sure, I'd have to spend time to threat model that.

In any event, I'll close this issue for now. If you still have issues, feel free to reopen.

[2017-12-05 15:13] #432 closed, assigned to nobody

[2017-12-05 15:13] brockallen commented on #438
All set on this issue -- can we close?

[2017-12-05 15:16] brockallen commented on #446
IIRC, you need to have a valid user session in the app before those parts will work (but I'd have to double check the code to remind myself 100%).

This is something you'll most likely have to design into your own app with the implement ion behind it using this library, rather than the library providing that entire feature.

[2017-12-05 15:16] wojtek-fliposports commented on #438
I haven't received response

[2017-12-05 15:16] brockallen commented on #447
I don't follow what you're asking to be done. Can you elaborate?

[2017-12-05 15:17] brockallen commented on #461
That kind of feature is unrelated to OIDC and this library.

[2017-12-05 15:18] brockallen commented on #438
I don't know. This sounds like some issue with your token server.

It's in the session specs: http://openid.net/connect/

[2017-12-05 15:18] #438 closed, assigned to nobody

[2017-12-05 15:22] brockallen commented on #453
Thanks for the kind words. A for help here, any docs, samples, or blog posts would be helpful as I don't have much time myself for those things. That's been the top complaint about this library is the lack of info. Now, I'd argue that the real issue is the complexity of the specs, not the library. So if you can focus on those topics, that'd be great.

Thanks for the post!

[2017-12-05 15:22] #453 closed, assigned to nobody

[2017-12-05 15:23] brockallen commented on #344
Since I was unable to repro the reported issue, and there's been no reply I'll close this issue.

[2017-12-05 15:23] #344 closed, assigned to brockallen

[2017-12-05 15:38] thoemy commented on #462
I'm not totally sure if my issue the same as the one originally posted, because the openid-configuration can be loaded without an error. I misread the issue.

I haven't yet found the reason why the cookie is not send. But I expect that an Chrome extension or some privacy setting is responsible. The silent renew works with same Chrome version started using a different user-data-dir.

[2017-12-05 15:58] brockallen commented on #462
So @mantasaudickas -- any more info, or are you all set with this issue?

[2017-12-05 18:25] CesarD commented on #455
Yeah, sorry.
All fine. You're right... Since this wouldn't be the scope of the library, the constraint should be enforced perhaps by a URL rewrite rule to force the redirection to HTTPS first, before any access to the application has place.

Regards.

[2017-12-05 18:25] #455 closed, assigned to nobody

[2017-12-05 18:38] gilknyaz commented on #432
Thanks. As it happens, a consultant ended advising that I whitelist each subdomain individually and not bother with creative code solutions for this problem.

[2017-12-06 06:31] mantasaudickas commented on #462
Currently had no time to investigate further more, but will get back in next few days.

[2017-12-06 14:17] YouthLab commented on #464
@brockallen Same Error on me (I use this lib with VUE).

[2017-12-07 16:32] figuerres commented on #446
part of the fun in this is learning what angular / typescript are doing and how that windows up connecting with Javascript.
being mostly a C# developer  i think in terms of getting a reference to an object and not creating objects all the time in my code ....

but what i think i am seeing with Angular   is that it is creating a new local object and never (or almost never) passing a reference to me

[2017-12-07 23:57] MrDesjardins commented on #419
You can close, I ended up using a corporate Apache module that we are using internally which handle the auth and proxy with a private API the data needed on the client side. Thank you for all your help.

[2017-12-08 00:38] #419 closed, assigned to nobody

[2017-12-08 01:19] Meligy opened #468 "[Feature Request] The option to customize/configure some Metadata property names"
Hello,
I'm trying to use the client to connect to an implementation of Ping Identity Federate, and facing a small issue.

The end session URL oidc client rightfully expects is `end_session_endpoint`. The one I get from this provider in `/.well-known/openid-configuration` is `ping_end_session_endpoint`. Note the `ping_` prefix.

**Would you accept a pull request that makes this key configurable?**

[2017-12-08 02:03] brockallen commented on #468
Can you make a request for them to implement what the spec defines?

[2017-12-08 03:16] Meligy commented on #468
I tried that first!

[2017-12-08 13:26] brockallen commented on #468
That really sucks of them... their names are on the spec: https://openid.net/specs/openid-connect-session-1_0.html

[2017-12-08 14:05] nmarasoiu opened #469 "Question: blocked:csp"
Hi,setting authority to our authorization server base url "https://our.server.com/", if I put this url followed by ".well-known/.." it works; but inside the http://localhost:5000/oidc-client-sample.html page it brings a chrome "blocked:csp", I am just studying https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP but I am wondering if there is a quick fix for it, to be able to test a flow from oid

[2017-12-08 14:26] brockallen commented on #469
Not sure, it's not clear to me the context of the CSP error.

[2017-12-12 16:45] lostdev opened #470 "Question: does this library support Cordova-style apps?"
Hi,

I am looking to add OIDC support to my cordova app (which is built for Android and iOS). Will this library work for me?

It seems like there is support baked in but as far as I can tell it uses the inAppBrowser which is no longer the recommended approach.

If this library is not what I should be using, can anyone point me to one?

Thank you,
Carl

[2017-12-12 17:01] brockallen commented on #470
Yes, but no: https://github.com/IdentityModel/oidc-client-js/issues/389#issuecomment-319431549

[2017-12-12 17:14] lostdev commented on #470
Appreciate the quick response @brockallen.

I looked into AppAuthJS but it doesn't seem to support Cordova. I'm running around in circles trying to find a library that will work with Cordova but coming up empty.

[2017-12-12 20:02] brockallen commented on #470
You'd have to ask them to address the shortcoming then, as I don't really know that platform.

Cordova was added to this library, but as I said above, the AppAuthJS is the right way to use the protocols.

[2017-12-12 20:27] lostdev commented on #470
Thanks for your help @brockallen.

[2017-12-12 20:27] #470 closed, assigned to nobody

[2017-12-13 06:07] raasmasood commented on #288
@kuncevic  did you find the solution to this ?

[2017-12-13 23:03] AlexeyRokhin opened #471 "signoutRedirect does not work if called in less than 30 seconds after log in"
I'm using oidc-client in combination with identityserver.
UserManager.signoutRedirect does not always redirect to identityserver. It redirects only if called after 30 seconds after login.

- Ensure that you have node, npm and angular cli 1.5+ installed.
- Open console. Go to Publishers.Sts directory. Execute `dotnet run`.
- Open console. Go to Publishers.Angular2 directory. Execute `npm install`.

[2017-12-18 13:54] tomeinar opened #472 "Clients with incorrect system clock, are not validated"
We had an issue with a customer that weren't able to navigate to the checkout of our site. He had the following error in the console:

![image](https://user-images.githubusercontent.com/789722/34108627-16a3766a-e401-11e7-86d0-79062f7c4f48.png)

It seemed that the token was valid based on what I could see in the data being passed in the URL, but upon further investigation, it seemed that the client

[2017-12-18 13:58] brockallen commented on #472
The spec assumes a correct clock, typically off by no more than 5m.

[2017-12-18 14:00] tomeinar commented on #472
Thank you for the very swift response. So no, there is nothing we can do about it?

[2017-12-18 14:30] brockallen commented on #472
Fix their clock :)

[2017-12-19 22:42] CaptObvious commented on #458
Okay, I managed to get the new base64-encoded id_token (the 3 sections separated by dots) from my OIDC provider over AJAX, but it doesn't return a new state.  I've been poring through the code to try to figure out where I can insert this to have it update (and trigger the user load event) to have it update the user storage.  Any ideas?

[2017-12-20 17:17] ycrumeyrolle opened #473 "Allow a single signinRedirect url and api to process signin results"
Hi,
Is there a way to have a single redirect_uri woking both for silent & non-silent signin ?
Is there any value in the localStorage to identify the signin mode?
[code]

[2017-12-20 18:04] brockallen commented on #473
No because they process the response differently.

[2017-12-21 06:59] ycrumeyrolle commented on #473
Is it acceptable to store within the localStorage the sign-in mode before proceeding, then retrieving the mode before calling the callback?
Is there any issue with it?

[2017-12-21 07:17] ycrumeyrolle opened #474 "Multiple access_token support?"
Let's suppose we have a banking application with a standard OIDC authentication. I can easily retrieve an access token for the bank API.
Suppose we have a sensible operation like a transfer, requiring a 2-factor authentication. I can easily reauthenticate the user with a specific acr_values and a specific scope. I retrieve a new access token for this scope and I can proceed to my transfer.

But...

[2017-12-21 10:57] nmarasoiu opened #475 "Example code for plain js or ReactJs or ReactJs+AltJS (extension of Flux) based state management?"
Hi,
We are having a ReactJs app with "AltJS (extension of Flux) based state management".
What is the manner you recommend integrate your oidc client library?
I am not sure which is the closest code example that I could follow, please advise,
Thanks much,
Nicu Marasoiu

[2017-12-21 11:59] maxmantz commented on #475
I'm nof familiar with AltJS, but my library [redux-oidc](https://github.com/maxmantz/redux-oidc) binds oidc-client to a Redux architecture. Maybe the code can help you to draw inspirations on how to implement it in AltJS.

[2017-12-21 13:56] brockallen commented on #473
Not a bad idea. It'd be a breaking change, but seems worthwhile.

[2017-12-21 13:58] brockallen commented on #474
That's not s scenario this library attempts to address.

[2017-12-27 05:23] nmocruz commented on #470
@brockallen what @lostdev was saying is that the way that this library handles the redirections using inAppBrowser plugin is no ok for providers like google, and not recommendable. The solution can be use the system browser or another plugin that show login page in a browser, instead of show page in the webview. I tried to use this library too, setting the popup target as _system instead of _blank

[2017-12-27 14:11] brockallen commented on #470
Yes, I'm aware, and that's why I said above "yes, but no" -- no, meaning you should not use the embedded browser approach that was added to this library prior to the APIs to expose the in-app browser tab on mobile platforms. That's why you should use a platform specific library for native apps like the ones I linked above.

[2017-12-27 16:11] nmocruz commented on #470
I saw your comment. My point is that PhoneGap, Ionic etc, are not really native, and the main reason to use it, (at least to me) is stay way from device specific as possible, use web apis, high level libraries when they do the job.
The option that you sugested is not suitable for cordova hybrid apps. Not sure if its easier to fix your implementation, or extend the AppAuth-JS to use the cordova plu

[2017-12-27 16:11] brockallen commented on #470
Are they installed via an app store and do they have access to native platform APIs?

[2017-12-27 16:32] nmocruz commented on #470
That doesn't make them native. Hybrid app are basicaly web applications writen and html,js and css, displayed on an embedded browser, they are not written or compiled to native sdk. Yes they can access platform resouces, but the token lifecycle management doesn't need anything more then what web api already are given. The only breaking point here is not native nature related, is that embedded brow

[2017-12-27 16:53] brockallen commented on #470
It does from my perspective. If you "install" it, then it's native. If you launch the browser first and navigate to a URL then it's a web app. The fact that it's html, css, js internally is an implementation detail.

[2017-12-27 17:08] nmocruz commented on #470
In my prespective, the way that app is packed and distributed does change anything, the app is a web app anyway, you can argue that running on file:// is native and http:// is web, to me is the same app in diferent location.

[2017-12-27 17:08] lostdev commented on #470
I agree that it's a native app in its core however being able to use native libraries (like appauth-android) is not something that is possible without writing wrappers / Cordova plugins. While I think wrapping the "official" libraries would be a good approach, it requires an upfront effort to create the Cordova plugins and then a fair amount of maintenance moving forward.

I think the best option

[2017-12-27 18:09] brockallen commented on #470
Agreed, and it means that the issue is unrelated to this library. This library is for browser-based JS apps, not JS-based native apps (which is what I'm calling the cordova, ionic, electron apps).

[2017-12-27 18:41] nmocruz commented on #470
@brockallen this library has some kind of support to cordova, and it not working anymore, I'm not blaming the library or saying that someone has to fix something. Maybe instead of the inappbrowser use the safariviewcontroller, I can try it my self later. I was more trying to say that the appauth-js is not an option to people using cordova because there is no support there or a plugin.
As I said be

[2017-12-27 19:10] GustavoPinfildi commented on #465
Properties are being passed, such as authority, client_id, redirect_uri..
But the property clockSkew has the default time, instead the value passed on settings (900).
On oidc-client.js construtor in the UserManager function, "var settings" passed by arguments is null. (line 14042)

[2017-12-27 20:08] brockallen commented on #470
We added cordova support before the newer attack vectors were known, and before the latest recommendations for native apps were published. The cordova support was plain JS and didn't require anything special since it's the hosting app using cordova (and the necessary extension) that essentially provides the polyfill to make it work.

Native apps now need a platform specific library to trigger the

[2017-12-27 20:14] brockallen commented on #465
Did you debug into the source?

[2017-12-28 11:19] mniak commented on #464
I'm facing the same issue.
I'm using Angular 5. Both the SPA and OP are using `https`.

[2017-12-28 12:42] GustavoPinfildi opened #476 "GetUser() not return Promise Reject"
In function GetUser() on UserManager, when the client gets the error "Iat is in the future" (validateJwt) don't return anything to treat the error.

On debug, when returns value on validateJwt (line 293, ResponseValidator.js) the program is stopped because the error "iat is in future". The correct way, i guess this line returns null or Promise.reject, not just broke.

If we can not do this treatme

[2017-12-28 13:04] GustavoPinfildi commented on #465
Yes. Nothing is being passed into settings (on debug UserManager constructor), the value is null for every params.
What could be happening?

[2017-12-28 13:23] GustavoPinfildi commented on #472
Any progress handle that? @tomeinar

[2017-12-28 15:03] mniak commented on #464
After reading the issue #225 I've got to the conclusion that this error was happening to me due to a previous error:
[code]
This was happening because my Nginx reverse proxy was adding the header `X-Frame-Options` to the response.

After disabling this on the Nginx server, both the errors disappeared. The one I mentioned in this comment and the one in the title of the issue.

[2017-12-28 15:05] mniak commented on #225
Thank you very much guys, I was facing the same issue.
I found out that my Nginx reverse proxy was adding the `X-Frame-Options` header. After removing it, the error disappeared!

[2017-12-28 15:20] brockallen commented on #465
Hmm, I bet the error is happening on your callback page -- that needs the clock skew setting. IOW, the clock skew you set on the main page is not being read by the callback page. So try moving the setting to the UserManager on the callback page.

[2017-12-28 17:42] GustavoPinfildi commented on #465
That's exactly what was happening. Thank's a lot @brockallen .

[2017-12-28 18:04] #465 closed, assigned to nobody

[2017-12-28 18:05] brockallen opened #477 "Consider capturing settings at authorize request time"
and use those on the callback, rather than requiring the callback to also be configured with the settings.

[2017-12-29 12:43] stevecj opened #478 "querySessionStatus Frame window timed out"
I'm trying to use the `querySessionStatus()` method to check whether a user is signed in, but consistently getting "Frame window timed out" errors.

My test-run code to try using `querySessionStatus()` is as follows:
[code]

The console output I'm getting is…
[code]

When I use the network monitor in Firefox, I see that the last thing that happens in the above is a successful request to provider's

[2017-12-29 13:13] brockallen commented on #478
I'm guessing you're getting an error in the iframe? Try to visit it in a top windows to see what you see.

[2017-12-29 15:44] stevecj commented on #478
@brockallen When I open the page in its own tab, it is blank, and there are no error messages in the console. When I inspect the DOM for that page, either there or in its iframe, I see an HTML document with a script tag in its body containing a medium-small amount of JavaScript code.

Here is the page source. I replaced the auth provider host name with "{provider-hostname}".

[code]

[2017-12-29 16:15] brockallen commented on #478
Don't know -- check the console for errors, and check the server for errors.

[2017-12-29 16:56] stevecj commented on #478
There were no console errors. I'll ask the admin to help me check server errors.

[2017-12-30 00:34] stevecj commented on #478
@brockallen I'm still waiting to be able to get help checking the server logs.

Is there anything you can tell me based on my symptom about where in the process the problem would have to be?

Does the iframe seem to have loaded the last content that it should have loaded, or should it have redirected elsewhere after that? What should have happened between oidc client in the main page and the proce

[2018-01-02 10:58] janvdbergh commented on #469
I got the same problem as well. The issue is that server.js sets a Content-Security-Policy that only allows resources to be loaded from the application itself. A quick workaround is to remove this code.

However to be more secure, you should add https://our.server.com to both connect-src and frame-src in the CSP, e.g.
`res.set('Content-Security-Policy', "default-src 'self'; connect-src 'self' http

[2018-01-02 16:16] #476 closed, assigned to nobody

[2018-01-04 13:51] stevecj commented on #478
@brockallen

Our admin tells me "I can see there are checksession calls.  They are all info messages.".

I have implemented some enhanced logging that can tell me whether the call was from within an iframe or not. Using that, the last log output I get from oidc in the iframe is "info: user loaded". The next log output I get from oidc is in the main window and is "error: Frame window timed out".

A

[2018-01-08 09:17] mantasaudickas commented on #462
So to finalize, after investigation I was not able to find what can be fixed here.
The only thing I noticed I did wrong - I created angular route for renew callback. Which means during silent renew callback full angular application was initialized.
I changed that to simple html file with included js which just call signinSilentCallback and the issue went away.
However it sound like workaround to m

[2018-01-08 11:54] piehouserat commented on #429
Hi Brock,

thanks for this info, just wondering how/when I should call the clearStaleState method?

[2018-01-08 13:15] brockallen commented on #429
I'd put it in the main page load of your app.

[2018-01-08 13:16] brockallen commented on #462
This is the recommended approach anyway, for security reasons.

[2018-01-09 01:25] steveoh commented on #467
Well then something else is up around the time of that commit since I couldn't make it work with the latest code.

[2018-01-10 06:18] cstpraveen opened #479 "Session clears if I close browser tab."
I'm not sure it is a valid question or not.

But please apologize me for this silly question.

If I close my window or my tab it clears sessionStorage in my browser.

Is this a feature or bug?

[2018-01-10 12:25] brockallen commented on #479
https://developer.mozilla.org/en-US/docs/Web/API/Window/sessionStorage

[2018-01-10 13:37] cstpraveen opened #480 "Is that possible to get the data from the Oauth Server if access token expires?"
I've configured the oidc userStore as local storage. Even if I close the tab or re-open the tab, the values is still there in Local Storage.

My question is, I've logged in via oauth server and the silent renewal is working fine. What if the user is expired?

If the user is expired will it possible to get new access token and ID token from the oauth server.

My colleague is saying like as long as

[2018-01-10 14:20] brockallen commented on #480
You mainly treat expired access tokens as the user is logged out, and then you can try to obtain new access tokens. If your user still have a SSO session at the token server, then they will get sent back to the client without re-entering credentials.

[2018-01-10 14:26] brockallen commented on #471
are you able to reproduce this in our samples?

[2018-01-10 14:27] cstpraveen commented on #480
Even If I do silentRenew I'm just getting Token Expired response only.

[2018-01-10 14:31] brockallen commented on #480
That's not an error that would come back from a silent renew.

[2018-01-10 14:32] cstpraveen commented on #480
So what would be the flow?

And what should we do if token expired?

I need a valid token.

[2018-01-10 14:34] cstpraveen commented on #480
Can you elabrate the point.

Like what would be the flow of OIDC.

My lead said like, we should get the access token, as well as id token as long as the session is maintained in Oauth Server (SSO Server).

[2018-01-11 11:06] urbanhusky commented on #440
We have customers that have rather bad internet connections. Does anyone have suggestions on how this might be improved?
I could only think about using the silent renewal error callback and trigger a delayed renewal (as long as the token is not expired or about to expire)…

…and use longer token lifetimes and a larger buffer between token renewal and expiry.

[2018-01-11 16:25] RainingNight opened #482 "t.toStorageString is not a function in Angular5 with TypeScript."
VM61297:1 Uncaught TypeError: t.toStorageString is not a function
    at eval (eval at e.storeUser (oidc-client.min.js:formatted:1), <anonymous>:1:3)
    at e.storeUser (oidc-client.min.js:formatted:15145)

[2018-01-16 12:56] cstpraveen opened #483 "Is there any way to handle Token Expired?"
After a certain time the session has been expired.

So I've wrote like
[code]
I need to do automatic login if the token is expires. So I've called sign in redirect. But the callback is not triggered.

But this makes infinite loop. How to handle this?

[2018-01-16 12:57] #480 closed, assigned to nobody

[2018-01-17 22:09] ceberz opened #484 "Ideal follow-up to a silent renew failure?"
Hello,

In the event of a failed silent renewal (assuming the cause of failure is intermittent, and that it makes sense to retry), what would be the best way to do it?

- Calling signinSilent().
  - Is signinSilent() functionally the same as a silent renew operation, and if successful, would the future silent renewals be attempted again on future expirations?
- Stopping and starting silent renewal

[2018-01-18 00:51] Hyjaz opened #485 "Define expiration time"
@brockallen Is it possible to set the expiration time with this library? Or is that preconfigured with the identity provider?

[2018-01-18 04:57] pielegacy opened #486 "signinRedirect doesn't work in Microsoft Edge"
The following snippet (AuthOIDC being an encapsulating object).
[code]

Does not work in Microsoft Edge, despite working as expected in Chrome and Firefox.

The only output that I am given even after turning on logging is what follows:
![image](https://user-images.githubusercontent.com/7465061/35081300-921b79f4-fc67-11e7-8c89-17a220900222.png)

[2018-01-18 08:19] Biarity opened #487 ""Unexpected token < in JSON at position 2" when calling `signinRedirectCallback`"
I am getting this error when calling `signinRedirectCallback`:
[code]

Here's the full corresponding redirect_uri:
[code]

When converting the `id_token` and `access_token`s in that URL into JSON, I couldn't find a `<` character, so I'm unsure how to tackle debugging this.

[2018-01-18 10:56] brockallen commented on #485
Expiration of what? I assume you mean the access token, and that would be controlled by the token server.

[2018-01-18 10:57] brockallen commented on #486
perhaps a cross-zone issue?

[2018-01-18 11:00] brockallen commented on #487
You will need to do some network/http level debugging. Sounds like oidc-client is making http calls back to the token server and an error (html) page is being returned instead of an expected json response.

[2018-01-18 11:01] brockallen opened #488 "enhance http calls to OP to check content-type on response for json"

[2018-01-18 12:10] Biarity commented on #487
Yup, my OIDC server was returning HTML for `userinfo`. All fixed - thanks for your time.

[2018-01-18 12:10] #487 closed, assigned to nobody

[2018-01-18 17:37] dolgachio opened #489 "How to get new "access_token" using the "refresh_token" in Cordova based application?"
Hello!

First of all, I want to say thank you to all contributors of this library, it works great in our project and I really appreciate that.

Right now I am developing Cordova based mobile application. And we need to add functionality to renew expired `access_token` without asking for user's credentials.

From this video [https://www.youtube.com/watch?v=eF2myGRT8bo](https://www.youtube.com/watch

[2018-01-18 18:36] Hyjaz commented on #485
I am talking about the `id_token`. The `expires` header of the HTTP response returns a `-1`. Is that something I can control with library?

[2018-01-18 22:12] brockallen commented on #485
id_token contains an expiration and is controlled by the token server and that's unrelated to any HTTP response header.

[2018-01-18 22:22] pielegacy commented on #486
Any recommended fixes?

[2018-01-18 22:53] brockallen commented on #486
For what? Have you isolated the issue?

[2018-01-18 22:56] pielegacy commented on #486
Well I know the same snippet of code works fine in all other browsers and it is most definitely that method call that doesn't work. So is there any fixes or things wrong with how I am using the library that would result in this now working in Edge?

[2018-01-18 23:20] bastienJS opened #490 "ClientId must not have a whitespace ?"
An image says more than words:

![image](https://user-images.githubusercontent.com/5945955/35126565-4c7a3c0e-fcae-11e7-9388-c7376351e8f4.png)

"my clientId" is my client`s id... but it seems it breaks your code because you split by whitespace.

I guess this will be labelled as 'Enhancement' :-)

[2018-01-18 23:46] brockallen commented on #490
I'd call it a bug :)

If you can find where it's not being url encoded, feel free to send a PR.

[2018-01-18 23:47] brockallen commented on #486
I've not tried to repo it, but from all my prior testing everything worked in edge. So maybe something in a recent update? So either track down the actual reason yourself, or wait for me to have tim to try to reproduce.

[2018-01-19 12:30] dolgachio commented on #167
@brockallen could you clarify what you suggest for Cordova(hybrid) mobile apps?
Thank you in advance

[2018-01-19 12:45] brockallen commented on #167
This spec: https://tools.ietf.org/html/rfc8252

[2018-01-22 02:46] RangerDanger94 opened #491 "Add flag to not stop polling check_session when there is a CheckSession error"
Hi, I have been been looking into single sign out for implicit clients. As I understand it we can use the result of the checksession endpoint to determine signout at the OP.

I am running into an issue with the op iframe where it always returns with the message

"error message from check session op iframe"

![image](https://user-images.githubusercontent.com/3240228/35200926-21b2f164-ff6a-11e7-9917

[2018-01-22 03:18] RangerDanger94 commented on #491
Just to follow up, this is using oidc-client@1.4.1

[2018-01-22 11:51] cstpraveen opened #492 "Oidc Logout from Server - Still logged in"
I am using OIDC Client JS with Redux OIDC.

Here is my configuration file.

[code]

Scenario 1: I've logged in using Oauth Server. And I logged out the server. Now I tried to open the oauth server directly. It is also logged out.

Scenario 2: I've logged in using Oauth Server. And I've openned the Oauth Server directly in another tab. And I've logged out from my application. Now if I refresh the O

[2018-01-22 14:49] brockallen commented on #482
Which file are you loading? If you're using a proper module loader then you need the right dependencies/polyfills.

[2018-01-22 14:50] brockallen commented on #483
Not sure -- check your http traffic and error logs in the token server. Also, normally you'd want to try a silent renew first, since the user probably still has a SSO session at the token server.

Check our samples with IdentityServer for more info.

[2018-01-22 14:51] brockallen commented on #484
Only thing you can do is start authentication over in the main window if silent fails and you can't determine the error.

[2018-01-22 14:51] brockallen commented on #486
Any update?

[2018-01-22 14:55] brockallen commented on #489
No, sorry. This question has come up in the past, so check the archives as to the full explanation.

[2018-01-22 14:55] #489 closed, assigned to nobody

[2018-01-22 14:56] brockallen commented on #492
You need to learn about signout: https://openid.net/specs/openid-connect-session-1_0.html

[2018-01-22 15:28] brockallen commented on #491
Yea, the value of the message looks wrong. It looks like the wrong sender is contacting that iframe and thus confusing it, causing the error which stops the polling. Can you find out who's erroneously calling it and why?

[2018-01-22 15:38] brockallen commented on #306
merged, thanks.

[2018-01-22 15:38] #306 closed, assigned to nobody

[2018-01-22 15:45] #428 closed, assigned to nobody

[2018-01-22 16:01] brockallen commented on #446
All set on this issue -- can we close?

[2018-01-22 16:01] #447 closed, assigned to nobody

[2018-01-22 16:02] brockallen commented on #458
Sorry, not sure.

[2018-01-22 16:02] #458 closed, assigned to nobody

[2018-01-22 16:02] #461 closed, assigned to nobody

[2018-01-22 16:03] #462 closed, assigned to nobody

[2018-01-22 16:03] #464 closed, assigned to nobody

[2018-01-22 16:03] brockallen commented on #467
All set on this issue -- can we close?

[2018-01-22 16:03] brockallen commented on #469
All set on this issue -- can we close?

[2018-01-22 16:04] #471 closed, assigned to nobody

[2018-01-22 16:04] #472 closed, assigned to nobody

[2018-01-22 16:04] #474 closed, assigned to nobody

[2018-01-22 16:04] #475 closed, assigned to nobody

[2018-01-22 16:05] brockallen commented on #478
No, sorry. You will have to just debug more into it.

[2018-01-22 16:05] #479 closed, assigned to nobody

[2018-01-22 16:06] #485 closed, assigned to nobody

[2018-01-22 16:17] brockallen commented on #477
this would be a breaking change, i think...

[2018-01-22 16:19] brockallen commented on #468
Did you ever workaround this?

[2018-01-22 16:19] steveoh commented on #467
It’s still an issue

[2018-01-22 16:20] brockallen commented on #39
Since we have other good server-side libraries, I'll close this.

[2018-01-22 16:20] #39 closed

[2018-01-22 16:24] brockallen opened #493 "Consider removing Cordova support in 2.0"
This issue is to gauge the current level of Cordova use and find out how painful this will be if Cordova is removed. Feedback welcome.

[2018-01-22 16:25] brockallen commented on #221
Related: https://github.com/IdentityModel/oidc-client-js/issues/493

[2018-01-22 16:25] brockallen commented on #433
Related: https://github.com/IdentityModel/oidc-client-js/issues/493

[2018-01-22 16:32] brockallen commented on #467
And what else did you do to debug into it?

[2018-01-22 16:45] figuerres commented on #446
yeah, i think it's ok....

[2018-01-22 16:45] #446 closed, assigned to nobody

[2018-01-22 16:48] steveoh commented on #467
Ok, the problem stems from me pointing the sample page at my agencies authorize url and the CSP is set to self which is obviously not allowed.

I'm sorry that wasn't obvious when I created the issue, but reading my original post, it's fairly obvious now.

[2018-01-22 16:48] #467 closed, assigned to nobody

[2018-01-22 17:30] brockallen commented on #490
Ok, I started to look into this and I thought your issue was that the authorize requests didn't work, but it's that the check session is not working. That's tricky because of the spec:

https://openid.net/specs/openid-connect-session-1_0.html#RPiframe

So I suppose the issue is more in IdentityServer and not in the oidc-client library. I assume you're using IdentityServer?

[2018-01-22 20:36] arthurdent510 commented on #486
I can verify that I am seeing the same thing in Edge.  IE is throwing fits for me if running in anything under ie11 mode and if compatibility mode is turned on.  Once those are set, it's fine.  Edge throws this no matter what combination of settings I use:

SCRIPT7002: XMLHttpRequest: Network Error 0x2efd, Could not complete the operation due to error 00002efd.
ERROR Error: Uncaught (in promise):

[2018-01-22 21:01] brockallen commented on #486
Ok, I'll try to test it when I can to see if I can repro.

[2018-01-22 23:39] Meligy commented on #468
The priority for sorting this shifted back a bit. I'll be looking at it in 2 weeks time.The obvious workaround is to try to handle the session timeout outside of the library, but I haven't got to looking at it in the actual situation yet. Thanks for checking.

[2018-01-23 01:21] RainingNight commented on #482
add dependencies/polyfills, ok.

[2018-01-23 01:21] #482 closed, assigned to nobody

[2018-01-24 01:46] RangerDanger94 commented on #491
That's exactly what it was Brock, thanks for the pointer.

This other request was originating from the [Accessibility Developer Tools](https://chrome.google.com/webstore/detail/accessibility-developer-t/fpkknkljclfencbdbgkenhalefipecmb?utm_source=chrome-app-launcher-info-dialog) chrome extension which runs the following bit of JavaScript.

[code]
After disabling the extension the checksession poll

[2018-01-24 13:10] brockallen commented on #491
Possibly. I can review it.

[2018-01-24 13:38] PeterHageus commented on #449
I have the same problem, but in Chrome. Can not find a way to enable cookie access for iframe (not sure if this is even a thing in Chrome).

The problem only occurs when running locally against IdSrv4 2.1.1, it works fine with 1.5.1.

Checksession fails, and triggers a silent refresh (even though automaticSilentRenew is false), and user is logged out immediately again.

Same messages as OP:
Respon

[2018-01-24 14:45] brockallen commented on #449
Sounds like you need to enable lax same-site cookies for the auth cookie.

[2018-01-24 16:24] PeterHageus commented on #449
Could not find that exposed anywhere, so tried replacing IConfigureNamedOptions<CookieAuthenticationOptions>, but made no difference. (it gets called though, so lax should be active)

[2018-01-24 19:15] chamikasandamal commented on #409
@premiumwd : What is the solution you have done for this?

[2018-01-24 19:41] chriseugenerodriguez commented on #409
@chamikasandamal https://github.com/premiumwd/a

[2018-01-25 20:40] figuerres opened #494 "IE11 login with new ie11 update not working"
in the past i have had login with IE 11 working, now we are re-testing our app and it's not working.
there was a recent IE11 update from microsoft and we do not know if this is causing the issue or if some other thing is the problem.

Edige login works.
chrome login works.

our STS  is identity server V3
our client app is angualr 4+

login is with the ui in a popup window that closes.
on IE 11 we

[2018-01-26 14:00] liamjay opened #495 "Automatic Silent Renew: After 3rd SilentRenew, access token isn't active"
Hi Guys

I'm using the latest version of your library (1.4.1), got automatic silent renew enabled. After the third silent renew the access token I'm getting back isn't active. Can you tell me or point me in a direction to find out what is happening.

Thanks

[2018-01-26 15:09] brockallen commented on #495
Check the logs in your token server.

[2018-01-26 15:50] liamjay commented on #495
Checked the logs and nothing states that something went wrong.

[2018-01-26 16:19] brockallen commented on #495
And then what's the error in the client? or any hint in the client log?

[2018-02-01 12:02] ChrisDevinePimss opened #496 "signoutRedirect method has stopped working"
Since upgrading to the dotnet core v2 of Identity Server, we have noticed the logout has ceased to work,

I am guessing this is something to do with oidc using a GET instead of a POST to do the logout. Is this a new change and does it require a change in this library?

[2018-02-01 12:53] brockallen commented on #496
No, it's all still working in our samples: https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc

[2018-02-01 13:04] ChrisDevinePimss commented on #496
Looks like we were missing following controller endpoint

        [HttpGet]
        [AllowAnonymous]
        public async Task<IActionResult> Logout(string logoutId)
        {
            // build a model so the logout page knows what to display
            var vm = await _account.BuildLogoutViewModelAsync(logoutId);

            if (vm.ShowLogoutPrompt == false)
            {
                // i

[2018-02-01 13:39] #496 closed, assigned to nobody

[2018-02-02 13:12] maurotn opened #497 "Question about Ionic + OAuth 2 implicit grant flow + spoofing issue"
Hi, we are developing an hybrid app with the latest version of Ionic that implement OAuth authentication with implicit grant flow (using identity server and oidc-client).
We have found that there is the possibility to spoof the client configuration (client_id, redirect_uri and scopes) and to use it into another third party app.
Are there any way to protect the configuration (obfuscation) or not al

[2018-02-04 21:11] liamjay commented on #495
I've enabled logging and nothing comes back with an error. However, if I switch off the automatic silent renew and do it manually it all works fine.

[2018-02-05 11:37] pengweiqhca opened #498 "Silent renew error: login_required"
Client host: https://localhost:43312
OP Host: https://a.b.work

When silent renew, redirect to the connect/authorize, the request header without cookie
[#462](#462 )

Browser: Chrome 62

[2018-02-05 14:33] brockallen commented on #495
Not sure then -- you'd need to debug it some more.

[2018-02-05 14:33] brockallen commented on #498
You need to debug why the cookie is not sent.

[2018-02-05 21:33] liamjay commented on #495
KK no worries. I'll close this issue and do some debugging.

Thanks for the assist

[2018-02-05 21:33] #495 closed, assigned to nobody

[2018-02-06 05:36] pengweiqhca commented on #498
I'm sorry! I found the reason:
[same-site-cookie-attribute](https://caniuse.com/#feat=same-site-cookie-attribute)
[Preventing CSRF with the same-site cookie attribute](http://www.sjoerdlangkemper.nl/2016/04/14/preventing-csrf-with-samesite-cookie-attribute/)

[2018-02-06 05:36] #498 closed, assigned to nobody

[2018-02-06 16:37] chrisgbaker commented on #23
Just bumping this to see if @brockallen or anybody else has time

[2018-02-07 06:21] EricNjue opened #499 "Authenticate user before app load"
How do I implement in such a way that, before the application loads, the user must be authenticated (oidc to do a signInRedirect to my auth server).

[2018-02-07 14:36] brockallen commented on #499
Try signinSilent or querySessionStatus.

https://github.com/IdentityModel/oidc-client-js/wiki

[2018-02-07 16:26] chriseugenerodriguez opened #500 "hash location strategy support?"
I have activated hash for routes: `RouterModule.forRoot(routes, { useHash: true }),`. When logging into oidc client it worked before, on the callback when it routes me back to my website I get this error.

`Error: Cannot match any routes. URL Segment: 'authid_token'`

auth being the route, and id_token being the response_type in my configuration file. Any ideas?

[2018-02-07 16:42] brockallen commented on #500
I'd recommend not putting the redirect_uri into your app's routing engine. You want to minimize the possibility of XSS or other attack vectors on the sensitive handoff from the STS to your client. Having said that, you can pass the response values manually into the callback APIs as the first param.

[2018-02-07 16:53] chriseugenerodriguez commented on #500
To respond to this remark, How would I do this? The response types are automatically inserted into the url on redirect back after login. Here is my auth.service.
[code]
routes.ts
[code]

[2018-02-07 22:28] premiumwd commented on #500
I think I am in wrong repo. Related to https://github.com/damienbod/angular-auth-oidc-client/pull/61

[2018-02-07 23:50] brockallen commented on #500
You'd call: `signinRedirectCallback(your_param_you_read_from_your_URL)`

[2018-02-08 00:33] premiumwd commented on #500
No offense, but this doesn't help me.

[2018-02-08 02:07] brockallen commented on #500
Well, you get what you pay for.

[2018-02-08 02:36] premiumwd commented on #500
:). Thanks for helping. Its just hash location strategy not liking the callback parameters in url. This was default functionality on other library.

[2018-02-08 20:42] milocosmopolitan opened #501 "How come OidcClientSettings doesn't accept 'client_secret'?"
#499 Why does class OidcClientSettings takes 'client_secret' but OidcClientSettings in typescript doesn't accept 'client_secret'? Don't I need client_secret?

[2018-02-08 23:53] chriseugenerodriguez commented on #500
@brockallen Do you have support for hash location strategy?
`RouterModule.forRoot(routes, { useHash: true }),`

The problem is that on callback to that url, it won't parse the parameters in url from this function you specified

[code]
I call this function in my callback component:
[code]
I define my route here:
[code]

The routing engine doesn't like it, thinks its a route
`Error: Cannot match any

[2018-02-09 01:47] brockallen commented on #500
My main suggestion, as I said above, is to not use a page that has any sort of hash fragment routing for your redirect uri.

If you must, then when you call `signinRedirectCallback` you can pass the values that are expected, rather than letting the API grab them itself from the URL, You can see the param here: https://github.com/IdentityModel/oidc-client-js/blob/dev/src/UserManager.js#L92. If you'

[2018-02-09 01:48] brockallen commented on #501
Prolly because no one submitted a PR for the typings with it?

[2018-02-09 01:51] chriseugenerodriguez commented on #500
I am probably going to have to not use a callback .ts file that calls the completeAuthentication() function.

Routing engine rejects it and thinks its part of url.

Going to try and put it root and call it there. Unfortunately your suggestion doesn't work with angular because callback is inside angular application.

[2018-02-09 14:18] brockallen commented on #500
But can't you simply serve up one static file to do the callback processing?

[2018-02-09 18:18] chriseugenerodriguez commented on #500
@brockallen I did serve it as a static file, still getting issue. It thinks its a route. I used your tutorial and serve static file with exact code you have. On callback it comes back to application with this:

`/auth.html#id_token=`

It adds hash after html file.

Still get error:

`ERROR Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'id_token'`

[2018-02-09 19:00] brockallen commented on #500
That error sounds like it's coming from some JS framework (angular or react or other)  you're loading on the page. When I suggested a static page, I meant a html page with no JS framework (other than oidc-client to process the response).

[2018-02-09 19:03] chriseugenerodriguez commented on #500
@brockallen I know were good on that point, but I added the exemptions to .angular-cli.json
[code]
I copied your tutorial.
auth.html
[code]
auth.js
[code]

[2018-02-09 19:14] brockallen commented on #500
Sorry, I don't know angular or react. But if you search thru all of the code in oidc-client, you will not find that error message.

[2018-02-09 19:15] premiumwd commented on #500
@brockallen oh okay, but the example you have using your library is in angular 2. Who helped you with that, can you ping him into this conversation?

[2018-02-09 19:21] premiumwd commented on #500
@jmurphzyo can you help me out with this one? You made the angular 2 integrate with this library oidc-client.js, getting issue because I am using hash location strategy '#' in url for server side rendering.

[2018-02-09 20:27] chriseugenerodriguez commented on #500
@brockallen so I got the callback to work, but getting error.

No matching state found in storage

user not found in storage on callback auth.html file. It deletes it from localstorage after this function fires.

[2018-02-09 20:50] brockallen commented on #500
same origin from starting point to callback? i typically see http to starts and https to end, which, of course, does not share local storage.

[2018-02-09 20:58] chriseugenerodriguez commented on #500
[code]
@brockallen on callback it is storing user info into session storage, when redirecting back to application info disappears.

[2018-02-09 21:03] brockallen commented on #500
state is stored in local storage before leaving to the token server and read on the callback page. if the callback is processed successfully, the local storage is cleaned up and then the user's "session" is stored in session storage. both storages can be changed via config.

the error sounds related to the former, not the latter.

[2018-02-09 21:24] chriseugenerodriguez commented on #500
@brockallen figured out issue. This was a two part issue to get hash location strategy to work.

Make callback static file outside of angular adding it to .angular-cli.json as the path to ignore:
`{ "glob": "auth.html", "input": "./", "output": "./" },`
Adding oidc-client to static file inside .angular-cli.json
`{"glob":"**/*.js", "input":"../node_modules/oidc-client/dist/","output":"./"},`

Creat

[2018-02-09 21:24] #500 closed, assigned to nobody

[2018-02-09 22:05] brockallen commented on #500
An additional comment -- I'd suggest purging the history entry in the address bar on successful callback, like this:

https://github.com/IdentityServer/IdentityServer4.Samples/blob/release/Clients/src/JsOidc/wwwroot/callback.js#L4

[2018-02-12 15:12] Prithvirajbilla opened #503 "Retry Fetching keys from the jwks_uri"
**Problem:**
The keys in jwks_uri may get expired and needs an update. Currently, there is no retry behaviour when the jose validator tries to validates the JWT and may unable to find the matching keys from jwks_uri. This results in an error "No Matching Key found".

One way to avoid this is by doing a single retry when the validator is unable to find the matching key from jwks_uri.

This is how i

[2018-02-12 15:47] brockallen commented on #503
That would be a very narrow windows of time, since normally keys are downloaded on each new page load. There's not a lot of caching going on.

I guess the question is -- are you running into this scenario where during the page lifetime keys are rotated? Normally that's bad behavior on the part of the token server to add new keys and start using them immediately.

[2018-02-12 16:17] Prithvirajbilla commented on #503
As you mentioned, this shouldn't be problem as the keys are downloaded on each page.
But I am running into this issue, some times. when users leave the browser open overnight or over a weekend (and lock the screen), they will see this error the next morning.

[2018-02-12 19:01] brockallen commented on #503
But again, you should not be retiring keys that quickly.

But regardless, I do see that there will always be that possibility if you left the browser up for a longer time. It might be tricky to implement it... have a look and tell me what you think you'd do to add this as a feature.

[2018-02-13 04:28] markphillips100 commented on #493
Well I for one use it a lot in all my Ionic apps.  Happy to fork and go my own way though but then it'll end up a private repo I guess.

[2018-02-13 04:37] markphillips100 commented on #493
Would maybe moving the cordova specifics into its own repo as pluggable components help?  So those who want cordova include both libraries and setup via configuration as usual perhaps?

[2018-02-14 01:15] AnthonyGiretti opened #504 "Silent refresh"
Hi! Is it possible to have a sample of silent refresh? I tried to follow scott brady's tutorial but nothing work.
Nothing happen at all

Thanks

[2018-02-14 08:49] Elias-Serneels opened #505 "Popup opens about:blank on firefox for iOS"
Triggering signInPopup on firefox for iOS opens a new window but doesn't navigate to the correct uri. This result in an empty "about:blank" window staying open while nothing happens. None of the other browsers I tested were affected by this.

I did some testing:
[code]

The above does NOT work on firefox for iOS because it prevents the window object from being altered after it has been created.

T

[2018-02-14 13:13] brockallen commented on #504
There's one in the IdSvr sample repo: https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc

but it uses the automatic mechanism, and doesn't call the silent APIs directly.

[2018-02-14 13:27] AnthonyGiretti commented on #504
Hi thenk you,

But i did the same and nothing happen

I setup
silent_redirect_uri and automaticSilentRenew to true in the config
a silent.html
and mgr.events.addAccessTokenExpiring(function () {
    log("Access token expiring...");
});

nothing fires...

I don't understand why

May I show you my GitHub repo with my source?

Thank you!

[2018-02-14 13:47] brockallen commented on #504
No, sorry. But the only thing I can think of is that the token hasn't yet expired.

[2018-02-14 13:59] AnthonyGiretti commented on #504
The token dones’t expires front end side, but when I send it in webapi as
Bearer Authorization I get 401

It set up it expiracy at 10 min.

It’s really weird.

Le mer. 14 févr. 2018 à 08:47, Brock Allen <notifications@github.com> a
écrit :

[2018-02-14 14:31] AnthonyGiretti commented on #504
I saw that property expired_at is undefined, any idea what causes that? in the ID token I have a property named exp instead, I'am using Azure AD Connect

[2018-02-14 14:40] brockallen commented on #504
Not sure -- you will have to debug into it some more.

[2018-02-14 18:15] AnthonyGiretti commented on #504
I set expired_at property with exp claims. this.user.expired become true when token expires, that's correct, but events related to and silent refresh still not fire :(

[2018-02-15 12:44] AnthonyGiretti commented on #504
Hi,
Can confirm me this Please:

If I don’t have access_token, expiring / expired event to renew token can’t work right?
Azure Ad sends me only ID_token that’s why it does’t Work properly

Thank you

[2018-02-15 13:42] brockallen commented on #504
Correct

Ah, this would explain why those events don't fire for you.

[2018-02-15 13:50] AnthonyGiretti commented on #504
Exactly !

Thank you for your help!

Le jeu. 15 févr. 2018 à 08:42, Brock Allen <notifications@github.com> a
écrit :

[2018-02-15 13:52] #504 closed, assigned to nobody

[2018-02-15 17:15] dloukola opened #506 "signoutRedirect ui_locales not being passed"
The signoutRedirect call allows a "ui_locales" option, but does not pass it in the querystring.
[code]
**Expected:**
https://my-identity-server.com/account/logout?logoutId=[logoutIdHere]&ui_locales=fr

**Actual:**
https://my-identity-server.com/account/logout?logoutId=[logoutIdHere]

**OIDCJS**
Index.d.ts
`signoutRedirect(args?: any): Promise<any>;`
ref: [src](https://github.com/IdentityModel/oidc

[2018-02-15 18:14] brockallen commented on #506
`ui_locales` is not part of the signout spec: https://openid.net/specs/openid-connect-session-1_0.html#RPLogout

[2018-02-15 18:24] damienbod commented on #506
ui_locales is a mandatory  see
http://openid.net/specs/openid-connect-core-1_0.html#ServerMTI

And Session Management complements the OpenID Connect Core 1.0 [OpenID.Core]

so ui_locales is part of the signout spec.

Note: sorry, incorrect, it's only for providers, not for RPs

[2018-02-15 19:13] dloukola commented on #506
Thank you. The post_logout_redirect_uris option allows me to solve this issue.

[2018-02-15 19:13] #506 closed, assigned to nobody

[2018-02-16 10:34] zedL commented on #23
@brockallen
Whats with validating the id_token on server side middleware?

It is possible to have an extra endpoint in the api middleware to send the id_token, access_token, nonce ... etc.pp. and get back the user info? So we would not need this big crypto stuff on client side.

[2018-02-16 11:55] vadimkorr opened #507 "User is signed in after logout"
When user logout he is automatically signed in, so token is presented in sign in url.
Using "oidc-client": "^1.4.1"
Expecting that user will be redirected to sign in page after log out.

My sign in function
[code]

Sign out function
[code]

Checking user by `getUser()` returns `null` as expected
[code]

[2018-02-16 12:43] vadimkorr commented on #507
It seems that cookies not cleared on localhost:5000

[2018-02-16 13:53] brockallen commented on #507
When you call the signout function, is the user redirected to the token server's end session endpoint?

[2018-02-16 14:06] vadimkorr commented on #507
@brockallen thank you for reply, yes he is.
Url looks like: http://localhost:5000/account/logout?logoutId=CfDJ8GV8...
And the screenshot of logout page I have:
![image](https://user-images.githubusercontent.com/17295572/36314099-d4fa824e-1344-11e8-90c0-74fd4034b362.png)

[2018-02-16 15:47] brockallen commented on #507
Check the HTTP response from that page -- it should be revoking the cookie.

[2018-02-16 15:56] vadimkorr commented on #507
@brockallen, it sends GET request
[code]
and receives such response

[code]

P.S. btw, I tried to manually remove cookies from browser when I was in localhost:5000, and it helped. The next sign in required credentials as expected.

[2018-02-16 17:28] brockallen commented on #507
Check it with something like fiddler as the request is in flight -- you should see the cookie being recoked. If not, then it's something in the logout page which is broken.

[2018-02-19 12:08] vadimkorr commented on #507
@brockallen Problem was solved by adding this line of code to Logout function inside Account controller.
[code]
And I have couple of questions.
I have noticed the following suggestion surfing the internet, but it has no any differenece, cookies still there.
[code]
In documentation [here](http://docs.identityserver.io/en/release/quickstarts/3_interactive_login.html#adding-sign-out) cookies cleared

[2018-02-19 13:42] brockallen commented on #507
Those are in the client, not in IdentityServer itself.

[2018-02-19 20:30] one-adam-nolan opened #509 "processSignInResponse Parameters Missing in index.d.ts"
Looking at the index.d.ts definition for *OidcClient.processSignInResponse()*, there appears to be a discrepancy between the signatures.  In the index file, I see this:
[code]
However, the actual implementation is as follows:
[code]

Shouldn't the index definition be like this:
[code]

[2018-02-19 21:55] brockallen commented on #509
Feel free to submit a PR. Thanks.

[2018-02-20 23:41] sa-emcvey commented on #491
👍 I would also like this enhancement. I use another npm module for my oidc provider and the session check iframe it provides errors out due to postMessages from a third party user analytics tool we use. It would be great if the polling wasn't stopped because of an op error.

[2018-02-21 15:47] sa-emcvey commented on #491
@brockallen the spec [here](https://openid.net/specs/openid-connect-session-1_0.html#OPiframe) actually says that the check session iFrame should error when receiving a poorly formed message: "If the postMessage received is syntactically malformed in such a way that the posted Client ID and origin URL cannot be determined or are syntactically invalid, then the OP iframe SHOULD postMessage the stri

[2018-02-21 16:26] Asifislam110 opened #511 "Programmatically login (Implicit Flow Angularjs)"
Hi,
Thank you for making oidc-client-js. It is a wonderful project!
How we can login using username and password programmatically without showing logic screen (Idrv) using (implicit flow).
Is it possible to do that?

Thanks

[2018-02-21 17:55] hubaozhang2017 opened #512 "refresh using F5 lost user data"
I use this library for accessing identityserver4. After I log in, user data was lost after I hit F5 to refresh the data.

[2018-02-21 22:32] brockallen commented on #512
You will have to debug it then. By default session storage is used.

[2018-02-21 22:33] brockallen commented on #511
That would be resource owner password flow, which is 1) not OpenID Connect, and 2) not supported by this library.

[2018-02-21 22:54] juanmarin-co commented on #504
Hi @AnthonyGiretti
Did you figure out how to make the auto refresh works ?

[2018-02-21 23:07] AnthonyGiretti commented on #504
Hi! No!
Because i’l Using azure AD and it’s impossible.
Why? Azure AD in implicit flow doesn’t provide access_token to refresh
ID_token.
Azure AD doesn’t respect at 100% open id connect protocol

I switched to adal.js  so, still impossible to refresh token

Le mer. 21 févr. 2018 à 17:54, Juan Marín <notifications@github.com> a
écrit :

[2018-02-21 23:10] hubaozhang2017 commented on #512
It turns out the token is still there after I pressed F5.  After I added

headers = headers.set('Content-Type', 'application/json');

It seems better.  I can continue pressing F5 10 times. my api still receives claims. I waited for five 5 mins. I pressed F5, the api cannot receive claims any more. However, the token was added to headers.
Here is my method for adding headers.
1. api.servie.ts
expor

[2018-02-21 23:46] hubaozhang2017 commented on #512
I tried to debug it C# api controller method. The token is actually in the request headers. There is an error message in sessions.
"Session has not been configured for this application or request."

[2018-02-22 07:10] Asifislam110 commented on #511
Right.
Thanks for your reply.

[2018-02-22 14:07] abergs opened #513 "Repeated calls to getUser() aborts restarts the SilentLoginTimer, causing expiration of token"
Hi,

When calling the getUser() method repeatedly it will reset the SilentLoginTimers causing the silentLogin method to never to be called, ultimately expiring the token.

1. Recreate by following this guide: http://docs.identityserver.io/en/release/quickstarts/7_javascript_client.html

2. Enable silentlogin (myConfig):
[code]

3. Click API button repeatedly.

Debug logs from console:

[code]

[2018-02-22 16:44] hubaozhang2017 commented on #512
I think I found the reason. I gave a AccessTokenLifetime 10 mins. After an inactivity of 10 min, the login user is expired. That causes "Session has not been configured for this application or request." error. I suppose that silent renew will work there is some activities within 10 mins.

[2018-02-22 17:49] #511 closed, assigned to nobody

[2018-02-22 17:50] brockallen commented on #512
All set then on this issue -- can we close?

[2018-02-22 17:57] hubaozhang2017 commented on #512
The problem was resolved.

[2018-02-22 17:57] #512 closed, assigned to nobody

[2018-02-26 17:05] Meligy opened #514 "Version 1.4.2"
Any plan for releasing master soon as 1.4.2?

It's been a while since 1.4.1 :)

Thanks a lot for the super awesome library.

Cheers,

[2018-02-26 17:50] brockallen commented on #514
Not for a couple of weeks -- I will have some downtime then that I can asses the current state, features, and bug fixes.

[2018-02-27 17:38] DanielSchaffer opened #515 "request for feedback: change classes to use named exports instead of default exports"
I'm a TypeScript user, and I've been attempting to switch over to using ES modules where possible to enable tree shaking in Webpack. While `oidc-client-js` is written using ES6 modules (yay!), all the classes use default exports, which wouldn't be a problem, except that they are then re-exported from the index in a way that doesn't match up with what's in the type definition file. The type definit

[2018-02-27 20:51] brockallen commented on #515
Sorry -- I have been busy and am traveling. I won't have time to get back to the open issues/PRs here for a couple of weeks.

[2018-02-28 03:35] makaster opened #516 "access token as jwt, specify audience in client settings ?"
is there a way to specific the audience when making the authorization request? right now it doesn't seem like this library supports it. It's my understanding we need to pass audience to get the access token back as a JWT. Right now i'm getting back an opaque string back as the access token in which my api isn't able to parse!

`export function getClientSettings(): UserManagerSettings {
  return {

[2018-02-28 03:37] makaster commented on #516
Need the access token as a JWT!

[2018-02-28 03:47] brockallen commented on #516
audience of what? i guess you mean the access token? this is what scope is for.

sounds like an incorrect understanding to me. this is what scope is for.

the format of an access token is a contract between the token server and the API. the client (and consequently the library library) has no say in this contract.

[2018-02-28 10:54] alekseytimonin commented on #507
Hi,
I have the same issue. My code:

    startSignoutMainWindow() {
        this.mgr.getUser().then(user => {
            return this.mgr.signoutRedirect({ id_token_hint: user.id_token }).then(resp => {
                console.log('signed out', resp);
                setTimeout(5000, () => {
                    console.log('testing to see if fired...');
                });
            }).catch(fun

[2018-02-28 11:28] vadimkorr commented on #507
I'm using Angular 5 as well by the way.
Hello @alekseytimonin, in my case after logging in I found a sesionid cookie which was saved by identity server. After logging out they was kept in cookies. I just removed them manually after logging out and the next login asked for a credentials.
Do you have the same behavior?

[2018-02-28 14:57] makaster commented on #516
Thanks @brockallen  - still learning my way through this and the terms :)

So as i understand access tokens can be in 2 formats - opaque strings and JWT. I am getting back this from my IDP
`https://localhost:4200/auth-callback#access_token=OqSd2Beb3aF0d9gRudGlQ4Aua&id_token=xxx.yyy.zzz` (this id jwt token does actually come back properly - removed for brevity).

My main question is how do i get ba

[2018-02-28 14:59] brockallen commented on #516
I think your main question is "how in my API to I validate the JWT?". Again, check with your token service. If it's a JWT you can use off the shelf JWT libraries. If it's a reference token then typically you'd use introspection: https://tools.ietf.org/html/rfc7662.

Again, none of this has anything to do with the client application (and this library).

[2018-02-28 15:04] makaster commented on #516
My API is already validating bearer tokens, it expects a JWT. I'm not getting a JWT access token so my API is throwing exceptions because it expects a JWT, as i'm using this library to set the access token on the header in my rest api call. So, i'm not asking how does my API validate because it already is -- the api just isn't getting passed an access token in JWT format from the client SPA. So ag

[2018-02-28 15:17] brockallen commented on #516
As I said, that's something you need to configure with your token server. I can't help you with that.

[2018-02-28 15:17] #516 closed, assigned to nobody

[2018-03-01 06:51] cstpraveen opened #517 "SSO Implementation"
I am using redux-oidc library to do the OIDC.

I have 3 environments. When I click login button in 1st environment react. It is redirecting me to OP and I've logged in successfully.

But all other 2 environments are not logged in. When I click login button on the other environment, it logged in automatically without asking me to enter the username and password. It works pretty well.

But my concer

[2018-03-01 08:51] maxmantz commented on #517
Hi,

are the two other environments using the same react app as environment 1? If so, you should use `localStorage` as the userManager's storage mechanism, instead of `sessionStorage` (the default). Usually what happens is that the user manager checks the storage to see whether or not a valid user exists. In case of `sessionStorage` there will be no user object stored in a new tab. When you switch

[2018-03-01 12:11] cstpraveen commented on #517
The local storage will be stored based on the browser.

What if the domain names are different?

[2018-03-01 12:14] maxmantz commented on #517
If the domain names are different, then, by definition, the user object and access token will also be different. Correct me if I'm wrong @brockallen , but this is not supported by the OIDC protocol.

[2018-03-01 12:52] brockallen commented on #517
I don't understand the OP's question about different environments.

[2018-03-01 14:32] andjiev commented on #244
Hi, i'm facing the same issue. Can you please show your code? Thanks

[2018-03-01 14:46] k-schneider commented on #244
Sure, here are some relevant bits...

First import NgZone:

`import { NgZone } from '@angular/core';`

Then inject it:

`constructor(private zone: NgZone) { }`

And the usage looks something like this:

[code]

[2018-03-02 09:44] alejandrocoding commented on #93
I am having the same problem, I figured out that the problem is intermitent but always related to http - https redirection.

I open the web app in a new brand installation of Firefox with incognito mode, go through http, get redirected by cloudfront to sso and after login get redirected to https. Just some times, it throw the error and refreshing disappear. it's really hard to reproduce.

I even a

[2018-03-02 13:40] brockallen commented on #93
If the user starts on http on your app and that triggers login to the token server and it's configured to send you back to https, it won't work. You need to make your http page redirect to your own https page, then start the login process.

[2018-03-02 14:29] alejandrocoding commented on #93
Hi @brockallen thanks for replying.

If the user tries on http, it should get 301 and get redirected, as configured that in aws. See this img:

![2](https://user-images.githubusercontent.com/5755545/36903504-363f3074-1e2e-11e8-8ff4-bbd74ed5d9a4.jpg)

so, curl to http -> error page, no js library, curl to https -> my app.

do you have any idea what could be happening? I am open to try ideas :)

Tha

[2018-03-03 12:02] cstpraveen commented on #517
Then how we can able to to SSO in different domain? Is there any possible way?

[2018-03-03 12:04] cstpraveen commented on #517
@brockallen The question is, I need to implement SSO. But the domain name will be different.

Say for example, www.google.com, www.youtube.com. How we can implement SSO in between them?

If I logged in one environment (google), it should be automatically logged in another environment (youtube).

Do I need to call any iframe URL for login or else is there any way to do it?

[2018-03-03 16:21] brockallen commented on #517
Then each app needs to trust the same SSO provider.

[2018-03-05 05:29] cstpraveen commented on #517
All of them configured to trust the SSO provider. But how it would be automatically logged in? Is there any way available like Single Sign Out. So that it would call all environment's logout URL. Similary to trigger all environments LOGIN process at the same time?

[2018-03-05 09:42] andjiev commented on #244
Okay so i first had this

[code]

and switched with this

[code]

Seems like this doesn't work.

[2018-03-05 14:41] brockallen commented on #517
This is not the place to teach you the basics of SSO. You should spend some time reading the specs. Here's the list of specs that IdentityServer implements: http://docs.identityserver.io/en/release/intro/specs.html

[2018-03-05 14:41] #517 closed, assigned to nobody

[2018-03-06 09:49] vigneshsilver commented on #327
dfgdgsdfg

[2018-03-07 18:06] mina-skunk opened #518 "userSignedOut not called when logged out from an other tab"
_edited_
I want to popup a signing prompt if the user signs out of the token server, `userSignedOut` isn't hit.

    userSignedOut = fromEventPattern(
      (handler: () => {}) => this.userManager.events.addUserSignedOut(handler),
      (handler: () => {}) => this.userManager.events.removeUserSignedOut(handler)
    );
    userSignedOut.subscribe(() => {
      // not hit
      this.userManager.sign

[2018-03-07 19:28] Krishna-teja opened #519 "No matching state found in storage when bookmarking Idsrv login url"
I have a unique issue where my end users are bookmarking the login url instead of the application url. So when they are reusing the login url from the bookmark it basically is going to the callback.html page and it throws an error - No matching state found in storage.

I understand that they haven't gone to the application url to go to the Idsvr login page, so the state doesn't match as it doesn't

[2018-03-07 21:27] brockallen commented on #519
OIDC is not designed for that scenario. I'd suggest prompting the user to re-trigger login when you detect that failure.

[2018-03-08 15:29] masterpoi commented on #493
Using it

[2018-03-10 08:17] markphillips100 commented on #470
@brockallen I agree with what you are saying.  At the time we added the Cordova support the InAppBrowser approach appeared to be the only way to support Cordova apps using an Open Id flow, without writing native plugin code that is.  I've gradually become aware that this is not an advisable approach, as some have pointed out, but I'd really appreciate any references to reasons why if anybody has a

[2018-03-10 09:53] markphillips100 commented on #493
I'd be for removing it as the implementation (InAppBrowser approach) is no longer recommended for native/hybrid apps.

[2018-03-11 12:45] mikeandersun opened #520 "Error: No state in response"
I tink this is an angular 5& 6 related error .
With angular 5.2.7 work fine.
I create a [ng5 branch](https://github.com/client-sdk-samples/sample-angular-OidcClient/tree/ng5) and update angular to latest 5.2.8 and the error com in!

[2018-03-11 14:28] brockallen commented on #520
Sounds like an angular problem then.

[2018-03-11 14:38] peymanebrahimi commented on #520
Same problem here. works fine with angular 5.2.7 but not with 5.2.8.

[2018-03-11 17:34] mikeandersun commented on #520
How to add `oidc-client.js` instead of `oidc-client.min.js` to `package.json` so that can trace the bug?

[2018-03-12 10:04] pcorpet opened #521 "Update jsrsasign dependency"
I'm blocked using oid-client because of a bug in a dependency https://github.com/kjur/jsrsasign/issues/182, however they have released a fix. Can you update your dependency to v6 or higher of that lib please?

[2018-03-12 20:36] abisheksharma opened #522 "Are you planning to do something for Angular 5 with HttpInterceptors ?"
I was trying to implement by own http interceptor but I am running into a issue when the page loads first time the http calls are intercepted by the interceptor and i assign the token form the user object which is empty at that point. Do you have any suggestion for me. Thanks

[2018-03-13 04:48] chispaK opened #523 "No state in response"
Good day Guys:

I am running Angular 5.2 application hosted in Asp.Net Core and deployed to Azure. After successful authentication at identity server OP and redirect to the client, I am seeing issue below.

I am seeing the error: **No state in response** when the redirect below is being processed by the OidcClient.

I was not able to resolve the issue from [Issue 93](https://github.com/IdentityMod

[2018-03-13 08:05] mikeandersun commented on #523
It seem this is a breaking change in Angular 5.2.8 and later.
This code may direct you.
[code]

[2018-03-13 14:35] SignorLuigi commented on #195
Hi, I'm trying to understand more identityserver4 I am reading the docs, but I am still lost.
 Can you tell me please, how and where to implement the OidcClient.createSigninRequest?

Thanks

[2018-03-13 23:51] cado1982 commented on #520
To import the unminified code for debugging, you can use
`import { UserManager, User, UserManagerSettings } from 'oidc-client/lib/oidc-client';`

This is also somewhat related to #238 although the fix there to add the trailing slash to the redirect uri doesn't help. I haven't been able to find out why this is happening after updating to Angular 5.2.8 but downgrading back to 5.2.7 fixed the problem

[2018-03-14 00:49] chispaK commented on #523
Thanks for the response @mikeandersun. I will give this a try and see.  I never realized the hash was encoded.

[2018-03-14 06:35] damienbod commented on #520
Angular made breaking changes in the 5.2.8 version.

Quick fix:

window.location.hash = decodeURIComponent(window.location.hash);

Greetings Damien

[2018-03-14 13:47] brockallen commented on #520
So much for semver

[2018-03-14 17:29] tim-white87 commented on #520
I am getting this same issue. I went from 5.0.2 to 5.2.8 and our oidc-client started to fail to grab the state from the redirect response. Downgrading to 5.2.7 fixed the issue.

[2018-03-14 17:31] tim-white87 commented on #520
@damienbod I added that, but still wasn't able to get this to work with angular 5.2.8.

[2018-03-15 01:00] chispaK commented on #523
Thanks @mikeandersun. decoding the hash resolved the issue

[2018-03-15 01:00] #523 closed, assigned to nobody

[2018-03-15 09:20] jansivans commented on #523
FYI this issue was fixed in [Angular 5.2.9](https://github.com/angular/angular/blob/master/CHANGELOG.md#529-2018-03-14).

[2018-03-16 09:35] mantasaudickas commented on #520
Seems like it is working with angular 5.2.9

[2018-03-16 15:11] brockallen commented on #520
Closing. If you still have issues, feel free to reopen.

[2018-03-16 15:11] #520 closed, assigned to nobody

[2018-03-19 18:52] nikki603 commented on #522
the simplest suggestion would be to not add the authorization header when user or user.access_token is null.

However I think the best approach is to separate concerns by not adding authorization header in httpinterceptor. Create an api base class service that does it. See "updateAuthorizationHeader"

[code]

then in httpinterceptor create new or add to existing:

[code]

[2018-03-19 20:46] abisheksharma commented on #522
I handled this by loading the user through App_Module. Different issue i am facing Currently is I am only getting Id_Token and user information. I am not able to silently refresh using automaticSilentRenew or get any custom cliaims. I have AD FS 2016 as my identity provider. Do you have any idea how to handle this. Thanks

[2018-03-23 13:58] brockallen commented on #522
No sorry. Angular is beyond the scope of this project.

[2018-03-23 13:58] #522 closed, assigned to nobody

[2018-03-23 13:59] brockallen commented on #494
Did you ever sort this out? IE seems to be working in my environment.

[2018-03-23 14:00] brockallen commented on #497
Yes, and that's why you should use hybrid flow with PKCE and the custom URI scheme. Implicit flow is not the right flow for native apps.

[2018-03-23 14:00] brockallen commented on #505
IIRC we did open on the blank because opening it elsewhere triggered timing issues. Perhaps something internal has changed in browsers that changes that behavior.

[2018-03-23 14:01] brockallen commented on #509
Merged, thanks.

[2018-03-23 14:01] #509 closed, assigned to nobody

[2018-03-23 14:01] brockallen commented on #513
Yes, because each time you load from storage the expiration might be different. If you have a workaround or better workflow, please suggest.

[2018-03-23 14:02] brockallen commented on #515
That's a breaking change for users of module loaders, yes?

[2018-03-23 14:03] brockallen commented on #518
the token being revoked is unrelated to the user signing out of the token server.

[2018-03-23 14:03] #519 closed, assigned to nobody

[2018-03-23 14:04] #469 closed, assigned to nobody

[2018-03-23 14:04] #478 closed, assigned to nobody

[2018-03-23 14:04] #483 closed, assigned to nobody

[2018-03-23 14:04] #484 closed, assigned to nobody

[2018-03-23 14:05] brockallen commented on #490
Closing since it's a token server issue.

[2018-03-23 14:06] brockallen commented on #507
All set on this issue? Can we close?

[2018-03-23 14:06] #501 closed, assigned to nobody

[2018-03-23 14:06] #499 closed, assigned to nobody

[2018-03-23 14:07] #492 closed, assigned to nobody

[2018-03-23 14:07] #490 closed, assigned to nobody

[2018-03-23 14:11] figuerres commented on #494
Oh, yes... Sorry i have been all over the place in my coding and forgot about this.
just to note it was some really odd thing, part of it had to do with settings in IE on some computers and with moving from an early test server to an updated server & environtments.

just a by the way I now have windows server 2016 and IIS 10 running and so far i like the updates and the HTTP/2 support !!

we also

[2018-03-23 14:11] #494 closed, assigned to nobody

[2018-03-23 14:29] TomCJones commented on #490
Please don't let this happen. It will break all kinds of assumptions in JSON.

[2018-03-23 15:11] mina-skunk commented on #518
@brockallen sorry wrong verbiage, edited

[2018-03-23 19:12] brockallen commented on #490
@TomCJones You mean in IdentityServer?

[2018-03-23 19:15] brockallen commented on #518
So basically the event not firing is the issue. Can you check the logs for activity with the check session feature?

[2018-03-23 22:54] TomCJones commented on #490
I mean any field that might wind up in a JSON object as the following, either intentionally, or by accident, should not have spaces in it. I worry when terms are not used with high precision.

ClientId
Unique ID of the client

[2018-03-24 01:59] brockallen commented on #490
Understood. But IIRC this is not explicitly precluded by the specs.

[2018-03-24 02:31] TomCJones commented on #490
you are correct. But the point is the way that JSON gets implemented because in some elements space delimiters are meaningful and others they are not. I believe this would cause an never ending stream of bugs in user code

[2018-03-24 10:51] balakrishnap88 opened #524 "Global module exports may only appear at top level for oidc-client version 1.4.1"
Hi,

I have updated the oidc-client to 1.4.1, when try to run the typings install it is saying "typings ERR! message Attempted to compile "oidc-client" as a global module, but it looks like an external module. You'll need to remove the global option to continue.". When i move this step to dependencies from globalDependencies typings install successed. But gulp get failed with error " Global module

[2018-03-24 22:22] brockallen commented on #490
Well, I'm not planning on doing anything in this project. I opened an issue in IdentityServer to see why we don't currently allow it and see if it's something minor to address. It's not a technique I'm promoting, but if we can support it we should.

[2018-03-24 22:23] brockallen commented on #524
No idea, sorry.

[2018-03-26 08:34] abergs commented on #513
@brockallen Could we maybe check if the expiration have changed?

Or maybe before doing the TimersReset,check if the lastTimerTriggerAt was more than TimerTrigger seconds ago, if so. perform the TimerTrigger anyway.

I believe it's a problem because right now the pattern for fetching the current user in the docs will actually cause problems which are non intuitive.

[2018-03-27 10:21] maurotn commented on #497
So, the best solution is to combine PKCE and custom URI scheme... perfect!
Now we're using IdentityServer3, that fully support PKCE: in this case the right flow is HybridWithProofKey. Is the right one? Is client_secret required or not in this flow (we have seen that in Identity Server 4 there is a specific property)?

Oidc-client-js is focused on implicit flow, right? In fact we didn't found any e

[2018-03-27 16:15] brockallen commented on #497
Yep.

IIRC, we require secrets, but in that case it won't really be secret. so just don't make any trust decisions based on the client_id anywhere in your APIs.

yes.

[2018-03-28 08:15] Meligy commented on #514
Since it's been a while since February, would it be cool to push a new version?

Maybe a beta?

Thanks.

[2018-03-29 07:40] chrisgbaker commented on #521
possibly related to #23 ?

[2018-03-29 13:32] akiander commented on #486
We are experiencing the same kind of behavior in the Microsoft Edge browser. We are trying to use oidc-client with an Angular5 web application. It works fine on Chrome/FireFox but not Edge... the error we see is:

Was there any determination of what may be happening here?

[2018-03-29 17:05] brockallen commented on #486
Perhaps test the samples in edge (without angular) to see if it's a browser or angular issue? They are here: https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc

I can tell you I have tested them, and edge is working for me :)

[2018-03-30 18:20] JakeGarrison opened #525 "Feature Request - Additional parameters to signout"
I have an app that logs off the user after a period of inactivity. We would like to notify our IdP (IdentityServer4) that the requested signout is due to inactivity by passing an additional parameter to the endsession endpoint when we use signOutSilent on the UserManager.

I've looked into the spec and cannot find anywhere it prohibits additional parameters to the endsession endpoint.

[2018-03-30 19:25] brockallen commented on #525
Do you want an user to really trigger SLO? What if the user has 2 tabs and it's one tab that's inactive, it triggers SLO, and then the active tag is signed out as a result?

[2018-03-30 20:58] JakeGarrison commented on #525
We would not like that behavior. Ideally any successful challenge on the IdP would refresh the expiration of any issued tokens. (like sliding cookie auth) We are finishing our migration from a MVC app to a SPA and migrating from cookie based auth to Bearer. I didn't consider that the JWT wouldn't be refreshed like traditional sliding expiration on cookie auth. Could this be accomplished with refer

[2018-03-30 21:39] brockallen commented on #525
In theory, but nothing like this is built-in.

[2018-04-03 14:05] akiander commented on #486
@brockallen - I confirmed that the oidc-client works fine in MS Edge and IE, so the issue is not with the oidc-client library. It must be because we are trying to use it from within an Angular5 application. We implemented an Angular routing guard that uses this library to authenticate when the user is not logged in but it's just not working for MS Edge and IE so I guess we'll have to find another

[2018-04-03 14:30] #486 closed, assigned to brockallen

[2018-04-03 18:28] akiander commented on #486
I finally found the cause of this issue... the client definition I was using was missing this entry:

    AllowAccessTokensViaBrowser = true,

Once I added that, the redirect happens as expected.

[2018-04-04 14:03] lghinet commented on #486
i am having the same issue, using react,
network error, nothing more in ms edge, onsigninredirect
could it be because i use http and not https

[2018-04-05 08:53] lghinet commented on #486
https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc
is not working on MS Edge v40.15063.674.0

![image](https://user-images.githubusercontent.com/12889810/38356288-03c2dd76-38c8-11e8-9526-7f9c1b72ca0e.png)

[2018-04-05 17:27] dloukola commented on #250
@brockallen I've been having trouble tracking down the event where I can handle the "Response was error login_required". If there is a silent renew and that warning is thrown, I'd like to handle it and redirect them to login. Which event do I have to listen to?

[2018-04-05 17:34] brockallen commented on #250
there's an event called silent renew error or somesuch: https://github.com/IdentityModel/oidc-client-js/wiki

[2018-04-05 19:14] DanielSchaffer commented on #515
Sorry for the delay, I was doing some traveling of my own!

This should not be a breaking change for anyone - it should be transparent for anyone using the existing UMD modules. I tried it with webpack, and didn't have any issues (other than needing `{ node: { fs: 'empty' } }` to make jsrsasign happy). Do you have any test apps I can use to confirm?

[2018-04-05 20:12] brockallen commented on #515
The only one I have is here: https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc

[2018-04-05 20:45] DanielSchaffer commented on #515
Shoot, I don't have any netcore stuff set up :\ Do you have a way to run it quickly and just swap out the js files? https://github.com/DanielSchaffer/oidc-client-js/tree/dev/dist

[2018-04-06 23:56] DevInstinct commented on #486
I have a similar problem with silent refresh within Edge and IE (Chrome & FireFox are ok).

[2018-04-08 12:19] alireza267 opened #526 "why oidc-client uses bitcoinjs-lib?"
After a few months using this library, we found that oidc-client-js is using bitcoinjs-lib.
why?

[2018-04-08 13:08] brockallen commented on #526
where?

[2018-04-08 13:11] alireza267 commented on #526
@brockallen
https://raw.githubusercontent.com/IdentityModel/oidc-client-js/dev/dist/oidc-client.js

[2018-04-08 15:30] brockallen commented on #526
This might be a transitive dependency from jsrsasign: https://github.com/IdentityModel/oidc-client-js/blob/dev/package.json#L48

It's not something this code base pulls in directly. This was also asked recently, so perhaps you could look in the issue history for more info on the prior discussion.

[2018-04-09 03:36] alireza267 commented on #526
@brockallen thank you, could you refer me to the issue you mentioned above?

[2018-04-09 03:45] alireza267 commented on #526
@brockallen thank you, would you please refer me to the issue you mentioned above?

[2018-04-09 07:12] AlexanderBosshard opened #527 "Why are there requests to /authorize if I call a REST service from the login route?"
Please have a look at the following [question](https://stackoverflow.com/questions/49705188/angular-oidc-client-sends-an-authorize-request-for-each-rest-api-call) from SO.

Any help would be very much appreciated. 👍

[2018-04-09 13:00] brockallen commented on #526
There's a search field above. You and I would be searching for the same keywords.

[2018-04-09 17:11] DevInstinct opened #528 "__zone_symbol__xhrScheduled error with silent refresh and IE/Edge"
Silent refresh works fine in Chrome/FireFox.

In IE/Edge, right after the "silent refresh" event trace in the browser, I get these errors:

SCRIPT5007: Unable to get property '__zone_symbol__xhrScheduled' of undefined or null reference
zone.js (2959,1)
ERROR TypeError: Unable to get property 'current' of undefined or null reference
SCRIPT5007: Unable to get property 'stackTraceLimit' of undefined

[2018-04-11 12:11] disist opened #529 "Cordova InAppBrowser crash first open because of automaticSilentRenew"
Hey, thanks for the great library.

I have a problem: When I turn on `automaticSilentRenew` and try to open any URL via `cordova-plugin-inappbrowser` the first trying is falling and inappbrowser automatically closed (the next ones okay).

Seems like it can be a problem with `cordova-plugin-inappbrowser` when `oidc-client` uses option `hidden` to renew token but I am not sure.

Env: iOS 10, 11
[cod

[2018-04-11 12:13] brockallen commented on #529
Not sure, sorry. If you debug into it and find out what the problem is let me know.

[2018-04-11 15:03] hubaozhang2017 opened #530 "silent renew and user inactivity"
I have net core implementation for identityserver4, ang angular 5 for as client application. Silent renew works. With the following parameter defined for the client:

	        AccessTokenLifetime = 120, // in seconds, set to 1200 minutes, default 60 minutes
		IdentityTokenLifetime = 120,
		AbsoluteRefreshTokenLifetime = 2592000, // in seconds, set to default, default 30 days
                Allowe

[2018-04-11 15:11] disist commented on #529
After some debug I understood that renew based on a mechanism that we display hidden inAppBrowser instance and in this window we are running silent renew.

I've checked that this is a problem `cordova-plugin-inappbrowser` when I open one instance of inAppBrowser with `hidden=yes` with any URL (like https://www.google.com) and one visible instance but everything works fine.

I have walked through n

[2018-04-11 17:42] brockallen commented on #530
Yes, don't use the automatic silent renew and code when to trigger renewals yourself according to your own logic using the `UserManager.signinSilent` API.

[2018-04-11 17:43] brockallen commented on #529
I honestly don't know the cordova framework, so I'm of little help. Sorry.

[2018-04-11 19:56] mina-skunk commented on #518
I don't know what I'm looking for but I don't see anything. Even after 2000ms ([Other Optional Settings](https://github.com/IdentityModel/oidc-client-js/wiki#other-optional-settings).checkSessionInterval default) there is no Log or network traffic. I guess that means my issues is the check session feature isn't working?

[2018-04-11 19:58] #528 closed, assigned to nobody

[2018-04-11 20:12] mina-skunk commented on #518
I figured it out, I had endpoint metadata set but only the endpoints listed here: https://github.com/IdentityModel/oidc-client-js/wiki#provider-settings-if-cors-not-supported-on-oidcoauth2-provider-metadata-endpoint

Once I set `check_session_iframe` even though its not documented check session feature started working.

[2018-04-11 20:12] #518 closed, assigned to nobody

[2018-04-11 20:19] DevInstinct opened #531 "Silent refresh: interaction_required error in IE only"
I use silent refresh and it works well on Chrome, Firefox and Edge with the same account.

However, in IE I get:

![image](https://user-images.githubusercontent.com/8344000/38640219-b3147838-3da1-11e8-92a0-813f17b08b4c.png)

Notice that the error occurs after receiving the callback, when calling signinSilentCallback(). What could be IE-specific here?

Thanks

[2018-04-11 21:40] hubaozhang2017 commented on #530
Thank you for the answer. I will implement the function myself. Is this something for a potential enhancement?

[2018-04-11 23:03] brockallen commented on #528
What was the ultimate issue?

[2018-04-11 23:05] brockallen commented on #530
I had an issue for it, but I was cautioned that this library should not dictate what it means for inactivity. Also, accessibility issues are also a concern. So I decided/agreed this library should not be responsible for that sort of feature.

[2018-04-11 23:05] #530 closed, assigned to nobody

[2018-04-11 23:05] brockallen commented on #531
Possibly cross-zones cookies not being sent/honored?

[2018-04-11 23:20] DevInstinct commented on #528
Was getting the error with IE/Edge only, when an Angular page was set as the callback. I worked around it by using plain silent.html/silent.js pages instead.

[2018-04-11 23:31] DevInstinct commented on #531
Not clear. It looked like that at first.

Later on, I moved the silent.html callback page away from the root I was using for testing and reconfigured my callback in Google (which I'm using as the AS), then the cookies started flying around normally and I stopped getting the interaction_required error. Why it was working in all the browsers and not in IE before this is still a mystery.

I may come