[2019-11-12 20:21] annmarie-switzer commented on #985
I agree that is definitely the case. Do you have any advice on where to look for the code that eliminates a user session on browser close? Perhaps if I can find where this is happening, I can modify it to include tab closure.

[2019-11-12 21:31] annmarie-switzer commented on #985
Looks like the issue is that this cookie
`.AspNetCore.Identity.Application`
Does not get deleted on tab close. I am investigating how to force this to get deleted on tab close, but any advice is welcome :)

[2019-11-13 08:04] subesokun commented on #743
@brockallen Retire.js still reports this vulnerability. Should I ignore it or was this issue fixed already in some version?

[code]

[2019-11-13 14:08] brockallen commented on #743
Same answer as before.

[2019-11-13 16:57] balazsorban44 opened #987 "Help needed for the following login flow"
I am trying to achieve something similar firebase has here: https://firebase.google.com/docs/auth/web/manage-users#get_the_currently_signed-in_user

It provides the following interface:

[code]
This way, if the user is found (either by simply getting it from session or I assume doing some kind of a silent signin), I can simply use it, otherwise I could navigate to the login page and ask the user t

[2019-11-13 17:16] subesokun commented on #743
Ok, I see. The library might not use the affected features but still our vulnerability scanner complains about it. As the YUI lib is affected by multiple CVE's, this is adding quite some noise on our security dashboard. Currently, there are 50+ warnings across our apps which we need to manually review and whitelist  :(

https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2012-5881
https://cve.mitre

[2019-11-13 20:44] brockallen commented on #743
Eventually when I have time, I will work on a 2.0 that no longer uses that library.

[2019-11-13 20:44] brockallen commented on #743
Also, I think their use of yui is just in their build tooling.

[2019-11-14 14:56] thorstenfleischmann opened #988 "signOutRedirect should not use extraQuerParameters"
After updating to >=1.7 the signOutRedirect does not work anymore with our IdP. The reason is that the extraQueryParams (which we used to add a parameter to our authorization request) are also added to the end session endpoint url after the update. Our IdP fails schema validation because it does not allow the extraQueryParamter at the end session endpoint. According to documentation the extraQuery

[2019-11-14 22:47] bschave opened #989 "How do I get the user with renewed tokens back in Silent renew issue using code flow"
I am developing in Angular 7. I have created an authentication service which handles sign in and sign out, etc. and those events seem to work fine. I set up silent renewal in a separate .html file and I call signinSilentCallback in the .html file. The renewal is firing as expected and all the get's/posts return 200 or 302 as expected, I am unsure of how to get the user with the renewed tokens in t

[2019-11-15 07:19] indukaur commented on #504
Hello,
I am getting "Automatic silent refresh did not work"
I am using oauth2 implicit flow,i have configured the parameters using AuthConfig class

Could you please let me know why its not working. Also, automaticSilent flag is not there in AuthConfig

[2019-11-15 15:23] brockallen commented on #989
There's a userLoaded event that is called when storage is updated with the new user from silent renew.

[2019-11-15 19:06] bschave commented on #989
Got it, thanks.

[2019-11-15 19:06] #989 closed, assigned to nobody

[2019-11-18 15:36] Mabritoj opened #990 "Callback page and userinfo call in login flow"
I am not sure if this is an issue or user error. I am trying to implement oidc-client authentication into my JS site. Its just a simple ajax client side website...not specific framework such as React, Angular, etc.

I am using on premise ADFS 2016. I can get my site to redirect to ADFS, the user can auth, and then when the callback.html that I wrote is called, it errors out.

I get the following:

[2019-11-18 16:18] Mabritoj commented on #990
Doing a little more JS debugging, I can see the I am passing in False, but somewhere in the flow its being set to True again. If I manually set it to false in the debugging process right before its called, I do skip the userinfo call and the code works.

The issue now is, I actually need to call userinfo as I need some claims to be set. So with that said, shouldn't the metadata object not send the

[2019-11-19 08:40] amihalj opened #991 "Authorization code with PKCE and silent renew support"
Hi. I was reading Allen's blog on SPA, implicit flow and switch to PKCE proposals.

https://brockallen.com/2019/01/03/the-state-of-the-implicit-flow-in-oauth2/

I have tried to invoke Authorization code with PKCE (successfully) but then tried to use silent renew to obtain new access token but I failed. Client was using token endpoint automatically.

(I am not sure if this is something called hybri

[2019-11-19 15:10] camilo0365 commented on #985
@bellamira You can pass the `prompt=login` GET param on the authorization request. I think IdentityServer 4 supports that: http://docs.identityserver.io/en/latest/endpoints/authorize.html

[2019-11-19 16:31] brockallen commented on #991
If your server issues a refresh token then that's what's used in silent renew. Stop issuing a refresh token.

[2019-11-19 16:32] brockallen commented on #990
Sounds like ADFS doesn't support CORS?

[2019-11-19 16:38] rlamba89 opened #992 "OIDC silent renew giving error : "TypeError: Cannot read property 'message' of undefined""
userManager.signinSilent() method is throwing the below error when we are trying to renew the token.

Error : TypeError: Cannot read property 'message' of undefined

Can you please help us fixing it?

    export const SilentRedirectToLogin = async () => {
            const state = store.getState();
            let user = state && state.oidc && state.oidc.user;

         if (!user || user.expired)

[2019-11-19 22:38] sorenhoyer commented on #661
You can work around this issue by manually adding the `end_session_endpoint` [metadata](https://github.com/IdentityModel/oidc-client-js/wiki#provider-settings-if-cors-not-supported-on-oidcoauth2-provider-metadata-endpoint) property in addition to the required [settings ](https://github.com/IdentityModel/oidc-client-js/wiki#required-settings)

[code]

[2019-11-20 09:30] sg3s commented on #987
What is the library/framework you're trying to integrate oidc-client-js into?

I've done a few implementations of this library with and without TypeScript and it has yet to fail me, though there are some things that could definitely be better, as with anything.

What I think might be the hurdle is that you are trying to abstract away implementation details before fully grasping the tools and limit

[2019-11-20 10:18] amihalj commented on #991
thanks, that worked like a charm :)

so just to write down settings for anyone else looking for the same behavior:

client settings on oauth server should be:

**grant_types**:

- authorization_code

**response_types**:

-  code

**scope**: "openid ..." // don't set offline or offline_access - that would return refresh_token and silent renew would use token endpoint using refresh token

(NOTE: it

[2019-11-20 10:18] #991 closed, assigned to nobody

[2019-11-22 11:36] balazsorban44 commented on #961
I have an issue, and am suspicious that this might be the problem.
When a user registers on our site, they get an e-mail with a link, that redirects them to our identity provider for registration. After that, the user is sent back to our site, where we attempt to log the user in silently. After Chrome 80, the user is not logged in. Before that, and in other browsers, the user is logged in successf

[2019-11-22 11:47] sg3s commented on #961
@balazsorban44  There is a good chance this is your problem but;

1. Safari has yet to properly implement SameSite=None; bug tracked here https://bugs.webkit.org/show_bug.cgi?id=198181
2. Chrome 80 should not be out until the end of february 2020 - so, while annoying, we should probably wait a little while longer.

In any case, any fix should be made in the server side, not this client library. Us

[2019-11-22 12:57] balazsorban44 commented on #987
@sg3s Thanks for the correct answer, I appreciate it.

Although it looks like our main issue was the one I described in #961... So the solution we had so far is acceptable without modifications on the front-end. I still think this library has much to do on the documentation part, to make it easier for newcomers to understand.

[2019-11-22 12:57] #987 closed, assigned to nobody

[2019-11-22 13:02] balazsorban44 opened #993 "📚 Documentation/code quality improvements"
13 of the 91 open issues mentions the word documentation or docs directly, maybe even more could have been resolved with better documentation. Looks like providing a high quality documentation would benefit not only the users of this package, but the maintainers as well.

I recommend beginning with the API, explaining the function signatures, comment those functions, and all parameters, not just "

[2019-11-22 20:57] loweware opened #994 "Redirect Loop when Browser has Blocked Third Party Cookies"
Some users of our Angular SPA are stuck in a redirect loop during login, and it has been narrowed down to the browser settings blocking third party cookies. IdentityServer and SPA are hosted on two different domains.

Is there an alternative login flow or other suggestions to support users who choose to block third party cookies?

The root of the redirect loop appears to be the CheckSession IFrame

[2019-11-24 17:47] brockallen commented on #994
That's a requirement of how the OIDC specs work.

[2019-11-25 15:10] svechin opened #995 "Passing additional parameters to the login/logout url"
I'm using oidc-client library (1.8.2) and identityserver4 2.4.0. When i do signoutRedirect by using UserManager i pass additional parameters using extraQueryParams property. Parameters are successfully added to the connect/endsession query call but I do not control this endpoint and i can't find a way to pass additional parameters further to the logoutUrl.

Is there a way I can forward additional

[2019-11-25 16:01] chopkins123 opened #996 "Log.Debug not outputting messages"
Using release v1.9.1:

We're having an issue in live that I'm trying to replicate locally, I suspect it is in the `_signinEnd` method of the `UserManager.js` file.

I've set the `Log.Level = Log.DEBUG` and `Log.logger = console` in the expectation I can see messages such as `Log.debug("UserManager._signinEnd: got signin response");`  written to the console, however all I can see are INFO messages.

[2019-11-25 21:11] loweware commented on #994
Is there any guidance around preventing the session management iframes from getting into a loop when third party cookies are blocked, in order to avoid avoid excess network traffic and/or page refreshes by end users?

[2019-11-26 00:48] fellipenathan opened #997 "Question: UserManager instantiation triggers "UserManager.getUser: user not found in storage""
There are multiple closed issues mentioning similar problem. I noticed that in my silent_redirect.html:

[code]

As soon as `new Oidc.UserManager();` is executed the SessionMonitor starts and triggers
`UserManager.getUser` that shows a message:

Even after a successful login. This happens due to UserManager is instantiated without settings and storage name needs has authority and clientId on it.

[2019-11-26 14:13] brockallen commented on #994
Use the main window, not an iframe. Or use refresh tokens for renewal (but protect that: https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps-04#section-8).

[2019-11-26 14:20] brockallen commented on #997
Not a problem, and you can prevent it by setting `monitorSession` to `false` in the options.

[2019-11-26 17:35] rangler2 commented on #888
@tomthebearded  try setting only the userStore , not the stateStore.

I believe the stateStore *must* persist across pageloads because it needs to put in before the auth redirect and then grab it out after the callback. Then it removes it from local storage and your user info, access token etc is stored 'in memory'.

Works for me anyway. Thanks for posting how to use the InMemoryWebStorage, couldn

[2019-11-27 14:52] fellipenathan commented on #997
Setting `monitorSession`to `false` in my silent_redirect page don't trigger this info anymore.

Thanks

[2019-11-27 14:52] #997 closed, assigned to nobody

[2019-11-28 08:15] lyubomirr commented on #995
The parameters you send to the connect/authorize are preserved in the returnUrl parameter of the Login url. For example: /connect/authorize?param=value redirects you to /loginurl?returnUrl=/connect/authorize?param=value. If you want to get the parameters in the login page you inject the IIdentityServerInteractionService and use the method GetAuthorizationContextAsync(returnUrl).

Im not sure if it

[2019-11-29 10:06] markw13a opened #998 "Sample code bundled with NPM package is about 65MB"
I have noticed that the installed oidc-client package is about 70MB. 65MB of this is coming from the code examples provided within the /samples directory.

Would it be possible to remove this directory from the package distributed on NPM? The extra size is having a significant effect on how long it takes to deploy our app.

Thanks.

[2019-12-01 11:01] a-z-hub opened #999 "How to use library for AllowedGrantTypes = GrantTypes.Code and Silent Renew?"
Hi,

Possibly it offtop or I did't find information, but:
on server side
- Identity Server 4
- GrantTypes.Code
- Pkce
on client:
- Silent renew
- responseType: 'token id_token code'

But I catch error: Error: OpenID Connect hybrid flow is not supported.

Is it possible to use `responseType: 'code...'` and implement silent review?
example or link will be ok

[2019-12-01 14:49] brockallen commented on #998
Sure, please propose a PR to fix it.

[2019-12-01 14:51] brockallen commented on #999
Yes. it works fine with the iframe.

[2019-12-01 16:32] brockallen commented on #998
Doesn't this filter ~/samples?

https://github.com/IdentityModel/oidc-client-js/blob/dev/.npmignore#L1

[2019-12-02 09:53] ch-lepp opened #1000 "Which user signed out?"
Is there a way to get the user object in a function called during the UserSignedOut event?

The following does not work, since the user is already removed from the manager object:

`userManager.events.addUserSignedOut(() => userManager.getUser())`

[2019-12-02 10:16] ch-lepp commented on #1000
Context:
I need this functionality, since there are differences in my relogin procedure (page refresh if the new user is different to the old user, no page refresh if they are the same user).

[2019-12-02 14:43] ch-lepp commented on #1000
I solved my problem for the moment by overwriting the remoUser function and storing the old username.
I'm really not happy with this solution.
Hopefully you guys can point me to a better one...
[code]

[2019-12-02 19:05] brockallen commented on #1000
The signed out event lets you know when the user's session at the token server differs from the authenticated session in your app. It does not cause the user session to be removed in your app.

[2019-12-02 21:44] msschl opened #1006 "Failed to execute 'postMessage' on 'DOMWindow'"
On our IdentityServer I serve a restricted csp header:
[code]

When authenticating my spa app I first try to see if I can authenticate the user silently. This happens when the user is already logged in on the IdP and is done using a hidden iframe on the client. After that I use a a traditional redirect flow. Authentication currently works only with the traditional flow, since I serve that restrict

[2019-12-03 07:52] ch-lepp commented on #1000
That might be true.

However, when I log out from my IDP the user session gets removed before UserSignedOut is called.

And I still don't know if there is a different way to obtain the user object within UserSignedOut other than userManager.getUser()...

[2019-12-03 09:42] lyubomirr commented on #965
Any update on this? It there any solution?

[2019-12-03 10:04] lyubomirr opened #1007 "Login attempt after logout from OP"
I am integrating a SPA with Identity server. When the user logs out of the Identity server an iframe is rendered in the client app to the authorize endpoint with prompt=none. Of course it fails and login_required error is shown. Why is this happening? Is there any solution? Thanks in advance!

[2019-12-03 11:05] zoltanbedi commented on #998
It does. https://bundlephobia.com/result?p=oidc-client@1.9.1
The bundle size is ~260kB

[2019-12-03 15:43] plysik opened #1008 "Switching logged in user"
Hello,

I've implement the mechanism of logging in with magic link.
Is there a simple way to end session of currently logged in user and log in another if I enter his magic link to log him in?

[2019-12-03 16:34] epimeth commented on #961
FYI Chrome 78 on Linux has already implemented the change

[2019-12-04 10:11] markw13a commented on #998
It looks like we were locked to version 1.7.1. The node_modules folder is only 10MB after upgrading to 1.9.1.

I am sorry to have wasted your time.

[2019-12-04 10:11] #998 closed, assigned to nobody

[2019-12-04 13:09] speciesunknown commented on #961
Which distro / version?

[2019-12-04 14:58] epimeth commented on #961
I don't actually have it installed but I was investigating an issue with our IS4 server integrating with a client using odic-client-js and they are using 78.0.3904.108 on linux.  What I can tell you for sure is that according to https://www.chromium.org/updates/same-site

[2019-12-04 15:02] brockallen commented on #961
This is something you will need to configure/change in your token server. It's not something the oidc-client library can do anything about.

[2019-12-05 12:33] balazsorban44 commented on #993
ping @brockallen, as you seem to be the main contributor/author

[2019-12-05 14:41] brockallen commented on #993
Great ideas, but I work on this project either in my free/spare time, or specifically for my customers. If the greater community gets benefit, then great, but that's not my primary audience. If I get time I will consider these suggestions. If you want to build your own docs project on oidc-client-js, then go for it.

[2019-12-05 15:02] balazsorban44 commented on #993
I understand, thanks for the clarification. I thought this was some kind of official package meant for the masses, since it is listed in the [Certified OpenID Connect Implementations](https://openid.net/developers/certified) (though the last mentioned version is oidc-client 1.3, so it must be a very outdated site!?).

I would gladly help with the docs, the main problem is that first I would need o

[2019-12-05 15:45] brockallen commented on #993
Most product libraries are product specific, not protocol specific.

As for your comments, You misunderstand -- this is not just a hobby project. This project is meant for me and my customers. It's open source, so if you get benefit, then great. I will take your suggestions into consideration, so thanks for those. But since you're not a customer I don't foresee spending even more time to help you

[2019-12-05 17:50] epimeth commented on #961
I know, I was just letting you know that in spite of the "Feb 2020" claim, some users will potentially have SameSite issues

[2019-12-05 18:17] balazsorban44 commented on #993
No need to call it a

:slightly_smiling_face:, neither I feel entitled to do anything, I am a junior developer who likes the idea of open source, and simply wanted to mention my findings.

But you said yourself these are great ideas! Also, as mentioned, [OpenID](https://openid.net/developers/certified) recommends this package and calls it a "certified implementation". It very well be the case that

[2019-12-05 18:17] #993 closed, assigned to nobody

[2019-12-05 18:43] brockallen commented on #993
The issue is that the work involved is not trivial, and it's easy to come along and throw around tasks I should be doing. Perhaps that wasn't your intent, so no worries.

[2019-12-05 18:50] brockallen commented on #961
Yep, good point. Having said that, though, there's nothing to do here for the issue. Thanks.

[2019-12-05 18:50] #961 closed, assigned to nobody

[2019-12-05 21:50] EduardoMontejo opened #1009 "Session managment best practices"
Hello everyone

I need to implement session management in my app, Could you help me with the best practice for implement that with oidc-client-js?

Thanks.

[2019-12-06 06:18] brockallen commented on #1009
StackOverflow is a more appropriate place for your question.

If you or your company need commercial support, please see [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html#commercial-support) for more information.

Thanks!

[2019-12-06 06:18] #1009 closed, assigned to nobody

[2019-12-06 07:58] leastprivilege commented on #993
I think verified means, that the email address is verified ;)

Like probably most developers, working on docs is our least enjoyable task - it is also really hard to write good documentation. If you think you can really improve the docs and thus reduce the number of issues, please go ahead and work on this! This would be very appreciated.

But in our experience, most people who thought in the past

[2019-12-09 13:17] NealRogers opened #1010 "error while logging in: Popup window closed on server, but fine in iisExpress"
Hi
I get this error when testing on my server (Windows Server 2016) running iis 10.0 , but when I test on iis express it works fine.
Is it possibly a cors issue? (I have enabled CORS in my webApiConfig).(but not using webAPI as the index and popup files are in my application.

I serve my "index.cshtml" view from Controller/Action.
The popup.html is in a different folder to that of my views.
If suc

[2019-12-09 16:12] trickydisco78 commented on #955
I have the same error. Would love to know a resolution

[2019-12-10 03:14] carangan-zoom2u opened #1011 "Implementing a Signup"
Hi. This is my first time using this package and I just have to ask something. I am able to successfully redirect my users to the login page using the signinRedirect method of the user manager. When the user clicks the `Login` button, he's redirected to `{authority}/login?{rest of the url}/`. My question is, is there a way to change the redirect url to`/register` instead of `/login` for when the u

[2019-12-10 09:07] avtokey commented on #955
I have same issue, It's very serious bug,  anybody can help ?

[2019-12-10 14:15] warnellw commented on #955
In this particular case the issue appears to have been caused by an outdated backend. Additionally, it was found that the `SignInManager` was missing. Once IdentityServer4 was fully updated using the latest page templates, and the `SignInManager` added, the issue disappeared. Note that no changes to the code example above were required.

[2019-12-10 17:54] brockallen commented on #1011
StackOverflow is a more appropriate place for your question.

If you or your company need commercial support, please see [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html#commercial-support) for more information.

Thanks!

[2019-12-10 17:54] #1011 closed, assigned to nobody

[2019-12-10 17:54] #955 closed, assigned to nobody

[2019-12-10 17:55] brockallen commented on #1010
Not sure, sorry.

[2019-12-11 05:24] vishalkuo opened #1012 "Triggering Event Expirations"
Let's say we had a user manager, instantiated as such:
[code]

and we never called `userManager.getUser()` (or anything which would cause an `userManager.events.load()` to be called), then we'd never kick off our timers for the `addAccessTokenExpired()` callback, is that correct? Is this intended behaviour and is there a better workaround to this than calling `userManager.getUser()`?

[2019-12-11 05:36] vishalkuo commented on #1012
Also happy to submit a diff if we want to force event loading right away

[2019-12-12 11:13] Wenish commented on #847
@anthony-redFox how can i import this from the dist folder?
I tried `import Oidc from 'oidc-client/dist/oidc-client'` but Oidc ist undefined

[2019-12-14 09:08] jorgecarleitao commented on #951
I'm hitting the same problem using the following configuration

[code]

the issue seems to be [this line](https://github.com/IdentityModel/oidc-client-js/blob/fd838832aaacdaf1b8bd213c8e3787150f33af4d/src/SigninResponse.js#L57) in connection with [this line](https://github.com/IdentityModel/oidc-client-js/blob/b8e6eac4f59442a531ead39aece0e8af25ae1be0/src/ResponseValidator.js#L142).

The first line

[2019-12-14 11:23] jorgecarleitao commented on #951
One way to temporarily solve this is to replace `userManager.signinRedirectCallback()` on the callback by

[code]

[2019-12-15 16:45] tugando commented on #944
For use with Keycloak, you need to set the authority property to: {BASE_ADDRESS}/auth/realms/{REALM}/

[2019-12-15 19:58] Alino opened #1013 "Overwriting signInPopup function to make it work with firefox background page"
I am writing a browser extension which has this library in the background page. It works fine on Chrome and signInPopup opens up popup correctly, but this does not work on firefox and the popup is blocked. So as a workaround I want to use firefox webextension API to open a new window instead of popup like this:

[code]

So my question is, how can I achieve this without forking oidc-client-js.
My t

[2019-12-16 14:03] #953 closed, assigned to nobody

[2019-12-16 21:17] lsuarez5280 opened #1015 "v1.10.0 Build on TypeScript 2.9.2 Reporting Error TS1039"
It's all right if there's not an intent to support TypeScript v2.9 on this release, but I did want to raise that the latest minor release caused a build failure against that language version, which I wouldn't have expected.

Builds are reporting:

[2019-12-17 07:20] jorgecarleitao commented on #951
Setting `loadUserInfo` to `false` does not fix the problem for me, as I get a different error, `Cannot read property 'sub' of undefined`.

[2019-12-17 14:54] brockallen commented on #1015
Maybe related to this: https://github.com/IdentityModel/oidc-client-js/pull/954

[2019-12-17 16:01] JeffBNimble opened #1016 "UserManager.clearStaleState() clears everything"
It appears that calling UserManager.clearStaleState() clears all keys from local storage instead of just clearing oidc state. This causes problems if your application is using local storage for other uses.

Could you clear only your keys vs. all keys? It appears that all of your keys are prefixed with oidc: and it should therefore be possible to filter the storage keys to only those with the oidc:

[2019-12-17 17:57] lsuarez5280 commented on #1015
I'll take a look at other options for loading the webpack module in my application without sending it through the TypeSciprt compiler in the process and report back my findings (if I have any) before I close this out.

[2019-12-17 21:46] willianfalbo commented on #1015
I'm facing the same error. Also, I've raised another issue for the angular sample v4 (https://github.com/jmurphzyo/Angular2OidcClient/tree/ng4).

Issue 39
https://github.com/jmurphzyo/Angular2OidcClient/issues/39

[2019-12-18 12:09] Alino commented on #1013
Actually I tried this, but calling ```sinInPopup()``` does not call ```_popupNavigator.callback```
Can you please tell me where could I place my code without breaking other signIn methods to achieve my goal when calling ```signinPopup()``` ?

[2019-12-18 13:05] ulrichb opened #1017 "New TypeScript typings don't allow optionless UserManager"
Since 1.10 the following code ...
[code]

... compiles to ...

For the `signinSilentCallback()` it is not necessary to provide authority/client_id.
(See https://github.com/IdentityModel/oidc-client-js/blob/dev/samples/VanillaJS/public/identityserver-sample-silent.js.)

[2019-12-18 13:08] brockallen commented on #1017
So then what's the fix? Send a PR, please?

[2019-12-18 13:14] ulrichb commented on #1017
=> https://github.com/IdentityModel/oidc-client-js/pull/1018

[2019-12-18 15:45] #1017 closed, assigned to nobody

[2019-12-18 18:10] #1015 closed, assigned to nobody

[2019-12-18 23:18] miguellira commented on #951
@jorgecarleitao It is difficult to diagnose your issue without a full sample code (not that I'm asking for that), however, looks like your authentication flow is somehow resulting in a null `User` object. I would look at how your objects are being created, specifically after the redirection from your SSO provider.

@brockallen Looks like your latest release `1.10.1` did not address this issue. As

[2019-12-19 11:38] kimgysen opened #1020 "Question: oidc authentication webapp REST api"
Hello, I asked a question here:
https://stackoverflow.com/questions/59408711/oidc-authentication-webapp-rest-api
But I think I should ask the question here (I don't expect to many responses on SO and is typically related to the oidc flow).  I'll duplicate the question here:

So I have looked at the following client library, implementing the OpenID Connect spec:
https://github.com/IdentityModel/oid

[2019-12-19 13:44] lyubomirr commented on #847
@brockallen which files from dist folder contain the polyfills? I get the same error when using oidc-client.rsa256.slim.min.js?

[2019-12-19 14:29] brockallen commented on #1020
The short answer is you user a server-side workflow, not a client-side workflow like oidc-client-js implements.

[2019-12-19 14:29] #1020 closed, assigned to nobody

[2019-12-19 14:38] kimgysen commented on #1020
Another evasive answer. It's the only thing I find on the internet these days.

[2019-12-19 21:50] Talark opened #1021 "logout when browser window/tab is closed"
I am using authorization code flow and I have automaticSilentRenew set to true for silent token renew, How can I force logout when user closes the browser tab?
I tried this:
[code]
But by the time the request to the sign-out endpoint will get a response the browser tab is already closed and I end up still logged-in, it's like the sign-out request is never processed...What can I do?

[2019-12-20 02:04] mtskf commented on #501
I'm bit confused...
Is 'client_secret' not supported on this library?

[2019-12-20 03:43] brockallen commented on #1021
Yep, that's difficult. Best thing is to rely upon the access token expiration, or the inactivity of the session at the token server.

[2019-12-21 12:31] allejp opened #1022 "How debug this module with visual code or visual studio?"
Hi, there is a way to jump into source files when CLICK+CTRL on functions instead into index.d.ts file?

Thanks.

[2019-12-22 12:14] nikolay-dimitrov opened #1023 "Identity server 4 OidcClient using token generated by the same client"
Hello guys I need some guidelines if im going to right direction. I have Identity server client with this settings:

    new Client
            {
                ClientId = "XamarinAndAngularClient",
                ClientName = "Xamarin and Angular client(Code with PKCE)",
               RedirectUris = new List<string>
                    {
                    "http://localhost:4200",

[2019-12-22 14:30] nikolay-dimitrov commented on #1023
I found a good explanation from my question in SO
https://stackoverflow.com/questions/59436136/identity-server-4-oidcclient-using-token-generated-by-another-application/59444637#59444637

[2019-12-22 14:30] #1023 closed, assigned to nobody

[2019-12-22 20:58] blueelvis opened #1024 "Network Error when trying to use PKCE with Angular SPA and Azure Active Directory"
Hi!

I am trying to use this package for getting PKCE to work with an Angular SPA with Azure Active Directory.

I am using the following blog posts for reference -
1. Initial Setup - https://www.scottbrady91.com/Angular/SPA-Authentiction-using-OpenID-Connect-Angular-CLI-and-oidc-client
2. PKCE Setup  (Just changing the `response_type` to `code`) - https://www.scottbrady91.com/Angular/Migrating-oid

[2019-12-22 23:09] brockallen commented on #1022
No idea.

[2019-12-23 00:42] brockallen commented on #1024
Can you provide more info on the request/response payload for the token endpoint HTTP call?

[2019-12-23 02:49] zsjbsn opened #1025 "why only one vue client can signin"
I have two independent auth systems coded by .net core, and every system has its own vue client with oidc-client-js.There is a problem that I run the two auth systems and vue clients together with different port, when I signin one vue client by oidc-client-js, the other one will auto signout.Could any one tell me why only one vue client can signin?

[2019-12-23 07:33] blueelvis commented on #1024
@brockallen - Please find the information below (I have edited some of the tokens and GUIDs to remove potentially sensitive information -
[code]

Request Headers -
[code]

Response Headers -
[code]

Request Payload
[code]

Response Payload -
[code]

Here is the config which is being used in the code -
[code]

[2019-12-23 07:57] jorgecarleitao commented on #951
I cannot provide the a full reproducible example at this point, but I created an empty app in azure that can be used for tests for now:

[code]

Note: you can only test this through `http://localhost:3000`, and `http://localhost:3000/redirect.html` must handle the `signinRedirectCallback`.

After a successful proof, the redirect fragment is as follows:
[code]

where the `access_token` above contai

[2019-12-23 08:51] jorgecarleitao commented on #1024
In Azure AD, is your app registered as a native / desktop app? Checking since last time I checked, `client_secret` is required for web apps with the code flow.

In the portal, you can check this under `app registration > authentication > Redirect URIs`. The redirect url's type should be `Public client / Native` for the PKCE to work on Azure AD.

The explanation is found [here](https://docs.microso

[2019-12-23 09:24] blueelvis commented on #1024
@jorgecarleitao - Yep. The redirect URI is set to "Public Client/Native". As mentioned above, the PKCE flow seems to work because I am getting the `code` and token. Just seems as if there is some issue in the code with this library in saving it properly?

[2019-12-23 13:47] brockallen commented on #1025
StackOverflow is a more appropriate place for your question.

If you or your company need commercial support, please see [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html#commercial-support) for more information.

Thanks!

[2019-12-23 13:47] #1025 closed, assigned to nobody

[2019-12-23 15:09] jorgecarleitao commented on #1024
I was able to reproduce this issue on the vanilla example. I pushed the changes to reproduce the issue [here](https://github.com/jorgecarleitao/oidc-client-js/tree/issue-1024).

The steps to reproduce are:
1. `npm start`
2. go to `http://localhost:3000/user-manager-sample.html`
3. press `start signin main window`
4. authenticate
5. press `end signin main window`

This will cause the Network error

[2019-12-23 15:21] brockallen commented on #1024
@jorgecarleitao thx for that. i'll have a look when i can

[2019-12-23 17:18] jorgecarleitao commented on #1024
I have some time, so I spent some time investigating this.

My conclusion is that this is an error on the AD side.

Some facts:
1. The error is triggered on [this line](https://github.com/IdentityModel/oidc-client-js/blob/3004ff34efa44a83b0ea1bd731be48b710df47d4/src/JsonService.js#L177) because the request's status is `!== 200`
2. The request is completed (`readyState === 4`) and its status is `0`

[2019-12-23 18:20] brockallen commented on #1024
This all sounds legit to me. I know they didn't support CORS on the discovery endpoint for the longest time. It'd not surprise me if they didn't support CORS on the token endpoint.

[2019-12-23 18:23] jorgecarleitao commented on #951
I validated that this error is no longer reproducible in 1.10.1. So, between 1.9.1 and 1.10.1 this got fixed.

Specifically, I made the changes above to the vanilla example, both on 1.9.1. and 1.10.1 was able to reproduce it on the 1.9.1 but not on the 1.10.1

[2019-12-23 18:25] brockallen commented on #1024
I asked someone who might know: https://twitter.com/BrockLAllen/status/1209178114804375552

[2019-12-23 18:26] brockallen commented on #1024
Ah, sorry -- I missed this last comment. Thanks for looking into it.

[2019-12-23 18:26] #1024 closed, assigned to nobody

[2019-12-23 18:28] brockallen commented on #951
Bizarre. In any event, I can close now?

[2019-12-24 01:15] zsjbsn commented on #1025
@brockallen I just have a question about oidc-client-js, it seems to have nothing to do with this problem.

[2019-12-24 05:14] miguellira commented on #951
@brockallen I'm the OP and `1.10.1` did not resolve my issue, therefore, I must continue to set `loadUserInfo` as false.

Not sure why @jorgecarleitao sees a difference between versions `1.9.1` and `1.10.1`. My guess is his original issue is unrelated to mine.

As I pointed out [earlier](https://github.com/IdentityModel/oidc-client-js/issues/951#issuecomment-533842176), contrary to what [https://d

[2019-12-24 07:07] jorgecarleitao commented on #951
For clarity, I will split this comment in 3 parts:

1. `openid` scope without `id_token`
2. identityserver does not support solely a `token`
3. my claim that this issue is fixed

### 1. `openid` scope without `id_token`

Scope `openid` and other oicd-associated scopes require response type to contain `token_id`. OpenId scope is about getting an authentication token (as opposed to the traditional a

[2019-12-24 10:37] jim-king-2000 opened #1026 "How to use oidc-client-js in frameworks which support server-side rendering?"
How to use it together with next.js? Is it possible to be modified to be a universal oidc-client?

[2019-12-24 18:27] brockallen commented on #1026
It's not designed for server-side.

[2019-12-25 06:52] jim-king-2000 commented on #1026
Will it be designed for both server-side and client-side?

[2019-12-25 14:44] brockallen commented on #1026
No.

[2019-12-26 02:34] jim-king-2000 commented on #1026
OK...

[2019-12-26 02:34] #1026 closed, assigned to nobody

[2019-12-29 08:48] Robinyo opened #1027 "A sample using Angular, oidc-client and Keycloak"
A sample using Angular, oidc-client and Keycloak:

![development-realm-login](https://user-images.githubusercontent.com/12203540/71554490-f21fd700-2a73-11ea-8f5d-d6dbee385b0d.png)

References:
- https://robferguson.org/blog/2019/12/29/angular-openid-connect-keycloak/
- https://github.com/Robinyo/serendipity

[2019-12-29 15:30] brockallen commented on #1027
Ok, added to the wiki. Thanks.

[2019-12-29 15:30] #1027 closed, assigned to nobody

[2019-12-29 15:34] retog commented on #944
Got the [vuejs demo app](https://github.com/joaojosefilho/vuejsOidcClient) working but so far I haven't been able to set any role to be accessible on the client, `user.profile.role`is always undefined. A hint would be appreciated.

[2019-12-31 13:58] eloekset commented on #763
I had a similar issue, but without any error message. The symptoms were the same - works in dev, but not when webpack has run minification in production. Impossible to debug.

I've been working now and then on my app, which is on React 16.0.0 (yes, it's that old). Upgrading oidc-client from 1.8.2 to 1.9.1 didn't help. However upgrading create-react-app (react-scripts) from 1.1.5 to 3.3.0 solved th

[2020-01-01 10:24] blueelvis commented on #1024
@brockallen @jorgecarleitao - Thanks a lot guys for the detailed explanation and investigation on this! Just curious but is it possible to catch the situation particularly about the CORS and mention in the logs?  Otherwise, the way the log is written, it seems quite something else.

Happy new year!

[2020-01-01 11:54] blueelvis opened #1028 "Getting 401 when loadUserInfo set to True with Azure Active Directory"
Hi!

I am using Azure Active Directory as the IDP. When I set the `loadUserInfo` to `true` in the Oidc config, I am getting a 401 UnAuthorized despite granting permissions to the app (please see screenshots below) -
![image](https://user-images.githubusercontent.com/6985763/71640992-9abf7800-2cba-11ea-96d0-00b5839652cc.png)

Config Object -
[code]

Here is the console message I get -
[code]

Raw R

[2020-01-01 16:13] brockallen commented on #1024
Well, from the http error you can't quite tell that's the exact reason.

[2020-01-02 05:55] munna opened #1029 "Can we provide custom session-id which was used for token end point.?"
I am using Identity Server Authentication in React Application and it is working fine. But as per my current requirement i am looking for the way where I can login with "token" end point and when open application with already logged in user.

For this i want to set same session ID which i used to login in Identity Server . Please help me out as i have already done my research for 2 days.

[2020-01-02 19:10] brockallen commented on #1029
StackOverflow is a more appropriate place for your question.

If you or your company need commercial support, please see [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html#commercial-support) for more information.

Thanks!

[2020-01-02 19:10] #1029 closed, assigned to nobody

[2020-01-03 01:56] asad-c commented on #362
@kuncevic Thank you, really appreciate your answer above. I was getting the timeout error because I was referencing the oidc client through a CDN and I had caching disabled locally, so after various intervals there would be an error retrieving the client library resulting in a frame timeout. Having a local copy in my assets folder resolved the issue. This information may help others with the same

[2020-01-03 05:23] poidag-zz opened #1030 "allow for extraQueryParams to be injected after instantiation"
I can see we are able to currently add `settings.extraQueryParams`. I have a use case where I am required to implement a username collection component prior to a `signinRedirect` so a top-level IDP can route to downstream idps based on domain or other rules.

An example of this could be the [Google OIDC](https://developers.google.com/identity/protocols/OpenIDConnect#authenticationuriparameters) op

[2020-01-03 11:12] poidag-zz commented on #1030
https://github.com/IdentityModel/oidc-client-js/issues/315#issuecomment-386128359

[2020-01-03 11:12] #1030 closed, assigned to nobody

[2020-01-03 15:44] tech-gurgaon opened #1031 "Token Expire Time - "expires_at" not calculating properly"
Steps to Recreate the issue,
From Server Token is returning 'Token Expire Time' is right format and duration,
but when "expires_in " value goes to "oidc-client.min.js"

then at Line no 1417
Calculation of "expires_at" based on the "expires_in" is not calculating properly.
and, here system is fixing "this.expires_at = wrong time"

Ideally, it should be
this.expires_at = Current Time + expires_in

[2020-01-04 15:01] xolott opened #1032 "Failed to execute 'postMessage' on 'DOMWindow'"
We are having issues with our implementation of OAuth, using this library on a VueJs App.

Everything works just fine, we can log in and log out. But the `checksession` part never seems to work properly.

We got a console message, with a counter constantly increasing:
[code]
Note the difference between both URLs, one with `http` and the other with `https`. We never found any URL configuration usin

[2020-01-04 15:49] brockallen commented on #1032
What's the URL in the discovery document for the check session endpoint? That's where that URL comes from.

[2020-01-06 19:58] xolott commented on #1032
This is our Discovery Document:

[code]

I already check the oauth server configuration (.NET IdentityServer4) and everything is set to https.

We have all this deployed on Docker Swarm over multiple EC2 (AWS). On top of that, a Load Balancer (AWS) with SSL enabled.

Any request passes through an NGINX API gateway and passed to the oauth microservice. The oauth server is set to listen only http...

[2020-01-06 21:25] Talark commented on #1021
Ok, so since I am listening to the AccessTokenExpired event to execute a silent login I can't use your first suggestion, and for your second approach is there a method in the oidc-client.js library that returns the session inactivity duration? since oidc-client.js is the only interface that I am using to communicate with Identity Server and my application runs client side.

[2020-01-06 21:41] msschl commented on #1032
There are many `http` endpoints in your discovery document:

[code]

[2020-01-07 05:24] brockallen commented on #1032
Yea, why would this be if you're expecting SSL/TLS as you mentioned above?

[2020-01-07 10:59] pwuk commented on #865
it was a 3rd party "marketing" script

[2020-01-08 16:31] m3mara opened #1033 "change/modify UI components or use different UI language in react"
is there any chance i could modify/change login screen/user profile UI ?

using .net core react [this code](https://github.com/m3mara/ReacAuthApp)

[2020-01-08 16:41] xolott commented on #1032
Solved.

This happens because the server is behind a reverse proxy, serving in HTTP (internal network). Adding this setting (.NET IdentityServer4) on `Startup.cs` solve this issue:

[code]

Closing

[2020-01-08 16:41] #1032 closed, assigned to nobody

[2020-01-09 09:27] RS-Sautter commented on #983
I can confirm this is still missing. Also there is 3rd party code included with their custom licenses and copyright info, which could be problematic.

[2020-01-09 13:38] brockallen commented on #983
I'm not a lawyer, but from this it seems copyright is implicit?

https://en.wikipedia.org/wiki/Copyright_registration

[2020-01-09 13:41] brockallen commented on #983
And I re-formatted the license if that helps: https://github.com/IdentityModel/oidc-client-js/blob/dev/LICENSE

[2020-01-09 14:20] RS-Sautter commented on #983
Ah, this line I didn't see before, it is the relevant line:
https://github.com/IdentityModel/oidc-client-js/blob/dev/LICENSE#L189

[2020-01-09 14:21] RS-Sautter commented on #983
It is probably not trivial to have every third party code as npm package, so that one can automatically determine the relevant licenses, right?

[2020-01-09 19:24] GordonBlahut opened #1034 "Silent renew with refresh token doesn't update user but silent renew via iframe does"
When doing a silent renew via iframe (e.g. in a browser with no offine_access scope), the user manager calls the userinfo endpoint and updates the user profile/claims.

But when doing a silent renew via refresh_token (e.g. in a native/hybrid app with offline_access scope) does not seem to call the userinfo endpoint and therefore the user profile/claim does not get updated.

How can I get silent re

[2020-01-13 12:37] paviad commented on #766
Sorry for posting a thank you reply but I can't stress this enough - I've been spending over 7 hours on this issue and tearing my hair off, and THIS is the only thing that worked. And it also makes sense. but it's not written in the docs!!!

[2020-01-14 02:54] deanmaster opened #1035 "should the library automatically trigger silent_renew or signinSilent when the page is loaded?"
Hello Author,

I have 1 question since i'm not sure the behaviour before and after I refactor my code.
My expectation behaviour like this: When I reload the page, I would like the signInSilent method is called automatically so see if the user can login. If it's not then it's fine otherwise trigger signInSilent with IDP (Keycloak).

Could you please help me to clarify if this behaviour is supported

[2020-01-14 03:39] brockallen commented on #1035
Depends. If you load the user and there's still a valid session, then it will start to track expiration and do silent renew (if that's enabled). Otherwise it's up to your app logic to decide how to get started.

[2020-01-14 05:02] deanmaster commented on #1035
ah so with my case if I want to automatically login I will use something like window.onload event then actively call signInSilent method.

[2020-01-14 05:50] deanmaster commented on #1035
thanks I will close this issue.

[2020-01-14 05:50] #1035 closed, assigned to nobody

[2020-01-14 14:33] sadek-hussein opened #1036 "Response Type : Code + Id_Token"
Hey,

I have an issue once I'm using the latest version of the oidc-client :

I can't add  response_type: "code id_token"
it returns:  Error: OpenID Connect Hybrid flow is not supported
what is the solution?

Best regards,

[2020-01-14 16:57] brockallen commented on #1036
The only protocol flow you really need these days is code flow with PKCE.

[2020-01-14 21:33] NunoCruzSW commented on #787
another option is a method that gets a new token if the current is expired, refreshing it case of expired. while the refresh token is valid there no problem to get a new access token, the problem is if the refresh token expires to, not sure if we need to try automatically renew the refresh token in case of app inactivity the could do the lifetime extend based on activity

[2020-01-15 10:23] deanmaster opened #1037 "Do we have source map expose for this library?"
Hello Author,

I have problem for debugging or understanding the library from the browser. Can we expose the source map for debugging?

[2020-01-15 12:30] joejeet opened #1038 "Question: Is default storage in WebStorageStateStore is localStorage or sessionStorage?"
In the docs, it says by default it is [session storage](https://github.com/IdentityModel/oidc-client-js/wiki#other-optional-settings).

`userStore: (default: session storage): Storage object used to persist User ...`

But in the code, [ it refers to localStorage by default ](https://github.com/IdentityModel/oidc-client-js/blob/dev/src/WebStorageStateStore.js#L8)
`... constructor({prefix = "oidc.",

[2020-01-15 13:02] #1016 closed, assigned to nobody

[2020-01-15 13:06] brockallen commented on #1038
Those are two different stores. The other one is for protocol storage and that needs to be local.

[2020-01-15 13:07] brockallen commented on #1037
There should be one there in the ~/dist folder.

[2020-01-15 13:30] joejeet commented on #1038
Thanks for the quick reply.  Find it in [the code ](https://github.com/IdentityModel/oidc-client-js/blob/3004ff34efa44a83b0ea1bd731be48b710df47d4/src/UserManagerSettings.js#L37)  as well.

[2020-01-15 13:30] #1038 closed, assigned to nobody

[2020-01-16 19:43] lucas-silveira opened #1039 "Authorization Code with PKCE required client_secret"
I'm using PKCE and when i send code_verifier the server return a error 400 with response message: "The client secret is required".

My config:
[code]

And my function authentication:
[code]

[2020-01-17 02:26] deanmaster commented on #1039
I use the basic configuration from this client. The configuration looks like this:
[code]
By default I would say: it uses PKCE if you don't return refresh token which is not secure for SPA.
Please try to not return refresh token from your IDP (Keycloak) and try again. Since i don't see a need for client secret. Probably you need to have random state but any how it's done by the library

That confi

[2020-01-17 06:40] deanmaster commented on #948
you can set your expiringEvent time to few seconds if you want. The default access token life time usually 5 mins? or lower. I tried to set to 1 mins in my Keycloak and it keeps renew tokens all the time which is good since you don't want to wait until very end of token expired and doing renew because network call sometimes takes time.

I think 1 min is good but of course you can change it anytime

[2020-01-20 14:05] meis opened #1040 "Question: Why is the module using `expires_in` from response instead of `exp` in id_token?"
Hi there,

I've been toying with oidc-client for a week and one of the issues I encountered was that `.expires_in` and `.expired` methods from `User` didn't seem to work for me.

What I discovered (or I think I discovered, sorry if I'm not understanding enough) is that these values are populated when a response for token request or validation happens. Those responses have an `expires_in` that's us

[2020-01-20 15:16] brockallen commented on #1040
`exp` is the expiration of the id_token. `expires_in` is the expiration of the access_token.

[2020-01-21 08:50] baselbj commented on #830
I am so much confused about token security. Some are convenced that LocalStorage  is not for sensitive information others are saying it is ok to do so.

in Auth0 site [here  ](https://auth0.com/docs/tokens/guides/store-tokens#using-cookies) they think it is not secure using LocalStorage and think the best way securing your token is by using cookies. But I think the cookies in this approach should

[2020-01-21 09:12] sg3s commented on #830
@baselbj

- It is a consideration you need to make for your specific use case
- Storing any credential in a browser has risks associated with it, however you do it
- There is currently no perfect solution that has both optimal usability and security

Cookies set from the server with HttpOnly flag are the most secure method, but only applicable if you can do this (in some situations you cannot). It

[2020-01-21 10:26] meis commented on #1040
Oh, the abstraction makes way more sense now, thanks for the clarification :)

I guess I'll keep handling `id_token` expirations manually.

[2020-01-21 10:26] #1040 closed, assigned to nobody

[2020-01-21 20:32] rahulgupta8git opened #1042 "Does oidc-client-js support Authorization code flow?"
Not an issue, just a question.

[2020-01-21 20:55] aorlenko83 commented on #576
I also ran into this.
So in general, is it the case that currently we cannot use oidc-client with Cognito and `scope="openid"`? And the workaround is just using some other library like AWS Amplify?

[2020-01-22 10:18] musman013 commented on #968
hi @madhur4444 how did you fix it?
i am facing same issue.

[2020-01-23 13:34] regul4rj0hn commented on #1042
Yes, it does.

[2020-01-23 13:37] brockallen commented on #1042
Also PCKE. And refresh tokens, if issued.

[2020-01-23 13:39] regul4rj0hn commented on #1039
Tell your Identity Provider to change the configuration for your client so that `RequireClientSecret = false`. Being an SPA / public client the IETF recommends not to require client secrets, as they will be stored in the browser anyways so it defeats the purpose of having a *secret*.

[2020-01-23 14:21] PaulQCSC opened #1043 "Looking for Example of InAppBrowser set up"
Hi All,

Using oidc-client in Ionic, looking for an example of oicd-client using InAppBrowser with redirect to the app after login or signout.

Many Thanks

Paul

[2020-01-23 16:12] humaxi commented on #826
This is still not solved... Please fix this crap.

[2020-01-23 16:23] brockallen commented on #1043
You should not be using this library for native apps. Instead look at: https://github.com/openid/AppAuth-JS

[2020-01-23 16:23] #1043 closed, assigned to nobody

[2020-01-26 00:46] rubo commented on #919
I use the authentication code flow and for logout, I call the `signoutRedirect()` method which redirects to my logout endpoint which in turn redirects to the `post_logout_redirect_uri` with the removal of the auth cookie.

I debugged oidc-client-js code in my app and didn't find a reason I might need to call `signoutRedirectCallback()` in the abovementioned case. However, when I was using SPA for

[2020-01-26 14:06] brockallen commented on #919
`signoutRedirectCallback` is if you expect state to be passed back to you after the SLO protcol

[2020-01-27 10:44] Manimall commented on #780
not works for me(

[2020-01-27 11:56] abarisuzuner opened #1044 "Uncaught (in promise) Error: No matching state found in storage"
Hi,

Our scenario is like this: If user presses browser back button right after the login it goes back to provider. And there our provider asks for login again (they don't keep the session apparently). So, after entering the login info, user is redirected to our login result page with new token.

Here we only call the `signinRedirectCallback`  method to get the user. But this method fails and goes

[2020-01-27 13:38] #958 closed, assigned to nobody

[2020-01-29 06:16] sorenhoyer commented on #787
@brockallen as you say this could break things for some of us that are still stuck with implicit flow (thanks to current B2C CORS limitations in our case). For us it works perfectly as it is currently, where silent renew is triggered on accessTokenExpires event if automaticSilentRenew is set to true, and then we can logout the user in accessTokenExpired if signInSilent did not succeed in accessTok

[2020-01-29 06:40] sorenhoyer opened #1045 "First silent renew attempt succeeds, subsequent ones fail"
We're receiving the following error

[code]

![image](https://user-images.githubusercontent.com/2083553/73333631-adea4700-426a-11ea-9d8f-ab130db6f895.png)

The first time silent renew runs it always works, but for subsequent attemts it fails for some reason.

The weird thing is that I've tested against 2 different B2C setups. One that I use for dev purposes with a short token expiry set to 5 minut

[2020-01-29 09:15] sorenhoyer commented on #1045
Sorry, I'm closing this, since I was a bit too fast creating an issue in here.

I tried to increase the token expiry for my dev B2C (which I should have done, before assuming a oidc-client issue), and it still works just fine. And when googling "user does not have an existing session and request prompt parameter has a value of 'none'" it just confirms it being something that is configured wrong in

[2020-01-29 09:15] #1045 closed, assigned to nobody

[2020-01-29 13:58] Manimall commented on #1044
the same problem

everything fine, everything works - but errors in console -

![2020-01-29_16-58-08](https://user-images.githubusercontent.com/2580719/73362789-8ae68400-42b8-11ea-85e1-136f90ef1572.png)

[2020-01-29 14:08] rmja opened #1046 "Signout and silent renew race"
I am seeing a race for completion when signout is called when silent renew is in progress.

I have set a far too low access token expiration in identity server to trigger this behavior. When automatic silent renew is enabled (with the offline_access scope), then when invoking signoutRedirect() it can happen that the user is actually not signed out, because an ongoing silent renew is in progress.

[2020-01-30 18:35] floatingfrisbee opened #1047 "Issue with silent refresh of token, while using OAuth2 implicit grant flow with Azure AD"
We're observing issues while attempting to do a silent refresh of our access token, using `userManager().signinSilent()`.

The following are the our configured settings:

![image](https://user-images.githubusercontent.com/233896/73477582-88d8ff80-4362-11ea-9398-5d4638dd0a5a.png)

The following is the error we receive:

![image](https://user-images.githubusercontent.com/233896/73477649-a908be80-436

[2020-01-31 22:32] clearwaterstream opened #1048 "OAuth 2.0 allow access_token to be passed as a query string. Is there a way I can set it in UserManager?"
Let's say access_token was passed into my app via query string (yes yes, bad -- I know). Is there any way I can set it in UserManager so that silent renew and the rest works?

Thanks!!

[2020-02-01 16:13] brockallen commented on #1048
If you have an access token passed into your app, then I don't understand why you need the UserManager?

[2020-02-01 16:14] brockallen commented on #1047
Not sure why e.data is incorrect?

[2020-02-01 16:15] brockallen commented on #1046
Sure, I believe you :) What are you proposing?

[2020-02-01 16:17] brockallen commented on #1044
Do you clear the callback page form your history entry? Perhaps you should. Here's an example:

https://github.com/IdentityServer/IdentityServer4/blob/master/samples/Clients/src/JsOidc/wwwroot/callback.js#L4

[2020-02-01 20:11] rmja commented on #1046
Year. I think the desired behavior is that the user is signed out, as that is triggered by interaction and should take precedence. So, any ongoing silent login should be cancelled before calling endsession.

[2020-02-03 07:20] abarisuzuner commented on #1044
Thank you for the reply. But in my case the `Promise` is rejected and goes to `catch` directly.

[2020-02-03 13:29] clearwaterstream commented on #1048
So, in say 80% of the case the user token is obtained via UserManager employing auth code + pkce flow. SilentRenew kicks in, the code has been tested, and all is good in the world.

A new requirement just came in whereby the access_token can come in via the query string. The scenario would be a third party obtains an access token from a refresh token (via server-to-server flow) and then would pres

[2020-02-03 13:41] brockallen commented on #1048
The library wasn't designed to start the job of managing things "half way thru" if that makes sense. I you can get it working, great, but it's not designed to do that. Sorry.

[2020-02-03 15:06] clearwaterstream commented on #1048
Ok fair enough. I'll battle though. Thank you for looking into this.

[2020-02-03 15:06] #1048 closed, assigned to nobody

[2020-02-03 20:46] clearwaterstream commented on #1048
Ok, got it working. SilentRenew works like a charm. Here's a code excerpt for those who may have similar need:

[code]

The above excerpt assumes you are using sessionStorage with UserManager.

When this line of code runs:

[code]

It will load the user info from sessionStorage, the SilentRenew service will wake up and all will be good. The id_token is missing but magically SilentRenew does not ca

[2020-02-04 00:54] jakebeatty commented on #861
Appear to be having a similar issue that @dejan9393 had, but with v1.10.1.
My social claim is currently returning the same as his post merge.

[2020-02-04 08:47] Quan95vn opened #1049 "Check user authenticated or not after page refresh using InmemoryStorate"
Hi author

With localStorage and sessionStorage im able to check the user because the access_token still stored in client browser storage, but with InMemoryStorage after refreshing the page how can i determine whether the user is authenticated or not?

Thanks.

[2020-02-04 14:02] brockallen commented on #1049
You can always check the token server with querySessionStatus.

[2020-02-04 15:40] Quan95vn commented on #1049
thank you, i have checked your vanillaJS sample before but not quite sure about the method

but why is the session_state value change every time i invoke the method querySessionStatus? isnt it must be the same value represent the session of the user or the other values still pointing to that same user?

Thanks

[2020-02-04 16:02] Quan95vn commented on #1049
okay ... after some research, i find out that the value is caculated on the server
I got what i need, i will close the issue. Thanks again

[2020-02-04 16:02] #1049 closed, assigned to nobody

[2020-02-05 18:27] Mabritoj commented on #990
Had to drop this project and now coming back to it.

Correct, we run ADFS 2016 which doesn't have CORS support. I thought the metadata parameters were so the code can bypass CORS? Maybe I am misunderstanding that?

Also, confused on why loadUserInfo: false is not being honored? Even though I have that set to false, does look like its true in the JS debugging and why that endpoint is being called.

[2020-02-05 20:58] brockallen commented on #990
This needs to be set in the instance where the callback is processed. So if that's in a diff page with it's own settings, then it will need to be in that one.

[2020-02-05 20:59] brockallen commented on #990
Yes, you can. I think someone in this issue shows how: https://github.com/IdentityModel/oidc-client-js/issues/413

[2020-02-06 12:25] Mabritoj commented on #990
Thanks. I think I initially misread the metadata properties and thought all url's specified in it bypass CORS. After re-reading it, its just for the authority URL that auto gets the discovery endpoints and the meta data is to manually specify the endpoints that authority will normally return.

I think ill try and proxy this request on my side where it will answer CORS/OPTIONS and then proxy the re

[2020-02-07 00:17] Mabritoj commented on #990
Thanks...this makes sense and is now working. Side question that I am hoping is easy enough to help provide input on. I am able to successfully perform auth now and the user is logged in. Because I am setting loadUserInfo to false, I am not sure if I can load other claims? Trying to send a claim of the users email address and think I have it configured right on the ADFS side...but still not seeing

[2020-02-07 04:23] springamruta commented on #886
I get the same error. Could you resolve that?

[2020-02-07 13:34] brockallen commented on #990
The protocol allows claims to be sent in the id_token or loaded via the user info endpoint.

[2020-02-07 15:09] GordonBlahut commented on #1034
Is there a method to manually refresh the user profile/claims and update the user that is tracked by the UserManager?

[2020-02-07 18:21] brockallen commented on #1034
Nothing built-in as a public API. What's your scenario?

[2020-02-07 19:11] GordonBlahut commented on #1034
Client is a Vue/vuex-based SPA with both a web browser version and Cordova Android/iOS version. Both versions are using oidc-client as the client and IdentityServer4 on the server but with different configurations (the Android/iOS clients have offline_access scope).

The browser version uses typical redirect oauth config and iframe for silent renew. The Cordova version launches a custom tab or ASW

[2020-02-07 19:30] artola opened #1051 "Missing typings for `addUserSignedIn`"
This PR has introduced `addUserSignedIn` in the JS but no support in the TS definitions.

https://github.com/IdentityModel/oidc-client-js/commit/3004ff34efa44a83b0ea1bd731be48b710df47d4#diff-5aad0d70be7283f01d87290e7dc9f355

This results in the following error when this event is in the codebase:

[code]

Also, see the block for `addUserSignedOut` where the Jsdoc wrongly say "... sign-in ...". Fix

[2020-02-11 00:54] codeiskool opened #1052 "Is there a way not to send out scope in the authorize call?"
Hi,
First of thanks for the great library.
I am doing Authorise code flow with PKCE.
During the first authorise call I have a requirement not send scope in the outgoing request itself.

If you see the below request, I need a way that from the outgoing call scope is not sent at all
Current-
https://xxx-npe.okta.com/oauth2/aus212222/v1/authorize?client_id=0o9NU4343&code_challenge=jadfsdfsdfo&code_ch

[2020-02-11 00:56] codeiskool commented on #1052
Making scope = null during creation of UserManager object not giving me desired.

[2020-02-11 03:45] codeiskool commented on #1052
If there is no such way, is it possible to get all the scopes on a resource?

The problem I've have is Okta returns failure message if I query for a scope which is not there on a resource. In my application there are some resources with different scopes.

So the workaround Okta specified is to first set the scope as openid and query the code and state. With that retrieve the ID token. Now parse th

[2020-02-11 11:42] WaldemarEnns commented on #937
Thank you guys, you helped me out very quickly.
I would be very happy, if this could be solved some day :)

[2020-02-12 05:52] dejan9393 commented on #861
Any update on this issue?

[2020-02-12 17:06] Mabritoj commented on #990
Ugh finally figured out ADFS only sends the claims when response_mode is set to form_post.  By default it looks like oidc_client uses a query for "response_mode"

Looking at the code, I did see the createSigninRequest() class has a constructor variable for response_mode so I tried setting this to "form_post" in my config object but no luck. The login flow does work and I see the form_post being se

[2020-02-12 20:00] brockallen commented on #990
form_post doesn't work for a client-side JS app.

[2020-02-12 22:31] brockallen commented on #1034
Ok yea, I think there's already another issue open related to this -- in short, once the RT comes back with a new AT we don't use that to trigger a new request to userinfo.

[2020-02-13 10:37] jcd79 commented on #994
iOS Safari has the setting "Prevent Cross-Site Tracking". It's turned "On" by default.
This applies to both iOS version 12.x and version 13.x.

But this redirect loop, for us, only happens on version 13.
Is this a known problem?
For us this fails in both a SPA application using old Angular/Knockout js, but it also fails in a fresh SPA application that uses React.
Both of the SPA's work with iOS 12

[2020-02-13 15:44] jcd79 commented on #994
Solved this for now by setting
var isIOS = (/iPad|iPhone|iPod/.test(userAgent) && !window.MSStream;
automaticSilentRenew = !isIOS
monitorSession = false

[2020-02-14 17:08] brockallen commented on #1052
`scope` is required by the spec:

https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

[2020-02-14 18:56] AlexF4Dev opened #1053 "native app"

[2020-02-14 18:56] AlexF4Dev opened #1054 "electron"

[2020-02-14 18:57] #1054 closed, assigned to nobody

[2020-02-14 18:57] #1053 closed, assigned to nobody

[2020-02-14 21:00] j2jensen commented on #888
@tomthebearded Thanks for showing how to use InMemoryWebStorage.

Regarding signinRedirectCallback, I think that's only expected to work when someone was redirected from the identity server into your application. They'll end up at your `post_logout_redirect_url` with a token in the Fragment Identifier (i.e. "#id_token=..."). If this token is present, signinRedirectCallback should work. Otherwise,

[2020-02-19 13:29] ux-engineer commented on #93
We are also experiencing this @Pinguwien @intermension with vuex-oidc package and using Azure App Service...

[2020-02-19 13:33] ux-engineer commented on #93
Could this [IdentityServer 4 related SO question](https://stackoverflow.com/a/52767124/2442714) be a hint?

[2020-02-19 18:54] ismaelpadilla commented on #1039
Is there a way to make this work with IdentityServer3? As far as I know the secret is required in that case, and I would normally use a dummy secret

[2020-02-19 20:02] brockallen commented on #1039
yes, you can set a secret for use on the token endpoint: https://github.com/IdentityModel/oidc-client-js/blob/dev/src/OidcClientSettings.js#L21

[2020-02-20 11:30] haugan opened #1055 "IdentityServer4 OIDC-Client authorize redirect loop"
I've built an implementation of **IdentityServer4**, integrating **ASP Identity** running **ASP.NET Core** utilizing the **Implicit Flow**. *(We're changing to an PKCE configuration later on, but whatever.)* The application manages user signins across multiple web applications running **ASP.NET/AngularJS/OIDC-Client**. When running everything locally on **IIS Express**, everything works as intende

[2020-02-20 13:21] OneCyrus commented on #965
same issue here

[2020-02-21 11:23] buzzbonner24 commented on #518
Did you find a solution to other tabs not receiving event notifications during a log out? I'm using
'new WebStorageStateStore({ store: window.localStorage })' and listening to 'addUserSignedOut' event, but no events are received in other tabs?

[2020-02-22 06:57] mikemcp commented on #917
@janbiasi
Running into the same issue.  Did you have to override the stateStore as well as the userStore?

[2020-02-24 08:06] phronesis opened #1057 "How do I set headers"
I would want to set the "Accept" header to application/json as the OP requires this to return json as a response. I expect to be able to set this using the settings but I am yet to see how to do this.

[2020-02-24 09:24] Taats opened #1058 "SilentRenew, auth_time in id_token does not match original auth_time"
The title says it all, when i do a silent renew the call completes and the error i get is that "auth_time in id_token does not match original auth_time".

I'm using Azure B2C and this is how my UserManager is being set up:

[code]
When silent renew kicks in the following error occurs:
UserManager._validateIdTokenFromTokenRefreshToken: auth_time in id_token does not match original auth_time

If any

[2020-02-24 13:00] brockallen commented on #1058
https://openid.net/specs/openid-connect-core-1_0.html#RefreshTokenResponse

[2020-02-24 13:03] brockallen commented on #1057
For which request?

[2020-02-24 13:06] Taats commented on #1058
Yeah i've read that. I do get an id_token back in the response from B2C which i then pass on to oidc-client (untouched b2c response is returned). This id_token is causing the problem.

When i manually remove this id_token from the reponse all goes well but the token in the oidc-client is not refreshed then (it only seems to be using a new refresh_token). So, in turn the token expires and i need to

[2020-02-24 13:12] brockallen commented on #1058
I don't know either. My guess? AB2C didn't follow the spec when they wrote their code.

[2020-02-24 13:23] Taats commented on #1058
Well i doubt that is the case considering b2c is out for quite a while now. Most likely it is not a problem with oidc-client either but a "simple" configuration setting - i just can't seem to find it.

Do you have any guess on how my configuration could be wrong on the silent refresh?

[2020-02-24 13:25] brockallen commented on #1058
You put a lot of faith into them. I can tell you there are several other areas where they don't follow the spec.

No idea. Check their portal for token lifetime settings.

[2020-02-24 13:50] annmarie-switzer commented on #518
@buzzbonner24  What I ended up doing was changing from local storage to session storage and then forcing logout on the other tabs. oidc-client uses session storage by default, so just remove this line from the config to default to session storage:

[code]

Then I use these two functions in my auth service to handle logout events:

[code]

I hope that helps!

[2020-02-24 14:36] mihalios opened #1059 "No request to exchange code for access_token is made"
Hi,

I've just given a go implementing PKCE in a React app. I can see that my app is making an authorization request, receives an auth code (and state) but then there's no subsequent call to exchange the token.

The auth code and state are received on the redirect_uri I specify in config. Is this correct? I was under the impression that the redirect_uri is used as the callback for the token exchan

[2020-02-24 14:43] mihalios commented on #1059
Re-reading the [docs](https://github.com/IdentityModel/oidc-client-js/wiki):

redirect_uri (string): The redirect URI of your client application to receive a response from the OIDC/OAuth2 provider.

Do I need to handle the callback or can the library do that? In this case do I need to set another callback for the token exchange request?

[2020-02-24 16:02] Taats commented on #1058
I guess I did put a lot of faith in them, to bad they didnt came through.

I've replaced the oidc-client with angular-auth-oidc-client (from Damienbod) and in there the silent-refresh does not yield errors. When i then inspect the token i received from Azure i can see the timestamps are different but appearently this library doesnt seem to care.

Thank you for pointing me in the right direction! <

[2020-02-24 16:02] #1058 closed, assigned to nobody

[2020-02-24 17:35] mihalios commented on #1059
I finally managed to complete the implementation of the Auth Code Flow w PKCE. I'm not sure I followed the recommended approach but that's what I did:

1. Created a callback html page, that's the redirect_uri specified in settings.
2. In my Auth react component I invoke .signinRedirect()
3. In the callback page I have embedded js code that invokes .signinRedirectCallback() and that results in my t

[2020-02-24 18:01] cschloer commented on #1059
I'm also trying to implement in React. It looks like you did exactly what's shown here: https://github.com/skoruba/react-oidc-client-js .

If you're able to make your code public, do you think you could share it? I'm trying to do the same method but am having difficulties with the callback html page -specifically getting a
[code]
error, which might be a configuration problem on my end.

[2020-02-24 19:12] mihalios commented on #1059
@cschloer Afraid I can't publish at the moment. But if you have your code on github I can happily take a look.

I think your error might be caused by several issues, hard to tell without looking at code.

[2020-02-25 10:20] cschloer commented on #1059
Unfortunately mine is also private but here are the relevant lines of code if you have any thoughts:

 **signin-callback.html**
[code]

**auth.js**
[code]

The auth functions are in a redux store currently, albeit with no state associated with it yet.

[2020-02-25 10:31] Taats commented on #996
I ran into the same problem as you did, it turns out it's a setting in the browser, I'm using Chrome.

When in the dev-mode of Chrome, open the dev-tab and click the 'All levels' drop-down (next to the filter) and make sure 'verbose' is checked. When I enabled that setting all the logs were appearing.

And ofcourse set: `Log.logger = console; Log.Level = Log.DEBUG;`

[2020-02-25 12:13] cschloer commented on #1059
Made some progress by switching to this wrapper here: https://github.com/maxmantz/redux-oidc

[2020-02-25 15:24] peterpolman opened #1061 "Package crypto-js@3.1.9-1 contains vulnerability and should be upgraded"
The targeted package should be `crypto-js@^3.2.1` since all prior versions contain vulnerabilities.

See https://snyk.io/vuln/npm:crypto-js for reference.

[2020-02-25 20:59] dexygen commented on #1059
This is all very interesting to me I'm trying to implement the PKCE flow but am having some similar issues but have some clues now, I will keep you posted if I succeed

[2020-02-26 08:37] 808x88 opened #1062 "Send credentials (certificate) when retrieving token"
When conducting the post request to get the token from the idp, we should be able to choose whether we want to send the credentials in the post request so the idp can verify who is calling to get the token with our certificate.

[2020-02-26 10:15] Jopie64 opened #1063 "Usage of outdated vulnerable YUI (yahoo.js) lib"
Hi,

At our company, we're using the oidc-client in our project, and are using the retire.js chrome plugin to detect vulnerabilities. retire.js signals the usage of an outdated package [YUI](https://yuilibrary.com/) which is used by oidc-client.min.js. YUI is associated with some XSS vulnerabilities like [this one](https://www.cvedetails.com/cve/CVE-2012-5883/). On [their website](https://yahooeng

[2020-02-26 10:17] Jopie64 commented on #1063
Ok, just noted that this is a duplicate of #743... I'm sorry...

[2020-02-26 20:25] gtrbarbarian commented on #1044
I just dropped in to say, I was running into the same thing. Your key value for oidc.<state id> is missing. In order to debug it, I changed node_modules/oidc-client package.json to use the non-min version of oidc-client.js for debugging purposes.

I then put a break point in UserManager.prototype._signInStart. (line 10207-ish) Step through, and after the call to 'createSigninRequest' (line 10216-i

[2020-02-27 19:01] mahoekst commented on #1058
I confirmed with the B2C team. This is a bug

[2020-03-01 20:26] michaeltecourt commented on #645
Unfortunately AWS is not even pretending to be complying with OIDC. In the "meantime" (if Amazon ever aligns Cognito with OIDC), I'll be extracting the username from the Access Token JWT.

[2020-03-01 21:22] andresdsep commented on #219
Worth noting on @figuerres solution.

Setting the state here only worked for me when the value was passed as a value to a prop called `state`:

[code]

[2020-03-02 08:02] Taats commented on #1058
@mahoekst, did you happen to open a ticket there at the b2c team where I/we can track this bug or shall i open one?

[2020-03-02 11:32] khabubu opened #1064 "UserManager GetUser does not retrieve private claims"
We have added the following custom private claims "address_city", "address_state" and "address_country" and feature added them in our api resource in the list of accociated user claims that should be included when this resource is requested.

However when using oidc-client.js after the user has been successfully authenticated the private claims are not retrieved in the getUser() function.

Is this

[2020-03-02 12:48] mahoekst commented on #1058
I asked the team and they created an issue in their own system. If you need a fix quickly you should definitely open a ticket. Tell them the engineers filed the issues as #940448 in their system

[2020-03-02 13:12] TNSaturday opened #1065 "Save user in vuex store"
This library has **userStore** setting, which allows you to choose where to persist your user. Right now I want to save my user in **Vuex store**, but I cannot put my state in there because you are not allowed to mutate store directly and you should use mutations instead. So I need to do something like:
[code]

So this gives me 2 problems basically:
1. I have to use **function**, but userStore exp

[2020-03-02 16:31] PavlosMac opened #1066 "Without Oidc layer?"
Not an issue. A question.

Is there a way to use this without the open-configuration call?
 e.g http/server/.well-known/openid-configuration

I need an implementation for Auth code flow + PKCE + django-oauth2 server
No openId stuff, but all the rest!

[2020-03-02 19:02] cgatian commented on #1063
@Jopie64 should this just be closed?

[2020-03-02 19:42] ekdev2 commented on #172
for me, it worked when I set the UserManager property `includeIdTokenInSilentRenew` to false. Also as confirmed in this thread, signinSilentCallback has to be called on the redirect_uri/silent_redirect_uri. If dev tools are opened, you will be able to see an iframe with the /authorize endpoint. You can manually paste that in browser for debugging purposes.

[2020-03-02 19:52] Jopie64 commented on #1063
Yea I think it can be closed.
Although a third party did a penetration test of our software and it failed because of this issue. I hope/think we can convince them that our software is not affected. Still I think it doesn't look  good that a certified implementation of OpenID is flagged as potentially unsafe...

[2020-03-02 19:52] #1063 closed, assigned to nobody

[2020-03-03 13:46] mihalios commented on #1059
@cschloer I assume you either resolved your problem or took a different approach by switching to the wrapper you mentioned above, so I will close this.

[2020-03-03 13:46] #1059 closed, assigned to nobody

[2020-03-03 22:19] michaeltecourt commented on #645
@kmontg Late to the party but found a workaround.

If you request the scope `openid`, cognito will return an `id_token` that the oidc-client cannot validate since it didn't generate any `nonce` (we didn't ask for an `id_token` the right way after all).

The library is pretty well designed, so you can replace the `ResponseValidator` implementation through the `oidcSettings` :

[code]

[2020-03-04 12:53] EricHerlitz commented on #780
@Manimall In my case removing `response_mode: 'query'` on the callback-page actually solved the issue

[2020-03-04 23:55] dopry opened #1067 "Auth0 does not publish and end_session_endpoint in their openid-configuration."
end_session_endpoint isn't technically required by the OIDC spec, sessions are an optional sub-specification.   It would be nice if there were a way to inject the specific missing property into the configuration. Unfortunately the way the getMetadata() method is currently implemented openid-configuration will overwrite any provided meta-data.

More generally it would be nice of the client better h

[2020-03-05 07:00] apacherose commented on #1044
Sorry for running into this conversation, but no matter if I replace the history entry or not, I have a strange behavior only in Chrome.
The browser seems to ignore the callback page and goes straight to the Idsrv login page when the user presses back button. But when holding the back button and choosing explicitly the callback page from history entry - chrome hits the callback and everything is f

[2020-03-05 11:15] MayGo opened #1069 "Need to get error_description when exchanging token"
When an application is exchanging token with the query `/openid/token` and it fails with HTTP status 400, then it needs to give more information regarding the reason.

And this is given in the response as error_description field.
eg:
[code]

Can changes be made, so line https://github.com/IdentityModel/oidc-client-js/blob/fd838832aaacdaf1b8bd213c8e3787150f33af4d/src/JsonService.js#L161 would also

[2020-03-05 16:08] brockallen commented on #1064
That would only make them available to your API. If you want those claims available to the client then add those claims to the identity scopes being requested.

[2020-03-05 16:09] brockallen commented on #1069
I guess we'd add it as a custom property on the Error?

[2020-03-05 16:11] brockallen commented on #1066
Yes, there's an issue somewhere that shows how to set that data manually.

[2020-03-09 18:57] atrauzzi commented on #93
I've been troubleshooting an issue to do with configuring a state store for the last few days and feel like it might be worth adding my voice to this discussion.

While I think in every case, there is going to be nuance, the one thing that I can say is that I have a working user store on the exact same `UserManager` instance.  My origin is exactly the same both outbound for the redirect and inboun

[2020-03-12 16:00] ghost opened #1070 "Call Oidc.UserManager.signinRedirect() when an access token is already expired bypasses an actual signin."
I have experienced that calling Oidc.UserManager.signinRedirect(), when an access token is already expired and the user does not sign out, results in IdentityServer4 returns a new access token / a new refresh token as if a user is signed in again without asking for the user to enter a username / password!! → this simply bypass the refresh token mechanism or username/password.
It does not seem to m

[2020-03-13 14:07] brockallen commented on #1070
Yes, that's called single sign-on. The access token lifetime is unrelated to the SSO session lifetime.

[2020-03-18 08:38] ghost commented on #1070
thank you @brockallen for your quick reply.
So do I understand correctly that it does not make sense to use access token / refresh token in combination with SSO? I could not find information regarding SSO session lifetime in oidc-client nor in IdentityServer4. Is there a way to switch off SSO? or what would you suggest?

[2020-03-19 00:34] cadobre commented on #861
I am experiencing the same issue in 1.10.1, after upgrading from `1.6.1`.

The problem with `mergeClaims` is that it alters the claims in such a way that you cannot rebuild it to the original format, basically, it's losing data. Here is one example:

claims:
[code]

After `response.profile = _this2._mergeClaims(response.profile, claims)` it becomes:

[code]

If I try to map back to the original fo

[2020-03-20 13:44] ch-lepp opened #1073 "Occasional redirect login error"
Im using browser redirect to log into my application.
Uppon entering username and password, occasionally I get the following error:

**Redirect callback failed:Error: No matching state found in storage**

This usually happens after opening a new browser window and then trying to log into my app.
A quick fix is to simply refresh the page.

This is my signin-redirect code:

[code]

and this is my ca

[2020-03-20 17:25] tobyartisan commented on #460
The link to the test server is no longer working. Is there a new link or another example of being able to mock a secure login when access to the actual identity provider is not available?

[2020-03-20 20:15] ayvue commented on #1067
The same situation exists for using Google OAuth2. We catch the error "no end session endpoint" on using the signoutRedirect method during logging out.

[2020-03-24 13:40] ericgreenmix opened #1074 "Safari 13 is blocking 3rd party cookies via its new Intelligent Tracking Prevention"
Reference link: https://webkit.org/blog/9661/preventing-tracking-prevention-tracking/

When the `monitorSession` or `automaticSilentRenew` iFrames are turned on in versions of Safari after 13.0.4, they are unable to access the 3rd party sessions cookie from identity server. This causes them not to be able to authenticate which then results in a redirect loop.

Per the reference link above:

Is the

[2020-03-24 13:44] ericgreenmix commented on #994
@jcd79 I created a new issue with #1074 to track this. We are hitting the same thing with Safari.

[2020-03-24 15:08] brockallen commented on #1074
The long term solution will be to move to using refresh tokens with all the appropriate threat mitigation techniques.

https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps

This library already supports refresh tokens obtained via code flow + PKCE.

[2020-03-24 18:09] ericgreenmix commented on #1074
@brockallen Will that technique work for session monitoring since it is based on the cookie?

[2020-03-24 20:24] brockallen commented on #1074
Good question. Possibly not. It's something that maybe should be raised with the OIDC WG.

[2020-03-25 12:59] ericgreenmix commented on #1074
Okay cool.

@brockallen Would you consider these Identity Server 4 refresh token settings as the recommended "appropriate threat mitigation techniques"?

`RefreshTokenExpiration` = `Absolute`
`RefreshTokenUsage` = `OneTime`
`AbsoluteRefreshTokenLifetime` = the default of 30 days

[2020-03-25 18:25] ghost commented on #968
Hi @madhur4444 I'm also facing the same issue
Please let me know about solution that you applied.

[2020-03-26 15:16] chriskolenko commented on #628
Any updates on this?

[2020-03-26 15:52] brockallen commented on #628
No sponsors have stepped up to back the work to focus on such features, and I'm too busy doing doing paid work.

[2020-03-27 03:14] LuanPereiraLima opened #1076 "Error in the GetUser information after logging in to identity again."
I have a problem in the authentication of the application that occurs after logging in twice through the identity screen.

![image](https://user-images.githubusercontent.com/7897117/77717323-ea15fb80-6fbe-11ea-8769-90c3b81b2f7c.png)
The correct thing would be for me to receive this information in the image above that is returned by the library's GetUser.

![image](https://user-images.githubusercon

[2020-03-27 20:46] brockallen commented on #1074
Just for an additional nail in the coffin: https://webkit.org/blog/10218/full-third-party-cookie-blocking-and-more/

[2020-03-31 15:44] mattroot87 opened #1077 "ADFS 2019 userinfo endpoint 401"
Hi!

We are attempting to use this library with ADFS 2019. Once we hit the userinfo endpoint we are getting this error:

`Bearer error="invalid_token", error_description="MSIS9921: Received invalid UserInfo request. Audience 'microsoft:identityserver:_**clientIdHere**_' in the access token is not same as the identifier of the UserInfo relying party trust 'urn:microsoft:userinfo'."`

For testing pu

[2020-03-31 16:09] jonenst commented on #474
Hi @brockallen, could you please elaborate on this? What is the scenario that UserManager attempts to address with only one managed access token ? Only calling the userInfo endpoint and having "base" scopes on a token that gets renewed ?

Do you have guidance for other scenarios ?
For example, in the scenario where an already logged in user performs some protected action needing some consent form

[2020-03-31 16:45] brockallen commented on #1077
This is more of a question for Microsoft. // @mahoekst

[2020-03-31 16:48] brockallen commented on #1077
Also, FWIW: https://leastprivilege.com/2020/03/31/spas-are-dead/

[2020-03-31 17:40] mattroot87 commented on #1077
thank you!

[2020-03-31 17:48] patelhirn commented on #593
@sanmscse  and @jdhenckel : I am also facing same problem with a silent refresh. can you elaborate more on this issue OR share sample code for this?.

For my project object create instance declared only once in (AuthService) still not working.

Thanks
Hiren

[2020-03-31 22:06] wzup commented on #780
@Manimall Your solution solved the issue

What is that `response_mode: 'query'`anyway? There is no even info about it in their docs!
My question about this piece of misapprehension https://github.com/IdentityModel/oidc-client-js/issues/1078

[2020-03-31 22:15] wzup opened #1078 "Where is response_mode? What is it?"
What is **response_mode**? https://identityserver4.readthedocs.io/en/latest/quickstarts/4_javascript_client.html#add-your-html-and-javascript-files
[code]

No any info about it here https://github.com/IdentityModel/oidc-client-js/wiki
But it affects work hugely https://github.com/IdentityModel/oidc-client-js/issues/780

[2020-04-01 16:36] brockallen commented on #1078
https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

[2020-04-02 12:10] nicklas669 opened #1079 "Logout loop"
Hello!

I have been debugging this problem for some time on and off now so I thought I might give it a shot and hear if anyone in here could help lead me in the right direction.

I am using oidc-client v1.10.1 in an Angular 8 app and IdentityServer4 v3.1.0. The oidc-client is set up to use a cookie service as the userStore. Both angular app and backend run HTTPS with self-signed certificate.

All

[2020-04-02 12:51] brockallen commented on #1079
Any time you see this, it means the cookie is not being kept by the browser. IOW, it's as if the cookie were never issued.

[2020-04-02 13:11] nicklas669 commented on #1079
@brockallen Could you elaborate more? Can I find out which cookie the warning is about? There must be something setting a cookie in a way that Chrome no longer allows?

edit: Isn't it weird that I don't experience this on my testing environment?

[2020-04-02 14:51] brockallen commented on #1079
You should be running/testing everything over https to avoid this issue. Browser vendors have fundamentally changed the semantics of cookies (which is technically a breaking change).

[2020-04-02 15:52] mattroot87 commented on #1077
@mahoekst -

From the ADFS side, Any thoughts on how I can get passed this error when using this 'oidc-client-js' library to get the UserInfo endpoint on ADFS 2019?:

Bearer error="invalid_token", error_description="MSIS9921: Received invalid UserInfo request. Audience 'microsoft:identityserver:_**clientIdHere**_' in the access token is not same as the identifier of the UserInfo relying party trus

[2020-04-02 16:58] Manimall commented on #780
@EricHerlitz lucky you are!)

[2020-04-03 06:13] nicklas669 commented on #1079
Everything should be running HTTPS. But I now see what you mean, `http://spa-dev.vur.dk/` in the warning is not HTTPS.. Hmm, wonder where that comes from?

[2020-04-03 13:52] jonenst commented on #625
@chaholl did you publish your fork on npm ? is it useable by others ? thanks in advance

[2020-04-03 14:00] brockallen commented on #625
Why don't you use the proprietary AAD client libraries?

[2020-04-03 14:04] jonenst commented on #625
Hi @brockallen , thanks for answering. I'm not using msal.js to avoid vendor lock-in.

[2020-04-03 14:14] chaholl commented on #625
I didn't, sorry. I daresay the core code has moved on quite a bit since then though. FWIW, I also used this library to avoid lock-in - I needed to support multiple providers, not just AAD

[2020-04-03 15:39] aditi-lal opened #1080 "Oauth 2.0 getting access token"
Hello everyone,
I am trying to implement login using Oauth 2.0. Currently I am able to get code in my redirected URL.
Can anyone please suggest how to make request for access token. How I can use oidc client as I only have code and token endpoint in SPA

Thanks in advance

[2020-04-03 17:42] aditi-lal commented on #1080
Hi,
I understand that retrieving access token is handled in signInRedirectCallback.
So is it like as soon as I receive code in URL, I have to call the redirectCallback Function.
Where I can mention token_endpoint?

[2020-04-04 19:22] AlQuraian opened #1081 "Upgrade core-js to version 3"
When installing oidc-client a warning is shown:

This dependency should be updated to avoid future issues.

[2020-04-05 11:24] pavankarajgi opened #1082 "SilentSignInCallBack throws error"
We have integrated oidc.client library into our mvc4 application. Accesstokenexpiring event is firing and signinSilentCallback() is called, but user object is empty and it gives below error. May be token is getting renewed or so, because the token expiring event is called every five minutes even after receiving this error message:

OidcClient.js:154 SilentRenewService._tokenExpiring: Error from si

[2020-04-05 14:36] blackcatpolice commented on #832
![image](https://user-images.githubusercontent.com/4312114/78501242-6c57aa00-778d-11ea-9c33-932f4f4ab8d0.png)
so , at first I login and then IS4 call my js client url"xx/callback.html?code=xxxx" , UserManager will call this function . But the stateStore is empty, there is no value at first. Why you get or set this stateStoreString here code ? At first should you set a value to stateStore ?

[2020-04-05 14:39] blackcatpolice commented on #832
![image](https://user-images.githubusercontent.com/4312114/78501408-48489880-778e-11ea-8a11-dee739fc6c37.png)
Here is my callback url , can you find out some errors?

[2020-04-05 14:42] blackcatpolice commented on #832
![image](https://user-images.githubusercontent.com/4312114/78501595-aaa19900-778e-11ea-9f9a-204b850506e3.png)

As above image , if the stateStorage is emptyp , this description is so useless, why ?

[2020-04-05 15:24] borbonch commented on #1073
I had this problem in the pas and the problem is that you are started the oidc flow with http and you have the callback url with https or viceverse, and the browser creates a different local storage for each one of them, this means that state is saved in the storage created for the http url, and the oidc provider redirect to back using https and the browser uses a diferent local storage, for that

[2020-04-06 15:03] Afbcary commented on #864
@brownbl1
Did you ever end up using this library with react hooks? I'm currently working on that and any code your willing to share would be appreciated.

[2020-04-06 16:07] pavankarajgi commented on #1082
@brockallen Please provide you inputs on this.

[2020-04-06 20:41] priyank89patel opened #1083 "Client configured to require client_secret"
I am trying to use the `oidc-client-js` library with an Angular application. We are using PingFederate as our Identity Provider. The client is configured to require `client_secret`, I know that the client can be configured to work without `client_secret` but the team currently does not want to do that. The `oidc-client-js` library allows to pass the `client_secret`, my question is how secure it is

[2020-04-06 21:08] srujan006 opened #1084 "How do i restrict login using only specific domain, google oauth provides hd parameters, but its not working with userManager"
How do i restrict login using only specific domain, google oauth provides hd parameters, but its not working with userManager

[2020-04-06 21:09] srujan006 commented on #1084
How do i restrict login using only specific domain, google oauth provides hd parameters, but its not working with userManager

[2020-04-07 22:04] brockallen commented on #1082
I don't have any. I can't tell what line of code is triggering the error.

[2020-04-08 03:53] pavankarajgi commented on #1082
@brockallen Any pointers at least for me to start debugging this or is there any other way we could hook up silent renewal of token ?

[2020-04-08 14:54] vanhoutenbos commented on #1073
We have been experiencing the same issue the last couple of days, but it only happens in some cases. I have to login, logout, login, logout untill i get it, without switching urls. any idea if it could be triggered by something else as well?

[2020-04-08 14:55] vanhoutenbos commented on #1044
Unfortunatly we get thrown out of the 'then' before we start the function. the exception seems to be thrown in signinRedirectCallback

[2020-04-08 19:56] mattroot87 commented on #1077
@brockallen  -
Doing a little bit more logging on the ADFS side I am seeing this error for /userinfo request

![image](https://user-images.githubusercontent.com/24396979/78827450-29761c00-79b1-11ea-819a-e6f74631c722.png)

Within the library is there anywhere to force 'Options' instead of 'OPTIONS'?

![image](https://user-images.githubusercontent.com/24396979/78827367-03e91280-79b1-11ea-9692-d5b185

[2020-04-08 21:15] brockallen commented on #1077
That error means their userinfo endpoint doesn't support CORS.

[2020-04-10 06:49] simenandre opened #1085 "Add oidc-react to documentation"
Hello 👋

I have built an `oidc-client`-based React component to make it easier to implement authentication for React developers. I'd love to get more users to use it and subsequently more contributors!

The motivation behind [`oidc-react`](https://github.com/bjerkio/oidc-react) is that most other solutions out there are unfinished, outdated or too complicated. For most users, familiar API design i

[2020-04-11 01:31] Darkhax commented on #1085
@cobraz Is the Next.js example moved/deleted/private? I get a 404 when I try to check it out.

[2020-04-11 10:59] simenandre commented on #1085
it was, sorry about that. It's available publicly now!

[2020-04-11 13:47] embesozzi opened #1086 "Add metadata token endpoint property to wiki"
Hello.
Could you add the existing metadata parameter `token_endpoint`  to the wiki because it's required when you implement Authorization Code Grant.
Here is an example :
<pre><code>
new Oidc.UserManager({
  ...
  metadata: {
       ...
      <b>token_endpoint</b>: oidcProviderDomain + '/token'
  }
</pre></code>

It will be great if you could also add that the library supports Authorization Code G

[2020-04-14 09:49] kevinbungeneers commented on #1083
Hi @priyank89patel,

there's unfortunately no safe way to include the `client_secret`. The client secret is not something that changes, so that would mean you'd have to include the secret in the build of your angular app. If someone were to retrieve that secret by inspecting the JS loaded in their browser, they could authorize themselves.

Client secrets are typically used in "back channel" commun

[2020-04-14 13:13] ch-lepp commented on #1073
Thanks for your reply.

I consistently use HTTPS.
My app runs only with HTTPS and the redirect url also starts with 'https://'

Just like @jeanpoelie  I only get the error every now and then...

[2020-04-14 14:09] priyank89patel commented on #1083
Hello @kevinbungeneers ,
Thank you for taking time out to respond, I completely agree with you that there is no safe way to include `client_secret` in the Angular app as it can be inspected in the console as well during the request which puts the app at such a huge risk. The team has decided to move forward without storing the `client_secret` in the Angular app, we are making a secured back channe

[2020-04-14 14:09] #1083 closed, assigned to nobody

[2020-04-15 12:24] juanjoDiaz opened #1087 "monitorSession not actually validating the session"
Thanks for the great library guys!!

Maybe I'm misunderstanding how `monitorSession` is supposed to work, but I expected that it will trigger an event if the user finishes the session somehow. However, that doesn't seem the case.

I'm using Keycloak as my identity provider and these are the steps that I'm following:
* I log in (normal implicit flow)
* I refresh the page (still all good)
* I go to

[2020-04-15 12:37] juanjoDiaz commented on #753
I agree that exposing the minified version is not good for integration and troubleshooting.
However, the `/lib/oidc-client.js` is already transpiled and changed.

I think that the library should have:
* `main` (code transpiled to CommonJS)
* `module` (ejs code)>
* `browser` (transpiled browser compatible code).

Then most modern bundlers can automatically pick up the right one.

Since this issue a

[2020-04-15 13:18] brockallen commented on #1087
querySessionStatus actually makes a authorization request to the OP. monitorSession is using the check session iframe according to: https://openid.net/specs/openid-connect-session-1_0.html#ChangeNotification. Those are two different things.

See if keycloak implements check session.

[2020-04-15 16:47] swetapatnaik opened #1088 "Frame window timed out error from signInSilent(User Manager)"
Hi Team,
I am accessing oidc-client from User manager signInSilent method. I am getting the following error in response. "Frame window timed out". Version of oidc-client is 1.5.1-beta.1
Though I am passing the following parameters as required.

_silent_redirect_uri: “http://localhost:3010/silent.html”
_silentRequestTimeout: 10000
_automaticSilentRenew: true
_validateSubOnSilentRenew: false
_includ

[2020-04-15 18:56] GordonBlahut commented on #1034
Is this by design? Is there a reason for the different behaviour compared to silent renew via iframe?

[2020-04-16 06:18] vanhoutenbos commented on #1073
What we ended up doing is adding a try catch around the redirect call and if that returns with an error log that error to sentry and return the user to the login page.
Since it is such a weird issue we are not sure why it is happening, it seems to occure on random occasions unrelated to the user or their handlings.
We are considering doing a retry since that might work as long as it is within the

[2020-04-16 06:48] juanjoDiaz commented on #1087
I see...
So `querySessionStatus` is authorization while `monitorSession` is checkign authentication?
I still don't fully understand the difference or why `querySessionStatus` fails but `monitorSession` always passes.

Keycloak seems to provide an `auth/realms/<realmname>/protocol/openid-connect/login-status-iframe.html` page for session checking. Is it just not working? Any suggestions on how to t

[2020-04-16 06:54] juanjoDiaz commented on #1087
I guess that, in short, my question is: how do I monitor that the user session is still valid without running a silent signin over and over?

Thanks!

[2020-04-16 12:40] brockallen commented on #1087
Depends what you're doing. I guess you just want to know if they signed out of the OP -- that's monitor session. So you need to debug that. It might be due to the samesite changes in chrome? Or the cross site auto blocking feature in safari.

[2020-04-16 12:46] brockallen commented on #1088
It means the window has timed out -- probably due to a UI being shown (like an error page). No one will see that, so the iframe has a timeout on it. Find out why the request causes the error page to be shown.

[2020-04-17 05:14] swetapatnaik commented on #1088
I tried to separate the silent js code from index.js code and loaded 2 separate files.
The issue is not there now. Is it because I was loading one big JS file in the silent .html?

[2020-04-17 07:10] matteogll commented on #1088
Hi swetapatnaik,
I have the same  "Frame window timed out" error.
It's very hard to troubleshoot.
I have no errors in IdentityServer logs (server side). On the client side, on Chrome Network tab, I just have some "<MY_IDENTITY_SERVER>/.well-known/openid-configuration" GET requests in "cancelled" state (marked as error in Chrome).
But I cannot figure out why.
PS
You are using an old version of the

[2020-04-17 12:26] vanhoutenbos opened #1090 "Exp is in the past"
**Info**
Made this ticket first in the identityserver project but moved it to this repository. https://github.com/IdentityServer/IdentityServer4/issues/4291

**Issue / Steps to reproduce the problem**
Some of our users are experiencing problems with logging in, the logging reports that:
Error: exp is in the past: [time]

We have been able to reproduce this fully.
A user who has a different timezon

[2020-04-17 14:00] brockallen commented on #1090
This has been asked before... the spec says how to validate the token expiration, so not sure what to say. If the UTC logic in the browser is off of the timezone/clock is wrong in the browser, then not much the library can do.

[2020-04-17 18:47] roddy commented on #1090
We're seeing this too, but due to clock drift on the server so that while the browser has a correct UTC offset, the timestamp being returned by the server is off.

It almost seems like we need some way to do a handshake between the browser and the authentication server before we initialize the oidc client in order to figure out how badly out of sync we are, and then have custom logic in place to v

[2020-04-18 09:03] dagtveit opened #1091 "Cors Problems behind ingress proxy and subdomains."
my code is working perfectly in 3 different containers on localhost. where the identityserver actual is called http://identityserver. local dns and service name in dockers so that it has the same inside and outside dns. and the getuserinfo call is sent with sec-fetch-site: cross-site.

when i have it deployed in kubernetes behind a ingress controller. i get cors error. i dont think its due to the

[2020-04-18 17:45] brockallen commented on #1090
Unfortunately that's not covered in the OIDC spec. It's written to assume clients and servers have some way to sync their own clocks.

[2020-04-18 18:07] vanhoutenbos commented on #1090
Have you come by this challenge before? I have read the other issues but none had a solution, currently i see only 2 logical options:
1. Handshaking the time with a serverside api before logging in, if it fails, show an error (as mentioned by roddy)
2. Check  the device time from the browser before sending for example inside the oidc library. But i am not sure a browser is allowed to get such data

[2020-04-18 18:22] Bill13579 commented on #625
Also came across this issue, and trying to implement @brockallen 's solution, but noticed that it is not possible because we only get to know the actual tenant id after we parse the JWT, and the parsing is done inside of `validateJwtAttributes`, so just changing the `ResponseValidator` wouldn't be enough.

How about adding a special case to `validateJwtAttributes` to only handle Active Directory l

[2020-04-20 14:16] pavankarajgi opened #1092 "openid-configuration error"
While token is getting renewed, I see this error all the time from oidc-client.min.js. Any info on why this might be surfacing ?

![image](https://user-images.githubusercontent.com/46513779/79761246-cdab7b80-833e-11ea-90ba-325c262e083c.png)

[2020-04-20 17:25] brockallen commented on #1092
I'm guessing that the page is redirected or refreshed (due to some workflow or user interaction) before that request is finished.

[2020-04-21 07:25] EliodorPopov commented on #1058
I have the same problem, but for me the auth_time does not differ in these 2. Could it be a oidc-client-js problem?

[2020-04-21 12:58] JayeshLadumor commented on #1044
@abarisuzuner

i have fixed this issue by alllowing cookies to store data.actually i have faced this issue from the last 4 month but i could not able to find any clue about this error. but yesterday my colleague and me were trying find out the exact issue and we have found that cookie is blocked for our app url. so we have allow to it and issue is solved within a pulse of second.

-
![Screenshot f

[2020-04-21 16:14] brockallen commented on #1044
Much of these problems are due to browsers trying to protect users from tracking/advertising software and sites. Unfortunately to implement many of the OIDC/OAuth2 protocols from the client browser/JS side, we need to utilize the similar storage mechanisms. if these features are disabled/blocked wholesale, then there's not much we can do except reachitect to a more BFF pattern:

https://leastprivi

[2020-04-21 17:18] bh3605 commented on #922
@erjicles Can you give some insight on what the code looks like having multiple user managers?

[2020-04-22 05:48] vanhoutenbos commented on #1044
Did you also change the store type from tbe oidc library? And how would you handle people denying cookies?
We now handle people who have cookies disabled by showing an alert and not rendering the app, same for storage.

[2020-04-22 05:50] vanhoutenbos commented on #1044
Thank you for that answer we were thinking the same, we have decided to block users who do not have localstorage available.
There are some older devices with android 5.1 that do not have localstorage activated automatically.
Now we only need to write a how to on turning on the localstorage 😁

[2020-04-22 06:57] dewebeloper opened #1093 "Oidc-client-js vs. AppAuth-JS"
I have been following both of these clients for some time now and am increasingly confused as to which client to use and when.
I have Angular App with IDS4 and I use Oidc-client (code + PKCE) but idea is wrap this app in cordova and build for mobile. I saw a lot of comments here about same thing, but in this one https://github.com/IdentityModel/oidc-client-js/issues/389 @brockallen point us to use

[2020-04-22 08:11] shyamal890 commented on #27
Why is that? why won't SPAs use refresh_tokens?

[2020-04-22 11:38] one-geek commented on #911
Thanks to @zpc870921

For me, the solution was definitely this line for the session renewal problem. My session was renewed perfectly well during the first 30 minutes. After that it stopped for no reason.
This was the fix after block `services.AddIdentityServer(...)`. I add this line:

**`services.AddAuthentication(x => x.DefaultAuthenticateScheme = IdentityServer4.IdentityServerConstants.DefaultC

[2020-04-22 11:40] one-geek commented on #766
Thanks to @muralisambu

For me, the solution was definitely this line for the session renewal problem. My session was renewed perfectly well during the first 30 minutes. After that it stopped for no reason.
This was the fix after block `services.AddIdentityServer(...)`. I add this line:

**`services.AddAuthentication(x => x.DefaultAuthenticateScheme = IdentityServer4.IdentityServerConstants.Defaul

[2020-04-22 11:59] brockallen commented on #1093
Oidc-client-js is for client-side browser based apps.
AppAuth-JS is for native apps written in JS.

[2020-04-22 12:09] dewebeloper commented on #1093
So, that means that Angular app wrapped in Cordova should use AppAuth-JS client?

[2020-04-22 13:10] jonenst commented on #625
I don't think there should be any azure specific code in this library.

For what it's worth, I hacked my way around this decoding manually the token and dynamically changing the oidc-client-js "authority" configuration (you have to hack the state as well). It seems to work fine but it's still a huge hack :(
[code]

[2020-04-22 15:07] andriikuts commented on #924
I have the same issue.
Cannot log in using private window in Firefox with Okta.
But everything works fine when logging in using username/password.

[2020-04-22 15:32] brockallen commented on #1093
Yep.

[2020-04-23 09:30] andriikuts commented on #924
@1Jesper1, I am using Kubernetes that is why i have one domain for both client application and identity server application. In this case logging in with local user account using Firefox private window works fine but when i try to log in using external provider i get "No matching state found in storage" error.
But if i run my client application locally i will not be able to log in using either loca

[2020-04-27 18:15] #950 closed, assigned to nobody

[2020-04-27 18:15] #876 closed, assigned to nobody

[2020-04-27 21:22] onlyanegg opened #1094 "Auth Code UserManager without PKCE"
Hi, I'm confused about the auth code grant support of the UserManager class. My understanding is that in the auth code flow, a auth code is retrieved on an application's front end and then passed to the applications back end in order to be exchanged for an id token and an access token. That way (and in the absence of PKCE) the client secret doesn't have to be accessible in the browser. However, I

[2020-04-28 12:22] brockallen commented on #1094
implicit only uses front-channel. that's response_type "token id_token".
code uses both (and this library always uses pkce). that's response_type "code". a secret is optional in this case and is simply up to the token server.

[2020-04-28 15:10] dustin-page commented on #737
Adding extraQueryParameters to the config this way adds the query parameters to both the SignoutRequest and to the SigninRequest classes. The TargetResource for PingIdentity should only be applied to the SignoutRequest.

I added a workaround to issue #988

[2020-04-28 18:31] onlyanegg commented on #1094
Thanks for your response. I'm having a hard time understanding why I should want the access token available on the front end. In section 3 of the spec, they list the User Agent (and therefore any malicious agents with access to the User Agent) not having access to the tokens as one of the benefits of the code flow. But implementing the flow that I described in my previous commend is not as easy as

[2020-04-28 18:54] dustin-page commented on #988
The signoutRedirect and signinRedirect methods accept an argument object that you can use to pass extraQueryParams to them individually instead of through the UserManager settings.

signinRedirect Method
`this.UserManager.signinRedirect({extraQueryParams: {foo: 'bar'}})`

signoutRedirect Method
`this.UserManager.signoutRedirect({extraQueryParams: {TargetResource: 'https://yourdomain.com/logout-cal

[2020-04-28 19:18] dustin-page opened #1096 "Update the createSignoutRequest method to accept an optional url argument"
Some Authentication Providers are not implementing the OpenID Provider Discovery Metadata consistently for the "end_user_session_endpoint".

For example, Ping Identity implements it as: "ping_end_user_session_endpoint"

I was wondering if it would be possible to update the oidc-client library to accept an optional argument for the url on the createSignoutRequest method. Similar to how the "post_lo

[2020-04-28 19:56] dustin-page commented on #1096
Then I could call it from my code like this:
this.UserManager.signoutRedirect({
url: PING_END_SESSION_ENDPOINT,
extraQueryParams: PING_SIGN_OUT_PARAMS
})

[2020-04-28 23:41] ryancole opened #1097 "Is there a way to load / check an existing local storage id and access token?"
It looks like everything returns a promise. Is there not just a way to load an existing id and access token from local storage if it exists? This shouldn't need a promise, right? With MSAL.js library, once you instantiate the manager object you can immediately use it to read from local storage if any existing tokens exist - no promises. This is nice for things that need to happen when first mounti

[2020-04-29 01:11] brockallen commented on #1097
The reason that `getUser` returns a promise is because the underlying storage API might be async, for example indexedDB.

[2020-04-29 03:32] ryancole commented on #1097
Is there a way to override that behavior if I know it won't be async?

[2020-04-29 10:49] situssoft opened #1098 "How to return Cosmos DB resource token in claim"
Hi,

I'm using IdentityServer4 3.1.3.0 and IdentityModel 4.2.0 in a NON web applciation. I'm able to return claims and I have implemented my own IProfileService to setup the necessary values.

One of the claims I'm returning is a resource token for the user which will provide read/write access to a cosmos DB directly from the client.

I can return this as an Identity claim and have the client extr

[2020-04-29 13:52] cnadolny2s opened #1099 "Possible to trigger silent renew manually?"
As far as I can see, the library offers only an automatic refresh mechanism of the tokens, i.e. startSilentRenew() and stopSilentRenew(). I have a use case where I would like to trigger the refresh from outside.

How can I detect when a silent renew did happen? There is a addSilentRenewError but no addSilentRenewed event raised by the UserManager.

[2020-04-29 14:28] brockallen commented on #1099
Yes, there's an API called signinSilent: https://github.com/IdentityModel/oidc-client-js/wiki

[2020-04-29 14:43] cnadolny2s commented on #1099
Sorry, totally overlooked these methods. Thanks!

[2020-04-29 14:43] #1099 closed, assigned to nobody

[2020-04-29 15:18] ryancole commented on #1097
I'll go ahead and close this. I managed to find a minimal way to refactor my existing code so that it can just directly call the `getUser` method of `UserManager` in order to get the access token for making calls to my REST API. I just have a singleton instance of `UserManager` and use it both to wire into React Hook state, for component changing based on the auth'd user data from oidc events, as

[2020-04-29 15:18] #1097 closed, assigned to nobody

[2020-04-29 21:27] Alino commented on #1013
if anyone wondered how I solved this. I have reimplemented auth in my extension by myself without this library. And I am using webextensions API.

browser.identity -> https://developer.mozilla.org/en-US/docs/Mozilla/Add-ons/WebExtensions/API/identity

browser.identity. launchWebAuthFlow -> this function launches a popup window to auth.

[2020-04-29 22:37] hauntingEcho commented on #645
gravedigging a bit, but I've found it easiest to work around this by constructing my `UserManager` and overrriding:
* `._validator._processSigninParams`
* `._validator._validateIdTokenAttributes`
* `._validator._validateIdToken`

because the internals needed to make an effective validator implementation (dropping the couple of checks that AWS fails but keeping the rest) aren't all exposed at this

[2020-04-30 08:36] AndersAbel commented on #195
There is now built in support in the library for this through `extraQueryParams` in the config, or even per request values as discussed in #315.

[2020-04-30 16:32] crazyfx1 commented on #1070
That behavior is intended because the authentication cookie for the IdentityServer4 is still valid.
Why exactly do you want the user to relogin?
- Do you want that the session is shorter? Set the cookie lifetime in IdentityServer shorter.
- Do you want the user to login nonetheless? Call signInRedirect({prompt="login"})

[2020-04-30 17:02] irkinwork opened #1100 "When we should be redirected to silent_redirect_uri?"
Could you please clarify to me what should I do to get redirected to silent_redirect_uri?
I expected to get redirected after calling this.userManager.signinSilent() and getting new token from this response. But it doesn't happen.

I've been redirected to silent_redirect_uri just accidentally and I cannot figure out what exactly I did to get redirected to it.

Is it necessary? It seems like I can g

[2020-04-30 17:08] rassie commented on #972
Let's try to ping @ivantm and @brockallen to clarify this, but I'm afraid both `rs256` and `slim` variants (including their combination) are only compiled to be used in UMD situation, i.e. by using those bundles directly. A solution for people using `oidc-client` as a library with ES6 imports seems to be missing at this time.

[2020-04-30 23:07] ivantm commented on #972
While there isn't a simple clean solution, it's possible to do this currently at the build-tool level. I use Rollup but you could do something similar with Webpack too.

[code]

A better future-facing option would be to have a separate entry point for the RSA-only version for people to import.

Do you have an ideal approach in mind that would work for you?

Re: documentation, I'll try write someth

[2020-04-30 23:18] rassie commented on #972
I'm not sure I'd be able to propose an ideal approach, but basically I would like to be able to either keep my `import { UserManager, WebStorageStateStore } from 'oidc-client';` or change it to something like `import { UserManager, WebStorageStateStore } from 'oidc-client/slim';`. I've spent a couple of hours today, trying to whip something up for Webpack using `NormalModuleReplacementPlugin`, but

[2020-05-01 08:43] raeffs commented on #972
I came to the conclusion that this library isn't well suited for my use cases (and I have the impression that maintenance haltet - just my impression based on looking at the open issues). I used it for a large Angular application. But there are many other options available, for example [angular-oauth2-oidc](https://github.com/manfredsteyer/angular-oauth2-oidc) or [microsoft-authentication-library-

[2020-05-05 09:42] astannard opened #1101 "how to specify javascript version, eg use the rsa256 not the standard oidc-client"
Hi, I've used the library successfully with javascript but when I trying and use the library in typescript using the imported package I cant work out how to specify to use the rsa256 version and not the standard version?  Any ideas on how to specify that file ?

[2020-05-05 12:19] deanmaster commented on #1080
hello by default oidc-client-js implements follow OIDC spec and always include PKCE.
Configuration looks like this:
[code]
uaaInternalUserManager.signinSilent();  I used a different library which wrap this library please you should find similar function to do signInSilent.

uaaInternalUserManager.signinRedirect(); should trigger hard redirect to your IDP

The exchanging between code and token is a

[2020-05-05 12:23] deanmaster commented on #1079
i'm not sure if this suggestion can help you. I stumbed over a weird issue which library works perfectly in Firefox but not Chrome. One of thing which I tried is remove all extension related to cookie in browser which seems fix some weird issues.

Other things can be caching information in storage try to empty all of them and do everything again.

[2020-05-05 12:25] deanmaster commented on #1077
try to configure server side understand CORS request. Browser always send OPTIONS request to verify if you access resource from different domain (and port). Later on your real request will be processed if OPTIONS request is ok.

[2020-05-05 13:12] mattroot87 commented on #1077
Thanks @deanmaster and @brockallen  -

I noticed the loadUserInfo is optional.  What if you set loadUserInfo to false and don't ask the server for additional claims?

This is from the OpenID Connect Client Implementer's guide:

1.3.  Overview
The OpenID Connect protocol, in abstract, follows the following steps.

1. The RP (Client) sends a request to the OpenID Provider (OP).
2. The OP authenticat

[2020-05-07 01:28] nopmania opened #1102 "Angular with Popup Singin: invalid redirect_uri"
Hi,

  I try to configure popup-login in my angular application but it failed and report as in this picture

<img width="564" alt="Screen Shot 2563-05-07 at 07 59 46" src="https://user-images.githubusercontent.com/30253488/81243148-3aaa5b00-9039-11ea-8cd0-97951c5c92aa.png">

  My testing code as follow:

  **Routes:**
<img width="643" alt="Screen Shot 2563-05-07 at 08 06 28" src="https://user-imag

[2020-05-07 09:21] drewdz opened #1103 "Resource Owner Password Flow (Question)"
Does iodc-client support "Resource Owner Password Flow"? (I know this spec is soon to be depricated).

If so, could you please advise where to find an example?

[2020-05-07 12:23] brockallen commented on #1103
No it does not. And I don't foresee ever adding it. Sorry.

[2020-05-07 12:46] drewdz commented on #1103
OK. Will look elsewhere. Thanks

[2020-05-07 12:46] #1103 closed, assigned to nobody

[2020-05-07 15:01] brockallen commented on #1103
Check rfc6749 -- it's dirt simple to just do by hand. You don't need a library.

[2020-05-07 17:48] drewdz commented on #1103
@brockallen Thanks. I searched around the web for examples and struggled a bit to find them. I like your library since it handles storage and the http intercept. But in the end found my way with oidc-oauth2-client. If you have a concrete example for me to follow while still using the rest of your library I'd be keen to give it a try.

The reason it's hard to find examples is probably because the s

[2020-05-07 19:04] jeroenheijmans commented on #1103
@drewdz To get you started (NO WARRANTY though, this isn't a battle-tested or authoritative solution), the essence to use Resource Owner Password in JavaScript is this:

[code]

You could even parse the access_token with a few lines of code:

[code]

To _use_ the access token, provide it in a header `Authorization: bearer {yourtokenhere}`, and you're done! Providing the token on requests is probab

[2020-05-07 21:14] RaviDesai commented on #1074
I think I've just run into this headlong myself.  I get the login / immediate logout behavior on Safari and on IE11 when monitorSession it true (although I'm not sure why on IE11).  Chrome, FF see to work OK.  Just to ask again, if I would like Session Monitoring in IE11, what are my options?  Is this going to be a roll your own kind of thing?

[2020-05-07 21:52] brockallen commented on #1074
Build a backend for your frontend that OIDC back channel signout notification.

[2020-05-08 08:46] drewdz commented on #1103
Hey @jeroenheijmans. Thanks so much for this! I'll definitely give it a try. Much appreciated.
Yeah, we're working on the stateholders :)

[2020-05-09 02:50] ghzjtian opened #1104 "On Windows Edge Browser, appear `Invalid pointer` error."
## 1. I have to say that this is a very good library.
## 2. I encountered a problem, and an `Invalid pointer` error occurred on Windows Edge (Microsoft Edge 44.17763.1.0, Microsoft EdgeHTML 18.17763), which prevented me from logging in to the front-end page:

`` `
ERROR Error: Uncaught (in promise): Error: Invalid pointer
Error: Invalid pointer
   at t.prototype.replaceState (https://test.example.

[2020-05-09 15:30] brockallen commented on #1104
Use code flow instead.

[2020-05-10 13:24] ghzjtian commented on #1104
Sorry, I do n’t know much about Identityserver4 authentication terminal. Is it the code flow described in this link [Grant type] (https://docs.identityserver.io/en/latest/topics/grant_types.html)?

[2020-05-10 13:24] ghzjtian commented on #1104
It is found that the id_token and access_token that the Auth server sends back to the front end carry same Claim information. Now the id_token Claims information is removed(set `AlwaysIncludeUserClaimsInIdToken ` to false), the length of the URL is reduced by 1/4(Select all role in A3S URL length is 3096 characters), and the Edge browser can now log in normally.

[2020-05-13 15:20] abergs commented on #1074
@brockallen Could the monitorSession call be implemented using the AccessToken or RefreshToken instead of relying on cookies? This Third Party Cookie Blocking is really making it a lot harder to implement oidc sucessfully for "the average developer".

[2020-05-13 16:56] brockallen commented on #1074
Not unless the OIDC spec changes.

[2020-05-13 21:29] maximegel opened #1105 "Azure AD B2C: Bad Request"
I get the following error at `UserManager.userManager.signinRedirectCallback()`:

[![enter image description here][1]][1]

Here is my config:

      authority: 'https://<tenant_name>.b2clogin.com/<tenant_name>.onmicrosoft.com/<policy>/v2.0',
      client_id: '<client_id>',
      redirect_uri: `http://localhost:4200/login-callback`,
      response_type: 'code',
      scope: 'openid profile',

Also:

[2020-05-14 19:00] jwvance commented on #1081
Any word on this?

[2020-05-15 06:28] rbucchi commented on #955
hello there, I had a similar issue using IdentitiServer4 2.2.0 version: SilentRenew works setting low AccessTokenLifetime, but when targeting on the default value it happens that after an hour or so, it logout.

which backend version did you talk about?

thanks

[2020-05-15 07:41] nobba75 opened #1106 "Manage popup closed by user"
Hi!

If the user starts a login procedure but then actively closes the login popup, is it possible to handle that in the client application. Preferrably by using a callback "thePopupWindowClosed", but if that´s not possible then is it possible to set a shorter timeout for the login process so that I can handle that and take action from there?

[2020-05-15 13:37] LukvonStrom opened #1107 "Authentication Header not present in the token request"
Dear maintainers,
I'm running into errors when trying to get this library to work with AWS Cognito.
It seems like AWS is expecting an Authorization header to be present(https://docs.aws.amazon.com/cognito/latest/developerguide/token-endpoint.html), when the token request is done, which it is not.

Token Request(copied from the Chrome network tab):
[code]
Configuration:

[code]

It would be great i

[2020-05-15 18:37] bialabs commented on #317
@brockallen @martinfletcher
how can use [capacitor-secure-storage-plugin](https://github.com/martinkasa/capacitor-secure-storage-plugin) instead of window.localStorage?

[2020-05-15 19:32] atnegrete opened #1108 "Clients with incorrect system clock are not validated"
Identical to: #472

Is there a workaround for this? I have many clients whose clocks are controlled by their server, so it is not possible for a client user to easily change their clock. I feel like there should be a workaround or a setting to increase the maximum 5minute time.

[2020-05-15 19:48] brockallen commented on #1108
The spec mandates this. Sorry.

[2020-05-16 13:13] bialabs commented on #1043
can you kindly explain the reasons why you do not recommend this library for native apps?
i am using it with Authorization Code with PKCE

thank you

[2020-05-18 04:55] TheRealLenon commented on #234
Any Guesses, when this will be implemented? I also tried out, to get The Token, via the Backend (which works quite well). But the renewal and authorization then won´t work as expected.

[2020-05-18 09:38] wsimf opened #1109 "CheckSessionIFrame resulting in a redirect loop when trying to login"
I am using IdentityServer4 for local user authentication. We have three components in our app architecture. The protected API provider, the UI driven by the API and IdentityServer itself. These instances are behind an Nginx server. The endpoints configured for identity server is https://localhost/auth, the API is https://localhost/api and the UI is https://localhost.

In this setup, whenever the u

[2020-05-18 11:54] brockallen commented on #234
Given that resource owner password grant is deprecated in OAuth2.1 I don't foresee adding it ever.

[2020-05-18 12:53] yulObraz commented on #234
I have not seen good suggestions about imlementing identity server's client part with the same design as the rest site. I don't understand why identity server should use MVC while the real site does not use it.

Is custom two factor authorization through oauth forbiden too?

[2020-05-18 13:00] gustavrannestig commented on #1109
Could this be related to: https://github.com/IdentityModel/oidc-client-js/issues/1074

Are you experiencing the issue in all browsers?

[2020-05-18 14:39] brockallen commented on #1109
Yea, possibly. Anything cross-site wiht iframes is basically now broken on the web and should be avoided.

[2020-05-18 18:22] maximegel commented on #1105
The problem was not in my code, but in my B2C settings on Azure.
Thanks to [this answer][1] from @chrsi, I was able to fix it.

First, change the reply URL type in your app registration manifest to `Spa`:

[![enter image description here][2]][2]

Then, make shure you set some API specific scopes (e.g. `https://<tenant>.onmicrosoft.com/api/write`). Otherwise, the returned access token will be undef

[2020-05-18 18:22] #1105 closed, assigned to nobody

[2020-05-19 11:17] OlgaDemch commented on #965
The same issue. Does anyone find the solution ?

[2020-05-19 16:05] Badisi opened #1110 "Typo in log message"
The following mentions "access_token" whereas it should be "id_token" :

- [ResponseValidator.js#L154](https://github.com/IdentityModel/oidc-client-js/blob/dev/src/ResponseValidator.js#L154)

- [ResponseValidator.js#L155](https://github.com/IdentityModel/oidc-client-js/blob/dev/src/ResponseValidator.js#L155)

[2020-05-19 18:15] gubo opened #1111 "UserManager.signinSilentCallback(url)"
is this method intended to be called with a url ?

what if in my _silent_redirect_uri_ html file, i postMessage to my Angular app, which creates url around the window.location.search, then calls UserManager.signinSilentCallback( url ) ...
then IFrameNavigator.callback( url ) ...
then IFrameWindow.notifyParent( url ) ... but it  is expecting to be in an iframe (window.frameElement) ...
BECAUSE: i d

[2020-05-19 18:32] TheRealLenon commented on #234
@brockallen Hmm I've seen there an possibility, to renew the Token that way. What way would be then given, to enable Authentication via the Credentials without an implicit-Flow (or any, which redirects the User)?

[2020-05-20 02:25] brockallen commented on #1110
possibly. i'll have a look.

[2020-05-20 06:38] alextof commented on #965
I'm experiencing the same issue

[2020-05-20 15:10] mikesitch opened #1112 "samesite cookie warning in Chrome with oidc-client-js pkce sample"
Run the "UserManager Sample with IdentityServer with code flow/start signin main window", sign in, see samesite cookie warning in Chrome (81.0.4044.138):

`code-identityserver-sample.html:1 A cookie associated with a cross-site resource at http://identityserver.io/ was set without the `SameSite` attribute. A future release of Chrome will only deliver cookies with cross-site requests if they are se

[2020-05-20 16:26] ekdev2 opened #1113 "have you guys thought about getting openID certified"
https://openid.net/certification/#RPs

[2020-05-21 14:24] brockallen commented on #1113
We already are -- notice the first one in the list?

[2020-05-21 14:24] brockallen commented on #1112
https://leastprivilege.com/2020/03/31/spas-are-dead/

[2020-05-23 13:33] frontendplace commented on #1107
@brockallen  Any idea when the pull request 1060 to https://github.com/IdentityModel/oidc-client-js/issues/892 will be merged? this will resolve this i think too?

[2020-05-24 17:13] nishant12 opened #1114 "How to override the post form function in JSON service?"
As I am getting the response in `application/x-www-form-urlencoded`  format, need the response in JSON format in the token call. We are making calls from JavaScript to Salesforce through AWS api.

1. In the JSON service, in the postform function (JsonService.prototype.postForm), the content-type set is `application/x-www-form-urlencoded`, how to override the function to set content type as` applic

[2020-05-24 19:59] brockallen commented on #1114
This is according to spec.

[2020-05-25 09:50] mrguamos opened #1115 "userinfo not getting updated"
I tried changing the email address of the user in IdP while loggedin.
is there a way to update userinfo in usermanager without logging out?
I tried using signInSilent but still not getting the updated userinfo.
Even automaticSilentRenew does not update the userinfo

[2020-05-25 10:36] mrguamos commented on #918
silent_redirect_uri is used for querySessionStatus

[2020-05-25 14:08] LukvonStrom commented on #1107
Fixed it by removing the secret both on Cognito's side (see https://github.com/aws-amplify/amplify-js/issues/4426 - no auto generation allowed) and on the client side.

Aparently the identification via Authentification header was not needed after all, even though I second the merge of #1060 - an universal library should support such basic flows imho )

[2020-05-25 14:08] #1107 closed, assigned to nobody

[2020-05-25 14:40] mateuszCiezczak opened #1116 "IE 11 issue, Object doesn't support this action"
Hi,
I was testing the oidc-client.js library in IE 11 with authorization code with PKCE and after logging in I get this error. Looks like some missing polyfill?
Everything works fine in other browsers.

TypeError: Object doesn't support this action.

![Screenshot 2020-05-25 at 17 34 51](https://user-images.githubusercontent.com/45166755/82822389-62f5de80-9eae-11ea-8410-5922af1a9318.png)

[2020-05-26 09:20] abelkbil commented on #1059
How this issue is resolved ?

[2020-05-26 10:09] mihalios commented on #1059
@abelkbil Did you read all comments? That's the approach I took and it worked:

1. Created a callback html page, that's the redirect_uri specified in settings.
2. In my Auth react component I invoke .signinRedirect()
3. In the callback page I have embedded js code that invokes .signinRedirectCallback() and that results in my token get added in the Session Storage.

[2020-05-26 11:09] mateuszCiezczak commented on #1116
Never mind. My code was using CustomEvents and they are not supported in ie 11. Can be closed

[2020-05-26 11:09] #1116 closed, assigned to nobody

[2020-05-26 12:55] mikesitch commented on #1112
Thank you for the link, interesting reading.  I investigated what cookie it is complaining about and it turns out to be the aspnetcore anti-forgery token on the checksession call.  Obviously I could disable the  check session endpoint (via EnableCheckSessionEndpoint) and that works but is a little drastic, or change the settings for the anti-forgery cookie but is there any other alternative?

Than

[2020-05-26 14:52] #1112 closed, assigned to nobody

[2020-05-26 14:52] brockallen commented on #1112
Yea, I think the anti forgery cookie should be made samesite=none. They got it wrong by making it samesite by default.

[2020-05-28 08:43] juanan opened #1117 "user.id_token null with code flow"
Using code flow I'm successfullty getting the access_token but no the id_token and I need it for the signoutRedirect to tell IdentityServer bypass the logout view.

So could you tell me pls how the get the id_token?

[2020-05-28 11:34] juanan commented on #1117
@brockallen I see that Identity Server4 supports OidcConstants.ResponseTypes.CodeIdToken so why the oidc-client library doesn't support it?

[2020-05-28 13:10] juanan commented on #1117
I just found that the making the request with the scope "openid" you have the id_token.

[2020-05-28 13:10] #1117 closed, assigned to nobody

[2020-05-28 13:32] nishant12 commented on #1114
Thanks Brock.

I have one more question, Salesforce IDP doesn't support `post_logout_redirect_uri`, what must be the approach to logout the user and take the user to login page?

[2020-05-28 14:28] brockallen commented on #1114
No idea -- check with them.

[2020-05-28 17:27] deanmaster opened #1118 "API for verify if user is authenticated with IDP (Keycloak) silently"
Hello @brockallen
i'm struggling in my project that userManager.signinSilentCallback() can't not be used since we have a situation that we have to update the URL of the browser by using location.href
This causes the whole application re-render. I put that function in to an Async function to make sure this function is ran before store is inited.
The behaviour of that function would be process all p

[2020-05-29 06:40] bewifly opened #1119 "Updating YUI dependency"
An old dependency [to YUI](https://github.com/IdentityModel/oidc-client-js/commits/dev/jsrsasign/ext/yahoo.js) has been there since beginning.

Would it be possible to update this one?

[2020-05-29 10:04] wsimf commented on #1109
Thanks, looks like there’s some connection. But I’m experiencing this on both Firfox and Chrome. Interestingly only happens when running in a docker container

[2020-05-29 12:36] brockallen commented on #1119
It's used indirectly via the jsrsasign component (and I think just for building it?). For various reasons we had to take a copy of it.

[2020-05-29 12:37] brockallen commented on #1118
That's how OIDC work -- you need a redirect and then a callback endpoint.

[2020-05-29 12:49] muniba-123 opened #1120 "Error user not found in storage"
I am try to use Oidc-client for implementing implicit flow in my react-app. The sample app works perfectly but when i change client setting according to my app,  it fetches token but it doesn't store the user. I get the error
UserManager.getUser: user not found in storage. Can someone help me in solving this

[2020-05-30 13:05] Guymestef commented on #1046
I fixed this issue on my app by calling userManager.stopSilentRenew(); when starting the sign out flow

[2020-06-01 05:19] nishant12 commented on #1114
Thanks Brock.

Inside userManager.js,

[code]

- If the access token contains **.**(dot) then it is skipping the revoke call, is it according to the OpenID Specs that access token should not contain dot (.) ?

- What is the purpose of this condition?

Thanks.
Appreciate your help.

[2020-06-01 12:48] brockallen commented on #1114
If it's a JWT then revocation likely won't work.

[2020-06-02 09:28] bewifly commented on #1119
If it is used only for building, would it be possible to remove it from the built library?

[2020-06-03 06:41] deanmaster commented on #1118
thank you.

[2020-06-03 06:41] #1118 closed, assigned to nobody

[2020-06-03 06:51] deanmaster commented on #1120
are you running in private browser mode? please try to run it in normal mode.

[2020-06-03 16:24] Fazzacoot opened #1122 "signinRedirectCallback call a url over http anot hot https"
My react application is using https and all other calls have been configured to https.
The login process through identity server is working correctly but when you get to signin-callback.html it uses a http://${url}/connect/token request. This then throws a Mixed Content error on the page.

On the signin-callback.html page I am executing the following:
`
 new Oidc.UserManager({ response_mode: "quer

[2020-06-03 20:42] SonofNun15 commented on #766
Running into this same issue. The root cause is that the browser is not attaching the identity cookie with the request for renewal.

I have explicitly set this cookie to SameSite=None but the browser is still not attaching the cookie to the GET request to /connect/authorize. Anyone have any ideas what might be causing this cookie to get dropped?

It is a cross origin request... When running both t

[2020-06-03 21:57] SonofNun15 commented on #952
Related issue, which seems very related to oidc-clients implementation: Silent renew does not work in Brave with shields up. Brave strips out the cookies for CORS requests within the iframe when shields are down. Are there any alternatives or fallbacks here? Do not want to have to tell all users to turn shields off for the site...

[2020-06-03 21:58] SonofNun15 commented on #952
I can open a new issue if that is preferred, figured I would add here first since it's a related issue.

[2020-06-04 05:32] jacekstudzinski commented on #1108
There is a clockSkew parameter in UserManager settings: https://github.com/IdentityModel/oidc-client-js/wiki

[2020-06-04 08:06] jackstu commented on #1108
There is a clockSkew parameter in UserManager settings: https://github.com/IdentityModel/oidc-client-js/wiki

[2020-06-04 11:44] AshUK commented on #1093
There is also https://github.com/ForgeRock/appAuthHelper that wraps AppAuth-JS for browser

[2020-06-04 12:50] brockallen commented on #952
Of course, since the silent renew w/ an iframe depends on the user's cookie at the OP.

The short of it is that SPAs that use tokens are dead. Stop building your SPA that way.

https://leastprivilege.com/2020/03/31/spas-are-dead/

[2020-06-04 12:51] brockallen commented on #766
https://leastprivilege.com/2020/03/31/spas-are-dead/

[2020-06-04 12:54] SonofNun15 commented on #952
Thanks for the link, looking it over. Essentially this is why I posted here... Not because I wanted this "fixed" but because I wanted to find the better way to solve this problem.

[2020-06-04 16:22] AshUK commented on #892
My preference for this would be a property named `token_endpoint_auth_method` given to the UserManager configuration. Its worth mentioning there are other auth methods too:

https://www.iana.org/assignments/oauth-parameters/oauth-parameters.xhtml#token-endpoint-auth-method

- none
- client secret basic
- client secret jwt
- client secret post
- private key jwt

[2020-06-08 11:46] ConnorJBishop commented on #1115
I can get user info to update using `signInSilent`. I can think of two reasons it may not be working for you.

1. The userinfo endpoint for your IdP is not being called after `signInSilent ` completes.
2. The userinfo endpoint is not returning updated email address, or maybe no email address.

Use your browsers network inspector to if see the userinfo endpoint is definitely being called when signI

[2020-06-08 14:43] ConnorJBishop commented on #1100
The redirect to silent_redirect_uri happens inside a hidden iframe then the signinSilentCallback notifies the parent window where your app is running, so you won't actually see anything happen.

[2020-06-08 20:09] pkellner opened #1124 "npm install does not work on Mac OSX 10.15.5"
npm -v
6.14.5

Here is the error that comes from `npm install` after just doing the clone suggested in the readme.
I did verify that running on windows 10 npm 6.14.5 works (including npm run build)

Below is the log from npm install

node install

node-pre-gyp WARN Using needle for node-pre-gyp https download
node-pre-gyp WARN Tried to download(404): https://fsevents-binaries.s3-us-west-2.amazonaw

[2020-06-09 13:33] mihalios opened #1125 "Support for multiple issuers"
I had a look in the backlog of issues/questions and I can see there was some discussion about disabling the issuer check (and as a result going against OIDC guidelines) https://github.com/IdentityModel/oidc-client-js/pull/839

Is there any way to support receiving tokens from multiple issuers and keep validating the issuer?

[2020-06-09 14:13] brockallen commented on #1125
Use multiple instances of the UserManager (one per issuer).

[2020-06-10 06:23] mihalios commented on #1125
Thanks @brockallen. There's another complication I didn't mention originally. The IDP I use to authenticate is effectively a wrapper of two different IDPs that supply the tokens. In other words, there's a single authorization endpoint (the login form gives you options to login to different providers) and distinct issuers. At the time of login, I cannot say which issuer will be used (i.e. when call

[2020-06-11 08:17] ballwood commented on #576
Just ran in to this myself. Setting `response_type: 'code'` solved the issue.

[2020-06-11 11:37] aidengaripoli commented on #1007
I'm also having this issue. Did you figure out the solution @lyubomirr ?

[2020-06-11 23:45] sudheerr opened #1126 "Need to pass Request Header for token_endpoint URL"
Hi There,

I need to pass Request Header for token_endpoint URL. Please let me know how I can do this?

--Thanks

[2020-06-13 08:20] nishant12 commented on #1114
Thanks @brockallen .

Integrate Salesforce registration page with VanillaJS, getting the error - **No matching state found in storage**

We are redirecting the user to Salesforce registration page when Create Account button is created.
Once the User registers in Salesforce, the user is redirected to our site but we are getting this error.  ('No matching state found in storage').

We tried the belo

[2020-06-14 19:07] nishant12 commented on #1124
Hi @pkellner try "npm install --build-from-resource" or try with the latest node version

source:
- https://github.com/nodejs/node-gyp/issues/1599
- https://stackoverflow.com/questions/54161448/why-sometimes-npm-install-is-not-working-on-mac

[2020-06-14 19:56] mrguamos opened #1127 "UserSignedOut event not getting triggered"
It works when I use Keycloak, but when I switch to Ory Hydra. The event isn’t getting triggered. Do I need to configure something in the client? Like front/back channel logout?

[2020-06-15 11:55] brockallen commented on #1127
Does the OP support check_session_iframe and the session management OIDC spec?

[2020-06-15 13:02] mrguamos commented on #1127
hmm, I guess not according to this [Ory Hydra](https://github.com/ory/hydra/issues/834#issuecomment-605610252)

[2020-06-16 13:06] brockallen commented on #1127
If not, then there's nothing I can do for you.

[2020-06-16 13:47] nishant12 opened #1128 "Create Registration Method OIDC client JS"
Integrate Salesforce registration page with VanillaJS, getting the error - No matching state found in storage

We are redirecting the user to Salesforce registration page when Create Account button is created.
Once the User registers in Salesforce, the user is redirected to our site but we are getting this error. ('No matching state found in storage').

We tried the below solution but still gettin

[2020-06-16 13:47] #1114 closed, assigned to nobody

[2020-06-16 16:04] brockallen commented on #1128
registration is not a feature of OIDC

[2020-06-16 18:39] mrguamos commented on #1127
I just switched to IdentityServer4, thanks anyways

[2020-06-16 18:39] #1127 closed, assigned to nobody

[2020-06-17 07:33] muniba-123 commented on #1120
i am running it in normal mode

[2020-06-20 04:31] luisfrocha commented on #994
I'm currently getting the same, but using Chrome, but not sure if it's the same thing

[2020-06-22 09:20] bewifly commented on #1119
Any info on removing the YUI from the build library?

[2020-06-22 14:45] jgrisafe commented on #730
Does anyone have a solid way of accessing the state after final login redirect? The it seems cumbersome to need to store the state ourselves in session storage so that we can access it after the final login redirect. Is this a security measure?

[2020-06-22 19:23] nishant12 commented on #1128
To overcome this issue, to follow the Sign In process same as for Sign Up process, created the startSignupMainWindow method same as startSigninMainWindow and passing the signUpFlag:true as shown below in code.

[code]

Reading the signUpFlag:true in UserManager.js and swapping the Salesforce Sign In page Url with Sign Up page url and calling the Register function in Code.

[code]

The below code i

[2020-06-22 22:26] nishant12 commented on #1128
@brockallen I have two questions, please help me out.

1. Is it possible to get the access token without client_secret ? (by using Authorization flow with PKCE)
2. where is the expiration time of access token set in oidc-client.js ?

[2020-06-23 09:28] known-as-bmf commented on #753
Using the minified version as `main` renders the lib practically un-debuggable in a dev env.

As a workaround, you can manually edit `node_modules/oidc-client/package.json`, but you'll have to do it every time it is overwritten.

[2020-06-23 11:07] hossambarakat opened #1130 "Using Authorization Code with PKCE in SPA with Server API"
Hi,

I am trying to use the `oidc-client-js` in an application that has SPA with Server API to achieve Authorization Code with PKCE flow and would like to confirm that the steps that I have followed are right and not breaking the flow.

I have followed the below steps and managed to get the access token:

1. Register the redirect URL as Web Application in Azure B2C (my authorization server)
2. Pre

[2020-06-23 12:28] brockallen commented on #1128
1: yes
2: that's a OP/AS config, not a client side library setting

[2020-06-23 12:58] fraxachun opened #1131 "_revokeAccessTokenInternal should do a full check for a jwt-token"
We're using https://www.ory.sh/hydra/ as OpenId-Server which uses opaque access token but happens to use dots in them. So it happens that in the method "_revokeAccessTokenInternal" the check "access_token.indexOf('.')" validates to true and the token revocation does not proceed. (Futhermore there is no logging about this circumstance, maybe this can be added as well.)

A full check on a JWT (like

[2020-06-23 20:09] nishant12 commented on #1128
Thanks for your prompt response @brockallen .

We have normal web application (not SPA), how to persist user state across pages?
As the session storage is bound to the particular tab, any suggestions/ideas would help.

[2020-06-24 15:56] sefo commented on #645
@michaeltecourt I couldn't make the custom validator work. Do you have a more complete example of what I should put in there?

@hauntingEcho Did you copy the class UserManager from the library and just changed the 3 attributes above? How did you call your new class in the callback.html file? var mgr = new Oidc.UserManager({userStore: new Oidc.WebStorageStateStore()}); (couldn't find those values i

[2020-06-24 16:05] clad-buchi opened #1132 "Browser Support in oidc-client-js"
Is there a list of supported browsers for this library?

[2020-06-24 16:55] michaeltecourt commented on #645
Sorry, I forgot to update my answer. After struggling for hours, I gave up on implementing a clean validator and ended up with an uggly patch in my OIDC Callback handler : I just renamed the `id_token` so the validator does not take it into account.

[code]

[2020-06-24 17:47] adamwardecki commented on #625
If anyone wanted to know how to replace the ResponseValidator with a custom one, I've managed to do it like so:

[code]

Still need to do some testing but seems to do the job so far.

[2020-06-24 19:01] sefo commented on #645
That did the trick, thanks a lot for answering so quick! I didn't know I could pass the url to that function...

Now I'm facing a CORS issue on "xxx/oauth2/.well-known/openid-configuration" but that's surely configurable somewhere...

[2020-06-24 21:04] ekdev2 opened #1133 "getting error signinRedirectCallback code flow"
Hi Im getting the below error on signinRedirectCallback for code flow

message: " (401)"
stack: "Error:  (401)↵    at XMLHttpRequest.s.onload [as __zone_symbol__ON_PROPERTYload] (http://localhost:4200/vendor.js:209739:17867)↵    at XMLHttpRequest.wrapFn (http://localhost:4200/polyfills.j

the same code and configuration work for implicit flow (response_type is only change)

Thanks

[2020-06-24 21:58] ekdev2 commented on #1133
resolved. issue on our end

[2020-06-24 21:58] #1133 closed, assigned to nobody

[2020-06-25 12:02] NitinSinghSF commented on #576
@ballwood can you post your solution please. I am having issues https://stackoverflow.com/questions/62556245/aws-cognito-with-openid-failing-with-net-core-gives-error-of-error-redeeming-c

[2020-06-25 13:17] ballwood commented on #576
@NitinSinghSF no clue, looks like you're using .net stuff. this is the js repo...

[2020-06-25 15:43] NitinSinghSF commented on #576
Thanks, just figured out the code to send secret wasn't working, its all fine now

[2020-06-26 11:32] balkarov commented on #940
@saeed-badar hello. Did you fix the problem? I have the same problem in IE 11.
When user click "Back" browser goes to /auth-callback and throw this errors:
`Problem Getting Token : No matching state found in storage`

[2020-06-29 14:56] vinod-peddi opened #1135 "CORS Issue"
Hi, the identity provider for our company is using 2 different domains , one for authority and other for getting userinfo, etc.
This is getting us into CORS issue. I'm stuck on how to solve this. can you please help me with how to approach this issue. any workaround, configuration changes?

[2020-06-29 16:04] jeroenheijmans commented on #1135
CORS is something you typically have to fix server side, so not sure if oidc-client-js or its community can do much for you?

Usually you can configure your _server_ to send [CORS headers](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Access-Control-Allow-Origin) alongside a response. This instructs the browser whether the response can be disclosed to an application, depending on the h

[2020-07-01 08:23] juanan opened #1137 "Error in callback: message.State is null or empty"
I have used one of your samples (IdentityServer4InMem) offering 2 login possibilities: local login with Identity server or external login with Microsoft Identity Web.

Apart from that, I have an SPA using the oidc-client library to request an access token using auth code with PKCE.

If I click on external login (in your sample you were using Google but I changed to Microsoft Identity Web), after l

[2020-07-01 11:00] juanan commented on #1137
Solved, my error was to mix the internal callback (/signin-oidc) with my custom one.

[2020-07-01 11:00] #1137 closed, assigned to nobody

[2020-07-01 14:43] cblackw commented on #1104
I had this same error but I was able to solve it by following the workaround suggested by @AKlaus at [https://github.com/angular/angular/issues/17843](https://github.com/angular/angular/issues/17843)

Adding this script to the main page
[code]

[2020-07-01 16:29] shavidzet opened #1139 "Update event methods documentation"
I think an API of usage is updated and needs to update documentation too.

There are events which needs to update in documentation:

`addUserLoaded` instead of `userLoaded`
`addUserUnloaded` instead of `userUnloaded`
`addAccessTokenExpiring` instead of `accessTokenExpiring`
`addAccessTokenExpired` instead of `accessTokenExpired`
`addSilentRenewError` instead of `silentRenewError`
`addUserSignedOut

[2020-07-01 21:12] morganney opened #1140 "Security vuln from devDependency jsrsasign"
Wanted to let you know that github's dependabot is probably reporting security alerts for any repo that uses oidc-client-js as a dependency (and probably devDependency too). I know it is for one I work on.

Here's the advisory and related package: https://github.com/kjur/jsrsasign/security/advisories/GHSA-g753-jx37-7xwh

Dependabot must be traversing this repositories `package-lock.json` file when

[2020-07-01 21:15] morganney commented on #1140
Looks like you just need to merge [this](https://github.com/IdentityModel/oidc-client-js/pull/1134) PR.

[2020-07-01 23:27] shavidzet opened #1141 "Does someone need flow support?"
I would be happy if someone works [flow](https://flow.org/) support for this library, otherwise I will do it step-by-step.
Any ideas?

[2020-07-02 11:10] damiandragowski commented on #892
Hi,
When support for client_secret_post will be released ?

[2020-07-02 11:35] adityaputral opened #1142 "Extending SSO Session Max"
Hi,

I have a question on how to extend SSO Session Max on apps layer. My use case is I want to give reminder to users that his/her session is 5 minutes left. User can choose whether they want to extend the session or ignore it.
If his/her choose extend UI must do silent sign in. I already try this and it doesn't work. From what I experienced, silent sign in do renewing the access token only not e

[2020-07-02 13:38] brockallen commented on #1141
This library implements OIDC and OAuth2 code flow (with PKCE) and implicit flow.

[2020-07-02 19:04] shavidzet commented on #1141
I'm talking about typechecking with facebook flow

[2020-07-03 01:47] laolaolulu opened #1143 "How to achieve local refresh after login?"
After logging in to my spa app, the whole page has been refreshed once. I don't want to use redirect_ Uri redirection, is there any other way?

[2020-07-03 12:02] DNikolic-Paycor opened #1144 "signinSilent not working in IE11 only"
Hello!
We have issue with signinSilent() on IE11 only, which results that user is log out from ours app on automaticSilentRenew (10mins).On first login everything is fine.
We are using compiled version from  ~/dist folder, i tryed with some older version to.
I tryed with answers from:
https://github.com/IdentityModel/oidc-token-manager/issues/3
https://github.com/auth0/auth0.js/issues/648
https://

[2020-07-03 14:26] brockallen commented on #1144
Check of the cookie is being sent in the iframe. If not, I will guess that it's a IE cross zone issue.

[2020-07-04 20:27] adriannasui commented on #864
@brownbl1 did you get around to using this client with hooks? I am having a bit of trouble

[2020-07-07 07:14] luukhaijes opened #1145 "Token refresh refires requests in Angular"
I implemented this package in Angular but every time the token refreshes it refires previous HTTP calls. Does somebody have an idea how this can happen?
<img width="1318" alt="image" src="https://user-images.githubusercontent.com/12485595/86733799-c9375a80-c031-11ea-8d92-98979a26826b.png">

Using angular 9

[2020-07-07 11:35] brockallen commented on #1145
That's probably your code on the redirect_iri or silent_redirect_uri page.

[2020-07-07 13:29] luukhaijes commented on #1145
this is my silent-renew.html
![image](https://user-images.githubusercontent.com/12485595/86788203-306f0200-c066-11ea-95a4-985c50c78c50.png)
and this is my signin-callback.html
![image](https://user-images.githubusercontent.com/12485595/86788271-44b2ff00-c066-11ea-9872-3bcea243d7f1.png)
I need to have the config for the metadata

<img width="1662" alt="image" src="https://user-images.githubusercont

[2020-07-07 13:40] luukhaijes commented on #1145
I also noticed the blocked requests are using the old Bearer token.

[2020-07-07 16:51] luukhaijes commented on #1145
So the problem was with my intercepter in Angular and getting the token from the store via an observable, I had to terminate the observable using take(1). So it isn't a bug from this package, closing it now.

[2020-07-07 16:51] #1145 closed, assigned to nobody

[2020-07-07 21:59] fromorbonia opened #1147 "Should manually set metadata be saved to Local Storage?"
Hi,

I successfully managed to use the library to connect to Microsoft Azure AD OIDC provider, which has been configured for Single Page Apps. Great to see all the auth code flow and PKCE in action.
Unfortunately Azure doesn't support CORS on the /.well-known/openid-configuration endpoint, so I've had to manually configure the metadata.
After calling signinRedirect() the main config (e.g. authorit

[2020-07-08 05:45] kajaljain opened #1149 "How to validate state and nonce for CSRF and Replay attacks"
**State** is undefined in user, client sends the state in URL
https://auth.azurewebsites.net/Account/Login?
ReturnUrl=%2Fconnect%2Fauthorize%2Fcallback%3F
client_id%3DLocal%26
redirect_uri%3Dhttp%253A%252F%252Flocalhost%253A4200%252Fauth-callback%252F%26
response_type%3Did_token%2520token%26
scope%3Dopenid%2520profile%2520Api%26
state%3D212ee56661074896aea2b6043d2b8a3f%26
nonce%3D393838b342d543d59

[2020-07-08 06:49] kajaljain commented on #310
I have redirect uri set in my database still I am facing this issue. Any Idea?

[code]

[2020-07-08 07:49] DNikolic-Paycor commented on #1144
@brockallen thx for response.
Cookie is sent trought iframe. We will try to disable this. We have same security zones for ID4 and client app.

[2020-07-08 08:43] kajaljain commented on #1149
This is clear now that _State is undefined in user_, the below image specifies that the user does not have state params.
![image](https://user-images.githubusercontent.com/33845598/86896842-3f1bee80-c124-11ea-9c78-076cd88b49dd.png)

But still, the question persists! How can I validate the state and nonce?
Where do they get stored before signInRedirect() by oidc-client?
If oidc do store it how can

[2020-07-08 12:37] brockallen commented on #1144
login_required means the user needs to login again at the token server.

[2020-07-08 12:45] brockallen commented on #1149
The library validates them for you.

[2020-07-08 15:07] kajaljain commented on #1149
nonce is generated per request, does it means stored every time in storage?
nonce prevents replay attack but how can we verify it's working? Does it mean copying that request and re-requesting the same will throw an error? My VAPT team raised the replay attack issue for this project!
I have web client(angular uses oidc-client), API, Identity server4
What am I doing wrong?

[2020-07-08 17:24] Murugananths opened #1150 "How to use SignoutRedirect using id_token_hint for log out completely"
Hi Team,

I am using oidc client library for authentication in OfficeJs application and below are the scenario's required help.

1) I was able to login and get access token successfully with below code.

**auth.ts**

[code]

2) But when trying to log out, only access token got cleared but cookies and all not clearing. **Kindly help how to generate parameter with id_token_hint to be pass in signout

[2020-07-09 04:53] kajaljain commented on #1149
I think I have misunderstood nonce, actually **nonce** is not for Identity resources(ex - Web API's) protection from replay attack, it is protecting only auth server(Identity server 4) login (account/login).
Am I correct?

[2020-07-09 08:50] luukhaijes commented on #1128
@nishant12 you could use localStorage to presist user state but you shouldn't store to much data in it.

[2020-07-09 12:33] Murugananths commented on #1150
Hi team... Any update please?

[2020-07-09 13:13] Rockstar311 opened #1151 "Stop to do on each tab SilentRenew"
When I open more one tab, my every tab makes silent renew.
How make silent renew only on a single tab?

My config:

[code]

[2020-07-10 15:32] Murugananths commented on #1150
Hi team...have you had a chance looking into this?

[2020-07-12 03:31] kajaljain commented on #311
I am still getting this error in chrome and IE.
oidc-client - 1.10.1

Identity server CSP
`                var csp = "style-src 'self' 'unsafe-inline'; object-src 'none'; frame-ancestors 'none'; sandbox allow-forms allow-same-origin allow-scripts; base-uri 'self';";
`
[code]

[2020-07-13 12:52] Sonik20 commented on #725
Hey @brockallen , any updates for this?

[2020-07-13 16:56] Murugananths commented on #1150
Hi Team,  Any update please?

[2020-07-14 13:58] Sonik20 opened #1153 "IOS PWA (Web App) and Safari browser issue"
Hey @brockallen
![DE39A568-AA39-41AD-9990-353EC34906B7](https://user-images.githubusercontent.com/24838052/87434304-ec50a400-c607-11ea-89b6-4a6cfcde61b7.jpeg)

Here is the thing i am facing:

I am using local-storage to save user data.

Steps:

- Launch the app in the safari browser, enter credentials and log into the system.
- From the options in safari click on "Add to home screen"
- The app wil

[2020-07-14 14:21] alexbom opened #1154 "create-react-app Refused to execute inline script because it violates the following Content Security Policy directive"
Hello! I'm trying to connect CRA with oidc auto renew & getting the next error:

**index.js**
[code]

**env.development**
[code]

**public/silent-renew.html**
[code]
I've also copied oidc-client.min.js to public folder.

**utils/oidc.js**
[code]

**App.js**
[code]

**SilentRenew.js**
[code]

What i've missing? Can't find full explanation, except some parts of code.
Could somebody show the full dem

[2020-07-15 05:36] thiagomeireless commented on #1150
I'm using it like this, I'm not sure if it's the right/best way, but it works for me. I hope it helps:

[code]

[2020-07-16 11:51] jimmytb commented on #1150
hi @Murugananths

I was having the same problem. One of the things that worked for me, but is a workaround was the following:

In your config/settings add:
`prompt: 'login',`

It is also possible to use it like this
`manager.signinPopup({prompt: 'login'}).then((user) => setUser({ user: user }));`

This will prompt the user an login screen instead of signing in the user directly. I hope this helps

[2020-07-16 14:14] Murugananths commented on #1150
Thanks team for the information. I will try and let you know if still any issues...

[2020-07-17 07:06] WaldemarEnns commented on #1144
@DNikolic-Paycor I had this issue once but sadly I can only barely remember how I fixed it.
Like @brockallen said, this error usually means that you have to re-login again. If you take a look at your dev-tools console, you should also see this error there.

Please check your browsers cookie settings and allow cookies for third-parties (I guess I could *fix* this back then by just updating my clien

[2020-07-17 07:48] jjavierdguezas commented on #994
this is happening now with Chrome Version 83.0.4103.116 (Official Build) (64-bit) on incognito mode
![image](https://user-images.githubusercontent.com/13673443/87762003-ad426e80-c812-11ea-811f-54b67bd55063.png)

[2020-07-17 16:38] CarlosTorrecillas commented on #234
@brockallen really quick one, if Resource Password Owner Grant is being deprecated in OAuth2.1, what would be the way (if any) to use an equivalent of a Password Flow as opposed to the implicit flow? I guess my use case is that I have 2 clients, one SPA which uses the implicit flow with the standard redirect and now I would like to implement a mobile APP with its own login page without the need of

[2020-07-17 17:38] brockallen commented on #234
mobile: https://tools.ietf.org/html/rfc8252
SPA: https://tools.ietf.org/html/draft-ietf-oauth-browser-based-apps

[2020-07-18 20:43] anied opened #1158 "How to detect error on token refresh or pause token refresh"
Per the documentation, we can detect and respond to a token refresh error with `userManager.events.addSilentRenewError(handler)` and stop the automatic silent renew with `userManager.stopSilentRenew()`.  How do we do the same thing(s) for the refresh of a refresh token?

[2020-07-20 04:03] deanmaster opened #1159 "code_verifier in local storage"
Hello @brockallen ,

I observed that each authenticate process oidc-client creates a key in local storage follow pattern: oidc.random_string
which value has code_verifier.
May I ask if we are free to clear these keys after successfully authenticated? Or may be any reasons for not deleting these information by default in oidc-client?

`
authority: "******"
client_id: "******"
code_verifier: "37f585

[2020-07-20 07:46] yulObraz commented on #234
I had tried to solve this task a year ago with cordova and ios/android requrements. There are good suggestions that client received the authorization code from the redirect URI. Usage of external browser components was depricated. New components did not allowed to see redirect url (or this feature were not implemented). Ios and android have very different structure of local url. Identity Server 4

[2020-07-20 12:40] brockallen commented on #1159
Yes, and there's an API to do so: https://github.com/IdentityModel/oidc-client-js/blob/dev/src/OidcClient.js#L222

[2020-07-20 15:36] sikemullivan commented on #315
So, I don't want the extra param encoded into the ReturnUrl (state). I need send over the app's language so the login can be in the currect language. Any way to do that?

/?culture=fr-CA&ReturnUrl=....

[2020-07-20 15:50] brockallen commented on #315
Per spec, you want the ui_locales param: https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest

[2020-07-20 16:16] sikemullivan commented on #315
I'll have to research if there is a way to get .NET Core's IdentityServer4 to handle it. Thanks!

[2020-07-21 04:30] deanmaster commented on #1159
thank you very much I will use that.

[2020-07-21 04:30] #1159 closed, assigned to nobody

[2020-07-21 16:37] brockallen commented on #1067
From my recollection, Auth0's logout endpoint is not conformant to the OIDC end session EP. IOW, theyt don't accept the params as per spec. So my question is then what benefit would doing this metadata merge?

[2020-07-21 21:15] brockallen commented on #1158
The refresh implementation is part of the set of `silent` API calls. They originated as the iframe silent, but evolved to support refresh tokens, so I kept the same API.

[2020-07-21 21:16] brockallen commented on #1154
This library can be used in a CSP compliant app. Your pages may not be. I can't help you beyond that.

[2020-07-21 21:16] #1154 closed, assigned to nobody

[2020-07-21 21:18] brockallen commented on #1153
As you said, those 2 execution contexts don't share state.

I don't know what the issue here. Sorry.

[2020-07-21 21:19] brockallen commented on #1151
By default session storage is used. If you want the storage shared, configure it with local storage -- there's a param on the user manager options.

[2020-07-21 21:20] brockallen commented on #1150
I don't follow the problem. You're saying the token server does not support the end session endpoint?

[2020-07-21 21:21] brockallen commented on #1149
No. THe nonce protects the client from signin response replay attacks.

[2020-07-21 21:22] brockallen commented on #1144
Closing. If you still have issues, feel free to reopen.

[2020-07-21 21:22] #1144 closed, assigned to nobody

[2020-07-21 21:22] brockallen commented on #1143
No, sorry. That's how it works.

[2020-07-21 21:22] #1143 closed, assigned to nobody

[2020-07-21 21:23] brockallen commented on #1142
The user has a expires_in property. And the user manager has an expiring event you can handle.

https://github.com/IdentityModel/oidc-client-js/wiki

[2020-07-21 21:24] brockallen commented on #1141
Sorry, not sure what that is.

[2020-07-21 21:24] brockallen commented on #1140
merged

[2020-07-21 21:24] #1140 closed, assigned to nobody

[2020-07-21 21:25] brockallen commented on #1139
Those are all the events. You use add and remove to register and unregister.

[2020-07-21 21:26] brockallen commented on #1132
No, sorry.

[2020-07-21 21:28] brockallen commented on #1130
It sounds like you're mixing client-side and server-side app semantics, so sounds wrong to me.

[2020-07-21 21:28] brockallen commented on #1125
Then that's one issuer. The architecture sounds wrong to me, sorry.

[2020-07-21 21:29] brockallen commented on #1124
All set on this issue -- can we close?

[2020-07-21 21:30] brockallen commented on #1122
That would be because the discovery document lists http for the token endpoint. Nothing I can do about that.

[2020-07-21 21:30] #1122 closed, assigned to nobody

[2020-07-21 21:30] brockallen commented on #1120
I bet you run the page from http and it redirects back to https. Those are 2 diff storage systems.

[2020-07-21 21:31] brockallen commented on #1115
Closing. If you still have issues, feel free to reopen.

[2020-07-21 21:31] #1115 closed, assigned to nobody

[2020-07-21 21:32] #1113 closed, assigned to nobody

[2020-07-21 21:33] brockallen commented on #1111
If you need to.

Because that's the expected use case.

Don't you have it cached?

[2020-07-21 21:33] brockallen commented on #1109
All set on this issue -- can we close?

[2020-07-21 21:36] #1108 closed, assigned to nobody

[2020-07-21 21:36] brockallen commented on #1106
IIRC I had a timer in there...

[2020-07-21 21:37] brockallen commented on #1101
I don't have an answer for you on that one. Sorry.

[2020-07-21 21:37] brockallen commented on #1100
Closing. If you still have issues, feel free to reopen.

[2020-07-21 21:37] #1100 closed, assigned to nobody

[2020-07-21 21:38] brockallen commented on #1098
StackOverflow is a more appropriate place for your question.

If you or your company need commercial support, please see [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html#commercial-support) for more information.

Thanks!

[2020-07-21 21:38] #1098 closed, assigned to nobody

[2020-07-21 21:39] brockallen commented on #1096
There's a PR that allows merging static configured discovery document values and the dynamic ones from the STS... that might help you once it's merged.

[2020-07-21 21:39] #1093 closed, assigned to nobody

[2020-07-21 21:39] #1092 closed, assigned to nobody

[2020-07-21 21:39] brockallen commented on #1091
All set on this issue -- can we close?

[2020-07-21 21:40] brockallen commented on #1090
We might be seeing a PR soon that helps with this.

[2020-07-21 21:40] #1088 closed, assigned to nobody

[2020-07-21 21:42] brockallen commented on #1085
Added to the wiki

[2020-07-21 21:42] #1085 closed, assigned to nobody

[2020-07-21 21:42] brockallen commented on #1084
That'd be a feature of your token server, not this client library. This library allows passing extra params -- check the options class.

[2020-07-21 21:42] #1084 closed, assigned to nobody

[2020-07-21 21:43] brockallen commented on #1082
Closing. If you still have issues, feel free to reopen.

[2020-07-21 21:43] #1082 closed, assigned to nobody

[2020-07-21 21:44] brockallen commented on #1081
PR is pending. Will plan to merge it soon. Sorry for the delays.

[2020-07-21 21:44] #1081 closed, assigned to nobody

[2020-07-21 21:44] brockallen commented on #1080
The `user` param in the callback should pass the user with access_token.

[2020-07-21 21:45] brockallen commented on #1079
All set on this issue -- can we close?

[2020-07-21 21:45] #1078 closed, assigned to nobody

[2020-07-21 21:46] brockallen commented on #1076
Not sure, sorry.

[2020-07-21 21:49] brockallen commented on #934
Not sure. Did you ever figure this out?

[2020-07-21 21:50] brockallen commented on #1006
Sorry, did you ever sort this out?

[2020-07-21 21:51] brockallen commented on #1000
No, sorry, the spec does not allow for that type of info.

[2020-07-21 21:51] #1000 closed, assigned to nobody

[2020-07-21 21:51] brockallen commented on #996
All set on this issue -- can we close?

[2020-07-21 21:51] #995 closed, assigned to nobody

[2020-07-21 21:52] brockallen commented on #994
Yep, that's how things are now.

[2020-07-21 21:52] #994 closed, assigned to nobody

[2020-07-21 21:52] brockallen commented on #992
Sorry, did you ever sort this out?

[2020-07-21 21:53] brockallen commented on #988
Yea, I guess we'd need to split those out in a future version. Sorry

[2020-07-21 21:53] #985 closed, assigned to nobody

[2020-07-21 21:53] #983 closed, assigned to nobody

[2020-07-21 21:55] brockallen commented on #971
Sorry, did you ever sort this out?

[2020-07-21 21:55] brockallen commented on #970
Why not sign the user out before redirecting to STS to signout?

[2020-07-21 21:56] hossambarakat commented on #1130
Thanks a lot for the reply.

The Server API is a BFF so I was under the impression that using the server
api to request the token will be better because it has to include the
client secret.

What would be a better solution then? Keep the whole flow in the client
application?

Thanks,
Hossam

On Wed, Jul 22, 2020 at 7:33 AM Brock Allen <notifications@github.com>
wrote:

--
Kind Regards,
Hossam Bara

[2020-07-21 21:56] brockallen commented on #966
Sorry, did you ever sort this out?

[2020-07-21 21:57] brockallen commented on #963
Sorry, not sure.

[2020-07-21 21:58] brockallen commented on #962
Yea, sorry -- the library wasn't designed to handle that scenario.

[2020-07-21 21:58] rlamba89 commented on #992
Yes, it got sorted. The issue was nothing to do with the package.

Browser cookie creation through third party applications was disabled by my organization browser policy. Hence the package was not sending the cookies to OIDC provider. Therefore the error.

Thanks
Rahul

[2020-07-21 21:59] brockallen commented on #960
Yea, the design of how this library was built and modules exported were long before the more modern stuff we have now. In 2.0 I'd like to address those issues, but for now I don't have an answer for you. Sorry.

[2020-07-21 21:59] #960 closed, assigned to nobody

[2020-07-21 22:00] brockallen commented on #959
All set on this issue -- can we close?

[2020-07-21 22:00] brockallen commented on #957
Sorry, did you ever sort this out?

[2020-07-21 22:00] #948 closed, assigned to nobody

[2020-07-21 22:01] brockallen commented on #944
Sorry, did you ever sort this out?

[2020-07-21 22:01] brockallen commented on #943
Sorry, did you ever sort this out?

[2020-07-21 22:03] brockallen commented on #1007
because the user logged out of IdentityServer and token renewal relies upon the user's cookie

[2020-07-21 22:04] brockallen commented on #1008
You'd possibly do that at the token server. But StackOverflow is a more appropriate place for your question.

If you or your company need commercial support, please see [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html#commercial-support) for more information.

Thanks!

[2020-07-21 22:04] #1008 closed, assigned to nobody

[2020-07-21 22:05] brockallen commented on #1013
Sorry, did you ever sort this out?

[2020-07-21 22:05] pkellner commented on #1124
close away. thanks for asking (I don't even remember why I cared)

[2020-07-21 22:05] #1124 closed, assigned to nobody

[2020-07-21 22:05] brockallen commented on #1028
Sorry, did you ever sort this out?

[2020-07-21 22:06] brockallen commented on #1033
This library has no UI, so I think you're asking in the wrong place. Sorry

[2020-07-21 22:06] #1033 closed, assigned to nobody

[2020-07-21 22:07] brockallen commented on #1034
Not sure if I recall why... I can look back into it again

[2020-07-21 22:07] #1039 closed, assigned to nobody

[2020-07-21 22:07] #1042 closed, assigned to nobody

[2020-07-21 22:08] brockallen commented on #1055
Sorry, did you ever sort this out?

[2020-07-21 22:08] #1057 closed, assigned to nobody

[2020-07-21 22:09] brockallen commented on #1062
What certificate?

[2020-07-21 22:09] brockallen commented on #1065
Sorry, did you ever sort this out?

[2020-07-21 22:10] brockallen commented on #1073
Sorry, did you ever sort this out?

[2020-07-21 22:10] gubo commented on #1111
hi thanks for feedback ... i could take it out of webpacked i guess
but i thought that since my angular app is there with an instance of OIDC.UserManager, i should jus be able to go back into angular and call signinSIlentCallback

[2020-07-21 22:39] msschl commented on #1006
Yes and no. The problem we had was regarding the restricted CSP. This is sorted out.

This issue is about the `oicd-client-js` library continuously spamming the same error message in the console as long as the window is open. Is there any retry logic build in the library? Or might the library be stuck in a loop?

[2020-07-21 23:39] brockallen commented on #1111
Personally I never put the callback page in the "app" -- make it a standalone simple html page without all the UI framework bloat.

[2020-07-21 23:40] #992 closed, assigned to nobody

[2020-07-21 23:55] brockallen commented on #1130
https://leastprivilege.com/2019/01/18/an-alternative-way-to-secure-spas-with-asp-net-core-openid-connect-oauth-2-0-and-proxykit/

[2020-07-21 23:56] brockallen commented on #1006
Hmm, but that's the browser spamming the error message, right? Based on something the app is doing (not the library), no?

[2020-07-22 07:12] msschl commented on #1006
Yes it’s the browser. But I think this is because although the `iframe` failed to load it still gets added to the body of the document. Thus the browser keeps retrying to load the `iframe`. Maybe a check whether the I frame was loaded successfully or not, before adding it to the documents body might help?

[2020-07-22 11:53] jimmytb opened #1160 "Uncaught ErrorResponse when using querySessionStatus"
Hi there,

I have two questions:

1. I am using this library with a main domain and a subdomain. When i am logged in in the main domain (example.com). I am not signed in, in the subdomain (subdomain.example.com. Do i need to configure something to make this work?

2. I want to check the current session status of a user to determine if i should show the login screen or log the user in with signinSi

[2020-07-22 13:01] brockallen commented on #1006
I think your CSP needs to accommodate what you want to do with this iframe. IOW, if you want to support it, update the CSP to allow it (dynamically). Or don't trigger the iframe from the client (there are options to not trigger the behavior). The UserManager does 2 diff iframes depending on what you want: session monitor or silent login. So if you''re preventing them, then don't trigger them in th

[2020-07-22 13:03] brockallen commented on #1160
StackOverflow is a more appropriate place for your question.

If you or your company need commercial support, please see [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html#commercial-support) for more information.

Thanks!

[2020-07-22 13:03] #1160 closed, assigned to nobody

[2020-07-22 14:38] anied commented on #1158
Hi @brockallen , thanks for your assistance on this question.

When you say you "kept the same API", does that mean that a handler passed to `addSilentRenewError` is expected to be called when an error occurs for refresh of a refresh token?  I have not seen that to be true thus far, but perhaps I am doing something wrong.

[2020-07-22 16:24] chopkins123 commented on #996
Yeh let's close it, thanksOn 21 Jul 2020 22:51, Brock Allen <notifications@github.com> wrote:
All set on this issue -- can we close?

—You are receiving this because you authored the thread.Reply to this email directly, view it on GitHub, or unsubscribe.

[2020-07-22 18:08] #996 closed, assigned to nobody

[2020-07-22 18:15] brockallen commented on #1158
Looking at the code, if the token POST fails or gets back a 400 then it raises an error. If this is initiated by the automatic silent renew, then that should raise the same error event.

[2020-07-23 00:19] hossambarakat commented on #1130
Thanks @brockallen for the post, I like the approach because it makes the frontend very clean and push all the authentication logic to the BFF 👌👌.

[2020-07-23 00:19] #1130 closed, assigned to nobody

[2020-07-23 01:35] sathyarajagopal opened #1161 "How can I remove querystring in code flow post redirect"
Hello, I am consuming this library in a pure typescript application that is not using any framework like angular. After successful login using "code" flow, I am redirected to the home page of my app which is perfect. However in the URL, I am also seeing "code" and "state" codes appended as query string. How can I get rid of this?

[2020-07-23 07:35] kajaljain commented on #1149
ok, thanks

[2020-07-23 07:35] #1149 closed, assigned to nobody

[2020-07-23 12:41] asamaha1 commented on #315
@sikemullivan they should be in Parameters of AuthorizationRequest

[2020-07-23 12:57] brockallen commented on #1161
USe the history API.

[2020-07-23 17:07] arrudamarcos78 opened #1162 "Extra parameters in sign-in URL query string"
I have a Javascript client which uses OIDC for authentication. I'm using the authorization code flow. Here is a code snippet:

[code]

I would like to be able to add extra parameters in the **_config_** object above which would be available in the query string of the URL that I have access to in the Login method of my Authorization Server (http://localhost:5000/Account/Login):

(C# code):
[code]

[2020-07-23 18:30] achebrol commented on #1062
i  would like to include the cookies while sending the token request.
is it possible to set `xhr.withCredentials = true;` in `JsonService.js`

[2020-07-23 19:54] arrudamarcos78 commented on #1162
Found the solution after reading this post:

[https://github.com/IdentityModel/oidc-client-js/issues/315](url)

[code]

[2020-07-23 19:54] #1162 closed, assigned to nobody

[2020-07-23 21:59] sathyarajagopal commented on #1161
Is that API in this library? I don't see it though. Can you please point me to it?

[2020-07-23 22:49] brockallen commented on #1161
No, it's a browser API.

[2020-07-24 07:33] PeterAgambar opened #1163 "const user is null when await this.userManager.signinCallback(url); in production only"
Not sure if this is a similar or different problem. Using IdentityServer4 (4.0) from the Boilerplate of the Angular 8 .net core application. Running in iis everything works. as soon as I publish to IIS I get the following.

There was an error signing in: Error: (400)
at XMLHttpRequest.o.onload [as __zone_symbol__ON_PROPERTYload] (main-es2015.ae9ca0e58964647235f0.js:1)
at XMLHttpRequest.w (polyfill

[2020-07-24 08:22] msschl commented on #1006
CSPs are hard 😃 Sometimes it can happen that a CSP is to restrictive. In our case, our CSP was to restrictive, although it was not attended to be so restrictive for `iframes`. We adjusted our CSP and everything works as expected.

Nevertheless, I thing although a CSP is to restrictive, it should not result in the browser continuously spamming  error messages in the console. Therefore, I would prop

[2020-07-24 11:36] CarlosTorrecillas commented on #234
@yulObraz my use case here is that _"I don't want to abandon the actual APP to be redirected to the Identity server login page" and still it's not very clear to me as to which type of flow configuration should be using. I'm not sure if I'm missing here something obvious.

[2020-07-24 12:13] brockallen commented on #234
Resource owner flow is the only flow that does not redirect. It's not part of OIDC (it's OAuth2 only) and it's been deprecated. This library will not implement it.

[2020-07-24 12:13] #234 closed, assigned to nobody

[2020-07-24 12:14] brockallen commented on #1006
The problem is that the iframe doesn't run unless it's part of the body, so I don't think I can do what you ask.

[2020-07-24 12:16] brockallen commented on #1163
Sorry you will have to do more debugging on your side.

[2020-07-24 12:21] PeterAgambar commented on #1163
The data.css_injector[1] is also undefined in gd.js but only in production

[2020-07-24 12:22] msschl commented on #1006
What about removing the `iframe` from the body after a certain timeout when it failed to load?

[2020-07-24 12:24] brockallen commented on #1006
I can see if there's something I can do.

[2020-07-24 12:44] PeterAgambar commented on #1163
Most of the fixes already propose, such as services.configure(×=>x.ClaimsIdentiy... do not fix the problem.

There is no other errors other than the one displayed.

I have even rewritten using Version 2.3.2 which works, but not recommended

[2020-07-24 13:27] brockallen commented on #1163
I'm sorry -- I don't know what the issue is. It feels like something in your minification process might be the reason?

[2020-07-24 14:23] PeterAgambar commented on #1163
I would have thought that was also, so buit without the --prod and debug right to the point of failure this.usermanager.signingCallback use is null.

The OidcController returns all the correct values.  So between the OidcController and the signinCallback, something is breaking.

Watching with fiddler, the token call fails.

This happens on vs2019 vanilla build of Angulare .net core 3.1 but only on

[2020-07-26 20:04] crh225 opened #1164 "Question: triplicate iframes"
Hello Brock,
![image](https://user-images.githubusercontent.com/19475195/88488161-17fd5380-cf51-11ea-81b1-191aa97d1ed7.png)
I have an angular app that is working ok with oidc and Identity server.
My question is, what code am I calling that generates these multiple iframe? In my opinion, I think I only have one instance of the userManager going around.

[2020-07-27 06:26] deanmaster commented on #1006
I think I had same problem before. Please configure your IDP (Keycloak) to support the port of you Application.
The IDP will block loading iframe if you don't configure it. In Keycloak I configured in Security Defense tab of Realm Setting.

[2020-07-27 13:08] brockallen commented on #1164
You have the UserManager instantiated 3 times is my guess.

[2020-07-27 15:06] ghost commented on #934
No, just added the redirect from POST /login to GET /login. No clue what causes it.

[2020-07-27 15:06] #934 closed, assigned to nobody

[2020-07-28 11:15] mediafreakch commented on #1074
I experience a similiar issue in Chrome Incognito mode, where the `userSignedOut` callback is triggered immediately after successfully signing in. This only occurs though when monitorSession is true (which it is by default).

[2020-07-28 11:34] jeroenheijmans commented on #1074
@mediafreakch Yup, Chrome started doing it in Incognito and if I recall correctly in the future will also do this in normal mode. At the moment you _can_ turn it off in Incognito mode when you start the session:

![image](https://user-images.githubusercontent.com/1590536/88660096-6720c100-d0d6-11ea-82bb-06b3560314c3.png)

Alas (for devs, for users and privacy this is all good news I think), this i

[2020-07-28 12:47] crh225 commented on #1164
I only have this one time in the constructor of my auth service: this.userManager = new UserManager(this.config);
I can check and see if it is getting instantiated more than one time.

[2020-07-28 17:39] adamlutz commented on #911
Good Lord.  Thank you @guerson.  This also solved a major head-banger for me.  Solution was the IdentityServer fix you mention above

[2020-07-28 20:22] fromorbonia commented on #1147
@brockallen - did you have any thoughts on this? Thanks!

[2020-07-30 21:05] anied commented on #1158
So, I am failing to see the same error event raised, but perhaps that could be due to a misconfiguration on my part.  Let me share my specific case.

We are using the react wrapped version of the libary: [react-oidc](https://github.com/AxaGuilDEv/react-oidc).  Our IdP does not support the session management protocol, so we have no ability to renew our access token via iframe.  However, we have set

[2020-07-30 23:34] dedaimia opened #1167 "SigninResponse discards any "extra" fields"
We're trying to use oidc-client-js in a context where the oauth server includes some "extra" fields in the SigninResponse.  Specifically it's a healthcare "SMART on FHIR" application, and the extra fields are patient and provider context.
Unfortunately the SigninResponse class parses these extra values, but then discards them since they don't match any of it's predefined fields.    Would there be

[2020-07-31 06:18] theopen-institute commented on #943
In the end, I think it was just an incompatibility with the IdP we were using, which seemed `id_token token` response types. We never figured it out, but I don't suspect the problem is on the oidc-client-js side. Thanks to all for the help nonetheless.

[2020-07-31 06:18] #943 closed, assigned to nobody

[2020-07-31 08:47] findmoon commented on #1103
I think it is necessary that support "Resource Owner Password“. This can unify the underlying APIs in a project, such as token storage, 'refresh_token' automatic update, and login status detection after page refresh. The 'Resource Owner Password' mode and other modes use the same API. And It's just that the exposed configuration is different。This is my personal opinion。

[2020-07-31 12:53] brockallen commented on #1167
You can parse those yourself on the call back page and then in the successful resolution of the promise on signinRedirectCallback you can use those how you see fit.

[2020-07-31 13:35] koehrlenguillaume opened #1168 "SilentRenewal Authorization Code Flow + PKCE"
Hi there,

I'm using your library in our SPA application following the Authorization Code flow + PKCE.
For the Login part is working quite well !
A specification is that our IDP isn't returning a refresh token in order to be more secure.

Is it possible to do the silent renewal in this configuration ?

My UserManager's configuration :
[code]

The result that I'm getting when I run the method **sig

[2020-07-31 14:53] Murugananths commented on #1150
Hi Team,
I was able to log out completely with below coding. When login again it is asking credentials as expected.
end_session_endpoint: "https://xxxx.com/xx/v1/connect/endsession

But one more issue have been facing that post log out it is not redirecting to specified postlogouturl (https://localhost:3000/logout.html).
When i trying to debug with idsrv code where logout method called twice hence

[2020-07-31 15:02] crh225 commented on #1164
You are correct. My issue is I thought this constructor got hit only one time, so I put a check to say if the usermanager had a value, dont re instantiate it. Seems it loses its value and keeps getting a new one. Probably something wonky with my app. Thanks!

![image](https://user-images.githubusercontent.com/19475195/89047999-cff57c80-d314-11ea-8e72-0fb91d62da13.png)

[2020-07-31 15:02] #1164 closed, assigned to nobody

[2020-07-31 15:04] brockallen commented on #1168
Yes, silent renew can be done from an authorization request in an iframe. That's what signinSilent does if you don't have a refresh token. I don't know where the 401 comes from -- your authorize endpoint?

[2020-07-31 21:15] anied commented on #1158
Actually, I may have misunderstood and misfiled this issue.  I've been digging into it a bit more today, and discovered that the second call to `/token` is not prompted from [oidc-client-js](https://github.com/IdentityModel/oidc-client-js), but from [react-oidc](https://github.com/AxaGuilDEv/react-oidc) here:

[code]

So that second call to `/token` is actually a `signinSilent`-initiated request.

[2020-08-01 23:38] sathyarajagopal commented on #1161
This works. Great.

[2020-08-01 23:38] #1161 closed, assigned to nobody

[2020-08-02 06:51] koehrlenguillaume commented on #1168
Thank you for confirming that’s possible !
Yes the 401 is coming from our authorize endpoint. I’ll check on our IDP why he give me this response. Maybe he cannot find the user corresponding to the idtoken_hint

Thanks again, the library is awesome !

[2020-08-02 06:51] #1168 closed, assigned to nobody

[2020-08-03 11:33] Murugananths commented on #1150
@brockallen ...any update on this?

[2020-08-03 13:33] brockallen commented on #1150
Check your logs at the STS.

[2020-08-03 14:44] alexbom commented on #1154
So, the only way CRA can realize silent renew is eject?