[2018-08-21 07:11] suriya-n commented on #633
@M4sterShake Hey, issue with window.localStorage has been resolved in the latest version of tinyMCE 4.8.2

[2018-08-21 08:11] jedigo commented on #633
Yes we still have the branch allowing the silent login to be used from a URL that isn't subscriber.icis.com , but we can surely merge the latest upstream into our fork

[2018-08-22 21:24] brockallen commented on #633
Good to hear this is fixed, because if we can't use local storage, then there's a lot of things on the web that won't work. @M4sterShake can you confirm so we can close this issue?

[2018-08-22 21:24] brockallen commented on #644
Use `catch` on the promise returned from `signinSilent`.

[2018-08-22 21:30] MaxboDev commented on #633
@suriya-n was just saying it's been fixed in tinyMCE. It's still an issue in oidc-client as far as I'm aware. I've applied the same fix that was done in tinyMCE which appears to fix the issue. I'll raise a PR as soon as I get a minute.

[2018-08-22 21:35] brockallen commented on #633
I'll give you some back story -- we use localStorage for the protocol request state because in IE if you use sessionStorage it flushes it when the browser navigates away from the current domain. No other browsers do that. So if localStorage and sessionStorage doesn't work, you're left with indexedDb or a cookie, and IMO a cookie is the wrong way to go.

[2018-08-22 21:53] MaxboDev commented on #633
Ahh, in that case the tinyMCE fix isn't going to resolve the issue unfortunately as that just uses sessionStorage if localStorage throws an Access Denied exception. What do you think about falling back to cookies if localStorage isn't available?

[2018-08-22 22:13] brockallen commented on #633
Cookies send their data to your server. SPAs don't have server-side code so no need to use a cookie, and I don't like leaking sensitive values out to your server (think CDNs). I don't see the security feature behind browsers nerfing storage. Do you know what their rationale is?

[2018-08-22 22:46] MaxboDev commented on #633
Yeah I agree cookies seem like a horrible way to do things. Maybe indexedDB is the way to go then. Seems like a lot more work though. I don't know the rationale behind it unfortunately. Isn't it part of Microsoft's mission statement to make sure IE is always at least a bit non standard? :P

Maybe a wrapper around indexedDB that lets us use it like localStorage could work. Like this https://gist.gi

[2018-08-23 00:27] brockallen commented on #633
There's already an abstraction around it via the storage API internally.

[2018-08-23 09:28] avakkuri opened #645 "Problem with AWS Cognito and the response_type"
I would like to use this library as the client for our AWS Cognito instance. The configuration works fine with the Cognito except from the fact that Cognito accepts the response_type being only ["code" or "token"](https://docs.aws.amazon.com/cognito/latest/developerguide/token-endpoint.html), which causes an issue. If the response type is "token id_token" it results an invalid request error from C

[2018-08-23 13:37] brockallen commented on #645
This library mainly supports OIDC, thus the typical use of id_token token. code is only for use in server-side web apps (until the spec committees make other recommendations, but that's beyond this conversation). That leaves them only supporting token, which is not OIDC.

[2018-08-23 17:49] prateeknair commented on #644
I am using `catch`. In the `catch` I am loading the user again (`getUser`). Should that trigger another attempt for `signinSilent` automatically or should i call `signinSilent` again ?

[2018-08-23 17:51] brockallen commented on #644
getUser loads the last state for the user. It does not trigger any authorization requests.

[2018-08-23 17:57] prateeknair commented on #644
My thought was loading the user state will trigger tokenExpiring event (as the token is expiring). I will try calling the signinSilent again. Thanks!

[2018-08-23 18:05] #644 closed, assigned to nobody

[2018-08-24 07:47] nikodil opened #646 "PopupWindow callbacks don't work with multiprocess webviews on Android 8"
I have an Android app that uses the oidc-client with webviews and noticed that trying to access the window.opener properties directly as it's done in notifyOpener() doesn't work with multiprocess webviews on Android, it will throw an exception. I managed to solve this by replace it with a custom PopupWindow using window.opener.postMessage instead, which seems to work fine. Question is, couldn't th

[2018-08-24 14:05] brockallen commented on #646
Really not sure, as this library wasn't designed for native apps (which is what it sounds like you're building). I don't test in all those environments.

[2018-08-26 13:11] dpcrman opened #647 "signinSilentCallback doesn't refresh access_token"
I can't directly call the asynchronous method in my code, so I maintain a variable to synchronize the access_token information, but it has a problem in the signinSilentCallback.

[code]

[2018-08-26 13:35] brockallen commented on #647
Not enough info in what you're asking.

[2018-08-26 13:56] dpcrman commented on #647
Does the signinSilentCallback method not update the access token? I want this method to update my local access token immediately after the callback. In fact, I still get the old access token.

[2018-08-26 14:32] brockallen commented on #647
Strictly speaking, the signinSilent does. signinSilentCallback  just notifies the parent window with the results. Normally you're expected to call gertUser() to fetch the latest from storage.

But if you keep a cop of the access token, signinSilent has no way to know where that is. If you are keeping a copy somewhere, then you can handle the promise from signinSilent to update your copy.

[2018-08-27 10:25] dpcrman commented on #647
Thank you for your reply, I have replaced my local variable with getUser(), and now it is not a problem.

[2018-08-27 10:25] #647 closed, assigned to nobody

[2018-08-27 22:46] galopez1995 opened #648 "React js Error: No matching state found in storage"
Hi, how can I solve this problem?

**Error: No matching state found in storage**

I am working on React js, try with https://github.com/maxmantz/redux-oidc but it generates the same error.

Thank you,

![capture](https://user-images.githubusercontent.com/12545405/44690683-5286aa80-aa21-11e8-9f8f-9f1eec683916.PNG)

[2018-08-28 01:05] brockallen commented on #648
looks like you're using a routing path for your redirect uri. you might need to manually parse the #/hash out of the URL and pass in just the protocol response params into the signinRedirectCalback.

[2018-08-28 15:39] galopez1995 commented on #648
I'm trying to make the adjustment you tell me, but it does not work.

Could you give me a guide?

The application of reac js is published in IIS.

Regards,

![capture](https://user-images.githubusercontent.com/12545405/44734041-98d61b00-aaae-11e8-81e2-837aa0d1156e.PNG)

![capture](https://user-images.githubusercontent.com/12545405/44733926-3a10a180-aaae-11e8-9ee5-c51557b64c48.PNG)

[2018-08-28 16:57] brockallen commented on #648
it's pretty obvious you have not looked at any of the sample. you should look at those to get started.

[2018-08-29 08:15] matthew-matvei opened #649 "signinPopup renders a blank popup page"
Hi there! Firstly thanks for this library, it's taken a lot of pain out of authenticating our apps with our IS4 auth service.

We've begun toying with PWAs, and have noticed that the same code that lets us successfully sign in when in the browser does not work when in the context of a PWA 'app'. Redirection doesn't work (as we would expect), but the `signinPoup` functionality also fails, rendering

[2018-08-29 11:03] matthew-matvei commented on #649
What we have found so far is this: The `PopupWindow` constructor opens a window, specifying no url, then the `prepare` method navigates the window to our authority. The authority is not in the domain of our app, and so the scope limitation of the PWA breaks this navigation.

I've made some minor changes to our local copy of the library, where we pass the authority url down to the constructor param

[2018-08-29 14:50] brockallen commented on #649
I'm pretty sure there was a reason `''` was used on the window.open. I'll have to remember why... IIRC, it was something to do with cross-origin issues.

[2018-08-29 14:56] maxmantz opened #651 "Infinite loop of silent renews"
Hi @brockallen ,

on investigating [this issue](https://github.com/maxmantz/redux-oidc/issues/121) I was able to reproduce the symptoms described there.

### Symptoms
- error only occurs in production environments - whether the code is minified or not,
- an infinite loop of silent renew requests is sent:
![image](https://user-images.githubusercontent.com/6616421/44794519-f9498300-aba8-11e8-9893-a0

[2018-08-29 17:02] maxmantz commented on #651
I narrowed the cause down to the cookie policy enforced by `netcoreapp2.1`

when combining this setup:
[code]

with `app.UseCookiePolicy();` this behavior occurs. When the cookie policy is ignored, the error disappears.

I fixed it on my part by amending the cookie policy rule:
[code]

[2018-08-29 17:02] #651 closed, assigned to nobody

[2018-08-29 22:35] matthew-matvei commented on #649
In our case, the authority is aware of the app's domain (the origin is registered as an allowed origin). I would have thought this would be a requirement for anyone configuring IS4, otherwise the initial call to `/openid/configuration` at the authority would be rejected.

That being said, we've only got this working running the app and associated services locally. I can report back once we have th

[2018-08-29 23:58] brockallen commented on #649
No, this was a browser restriction.

[2018-08-30 20:13] alundiak commented on #437
@nathanlogan I'm a bit away from this stuff these months. I will try get back later maybe.

[2018-08-31 08:44] matthew-matvei commented on #649
What we've encountered after deploying this is the following problem:

We can open the popup window at our auth service just fine, but after entering valid credentials, half the time the popup window closes successfully, the other times it simply remains (even with our IS4 login page indicating that we're logged in) and breaks the sign-in flow. At this point this is still just the behaviour in the

[2018-08-31 10:38] raymondsze opened #652 "window is undefined"
This error occurs even I didn't use the module, but import it.
I am using next.js with oidc-client-js.
The problem is next.js shares the code on both server-side and client-side.

Even I did like that
[code]
The `window is undefined` error is prompt.

Is there any reason why not we do lazy checking on the window object?

[2018-08-31 10:47] raymondsze commented on #652
More complete usecase.
[code]

[2018-08-31 13:43] brockallen commented on #652
you'd not load/use this library server-side

[2018-09-03 07:59] vmhapsekar opened #653 "Iframe timed out after signin request"
The Iframewindow is timing out after the signinrequest call is made , without waiting for the timeout set value.
The timeout is set to 3000ms. Version being used is 1.5.1 with react Framework.
This issue is happening intermittently.

Please find logs below:
no user storageString
vendor.bundle.js:1 no user storageString
vendor.bundle.js:1 user not found in storage
vendor.bundle.js:1 user not found

[2018-09-03 08:03] aguerot commented on #651
I experience the exact same issue thanks for sharing

[2018-09-03 08:03] nikodil commented on #646
Ok, yes it's an Android hybrid native+html app and this issues seems to be specific to Android webviews. Found this comment on the WebChromeClient.onCreateWindow method that might explain why it behaves in this way:

For standard browsers, not allowing direct access to same-origin windows would probably break a lot of existing sites.

[2018-09-03 14:12] longsleep opened #654 "SessionMonitor should not require sid ID Token claim"
The SessionMonitor currently checks the presence/change of an `sid` claim which is not part of the specification https://openid.net/specs/openid-connect-session-1_0.html for the check session iframe. Thus if an OP only implements OpenID Connect Session Management 1.0 but not OpenID Connect Front-Channel Logout 1.0 (https://openid.net/specs/openid-connect-frontchannel-1_0.html) where the `sid` clai

[2018-09-03 14:15] morozenkomv opened #655 "Post logout redirect not work if Session storage is empty"
Hi! I use IdentityServer3 and signoutRedirect method for logout user. But some times instead of post logout redirect I get this Identity Server page
![image](https://user-images.githubusercontent.com/17346853/44990348-6a1de000-af99-11e8-9319-121a5dde6699.png)

It's occur when Session storage is empty.

How can I force post logout redirect?

Is there any way to logout user async,  without redirect?

[2018-09-04 03:33] benji opened #656 "How to get the nonce value used?"
In order to validate the id_token server side, some libs need the nonce used during the oauth implicit flow.
I can see it passed to the IdP, stored in the localStorage, then removed. But I can see it in the signinResponse object for example.
Is there a way to access it before or after the processSigninResponse() call?

[2018-09-04 03:45] brockallen commented on #656
if you're doing server-side validation then you should use a library designed to work server side. this library is not that.

[2018-09-04 03:56] benji commented on #656
Well I'd like to keep most of the load off of the servers and only use them to verify the token.

[2018-09-04 07:15] #652 closed, assigned to nobody

[2018-09-04 12:13] brockallen commented on #656
I don't follow. If your JS-based app is the client, then you'd do your protocol work there. If your client is a server-side app (like PHP, ASP.NET, JSP, spring, etc.) then you'd drive the protocol from there with a framework specific protocol library.

[2018-09-04 18:13] benji commented on #656
I don't think you **have to** do the protocol on the server side if there is a server side. In my case I'd rather not do that and simply verify the id_token on the server side.

[2018-09-04 19:09] brockallen commented on #656
I'm still confused.

[2018-09-04 21:05] benji commented on #656
Well let's put the use case aside and focus on the original question: is there any way to get the nonce from the oidc client or the signinResponse object?

[2018-09-05 13:13] rubinhu opened #657 "How does it work on Android or iOS?"
I checked that it doesn't work on Andorid or iOS platform, could you help me to solve it?
When I try to use signinRedirect method to logon, but it doesn't redirect to logon page.

[2018-09-05 13:19] rubinhu commented on #657
If I use IE or Chrome on Windows, it works.

[2018-09-05 13:29] brockallen commented on #657
This library is designed for browser-based JS OIDC clients. Not native apps.

[2018-09-05 13:44] brockallen commented on #656
So you're using this library to do the OIDC protocol for you and now you're asking how to get inside and tinker so you can write some code to take over aspects of the protocol implementation. This is why I'm just so confused.

Short answer is that no, there was no requirement for this, thus the nonce isn't readily available. I'm sure if you go thru the source code you can find the workflow and how

[2018-09-05 13:58] rubinhu commented on #657
@brockallen Yes, I know, I use the browser to open the test url on my phone, there is a button to call 'login' method on that page, the code as below, when I click the button, but it doesn't work to redirect to logon page. However, it works in IE or Chrome on Windows.
var config = {...};
var mgr = new Oidc.UserManager(config);
function login() {
    mgr.signinRedirect();
}

[2018-09-05 15:32] benji commented on #656
OK, no problem, thanks for the info. The lib I was trying to use asks for the nonce but I'll just find another way.

As far as sending the id_token to the server for validation, here is a doc from Google that mentions it:
https://developers.google.com/identity/sign-in/web/backend-auth#send-the-id-token-to-your-server

Thanks for the feedback, closing.

[2018-09-05 15:32] #656 closed, assigned to nobody

[2018-09-05 15:41] brockallen commented on #656
Well, that was my point of confusion. If you already have a lib that wants that then you'd typically do the entire protocol flow around where ever that lib runs (and then you'd not need to do it in the client-side JS).

[2018-09-05 15:42] brockallen commented on #657
Then you'd use a library designed for native apps, like this one: https://github.com/openid/AppAuth-JS

[2018-09-06 02:18] #648 closed, assigned to nobody

[2018-09-06 05:57] parthyee opened #658 "How to pass an optional parameter or custom parameters from angular to Identityserver login"
I have an angular application(Client) which is using OIDC connect to authorise from IdentityServer. So how to pass an optional parameter or custom parameters from angular to IdentityServer login.

[2018-09-06 11:49] BoaPi opened #659 "IdentityServer userinfo endpoint not requested after silent renew"
Hi,

at first thanks for the great library 😃

we currently facing the problem, that the silent renew is going to not working after about 30min. We were able to determine that the SubjectId is missing on IS4.

When looking into the network tab in chrome for the client requests, the following order is visible:

 1. authentication request
 2. silent renew request
 3. user info request

![requests](ht

[2018-09-06 17:02] brockallen commented on #658
on which request?

[2018-09-06 18:27] brockallen commented on #659
sounds like your cookie at IS is gone/expired? are you using asp.net identity?

[2018-09-10 06:09] Edisson commented on #604
@masoud-bahrami  we've got the same problem, it would be great if you share how did you handle with it

[2018-09-10 08:37] BoaPi commented on #659
Hi @brockallen ,
yes we are using asp.net identity. I will check the cookie with the backend guy. Thanks for the hint. I will come back with more information.

[2018-09-11 04:01] kiranjulapalli opened #661 "Oidc client with Google OAuth implicitflow signout issue"
Issue: In my angular app, when user clicks on logout button, following code gets called:

`      <button *ngIf="isLoggedin()" (click)="authService.logout()">Logout</button>`

Implementation of AuthService.logout
[code]
AuthService constructor:

[code]
**Above call is throwing the following exception:
`OidcClient.createSignoutRequest: No end session endpoint url returned`**

Upon some research, it

[2018-09-11 05:02] arnaldo-infinite opened #662 "Question about nonce behavior"
I did not find any explanation for which i am looking for in the docs or previous issues, hence I would like to ask from here. The nonce value is supposed to be sent during the authentication request and obtain it via the identity token to ensure and prevent replay attacks. Where before implementing a nonce value, by default I could see a nonce being generated and passed in the identity token obta

[2018-09-11 05:06] arnaldo-infinite commented on #643
yes, handle the logout with the event specified in the docs which you mentioned. Then you can call signoutRedirect()  within the event to make sure the signed in tabs are notified.

[2018-09-11 08:22] spike008t opened #663 "Infinite loop on silent-renew"
After upgrading IS4 to asp 2.1, I'm facing to an infinite loop of silent-renew on the client (looks like #651).

## My current setup:

On sts:

[code]

On my client: oidc-client `v1.5.2`

## Issue

As @maxmantz suggest on #651 , I do give a try to set the cookie policy rule as below:

[code]

But the client keeps doing an infinite loop.

Looks like it does the following workflow (as i understand):

[2018-09-11 09:19] imduffy15 commented on #534
Looks like KEYCLOAK-7695 has been merged and is part of Keycloak 4.4.0 :)

[2018-09-11 13:16] brockallen commented on #662
As of now the nonce is all handled internally

[2018-09-11 14:08] arnaldo-infinite commented on #662
Hey Brock, thank you so much for the quick response. I would like to confirm if the same applies to the behavior of the "state" parameter which is used to maintain state between the request and the callback?

[2018-09-11 14:27] brockallen commented on #662
state is for you to use anyway you want

[2018-09-11 14:34] arnaldo-infinite commented on #662
Cool, I've got all my answers. Great work on this library mate. Thank you so much for your efforts. 🥇

[2018-09-11 14:34] #662 closed, assigned to nobody

[2018-09-12 00:39] spike008t commented on #663
I've found the issue.
Under ASP 2.1, the issue is related of the use of `UseCookiePolicy()`:
[code]

The default value of MinimumSameSitePolicy = Strict (see https://github.com/aspnet/Security/issues/1231)

In order to fix it:

[code]

And no need to custom the set consent stuff.

[2018-09-12 00:39] #663 closed, assigned to nobody

[2018-09-12 11:47] Deltids commented on #633
In my organization we have spent a lot of hours working with this issue, which seems to be a timing issue in IE11, combined with ungraceful handling of localStorage access from the oidc-client library. Because the initialization of the oidc-client library doesn't try/catch the localstorage access, it crashes if localStorage access is denied.

We have two similar applications, one using angular-aut

[2018-09-13 13:13] AndrePinto-NET commented on #651
Same here! THANK YOU

[2018-09-14 15:00] vahidarr opened #664 "oidc auto Login After User Registration"
I Want To Create User and immediately After that login that user in System.I get Confused how can i do auto login part in oidc.i need a sample or sth that can help me.

[2018-09-14 16:45] brockallen commented on #664
Sorry I don't have a sample that does this.

[2018-09-14 22:47] brockallen commented on #628
I have a look at this at the end of the month -- I'm busy until then.

[2018-09-14 22:48] brockallen commented on #633
I can certainly put some error handling around it.

[2018-09-14 22:48] #637 closed, assigned to nobody

[2018-09-14 22:49] brockallen commented on #638
I have a look at this at the end of the month -- I'm busy until then.

[2018-09-14 22:50] brockallen commented on #643
You can also disable SLO notification.

[2018-09-14 22:50] #643 closed, assigned to nobody

[2018-09-14 22:50] #645 closed, assigned to nobody

[2018-09-14 22:51] brockallen commented on #646
All set on this issue -- can we close?

[2018-09-14 22:51] #657 closed, assigned to nobody

[2018-09-14 22:51] #658 closed, assigned to nobody

[2018-09-14 22:51] brockallen commented on #659
Any update?

[2018-09-14 22:51] #664 closed, assigned to nobody

[2018-09-14 22:52] brockallen commented on #655
That's a question for IdentityServer, not oidc-client.

[2018-09-14 22:52] #655 closed, assigned to nobody

[2018-09-14 22:53] brockallen commented on #654
I have a look at this at the end of the month -- I'm busy until then.

[2018-09-14 22:53] brockallen commented on #653
Check the logs on your token server -- perhaps an error page is being displayed?

[2018-09-14 22:54] brockallen commented on #649
Sorry I fell off this conversation. Where are we with this issue?

[2018-09-14 22:54] brockallen commented on #625
I have a look at this at the end of the month -- I'm busy until then.

[2018-09-14 22:55] brockallen commented on #661
Sounds like your token server doesn't support signout.

[2018-09-15 03:14] vahidarr commented on #664
so what is the correct way to do that(at least in theory)? can i give access token directly to oidc that i get from webapi or login through webapi via ResourceOwnerPasswordAndClientCredentials GranType??

[2018-09-15 05:23] nikodil commented on #646
Yes, works just fine with the work-around.

[2018-09-15 13:58] brockallen commented on #664
To be auto logged in on the token server, the user must navigate there in the browser. That is incompatible with resource owner password flow.

[2018-09-15 13:58] #646 closed, assigned to nobody

[2018-09-15 17:55] matthew-matvei commented on #649
We've abandoned the direction we were going in since it appeared we came across the cross-origin browser restrictions you mentioned once our patch was deployed in a test environment. I'll close this issue down along with the accompanying PR.

[2018-09-15 17:55] #649 closed, assigned to nobody

[2018-09-16 03:54] vahidarr commented on #664
this is what i understand from your comment: redirect user to token server and auto login user(in iframe) in background then redirect user to any page we want.correct???

[2018-09-18 07:24] poisson0106 opened #665 "Meet cross-origin problem when getting jwks"
Hi,  I met an problem when using oidc-client. At first, I can't get user info. As I checked the issues and found that I should use signinRedirectCallback to get user. So currently, my login phrase is
1. Using siginRedirect method in login page, it will redirect to a authorize page and input information to login.
2. It redirects to the pre-settings redirect-uri, currently, it is a callback page in

[2018-09-18 18:21] longsleep commented on #563
@brockallen This breaks support for ECDSA based tokens, since asn1.DERInteger is required by https://github.com/kjur/jsrsasign/blob/d282c71cee92000c4807bcbf2212fedf3f22bd84/src/ecdsa-modified-1.0.js#L804 (resulting currently in non-visible `TypeError: Cannot read property 'DERInteger' of undefined` resulting in all EC signatures considered to be wrong).

I will open a new issue for this.

[2018-09-18 18:27] longsleep opened #666 "EC token validation is broken because included jsrsasign does not have its asn1 support"
Issue #563 suggested to remove asn1 support from the included jsrsasign library. This is a bad idea since it breaks validation of EC signatures (ES256, ES384, ES512).

Please add back asn1 support so the next releae of oidc-client-js can validate EC signatures again. A revert of https://github.com/IdentityModel/oidc-client-js/commit/5ef8be3b4a4c70c26eb5dc4776942553b28e803a should do (maybe asn1x50

[2018-09-18 21:40] jayoma commented on #602
@brockallen

Can you please expand on this? I have what I think is a pretty standard IS4 implementation, with a single Angular client leveraging oidc-client-js. **automaticSilentRenew** is enabled, and is successful on the client... _until it isn't._ My users are being logged out (redirected to the IS4 logout page) when automaticSilentRenew suddenly fails. For troubleshooting, I have:

- Enabled i

[2018-09-19 00:29] brockallen commented on #666
Mind proposing a PR? There's also another PR out there to move to web crypto -- perhaps have a look there and see if it has what you need?

[2018-09-19 00:32] brockallen commented on #602
That seems very aggressive, IMO.

As for the rest of your question -- I don't really know. I think it would require some debugging. It sounds like for some reason your cookie is getting lost/expired after 30m. Perhaps something related to the ASP.NET Identity security stamp and its cookie renewal?

[2018-09-19 00:45] jayoma commented on #602
Thanks for your quick reply. Determining that it was expiring at 30 minutes was the key to solving this (I'm 99% sure it's solved; gonna deploy to a staging server to verify). Once I used "30 minutes" in my search term, I stumbled into [this stackoverflow post](https://stackoverflow.com/a/45838230/4438759). I revised my Startup config as follows - again using very aggressive numbers so I don't hav

[2018-09-19 10:16] BoaPi commented on #659
sorry for my late response.
The cookie got expired at the IS, so it is the common behavior.

Thanks for the support, this issue can be closed. 😃

[2018-09-19 10:16] #659 closed, assigned to nobody

[2018-09-19 21:48] jayoma commented on #602
Wanted to circle back once more, and say that my last comment above **was not** the complete fix:

[code]

However, these config options in conjunction with the following seem to have resolved the issue AND allowed me to take full control over the AuthorizationTicket's expiration.

The real problem is that in order for ASP.NET Core Identity to perform its security stamp validator check, the AspNet

[2018-09-20 13:58] brockallen commented on #602
Do you have this config: https://github.com/IdentityServer/IdentityServer4.AspNetIdentity/blob/dev/src/IdentityServerBuilderExtensions.cs#L44

[2018-09-20 13:59] brockallen commented on #602
Ah, this also shows that you''re not using the SignInManager to issue the cookie. It normally adds the security stamp claim.

[2018-09-20 14:40] StevenVerbiest commented on #605
@MateuszBucko @brockallen

I'm having the same issue. My code is roughly the same as [the example above](https://github.com/IdentityModel/oidc-client-js/issues/605#issuecomment-403719238).

What was the source of the problem? Was it Keycloack configuration or a client-side implementation problem?

Btw, I turned on the logger and I get the following message after redirect: `UserManager.getUser: use

[2018-09-20 15:16] jayoma commented on #602
Since I'm calling your **AddAspNetIdentity** extension method, it's adding that config for me.

[2018-09-20 15:26] jayoma commented on #602
I've constructed my AccountController using a cross between your [IdentityServer4.Quickstart.Ui](https://github.com/IdentityServer/IdentityServer4.Quickstart.UI/blob/release/Quickstart/Account/AccountController.cs) and your [IdentityServerWithAspIdAndEF](https://github.com/IdentityServer/IdentityServer4.Samples/blob/release/Quickstarts/Combined_AspNetIdentity_and_EntityFrameworkStorage/src/Identit

[2018-09-21 09:15] StevenVerbiest commented on #665
The `Access-Control-Allow-Origin` header should be added on the oidc server (in your case:  https://xxx.com).

I'm having the same issue, but I'm not really sure this is intended behaviour. When I implement the code like you did, I get CORS issues on the jwk request. (In my case: https://<xyz>.net/.well-known/openid-configuration/jwks), but when I test the [Vue example](https://github.com/Identity

[2018-09-21 09:48] StevenVerbiest commented on #665
@poisson0106 Apparently there's a workaround for CORS issues: https://github.com/IdentityModel/oidc-client-js/issues/275

Unfortunately I can't seem to get it working either, but maybe this can help you out?

[2018-09-24 05:21] jbkly opened #667 "Is there a way to pass the client's timezone with login?"
I see that `zoneinfo` is one of the default profile claims in OpenId Connect. I'm trying to figure out how to pass the client's timezone to the server on login to populate this claim. Is there a way to do this with OIDC client?

[2018-09-24 08:45] thorstenfleischmann opened #668 "Overwrite iframeNavigator/navigate"
Hi,

I need to attach some parameters to the authorize request in certain circumstances. It turned out this is quite easy for the login, by providing a new "redirectNavigator" in the settings with the modified "navigate()" method.

I have to add the same parameter for the silent login. I saw there is also an option "iframeNavigator" which can be used for that. However, it seems like I have to prov

[2018-09-24 12:00] brockallen commented on #667
`extraQueryParams`? https://github.com/IdentityModel/oidc-client-js/wiki

[2018-09-24 12:01] brockallen commented on #668
`extraQueryParams` https://github.com/IdentityModel/oidc-client-js/wiki, or `acr_values`

[2018-09-25 09:39] thorstenfleischmann commented on #668
Amazing, this works like a charm :) Shame on me I didn't see this obvious solution!
Thanks a lot,
Thorsten

[2018-09-25 09:39] #668 closed, assigned to nobody

[2018-09-26 08:16] poisson0106 commented on #665
@StevenVerbiest
Fortunately, I solve the problem.  My environment is also the Vue environment. I use vue-cli to create project. I set the "loadUserInfo" as false. Then it seems to read the signingKey and wouldn't request jwks_uri again for token.  I'm not quite sure if this explain is true, but it solves my problem. Share it with your guys.

[2018-09-26 08:16] #665 closed, assigned to nobody

[2018-09-27 00:53] wiliambuzatto commented on #604
@masoud-bahrami Got anything?

[2018-10-01 18:39] jesseobrien opened #670 "Change acr_values on already instantiated UserManager"
I want to enable some "account switching" functionality in our app based on the acr_values property. I'm wondering if there's a way to change the acr_values in an already instantiated UserManager, and then have the auth silent redirect kick in with the update acr_values.

Is this something supported by the library? Am I thinking about this wrong?

[2018-10-01 19:21] brockallen commented on #670
You should be able to pass it to the various signin APIs.

[2018-10-01 19:25] jesseobrien commented on #670
Okay, I think I'm seeing that I can modify the acr_values on my options object and then call `manager.signinSilent(myOptions)`. I've modified it and set `prompt: 'none'` but I'm getting an error:

[code]

[2018-10-01 19:31] jesseobrien commented on #670
Actually, it looks like it is doing the redirect and getting the new sub, however it gives me a timeout afterwards.

I have this code:

[code]

The request log looks like:
[code]

The page doesn't refresh. (In the end i'm not looking to do a full page refresh. I just need to do it right now before refactoring some other things to fire off when the account is changed up)

[2018-10-02 10:35] tanneess opened #671 "at_hash matching should work with or without padding"
Hi,

Validation of at_hash expect that the server return an at_hash without padding. However according to oidc spec the at_hash is a base64url and a base64url can contain padding character.
https://en.wikipedia.org/wiki/Base64#Variants_summary_table

Some servers return at_hash with padding characters which cannot be validated by this client.

A simple solution would be to remove trailling equal s

[2018-10-02 14:03] wmatlok opened #672 "User logged out from OP after callback redirect"
Hi.
Your library is great.
Unfortunately I have got 1 issue.
I have implement JsOidc example as described here:
https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc
with little modifications::
accessTokenExpiringNotificationTime: 30,
silentRequestTimeout: 30,
without popup
without consent
no spa, simple js
AccessTokenLifetime = 60 (backend)
IdentityTokenLifetim

[2018-10-03 17:33] buddhikapriya opened #674 "Single authentication for multiple web apps"
Hi,
We have Angular 6 web app configured with oidc-client-js and it works without no issues. This angular app contains dynamic functionalities including API calls using access tokens.

Now we want to add another .net MVC web app to hold our static pages. This app will not have dynamic functionalities except the login functionality.

Our requirement is to initiate login from MVC app. After login, u

[2018-10-04 00:13] patrickmonteiro opened #675 "Quasar Framework project with Oidc-client"
This is an example of how to use the oidc-client library with the Quasar framework.
There are some details to configure it with Quasar, so I think it would be worth adding it to the wiki as a sample project.

- [quasarOidcClient](https://github.com/patrickmonteiro/quasarOidcClient)

[2018-10-04 00:47] brockallen commented on #675
Done, although I admit I have no idea what Quasar Framework is.

[2018-10-04 00:47] #675 closed, assigned to nobody

[2018-10-04 00:54] patrickmonteiro commented on #675
Basically, Quasar is a framework that uses Vue inside it.
With quasar-cli I can do a SPA, PWA, SSR, hybrid applications Android and IOS and desktop applications with Electron.
All this changing command in quasar-cli.

https://quasar-framework.org/

[2018-10-05 00:41] brockallen commented on #671
Can you show me where in the spec that is indicated?

[2018-10-05 00:42] brockallen commented on #672
I'm not sure. Sounds like you need to do some more investigation.

[2018-10-05 00:43] brockallen commented on #674
I suspect you need consulting support on your design.

[2018-10-05 00:45] brockallen commented on #617
Any update on this?

[2018-10-05 00:49] brockallen commented on #588
All set on this? Was that suggestion working for you?

[2018-10-05 00:52] brockallen commented on #642
This library doesn't support IE9. If you can polyfill to make it work, then great. But Microsoft doesn't even support IE9, so I can't be expected to. Sorry.

[2018-10-05 00:52] #642 closed, assigned to nobody

[2018-10-05 00:53] brockallen commented on #653
Any update?

[2018-10-05 00:53] #653 closed, assigned to nobody

[2018-10-05 00:53] #661 closed, assigned to nobody

[2018-10-05 00:53] #667 closed, assigned to nobody

[2018-10-05 00:54] brockallen commented on #670
Any update?

[2018-10-05 01:21] jbkly commented on #667
I ended up adding it to OIDC user manager settings.acr_values (https://ldapwiki.com/wiki/Acr_values) which worked for me.

[2018-10-05 03:54] raymondsze commented on #588
Yes, thanks.

[2018-10-05 03:54] #588 closed, assigned to nobody

[2018-10-05 08:25] mvrhov commented on #617
From my side no. But I do know, that the slient login fails pretty constantly in both FF and Chrome. To the point that it is almost unusable.

[2018-10-05 12:50] brockallen commented on #617
Well, your report is the only one, so as I mentioned before it will require more investigation on your side I think.

[2018-10-05 13:11] brockallen commented on #666
asn1 restored on dev. when i put out a preview, please test and let me know if you also need the asn1x509, please.

[2018-10-05 13:11] #666 closed, assigned to nobody

[2018-10-05 14:15] brockallen commented on #613
I found another confirmation of this being a bug in edge: https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/11324352/

I don't know if you have any updates on your end for this... but given that it seems like a bug in Edge, there's not much I can do I don't think, unless you have any ideas or workarounds.

[2018-10-05 20:29] brockallen commented on #654
I can make the check in the `querySessionStatus`, that makes sense. And I think it's ok to leave this check in the `SessionMonitor`:

[code]

because if the OP does not issue a `sid`, then the two undefined checks should be `true`.

I've made the change on dev, and once a beta/preview is out please test and let me know if it's working for you (I don't have a OP that doesn't issue `sid` to test wit

[2018-10-05 20:29] #654 closed, assigned to nobody

[2018-10-05 20:31] brockallen commented on #638
Pertinent to your `sid` issue: https://github.com/IdentityModel/oidc-client-js/issues/654#issuecomment-427489564

[2018-10-05 20:42] #638 closed, assigned to nobody

[2018-10-05 20:43] brockallen commented on #638
Also, I merged your PR. Thanks.

[2018-10-05 21:02] brockallen commented on #633
So it's funny -- I came into to see what I could do about this issue, and I re-tested IE11 with the sessionStorage cross-domain redirects and it's now working. So something must have changed such that they do not purge sessionStorage as aggressively as they used to. Unfortunately, Edge still has the old behavior, so it still purges sessionStorage.

So, what's to be done? I was hoping to change the

[2018-10-05 21:19] brockallen commented on #638
1.5.3-beta.1 was pushed to npm. please test and let me know how it's working.

[2018-10-05 21:19] brockallen commented on #654
1.5.3-beta.1 was pushed to npm. please test and let me know how it's working.

[2018-10-05 21:19] brockallen commented on #666
1.5.3-beta.1 was pushed to npm. please test and let me know how it's working.

[2018-10-05 21:26] brockallen commented on #633
@Deltids --

key: "localStorage", get: function get() { if (!testing) { return localStorage; } }

Where/when does this throw? When `localStorage` is accessed? So you mean in the get method?

I looked at where some error handling could be added, but to be honest if the exception is from the property above, then there's not much I can add. An exception is about the best thing. Handling the exception

[2018-10-05 21:55] Deltids commented on #633
When we access the site, during loading. On the first import of the oidc-client library, it fails on that function. We traced the line and character number in the main.......bunde.js-file. On 565176, the "return localStorage;" starts.

![image](https://user-images.githubusercontent.com/20363682/46561926-17b64300-c8fa-11e8-832c-272d151fa2a2.png)

[2018-10-06 11:40] brockallen commented on #625
Did you ever come up with a workaround for this?

[2018-10-06 14:47] chaholl commented on #625
Yes, I added an optional delegate to allow user defined validation - https://github.com/IdentityModel/oidc-client-js/pull/626

[2018-10-06 14:59] brockallen commented on #625
Ah, sorry -- I totally missed the link above for that. I'll have a look and think about that... what's an example of what your callback looks like?

What I'm trying to determine is when in your user's login workflow would you determine the right value? I guess since you don't know it before they go to the common endpoint, you'd only know it after the fact during response processing.

The reason I'

[2018-10-06 15:13] chaholl commented on #625
Sure, I added an example to the PR. It's basically a function that returns a boolean that indicates whether returned issuer is valid

[2018-10-06 15:13] brockallen commented on #625
So having looked at the code again, I think the natural way (given how this all was designed a while ago) is that you should be able to replace the ResponseValidatorCtor on the OidcClientSettings. So perhaps derive from the existing one (ResponseValidator) and build your own that overdies the getIssuer API.

IOW, no changes needed to the existing code since it seems that it can support what you're

[2018-10-06 18:09] cosmoKenney commented on #613
@brockallen

Might as well close this. Though I still think the dispatchEvent API could could be used to solve the problem. If I knew how to do a pull request, I would try it out. But I'm still noob at the whole GitHub thing.

[2018-10-06 18:24] brockallen commented on #613
I don't see how dispatchEvent would help... especially cross-window. What event would you want to trigger?

[2018-10-06 18:30] brockallen commented on #613
The other thing to look into -- Edge has odd behavior when it comes to websites running on localhost. Can you try it on a non-localhost host?

[2018-10-07 02:53] cosmoKenney commented on #613
@brockallen
You can send a custom event with dispatchEvent. So something along the along the lines of "the pop-up is done please close me" being sent by the page in the the pop-up to the window.parent of the pop-up. dispatchEvent is supported by pretty much all browsers.

As for testing edge in non-localost environment. I believe I did deploy to my QA server and that's were the problem was discove

[2018-10-07 14:34] brockallen commented on #613
Hmm, ok, I'll see if I can experiment with that.

[2018-10-08 08:10] nicklas669 commented on #672
We are experiencing the same issue... Everything works fine in Chrome but after logging in in IE, the userSignedOut event is raised right away, which logs the user out again because of the logic we have in the addUserSignedOut callback.

[2018-10-08 10:22] longsleep commented on #666
Still does not work. Error is now
[code]

It is because of https://github.com/kjur/jsrsasign/blob/d282c71cee92000c4807bcbf2212fedf3f22bd84/ext/ec-patch.js is not included (commented in https://github.com/IdentityModel/oidc-client-js/blob/dev/gulpfile.js#L126).

I checked and after also adding back `ec-patch.js`, EC signatures work.

[2018-10-08 11:54] nicklas669 commented on #672
@brockallen allow me to mention you.

To elaborate on my previous comment:
Our login works in Chrome but in IE we get the UserSignedOut event as soon as we return to the website from IDP.
I have done some digging, created a localStorage logger and logged the debug events. Some of the ouput can be seen in this pastebin: [https://pastebin.com/VKiMDJUx](https://pastebin.com/VKiMDJUx).

As you can see

[2018-10-08 14:07] brockallen commented on #666
Ok, I added that one back as well. Thanks

[2018-10-08 14:07] brockallen commented on #672
Sounds like IE security zones issues? The cookie is not working in the iframe in IE

[2018-10-09 07:53] nicklas669 commented on #672
Hi again, thanks for your answer!

I should give some more information. I am testing your OIDC-client in an Angular6 app in Internet Explorer 11.285.17134.0. The problem with being logged out was discovered when running the application in 'ng serve' mode on localhost.

Your comment inspired me to go into Internet Options > Security and play around with some settings. I found that unticking "Enable

[2018-10-09 10:44] longsleep commented on #654
Seems to work now even when the OP does not issue the `sid` claim :+1:

[2018-10-09 12:12] brockallen commented on #654
thanks for checking

[2018-10-09 12:25] gondzo opened #678 "CheckSessionIFrame should send client_id"
CheckSessionIFrame should contain the client_id query parameter in the frame url. This is required by some identity servers such as wso2is
Current:  https://<auth_server>:9443/oidc/checksession (raw url from the metadata endpoint)
Expected: https://<auth_server>:9443/oidc/checksession?client_id=<client_id>

Change should probably be implemented at https://github.com/IdentityModel/oidc-client-js/bl

[2018-10-09 12:43] brockallen commented on #678
That's not covered in the spec: https://openid.net/specs/openid-connect-session-1_0.html#ChangeNotification

[2018-10-10 10:41] PetrosA opened #679 "UserManager querySessionStatus() endless loop behavior on ng build"
Hi,
our application works fine with ng serve, even with ng serve --prod, but with ng build (also with --prod) it stops at the querySessionStatus() and it never returns.

oidc-client: "^1.5.2" and Angular 6

[2018-10-10 12:57] brockallen commented on #679
Can you repro with the samples?

[2018-10-10 20:24] Lyrencropt opened #680 "Check access token validity without silent sign-in"
Unsure if this is a feature request or a question, so apologies.

Right now I'm in a situation where, on my single-page application, a token might get revoked and I would need to refresh the page. I do this by checking to see if I get a 401 back from my API (I control both the API and the auth server, which is a PingFederate OIDC server). If I do, then I call signInRedirect and force them to log i

[2018-10-11 08:34] PetrosA commented on #679
[code]

When I go through this function in ng serve i jump after this line
`const sessionInfo = await this.mgr.querySessionStatus();` to the catch block.
On ng build it stays forever in this line and nothing happens anymore.

[2018-10-11 12:50] brockallen commented on #680
401 means you need to get a new token. If the API tells you this incorrectly, then it's broken.

[2018-10-11 13:11] Lyrencropt commented on #680
No, I agree, and that's something I'm looking at as an avenue to fixing it. Unfortunately most of the auth frameworks for .NET just issue Authentication.Fail on any problem with the server, so I just can't do much with that for now.

What I do have control over is what my front-end app does when it receives a 401. Is there any way to, using this library, to check the current state of our token in

[2018-10-11 13:54] brockallen commented on #680
Access tokens, by design, are opaque to the client. You could do something custom, but it would be beyond what the spec and this library is designed for.

[2018-10-11 13:58] Lyrencropt commented on #680
Okay, that's fair. Appreciate you taking the time.

[2018-10-11 13:58] #680 closed, assigned to nobody

[2018-10-11 16:34] buddhikapriya commented on #674
Appreciate for the feedback. We changed the design so the static app does not require initiating login.
Thanks.

[2018-10-11 16:34] #674 closed, assigned to nobody

[2018-10-12 17:29] jesseobrien commented on #670
Ended up going with this code instead for now to achieve what I wanted:

[code]

Thanks for the feedback!

[2018-10-12 17:29] #670 closed, assigned to nobody

[2018-10-12 19:00] VictorioBerra commented on #276
They do not show this in the official samples @franpsif https://github.com/IdentityServer/IdentityServer4.Samples/blob/release/Clients/src/JsOidc/wwwroot/app.js#L152

By default it gets `window.location.url`...   https://github.com/IdentityModel/oidc-client-js/blob/dev/src/UserManager.js#L289  then https://github.com/IdentityModel/oidc-client-js/blob/dev/src/RedirectNavigator.js#L23

[2018-10-12 20:42] anwalkers commented on #617
@brockallen @mvrhov I am getting the same error in both firefox and edge. It only happens when storage has not been established. On our site you can open a "Private" window in edge or firefox and replicate the issue.

We are getting stuck in our callback.html. The token is returned in the URL parameters from identity server and I know it is getting stored, since you can change the URL back to the

[2018-10-13 12:17] ghenadiibatalski commented on #337
After clearing the storage in chrome -> all options checked -> clear site date, the local/session storage is working again also in incognito mode (at least in chrome 69 ).

[2018-10-13 19:34] alx-andru opened #681 "New oidc-client library for Angular 6+"
Over the past months we've been using IdentityServer4 and implemented authentication for various Angular clients using oidc-client. We decided to open source the library we created initially for our internal usage. It basically wraps around oidc-client to be used in Angular as a shared module and being able to interact with the entire application in a reactive way.

Our goal was to maintain the fl

[2018-10-14 18:27] brockallen commented on #681
I updated the wiki with your link. Thanks!

[2018-10-14 18:27] #681 closed, assigned to nobody

[2018-10-14 18:28] brockallen commented on #617
If storage does not work, then there's not much I can do to solve this. We need some way to maintain state across the authorize request & response.

[2018-10-14 22:23] stjepan commented on #337
@ghenadiibatalski It is good to know your audience so that you can do a proper check on all browsers and devices. For us, this wasn't good enough, since we wanted to support ALL of our current customers (we did a rewrite and we didn't want our current customers to not being able to use the web page as before). And some of those were using elderly devices running Android that didn't played well wit

[2018-10-15 10:54] PetrosA commented on #679
Fixed the problem. It has nothing to do with iodc-client. It was a problem with the webserver itself.
Issue can be closed

[2018-10-15 10:54] #679 closed, assigned to nobody

[2018-10-17 14:06] fa10 commented on #617
I am experiencing the same issue on Firefox browser in private mode.

[2018-10-19 05:24] asharda1 opened #683 "Identityserver Logout"
HI,
what should be the Logout method on identity server to get user signout
Client app is Angular5 application with oidc-client library, It calls the Account/Logout/logoutId=
but this call is not hitting any method on identotyserver,
can you please do let me know the Account controller method on identityserver that will be responsible to logout the user and send him back to postlogouturl without s

[2018-10-19 08:58] longsleep opened #684 "Popup flows do not work in PWA cases"
When using oidc-client-js from a progressive web app, the popup mode for sign in and sign out are often the only ways to go (especially on desktop devices).

Since the authority is usually outside of the scope of a PWA, currently the logic in https://github.com/IdentityModel/oidc-client-js/blob/dev/src/PopupWindow.js#L24 where first a new window is openend without a url, to later set the url of th

[2018-10-19 12:40] brockallen commented on #684
Does PWA mean native app, or responsive web app (in the system browser)?

[2018-10-19 12:40] brockallen commented on #683
You want the end session endpoint.

[2018-10-19 17:12] tzongithub opened #685 "Change how popup lifetime is managed"
We're integrating AAD authentication in an Angular 5 app using oidc-client and popups.
With Edge and IE we've noticed an issue that the popups lose connection with the app as soon as the popup window navigates to the MS login URL. As a result the user can authenticate in the popup with AAD, gets redirected back to the app in the popup, but the popup remains open and the app is not notified.

The i

[2018-10-19 19:14] brockallen commented on #685
Sounds like a dup of this: https://github.com/IdentityModel/oidc-client-js/issues/613

[2018-10-20 20:06] ghost opened #686 "Allow silent renewal to log user in"
Would you be willing to make this same change for this library?

[don't overwrite prompt if provided for renewTokenSilentAsync](https://github.com/IdentityModel/oidc-token-manager/commit/a8c127b86e94109db3d23c1f43bca7219c7ae562)

[2018-10-20 20:12] brockallen commented on #686
why do you want to suppress prompt=none when the request is in a hidden iframe?

[2018-10-22 12:09] ghost commented on #686
The same reason as here. [Allow silent renewal to log user in](https://github.com/IdentityModel/oidc-token-manager/issues/12)

[2018-10-22 12:11] ghost commented on #686
If we use the "front channel" the angular app gets unloaded, the iFrame renews the external provider tokens in the background.

[2018-10-22 12:57] longsleep commented on #684
PWA is not a native app. It is using the browser but the browser renders a standalone window (no visual difference between a native app) and adds some additional restrictions and runes from a manifest (https://developer.mozilla.org/en-US/docs/Web/Manifest).

Among other things, the manifest defines a scope (https://developer.mozilla.org/en-US/docs/Web/Manifest#scope) for this particular pwa. Means

[2018-10-22 13:01] brockallen commented on #684
Does it use the system browser, or is the PWA an installed app. That's the difference. Just because it's HTML, CSS, and JS using an embedded browser, it still could be native.

[2018-10-22 16:21] longsleep commented on #684
Sure - How a PWA  is implemented depends on the particular platform. On Android for example a PWA creates a signed WebAPK on the fly via functionality in mobile Chrome. On Windows it uses the browser whichever was used to add/install the PWA (Chrome just recently introduced this with M70 on Windows).

Also a PWA can be embedded inside a native App using a web view which has support for loading the

[2018-10-22 17:18] brockallen commented on #684
I've heard people use the term PWA before, but I wasn't aware that it was more than or different than a corvoda/electron/etc style app.

What I really need to understand is the client token acquisition method and session constraints. IOW, if the client app runs in the system browser and the lifetime of the tokens should be scoped to the user's browser session, then this library is the one to use (

[2018-10-23 11:18] amojicamu commented on #486
You may run into this issue regardless of Edge version. Tested in Edge v41.16299.726.0. The problem in my case was indeed a cross-zone issue as @brockallen mentioned. It turns out cross-zone XMLHttpRequest redirect gets blocked by Edge.

I had the client app running at http://localhost:8632, the authority at http://authority.my.company.com

http://localhost is considered "Internet" zone, while htt

[2018-10-23 14:49] patrickmonteiro commented on #172
I can not solve this problem.

![erro-frame-window](https://user-images.githubusercontent.com/13258255/47369261-ac21f300-d6b9-11e8-92ee-2e0dd92baea5.jpg)

[2018-10-24 06:10] briankitt opened #687 "Is there a good working example of 'Register'?"
I am running the .NET Core Identity 4 server.

I have an Angular Application using OIDC Client working perfectly.  But I need the ability to register new users.  What is the proper way to use OIDC Client to register a new user?  This will be self registration.

I downloaded the samples, and did not see any sample of how to do a register.

Thanks

[2018-10-24 07:08] thorstenfleischmann opened #688 "revokeAccessToken Promise never returns on error"
Hi,

if there is a problem revoking the access token (i.E. CORS) with revokeAccessToken() the promise never returns. I think there is a "xhr.onerror" handler missing within the revocation client.

Thanks,
Thorsten

[2018-10-24 07:22] thorstenfleischmann commented on #688
Note: somehow Chrome seems to handle the error anyway. Noticed the problem only with IE11 and Firefox

[2018-10-24 11:18] Nat11 opened #689 "UserManager.js getUser() returning UserManager.getUser: user not found in storage even when user is logged in"
I logged in with my user using implicit flow, received the tokens, then clicked on get user, and got the following error message:
"UserManager.getUser: user not found in storage"

Any recommendations? thanks in advance.

[2018-10-24 13:58] oreporan commented on #555
@brockallen I'm trying to implement this suggestion. But using the `prompt` parameter doesn't do anything (I don't see it being added to the URL)

[code]

[2018-10-24 14:59] longsleep commented on #684
PWA's most of the time use the implicit flow since often there is no difference in behavior if it runs inside the browser as a normal web page or installed as a standalone app.

A developer can choose to use other behavior when inside a standalone context (eg. handling oidc from the service worker) but that makes little sense since the whole deal of the PWA thing is that it is not required to do m

[2018-10-24 15:59] brockallen commented on #687
That's beyond the scope of this library.

[2018-10-24 16:02] brockallen commented on #689
You mean in the sample?

[2018-10-24 16:04] brockallen commented on #688
not sure. you might have to debug more to get more info.

[2018-10-24 17:30] briankitt commented on #687
Where do I ask this question then?  I simply want to know how to use this library to register a user?

[2018-10-24 18:53] thorstenfleischmann commented on #688
What kind of information do you need? I noticed that after revoking a token with this method the promise did not return because of a CORS error at the revoke endpoint. Of course the server should also be configured correctly. But I would expect the promise to be rejected in this case.

I think there is a xhr.onerror callback missing:

https://github.com/IdentityModel/oidc-client-js/blob/dev/src/To

[2018-10-24 21:42] brockallen commented on #688
possibly. i will have a look when i can.

[2018-10-24 21:44] brockallen commented on #687
Well, what you're asking is beyond what the OIDC spec does. If you're looking for consulting help, then that's one approach: http://identityserver.io/#services

[2018-10-25 15:59] greencash commented on #339
@brockallen also there is no mention of `userSessionChanged` event anywhere in docs. Occasionally found it in source.

[2018-10-26 02:51] jishaal opened #690 "Popup flow does not work in Edge from within an iFrame"
The root cause of this issue may be the same as what is described in #684

When the popup flow is initiated from within an iframe, in Microsoft Edge a `Permission denied` error is thrown due on the line the url of the window is being set.

https://github.com/IdentityModel/oidc-client-js/blob/f2c760d3dda9a5e2406feca78fe37ca8ea1ee85d/src/PopupWindow.js#L52

Playing around with some code locally, if

[2018-10-26 03:34] jishaal commented on #690
I just realised a similar question was asked here for different reasons - https://github.com/IdentityModel/oidc-client-js/issues/649

Would you have any suggestions to get around the cross-origin issue in Edge?

[2018-10-26 07:30] kgonia opened #691 "Support for automatically resolve scheme, domain and port with double-slash //"
During configuration of oidc-client authority url must be specified. Library handles only full URIs like:

https://localhost:8443/auth/realms/mayapp/

Is should work also for URIs like this:

//auth/realms/mayapp/

and resolve scheme, domain and port ans use the same on which fronted application is available.

It will help build system where We have dynamic IP address and authority server is deplo

[2018-10-26 08:26] Buggytheclown commented on #627
Have the same problem. Found that inAppBrowser (on windows only) does not fire `loadstart` event after response with redirect so oidc-client can't complete login process and close the window.

As hotfix we decide to reload the page after redirect.

[2018-10-26 10:01] piehouserat opened #692 "SilentRenewError Event never hit"
We've got silent renew all working in our app and the default session timeout duration on our OP (id server 3) which I believe is 8 hours. I notice that if I leave the application logged in overnight it will successfully silent renew 8 times each time extending the access token by an hour (circa 3600 seconds) as can be seen by this logging

[code]

but the 9th time the client tries to silently ren

[2018-10-26 11:14] shriharry commented on #689
Yeah I am also facing same issue. When user is logged in using implicit flow.  I am triggering silent renewal on `addAccessTokenExpiring' event. So when token is getting renewed i get message "UserManager.getUser: user not found in storage" but new token generated successfully.

Not sure what causing this..Any advice?

Thanks

[2018-10-26 12:32] brockallen commented on #691
I don't think this is something that makes sense to add here -- ambiguity in the authority is a security issue.

[2018-10-26 12:32] #691 closed, assigned to nobody

[2018-10-26 13:36] kgonia commented on #691
I disagree with you - in this case authority must be in same scheme, domain and port to make this work. And it's correct according to rfc1808 - https://tools.ietf.org/html/rfc1808

[2018-10-26 22:14] morganney commented on #570
I think there is confusion here because the [documentation](https://github.com/IdentityModel/oidc-client-js/wiki) for the `userStore` optional setting says that `sessionStorage` is the default, but the original question was about clearing `localStorage`.  So, if you used the default storage for `userStore` but want to clear entries in `localStorage` using `clearStaleState` you need to pass an inst

[2018-10-26 22:20] brockallen commented on #570
For those, yes -- that's where the nonce/state is stored. localStorage is used (instead of sessionStorage) since in IE/Edge they flush sessionStorage when the browser changes hosts/domains. So in short, we need to use localStorage for the nonce/state piece to survive the round trip.

The user's session is in sessionStorage (by default).

[2018-10-26 22:20] brockallen commented on #691
Thanks for the reply. We'll have to agree to disagree.

[2018-10-26 22:53] morganney commented on #570
Thanks for the timely response.

Perhaps the documentation or samples could be updated to indicate that `siginSilent` methods make use of `localStorage` by default so making use of `clearStaleState` _requires_ an argument of `WebStorageStateStore` pointed at `localStorage` to remove those entries (using default settings)?

It wasn't particularly clear and I only stumbled upon the right solution af

[2018-10-28 01:47] john1452 commented on #371
Hi @robbaman were you able to find what the issue was? I am using angular 1.5 and having exact issue.
When I log out they the oidc.<Entries> are not cleared and on login more entries are added to the local storage.

[2018-10-29 00:08] Robban1980 commented on #371
@john1452 in my logout script i run the clearStaleState() function, which removes the old entries.

[2018-10-29 06:50] nandishss opened #693 "Configuring multiple redirect uri for clients from oidc client"
Hi Github community,

in IdentityServer4 is there a way we can configure multiple redirect uri at client side. currently redirect_uri accepts string. As we are are confuguraing sub domains in our application, the request may come from any of the source (viz subdomain1.app.com, subdomain2.app.com ..) will hit localhost:5000 .

Request the community help for the above scenario. The similar question

[2018-10-29 07:03] john1452 commented on #371
@Robban1980 Thanks a lot! it works

[2018-10-29 13:22] Nat11 commented on #689
Hi @brockallen , yes in the sample app VanillaJS.
I do a silent sign in with iframe after signing in main window, i get the expected behavior in console :
![image](https://user-images.githubusercontent.com/16664438/47652505-64520e80-db86-11e8-843d-cf33dc68e97d.png)

But when i query user session status, i get this even though the user is logged in:
![image](https://user-images.githubusercontent.co

[2018-10-29 15:06] fateh14 opened #694 "Single signOn: Check if an existing session is valid to login the client directly"
i have 2 angular apps using the same identity provider, is it possible to check that there is a valid session to manually redirect the user to a login page with a button if no session or proceed the login in case of a session is valid after a previous login from another client

[2018-10-29 16:35] Meertman commented on #651
I had the same problem, but unlike @aguerot and @AndrePinto-NET, mine was not resolved by specifying:
options.CheckConsentNeeded = context =>  !context.Request.Path.StartsWithSegments("/connect/") && !context.Request.Path.StartsWithSegments("/api/");

After some troubleshooting, I found out that the following does work:
options.CheckConsentNeeded = context => !context.Request.Path.StartsWithSegmen

[2018-10-29 16:37] Meertman commented on #663
@spike008t, by specifying the CookiePolicyOptions in the UseCookiePolicy, you are actually overwriting the behaviour from app.Configure<CookiePolicyOptions>.

I've added a comment to #651, but basically this is what I did:
options.CheckConsentNeeded = context => !context.Request.Path.StartsWithSegments("/connect") && !context.Request.Path.StartsWithSegments("/api");

By not specifying the end '/'

[2018-10-29 18:08] brockallen commented on #689
Did you click the "end signin main window" button?

[2018-10-29 18:08] brockallen commented on #694
querySessionStatus

https://github.com/IdentityModel/oidc-client-js/wiki

[2018-10-30 22:58] dashkan commented on #552
Hi @brockallen ,

Great job on the project.

Would be great if you could add authorization code workflow support to aide native electron apps. I see that it has been marked for 1.6.0. I am just trying to figure out if I should wait or use oidc-client-js for implicit and AppAuth-JS for code workflow. Do you have an ETA for 1.6.0 alpha/beta? I am more than happy to help.

Regards

[2018-10-31 09:48] Nat11 commented on #689
Yes i did but it does not resolve it.
Now i notice, when i sign in in main window using implicit flow, i get the access token in callback but i get "UserManager.getUser: user not found in storage", it seems the storeUser function is not working as expected.
![capture](https://user-images.githubusercontent.com/16664438/47783937-6b9f2680-dd04-11e8-8789-8ac83fb466e2.PNG)

[2018-10-31 13:21] jakobeissler opened #695 "Failed to execute 'postMessage' on 'DOMWindow'"
I'm facing the exact same error as described here: #303

As soon as i set monitorSession to false, the error goes away.

I'm using version 1.5.3

[2018-10-31 13:21] jakobeissler commented on #303
I'm still getting this error in version 1.5.3. I've openened another issue: #695

[2018-10-31 16:55] brockallen commented on #689
Not sure then -- i test that on all the browsers on my machine and they're working.

[2018-10-31 16:56] brockallen commented on #552
No ETA, unless your company is interesting in sponsoring that feature?

[2018-10-31 17:26] brockallen commented on #686
I just did something like what you're asking for: https://github.com/IdentityModel/oidc-client-js/commit/2f5d81feeade9c7699505718a32f616fc776f613

[2018-10-31 18:15] #686 closed, assigned to nobody

[2018-11-01 04:28] dashkan commented on #552
That is definitely an option. I'll send you an email with my contact details.

[2018-11-01 14:46] tommed commented on #413
**WARNING: Hacky idea alert!**...
Manually fetch `https://login.microsoftonline.com/common/discovery/keys` and save to your local server. Then make a request to your own server by editing your oidc configuration. Ours looks like this:

[code]

[2018-11-01 17:48] christiansyoung opened #696 "Silent renew fails in IE11"
React/Redux app using redux-oidc wrapper with IdentityServer3 as IdP.

**This is only happening in our deployed Azure Web App environment, it works with localhost when using the exact same webpack config, same IdentityProvider etc.**

No errors in console apart from a known Access Denied on `checksession` which I also get when it is working on localhost.

Reproduced in IE11 both in Windows 7 and W

[2018-11-01 23:58] brockallen commented on #696
same site cookies, or cross security zones (ie feature) are the two things i can think of

[2018-11-02 00:01] brockallen commented on #413
I know you all know, but in prod please use HTTPS URLs.

[2018-11-02 09:19] christiansyoung commented on #696
Managed to reproduce it locally with etc/hosts entry now. Our Idp is at auth.example.eu, when I serve my app as app.example.eu, it works. If I serve it as app.example.no, the error occurs.

Seems to be a content security zone issue due to corporate policies, found some other workstations that it looked okay on.

This seems to explain it somewhat: https://docs.microsoft.com/en-us/skype-sdk/websdk/d

[2018-11-02 09:31] tommed commented on #413
and as this is information for the client, probably best not redirect them to `localhost` either lol 😆

[2018-11-02 13:42] brockallen commented on #696
Yes, if they're not in the same zone then IE won't send cookie, thus the iframe won't work properly.

[2018-11-02 15:58] mknet3 commented on #689
I have the same problem with implicit flow, the login is successful but when i try to get user the returned value is always null....

[2018-11-05 08:57] Nat11 commented on #689
@manuelcaub  It is indeed a weird behavior, i also noticed when you login successfully, do a silent signin using iframe, then click on getUser, it will return the user successfully from local storage.. But if you click on getUser directly after signin main window, it's returning null like you said.

[2018-11-05 15:31] christiansyoung commented on #696
A small update for others that might struggle:
by using `alt + f + r` you can view what zone a page is in. I found out that our IdentityServer is in "Local intranet | Protected Mode: Off" and our web app is in "Internet | Protected Mode: On".

I am in the process of trying to remove the IdentityServer from the intranet zone, hopefully that will solve this.

[2018-11-05 16:14] mknet3 commented on #689
@Nat11 thanks for your answer. In my case I have solved it calling signinRedirectCallback if the user is null
[code]

[2018-11-06 15:58] PostImpatica commented on #277
I got this error trying to mix this client (oidc-client.js) with the angular-auth-oidc-client package.  I didn't realize I was mixing the two and this came about from hours and hours of googling trying to get authentication working.  So I removed this callback page completely and went back to following the instructions on the angular-auth-oidc-client wiki.

[2018-11-07 12:55] Nat11 commented on #689
Hi @manuelcaub, thanks for your reply. Where did you exactly add your code ?

[2018-11-07 13:38] Nat11 commented on #689
Hi @manuelcaub , thanks for your reply. Does this code you put replace the existing getUser() in UserManager.js ? can you please give more details... Thanks.

[2018-11-08 15:56] Pycnomerus commented on #692
Don't know if it's misconfiguration but i'm experiencing the same thing, the whole silent process flow work's 3-4 times then i get a connection canceled and the iframe timeout.

so your not alone.

[2018-11-08 15:59] fuzzzerd commented on #219
Perhaps I was just not having good googlefoo to find a definitive source for this; but this seems like a pretty common scenario and this solution should be elevated in the documentation.

[2018-11-08 22:35] brockallen commented on #692
when you get this, then for some reason the token server is prolly showing an error page. check the logs.

if the user is anonymous or their session has logged out, and there's no error then it should not be on an error page and should return immediately with a login_required error.

what token server are you using?

[2018-11-10 01:28] lyxhaven opened #697 "signinSilent throws error: End-User authentication is required"
Hi,

I tried to implement silent review but got this error thrown: ``````

[2018-11-10 01:28] lyxhaven opened #698 "signinSilent throws error: End-User authentication is required"
Hi,

I tried to implement silent review in my react app with `oidc-client-js`, but got this error thrown:
[code]
Here is part of the code:
UserManager.js
[code]
Slient.js:
[code]

The error was thrown in the callback of `signinSilent` method. I have no clue what this error means. Any idea ?

[2018-11-10 17:16] brockallen commented on #697
dup: #698

[2018-11-10 17:16] #697 closed, assigned to nobody

[2018-11-10 17:16] brockallen commented on #698
This tells you the problem: the user is not authenticated at the token server.

[2018-11-10 23:40] lyxhaven commented on #698
But this all happened during silent renew, after the user has already signed in (Authenticated). So that's what I'm confused. Did I miss anything?

[2018-11-11 01:58] brockallen commented on #698
Don't know -- check the token server logs. Check the http request for the cookie.

[2018-11-11 15:12] brockallen commented on #693
What are the exact steps to repro this?

[2018-11-11 15:14] brockallen commented on #690
Sorry -- this fell thru the cracks. So your client is in an iframe, and it's trying to do signInPopup with oidc-client? I don't know what issues you will have (seems there are some given your post), and that's not a scenario we designed for. Is it an edge only issue? If so, I bet it's a cross-security zone problem.

[2018-11-11 15:14] #678 closed, assigned to nobody

[2018-11-11 15:14] brockallen commented on #695
Can you consistently reproduce this? If so, what are the exact steps?

[2018-11-11 15:21] brockallen commented on #617
I just tested private mode in chrome, FF, and edge and they're all working.

[2018-11-11 15:22] #625 closed, assigned to nobody

[2018-11-11 15:23] brockallen commented on #627
Did anyone on this thread have a suggestion via a PR to address this? If not, I will close. And if you still have an issue, it sounds like @Buggytheclown's approach is a workaround.

[2018-11-11 15:24] brockallen commented on #671
Closing. The spec indicates base64Url encoding, not base64. If your servers use base64, then they aren't spec compliant.

[2018-11-11 15:24] #671 closed, assigned to nobody

[2018-11-11 15:25] brockallen commented on #672
All set here? Can we close?

[2018-11-11 15:25] #683 closed, assigned to nobody

[2018-11-11 15:28] brockallen commented on #685
I just tested edge with signin popup and it's working. Perhaps they did an update?

[2018-11-11 15:28] #687 closed, assigned to nobody

[2018-11-11 15:42] brockallen commented on #688
Fixed, thanks for the heads up!

[2018-11-11 15:42] #688 closed, assigned to nobody

[2018-11-11 15:43] brockallen commented on #689
Where are we with this issue? In all of my testing, the samples are working.

[2018-11-11 15:44] #694 closed, assigned to nobody

[2018-11-11 15:44] brockallen commented on #696
Any update on this? Since it sounds environmental, can we close this issue?

[2018-11-11 16:19] brockallen commented on #633
@Deltids -- again, I went into to try to address this, and the exception is being thrown from a ctor. I think the only way to deal with this is for your top level code to wrap the `new UserManager` call in your own try/catch. Unless you have some better ideas, I don't see a way to make this cleaner. Sorry.

[2018-11-11 21:07] jishaal commented on #690
Hi @brockallen, thanks for getting back to me appreciate it

Correct, the client is in an iframe and using `signinPopup` with `oidc-client` results in a Permission error. Also correct that it's an Edge only issue.

I have created a small repro of the issue isolating to the code that causes this error. Have linked both this and the code within this library below

## Codepen
https://codepen.io/jisha

[2018-11-12 01:39] brockallen commented on #690
I suspect the solution will be to ensure the two domains are in the same security zone in IE.

[2018-11-12 09:22] nandish-carbon commented on #693
Hi @brockallen, Thanks for the reply.

1. We have configured our main application with multiple bindings such as
client1.domain.com: 92
client2.domain.com: 92 .. so on

When we try to access through above subdomains we get the error like "Error: No matching state found in storage", we feel it is due to redirect URL's not matching with the client URL provided in identity configuration.

However whe

[2018-11-12 09:24] nandishss commented on #693
Hi @brockallen , Thanks for the reply.

1. We have configured our main application with multiple bindings such as
client1.domain.com: 92
client2.domain.com: 92 .. so on

2. When we try to access through above subdomains we get the error like "Error: No matching state found in storage", we feel it is due to redirect URL's not matching with the client URL provided in identity configuration.

However

[2018-11-12 10:45] mweibel commented on #628
Aside from the replacement of `jsrsasign`, I wonder if this library should specify `"module": "index.js"` in `package.json` so that ES6 imports are used (for those using a bundler which understands it)?

[2018-11-12 11:43] jakobeissler commented on #695
I'm sorry, i'm not usint oidc-client anymore.

[2018-11-12 11:43] #695 closed, assigned to nobody

[2018-11-12 15:12] christiansyoung commented on #696
Yes, I am still waiting for the policy to change. I can post an update if it solved the issue, but the issue can be closed.

[2018-11-12 15:12] #696 closed, assigned to nobody

[2018-11-12 16:36] brockallen commented on #693
client1.domain.com: 92
client2.domain.com: 92

If your user starts at one then is redirected back to another, then the "no state" error makes sense. For the protocol flow, state needs to be maintained from the request to the response, and by default localStorage is used. This storage is scoped to the origin, so starting at one and redirecting to the other is not going to work.

[2018-11-12 16:38] brockallen commented on #628
Yes, this will be done in the next major version (#578), as it will be a breaking change.

[2018-11-12 21:21] lyxhaven commented on #698
It's `OneLogin`, so I don't have any visibility to the logs. And the cookie in http request doesn't contain  `id_token`. I feel like `OneLogin` doesn't support silent renew, does it (I guess it doesn't recognize the `id_token_hint` in the request so it doesn't recognize the authenticated user) ?

[2018-11-12 21:23] brockallen commented on #698
No idea -- I've never heard of them. But if they support OIDC, I don't know why it would not work. You will have to check with them and find out about errors.

[2018-11-13 06:50] nandishss commented on #693
Thanks for the response, question i have is will we not be able to use identity server for application where we would use subdomains(to support multi-tenancy).

Is there any workaround to achieve this.

Thanks in advance for your time.

[2018-11-13 12:09] asharda1 opened #699 "Cookies and ODIC_CLient"
HI,

We have 2 angular application pointing to same Identity Server,
When user logged in with one application in the browser it stores cookies in the local storage -one with the local storage and second with the authority name,
now as both the application points to same authority the cookies saved with authority is shared and in second application the token of previous application is accessible.
a

[2018-11-13 13:39] brockallen commented on #693
Each domain can do its own signin. It should work without prompting the user due to SSO.

[2018-11-13 13:40] brockallen commented on #699
I don't understand. What is the question?

[2018-11-14 04:06] asharda1 commented on #699
my question is - Some cookies are written back to the client by identityserver with default name of identityserver URL.
as same identityserver is shared between my 2 application, user is not asked for login in the second application if he is logged in in to one application..
is it the expected behaviour??
where as there is nothing common in these 2 applications apart from they shares the same iden

[2018-11-14 09:48] wolfmarco commented on #583
I have the same Issue with Angular 6 and the newest oidc-client Version 1.5.4

It only works with Version 1.5.0.

From 1.5.1 it does not work anymore.

[2018-11-14 10:06] ioantoader commented on #583
I work with 1.5.2 and angular 6 and is working fine

[2018-11-14 10:42] nandishss commented on #693
ok. Thanks for the clarification.

Thanks
Nandish

[2018-11-14 12:47] #693 closed, assigned to nobody

[2018-11-14 12:47] brockallen commented on #699
That's the point of SSO.

They trust the same identity provider, so of course that's fine. Think about 2 unrelated apps that use google for signin. I, as a user, will only login once and that makes sense.

Now if those apps are third-party to the identity provider, then you should enable consent so the user knows what's happening.

[2018-11-14 13:38] vaarenyam commented on #98
It would indeed be nice to get to know the resolution to this issue.

[2018-11-14 14:15] vaarenyam commented on #498
@pengweiqhca Can you please elaborate on the resolution

[2018-11-15 08:53] anandvnath opened #700 "Using OIDC client for OAUTH"
From OidcClient.js and OidcClientSettings.js, looks like this library supports OpenId. Is there a way to configure this for OAUTH, where I can provide authorizationEndpoint, tokenEndpoint etc separately (not the openId way).

[2018-11-15 08:56] anandvnath commented on #700
This is a question. I am not able to add the appropriate label to this issue.

[2018-11-15 09:26] anandvnath commented on #700
I also want to ask if I can use the library with require? Can I somehow 'require' the OidcClient?

[2018-11-15 15:07] brockallen commented on #700
Yes, you can use it just for OAuth2. Just request "token" instead of "id_token token" for the response type.

[2018-11-15 18:45] lyxhaven commented on #698
I think we can close this. I opened a case in OneLogin and they just released a new version that supports silent renew two days ago. We are still debugging the issue now but I don't think it's something related to here. Thanks for looking !

[2018-11-15 21:43] #698 closed, assigned to nobody

[2018-11-16 09:05] #700 closed, assigned to nobody

[2018-11-16 11:17] kneazi2013 commented on #583
ResponseValidator.prototype._validateIdToken::_validateIdToken **this._joseUtil.parseJwt**

Exception: TypeError: 'caller', 'callee', and 'arguments' properties may not be accessed on strict mode functions or the arguments objects for calls to them at Function.remoteFunction (<anonymous>:2:14) at e._validateIdToken

[2018-11-16 12:14] stg609 opened #701 "oidc-client SSR issue "window is not defined""
When I tried to use the oidc-client (1.5.4) with the Microsoft Asp.net Core React and Redux template in VS 2007, it raises an exception said "window is not defined". And, the exception message like below is not such obvious.

NodeInvocationException: Prerendering failed because of error: ReferenceError: window is not defined
at Object.exports.__esModule (C:\xxx\ClientApp\dist\main-server.js:937:21

[2018-11-16 15:57] brockallen commented on #701
Is this JS running on the server?

[2018-11-16 18:42] brockallen commented on #617
Any update on this? If not, then I would like to close this issue.

[2018-11-16 18:43] brockallen commented on #627
No updates?

[2018-11-16 18:43] #672 closed, assigned to nobody

[2018-11-16 18:43] brockallen commented on #685
Any update?

[2018-11-16 18:44] #689 closed, assigned to nobody

[2018-11-16 18:44] brockallen commented on #690
Any update on the security zones?

[2018-11-16 18:44] brockallen commented on #692
Any update?

[2018-11-16 21:48] jishaal commented on #690
Hi Brock, sorry I have had other priorities this week so haven't been able to investigate security zones further. I'll get back to you early next week, thanks

[2018-11-17 02:48] stg609 commented on #701
Yes, I think so.
As the **Asp.net Core React and Redux template** is using SSR, the **Home.tsx** will be rendered on the server side firstly. Also, as you can see the **Home.tsx** requires the "**oidc-client**" module to be imported before rendering, that will cause the issue.

[2018-11-17 04:59] hemanandr commented on #537
Is it safe to set the event raise to true??

[2018-11-17 14:21] brockallen commented on #701
that explains it then.

[2018-11-19 06:33] micha149 opened #702 "Handling error responses from signin request"
I'm trying to properly handle errors from a signin request. The user comes back with URI parameters `error` and `error_description`, but the client library throws an `Error` instance with message `No state in response`. Maybe its an error in our OAuth service, that no state is passed in error cases. So I added an proper state id from my local storage. Now the error is `No id_token in response`, bu

[2018-11-19 12:37] tzongithub commented on #685
I could reproduce the issue with this version of Edge:
Microsoft Edge 41.16299.666.0
Microsoft EdgeHTML 16.16299

For IE the simple repro above does not work, because the Angular sample app won't load in IE (exception in _for-of.js (14,1)). But the issue was also reproducible with IE in a more complex app by QA.

[2018-11-19 16:22] brockallen commented on #702
No state means there's some issue logging in (perhaps config issue) -- check the logs. The error param is a protocol response from the token server, and not the same as an error in handling the response. They are surfaced in the same way, given that we only have promises to report "errors".

[2018-11-20 01:34] lyxhaven commented on #698
I have a follow-up question: After OneLogin released their support for silent renew a week ago. The same code got a different error now: `error while renewing the access token Error: id_token_hint and authenticated subject do not match`. I reached out to their support and they said the issue can be resolved if I remove `id_token_hint` from the silent renew request since they don't support it and i

[2018-11-20 08:28] micha149 commented on #702
I understand that error handling throws and `Error`. That is not problem I am trying to report.

As I mentioned above, passing the correct state and error params leads to an `Error('No id_token in response')` instead of something like `ErrorRespsonse('invalid_request')`.

The passed query params are:

    ?error=invalid_request&error_description=No+referer&state=e305dc8ca0aa4b5781fcec23256343b6

[2018-11-20 14:36] brockallen commented on #702
Ok, I will see if I can repro the issue. I was under the impression it handles error responses properly... but might be a bug.

[2018-11-20 21:37] jishaal commented on #690
From what I can see, Microsoft Edge does not have security zones or handle it the same way it does in IE11.

The fact that it works in IE11 and not Edge means its more of a browser bug similar to https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/19337086/

It would be great however if there was a workaround that you could recommend

[2018-11-21 04:12] mttamaa opened #703 "ResponseValidator _mergeClaims not work as expected"
Here is the case if I define my custom claims. For example, this is the full user payload
[code]
After login and get the user profile using Oidc.UserManager.getUser().  Follow data will be reture and found that the 'custom' field become array.
[code]

Deep dive into the code and found out ResponseValidator._mergeClaims not work as expected. I extract the code fragment and do a test
[code]

The res

[2018-11-21 09:21] pengweiqhca commented on #498
@vaarenyam
[code]

[2018-11-21 16:50] rodolfocop opened #704 "Problems with redirect logout after opening new browser"
Hello, I'm having problems with signoutRedirect, after opening new browser window of my application.

Example that is working:
- Access my API, after authentication it is redirected correctly to my front-end.
- I click on logout it sends to my API and the correct redirect to my front end

Example that NOT working
- Access my API, after authentication it is redirected correctly to my front-end.
- I

[2018-11-22 05:57] micha149 commented on #702
@brockallen yes, the handling code appears only in `processSignoutResponse` not in `processSigninResponse`.

[2018-11-23 10:58] Webritter commented on #701
is there any solution for this?

[2018-11-23 11:22] piehouserat commented on #692
Token server is IdentityServer3, I will pull the logs on Monday and update here with any relevant errors

[2018-11-26 14:24] PrabakarKaruppasamy opened #705 "How to pass the route parameter in redirect_uri"
Hi All,

I would like to pass the route parameter into redirect uri. How can we pass the params into redirect uri

[2018-11-26 18:56] brockallen commented on #705
use the `state` param

[2018-11-26 19:34] PrabakarKaruppasamy commented on #705
Thanks for your valuable response. I am newbie to this. Could you please share any example for this

[2018-11-26 19:57] brockallen commented on #705
https://github.com/IdentityModel/oidc-client-js/blob/dev/samples/VanillaJS/public/oidc-client-sample.js#L37

[2018-11-27 08:54] PrabakarKaruppasamy commented on #705
Is it support for Angular 6?

[2018-11-27 12:41] brockallen commented on #705
It's an ES6 module, so yes.

[2018-11-27 12:41] #705 closed, assigned to nobody

[2018-11-28 20:20] benpolinsky commented on #427
Perhaps this should be revisited: https://medium.com/oauth-2/why-you-should-stop-using-the-oauth-implicit-grant-2436ced1c926

[2018-11-29 06:45] tipsanemonk commented on #625
@brockallen can you provide a little more detail on how this be accomplished?

[2018-11-29 07:03] tipsanemonk commented on #625
@brockallen can you elaborate a bit on how ResponseValidator can be extended ?

[2018-11-29 07:07] tipsanemonk commented on #625
@brockallen Is it possible for you to elaborate the idea of setting the custom ResponseValidator

[2018-11-29 09:15] tipsanemonk commented on #625
@brockallen Is it possible for you to elaborate the idea of setting the custom ResponseValidator by extending the existing.

[2018-11-30 05:51] iamkarthikrana commented on #625
Hi @brockallen Is it possible for you to elaborate a bit more on the idea of extending ResponseValidator for achieving this. Maybe with a small example?

[2018-11-30 16:09] anwalkers commented on #617
@brockallen The issue manifests itself differently on different machines in different browsers. When I find a reproducible test case I’ll submit a new issue. I would close it. My guess is a timing issue...

[2018-11-30 17:35] brockallen commented on #617
Ok, thanks for the update. If you can find a consistent repo, let me know. Thanks.

[2018-11-30 17:35] #617 closed, assigned to nobody

[2018-11-30 18:32] #704 closed, assigned to nobody

[2018-12-01 13:25] happy-dev opened #706 "Dynamic client registration"
Hi guys,

Thank you very for this great lib.
Saved us a lot of implementation time of the WebID-OIDC standard.

The spec says that **dynamic client registration** is feasible.
My understanding of it is that a Relying Party can ping the OIDC provider and receive a `client_id` dynamically, without having to manually pre-register the Relying Party to the Identity Provider.

I have searched for that f

[2018-12-01 13:54] brockallen commented on #706
Dynamic client reg is a separate and optional spec. This library does not implement it, but to be honest from the client perspective it's just a single HTTP request, so you most likely don't need a library.

Having said that, I'm not sure a client-side browser JS app would make sense to do as a dynamic client.

[2018-12-02 01:34] nivre commented on #471
Thanks for posting this question. The problem I'm having with "signoutRedirect()" when the project has multiple NavBar pages that contain "Sign-Out" links for the user to click. The Default page that allows users to SignIn and SignOut did not have any issues with the "signoutRedirect()". However, when the user is authenticated and redirected to an admin dashboard page that has the 2nd NavBar page

[2018-12-02 09:03] Lieblein opened #707 "Generic ProfileType in index.d.ts"
It would be cool to determine the type of user profile.
For this you need to replace [it](https://github.com/IdentityModel/oidc-client-js/blob/dev/index.d.ts#L279)
[code]
with this
[code]

These changes will not break backward compatibility, because the default value of ProfileType is defined as any.

[2018-12-03 11:14] guillaumebdx opened #708 "keep url parameters after redirect"
Hello,
How to pass url parameters in  signinRedirectCallback ?
I don't find it into the documentation.

I have this
http://my-app.local?user=1234

But my authorized redirect_uri is only http://my-app.local

So if I go to http://my-app.local?user-id=1234 the redirect will be http://my-app.local and I will loose my 1234 parameter.

Thanks for your help.

[2018-12-03 15:40] brockallen commented on #708
use the state feature: #705

[2018-12-03 15:40] #708 closed, assigned to nobody

[2018-12-03 15:49] naren-bellala commented on #666
I am still facing the same issue with EC signature validation. Has this been fixed in 1.5.4?

[2018-12-03 17:21] longsleep commented on #666
It should work with 1.5.3.

[2018-12-03 20:45] jdhenckel commented on #593
I had the same problem. Silent refresh was called many times when I started my app. It was a bug in my code. When your app is starting for the first time, make sure that you call signinSilent() and you MUST WAIT for the promise to resolve before you try to proceed with the app startup.  Otherwise (in my case) the app startup was fetching a lot of stuff concurrently and getting a new token for each

[2018-12-03 23:12] BKB503 commented on #576
Hey @mastertinner  I'm using this library with AWS cognito can you please share me how did you fix this issue , Error : Unexpected id_token in response

[2018-12-04 09:31] cloudlena commented on #576
We ended up using AWS' own https://aws-amplify.github.io.

[2018-12-04 09:42] BKB503 commented on #576
@mastertinner is with custom identity provider?

[2018-12-05 09:19] MunazzahNawaz opened #709 "While doing silentRenew token manually I get "Frame window timed out""
I have checked many links but no solution worked for me.
I am using oidc-client in angular 6 app and I am calling
this.userManager.signinSilent(); to refresh tokens, and getting "Frame window timed out" error. I have checked all redirect Uris also and everything seems to be OK. here is my config:

{
authority: 'https://localhost:44360/',
client_id: 'SPA_Client',
redirect_uri: 'http://localhost:420

[2018-12-05 13:58] happy-dev commented on #706
Well, I understand your response but I'd prefer it to be handled by the lib instead of having to implement the HTML call outside of it.

I heard you though. I'll dig into it.

[2018-12-05 14:28] brockallen commented on #709
That means the token server is showing some UI in the iframe. Check the token server logs and/r trace the http requests in the iframe.

[2018-12-05 14:29] brockallen commented on #706
Well, as you dig into it maybe if it is simple enough you could submit a PR for a `DynamicClientRegistrationClient` class?

[2018-12-05 14:53] happy-dev commented on #706
For sure.

If we decide to go through the library, we will contribute

[2018-12-05 23:19] guillaumebdx commented on #708
Thanks

[2018-12-06 07:00] activebiz opened #710 "User gets redirected to the home page after page refresh"
Hi,

User can login to the app and the token is valid. But if user is in any other routes and user do page refresh on the browser, it redirects back to the home page instead of persisting on that route.

For e.g. if user is on `/accounts/items` and do page refresh he gets redirected to `/`. Following are the console log when user refreshes the page.

[code]

Any idea?

[2018-12-06 07:46] activebiz commented on #710
This is non issue. Please close this. It was me not handling auth correctly for components. Apologies for this.

Thanks

[2018-12-06 07:46] #710 closed, assigned to nobody

[2018-12-07 10:24] longsleep commented on #666
I checked and ES256 validate just fine with 1.5.4

[2018-12-07 10:25] naren-bellala commented on #666
Thanks everyone. 1.5.4 works fine.

[2018-12-10 01:28] brockallen commented on #552
code flow (with pkce) has now been implemented on the dev branch and released as a 1.6.0-beta.1.

[2018-12-10 17:24] julkue opened #711 "beta version was declared as stable"
I have the issue that "npm-check-updates", which is used in my continuous integration, has listed the oidc beta release as the latest stable version. According to [this comment](https://github.com/tjunnone/npm-check-updates/issues/368#issuecomment-308748703) it is an indication of an invalid released package, not using the [correct flag for beta releases in npm publish](https://coderwall.com/p/l_7

[2018-12-10 19:59] brockallen commented on #711
Ok, this is the first time I've heard of that. I'll check it out and follow it.

[2018-12-12 19:00] brockallen opened #712 "removeUser should revoke tokens"

[2018-12-13 17:17] brockallen commented on #711
Ok, I have now done this for 1.6.0-beta.2. I guess I had assumed in the past that non-numerics in the version number would implicitly flag it as pre-release (the way nuget does).

So when I want to do my next beta (e.g. 1.6.0-beta.3), can I use that same "beta" tag from `npm publish`?

[2018-12-14 22:00] jvitor83 commented on #98
@brockallen You have said:

**There is anywhere in the Identity Server where i can configure this time?**

_@crh225 How did you solve this problem?_

[2018-12-16 13:37] nareshkathi commented on #520
I am getting this same error with Angular 7.1.0. Not sure its Angular issue or oidc-client ?
Below is the error

ERROR Error: Uncaught (in promise): Error: No state in response
Error: No state in response
    at UserManager.processSigninResponse (oidc-client.min.js:3)
    at UserManager._signinEnd (oidc-client.min.js:3)
    at UserManager.signinRedirectCallback (oidc-client.min.js:3)
    at AuthSe

[2018-12-16 22:04] blerimj commented on #652
@raymondsze Did you find to work with SSR and oidc-client?

[2018-12-18 13:59] juangcarmona commented on #701
I had everything working but it crashed just after deploying it. Let's say that SSR is nearly mandatory if you want to have multiple languages within you Angular App... @brockallen , is there any solution / workaround for this?
(I start my own search for a solution right now...)

Thanks in advance.

[2018-12-18 15:41] brockallen commented on #701
I don't have an answer for you... the whole SSR architecture when it relates to using this library is hard for me to understand.

[2018-12-18 20:39] juangcarmona commented on #701
Thanks for so quick answer.

You are right, SSR and oidc-client shouldn't be connected... That made me think that maybe some other people have had similar issues with other 'browser-oriented' libraries when applying SSR with Angular universal (my concrete case)... And I've found this:

https://github.com/angular/universal/issues/830

I'll try that approach and let you know.

KR,

[2018-12-19 09:37] jalchr commented on #449
I'm facing the same issue. Once I use a domain name different than localhost, the silent renew fails.
Latest version of IdentitServer4 (v2.3.2).
After successful login in Chrome (v71), it auto-logs out.
Anyone got this working ?

[2018-12-19 11:20] jalchr commented on #449
P.S: Why are issues closed so fast?
People are facing similar problems for periods of time longer than the initial submission of the issue. True, it might not be related to the "core", but still GitHub issues are a kind of "Crowd Support" location.
May be the labeling is wrong ... may be it should "unresolved" / "concerning" rather than "question"  ?

[2018-12-19 15:26] #711 closed, assigned to nobody

[2018-12-19 15:27] brockallen commented on #703
do you have a proposal for a fix? PR would be welcome. Thanks

[2018-12-19 15:27] #709 closed, assigned to nobody

[2018-12-19 15:28] #692 closed, assigned to nobody

[2018-12-19 15:28] #699 closed, assigned to nobody

[2018-12-19 15:29] brockallen commented on #706
Any update?

[2018-12-19 15:34] brockallen commented on #598
done

[2018-12-19 15:34] #598 closed, assigned to brockallen

[2018-12-19 15:35] brockallen commented on #552
done. hybrid flow is not supported.

[2018-12-19 15:35] #552 closed, assigned to nobody

[2018-12-19 22:36] happy-dev commented on #706
:-) We struggle with other bits of the federation at the moment.
We come back to it when the critical bits are fixed.

[2018-12-20 14:02] fateh14 commented on #258
@Exocomp can you share how did you implement the silent logout?

[2018-12-21 14:53] cymen commented on #701
https://github.com/IdentityModel/oidc-client-js/pull/714 is working well for us to resolve this issue.

[2018-12-28 20:26] empz opened #716 "Not being able to receive post-logout-redirect"
I'm following the setup explained [here](http://docs.identityserver.io/en/release/quickstarts/7_javascript_client.html#reference-oidc-client) to add a Javascript client using this library to connect to my IdentityServer4.

My setup is pretty similar to that, except that my JS client is a React app.

I use the `UserManager` class to trigger the redirect signin, process the signin callback and trigg

[2018-12-28 21:25] brockallen commented on #716
Check the logs at IdentityServer to find out more.

[2018-12-28 21:34] empz commented on #716
IdentityServer4 logs reported "Invalid redirect URI".

The problem was that the post-logout-redirect-uri was different in the IdentitiyServer and in the UserManager. I was using `http://localhost:5001` on one and `http://localhost:5001/` on the other (notice the ending forward slash.

Thanks!

[2018-12-28 21:34] #716 closed, assigned to nobody

[2018-12-29 18:19] JohanPeeters opened #717 "Does code flow verify the ID token?"
I suspect it does not - jwks.json is not retrieved, this in contrast with the implicit flow.

[2018-12-29 20:31] phantasm33 opened #718 "Setting loadUserInfo to false still retrieves the User's Profile"
Hi,

Whenever I set the LoadUserInfo configuration setting to **false**, UserManager still loads the User's profile anyway.

Using the JavaScriptClient sample code, I modified the Config object as such:

[code]
Here is what I got back:

This is what I believe I should have gotten back:

Please let me know if I doing something incorrectly.

Thanks,
David

[2018-12-30 12:25] brockallen commented on #718
If your callback is on a separate page with a new instance of the UserManager, then you'll need to to it there as well.

[2018-12-30 12:25] brockallen commented on #717
Well, it does not verify the signature, as allowed per-spec. But it does all the other validation required (iss, iat, exp, aud, azp, etc).

[2018-12-30 14:55] phantasm33 commented on #718
Thank you Brock!

I was so focused on the api.js page that I didn't even think about the callback.js page. Everything works just fine.

David

[2018-12-30 14:55] #718 closed, assigned to nobody

[2019-01-02 07:51] yaosiang opened #719 "npm run build will fail if using node 10"
Both Node 10.x and 8.x are in [Active LTS status](https://github.com/nodejs/Release#release-schedule).

But in Node 10, `npm run build` will fail and show the following error message:

[code]

After some google search, it seems like this is a [known issue](https://github.com/gulpjs/gulp/issues/2246) in project gulp and [someone provided a workable solution](https://github.com/gulpjs/gulp/issues/22

[2019-01-02 07:59] yaosiang commented on #719
PR is #720

[2019-01-02 13:39] otakueadwine opened #721 "Using the client in chrome extension"
I'm trying to implement oidc-client inside my chrome extension. Sadly I can't find any examples online so I've been trying things here and there, without any luck.

Does anyone have any experience with oidc-client inside chrome extensions?

I tried using the following code:

    const settings = {
        authority: "<path-to-login>",
        client_id: "<client-id>",
        redirect_uri: "<path-

[2019-01-02 14:16] Zhorian opened #722 "1.61 with Angular 7.1.4 Failed to parse id_token"
I'm getting the above error when executing signinRedirectCallback, I've included the url below broken down for easier reading. I've tested our server using the example project [here](https://github.com/scottbrady91/Angular4-OidcClientJs-Example) which worked fine, so it might be either something I'm doing wrong or #583 has regressed?

http://localhost:8888/auth-callback

#id_token=eyj0exaioijkv1qi

[2019-01-02 14:31] otakueadwine commented on #159
@merijndejonge This is off topic for this post, but I'm trying to get oidc-client to work inside my chrome extension with no luck. You're the first and only post I find that has something to do with chrome extensions combined with oidc-client, perhaps you could have a look? https://github.com/IdentityModel/oidc-client-js/issues/721

[2019-01-02 14:43] Zhorian commented on #722
The issue was my app was converting the entire url to lowercase.. breaking my id token

[2019-01-02 14:43] #722 closed, assigned to nobody

[2019-01-02 21:17] fuzzzerd opened #723 "Sample code using response_mode shows error in typescript"
From the sample: http://docs.identityserver.io/en/latest/quickstarts/6_javascript_client.html

 new Oidc.UserManager({response_mode:"query"}).signinRedirectCallback().then(function() {
            window.location = "index.html";
        }).catch(function(e) {
            console.error(e);
        });

Typescript gives a error that 'response_mode' is not part of Oidc.UserManagerSettings.

It does s

[2019-01-02 22:11] brockallen commented on #723
Feel free to add it and submit a PR.

[2019-01-02 22:36] fuzzzerd commented on #723
It appears to be part of the base class already in index.d.ts and after updating to the latest client it appears to be resolved. Perhaps an issue in my local environment.

[2019-01-02 22:36] #723 closed, assigned to nobody

[2019-01-03 03:47] tipsanemonk commented on #625
@brockallen FYI, I'm trying the same in typescript. @chaholl did you get it working the way @brockallen mentioned 'coz I couldn't yet.

[2019-01-03 03:54] iamkarthikrana commented on #625
@chaholl did you get it working the way @brockallen mentioned 'coz I couldn't yet.

[2019-01-03 04:38] iamkarthikrana opened #724 "Invalid issuer error when using Azure AD common endpoint"
This is connected to the issue #625 .

When authenticating with
`https://login.microsoftonline.com/common/`

Tokens get returned with the tenantId in the placeholder while making the request, while our metadata has the one with just placeholder field. So during validation, this is causing trouble.
`issuer=https://sts.windows.net/{tenantid}/`
`https://sts.windows.net/sdadfa123/` - tenantId attached

[2019-01-03 12:56] brockallen commented on #724
Yes, and it's a shame Microsoft don't follow the OIDC spec.

[2019-01-04 05:16] iamkarthikrana commented on #724
@brockallen , so there's no way we can handle it in the library without disturbing the spec?

[2019-01-04 11:39] cristianiorga commented on #724
I just want to add that having a way to support AAD Common Endpoint is a strong need that I share.

@brockallen What would be the preferred way to support this? As providing a custom issuer validation doesn't seem quite yet supported, can that be quickly & easily be added?

[2019-01-04 14:39] brockallen commented on #724
When you create the UserManager on the redirect uri to validate the response, try setting the metadata manually.

[2019-01-04 16:35] mina-skunk opened #725 "Question: Any recommendations for using this library in PWA"
Specifically a web app added to the home screen on mobile device.

Here is the issue I'm running into:

- open `my.app.com`
- add to home screen
- open app from home screen
- click login button
- login button calls [`UserManager.signinRedirect()`](https://github.com/IdentityModel/oidc-client-js/blob/dev/src/UserManager.js#L89)
- `UserManager.signinRedirect()` calls [`OidcClient.createSigninRequest

[2019-01-04 20:08] merijndejonge commented on #159
@otakueadwine I had several questions and discussions about getting oidc client to work properly in a browser extension. Eventually, it was not so much the oidc-client that was the problem, but the authentication flow that requires loading the login page from the oidc server. In a browser extension, this requires the creation of a separate pop-up window that loads the corresponding html from the o

[2019-01-04 23:10] H-Ahmadi commented on #552
any sample code or documents on this?

[2019-01-05 01:00] brockallen commented on #552
https://github.com/IdentityModel/oidc-client-js/blob/dev/samples/VanillaJS/public/code-identityserver-sample.js

[2019-01-05 14:36] brockallen commented on #719
thanks

[2019-01-05 14:36] #719 closed, assigned to nobody

[2019-01-06 15:41] #717 closed, assigned to nobody

[2019-01-07 01:43] brockallen commented on #725
PWA investigation is on my TODO list with @carlfranklin (once i get off my arse) :)

[2019-01-07 01:43] brockallen commented on #721
Sorry, I don't have any help for you.

[2019-01-07 01:44] brockallen commented on #724
BTW, I think there was a thread related in the archives...

[2019-01-07 10:11] chaholl commented on #625
@tipsanemonk Nah, I had a look at the code and couldn't see an easy way to do without a whole load of unnecessary overhead. I'm using my fork with the delegate instead at the moment. #626

[2019-01-08 05:22] iamkarthikrana commented on #625
@chaholl I see, anyways thank you :- )

[2019-01-08 18:12] rodolfocop commented on #725
Hi, there is a solution passed by the staff of pwacompat.js see if that solves for you.

[code]
[You can see.](https://github.com/firebase/firebase-js-sdk/issues/77#issuecomment-432413393)

[2019-01-09 23:00] mina-skunk commented on #725
Went with this variant https://github.com/firebase/firebase-js-sdk/issues/77#issuecomment-439324680 but yes that solves it. Can I close this? Should this solution be added to docs or FAQ?

[2019-01-09 23:49] brockallen commented on #725
Let's leave this open -- I'd like to have it until I do a PWA prototype.

[2019-01-10 12:58] rodolfocop commented on #725
@brockallen If you want to take a look we have a prototype using pwa, with your library.

[You can see](https://github.com/jvitor83/angular-pwa-seed)

[2019-01-11 08:09] apacherose opened #726 "SessionMonitor always causes warning when using Bluebird"
A suggestion for enhancement.
There is a promise that does not return in the constructor of SessionMonitor - it is the handler of getUser(), which checks whether to start the monitor.
This leads to constant warnings when using this bluebird library -
the popular "a promise was created in a handler at anonymous> [...] but was not returned from it".
It would be nicer if we reduce this warning with P

[2019-01-11 15:02] julkue opened #727 "Error: OpenID Connect hybrid flow is not supported"
After updating from v1.5.4 to v1.6.1, where I wouldn't expect any breaking changes as it's not a new major version, and according to the changelog there are no breaking changes, my authentication stopped working.

In the console, I have the following error:

![2019-01-11 15_57_02-loading](https://user-images.githubusercontent.com/8310677/51041381-16ac4600-15ba-11e9-9155-9bccfc97ea0b.png)

What is

[2019-01-11 16:24] brockallen commented on #727
It never supported hybrid flow. "id_token token" and "code" flow are supported.

[2019-01-13 16:03] brockallen opened #728 "Change storage model to assume web storage (synchronous)"
I don't think anyone uses indexDB, so consider dropping async support where not needed

[2019-01-13 20:50] victormp1988 opened #729 "User signed out after login when IS is in different domain than JS client."
Hello,

We have implemented single sign on/out using your library on an Angular 6 application. Everything is working fine when both client JS and IS are running on the same domain (e.g. localhost). However, if they are running on different domains ( client js on localhost and IS on machine name), user manager throws addUserSignedOut event after signing callback redirect.

Some light?

Our Auth ser

[2019-01-13 22:26] victormp1988 commented on #449
@jalchr we are suffering same problem. Any solution?

[2019-01-13 22:26] victormp1988 commented on #729
It's exactly the same as the following one:
https://github.com/IdentityModel/oidc-client-js/issues/449

[2019-01-14 01:08] brockallen commented on #729
Not sure. Check your logs in both, and the state of the cookie at IS.

[2019-01-14 09:43] victormp1988 commented on #729
Yes, basically I think that this is the root error. When silent refresh is raised after succuesfully sign in...
I do not know why IS does not recognize as authenticated user.

 "prompt=none was requested but user is not authenticated"

It's happening with Chrome and as I said before, everything is OK when is running in same domain.

Some clue?

2019-01-14 09:38:51.318 +01:00 [INF] ValidatedAuthori

[2019-01-14 11:57] julkue commented on #727
@brockallen Thanks for your reply. I've looked at the code and what I'm passing to the authentication request within the "response_type" is: `code id_token token`. According to your reply, this should be valid.
If this is the case, is it a backend server issue? And why does this error appear when changing the minor level of oidc-client?

Thanks for any help!

[2019-01-14 13:20] brockallen commented on #727
No, that's hybrid. Only "id_token token" or "code" is supported.

[2019-01-14 13:20] brockallen commented on #729
Is the cookie sent on the silent request. If not, then that's your issue.

[2019-01-15 02:24] FizzBuzz791 opened #730 "State is not stored"
When a user is stored, the `state` property, which is hydrated with the `state` that has been echoed back from the server, is not stored, as per;
https://github.com/IdentityModel/oidc-client-js/blob/01c872abc145114c76d9491b242d4d814c07e22a/src/User.js#L48-L57

Is there a particular reason for this or is this an oversight?

[2019-01-15 09:03] victormp1988 commented on #729
Ok, after some investigations I noticed that Identity Server was not keeping the cookie when the client called from other domain. So basically, it (IS) was issuing valid token after login, the client stored it and used it in the silent request call, however IdentityServer rejected the request since that Identity(token) didn't exist for it.
The following solution solved my issue:
https://github.com

[2019-01-15 09:05] #729 closed, assigned to nobody

[2019-01-15 13:54] brockallen commented on #730
That's by design. The state is available in the callback completing the protocol processing (e.g. signinRedirectCallback)

[2019-01-15 16:34] julkue commented on #727
@brockallen I've doubled checked and unfortunately I can't get the authentication to work with either `id_token token` OR `code`, only with both `code id_token token`.

Therefore, my question is where is the following documented?

Is it correct, that if this doesn't work, action on the IdentityServer is necessary?

Thanks in advance.

[2019-01-15 17:44] brockallen commented on #727
What token server are you using?

[2019-01-15 18:08] julkue commented on #727
@brockallen We're using Identity Server 3

[2019-01-15 18:18] brockallen commented on #727
If you want to use code flow in IS3, then you also need to enable PKCE in the client config. I don't recall if we had a flag in IS3 to not require client secrets, so you might also need to set a dummy client secret... i don't know if i tested with that, so perhaps that's the issue? check the IS3 logs.

[2019-01-15 20:35] karpikpl opened #731 "requesting custom grant - question about impersonation"
Hi,
I'm looking at the documentation from IdentityServer4 http://docs.identityserver.io/en/latest/topics/extension_grants.html and in my project client needs to use  impersonation.

The case is the following:
- user1 logs in to the application and gets access to api1
- frontend code lets him impersonate someone else - user2
- api1 needs to get JWT issued for user2 while "impersonation is on"

is t

[2019-01-15 23:53] FizzBuzz791 commented on #730
OK. Seems weird that it's a property on the user but then it's not actually persisted. Why doesn't `_signinEnd` return a `response` object, that contains the user and the state then? Make it *explicit* about what's happening with the data.

[2019-01-16 12:55] brockallen commented on #730
I like that idea, but it'd be breaking. I can do it for 3.0.

[2019-01-16 12:55] iamkarthikrana opened #732 "Adding custom ResponseValidator causes signinSilent to not work properly"
A custom ResponseValidator has been created by taking the same that's available in the library in order to extend and update issuer to support Azure AD common endpoint. Everything works fine and the authentication endpoint is reached as well but on page reload, the process is forced to repeat.

The custom response validator is provided during initializing phase like,
`this.userManager = new UserMa

[2019-01-16 12:56] brockallen commented on #731
Sorry, I didn't understand.... You mean is there a reason oidc-client doesn't support custom grant?

[2019-01-16 14:20] karpikpl commented on #731
Yes. Sorry if it wasn't clear. (thanks for not closing)
"is there a reason oidc-client doesn't support custom grant" would be a good place to start :)

[2019-01-16 17:15] NathanStrutz commented on #427
@mukhtar

I bet you can do most of that by just cloning and reverting 10b58d7d7f21df0d7a6df27a6dd9799679b28361. 😃

[2019-01-16 18:24] brockallen commented on #427
No. There's more validation to be performed, and supporting id_token on the front channel and then on the back channel adds complexity that I don't have time to consider.

[2019-01-16 23:44] FizzBuzz791 commented on #730
3.0?! It's only on 1.6, did you mean 2.0?

Fair enough though, definitely a breaking change. It'd be ideal to separate `state` and `user` entirely if that contract is getting broken anyway. The more explicit the better. Haven't looked into how feasible that is yet though.

Do you need any assistance?

[2019-01-17 01:45] brockallen commented on #730
Oh yea, I think I meant 2.0 -- I have too many OSS projects to maintain. :/

[2019-01-17 14:53] karpikpl commented on #731
so I figured an easier way to do what I need is to refresh token but provide acr_values
When user1 wants to impersonate user2, I can do:
[code]

in my ProfileService I can read that value, figure it if user is allowed to do what he's trying to do and issue claims for user2

since it's more general question on how to use oidc-client, should I move it to stack-overflow?

[2019-01-17 18:34] brockallen commented on #731
that's roughly how i do it in my IS deployments

[2019-01-18 12:05] josuedallagnese commented on #727
I had the same problem as you @julmot .

Before it was supported hybrid flow by oidc-client-js

[https://github.com/IdentityModel/oidc-client-js/commit/10b58d7d7f21df0d7a6df27a6dd9799679b28361](https://github.com/IdentityModel/oidc-client-js/commit/10b58d7d7f21df0d7a6df27a6dd9799679b28361)

But for everything there is an explanation:
[https://brockallen.com/2019/01/03/the-state-of-the-implicit-flo

[2019-01-21 13:05] sliekens opened #733 "Remove babel-polyfill from optionalDependencies"
The babel-polyfill dependency was moved from `peerDependencies` to `optionalDependencies` per #535. This is incorrect: optional dependencies does not mean that the consumer gets to decide whether it will be installed or not, or which version. That's what `peerDependencies` are for.

[2019-01-21 13:16] nchetbani commented on #528
I am getting the same error in IE/Edge as @DevInstinct when I'm using oidc-client library:

`<script>
    new UserManager().signinSilentCallback()
      .then(data => { })
      .catch((err) => {
            console.log('error');
            console.log(err);
        });
</script>`

@DevInstinct you mentioned above you used a work around silent.html/silent.js, can you please share the js file and

[2019-01-21 14:26] sliekens commented on #733
TBH a library shouldn't concern itself with browser features. At the most it should document what features it depend on that might be unsupported and then leave it up to the consumer to install the right polyfills.

[2019-01-21 14:56] brockallen commented on #733
The issue is that, given the age of the library, there are 2 builds -- one is self contained for folks that don't use module loaders, and other modern packaging approaches (from the era pre-webpack, etc) and the other is more current library style. With a 2.0 I would make changes to that style.

[2019-01-21 15:25] DevInstinct commented on #528
I configured the manager to use:
`silent_redirect_uri: `${location.origin}/js/silent-refresh/silent-refresh.html`,`

In the _plain_ html file I have:
[code]

And silent-refresh.js contains only:
[code]

[2019-01-21 15:52] sliekens commented on #733
Okay so there are 2 outputs?
 - dist/oidc-client.js: old-style global variable with self-contained babel polyfills
 - lib/oidc-client.js: new-style UMD module without any reference to babel

Did I get this straight? Because then I think babel-polyfill is a devDependency.

[2019-01-21 15:57] brockallen commented on #733
Yes, those are the two outputs. And there was an issue a while ago about people not liking it as a devDependency (because of warnings or something). I don't know which one is the right answer, and when they made their case I trusted their expertise (over mine) for this ecosystem.

[2019-01-21 16:21] sliekens commented on #733
From what I can find, it was originally listed under `peerDependencies` and later added (not moved) to `devDependencies` in #166, because npm-cli >2 doesn't install `peerDependencies` by default anymore. This is the correct thing to do for true peer dependencies, but babel-polyfill isn't actually a peer dependency because no build artifact depends on it. It's also not an optional dependency becaus

[2019-01-21 18:15] nchetbani commented on #528
Thank you @DevInstinct for your Quick Feedback !!!

I followed that, but I get the following error
[code]
Any idea please ?

[2019-01-21 18:20] nchetbani commented on #528
when I try with this (in the **silent-refresh.js** file)

[code]
I get the following error
[code]

[2019-01-21 22:49] brockallen commented on #528
I suspect it's due to the lambda.

[2019-01-22 12:55] nchetbani commented on #528
Yes, it's due to the lambda, but even changing the code below (without lambda),

[code]
I get the following erreuir

[code]

[2019-01-22 13:30] brockallen commented on #528
So you're running in IE. You need a polyfill for Promise.

[2019-01-22 13:35] nchetbani commented on #528
Thank you @brockallen

what do you mean by  "_You need a polyfill for Promise_" ?

[2019-01-22 13:42] brockallen commented on #528
You need to load in a JS file in IE to substitute for the lack of Promise in IE. Google for "polyfill"

[2019-01-23 13:17] nchetbani commented on #528
Thank you @DevInstinct and @brockallen for your assistance. It work by including the polyfill lib

[2019-01-24 02:45] brockallen opened #736 "silent renewal does not seem to filter protocol claims from userinfo"

[2019-01-24 14:39] collinbarrett commented on #431
Hey, @rpenrose . How did you resolve this? I am trying to get the JavaScriptClient sample working with Windows Auth as well. Where does the withCredentials flag need to be set?

[2019-01-24 15:00] rpenrose commented on #431
You need to instruct the browser to send the windows credentials to IdentityServer when the oidc-client does the redirect. Note this is not an oidc-client thing it is a browser thing and needs to be set up in the Internet Options for Chrome (or other browser).

To do this you need to add you site to the list of intranet sites and instruct it to automatically send windows credentials to intranet si

[2019-01-24 15:03] collinbarrett commented on #431
Oof. Wow, that's kind of annoying. Thanks for your detailed and prompt response. Super helpful. Will look into that.

[2019-01-24 15:12] collinbarrett commented on #431
So, just to clarify, to your knowledge, the only way to enable a JS/SPA client to talk to IdentityServer4 with Windows Authentication is to do the domain/browser configuration you [described above](https://github.com/IdentityModel/oidc-client-js/issues/431#issuecomment-457227469) and enable Windows Authentication (but not Anonymous Authentication) in IIS for the IdentityServer4 instance?

[2019-01-24 15:17] rpenrose commented on #431
Enable both Windows and anonymous on IIS for Identity server as it needs to pass windows credentials to authenticate, but not when your api connects to IdentityServer for token validation.

You will also need to remove "Negotiate" from the windows auth providers in IIS, just leave NTLM, see: https://support.citrix.com/article/CTX221693

[2019-01-24 16:03] collinbarrett commented on #431
Hmm, whenever I enable Anonymous Authentication, IdentityServer4 fails to logon with Windows Authentication. If I disable Anonymous, the Windows Authentication works, but I still get the 401 CORS issues in Chrome (all works dandy in IE with Anonymous disabled)... Still experimenting.

[2019-01-24 16:11] rpenrose commented on #431
I am not running ID server at the moment on my current project, so can't check. Maybe you do need to disable anonyomous. If that works, then that should be fine.

You definitely need anonymous on your api as all auth is done through the JWT.

Apologies if I was wrong about IIS windows auth for ID Server, I am working from memory.

[2019-01-25 21:14] iliassk opened #737 "Add new query param or modify post_logout_redirect_uri before redirecting to SLO ?"
Hello,

Thank you for this really good oidc library.

Since Single Log Out (SLO) is still in draft status, some OIDC implementations are not totally compliant with what the library assumes. Mainly, I'm using PingFederate which is an OpenID Provider that doesn't support **post_logout_redirect_uri** but instead uses **TargetResource** to redirect the user back to the app : https://documentation.ping

[2019-01-25 22:25] brockallen commented on #737
*sigh* those SLO specs have been around for some time. it's sad to hear that ping isn't compliant.

[2019-01-25 22:26] brockallen commented on #737
So to support this, I guess we'd need to add `extraQueryParams` like we did for the signin.

[2019-01-25 22:39] iliassk commented on #737
That would be perfect. I don't see any other way I can achieve the SLO with my TargetResource param in the meantime.

[2019-01-25 23:18] brockallen commented on #737
To expedite this, feel free to work on a PR

[2019-01-26 22:47] iliassk commented on #737
Done. Fixed in PR #738.

Do you have any idea when this can be merged ? Thank you!

[2019-01-27 06:00] jastimanoj commented on #520
@nareshkathi  any luck with the above issue ?

[2019-01-27 14:48] mostafahedawa opened #739 "Error: Cannot match any routes. URL Segment: 'silent-refresh.html'"
I had Angular client connecting to identity server 4 to authenticate
and this is my configuration
[code]
and this is my silent refresh code

[code]
and then updated the angular.json file with this part
[code]
but i got this error
"VM378 vendor.js:51421 **ERROR Error: Uncaught (in promise): Error: Cannot match any routes. URL Segment: 'silent-refresh.html'
Error: Cannot match any routes. URL Segmen

[2019-01-27 17:34] brockallen commented on #739
Sounds like an angular issue. I suggest handling the callback on a non-angular page (it helps security as well).

[2019-01-28 07:41] mostafahedawa commented on #739
thanks brockallen for your respond the issue is **solved** now but i don't understand your suggestion for handling the callback  did you mean the callback from signinsilentcallback ?
actually i have separate html file for silent-refresh
if you have any concern let me know thanks

[2019-01-28 14:44] brockallen commented on #739
that's what i meant.

since your issue is solved, i'll close.

[2019-01-28 14:44] #739 closed, assigned to nobody

[2019-01-28 20:54] #701 closed, assigned to nobody

[2019-01-29 11:57] Sergey-Ryabov opened #740 "OAuth2. Support Implicit Grant and Authorization Code Grant"
Is oidc-client-js support both grant types?

[2019-01-29 18:53] hwatersiv opened #741 "Is there an Example of the popupWindow?"
AS the title states. I would really like to use the popup window auth. But, I have not found any real documentation on it. I can get up to logging into my auth server but i just haven;t been able to return from the popup window. Just having a working example in the docs would be awesome. Thanks

[2019-01-30 09:13] sebouturpin35 opened #742 "Code Flow - Revoke Refresh Token ?"
I use the code flow  and I haven't found any solution to revoke the refresh token through this librairy.
Is there any way to do it with this librairy ?

[2019-01-30 13:29] brockallen commented on #742
Calling `revokeAccessToken` will also revoke the refresh token. I didn't rename the API as it would have been a breaking change.

https://github.com/IdentityModel/oidc-client-js/blob/dev/src/UserManager.js#L454

Also, you can use the `TokenRevocationClient` directly instead:

https://github.com/IdentityModel/oidc-client-js/blob/dev/src/TokenRevocationClient.js#L23

[2019-01-30 13:53] brockallen commented on #741
Did you look at the samples?

https://github.com/IdentityModel/oidc-client-js/blob/dev/samples/VanillaJS/public/code-identityserver-sample.js#L136

[2019-01-30 13:54] brockallen commented on #740
Yes. code also requires the use of pkce.

[2019-01-30 14:54] hwatersiv commented on #741
My apologies. I must have missed it looking over the examples. I waa viewing the react versions. Sorry.

[2019-01-30 15:30] sebouturpin35 commented on #742
Thank you very much for the answer !

[2019-01-30 15:30] #742 closed, assigned to nobody

[2019-01-30 15:33] dotnetgeek opened #743 "Security vulnerabilities in dependency "jsrsasign""
Hi,

we are using the oicd-client-js component in your SPA Application and one of our security scan reported a vulnerability because of YUI. YUI 2.9.0 seems to have some vulnerabilities, as reported here:

https://www.cvedetails.com/vulnerability-list/vendor_id-290/product_id-20206/version_id-137803/Yahoo-YUI-2.9.0.html

After investigation I see that this Issue is related to https://github.com/kj

[2019-01-30 15:43] #741 closed, assigned to nobody

[2019-01-30 20:43] cburgmer opened #744 "Mocking XMLHttpRequest"
We are trying to test token renewal for the implicit flow, and given the timing aspect of JWT expiry, feel that a browser based end2end test will not work.

Currently we are trying an integrative approach testing through this library, mocking out the integration points with the browser (`XMLHttpRequest`, `window.location.href`, `document.createElement('iframe')`).

Mocking out XMLHttpRequest feels

[2019-02-01 12:00] ismarslomic commented on #727
Such breaking change should definitely be described in Release Notes! I have as well used `response_type: "code id_token"` in version `1.5.3`, but now it is not supported anymore.

[2019-02-01 13:43] brockallen commented on #727
There was no released version that ever supported hybrid flow, thus there's no breaking change. Why do you all think it did? Just because there was a commit somewhere? Check the features for the tagged versions.

[2019-02-01 16:36] gregorlus opened #745 "Extra parameter in token request (authorization code grant)"
Hello,
Is actually any chance to add extra parameter during POST /connect/token request using code grant?
In my use case this parameter affects on claims included in returned token.

I've already achieved this by below modifications (commented lines are added). But is it possible to get the same effect without lib's code touching?

invoke signInRedirectCallback:
`userManager.signinRedirectCallback

[2019-02-03 18:09] brockallen commented on #744
No, sorry. This is been on my list for a long time to improve: #26

[2019-02-03 18:09] brockallen commented on #731
All set on this issue -- can we close?

[2019-02-03 18:10] brockallen commented on #732
I'm sorry, I don't follow. What's the issue/bug in the code?

[2019-02-03 18:11] brockallen commented on #733
I'm happy to accept the PR, but do you anticipate anyone coming here after it's merged and complaining that their build pipeline is broken is reporting false errors?

[2019-02-03 18:15] brockallen commented on #743
Yes, I'd love to ditch it but I'm not getting a lot of support on the PR: https://github.com/IdentityModel/oidc-client-js/pull/639. The author of jsrsasign indicated that his lib is not using the affected features.

[2019-02-03 18:31] sliekens commented on #733
The only way this could break someone's build is if they have a `require('babel-polyfill')` somewhere but no other references to babel-polyfill in their package.json.

In other words: if someone has taken a dependency on babel-polyfill without declaring so in package.json, that is normally an error. But your listing in optionalDependencies would cause babel-polyfill to be installed and `require('b

[2019-02-03 18:37] karpikpl commented on #731
Hey,
Yes you can close it.
I've ended up sending *data* in silent refresh with the Information to profile service to issue different claims.
I had to switch to refresh tokens so that also ment switching a param to issue claims on every refresh.

[2019-02-03 18:37] #731 closed, assigned to nobody

[2019-02-04 16:03] cburgmer commented on #26
We have a working integration test that uses JSDOM and mocked XHR. We are currently discussing how much it's connected to the implementation of oidc-client-js itself (and therefor be difficult to change), but considering that the mocks are touching the interfaces governed by the OIDC specs it feels an acceptable outcome.

[2019-02-05 09:34] VincentLanglet opened #746 "Mismatch between type and code for SigninResponse"
There is a mismatch between the User constructor type and the real one.

[code]

[code]

So, doing
[code]

Return errors :
- `refresh_token` does not exist in SigninResponse
-  Blabla is missing the following property `error`, `error_description`, `error_uri`, `expired`, `expires_in`, `scopes` and `isOpenIdConnect`

[2019-02-05 13:12] brockallen commented on #746
merged, thx

[2019-02-05 13:12] #746 closed, assigned to nobody

[2019-02-05 13:19] VincentLanglet commented on #746
@brockallen You're welcome.
If I open the same PR on the release branch, is it possible to deploy a 1.6.2 patch and not waiting for a 1.7.0 release ?
Thanks
https://github.com/IdentityModel/oidc-client-js/pull/748

[2019-02-05 15:02] amherrington13 opened #749 "Monitor session_state when user not logged in"
We recently pulled in this library as a means to integrate OAuth2/OIDC clients with our own OIDC provider. We’ve greatly enjoyed all that this library has to offer, and the ease with which the OIDC session management capabilities can be configured via the UserManager class. One thing we have come up against in implementation, though, is that it appears the library in its current state does not tra

[2019-02-05 16:30] maclonghorn opened #750 "Consistent naming for settings parameters"
Would like to see a consistent naming convention for settings, preferably all camelcase.  As an example, you have `automaticSilentRenew` and `post_logout_redirect_uri` (should be `postLogoutRedirectUri`

[2019-02-05 16:41] brockallen commented on #750
Some are protocol params and others are client library settings. That's why they're like that.

[2019-02-05 16:42] brockallen commented on #749
I think there's already an issue related to this. Can you dig it up and see if what you're asking is already covered?

[2019-02-05 21:26] amherrington13 commented on #749
I've been unable to find an issue covering this specifically. I found a similar issue in [340](https://github.com/IdentityModel/oidc-client-js/issues/340), but this appears to cover the scenario where there is already a logged in user and something about the session changes, not where the session status changes from not logged in to logged in.

[2019-02-06 09:10] gregorlus commented on #745
'enhancement' label means that it is not possible now without modifications in library's code? Will you add this possibility in future updates?

[2019-02-06 13:32] brockallen commented on #745
Yes, I think I will need to modify the code to achieve this.

[2019-02-06 15:29] prachikhadke commented on #701
@cymen are you using oidc-client library with SSR? #714 is not working for me for oidc-client with SSR. And the stack trace looks different for me. @brockallen @stg609 any suggestions?

[code]

[2019-02-06 20:51] prachikhadke commented on #652
@brockallen  Will SSR with oidc-client ever be supported?

[2019-02-06 22:38] dmmusil opened #751 "Next release timeline?"
We need to get this commit on npm so that we can use Cypress with the oidc client: https://github.com/IdentityModel/oidc-client-js/commit/49363a8845594828eff39cf38570baf079aa2e53#diff-1f7f25e2c7a7559eff82f2c5f82ec49f

It's causing this issue for us: https://github.com/cypress-io/cypress/issues/3351

Any idea when this will go out?

[2019-02-07 00:21] brockallen commented on #652
If you're doing SSR, then I'd think you'd use a cookie to secure your APIs. Perhaps I'm wrong.

[2019-02-07 00:22] brockallen commented on #751
I have set a day aside in the next week or so to work on the various open issues.

[2019-02-07 02:45] meagar commented on #736
I'm not sure if this is related, but when the the iframe method of session renewal is used, the request is made using *only* the scope `openid`. This means that the new access token has no other claims, like `email` or `profile`, etc.

In my sample app, this means that, when I use OIDC session management to notify a client that the session has changed, the oidc-client.js fetches a new id_token and

[2019-02-07 07:39] Alxandr opened #753 "Use unminified sources as "main""
Having minified sources be the "main" makes things much harder to debug. Minification should be an issue for the end client and how they want to setup webpack or similar, not the individual libraries.

[2019-02-07 15:40] #751 closed, assigned to nobody

[2019-02-08 12:52] HenrikWM commented on #703
Fixed in #754 😄

[2019-02-08 12:56] brockallen commented on #703
Thanks! I'll have a look when I can

[2019-02-08 15:24] jimmytheneutrino opened #756 "Clone object given to signin/signout APIs so values are not overwritten"
An object containing extra arguments given to signinSilent method gets overwritten with some values.

Example:
Consider the following code snippet:
[code]
After the call to `signinSilent`, `params` gets filled with some fields. Here, in particular, prompt='none' gets added, which breaks a non-silent login.

Of course, this behaviour is easy to avoid once you know the problem. But if not, it could

[2019-02-08 18:03] ismarslomic commented on #727
@brockallen **version 1.5.3** includes support of hybrid flow where it is possible to set `response_type: "code id_token"`. Not sure what you define as "released version", but for me as the user of this (very nice) library, as long as I can find an released npm package version, it is released.

[2019-02-08 19:08] brockallen commented on #727
But there was no code in the library in 1.5.3 to process the authorization code returned. There was no code that connected to the token endpoint to exchange the code for an access token.

Are you saying that you used "code id_token" and then you wrote the code to process the code coming back?

[2019-02-10 20:25] brockallen commented on #749
I'll add it an an enhancement but I'm not sure if/when I would get to it.

[2019-02-10 20:35] brockallen commented on #685
I saw the other day a different way to manage the popup as a child, so I will add an enhancement to do it differently.

[2019-02-10 20:36] brockallen commented on #690
Perhaps related: https://github.com/IdentityModel/oidc-client-js/issues/685#issuecomment-462169652

[2019-02-10 20:37] brockallen commented on #706
Closing. If you still have issues, feel free to reopen.

[2019-02-10 20:37] #706 closed, assigned to nobody

[2019-02-10 20:37] #721 closed, assigned to nobody

[2019-02-10 20:37] brockallen commented on #724
Closing. If you still have issues, feel free to reopen.

[2019-02-10 20:37] #724 closed, assigned to nobody

[2019-02-10 20:40] brockallen commented on #727
I might be wrong, but I think what was happening is that this library never previously had any support for the "code" response_type parameter, but now that it does it is interfering with the fact that someone might have been using it that way. Since hybrid was never something this specifically had support for (despite the fact that you could misuse it to make hybrid requests), then I can't really

[2019-02-10 20:40] #727 closed, assigned to nobody

[2019-02-10 20:42] brockallen commented on #732
Can you elaborate?

[2019-02-10 20:42] #740 closed, assigned to nobody

[2019-02-10 20:42] brockallen commented on #743
Closing. If you still have issues or find that the affected component is being used, feel free to reopen.

[2019-02-10 20:42] #743 closed, assigned to nobody

[2019-02-10 20:43] brockallen commented on #26
@cburgmer so what are you suggesting? do you think you have a way to do end to end testing?

[2019-02-10 20:43] brockallen commented on #744
So is there an action item here?

[2019-02-10 20:45] cburgmer commented on #744
Happy to close, our solution was to register the fake promise before oidc-client is loaded.

[2019-02-10 20:57] brockallen commented on #736
My mistake -- config error. It's working properly.

[2019-02-10 20:59] brockallen commented on #736
This is not correct. `querySessionStatus` != `signInSlient`.

[2019-02-10 20:59] #736 closed, assigned to brockallen

[2019-02-10 21:01] #703 closed, assigned to nobody

[2019-02-10 21:02] brockallen commented on #703
PR merged. Thanks!

[2019-02-10 21:03] brockallen commented on #744
Ok, thanks.

[2019-02-10 21:03] #744 closed, assigned to nobody

[2019-02-10 21:04] brockallen commented on #737
merged, thanks

[2019-02-10 21:04] #737 closed, assigned to nobody

[2019-02-10 21:06] cburgmer commented on #26
If by end-to-end you mean integrating with a real browser and a real OIDC provider, then no.

However because of the long timeout between token renewals I was looking for a way to mock the token renewal time.

What we now built on our side is a full orchestration of our OIDC flow inside the frontend by mocking out the integration points of oidc-client with the browser.

Taking ideas from https://g

[2019-02-10 21:07] #733 closed, assigned to nobody

[2019-02-10 21:07] brockallen commented on #733
merged, thanks. oh and when someone comes complaining about something related, i'll send them your way :)

[2019-02-10 21:11] #635 closed, assigned to nobody

[2019-02-10 22:15] brockallen commented on #26
Yea, seems like a lot of work. That's why for now I've just done manual testing with the samples.

[2019-02-11 06:37] abelkbil commented on #362
@tibbus Do you get this issue while open the application in multiple tabs ?

[2019-02-11 16:41] jpgorman opened #758 "Use window.crypto or window.msCrypto where available to improve strength of code_verifier"
I'm currently looking into using the oidc-client to perform the PKCE implicit grant flow within a web SPA. When I was looking into how the code_verifier is being generated  in  `oidc-client-js/src/SigninState.js` I noticed that it's using `oidc-client-js/src/random.js` which relies on Math.random.

Also the code that random.js was taken from also seems to use window.crypto https://github.com/Azure

[2019-02-11 16:46] bialesdaniel opened #759 "Specify a specific aud"
I am trying to do something a little tricky where an API Gateway actually gets the OIDC token so the aud in the id_token doesn't match the client_id specified in the configuration. Is there a way to specify an expected audience?

[2019-02-11 16:54] brockallen commented on #758
Yes it would. It's been on my [mental] backlog. Can you propose a PR (that will also work in IE)? If you're able to do it soon-ish, then we can get it into the upcoming 1.7.0 release.

[2019-02-11 19:01] cburgmer commented on #26
The problem with Login though is that its failure usually has a big impact. Also your release process might not have room for a lot of manual testing (ours doesn't), so we felt we wanted to have some safeguard in place.
The above could possibly move into a standalone mock implementation if there's more parties interested in using it. Not sure if I would have time for maintaining this though.

[2019-02-12 10:57] muralisambu commented on #495
I had a client of implicit flow and  access token life time set to 2 min and I am getting new access token after 2 min.  the issue is after 1 hr I am not able to get new access token and error in log as Showing error: prompt=none was requested but user is not authenticated .
What I observed was the after some time  id token which we send for renewing token was not getting renewed? was this because

[2019-02-12 13:24] dmmusil opened #762 "Typescript build issue in 1.7.0-beta.1"
Thanks for the update on my previous issue. I checked out the beta today and it works great. One issue I ran into is that the type definitions cause an issue during the build.

[code]

Repro here: https://github.com/dmmusil/oidc-client-beta/tree/master

[2019-02-12 13:26] brockallen commented on #762
The duplicate expires_in I think I already fixed. Can you look at latest from dev?

[2019-02-12 13:26] brockallen commented on #762
For the other, you can submit a PR, please/

[2019-02-12 14:00] jpgorman commented on #758
Thanks for the reply. I'm happy to take a look into this and add support for browsers that support windows.crypto.getRandomValues

[2019-02-12 15:36] Cooke opened #763 "Failed to parse id_token"
I receive the error "Failed to parse id_token" for one of two apps build with:
* create react app 2.1.5
* oidc-client-js 1.6.1
* production build with minification (it works with the dev build)

The call stack top is:
[code]

Note that only one of my two apps have this issue (probably due to minification depending on all bits in the build).

It could probably be argued that the bug is not in this

[2019-02-12 16:48] brockallen commented on #763
Sorry, don't know.

[2019-02-12 16:58] #762 closed, assigned to nobody

[2019-02-13 12:58] jpgorman opened #765 "Demo application is missing dependencies"
I was just in the process of forking the library and poking around the samples. When I tried to run `npm run start` I noticed that there are a couple of libraries missing. Specifically these are `jsrsasign` and `express`.

As these are dev dependencies it's probably worth adding them as currently the VanillaJS sample won't run.

[2019-02-13 14:15] muralisambu opened #766 "Silent Renew issue"
Hey @brockallen I have an issue with silent renewal of access token using implicit flow.  I had set access token life time to 2 min, intially I am getting the new access token from addUserLoaded method. But after around 30 min I see silent renewal stopped working.
 I see the logs as
Showing error: prompt=none was requested but user is not authenticated.

Here is my config
var config = {
    author

[2019-02-13 20:28] brockallen commented on #766
This means your cookie at the token server is no longer valid. You need to debug more into why that is.

[2019-02-13 20:33] brockallen commented on #765
Yea, someone just did a PR the other day to remove jsrsasign. I guess they didn't test this (nor did I).

I did one: https://github.com/IdentityModel/oidc-client-js/pull/767

[2019-02-13 20:36] brockallen commented on #765
Ok, and that fixed it. Thanks for letting me know.

[2019-02-13 20:37] #765 closed, assigned to nobody

[2019-02-13 22:01] fnberta opened #768 "silent_redirect_uri should not be required when using refresh tokens"
When a refresh token is available, the library uses that to do a silentRenew. Relevant code in UserManager.js:
[code]
Hence if refresh tokens are available, `silent_redirect_uri` should not really be needed if I understand it correctly. But the following code in UserSettings.js prevents automaticSilentRenew if no `silent_redirect_uri` is set:
[code]

This looks like a bug to me, automaticSilentRen

[2019-02-13 22:28] brockallen commented on #768
Yea, good point. I think when I updated for code flow/refresh tokens I didn't revisit that piece of code. Personally I wish I had never added `automaticSilentRenew`, and in 2.0 I plan to remove it. So yes, it's a bug in this version.

Are you needing this to be fixed?

[2019-02-14 07:52] NunoSav commented on #768
@brockallen a fix would be nice :)

[2019-02-14 13:00] muralisambu commented on #766
Thanks for Quicky Reply @brockallen.
 yes, I had set the cookie life time to 1 day
identityServerOptions.Authentication.CookieLifetime = new System.TimeSpan(1,2, 3, 0);
            identityServerOptions.Authentication.CookieSlidingExpiration = true;
and also configured in services ConfigureApplicationCookie for cookie life time for 1 day. Need to debug it more now

[2019-02-14 13:09] brockallen commented on #768
So would a PR :)

[2019-02-14 16:44] raymondsze commented on #652
@brockallen The main issue is not SSR. For example, I am using Next.js (with typescript) but I would like to use implicit flow. I don't use anything related to window on the server side, but I have to require the oidc client like this `import ... from 'oidc-client'` at the top of file.
The workaround is use `require('oidc-client')` instead but lose the typescript type checking in IDE.

So my quest

[2019-02-14 17:06] eknowles opened #770 "reference to window fails gatsby build"
Unfortunately this module doesn't play nice with Gatsby.

https://www.gatsbyjs.org/docs/debugging-html-builds/#fixing-third-party-modules

[code]

I'm finding it tricky to track down where the reference is, in the mean time putting this issue up for anyone else.

[2019-02-14 18:38] brockallen commented on #652
I don't understand why you're using oidc-client-js is you're doing server-side protocol work flows.

[2019-02-14 18:39] brockallen commented on #770
related? https://github.com/IdentityModel/oidc-client-js/issues/652

[2019-02-14 19:14] fnberta commented on #768
Thanks for the response @brockallen. No, doesn't need an urgent fix. I can just specify a `silent_redirect_uri` even though it's not used. So not a big problem, just something I noticed.

[2019-02-14 19:18] prachikhadke commented on #652
I ended up using Fetch API to generate authorize, and logout requests for OIDC Connect. And it's working well for me. Not necessary to use an oidc library as long as you use the proper config and follow the spec.

[2019-02-14 20:03] brockallen commented on #652
Yes, also there are plenty of node-based oidc client libraries designed for server-side (meaning server-rendered) apps.

[2019-02-14 21:08] HenrikWM commented on #622
I made a suggested fix for this on #771.

[2019-02-15 03:21] raymondsze commented on #652
@brockallen nextjs support export static web, it's logic is to initialize the server and do realtime fetching to generate plenty of htmls.

So it end up only have client side code. What I mostly use is to import the typescript type and place on top of file. In typescript, class could be referenced as type as well, the problem is when i do import the User Manager, the implementation of User Manager

[2019-02-15 04:23] raymondsze commented on #770
Yes, @brockallen please check https://github.com/IdentityModel/oidc-client-js/pull/772.

[2019-02-15 12:52] jvitor83 commented on #565
@benedict1986 did you solve this error?
I'm having the same issue.

[2019-02-16 18:10] PrabakarKaruppasamy opened #773 "could not complete authentication: Error: Unauthorized (401) - IE Browser Windows 7"
Hi Folks,

I am facing the issue could not complete the authentication Error Unauthorized (401) in IE browser WIN 7 OS.
The IE browser version is Edge.

The 401 error occurs in the URL (protocol/openid-connect/userinfo).

This also occurs when the page is loading in the frame. Its working as expected in Chrome Browser.

Any help should be appreciated.  Thanks.

Error description

[2019-02-16 18:41] bialabs opened #774 "authentication approach on Ionic/Cordova"
hello, i want to know if my approach is the right approach on Ionic with Authorization Code Flow.
I use startAuthentication to retrieve authentication url to open in Ionic InAppBrowser, when i got back redirect_uri i call completeAuthentication.
For logout i use startlogout

[code]

[2019-02-19 06:37] jalchr opened #776 "How to handle authentication when user is offline using Angular PWA?"
[This question is posted on Stack OverFlow ](https://stackoverflow.com/questions/54748282)
I have an angular application with PWA. My main concern is to allow the user to use the app while offline without internet connection. The question is: how can I accomplish that with IdentityServer and OIDC ? I'm considering the following solution: Assuming I have a valid "Refresh Token", then as long as the

[2019-02-19 11:59] ylligashi opened #777 "Error: Invalid response Content-Type: text/html; charset=utf-8, from URL:"
I am getting this error from `createSigninRequest`. How can I allow this content types

[2019-02-20 16:49] sKoinkinz opened #778 "Question: Session & Token Persistence/Sharing Between SPAs"
We're working on modernizing suite of our legacy web applications into SPAs with back-end APIs.  The result will be a set of SPAs that we're developing to look at feel like they are a single application.  There are obvious hurdles with navigating between SPAs, and I'm looking for a sanity check on how to handle the authenticated user & client tokens in these scenarios.

We've already determined th

[2019-02-20 18:03] LukasRada commented on #763
@Cooke Try to use terser-webpack-plugin as plugin for optimization/minification. It works for me.

[2019-02-20 20:45] vikram-mandyam opened #779 "Storing tokens in client side javascript not recomended ?"
There are many articles that mention that tokens should not be stored in the local storage/session storage as it leaves us vulnerable to XSS attacks. e.g. - https://stormpath.com/blog/where-to-store-your-jwts-cookies-vs-html5-web-storage

how to securely store tokens in client side javascript? Seems it is not quite possible...

[2019-02-24 14:36] brockallen commented on #779
Everything in a SPA is vulnerable to XSS attacks.

[2019-02-24 14:37] brockallen commented on #778
I'd not use cookies to store tokens. Just design each SPA as a separate client and your user will get the benefit of SSO. No need to share tokens across SPAs.

[2019-02-25 15:01] alexsandro-xpt commented on #766
@muralisambu and @brockallen I have same problem with last(2.3.0) version of IS4 and OIDCJS.

Have another IS4 at 2.1.0 version and don't have any problem.

It's this really a bug or what?

@muralisambu I will do that you said above.

[2019-02-25 17:09] msitms commented on #23
There are, but how many of them have the quality of this one, and support code flow + PKCE in the browser? To be honest, I'm struggling to find any. Any ideas?

I would be more than happy to see an oidc-client fork that just drops all the crypto dependencies for supporting id_token validation, but still supports everything else, including discovery, UserInfo endpoints etc.

[2019-02-25 17:24] jeroenheijmans commented on #628
FYI: The removal of jsrsasign from angular-oauth2-oidc [has been reverted](https://github.com/manfredsteyer/angular-oauth2-oidc/commit/c2162d0c1019674e2dbb07ed38d288ff88295c21) by @manfredsteyer shortly after the major release that contained it, because [some problems popped up](https://github.com/manfredsteyer/angular-oauth2-oidc/issues/460). Probably nothing insurmountable, but something to watc

[2019-02-25 17:32] wurst0815 opened #780 "Error: No state in response"
Hi,

maybe this is a stupid question, but I am currently not able to get oidc-client running with Azure Active Directory. To me it seems to be fine as the callback happens and has all parameters, but in my callback.html I constantly get the error no state in response.

I am using implicit flow, so my config looks like this:
`            var config = {
                authority: "https://login.micr

[2019-02-25 19:07] msender opened #781 "Removed check for window !== window.parent in notifyParent"

[2019-02-25 19:07] #781 closed, assigned to nobody

[2019-02-25 20:52] alexsandro-xpt commented on #766
@muralisambu doesn't works

[2019-02-25 22:03] alexsandro-xpt commented on #766
I cat some issue at log:

dbug: IdentityServer4.Services.DefaultClaimsService[0]
      Getting claims for identity token for subject: 1identityteste@teste.com.br and client: account
dbug: IdentityServer4.Services.DefaultClaimsService[0]
      In addition to an id_token, an access_token was requested. No claims other than sub are included in the id_token. To obtain more user claims, either use the

[2019-02-26 06:42] muralisambu commented on #766
@alexsandro-xpt  I was able to solve the issue by loading the  Idsvr cookie scheme for Authentication middleware.

services.AddAuthentication(x=>x.DefaultAuthenticateScheme = IdentityServer4.IdentityServerConstants.DefaultCookieAuthenticationScheme)

with this the cookie was retaining and was able to do silent renew

[2019-02-26 12:36] brockallen commented on #23
Yea, maybe in 2.0.

[2019-02-26 14:07] alexsandro-xpt commented on #766
@muralisambu doesn't works for me, after that code, the authentication stop to work.

Some time the oidc.js give me a `Frame window timed out` at console log in Chrome Dev Tools.
`SilentRenewService._tokenExpiring: Error from signinSilent: Frame window timed out`

Here is my Startup.cs  https://gist.github.com/alexsandro-xpt/5ebe79fd63134b0b60305504231677ae

[2019-02-26 14:47] snavarropino opened #782 "Make constant duration in Timer.js configurable"
In Timer.js we can see a fixed timer duration  of 5 seconds that is used in a serInterval. It seems this is used to fire events (token is about to expire for example)

It would be great if that time could be configurable, in order to allow us to delay the event detection (very usefull in heavy pages)

Why I am asking this? We are getting warnings from chrome as our Angular pages are very heavy

![

[2019-02-26 16:51] BarishSarac opened #783 "Oidc is not defined"
I keep getting OIDC is not defined error. I used old version no help, new version no help...

![error](https://user-images.githubusercontent.com/2792881/53430547-571e2280-39b4-11e9-9697-525b473c419c.JPG)

Error line is below:
`Oidc.Log.logger = window.console;`

[2019-02-26 17:16] BarishSarac commented on #783
I solved the problem by changing locally hosted OIDC client in below fashion
`<script src="oidc-client.min.js"></script>`
to CDN hosted version
`<script src="https://cdnjs.cloudflare.com/ajax/libs/oidc-client/1.6.1/oidc-client.min.js"></script>`

[2019-02-26 17:16] #783 closed, assigned to nobody

[2019-02-27 10:11] pedro-pedrosa commented on #780
Also getting "No state in response" error. This is probably related to the `signinRedirectCallback()` promise being resolved before the state is parsed from the URL.

I'm using react router, which modifies the URL instead of requesting another page to be loaded.

This code:
[code]
triggers the error _after_ the user object is logged to the console, which suggests that the promise is resolved befor

[2019-02-27 12:53] jnhaffey opened #784 "Login vs Logout redirects controller names"
Not sure if this is an issue or we have configured it wrong but we are noticing that whilst using the oidc client, the login redirect is going to `accounts/login` whilst the logoff redirect is going to `account/logoff`.

I could not figure out if this could be overwritten (configured) but I do find it odd that one is plural and the other is singular.

[2019-02-27 12:56] brockallen commented on #784
Your question sounds unrelated to this repo.

[2019-02-27 14:43] jnhaffey commented on #784
@brockallen Maybe I am looking in the wrong place.  Here is our setup.

We are running Identity Server 4 on one server.  We have build an Angular App that runs on another server.  We are using the oidc client to communicate between the two.  I will be honest, I am not an angular developer so I am just providing what was given to me by our front-end developer.

When a user goes to the angular app,

[2019-02-27 15:22] jnhaffey commented on #784
@brockallen After digging more into this, this has nothing to do with oidc or identity server, sorry about the confusion.

[2019-02-27 15:22] #784 closed, assigned to nobody

[2019-02-27 16:22] VictorioBerra opened #785 "Is state the only way to preserve query string parameters?"
If I call `signinRedirectCallback()` from mysite.com?hello=world I need to put the ?hello=world back when the redirect happens. I dont see this in the examples so I assume its my job to manually handle all that state right?

Secondary question, do I have to clear the login hash myself after a redirect also?

[2019-02-27 20:47] mylifeandcode commented on #768
@brockallen Please don't remove automaticSilentRenew. :)

[2019-02-28 08:48] ghost commented on #283
sorry can anybody say how we can handle the signoutpopup? how can we fire an event after a user close the popup window?

[2019-02-28 10:58] brockallen commented on #785
yes, and yes

[2019-02-28 14:07] #785 closed, assigned to nobody

[2019-03-01 22:24] lyxhaven commented on #297
Is there any update on this ?

[2019-03-01 23:12] jchandramohan opened #786 "Angular 6 authorization code flow - user_info endpoint"
I am trying to implement authorization code flow from Angular 6 application hosted in IIS.
Library versions -> "oidc-client": "^1.6.0",  "babel-polyfill": "^6.23.0".

After IDP login is successful, token endpoint is called and I see http response 200. But it doesn't make user_info endpoint call. Token endpoint call was the last one and it stops there.

Console shows these errors:
1. Access to XMLH

[2019-03-04 16:54] JohnGalt1717 commented on #23
Still hitting ~400k with latest release.

[2019-03-06 06:55] dewebeloper commented on #774
Hi
Did you confirm this approach?
It's seems like this example is only thing that I was able to find that's related with cordova app login with IdentityServer4.
How did you call startAuthentication() and what is expected url for completeAuthentication(url: string)?
Can you maybe share your example? I really would like to understand cordova pp login approach.
Thanks

[2019-03-06 08:42] ghost commented on #172
anybody found the solution?

[2019-03-07 11:51] bitoverflow commented on #780
I had this error after changing `response_type` to `'code'` from `id_token`
Adding `response_mode: 'query',` as @pedro-pedrosa suggested did the trick for me

[2019-03-08 13:21] nyghtrocker commented on #780
Hi, also getting this error only if I will use {response_mode:"query"}.
I'm using vanilla javascript and here is working code:
new Oidc.UserManager().signinRedirectCallback().then(function (user) {
            if (user == null) {
                document.getElementById("waiting").style.display = "none";
                document.getElementById("error").innerText = "No sign-in.";
            }

[2019-03-08 13:53] brockallen commented on #780
If you're using code flow and the call back is on a different page than your normal UserManage config, then you need to explicitly add {response_mode:"query"} on the options on the callback page.

If the UserManager on the calmlback page has the response_mode set then it will know the right place to look for the response params.

[2019-03-08 14:09] wurst0815 commented on #780
No I am using Implicit Flow but with a specific callback page (different than the originator).
So there is no response_mode necessary on the UserManager on the callback page?
But it doesn't work either with response_mode set or not.

[2019-03-08 14:18] Elias-Serneels opened #787 "AccessTokenExpired event should trigger a silentRenew in case of code pkce/refresh_token flow"
Hi,
**Setup**: We are using a code flow with pkce which puts refresh_tokens directly in the front-end.

Using this setup oidc-client-js will attempt to get a new access_token based on the current refresh_token as soon as the access_token is about to expire.
However, oidc-client-js does **NOT** perform this same action if the access_token has already expired.

This means that if a user is unable to

[2019-03-08 14:19] pedro-pedrosa commented on #780
@brockallen note that in both my snippets I'm using the same configuration on the same page, the first throws the `No state in response` error after `console.log(user);` which suggests something is wrong with the code base.

The second snippet doesn't throw an error for some reason? Is the state variable not being checked at all before the redirect which eats up the error?

[2019-03-08 15:54] dmmusil commented on #762
@brockallen any chance we can get an updated beta or RC with this PR in it?

[2019-03-08 17:31] brockallen commented on #762
does this not have it?

https://www.npmjs.com/package/oidc-client/v/1.7.0-beta.1

[2019-03-08 17:33] brockallen commented on #780
If the config is the same on the 2 pages, then there's an issue in your hosting perhaps? A common issue is that you're mixing http and https. If it's not that, then you will have to debug into it more.

[2019-03-08 17:37] brockallen commented on #787
I see what you're saying. Given that that event didn't previously do that and the library didn't used to support refresh tokens, I think automatically adding this would be a breaking change (at least semantically).

I'll leave this open for future consideration.

[2019-03-08 17:45] dmmusil commented on #762
Correct. This issue and the PR were in response to the beta.1 release.

[2019-03-08 17:47] brockallen commented on #762
ah ok -- i missed when it was. i have a TODO item to release this weekend, so it will pick this up

[2019-03-11 22:49] klebba commented on #503
@brockallen there's an open PR against this issue, do you intend to reopen? The practical scenario here is that

is not within my control, thus I must patch `MetadataService.getSigningKeys` and skip the in-memory cache of the JWKS response.

[2019-03-12 12:00] mohsinarif10 opened #788 "I get the Data through Database and plot in the Doughnut using jquery?"
I want on page onload ajax call go and fetch the Data from Database and plot the data in Doughnut chart jquery plugin in Asp.net Web form. i Did the same and data is fetching and return from method as stringbuilder and here on hTML side i use stringify and Json.parse but data not plotting on the same while i hardcode then it place on the same

    [WebMethod]
    [ScriptMethod(ResponseFormat = Res

[2019-03-12 12:50] brockallen commented on #788
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html) for more details.

Thanks!

[2019-03-12 12:50] #788 closed, assigned to nobody

[2019-03-12 12:51] brockallen commented on #503
Why do they change that fast?

[2019-03-12 14:55] UmerMo commented on #460
@brockallen the test server link isn't there anymore?

[2019-03-12 18:31] klebba commented on #503
@brockallen I can dig into that with our security team, but does this really matter? Users may keep our single page application open for several days, thus caching the signing keys in memory is seemingly going to be a problem regardless

[2019-03-13 00:04] briankitt opened #789 "Signout, quirky"
First off, where would I find good documentation on the parameters for SignoutRedirect or SignoutRedirectCallback, and what exactly is the difference between the two.  Admittedly, some good documentation would probably solve this issue.   Admittedly, I really have no clue what the difference is between SignoutRedirect and SignoutRedirectCallback, except that I assume the Callback version gives me

[2019-03-13 13:00] brockallen commented on #503
Ok, I think the real feature here is to keep track of the time we loaded/cached the keys, and then each time we get them compare the duration. That's different than what the original PR was trying to do.

[2019-03-13 13:46] Prithvirajbilla commented on #503
Sorry, I don't understand what you are suggesting. currently we cache the keys forever. Are you suggesting that we cache the keys with a set expiry time and try to refetch keys once they expire?

[2019-03-13 13:50] brockallen commented on #503
Yep. I think that would help @klebba's concern. It won't help the issue of the keys endpoint failing.

Having said that, @klebba if you think this will address your concern, please open a new issue to track.

[2019-03-13 14:01] Prithvirajbilla commented on #503
okay. That makes sense. I would also refetch keys **one more time** when the signed keys are not available in cache,  just so that it doesn't throw "No matching key" error infrequently.

I can take my original PR and add cache expiration logic to it, if you are fine with the above.

[2019-03-13 14:51] brockallen opened #790 "add flag to allow replace url (instead of redirect) in signinRedirect"
So back button doesn't go back to the login component (e.g. in angular)

[2019-03-13 14:54] brockallen commented on #790
`window.location.replace`

[2019-03-13 22:09] andyczerwonka opened #791 "how to authenticate against an external service"
I have a situation where I want to authenticate against two different services. My app (orange) authenticates just fine. I have a case where I need to call an external service (yellow) from the back end, but need to authenticate first, because that service also backed by an OIDC authentication scheme.

Is there an example of how I could accomplish this?

![dual-authentication](https://user-images.

[2019-03-13 23:08] klebba commented on #503
@brockallen forgive my ignorance here, how would we know when to expire the keys? Right now the cache control headers on the JWKS endpoint I consume look like `Cache-Control: no-cache, no-store`

[2019-03-14 00:56] dejan9393 opened #792 "TypeError: Cannot set property 'Log' of undefined"
Receiving the following error on the v1.7.0 release:

[code]

Issue does not occur on v.1.6.1

Looks like the `webpackUniversalModuleDefinition` method was getting `window` passed in as the first argument on v1.6.1, and is now getting `this` passed in on v1.7.0

[2019-03-14 01:11] dejan9393 commented on #792
https://github.com/webpack/webpack/issues/6784 seems to be related

[2019-03-14 11:49] brockallen commented on #503
We'd use our own on top. A value of 24 hours would be realistic as a default.

[2019-03-14 11:51] brockallen commented on #792
I think we should ask @lmachens, as this feels related to his PR: https://github.com/IdentityModel/oidc-client-js/pull/714. He [told](https://github.com/IdentityModel/oidc-client-js/pull/714#issuecomment-451724611) me he didn't think there would be any breaking changes :)

[2019-03-14 11:55] mkacal commented on #792
Issue occur only on google chrome.

[2019-03-14 18:23] klebba commented on #503
@brockallen that sounds great; because I can't currently know when the keys will roll over I suspect we would set this cache duration to zero today. However to have the ability to configure this cache duration without patching the library would give us the control we need to prevent the `no matching keys` problem. Thanks for considering!

[2019-03-14 23:25] brockallen commented on #503
If you'd like it to happen, please open a new issue as a feature request.

[2019-03-15 00:42] JoshLefebvre commented on #320
@markphillips100 or @brockallen  I realize this is a very old thread but I was wondering how you were able to get the login redirect to work?? I am currently working with an ionic 2 app and followed the sample application almost exactly. I was able to successfully open an in app browser and authenticate with my external provider. However upon attempting to redirect I get the following error:
![ima

[2019-03-15 07:47] HelloMyDevWorld commented on #652
Can anyone share how solve that problem ? oidc + next.js ?

[2019-03-15 13:26] CarlosTorrecillas opened #795 "Do you have to delete cookies / session storage on sign out?"
I have an angular APP that has the oidc-client integrated. I have set my authService to signOut if it receives the event of UserSignedOut() - note that will happen, when you have, for instance, two or more tabs of the same client, open, and one of them signs out. Then the other one or two will get that event.

That is all fine but because I get redirected to the login page, if I choose to log in f

[2019-03-15 14:51] CarlosTorrecillas commented on #795
I ended up handling that scenario on both sides. Not sure if that's the right thing to do - I'd really want to have your feedback here:

In order to avoid the AntiForgery validation failures in IS4 I re-implemented the Login method like this:

[code]

That way I do check whether the user is already logged in on that browser and therefore I assume I can skip the token validation.

Then on the Angul

[2019-03-17 15:01] markphillips100 commented on #320
I recommend switching to [AppAuth-JS](https://github.com/openid/AppAuth-JS) for native openid protocols, as I'm sure @brockallen has mentioned many times.

[2019-03-17 16:12] lmalves opened #797 "Silent refresh not sending secret to token endpoint"
Hi. In following Scott Brady's tutorial on silent refresh and everything is ok until it triggers the signinSilentCallback.
I get a 401 error, {error: "invalid_client", error_description: "Request requires a valid client authentication method"} from the token endpoint.
I've inspected the form data in the request and the problem seems to be that the client secret is not being sent like it is in the

[2019-03-19 03:29] JoshBarr opened #798 "query_status_response_type should default to code if using PKCE flow"
Raising this here in the hope it saves other folks some time :)

If you're using PKCE, you might find issues with silent refresh and session check methods on UserManager:
* Silent requests to IdentityServer fail with errors like "Invalid grant type for client"
* You may notice Iframe timeouts or CSP violations in the console.

To fix the issue, you need to change the value of the `query_status_res

[2019-03-19 09:43] ArnoNuyts commented on #462
Had the same issue in Chrome. Found out this was caused by disabling third-party cookies.

[2019-03-20 11:25] mr- opened #799 "Error: No state in response - implicit flow originating from password reset email"
Hey,
I am getting this error in the following scenario.

    Error: No state in response
    at UserManager.processSigninResponse

We are implementing the implicit flow (token + Id token) and the login on our homepage works fine.
However, our Identity provider allows our customers to reset their password. They would click a "Forgot password" link on the login form, enter their email address and wi

[2019-03-20 12:19] RopoMen commented on #576
I encountered this same issue today. I got one idea for which I do not have enough time to investigate, but is it possible to use Cognito Lambda Triggers to add request "nonce" back to response?

[2019-03-20 14:55] Kizmar opened #800 "signinSilent() removes site background image!?"
This is a weird one. I have a ReactJS SPA that I'm implementing this client in. I'm slowly working through bugs, but noticed this and have no idea what would be causing it.

A `global.css` has the following style:
[code]
I have `userManager.events.addAccessTokenExpired()` and `userManager.events.addAccessTokenExpiring()` both wired up to call `userManager.signinSilent()` when the event is dispatch

[2019-03-20 15:16] #800 closed, assigned to nobody

[2019-03-20 15:35] Kizmar commented on #800
Closed because I realized the issue was due to the callback route I was using. I had it set to a React route, which was probably causing the entire SPA to load in the iFrame and do funky things. I'm currently looking at implementing something like this example instead:

https://github.com/skoruba/react-oidc-client-js/blob/master/src/public/silent-renew.html

[2019-03-20 16:35] Ugot2BkidNme opened #801 "FYI: Running local tutorials against .Net Core 3.0 Error: No matching state found in storage at OidcClient.js:116"
I was going through the tutorials in .Net Core 3 preview.
I have everything working with a few minor changes up until I reached the JavaScript client example.

Once I reached the JavaScript example the initialization of the first call to login takes a few minutes but eventually succeeds to take me to the login.

After I login in however I am eventually(after about 90 seconds) returned to the callb

[2019-03-21 06:59] RopoMen commented on #576
Yesterday I wrote comment on this thread and thought that it may be possible to use Cognito Lambda Triggers to add `nonce` in to JWT payload. But then I changed my mind and deleted the message.

Today I re-evaluated that possibility and it actually could be possible, but I haven't tested this. Also because I haven't done Lambdas before I cant be sure that are request parameters available, but this

[2019-03-21 15:00] brockallen commented on #799
the state is needed to round trip correlation info. not sure where you're loosing it, but the state is the identifier of info stored in local storage, so that might help you track it down.

[2019-03-21 18:20] annmarie-switzer opened #802 ""No authority configured on settings" when there is a string value present. - Angular 7"
I don't know if this is oidc or Angular or both. Different representations of the same string value cause authority to not be recognized:

Works if I enter the value directly:
[code]

Doesn't work getting the value from a service:
[code]

Works getting the value from another class in another file:
[code]

Doesn't work getting the value from another class in another file IF THAT FILE is using the s

[2019-03-21 22:12] Ugot2BkidNme commented on #801
Update: problem occurred on 2.4.0-preview updating to 2.4.0 released today fixed the problem.

[2019-03-21 22:27] LasseRosenow opened #803 "Lit-Element: Uncaught TypeError: Cannot read property 'TYPED_ARRAY_SUPPORT' of undefined"
When I write "new UserManager({...})" in a lit-element project using typescript and parcel, I get this issue:

Uncaught TypeError: Cannot read property 'TYPED_ARRAY_SUPPORT' of undefined

![image](https://user-images.githubusercontent.com/10547444/54788855-e5429d00-4c30-11e9-8efc-8f526c105131.png)

[2019-03-21 22:44] mr- commented on #799
Hi @brockallen
as far as I understand the specs, the state is recommended, not needed. Everything that's stored (except for the "secret" part) is also stored in the URL.

The point here is: The client is not the on initiating the flow, but a password reset email.
Since there can then not be a state originating from the client (because the email may be opened on another device), I was wondering if

[2019-03-22 14:58] kmontg commented on #645
Running into the same issue. Cognito returns both the access token and (OIDC) id_token with just the response_type of 'token' and doesn't support passing both 'id_token' and 'token' as a response_type. Are there any known workarounds so that the user profile is still loaded?

[2019-03-22 15:29] kmontg commented on #576
I don't believe there are any of the authentication request parameters (e.g state) available to the Lambda unfortunately.

[2019-03-22 16:26] brockallen commented on #799
Ah, I see. So OIDC doesn't support IdP-initiated SSO. You need your password reset workflow to redirect the user to a known page in your app that then starts the protocol flow.

[2019-03-22 16:28] #801 closed, assigned to nobody

[2019-03-23 12:15] sei-jmattson commented on #802
Is stsAuthority value hardcoded in settingsService?  Likely you are fetching it, and it isn't yet set when Settings are passed into UserManager.  Do you have an APP_INITIALIZER that loads settings before doing anything else?

[2019-03-24 12:14] #803 closed, assigned to nobody

[2019-03-25 14:24] annmarie-switzer commented on #802
Yes as it turns out, the settingsService values are not loading in time for UserManager to use them.

stsAuthority is set in assets/settings.json when the Docker container is loaded (in theory, though for testing right now I have hardcoded the values in assets/settigns.json.)

I do have them set up in an APP_INITIALIZER, but for whatever reason, it's not preventing the UserManager service from loa

[2019-03-25 15:28] sei-jmattson commented on #802
Probably not the place for this discussion, since oidc-js works fine with angular in general.
But I will say your example is similar to my working projects.  Though I trap for any load error:
[code]

[2019-03-25 15:33] annmarie-switzer commented on #802
Ah, this is an interesting implementation. I am currently working around it by using a BehaviorSubject:
[code]
And then checking that the Subject is true before running the Auth Service. Your way seems a little bit cleaner, I think.

[2019-03-25 19:35] thorn0 commented on #728
Please don't do this. [KV Storage](https://github.com/WICG/kv-storage) is coming. See https://developers.google.com/web/updates/2019/03/kv-storage

[2019-03-25 21:43] brockallen commented on #728
ok, good to know. what's the sandboxing model for it?

[2019-03-26 06:17] ibrahimsen opened #806 "IE11 'Promise' is undefined"
Hello,

In my angular 7 project I've upgrade oidc-client-js lib to new version (1.7.0) and it is worked fine in chrome. But when I try to login in IE browser I'm get an error as below. Have any advice to solve this issue?

'Promise' is undefined

[2019-03-26 08:15] thorn0 commented on #728
Same as for IndexedDB, I guess. It's a layer on top of IndexedDB

[2019-03-26 12:38] brockallen commented on #728
Ah nice. Thanks for the heads up

[2019-03-26 12:39] brockallen commented on #806
You need the babel polyfill or something to polyfill promise when in IE

[2019-03-27 04:59] dhameergovind opened #808 "Redirect issue"
I am not sure about this but after logging in I am being redirected to this url "http://localhost:4200/#/id_token". I am trying to redirect elsewhere in my angular app

[2019-03-27 07:37] HelloMyDevWorld opened #809 "SSR with oidc-client"
Hello everyone,

I know that it's not a issue topic, but it would be very helpful for all to see how to correctly implement oidc-client with SSR (.net/nextjs) ?

BR

[2019-03-27 10:37] #806 closed, assigned to nobody

[2019-03-27 11:10] kienlv58 opened #810 "redirect_uri with cordova app"
When I build the hybrid app with Cordova, I have an issue with redirect_uri: window.location.href.
the real URL of window.location.href after build android app is : file:///android_asset/www/index.html.
It's not allowed from oidc.

Help me please !

[2019-03-27 13:00] brockallen commented on #810
If you building a native app, you should use appauth-js instead of this library:

https://github.com/openid/appauth-js

[2019-03-27 13:01] brockallen commented on #809
I don't have any help for you. Maybe check on stack overflow?

[2019-03-27 13:02] brockallen commented on #808
Use the state param in the request to keep state across the redirect. Check the samples.

[2019-03-27 14:27] dhameergovind commented on #808
The sample just has window.location = "/"; in the signin-callback.html page?

[2019-03-27 17:02] brockallen commented on #808
perhaps the wrong sample: https://github.com/IdentityModel/oidc-client-js/blob/dev/samples/VanillaJS/public/code-identityserver-sample.js#L112 and in the call back the user has a state prop

[2019-03-27 23:04] snavarropino commented on #782
Any comment?

[2019-03-28 06:09] dhameergovind commented on #808
Turns out it was not redirecting because the redirect url in my config.cs file was not pointing to the exact  location of the oidc-redirect page. I was missing the '/assets' in the path.

`"http://localhost:4200/assets/oidc-login-redirect.html",`

[2019-03-28 06:09] #808 closed, assigned to nobody

[2019-03-28 11:22] Koenyn opened #811 "Initialize userManager with access_token"
If I receive an access_token for a user from another source, is there a way to initialize the UserManager with the access_token and fetch the user info from the userinfo endpoint?

[2019-03-28 18:52] shuppert opened #812 "Restrictions to http/https origins"
I'm working on a new mobile application that uses Capacitor rather than Cordova.  On iOS Capacitor applications present themselves as coming from "capacitor://localhost" rather than "localhost://".  I configured "capacitor://localhost" as a valid ClientCorsOrigin in my IdentityServer but I'm still getting CORS errors on iOS:  "Origin capacitor://localhost is not allowed by Access-Control-Allow-Ori

[2019-03-28 22:38] brockallen commented on #812
That's unrelated to oidc-client. It sounds like a hosting/platform issue

[2019-03-30 21:07] brockallen opened #813 "review SigninRequest.isOidc"
It's looking for response_type='id_token', which is now incorrect w/ code+pkce.

[2019-03-30 21:08] brockallen opened #814 "UserManagerSettings.query_status_response_type should use code if response_type not implicit"
Affects sign out notification.

[2019-04-02 07:05] asharda1 opened #815 "UserInfo endpoint and ACR_Values"
HI, I am using OIDC-Client and IDentityServer4, For some custom claims I have overridden ProfileService that added some claim based on the ACR_Values passed by the client in authentication request.
but as ProfileService of Identityserver also called for UserInfo endpoint the ACR_Values are not available there,
How can I get the ACR_Values in profileservice when itis called by USerInfo endpoint

[2019-04-02 14:37] shuppert commented on #812
Thanks for the info @brockallen.  After some additional digging I found that the CORS error was from calling the Discovery Endpoint of IdentityServer3.  The CORS entries in the ClientCorsOrigins don't seem to apply there.  After adding a CORS entry at the IIS site level I was able to get to the login screen but now I have callback issues after authenticating.  I'm surprised to see you recommending

[2019-04-02 15:17] sei-jmattson opened #816 "Flag for default endpoints"
Any interest in a setting to use default endpoints for cases when you don't want to fetch metadata just to get the default authorize endpoint?  #804

Thanks for considering.

[2019-04-02 15:46] timReynolds commented on #809
I've been working on this recently and have a basic "working" example which isn't ready to be shared yet but I've found the main sticking point to be the use of local/session storage as this state isn't accessible on the server to obtain the access token, which you'll probably want to pass to your API or similar from both the client or the server.

If this is the only functionality you want on the

[2019-04-02 17:15] brockallen commented on #815
This seems to be a general question about IdentityServer - not a bug report or an issue.

Please use one of the our free or commercial support options

See [here](https://identityserver4.readthedocs.io/en/latest/intro/support.html) for more details.

Thanks!

[2019-04-02 17:15] #815 closed, assigned to nobody

[2019-04-02 17:17] brockallen commented on #809
If that's your need, then the design is wrong, IMO. This library is for apps that need protocol client-side. If you have server side code that also nerds protocol, then use something designed for your server. If you have a mixed app where you need both, then I'd tend to treat them as 2 separate clients.

[2019-04-02 17:18] brockallen commented on #816
what is the "default authorize endpoint"?

[2019-04-02 17:20] brockallen commented on #812
That's because a cordova app is not a client-side browser based app. From the OAuth perspective, it's considered a native app: https://tools.ietf.org/html/rfc8252#section-3

[2019-04-02 17:37] sei-jmattson commented on #816
Hmm, I suppose I meant default authorize endpoint *url*.

I'm using `settings.authority + '/connect/authorize'`.

Maybe that is only "default" for IdentityServer4?

[2019-04-02 17:59] brockallen commented on #816
Correct.

[2019-04-02 20:59] shuppert commented on #812
BTW, the filter that keeps swallowing my CORS value is in IdentityServer3:

https://github.com/IdentityServer/IdentityServer3/blob/fd8fa2d5bed28dc38cdd869857258fea1f859935/source/Core/Extensions/StringsExtensions.cs#L143

[2019-04-02 21:05] sei-jmattson commented on #816
I see. And I understand that your "metadata-fetch-if-not-provided" design meets nearly everybody's need.

How about a PR that adds an "initialAuthorizeEndpointUrl" setting that is used like:
[code]

Eliminating the metadata fetch in SigninRedirect would help me smooth out the user experience when using client-certificates at the IdentityServer (which currently prompts for certificate pin both on t

[2019-04-02 21:38] brockallen commented on #816
You can just set all the metadata ahead of time and no discovery endpoint will be loaded. I forget the exact proper name, but the internals treat it as if the cache has already been loaded.

[2019-04-03 05:01] HitDaCa commented on #798
Thanks @JoshBarr ;-),

Rather hilarious but this saved me and a team I'm helping quite some time today ;-), they were having exact the same issue.

You're the man!

Thanks,
Dave

[2019-04-03 12:29] brockallen commented on #798
Yea, this is on my backlog to do some sort of fix.

[2019-04-03 14:09] sei-jmattson commented on #816
That's what I was trying to avoid! :)  Thanks, though.

[2019-04-03 14:09] #816 closed, assigned to nobody

[2019-04-04 11:25] gvkumarreddy opened #817 "Angular production build with "buildOptimizer": true is not working"
We are using v1.6.1 with angular. In the angular.json file, when we have  "buildOptimizer": true, the auth_callback route is not responding and it is showing empty page. When we change it to  "buildOptimizer": false, it works. I have checked all other issues similar to this and could not get it resolved. Need some help on this.

[2019-04-04 14:07] BarishSarac opened #818 "How to stop UserManager.getUser: user loaded message"
How can I stop console to log 5 user logged in messages like this?
![image](https://user-images.githubusercontent.com/2792881/55562222-1e5f2080-56b9-11e9-8cd1-d31431a04733.png)

[2019-04-05 15:15] wi3land commented on #774
Hi,

I also had this issue with oidc-client-js, the issue is that the creators only intended this library to be used for implicit flow with a front end framework. This is perfect for websites but not ideal for mobile apps in modern development.

The creators of this repo generally direct users towards AppAuth-JS but you will find it a bit more complicated to set up than this repo.

I created my ow

[2019-04-05 15:27] wi3land commented on #810
Are you using ionic with cordova?

[2019-04-08 13:28] shuppert commented on #812
We're also using the EF package so we had to make same change here:
https://github.com/IdentityServer/IdentityServer3.EntityFramework/blob/master/Source/Core.EntityFramework/Extensions/StringExtensions.cs#L24

[2019-04-08 14:22] TioLuiso opened #819 "Usage of session cookies from .NET"
Hello

Ok, we are developing an application, the IdP is in .NET Core 2.2 with IdentityServer4, integrated with ASP.NET Core Identity. The frontend is an Angular 7 (it begun at angular4) application. We set an interceptor for each service call in the angular application, and we set the Authorization header. We have managed so far to make it work with other 3 services, and it works like a charm.

Bu

[2019-04-08 20:17] tomzre commented on #778
Any idea how to end session from all logged in SPAs?
We have similiar solution but I guess ending session is designed in wrong way. After logging out from "main" application which is something like container for the other SPAs and logging in after on the different user the previous session is restored for the inside apps.
We use IdentityServer4.

[2019-04-09 08:13] mweibel opened #820 "POST request for authorize calls"
Would you accept a PR which enables to use a POST request for the authorize calls (using `IFrameWindow`/ `IFrameNavigator`) instead of the standard GET request?
[According to the standard GET and POST MAY be used](https://openid.net/specs/openid-connect-core-1_0.html#AuthRequest) and depending on the browser the GET request has different max URL lengths which may lead to issues if many scopes/clai

[2019-04-09 08:22] thilohaas commented on #820
👍

[2019-04-09 08:33] ghost commented on #566
I'm still having an issue with setting it to use localstorage. I tried the suggested idp settings, but then i don't get a user at all.

[2019-04-09 10:53] TioLuiso commented on #819
I have managed to find a solution
In the interceptor, I previously had something like
`const authReq = req.clone({
    headers: req.headers.set('Authorization', authorizationHeader)
        .set('Content-Type', 'application/json; charset=utf-8')
});`

I changed to
`const authReq = req.clone({
    withCredentials: true
});`

And it automagically sends the session cookie

[2019-04-09 10:54] ghost commented on #566
Some extra info:

- Using the sample from the project (the link provided by Brock)
- Using v1.7.0

When logging in it doesn't get the user. But... then when doing a silent renew it gets the user. So there must be something in the silent renew logic that happens which doesn't happen in the normal login logic?

Session storage works without issues, but I'd like to use localstorage for opening links

[2019-04-10 07:06] apacherose commented on #778
@brockallen , having similar scenario like @sKoinkinz , I'd also like to know your concerns for storing the tokens in cookie. CSRF?

[2019-04-10 12:40] brockallen commented on #778
I don't think a cookie makes sense, as it's sent to the server on every request. If you have same-site apps, then you can just use a cookie for authentication to your APIs: https://brockallen.com/2019/01/03/the-state-of-the-implicit-flow-in-oauth2/

[2019-04-10 15:18] dgreene1 opened #821 "update dependencies with CVEs"
Our build pipeline at our company will fail if any package has security vulnerabilities. Since `oidc-client-js` is failing, we can't use it. Which is unfortunate because this library seems really awesome. And also it has the highest usage from what I can tell on npm trends. So is there a way to fix the vulnerabilities?
https://www.npmtrends.com/angular-auth-oidc-client-vs-angular-oauth2-oidc-vs-oi

[2019-04-10 15:21] Elias-Serneels opened #822 ""refresh_token" pkce flow does not update the "oidc:user.id_token" in storage"
Hi,

When using a "refresh_token" flow with pkce in oidc-client 1.6.1 I found that triggering any kind of "refresh" mechanism does not update the existing "id_token" in the userStore even though the other properties do update. The id_token in the oidc:user key remains unchanged from the one issued during initial login.

The problem seems to come from the _useRefreshToken function where the respons

[2019-04-10 15:54] Sparker73 commented on #288
How is it that a question was answered with another question and then closed?
I'm relatively new to this and I don't know how to place a question but I can see that the user @kuncevic opened it as an issue and @brockallen added the label `question`. Anyways, user @raasmasood and I myself also have this problem.

I am using [oidc-client](https://github.com/IdentityModel/oidc-client-js) latest (1.7)

[2019-04-10 16:53] brockallen commented on #288
The answer is that by default sessionStorage is used to maintain the session. sessionStorage is per-window, thus it's expected behavior that a new tab will not have a session. If you don't like that behavior, as I mentioned, you can change it by changing which storage is used - it's on the options class.

[2019-04-11 09:49] yasikmondal opened #823 "How to remove .well-known/openid-configuration in every service call."
Hi Team,

My OIDC server is different and when ever I am trying to hit my OIDC server from angular sample it's autometically appending .well-known/openid-configuration at the end, hence my OIDC server is returning as 404. How to remove this string for all the OIDC call.?

**Request URL: https://XXXXXXXXXXXXXXXX.yyyyyyy.com/.well-known/openid-configuration
Request Method: GET
Status Code: 404 Not F

[2019-04-11 11:44] brockallen commented on #823
I don't understand. That's part of the spec. If your token server doesn't support that, then it's not spec compliant and won't work with oidc-client-js.

[2019-04-11 16:48] brockallen commented on #822
So what are you missing by the id_token not being updated?

[2019-04-11 16:48] brockallen commented on #822
So what are you missing by the id_token not being updated?

[2019-04-11 16:49] brockallen commented on #759
By setting the client_id.

[2019-04-11 16:50] brockallen commented on #773
Sorry, not sure. Were you able to debug further or find anything else?

[2019-04-11 16:51] brockallen commented on #774
All set on this issue -- can we close?

[2019-04-11 16:52] brockallen commented on #776
I'd think the same as if you weren't using them -- you need a local DB and when you're back online replay the requests to your API, no?

[2019-04-11 16:53] brockallen commented on #777
Not enough info

[2019-04-11 16:53] brockallen commented on #780
Closing. If you still have issues, feel free to reopen.

[2019-04-11 16:54] brockallen commented on #782
So your problem is the amount of logs?

[2019-04-11 16:55] brockallen commented on #786
Not sure why in your scenario there's no call to user info -- did you disable that setting in the callback page's options, perhaps?

[2019-04-11 16:59] brockallen commented on #789
The wiki is the only place I'd had a chance to provide docs: https://github.com/IdentityModel/oidc-client-js/wiki

But as with all OSS projects, the code is also quite useful in documenting things.

signoutRedirect() does SLO according to the OIDC spec: https://openid.net/specs/openid-connect-session-1_0.html#RPLogout

If you want the user to go to some page after the sign out at your token server

[2019-04-11 17:00] brockallen commented on #791
Look into the federation gateway pattern: http://docs.identityserver.io/en/latest/topics/federation_gateway.html

[2019-04-11 17:00] #791 closed, assigned to nobody

[2019-04-11 17:01] brockallen commented on #792
@lmachens do you have any input here?

[2019-04-11 17:01] brockallen commented on #795
All set on this issue -- can we close?

[2019-04-11 17:02] brockallen commented on #797
Sounds like you're missing a client secret? Or disable the need for one.

[2019-04-11 17:03] brockallen commented on #802
All set on this issue -- can we close?

[2019-04-11 17:03] brockallen commented on #811
Not at present.

[2019-04-11 17:03] #811 closed, assigned to nobody

[2019-04-11 17:03] brockallen commented on #817
No idea, sorry.

[2019-04-11 17:04] annmarie-switzer commented on #802
Yes, thank you!

[2019-04-11 17:04] #802 closed, assigned to nobody

[2019-04-11 17:04] brockallen commented on #818
It's logged each time `getUser()` is called. Stop calling that API, or change your log levels.

[2019-04-11 17:04] #818 closed, assigned to nobody

[2019-04-11 17:06] brockallen commented on #819
If you're now using the cookie for the API, why do you need tokens?

I suspect the real answer is that you're putting way too many claims in the access token.