[2017-02-16 17:02] brockallen commented on #266
offline_access is not allowed for implicit flow. why are you requesting it?

[2017-02-16 17:09] DoubleExposure commented on #266
My error. I removed it. Now I can see that I am in an infinite loop.
Would you know if it is incorrect to have the this.startSigninMainWindow() step within the  ngOnInit of the app.component page? This seems to be the best place to call the authentication server.  Once I removed offline_access, it is in an infinite loop.  It should be routing to localhost:808/Home

    ngOnInit() {
        this.lo

[2017-02-16 17:21] brockallen commented on #266
Also this:

Are you handling the callback somewhere in ~/Home? Or is ~/Home loading and then triggering the redirect to IS?

[2017-02-16 22:17] DoubleExposure commented on #266
Yes. I followed the auth-service.ts example and I call the methods from this service from there.
Do you know why I would get an error stating user **not found in storage**? This error is generated by the getUser() method of the OIDC-CLIENT.JS.
I have a lot of data in the localstorage but apparently not the correct data based on the error.

[2017-02-16 22:31] xperiandri commented on #234
Password flow would be extremely useful

[2017-02-17 09:30] ghost opened #267 "Bower package?"
Hi! Would it make sense to have a bower package for this lib?

[2017-02-17 12:48] cornelius-agrippa commented on #267
Hey. Correct me if I'm not understanding what you mean but I think it already does: https://github.com/IdentityModel/oidc-client-js/blob/release/bower.json

[2017-02-17 12:54] ghost commented on #267
Aaa, thanks! Didn't see it.

[2017-02-17 12:54] #267 closed, assigned to nobody

[2017-02-17 23:57] DoubleExposure commented on #59
tstone84, I am entering an infinite loop as well. Can you share how you called this callback.html/ callback.component.ts page? A few lines of code on how this is being done?
This clientside code has me a bit confused. .NET was easier. Thanks

[2017-02-20 10:51] Mardoxx opened #268 "Can't get signoutPopup to work"
I'm using v1.2.2 (and I've also tried with 1.3.0-beta.3).

`signinPopup({..})` works great.

However, when I try and run `signoutPopup()` the promise is never resolved. I believe this is due to #254 ?

Brief review of the code sees `signoutPopup` uses a similar mechanism to `signinPopup` yet the latter doesn't have a unique return url, nor an associated callback.

[2017-02-20 13:10] brockallen commented on #268
https://github.com/IdentityModel/oidc-client-js/blob/dev/sample/public/user-manager-sample-popup.html#L14

[2017-02-20 13:11] brockallen commented on #268
Ah, sorry -- signout (I originally misread it as signin). I'll look into the other issue when I can.

[2017-02-20 13:17] Mardoxx commented on #268
No probs! I tried to add a similar callback for signout, but couldn't get it to work. It's never that simple 😛!

BTW, 1.3.0-beta3, everything is defined in the global(?) namespace instead of under `Oidc.`, not sure if this is by design?

[2017-02-20 13:23] brockallen commented on #268
Hmm, well, depends how you pull in the library. But the ~/dist version is still supposed to be under Oidc.

[2017-02-20 13:27] Mardoxx commented on #268
Ah yes, rightly so, my mistake!

[2017-02-20 15:55] tstone84 commented on #59
@DoubleExposure We ended up using a separate static callback.html page as Brock recommended. It's just a blank .html page with a script.  Obviously, you will want to redirect or add additional logic to redirect where you would like the user to be redirected to. Here's the code in that page:
`<script>
           new Oidc.UserManager().signinRedirectCallback().then(function(user) {
               co

[2017-02-21 00:18] jonathaneckman commented on #134
Just ran into this issue in 1.3.0-beta.3. I see the same symptoms as described in the related issue @shaunluttin posted.

[2017-02-21 00:34] jonathaneckman commented on #134
According to [Google](http://stackoverflow.com/questions/12199797/why-is-iframe-contentwindow-null), the iframe is added to the page and selected before it is ready, thus the contentWindow is undefined. I will step through it and see how I can work out the order of things on Aurelia's end.

@brockallen is there anything already added to your library to make this easier? I see `iframeNavigator` in

[2017-02-21 00:54] jonathaneckman commented on #134
Disregard. Others already posted the solution in #171

[2017-02-21 11:17] tomeinar opened #269 "Storage not available in Safari Private mode"
We run into problems when the user enters private mode on safari, because safari sets the storage quota to 0. This means that an exception is thrown when the library tries to getItem or setItem. As a workaround, we created CookieStorage which emulates storage (same methods), but stores in a secure cookie. This works fine, but it might not be best practice? Any feedback would be much appreciated.

[2017-02-21 17:52] lghinet opened #270 "exp is in the past while testing on IOS, chrome and safari"
hello
i get `exp is in the past `
while testing on IOS, after login
any ideas ?
thanks

[2017-02-21 17:54] lghinet opened #271 "any release notes available"
hello
any release notes available  ?

[2017-02-22 18:40] brockallen commented on #269
Sorry, I had never heard of that before (and sounds like a bad way to implement it, IMO). There's not much I can do for you, and if your workaround works then great -- the library's extensibility works! :)

[2017-02-22 18:40] brockallen commented on #271
https://github.com/IdentityModel/oidc-client-js/releases

[2017-02-22 18:41] brockallen commented on #270
Check the clocks -- they need to be synch'd within 5m.

[2017-02-23 06:58] lghinet commented on #271
i see now that the latest is 1.3 beta .. whats new ?
thanks

[2017-02-23 07:04] lghinet commented on #270
the clock of the client and the clock of the server ?
they are synch`d +/- timezone

[2017-02-23 16:10] sankp opened #272 "oidc-client.js erroring in IE 11"
Hello,

I am using oidc-client.js with angular2 which is working fine in Chrome.
While testing on IE 11 i am able to go to login screen and after login it fails in auth,html with below error
Object doesn't support property or method 'from'
File: oidc-client.min.js, Line: 1, Column: 1770

[2017-02-24 15:44] brockallen commented on #272
If you're using Angular2 then you should be loading the library via a module loader, and also picking up any polyfils from Angular2, right?

[2017-02-24 22:35] sankp commented on #272
<script>
        new Oidc.UserManager().signinSilentCallback();
</script>
Doing above solve the problem

[2017-02-24 23:07] brockallen commented on #272
So we can close this issue?

[2017-02-25 15:55] sankp commented on #272
Yes

[2017-02-26 18:41] #272 closed, assigned to nobody

[2017-02-26 20:00] jonathaneckman commented on #250
I just fixed an issue that may be related. The redirect url is loaded in the iframe after a successful login. In my case, I was pointing to a deep linked route in an Aurelia SPA. Within the iframe, the SPA was starting again which created a new instance of UserManager and another iframe that would immediately try to silently renew. It looped like this, recursively creating iframes until the origin

[2017-02-26 20:50] brockallen commented on #250
Redirect URIs are recommended to be stand alone html pages with as little other code running on them as possible.

[2017-02-27 13:37] superjulius commented on #271
No official release notes as far as I can tell yet but you can check out the [issue tracker for 1.3.0](https://github.com/IdentityModel/oidc-client-js/issues?utf8=%E2%9C%93&q=is%3Aissue%20milestone%3A1.3.0) and the commits since 1.2.2 on [DEV](https://github.com/IdentityModel/oidc-client-js/commits/dev) to get an idea of what was done so far

[2017-02-27 14:43] brockallen commented on #271
Yep, @superjulius is correct.

[2017-02-27 14:43] #271 closed, assigned to nobody

[2017-02-28 13:08] paulyipkh commented on #268
I came across the same problem. The user unloaded normally but the popup windows didn't dismiss after calling signoutRedirectCallback(). In the meantime, I can only add a catch method after calling Usermanager.signoutPopup(), and window.close() the callback window after calling signoutRedirectCallback(),

[2017-03-01 08:46] johnlim opened #273 "OdicTokenManager"
Hi,

Any advise for me if all I need is the OdicTokenManger but which has been discontinued and merged into oidc-client? I could include the whole library but all I really need is the OdicTokenManager. Thanks :)

[2017-03-01 16:20] brockallen commented on #273
It's now called UserManager in the oidc-client-js library.

[2017-03-02 16:45] abrovko commented on #241
In my case I am seeing a similar behavior (multiple renews) but in my case it is most likely caused by multiple instances of UserManager. I am using Hot Module Replacement and on each HMR-initiated reload I end up creating a new UserManager and after that I am seeing multiple renews.
So my question is - is there a way to dispose\destroy UserManager instance or at least somehow cleanup internal tim

[2017-03-02 22:37] brockallen commented on #241
No, so perhaps it makes more sense for you to manage the silent renew yourself by your code registering for the addAccessTokenExpiring event and then calling signinSilent -- that way you can add/remove your event handler when you reload (which will have the effect of unregistering or stopping the silent renew).

[2017-03-03 05:16] abrovko commented on #241
Thank you for the suggestion, manually subscribing and unsubscribing to the event worked.
This only affects development environment so it is not a big issue and the workaround is easy enough to implement. Thanks again.

[2017-03-04 20:59] mateuszmcz opened #274 "OIDC implicit flow, Callback URL length."
I'm using OIDC with implicit code flow with response type "id_token token". Everything works great but noticed that callback url with access token, id_token, scope and session_state + domain name already contains 2033 characters. Project that I'm working on needs to support IE 10 and as far as I know there is a limit URL 2048 characters. I'm little afraid that length of callback url is apporaching

[2017-03-05 08:54] lghinet opened #275 "/.well-known/openid-configuration cache-control"
### Issue
Hello,
the problem i have is when a users goes from the main domain.com (dashboard) to pay.domain.com, which is another application, then hits the back button of the browser and comes back to the root domain, dashboard, (domain.com) and tries to get the well-known/openid-configuration again from sso, but is serverd from cache, from the subdomain app.
there is no cache control headers set

[2017-03-05 13:57] brockallen commented on #274
These are well-known and discussed issues in the IS issue tracker or on SO - not a bug report or an issue.

Please use StackOverflow for that. This has the advantage that questions and answers can be easily found by search engines, and that there are more people answering questions than just us.

For IdentityServer3
https://stackoverflow.com/questions/tagged/?tagnames=identityserver3&sort=newest

[2017-03-05 13:57] #274 closed, assigned to nobody

[2017-03-06 12:13] mpellerin42 commented on #252
Agree with @thepill as I end up with an infinite loop as well. The documentation is unclear and I already look to @brockallen sample...
I'm trying to setting up an app using Angular 1, automatically checking if the user is logged using getUser() and if user not logged, I call signinRedirect.
The thing is, getUser() always return null after the redirection...

[2017-03-06 12:36] mpellerin42 opened #276 "getUser() always return null"
I'm trying to setup an angular 1 app using oidc-client-js to automatically check if a user is logged in or not.
When the user is not logged, the redirection works well, but when it comes back to the application, it ends up in an infinite loop because getUser() always return null.

Here the code I use on application load:
[code]

But on the logs, I always have

then logs corresponding to the loggin

[2017-03-06 12:48] brockallen commented on #276
[code]

should be:

[code]

[2017-03-06 12:53] mpellerin42 commented on #276
Yes, it's what I have:
[code]

and if I reverse the logic like that I have the same result:
[code]

[2017-03-06 12:55] mpellerin42 commented on #276
So I think there something wrong with `getUser()`, because using `signinRedirectCallback()` that works:

[code]

[2017-03-06 12:58] brockallen commented on #276
Not sure then, you will have to do some debugging.

[2017-03-06 19:14] raigol opened #277 "No matching state found in storage"
Angular2 and IdentityServer4 I get: No matching state found in storage.

the same code works perfectly in development when running from Angular 2 cli
ng serve
localhost:4200

but when I do
ng build --prod

and deploy to server I start getting "No matching state found in storage".
I have checked that alls URLs are correct (authority, redirect_uri, post_logout_redirect_uri).
What might cause this er

[2017-03-07 14:02] dgsunesen opened #278 "Using minified version causes JWT validation fail"
I am experiencing a really weird error using oidc-client.

If I build my code using oidc-client.min.js and start up my app, I get the following error:

`JWT validation failed`

If I, however, point the `"main"` attribute in the `package.json` of this project to `lib/oidc-client.js` and I build my project it, it all works like a charm.

What could be the reason for this?

[2017-03-07 14:40] aguacongas opened #279 "Angular2 typescript client IE 11 issue : Symbol is undefined at e.prototype._mergeClaims"
Hi,

I use oidc-client 1.2.2 in an Angular2 application.
The code works well on Chrome but on IE 11 I receive this error when calling `this.userManager.signinRedirectCallback()`:

[code]

It'd be a polyfill issue but I don't know how to fix it, can you help ?

I tried to import babel-polyfill in my bootstrap but in this case I receive a ZoneAwareError

[2017-03-07 15:02] aguacongas commented on #279
Ok, got it, sorry for the inconveniance.
I added 'babel-polyfill' in my wepack entry and `import 'babel-polyfill';` before `import 'zone.js';` in my boot code and it works

[2017-03-07 15:02] #279 closed, assigned to nobody

[2017-03-07 16:19] AlexanderWuest opened #280 "Testing with Protractor and Angular2 dosn't work after authorization"
Hello,

We have a similar problem as described in the issue #244.
We used "angular-oauth2-oidc" npm package for authorization. With this package the protractor tests ran correctly. Now we use "oidc-client" npm package for authorization. With this package the test shows following error message after autorization:

- Failed: Timed out waiting for asynchronous Angular tasks to finish after 11 seconds

[2017-03-07 18:21] brockallen commented on #280
I'm not sure if there's much I can do from within the library to help your testing scenario. Testing browser redirects is tricky from an automated testing tool that needs to own the browser window to execute the tests. Does the tooling have any additional support for testing scenarios where the main window needs to redirect away and then redirect back into the app?

[2017-03-07 18:24] brockallen commented on #278
the file in ~/lib is intended if you're using a package manager (and provide polyfills). if you're not, then you should use the version from ~/dist. Perhaps that's the problem?

[2017-03-07 18:26] dgsunesen commented on #278
I'm using it through `redux-oidc` which depends on `oidc-client`. I'm installing it through `npm`.

[2017-03-07 18:28] brockallen commented on #277
Not sure. If it works in dev, but not in prod, then sounds like an environmental issue?

[2017-03-07 18:29] brockallen commented on #277
Also, make sure the URL you start from the is the same you're redirecting to (http vs https for example).

[2017-03-07 18:30] brockallen commented on #278
I don't know then. Sorry.

[2017-03-07 19:52] raigol commented on #277
thanks for the tip about URL. I managed to get it working!!!

as the problem happens on auth.html page I tested what happens if I replace it with callback.html from
Quickstart samples.

and with the code from quickstart it works :)

this works
`new Oidc.UserManager().signinRedirectCallback().then(function () {
            window.location = "index.html";
        })`

this does not work
`        new

[2017-03-07 19:52] #277 closed, assigned to nobody

[2017-03-07 20:12] #243 closed, assigned to nobody

[2017-03-07 20:13] brockallen commented on #275
If the metadata document does not support CORS, then you can set the data in manually on the settings. Check the wiki for more info.

[2017-03-07 20:14] brockallen opened #281 "Docs: Show how to set matadata manually"

[2017-03-07 20:14] #273 closed, assigned to nobody

[2017-03-07 20:14] brockallen commented on #270
Any update?

[2017-03-07 20:14] #269 closed, assigned to nobody

[2017-03-07 20:15] brockallen commented on #268
Ok, I'll see if I can spend some time to track this down.

[2017-03-07 20:15] #265 closed, assigned to nobody

[2017-03-07 20:15] brockallen commented on #263
I'll close, but I'd be curious if you found any updates on the browser bug.

[2017-03-07 20:15] #263 closed, assigned to nobody

[2017-03-07 20:15] #262 closed, assigned to nobody

[2017-03-07 20:16] brockallen commented on #250
Any update? If you still have the issue, please reopen

[2017-03-07 20:16] #250 closed, assigned to nobody

[2017-03-07 20:16] brockallen commented on #247
Can we close this one here?

[2017-03-07 20:17] brockallen commented on #254
Ok, I'll reexamine the APIs to see if this makes sense.

[2017-03-07 20:33] maxmantz commented on #247
Yes, I think we can. However, could you have a look at #245 ? Implementing this would go a long way in making this library browser independent.

[2017-03-07 20:45] brockallen commented on #247
Oh yea, I can have a look -- that was from a while ago. I've been busy on other things :)

In a week or so I'll be getting back to releasing 1.3 and I'll try to add this in. Thx

[2017-03-07 20:46] maxmantz commented on #247
Thank you :)

[2017-03-07 20:46] #247 closed, assigned to nobody

[2017-03-07 20:46] brockallen commented on #247
np

[2017-03-08 08:45] ChrisDevinePimss commented on #263
no sorry, its still an issue. If u find a way to fix it ill let you know

[2017-03-08 14:36] svieillard commented on #275
Using AADv2.0 I couldn't find how to fix CORS so I got it working by passing this settings object to the UserManager:

[code]

I guess the important thing is to pass the metadata to prevent retrieving the well-known/openid-configuration and `loadUserInfo: false` to prevent a second call to the metadata endpoint trigged after a succesfull login when doing the callback that gets the token from the U

[2017-03-08 16:08] WilfriedWeidner opened #282 "Login failed with Internet Explorer; ReferenceError: "Symbol" ist undefiniert"
Hello,

we use an Angular 2 application with the oidc-client and login into a indentityServer 4. (VS2015, ASP.NET core)
If we test the application with the browser Firefox (51.0.1) and  Chrome (56.0.2924.87) it works fine.
With an Internet Explorer (11.0.9600.18538) we get an error: "ReferenceError: "Symbol" ist undefiniert"

I have attach a minimal example were you can reproduce this error.
It is

[2017-03-08 16:28] brockallen commented on #275
Yep, that's what you need to do if there's no CORS on metdata endpoint.

[2017-03-08 16:28] #275 closed, assigned to nobody

[2017-03-08 16:29] brockallen commented on #282
Possibly the issue? https://github.com/IdentityModel/oidc-client-js/issues/279#issuecomment-284746231

[2017-03-09 09:43] lghinet commented on #270
this only happen when i debug in browserstack.com
might be related to that

[2017-03-09 09:43] #270 closed, assigned to nobody

[2017-03-09 09:54] lghinet commented on #275
The metadata document does support CORS, but i dont think is a CORS problem.
the problem is that the request to openid-configuration is served from cache(StatusCode: 200 OK (from disk cache)) from the previous app, both authenticate through the same sso.
and the error is correct : Access-Control-Allow-Origin header  = pay.domain.com (from the previous app ) and the Origin = domain.com from the cur

[2017-03-09 14:30] WilfriedWeidner commented on #282
Hi Allen,

Yes, this is the same problem. I try this solution and it works fine for me.
Sorry for the inconvenience, I don’t see this issue.

Best regards,
Wilfried

Von: Brock Allen [mailto:notifications@github.com]
Gesendet: Mittwoch, 8. März 2017 17:30
An: IdentityModel/oidc-client-js <oidc-client-js@noreply.github.com>
Cc: Weidner, Wilfried <Weidner.W@eplan.de>; Author <author@noreply.github.c

[2017-03-09 14:31] #282 closed, assigned to nobody

[2017-03-10 16:07] brockallen commented on #275
Hmm, that sounds like a browser oddity... or maybe vary-by-origin should be added to the metadata document response. In fact, I think I saw an issue on the ASP.NET Core issue tracker about that exact issue: https://github.com/aspnet/CORS/issues/97

[2017-03-10 17:06] lghinet commented on #275
so do you think its bad to have a cache control header in oidc request for openid-configuration
i use identityserver3

[2017-03-10 17:09] brockallen commented on #275
No, I don't think it's bad. You just also need a vary by origin response header.

[2017-03-12 12:08] paulyipkh opened #283 "Is it possible to close the signinpopup & signoutpopup windows gracefully by code in case of network error ?"
I am figuring how to work with signinPopup workflow. Basically, everything works despite the bug of signoutPopup. However, is it possible to get a reference to the signinPopup window in code so that I can close it by code if the connection to the STS cannot be established.

I tried to write a wrapper around window.open fn to capture the window opened, so that I can close them by code afterwards.

[2017-03-13 16:37] jimmytheneutrino commented on #227
It seems that https://github.com/IdentityModel/oidc-client-js/commit/ecdc72b2e87c964f434e7d4b3a155dd32c824ff7 fixes it. When do you think that commit hits a release?

[2017-03-13 18:51] brockallen commented on #227
Yes, I'd like to soon, but I have a few more tests and possible features to add.

[2017-03-14 14:27] bellmoose opened #284 "JSON Stringify fails on UserManager"
I was attempting to store my UserManager instance in localStorage, but it fails when trying to serialize the object indicating a circular reference.

[2017-03-14 14:37] brockallen commented on #284
Can you provide any more details?

[2017-03-14 14:53] bellmoose commented on #284
Sure, I'm writing a React Redux application, and am using the UserManage to talk to an IdentityServer4 instance.
I just implemented a state storage on the store, and this is the error produced when I include my instance of UserManager in the state: TypeError: Converting circular structure to JSON

If I remove the UserManager from the state tree then it serializes just fine. I haven't dug deep to f

[2017-03-14 14:56] brockallen commented on #284
Why are you serializing a UserManager? You should be doing this on a User.

[2017-03-14 14:59] bellmoose commented on #284
I was attempting to keep it in the state so that I could grab it out for other actions that needed to be dispatched later, I've removed it and just reinstantiate a new one each time I need to perform an action, but I don't think that's going to work when I have to do any of the silent renew things that I haven't looked at yet.
I don't particularly need to store it in the state I suppose, but just

[2017-03-14 15:02] stuartbloom opened #285 "issue with login callback"
Hi there I hope you can help me.

I have an application that seems to work, however, when i try and make use of the signinRedirectCallback method in my callback page i get an error: `sub from user info endpoint does not match sub in id_token`.

The url is http://localhost:9000/logincb#id_token=eyJ0...

Does anyone have any ideas as to what I am doing wrong?

Thanks in advance

[2017-03-14 16:30] stuartbloom opened #286 "post_logout_redirect_uri?"
I have set `post_logout_redirect_uri` as a uri for my client, however, when I log out i am not redirected to the page rather i am left at the you are now logged out page.

I have set the options in the server to have EnablePostSignOutAutoRedirect = true.

Is there anything i need to do in order to get forwarded to my required page?

Thanks in advance

[2017-03-14 16:53] stuartbloom commented on #285
figured it out :)

[2017-03-14 16:57] stuartbloom opened #287 "signinRedirect response_type"
hi there, one more question :)

when making the call `userManager.signinRedirect({ scope: 'pv', response_type: 'token' });` everythig woks fine.

Unfortunately if i add `openid` to the scope and/or `id_token` to the request_type i get invalid scope/response type errors.

I have full control of both UI and server.

am i missing something?

Thanks

[2017-03-15 09:55] stuartbloom commented on #285
No, thought i had it figured. does anyone have any ideas :(

[2017-03-15 11:14] stuartbloom commented on #287
sorted :)

[2017-03-15 11:14] #287 closed, assigned to nobody

[2017-03-15 17:37] yousufali commented on #278
I am having same problem with oid-client from npm and using angular-cli for build. @dgsunesen  Were you able to find a solution?

[2017-03-16 02:23] kuncevic opened #288 "'getUser()' not returning the user in the new browser tab"
I am using `oidc-client` in my Angular 2 and have this code on my login page to get the user if user is logged in:
[code]
which is working fine after I login.

But after user being logged in if I open my login url in second separate tab `this.userManager.getUser()` can't find the user, it is just returning `null`. At the same time If I just refresh the original login page in the first browser tab

[2017-03-16 02:25] kuncevic commented on #276
Might be related https://github.com/IdentityModel/oidc-client-js/issues/288

[2017-03-16 08:05] #285 closed, assigned to nobody

[2017-03-16 11:07] Stas-Buzunko commented on #275
@lghinet have u fixed it?

[2017-03-16 15:14] stuartbloom opened #289 "Problem with signinRedirectCallback"
Hi there experts, I though this was not an issue, but it looks like it is.

I have an application that works, however, when i request the id_token as well as the token in the request type, and i make use of the signinRedirectCallback method in my callback page i get an error: `sub from user info endpoint does not match sub in id_token`.

Can anyone throw any light on what I am doing wrong?

Thanks

[2017-03-16 16:19] Sean-Brown commented on #280
The way I'm using the OIDC client is:
- login on the identity server
- redirect from the identity server to the app's /auth route
- process the token and redirect back to the base route ('/')

In the test, I initiate that log in process and have protractor wait for the /auth  route to process the token before continuing with the test. This method helped me a lot:
[code]

So in the tests, I do logi

[2017-03-16 16:35] stuartbloom commented on #289
figued it out, the server was not loading the authenticated user claims correctly :)

[2017-03-16 16:35] #289 closed, assigned to nobody

[2017-03-16 16:40] stuartbloom commented on #171
Hi, sorry if this is a silly question, but where did you add the div?

Thanks in advance

[2017-03-16 16:46] stuartbloom commented on #286
not going to use this, so no longer an issue :)

[2017-03-16 16:46] #286 closed, assigned to nobody

[2017-03-16 20:39] UlyssesAlves opened #290 "Unmet Peer Dependencies"
I'm trying to install oidc-client in my Angular2 project, but it gives me the following errors:

$ npm install oidc-client
angular2-webpack-starter@5.1.1 C:\my\angular2\project\path
+-- UNMET PEER DEPENDENCY @angular/common@2.2.1
+-- UNMET PEER DEPENDENCY @angular/compiler@2.2.1
+-- UNMET PEER DEPENDENCY @angular/core@2.2.1
+-- UNMET PEER DEPENDENCY @angular/forms@2.2.1
+-- UNMET PEER DEPENDENCY b

[2017-03-16 23:22] maxmantz commented on #290
This has nothing to do with this library - the "error" is in your dev dependencies.

Change your dev dependencies to this:

`"tslint": "^4.0.0",`

and

`"webpack": "^2.1.0-beta.27",`.

Notice the `^` - this indicates that npm should look for a version compatible with the version number you've provided in your package.json, according to semver. I've tried it here on my machine and `npm install` wor

[2017-03-16 23:33] maxmantz commented on #290
I take that back - after deleting my `node_modules` folder these errors reared their ugly head again :( . Still, this issue is probably better reported to the `angular2-webpack-starter` project, since this library has neither a dependency on `tslint`, nor `webpack` or any of the angular packages.

[2017-03-17 04:32] lghinet commented on #275
nope,
having the same problem ?

[2017-03-17 05:26] RichiCoder1 commented on #171
@stuartbloom So normally you application would look like this:
[code]
but what you'd do instead is:
[code]
Because aurelia automatically replaces the innerHtml of whatever `[aurelia-app]` is on.

[2017-03-17 11:29] UlyssesAlves commented on #290
@maxmantz Ok. I'll try to get help from the developers of angular2-webpack-starter project. Thanks for the directions.

[2017-03-17 11:29] #290 closed, assigned to nobody

[2017-03-17 11:36] stuartbloom commented on #171
@RichiCoder1 thats great, thanks a mil; saved me a heap of time :)

[2017-03-17 14:28] maxmantz commented on #278
Since this doesn't happen to everybody, I assume this issue is something browser / OS related. What browser / OS are you using and what versions of `oidc-client` are you using?

Judging from the error message you receive, the error is coming from [this](https://github.com/IdentityModel/oidc-client-js/blob/920d484fc37beed8bf25adc7db4f450fae086d01/src/JoseUtil.js#L28) try/catch block. We can elimina

[2017-03-17 15:59] yousuf8143 commented on #278
@maxmantz  I am testing it on chrome 56 /windows and oidc-client  1.3.0 beta3. I was going to try older versions of oidc client to see if those have same problem. I will report back after I do that.

[2017-03-17 16:03] yousufali commented on #288
@kuncevic  Did you check what storage oidc client is using ? I think it uses session storage by default.

[2017-03-17 16:10] maxmantz commented on #278
Hmm, this is the same browser / OS combination I use, yet I don't experience this issue.

There are a few steps you can take to tackle this issue though:

- Clone this repo,
- run `npm install` on the clone,
- remove the `screw_ie8` setting I've mentioned above and / or update the `webpack` & `webpack-stream` dev dependencies to a later version,
- run `npm run build`,
- copy the `oidc-client.min.j

[2017-03-17 16:14] yousufali commented on #278
@maxmantz  thank you for providing this direction. I will give this a try over the weekend.

[2017-03-17 18:15] maxmantz commented on #278
I take back what I've said about eliminating `jsrasign` from the causes. When you look at the [oidc-client.js file](https://raw.githubusercontent.com/IdentityModel/oidc-client-js/dev/dist/oidc-client.js) you can see that it is in fact packaged with this library (just search for jsrasign and you will find it there).

[2017-03-17 18:59] dgsunesen commented on #278
@yousufali - no, haven't found a solution, but looking forward to see if you guys can come up with a solution to it :-)

[2017-03-17 22:28] ozonni commented on #276
we also have similar issue when getUser returns null, but didn't have enough time to investigate it

[2017-03-18 03:34] brockallen commented on #284
The design is for you to implement the user store and let the manager call into it. Then reload the user as needed (since some features will update the user data async).

[2017-03-18 03:34] brockallen commented on #288
What s/he said. You can implement or change the user store being used to work for your requirements.

[2017-03-18 03:36] brockallen commented on #278
that's not how FOSS works.

[2017-03-18 03:37] brockallen commented on #276
@mathilde-pellerin any update?

[2017-03-18 03:41] brockallen commented on #280
@Sean-Brown so you have protractor tests working? That's cool and I'm jealous that I don't know how that works :)

@AlexanderWuest does @Sean-Brown's feedback help?

[2017-03-18 03:42] brockallen commented on #242
@xeonx are you using a non-compliant STS?

[2017-03-18 08:13] dgsunesen commented on #278
@brockallen - I would love to help, but my time is limited these days unfortunately.

[2017-03-18 08:19] simonhege commented on #242
I am using https://github.com/coreos/dex/ which is not yet certified
But I think it does not change the issue for response_type 'id_token' : as there is no access token in the response (only id_token) the at_hash can't be present in claims. See example http://openid.net/specs/openid-connect-core-1_0.html#id_tokenExample

I was able to mitigate this by using response_type='id_token token' instead a

[2017-03-18 09:56] maxmantz commented on #278
@yousufali Let me give you another idea about how to solve this.

In your clone of this repo, edit the [webpack.config.base.js](https://github.com/IdentityModel/oidc-client-js/blob/dev/webpack.base.js) like this:

[code]
and run `npm run build` again. This will instruct webpack to exclude `jsrasign` from the lib files (the stuff I've said about `peerDependencies` was a bunch of baloney - it should

[2017-03-18 18:20] brockallen commented on #278
This reply is also not how FOSS works. Do you think that folks that do FOSS have so much more free time? If you want help, then you have to help as well. If you're not willing (or don't have time), then you or your company should sponsor OSS with financial backing.

[2017-03-18 20:24] dgsunesen commented on #278
@maxmantz I just tried what you mentioned about removing `screw_ie8` and/or update `webpack` and `webpack-stream` dependencies. Did not do the trick unfortunately

[2017-03-19 00:10] yousufali commented on #278
When I reinstall all npm packages it is no longer throwing the jwt validation fail exception.  @dgsunesen  Can you please check if you are getting the error after reinstalling npm packages ?

[2017-03-19 08:48] dgsunesen commented on #278
@yousufali I have done quite a few clean installs - same result, still  getting the `jwt validation failed`

[2017-03-20 10:09] thornblom opened #291 "Display redirect page for login in new tab instead of popup?"
Is it possible to change method for opening login window?
There is a "display" property in UserManagerSettings, but I don't know how to use it. I recon default is "popup" tho.

Thanks

[2017-03-20 13:30] brockallen commented on #291
Use signinRedirect instead of signinPopup?

[2017-03-20 13:55] thornblom commented on #291
@brockallen No becauce I want to open a new window, but in a tab, not in a popup.  I need to stay on the page where the login function using "signinPopup" is called.

[2017-03-20 14:36] brockallen commented on #291
Can you control this via `popupWindowFeatures`? https://github.com/IdentityModel/oidc-client-js/wiki

[2017-03-21 00:34] sankp opened #292 "Redirect to application page from Logout"
Hello,

I am using oidc-client for managing my login and logout.
I am able to make both working but after logout i want redirect back to my applicationname/index.html page.
How can i do that using new Oidc.UserManager(settings);
I have everything defined in settings variable.
I have provided this. post_logout_redirect_uri = 'https://machinename/applicationname//public/signout-callback.html'

this

[2017-03-21 08:04] thornblom commented on #291
@brockallen Yes sort of, I can set that to NULL in the oidc-client source code to make it do what I want. However, I don't know how to manipulate the string from my application to make it happen. If I set that property to NULL in my code, the oidc-client source code replaces it with default string.
It would be great if you could differ NULL and UNDEFINED in the source code, so that you could expli

[2017-03-21 12:28] brockallen commented on #291
Hmm, ok... so then a new tab... why not just do your own window.open to the new tab that points to your own page that then initiates a normal signin and callback. The problem then is how to convey the authentication results back -- if you use localStorage (instead of the default of sessionStorage) then it'd work.

[2017-03-21 18:19] gnjack commented on #278
We also had this exact issue yesterday. A [yarn upgrade](https://yarnpkg.com/en/docs/cli/upgrade) to fetch new package versions (which should be equivalent to deleting and recreating node_modules with npm from scratch) fixed the issue for us. I suspect it was a bug somewhere in webpacks dependencies.

If it helps, here are the major / relevant package upgrades that this resulted in for our depende

[2017-03-23 15:29] ErikSchierboom commented on #143
Sorry to get back, but is there any progress on this?

[2017-03-23 15:37] brockallen commented on #143
I've been quite busy, but I tentatively have Monday blocked on my calendar to do some OSS work (which includes this repo, and its outstanding bugs/issues. I want to get 1.3 released).

[2017-03-23 15:49] ErikSchierboom commented on #143
@brockallen Thanks for the (quick) response! Good luck trackling this, the library is working perfectly otherwise.

[2017-03-23 15:52] brockallen commented on #143
Thanks. I may end up reverting to the original suggestion on this -- the page visibility approach. The short timer with manual checking just hasn't seemed to work (unfortunately).

[2017-03-24 14:21] paulyipkh opened #294 "SigninPopup no longer work after upgrading from angular-cli 1.0.0-beta.28.3 to @angular/cli 1.0.0 release"
Just upgraded from angular-cli 1.0.0-beta.28.3 to @angular/cli 1.0.0 release

After the upgrade, when the token return from the STS and call the signinPopupCallback(), the popup windows doesn't close normally.

http://localhost:4201/signinPopup.html#id_token=eyJhbGciOiJSUzI.....
<script src="assets/oidc-client.min.js"></script>
<script>
        new Oidc.UserManager().signinPopupCallback();
</scrip

[2017-03-24 15:51] AlexanderWuest commented on #280
Hello Sean,
Thank you for your answer.
Unfortunately it does not work. I've changed a couple of code lines so it works:

[code]

[code]

[code]
The message is still coming:

 - Failed: Timed out waiting for asynchronous Angular tasks to finish after 11 seconds. This may be because the current page is not an Angula
r application. Please see the FAQ for more details: https://github.com/angular/protr

[2017-03-24 15:59] brockallen commented on #294
Obviously what has changed here is angular, not oidc-client. I don't know what the issue is.

[2017-03-25 15:08] sankp opened #295 "Logout page ng-model doesn't have Click To Here Visible for redirect to application"
This is what i get as a logout page.

![image](https://cloud.githubusercontent.com/assets/9613276/24323404/c2fd2eac-1142-11e7-9f8f-e58dfe518b41.png)

Everything is empty here. in model

![image](https://cloud.githubusercontent.com/assets/9613276/24323426/0bec0c3c-1143-11e7-8a68-ed71ef1681ed.png)

[2017-03-26 06:11] rlstrowbridge opened #296 "CheckSessionIframe Interfering with window on Android. Closes Keyboard."
When I create a new app in ionic or cordova using the OIDC client, it looks like the timer that controls the session check is interfering (triggering an event) with the UI somehow. The effect is that the keyboard closes on Android whenever the check is made which is every 2 seconds I believe by default. I've changed the session check to be every 10 minutes on my app which has effectively alleviate

[2017-03-27 16:56] brockallen commented on #295
Dup of the issue you also opened in IdentityServer.

[2017-03-27 16:56] #295 closed, assigned to nobody

[2017-03-27 16:57] brockallen commented on #296
No idea, to be honest. I do plan on changing how that code works, so once I release the update perhaps it will change this issue for you.

[2017-03-27 19:21] brockallen commented on #278
@dgsunesen can you see if @gnjack's suggest addresses your problem?

[2017-03-27 19:23] brockallen commented on #292
If it's not working, then I suspect you have the post logout redirect URL misconfigured. Check the IdentityServer log to get more info on why it's not working.

[2017-03-27 19:24] brockallen commented on #292
Also, closing since this seemd to be a dup of the issue opened in the IdentityServer repo.

[2017-03-27 19:24] #292 closed, assigned to nobody

[2017-03-27 19:26] brockallen commented on #241
@fisheryu3583 is your issue still not resolved (I wasn't sure if you worked with @abrovko or not).

[2017-03-27 19:30] #227 closed, assigned to brockallen

[2017-03-27 19:32] brockallen opened #297 "Use visibilitychange to handle delayed timers"
Enhancement/bug fix from this thread: https://github.com/IdentityModel/oidc-client-js/issues/143

[2017-03-27 19:32] brockallen commented on #143
I'll close this one and we'll track here: https://github.com/IdentityModel/oidc-client-js/issues/297

[2017-03-27 19:32] #143 closed, assigned to nobody

[2017-03-27 19:34] brockallen commented on #185
This might go away when I rework the times due to this issue: https://github.com/IdentityModel/oidc-client-js/issues/297

[2017-03-28 06:14] dgsunesen commented on #278
Actually, we got it fixed yesterday by upgrading our project to a later version of `webpack` (and a couple of other packages), and that seemed to fix it. So it seems it had nothing to do with `oidc-client-js` it self.

[2017-03-28 08:18] stuartbloom opened #298 "automaticSilentRenew not working?"
Hi

I have my config as:
[code]

Logging in works a treat, however, my token expires and I cannot see any activity to renew it.  Am i missing anything?

Thanks in advance

[2017-03-28 10:50] AlexanderWuest commented on #280
sorry, I have closed the issue by mistake. It still does not work.

[2017-03-28 12:38] maxmantz commented on #23
Right now jsrasign is packaged with this library and adds to its size. Adding jsrasign to `externals` in webpack config would replace it by `require('jsrasign')`. Since jsrasign is a dependency of this library, npm will download it anyway and it will be available via `require`.

This would help to significantly reduce the size of the lib and dist files and shift the problem back to jsrasigns side.

[2017-03-28 13:45] brockallen commented on #278
Ok, great. Thanks for the follow up.

[2017-03-28 13:45] #278 closed, assigned to nobody

[2017-03-28 14:05] brockallen commented on #298
Not a lot of info to go on here. Any errors in the console? Do you see any network activity?

[2017-03-28 14:06] brockallen commented on #23
Yea, I'd not yet looked at the work/changes done on his side, so you might be right that the ultimate size issue remains the same.

[2017-03-28 14:09] stuartbloom commented on #298
I know, and I am sorry about that.  No; I am seeing no network activity.

The only way I know the token has expired is when I attempt another API call and get a 401 response.

Is there any debug that I can add that can help pinpoint the issue?

Thanks

[2017-03-28 14:13] brockallen commented on #298
You'd want to debug the code that initializes the timers for the automatic silent review. That's doen in the UserManager ctor. Debug in and see if you can find anything.

[2017-03-28 14:14] stuartbloom commented on #298
Will do, but any pointers as i am running this using Aurelia and all the code gets bundled :s

[2017-03-28 14:17] ErikSchierboom commented on #298
Could be related to #297 (which is related to #143)

[2017-03-28 14:23] stuartbloom commented on #298
@ErikSchierboom thanks, so I guess the best way around this is to handle a 401 response and get a new token.

Gents, I assume the a call to user is signinSilent; are there any snippets to aid someone who has a HUGE bruise on their forehead from banging head on desk?

Thanks again :)

[2017-03-28 14:30] maxmantz commented on #23
It certainly won't solve the problem until jsrasign reduces its size. However, I still believe it is a good idea to use the externals so that a double-bundling & minification - once by jsrasign's creator & secondy when building this library - doesn't occur. It would also clean up the lib & dist files and remove unnecessary clutter from them.

[2017-03-28 14:37] brockallen commented on #298
That's always the way to handle a 401.

[2017-03-28 14:38] ErikSchierboom commented on #298
@stuartbloom Yep, you have to use the `signinSilent` function for that.

[2017-03-28 14:39] stuartbloom commented on #298
That's great. thanks; still looking for an example of how to use that 😖

[2017-03-28 14:42] brockallen commented on #298
There is a super simple sample here: https://github.com/IdentityModel/oidc-client-js/blob/dev/sample/public/user-manager-sample.js

[2017-03-28 14:45] ErikSchierboom commented on #298
Well, you're using Aurelia, right? If so, I assume you're using the `HttpClient` class, which you can configure with an interceptor. Within that interceptor, you can then do the authorization check and do the silent renewal. Something like this:

[code]

[2017-03-28 14:46] stuartbloom commented on #298
Thanks @brockallen really appreciate that.  Just made a call to signinSilent but I am getting this error:

[code]
Does that mean anything to you??

[2017-03-28 14:48] brockallen commented on #298
Are you using IdentityServer as the OP? If so, check the logs -- the timeout should not happen, so I'm guessing there's an error or the user is being prompted somehow (which can't be seen because it's an iframe, but also should not happen because we pass prompt=none). So check the token server logs.

[2017-03-28 14:49] stuartbloom commented on #298
@ErikSchierboom thank you so much.

Attached is my service base class.  can you see how your code would be able to be plugged in.  I must admit its been far to long a day.

Thanks again
[serviceBase.zip](https://github.com/IdentityModel/oidc-client-js/files/876054/serviceBase.zip)

[2017-03-28 14:50] stuartbloom commented on #298
@brockallen will do, thanks.  think i will leave this for the day and come back to it afresh in the morning, unless what i just uploaded makes sense 😕

[2017-03-28 14:51] ErikSchierboom commented on #298
@stuartbloom Well, you are using the `XMLHttpRequest` class directly. I would strongly suggest using Aurelia `HttpClient` class, as you'll find much better documentation for that.

[2017-03-28 14:55] stuartbloom commented on #298
@ErikSchierboom just to confirm this is what you mean http://aurelia.io/hub.html#/doc/article/aurelia/fetch-client/latest/http-services/1?
Thanks will lok at that in the morning.

I will let you know how I get on.  Once again, thanks a mil :)

[2017-03-28 15:22] stuartbloom commented on #298
@ErikSchierboom just couldn't resist :)

I have aurelia-fetch-client installed and making calls.  just want to confirm something; where does the isAuthorised method come from and I am getting an compiler error for the async function:
'Unexpected token. A constructor, method, accessor, or property was expected.'
I am using typescript.

Feel like i am getting very close; thank you very much again :)

[2017-03-28 15:26] ErikSchierboom commented on #298
Ah, that's something left for you to implement. You need to check if the authorization header is set there

[2017-03-28 15:28] stuartbloom commented on #298
thanks, i dont hold out much hope though ;)

Will leave it till the morning now, need to be fresh; I hope ;)

[2017-03-28 18:08] brockallen commented on #228
@PeterHageus  Was this sorted out with an upgrade of webpack?

[2017-03-28 18:29] brockallen commented on #143
@kollhof can you report back of these changes to the timer in 1.2.1 fixed your issue.

[2017-03-28 18:41] brockallen commented on #143
@ErikSchierboom I started looking into this and can't really convince myself that the timer is the issue. We see in your log that `INFO [OidcClientLogger] Raising event: Access token expired` happens -- the `SilentRenewService` is not acting because we don't see the access token expiring event. Does silent renew work normally (meaning you see the normal "expiring" event in the logs)?

Perhaps your

[2017-03-28 18:46] brockallen commented on #143
@ErikSchierboom or it might be that the 5 second granularity of the timer is too coarse when we're on the edge (meaning within 5 seconds) of both expiring and expired...

[2017-03-28 18:59] brockallen commented on #143
So another thing that this investigation has made me aware of is that it is possible that the user is still logged into the token server, despite being past the token expiration. As of now the library does not try to re-renew past expiration even though it might work.... Hmm.

So perhaps a new feature to also try on expired is what should be done here.

[2017-03-28 19:10] ErikSchierboom commented on #143
@brockallen I'll try and get a new log tomorrow, one where I don't switch applications or tabs (where the renewal should be fine) and one where I do switch applications (where the renewal doesn't happen).

Perhaps your strategy of re-trying works. I'd be happy to try a beta or anything similar.

[2017-03-28 19:12] brockallen commented on #143
Ok, thx

[2017-03-28 19:25] brockallen commented on #294
Any update?

[2017-03-28 19:25] #291 closed, assigned to nobody

[2017-03-28 19:25] #284 closed, assigned to nobody

[2017-03-28 19:26] #288 closed, assigned to nobody

[2017-03-28 19:27] #174 closed, assigned to nobody

[2017-03-28 19:27] #216 closed, assigned to nobody

[2017-03-28 19:27] #232 closed, assigned to nobody

[2017-03-28 19:27] #235 closed, assigned to nobody

[2017-03-28 19:28] brockallen commented on #240
Any update?

[2017-03-28 19:30] brockallen commented on #252
All set on this issue? Can we close?

[2017-03-28 19:30] #253 closed, assigned to nobody

[2017-03-28 19:31] brockallen commented on #266
Any update?

[2017-03-28 19:31] #276 closed, assigned to nobody

[2017-03-28 19:32] brockallen commented on #280
Unless some protractor guru comes along and helps out, I won't be able to do much. I'll close but if you find out what changes would need to be made to the library to help, feel free to reopen.

[2017-03-28 19:32] #280 closed, assigned to nobody

[2017-03-28 19:50] Sean-Brown commented on #280
If you make your project public I can take a look at it

[2017-03-28 20:39] brockallen commented on #291
Also, I had forgotten that I have a `popupWindowTarget` setting in there -- perhaps you can set that to a new tab instead.

[2017-03-29 07:20] mpellerin42 commented on #276
Sorry, I didn't have time to investigate neither. I use this workaround which is less clean than `getUser()` but works:
[code]

[2017-03-29 10:05] ErikSchierboom commented on #143
@brockallen I've managed to simulate the problem by interrupting the connection to the server temporarily. This causes frame timeouts, which is correct. Once the server comes back up though, I would expect a new token refresh request to be made, but it doesn't do that. Here is the log:

<pre>
INFO [OidcClientLogger] UserManager.getUser
INFO [OidcClientLogger] _loadUser
INFO [OidcClientLogger] WebS

[2017-03-29 11:53] stuartbloom commented on #298
@ErikSchierboom as I suspected, I have been trying for most of the morning without success.  I have managed to get the application compiling and running, but not renewing the token.  also I am still unsure as to what the implementation of isAuthorized should be.

Also, even when the token has expired, my userManager still returns a user object with the expired token :(

Furthermore, am i correct i

[2017-03-29 16:35] paulyipkh commented on #294
I fall back to angular-cli 1.0.0-beta.28.3, and may investigate into the issue later.

[2017-03-29 16:56] stuartbloom opened #299 "revocation error"
I am looking at using the aurelia-open-id-connect plugin which seems nice and straightforward to use

The only issue I am having tho is when calling the signoutRedirect method for the userManager object.

When I call it I am getting a 400 error as below:
![image](https://cloud.githubusercontent.com/assets/7871566/24466504/062da602-14a9-11e7-8c29-288693b07284.png)

Am I missing anything?

Thanks ag

[2017-03-30 01:49] brockallen commented on #143
This is how it's currently coded. So in short, once the silent renew fails, it just stops. The assumption with this behavior was that if silent renew fails, it's probably due to expired session at the OP, so there's no good reason to keep trying. I think it's hard to distinguish all the different scenarios, so if it fails for any reason then we're done.

So I think the problem/issue you raised on

[2017-03-30 01:50] brockallen commented on #143
I'd still like to hear from @kollhof if these changes to the timer in 1.2.1 fixed your issue.

[2017-03-30 01:51] brockallen commented on #294
Ok, I'll close for now. Feel free to reopen if you feel there's something in this library that is an issue or might need changing for ng2.

[2017-03-30 01:51] #294 closed, assigned to nobody

[2017-03-30 01:54] brockallen commented on #299
Check your logs in your token server -- I suspect the 400 is due to failed authentication on the revocation endpoint. You might need to configure it to not need authentication for this client (or use dummy credentials).

[2017-03-30 02:00] brockallen commented on #254
I looked into this and you're absolutely right -- somehow I overlooked the signout popup code. I think I meant to remove it when I ported from oidc-client-manager, but the signoutPopup seems to have been sort of worked on but never properly completed (which I'm somewhat embarrassed by). ANyway, I worked on this some yesterday and added the signoutPopupCallback -- look at the updated sample and see

[2017-03-30 02:01] brockallen commented on #268
Relevant: https://github.com/IdentityModel/oidc-client-js/issues/254#issuecomment-290279814

[2017-03-30 02:02] brockallen commented on #268
This is a dup of #254 so I'll close this one. Thanks for bring this to my attention!

[2017-03-30 02:02] #268 closed, assigned to brockallen

[2017-03-30 02:10] brockallen commented on #242
I just sat down to confirm the bug report, but I don't think it's accurate. Our samples here show id_token only requests and it's working fine: https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc.

For your failing scenario, what scopes are you requesting? IOW, are you getting back an access_token?

[2017-03-30 02:24] kollhof commented on #143
Using shorter timers to repeatedly check if a token has expired wasn't enough. The user still had to wait 5s before being able to use the application.
We are still using the page-visability workaround that I initially described. This will ensure a token renewal as soon as possible.

[2017-03-30 07:05] ErikSchierboom commented on #298
@stuartbloom Yes, the silent_redirect_uri should be the URL used if I'm correct. The `isAuthorized` function should just check if the authorization header is present.

[2017-03-30 07:06] ErikSchierboom commented on #143
@brockallen Ah, so that's another issue then. However, I do believe that I saw the exact same behavior with my original issue, with very similar output. I'll try to reproduce that situation.

[2017-03-30 07:08] stuartbloom commented on #298
@ErikSchierboom thanks, thats what I thought :)  any ideas how i can test that the reuslt from my userManagers getUser is a non expired user?

[2017-03-30 07:14] ErikSchierboom commented on #298
You can use `user.expired` for that.

[2017-03-30 07:16] stuartbloom commented on #298
awesome, thank you so much :)

[2017-03-30 07:43] stuartbloom commented on #298
Sorry @ErikSchierboom does this mean anything to you?

![image](https://cloud.githubusercontent.com/assets/7871566/24492941/ec0d6236-1524-11e7-9f34-c9a856c2c415.png)

TIA

[2017-03-30 08:03] ErikSchierboom commented on #298
@stuartbloom Yeah well, there could be lots of reasons for that. Perhaps you could do a little research?

[2017-03-30 08:05] stuartbloom commented on #298
@ErikSchierboom @brockallen I think I am getting somewhere slowly.  I seem to be correctly waiting on the silent signin, but:

![image](https://cloud.githubusercontent.com/assets/7871566/24493767/e2424566-1527-11e7-986b-c9fb572860b5.png)

Does this error mean anything to you?

So very grateful

[2017-03-30 13:37] brockallen commented on #143
If you're not satisfied with my above explanation, then please open a new issue.

[2017-03-30 13:40] ErikSchierboom commented on #143
@brockallen I'll do some more researching. Thanks for the help!

[2017-03-30 13:40] brockallen commented on #143
This is disappointing. I'll spend some more time on #297.

[2017-03-30 13:41] brockallen commented on #298
You needs https on both URLs, or neither.

[2017-03-30 14:09] stuartbloom commented on #298
o, really. that is interesting. thanks.

So just to confirm i need my application to run with https as well as the server (which will always have https).

Thanks

Stuart

[2017-03-30 15:20] brockallen commented on #298
Yea, it's a browser requirement on the iframe.

[2017-03-30 15:23] stuartbloom commented on #298
Thanks, going to close this issue for now, as have pushed this issue to the next sprint :)

[2017-03-30 15:58] ravikatha commented on #254
Please add the method definition to the typescript definition file too.

[2017-03-30 17:29] brockallen commented on #254
Done. I wasn't sure if TS allowed method overloading, so this was added:

[code]

Is that legal TS?

[2017-03-30 18:05] brockallen commented on #254
@ADCJustinH I know this was opened a while ago and you might not be in a position to test. I'll close this for now, and if you do ever get to the point of testing please let me know how it's working for you.

[2017-03-30 18:05] #254 closed, assigned to brockallen

[2017-03-30 21:02] fcboulanger opened #300 "Window.opener is null on callback"
Hello,

I have an Angular2 SPA running in Cordova. It uses an implicit flow for authentication with our server. This setup has been working fine for android but not Windows 10. I debugged using console logs and found that window.opener is null in Microsoft Edge when the popup is redirected to the callback page.

I found these 2 known issues which might be related on the bug tracker of Edge:

https

[2017-03-30 22:41] brockallen commented on #300
I'm not familiar with that issue, sorry.

[2017-03-30 22:41] #240 closed, assigned to nobody

[2017-03-30 22:42] brockallen commented on #241
I'll close for now -- I don't see a repro. If you still have this issue, feel free to reopen.

[2017-03-30 22:42] #241 closed, assigned to nobody

[2017-03-30 22:42] brockallen commented on #248
Any update?

[2017-03-30 22:43] #252 closed, assigned to nobody

[2017-03-30 22:43] #266 closed, assigned to nobody

[2017-03-30 22:44] brockallen commented on #228
Others reported similar issues and upgrading webpack revolved it. I'll close for now -- if you still have the issue, feel free to reopen.

[2017-03-30 22:44] #228 closed, assigned to brockallen

[2017-03-30 23:00] brockallen commented on #185
I looked at the logs and it seems you're getting frequent "changed" events from the session monitor -- this means the user is getting a new authentication session at the token service frequently, or the browser is not monitoring the user's session.

Are you building a cordova app? If so, then it doesn't make any sense for you to be using the check session feature. I'd recommend disabling it.

[2017-03-30 23:13] brockallen opened #301 "Docs: show state param"

[2017-03-31 00:08] shuppert commented on #185
Yes, this is a Cordova application.  Is disabling Check Session a config setting?

[2017-03-31 00:15] brockallen commented on #185
Yes: `monitorSession`

https://github.com/IdentityModel/oidc-client-js/wiki

[2017-03-31 12:59] sveinpg opened #302 "sub validation regression in 1.3.0"
After updating to 1.3.0 we have a problem with the sub validation. In our id_token we have the following sub:

`"sub": [
    "2b6d2f5c9e704bb5b4424a35269f0797",
    "2b6d2f5c-9e70-4bb5-b442-4a35269f0797"
  ]`

Our userinfo endpoint in IdentityServer only returns the second sub (the guid). Is it intentional that the validation fails in this case? It fails because of a non-equal check between a stri

[2017-03-31 20:38] merijndejonge commented on #248
Unfortunately not.
Doing the authentication in a tab will close the popup, which is not very user friendly.

The problem remains that FireFox and Edge close the popup window when another windows gets the focus. Surprisingly, this also happens for windows that are created by the pluing's popup window. I've filed issues for this for FireFox, see https://bugzilla.mozilla.org/show_bug.cgi?id=1312223 a

[2017-03-31 21:38] lmoe commented on #302
Our subject is set to a simple string, equally on both sides. We had this error today too. The only solution was to revert back to version 1.2.2.

[2017-04-01 00:06] brockallen commented on #302
One question I have is why is your subject claim in two different formats? If you put one format in the id token and a different value from user info endpoint, this client side library won't really know that they're meant to be the same value.

[2017-04-01 00:48] brockallen commented on #302
I just tried to repo your issue. I don't get duplicate claims when the value is in both the id_token and from the user info endpoint. If your claim values aren't unique, then you will see the behavior you see above. In short, your STS should not be generating two different sub values for the same user.

Am I misinterpreting the scenario or problem?

[2017-04-01 11:44] pawepaw opened #303 "Problem if CheckSessionIFrame.js post message to session iframe that is not loaded yet"
I got error message in console from time to time.

[code]

Where:
```https://localhost:44304``` - identityServer address.
```https://localhost:4200``` - server address.

After some investigation i found out that this error may occur if you try to post mesage to iframe that is not loaded yet - stack link i found http://stackoverflow.com/a/22379990/1318210

I've manually delayed check session by put

[2017-04-01 14:38] #303 closed, assigned to nobody

[2017-04-01 14:39] brockallen commented on #303
Thanks!

[2017-04-03 07:50] ghost commented on #289
@stuartbloom Could you please elaborate on this a bit further? I seem to be having the same issue

[2017-04-03 08:00] stuartbloom commented on #289
@manurosa the issue I was having was that the server was not returning the claims I was requesting; I was requesting all of them), so the sub coming back in the token was never assigned.  If you have access to your server code, take a look at the GetProfileDataAsync method and ensure all the correct claims are being returned

[2017-04-03 08:59] stuartbloom commented on #298
@brockallen Been playing with this over the weekend, and not getting far.  Is there anyway to turn off the X-Frame-Options?  The reason is we will need to have the situation where the token server will be running on one domain, and the application will be running on another.  Or am I still missing something?

Thanks again in advance

Stuart

[2017-04-03 11:04] ghost commented on #302
I am having the same issue with 1.3.0... Locked version to 1.2.2 and everything was back to normal. In my case STS generates a single sub for a user (same format and everything), which should be fine since it matches in both sides.

I still need to track down the issue further but reverting to 1.2.2 definitely fixes it.

[2017-04-03 13:38] brockallen commented on #298
I guess I wasn't following all of this thread. XFO is in place to prevent sensitive pages from being shown in an iframe (such as the login page). You don't want an attacker to be able to host your login page or consent, for example, in an iframe.

[2017-04-03 13:39] stuartbloom commented on #298
No worries, I am sorry if I am asking silly questions.  So there is no way of silently renewing a token if the two applications are on different domains?

[2017-04-03 13:43] brockallen commented on #298
Yes, the iframe allows for that. That's why there's a silent API on the user manager. When that request is made in the iframe a prompt=none param is passed telling the STS to not show any UI, which would then avoid the XFO problem.

[2017-04-03 13:45] stuartbloom commented on #298
thats interesting, cos I am using the signinSilent method on the userManager and that is where I am getting the XFO error :(

[2017-04-03 13:46] brockallen commented on #298
Right -- so check the logs in the STS to try to understand why it's failing and showing an error page (or any page).

[2017-04-03 13:47] stuartbloom commented on #298
Sorry Brock, STS?? what sort of logs?

Thanks

[2017-04-03 13:49] brockallen commented on #298
The STS is the token service. Are you using IdentityServer?

[2017-04-03 14:04] stuartbloom commented on #298
Ahh, thanks. Yes, we are using Identity Server 4

[2017-04-03 14:05] brockallen commented on #298
So check the logs -- that has to tell you what's wrong.

[2017-04-03 14:07] stuartbloom commented on #298
ok, but I cannot see, to find where those logs are :(

[2017-04-03 14:13] brockallen commented on #298
docs: https://identityserver4.readthedocs.io/en/release/topics/logging.html

[2017-04-03 14:15] stuartbloom commented on #298
Thanks, I will take a look and report back :)

[2017-04-03 19:19] sattaman opened #306 "Support for react native apps"
I am currently implementing oauth in RN . Opening the browser window and saving to storage would both need to be done through React Native's apis. Is this something within the scope of this library?

[2017-04-03 20:41] maxmantz commented on #306
Excuse my act of [shameless self-promotion](https://github.com/maxmantz/redux-oidc). This library binds oidc-client to ReactJS / redux. I designed it to be browser independent, so in theory this will work. With the release of oidc-client 1.3.0 this library stopped depending on browsers for the core functionality. Haven't yet had the time to implement it in react-native, but would love to in the ne

[2017-04-03 22:14] brockallen commented on #306
Yes, please use @maxmantz's library for react. Helping his library helps and promotes this library.

[2017-04-04 06:33] sveinpg commented on #302
@brockallen You were right. Removing the additional subject claim resolved our issue. The sub validation is now working with 1.3.0 in our case.

Our issue was in our UserService. We returned an AuthenticateResult with an account's SubjectId that was formatted as a string not a guid.

[2017-04-04 13:22] brockallen commented on #302
@lmoe and @manurosa any update? As you can see, @sveinpg's issue was that he was providing two different values for `sub`. Perhaps you have the same issue?

[2017-04-04 14:18] ghost commented on #302
@brockallen Nope. I've got a single value for sub (properly formatted guid), but keep getting the `sub from user info endpoint does not match sub in id_token` message in 1.3.0.

Will try get some time to look into it this evening.

[2017-04-04 14:20] lmoe commented on #302
Yep, same as @manurosa we use a simple string and it gives out the same message. Debugging right now is not so easy in our current stack, I'll try to figure something out tomorrow.

[2017-04-04 14:22] brockallen commented on #302
This was one of the features I added to pass the OIDC RP conformance tests. This tells me your token service might be doing something wrong here. And so yes, please debug and get back to me so we can figure out where the issue is.

[2017-04-04 14:35] sattaman commented on #306
Thanks for your recommendations. I'm not actually using redux at the moment, but it looks like this library should work perfectly, I didnt realise it was already independent of a browser.

However, I'm getting an error when trying to use this library with React Native.

![](https://d3uepj124s5rcx.cloudfront.net/items/3Y2u3z072d0I2w2W2Y1f/Screen%20Shot%202017-04-04%20at%2015.25.18.png?v=202e71a3)

[2017-04-04 14:37] brockallen commented on #306
Unfortunately I know nothing about react, so you'd have to take that up on their issue tracker.

[2017-04-04 15:04] sattaman commented on #306
Reproduction steps

[code]
add an import in App.js - `import 'oidc-client'`
`npm start`

It is something to do with the way this library is packaged on NPM. I haven't managed to get it working yet.

[2017-04-04 15:47] ghost commented on #302
Ok so as I suspected the problem is on my side. It has to do with the userinfo response for certain tokens (which I reckon weren't being checked against in v1.2.2). I'll fix it in the sts side as you said this complies with OIDC RP?

However,  just so you know, though the log points to the `id_token` it is validating the `access_token`. I don't reckon you'll consider that worth of a PR from my sid

[2017-04-04 15:53] brockallen commented on #302
Yes, this library is certified: https://openid.net/certification/#RPs

[2017-04-04 15:54] brockallen commented on #302
What do you mean by this? Perhaps it's just a bug in the logging? Sure, if you think it's a bug, feel free to send a PR or point me to where it's wrong.

[2017-04-04 22:34] maxmantz commented on #247
@MyGuySi I'm currently experiencing the same issue ` undefined is not an object (evaluating 'r.TYPED_ARRAY_SUPPORT')` with oidc-client when importing it into a react-native app. How did you solve your issue?

[2017-04-05 01:44] BrandonBoone commented on #302
@manurosa If you have a minute, could your provide some more details on your fix? Sounds like I may have the same issue. Thanks!

[2017-04-05 10:20] ghost commented on #302
@BrandonBoone you need to make sure your STS is returning the sub claim __from the userinfo endpoint__. This is what the subject is being checked against and possibly the source of your problem. Should be easy enough to test, hope it helps :grin:

[2017-04-05 14:11] brockallen commented on #306
Is this relevant: https://github.com/IdentityModel/oidc-client-js#install

[2017-04-05 14:12] brockallen commented on #185
I'll close this now, as it seems we have a resolution.

[2017-04-05 14:12] #185 closed, assigned to brockallen

[2017-04-05 14:13] brockallen commented on #242
@xeonx any update?

[2017-04-05 14:14] brockallen commented on #296
Does this sound like the same issue? https://github.com/IdentityModel/oidc-client-js/issues/185

[2017-04-05 14:14] brockallen commented on #298
All set on this? Can we close?

[2017-04-05 14:14] brockallen commented on #299
All set? Can we close?

[2017-04-05 14:15] brockallen commented on #300
Any update?

[2017-04-05 14:16] stuartbloom commented on #299
yes, i think we can for the moment anyway :) thanks

[2017-04-05 14:16] #299 closed, assigned to nobody

[2017-04-05 14:16] stuartbloom commented on #298
yes, i think we can for the moment anyway :) thanks

[2017-04-05 14:16] #298 closed, assigned to nobody

[2017-04-05 14:24] fcboulanger commented on #300
Well I was not able to get any help from the resources I reached out to. I tried various workarounds which I will list bellow in the hopes that it might help others:

- Checking if window.parent would have the callback function: no it does not.
- Tried to save the callbackUrl with all its parameters in the localStorage and listening for a storage event in the main window then loading the user with

[2017-04-05 14:53] sattaman commented on #306
I don't think so , I've made progress since my last question and the integration is largely working.

There will be a change needed to this repo to add .babelrc to the .npmignore file.

[code]

[code]

[code]

[2017-04-05 14:56] sattaman commented on #306
The error I'm getting now is undefined is not an object evaulating `navResponse.url.`. In fact I'm just wondering whether I should have called `mgr.signinPopupCallback({ url });` .. getting close!

[2017-04-05 14:57] brockallen commented on #306
The light sample might help: https://github.com/IdentityModel/oidc-client-js/tree/dev/sample

[2017-04-05 15:10] sattaman commented on #306
I'm at the stage with the oidcClient library that im getting the callback with the auth token within the RN app, and just need to validate the url. The popup window by this point has closed though so I'm not sure signinPopupCallback will work

[2017-04-05 15:12] brockallen commented on #306
Signinpopupcallback does all the validation.

On Wed, Apr 5, 2017 at 8:10 AM Thomas Sanderson <notifications@github.com>
wrote:

--

-Brock

[2017-04-05 15:18] sattaman commented on #306
I'm guessing my implementation of PopupNavigator is stopping this working?

[code]

[2017-04-06 09:46] antsmo commented on #247
@maxmantz I didn't 😄  that's what prompted me to find another solution

[2017-04-06 13:21] maxmantz commented on #247
This error is caused by [this line](https://github.com/IdentityModel/oidc-client-js/blob/dev/dist/oidc-client.min.js#L74) in the dist version. It is the source code of [this library](https://github.com/feross/buffer). How it got into oidc-client I don't know. It is neither a dependency of oidc-client, nor jsrasign. Got to investigate further...

[2017-04-06 13:21] sattaman commented on #306
I've got it working, so far with no session monitoring or background refresh. I'm not sure these will be possible, but I'm going to attempt with a `WebView`.

I did need to update this package to remove the `.babelrc` file in order to get it running with React Native. I've submitted a PR of this change.

PR: https://github.com/IdentityModel/oidc-client-js/pull/308

[2017-04-06 13:23] maxmantz commented on #306
Thank you for your efforts. Did you come across [this issue](https://github.com/IdentityModel/oidc-client-js/issues/247) by any chance? If so, how did you solve it, because I'm stuck there right now...

[2017-04-06 13:42] sattaman commented on #306
I'm note sure what I did there. I found it was useful to edit

`/node_modules/oidc_client/package.json `

and change main to point to the non minified version. It makes the stack much more useful

[2017-04-06 13:48] sattaman commented on #306
Have you overridden both the `stateStore` and `userStore`? This has me for a while. One is hidden away in `OidcClientSettings`

[2017-04-06 16:09] maxmantz commented on #306
No - I haven't done that yet. I'm just at the stage of hooking everything up. I will tinker a little more over the weekend.

[2017-04-07 02:17] kuncevic opened #309 "How would you decode from the token"
Say I have a some claims in my `access_token` token that I want to decode on client side.
Is there any way `oidc-client` can handle that?

e.g `token.decodeByKey('name')`

**More details no my case:**
Currently I am including the roles in `access_token` for accessing my APIs, at the same time I need `roles` in my Angular app to handle client side routing. So in order to get roles I can just add `r

[2017-04-07 12:52] brockallen commented on #309
You don't. Access tokens aren't meant for the client. id_tokens are, and if you're doing proper authentication (meaning OIDC and not just OAuth2) then the library will provide you the user's profile claims when you call getUser().

[2017-04-10 06:42] kuncevic commented on #309
My api claim has `api1` `ApiResourceId` associated with `role` so this way I have `role`  included in to `access_token` just by requesting this scope: `"scope":"openid profile api1"`

In order to get `role` in to oidc user object on client I have to request this scope `"scope":"openid profile role api1"`  so as I can tell from the network debugger that `oidc` doing request to `userinfo` endpoint t

[2017-04-10 12:35] brockallen commented on #309
That's not how the specs are designed, and thus that's not how oidc-client is designed. If you want some claims in the id_token, then configure an identity scope.

[2017-04-10 23:01] #309 closed, assigned to nobody

[2017-04-11 11:46] praveen518 opened #310 "Frame Window Timed Out error while trying to renew the token from UserManager"
Hi,

I am new to this, so kindly bare with me. We are having the token expiration time of 60 minutes in our angular app. Just before on minute from which the token gets expired, we are triggering a popup to continue the session in the application. There's a button which is triggered at that time. Firstly we are checking if the token is expired or not. If it is not expired, we are calling  this.use

[2017-04-11 13:10] brockallen commented on #310
Check the logs of the token service -- perhaps there's an error being displayed in the non-visible iframe.

[2017-04-11 13:44] CraigEaston commented on #302
I'm still getting this error when I upgrade to 1.3, if I use 1.2.2 I don't get the issue.

I must be setting my claims improperly in my ExternalRegistrationUserService?

Does anyone have a suggestion? Here is my code:

- So do I need add an additional 'sub' claim to my claims list, that is the same as my user.subject?
- Am I missing something with claim mappings?

[code]
Here is my GetProfileData

[2017-04-11 13:47] #242 closed, assigned to brockallen

[2017-04-11 13:48] brockallen commented on #242
Closing. Feel free to reopen if/when you have an update.

[2017-04-11 14:02] CraigEaston commented on #302
I think I just figured it out, I needed to add the subject claim to my list of claims.
In my AuthenticateExternalAsync method above, when I add my claims for the user, I added the noted line:

[code]

[2017-04-11 14:25] brockallen commented on #302
Looks like everyone's all set now on this issue. I'll close, since it seems that the issues were in how the claims were being done in IdSvr. Sorry the improvements in this library surfaced the issues elsewhere!

[2017-04-11 14:25] #302 closed, assigned to nobody

[2017-04-11 14:26] ghost commented on #302
@brockallen  Don't be, almost makes me feel better to see sts issues is a more common thing than I expected

[2017-04-12 08:33] praveen518 commented on #310
The error is in iFrameWindow.js.

![image](https://cloud.githubusercontent.com/assets/27282470/24948406/d76c2516-1f87-11e7-83e0-395c99cfba63.png)

In the above code snippet, in the line

[2017-04-12 11:04] gusleo commented on #59
@tstone84 I have trying static callback.html on new angular 4.0.0 but i can't, have you try it?

[2017-04-12 11:34] tstone84 commented on #59
@kodelapan Yes, we are using a callback.html with Angular 4.  The js in the html page looks something like this:
`<script>
           new Oidc.UserManager().signinRedirectCallback().then(function(user) {
               console.log("signin response success", user);
               window.location.href = 'index.html';
            }).catch(function(err) {
                console.log(err);

[2017-04-12 14:17] brockallen commented on #296
Any update?

[2017-04-12 17:03] rlstrowbridge commented on #296
Yeah. Very similar. I noticed that during development that the silent renew window was ultra-chatting and frequently caused the device to feel jittery. As soon as I adjusted the frequency to about every 10 minutes, everything evened out.

[2017-04-12 17:46] brockallen commented on #296
If you're building a native app, then I don't think check session is appropriate.

In any event, are you all set now? Can we close?

[2017-04-13 04:48] gusleo commented on #59
Thanks, successfully after update angular to 4.0.2 and node 6

[2017-04-14 03:48] praveen518 commented on #310
Closing this issue.. Found the error, it was regarding the invalid redirect uris. Actually, the siloent redirect uri was not present in the allowedredirectUri's which caused the error. Thanks @brockallen for suggesting me to check through the log files. Closing this issue.

[2017-04-14 03:48] #310 closed, assigned to nobody

[2017-04-14 18:09] sstorie commented on #250
@muena I am seeing the exact same behavior. I am using a standalone html file to handle the silent callback, but the instance of UserManager running within the Angular app doesn't seem to see what it wants to know the iframe isn't timing out. Did you ever make headway to solve this problem?

I know the renewal is working because if I force my Angular app to grab the updated user from SessionStorag

[2017-04-14 21:47] rainesmoshe opened #311 "Error: "Frame window timed out" in signinSilent"
Hi,

although see it in many posts, looks like my case don't fit any of the existing. all configured and working, and i'm using implicit flow.

Work well on local machine under localhost, however it doesn't work on the server.
always get "Frame window timed out" error from "this._userManager.signinSilent()"

With fiddler I can see no errors in the response, It does return new token Exp to the requ

[2017-04-15 13:39] brockallen commented on #311
So there's no error in the token server?

[2017-04-15 18:27] rainesmoshe commented on #311
No errors, I can see the right response coming on the network with Fiddler.
I get a token with new exp date. Also working under localhost. Could it be
browser security somehow b/c the sub domain?

On Apr 15, 2017 09:39, "Brock Allen" <notifications@github.com> wrote:

[2017-04-15 18:32] brockallen commented on #311
Possibly -- is it IE?

[2017-04-15 20:59] rainesmoshe commented on #311
We see the same problem with IE and Chrome

On Apr 15, 2017 14:32, "Brock Allen" <notifications@github.com> wrote:

[2017-04-16 14:04] brockallen commented on #311
Then not sure. I'd need to you debug it since there are no consistent repro steps.

[2017-04-17 00:10] khennny commented on #294
I am having same issue.

[2017-04-18 15:17] bopohasii opened #312 "hidden iFrame silentRenew blocked by Chrome"
Check seesion functionality not working for all browsers.
 Have an issue for Chrome57 http://prntscr.com/exwex7.
[code]
[code]

[2017-04-19 02:41] brockallen commented on #312
Is this due to a CSP issue or due to some new/diff behavior in Chrome?

[2017-04-19 08:13] bopohasii commented on #312
Look a like as CSP because functionality does not work for all major browser (Safari, Opera, Chrome). But only Chrome show this issue.
We use IdentityServer3 with disabled CspOptions

[2017-04-19 11:23] bopohasii commented on #312
Resolve.
Update CspOptions on the Identity Server from `{ Enabled: false }` to `{ FrameSrc: 'hosts..' }`.
Thanks for the answer!

[2017-04-19 11:23] #312 closed, assigned to nobody

[2017-04-19 18:43] Mardoxx commented on #23
https://github.com/kjur/jsrsasign/wiki/NOTE-jsrsasign-subset-package

From main page apparently 8.0.0 will remove unnecessary/outdated stuff. So will be smaller.

Forgive my naivety but why do you need to validate id_token at all? Under what circumstances can something go bad if you are sent a tampered with id_token?

[2017-04-19 18:45] brockallen commented on #23
This is the whole point of this library and is what makes it OIDC compliant. It provides a signed protocol response so your client knows it's not being fooled and so your can trust the data you get back for the user. If you just want OAuth2 (which doesn't provide that guarantee), then there are lots of other libraries to choose from.

[2017-04-19 18:54] Mardoxx commented on #23
Ahhh right! Makes sense.

Btw.. you can save at least 10 bytes by removing the unnecessary check for `'-'` here https://github.com/IdentityModel/oidc-client-js/blob/dev/src/random.js#L28 ;)

[2017-04-21 13:20] martinpritchardelevate opened #313 "Could you add UserManagers `revokeAccessToken()` method to type definitions?"
I currently have a scenario where this would be very useful.

[2017-04-21 19:50] brockallen commented on #313
A PR from you would be welcome :)

[2017-04-21 21:30] crh225 commented on #289
I had to change my function to
[code]

[2017-04-21 21:38] crh225 commented on #135
@shaunluttin , I just upgraded oidc-client to 1.3.0 but for some reason visual studio is acting like the typing are not part of the oidc package.
![image](https://cloud.githubusercontent.com/assets/19475195/25297013/e06e6842-26b0-11e7-9a3e-d4826116d698.png)

How did you install the typings for oidc-client?

[2017-04-24 07:18] baio opened #314 "How to use setting's signingKeys option properly"
From documentation

So as I understand if there is `signingKeys` property defined on settings, library must not request metadata from service, but instead use provided `signingKeys`

So my settings

[code]

where `config.jwt.keys = { "kty": "RSA", "e": "AQAB", "use": "sig", "kid": "`

But this settings give me error
[code]

So looks like `signingKeys` ignored and library trying to access metadata

[2017-04-24 10:43] sohamnakhare opened #315 "Allowing custom parameters to be set in the signin request."
Hey, I am using this library for implementing the implicit flow and the I want to send a custom parameter (realm_id) in the authorization url.
It'll be great if there's an option of adding a custom parameter in the sign in url.

Thank you !

[2017-04-24 12:52] brockallen commented on #315
What's realm_id? Is that in the spec?

[2017-04-24 12:53] brockallen commented on #314
signingKeys needs to be an array IIRC

[2017-04-24 13:42] sohamnakhare commented on #315
This is a custom field being used by our app. A realm is used for grouping clients. A realm_id is then further used for authorization.

This is not in specs, it would be awesome if there's a way to add a custom params in the signin url.

Editing the initial comment.

[2017-04-24 14:05] brockallen commented on #315
If you're using IdentityServer then we recommend using `acr_values=idp:yourrealm` as a home realm hint.

[2017-04-24 17:59] rh78 opened #316 "Pre init oidc-client"
Hi guys I have a small question. Actually I have two services on www.service.com and id.service.com. On ID IdentityServer4 is running. The website on www is SPA. When loading the www page at the very beginning I am initializing oidc-client which gets me user authorization state. This of course takes some time which I want to avoid to boost inital time to Interactive.

I was now thinking about sett

[2017-04-25 03:06] shaunluttin commented on #135
Hi @crh225. Apologies for the slow response. It's been quite some time since I have looked at this. If I recall correctly, the types do not need installation, because they come with the `oidc-client`. Since time is short right now, I can point you in the direction of this demo: https://github.com/shaunluttin/aurelia-open-id-connect. Please ping me again if that does not illuminate this for you. Be

[2017-04-25 06:12] baio commented on #314
What is mean array IIRC ?

[2017-04-25 13:35] martinfletcher opened #317 "Add ability to pass in custom local/session storage"
I am currently trying to use this library to implement Identity Server 4 for an Angular 4 application. The Angular application is run with Universal, so is rendered by the server (ASP.NET Core SpaTemplate 'angular').

The issue i am getting is that node has no local/sessionStorage APIs, and this library uses the localStorage and sessionStorage from global scope.

Can an extension point be added to

[2017-04-25 17:23] brockallen commented on #317
You can already so this:

https://github.com/IdentityModel/oidc-client-js/blob/dev/src/UserManagerSettings.js#L31

and in the base class:

https://github.com/IdentityModel/oidc-client-js/blob/dev/src/OidcClientSettings.js#L29

[2017-04-25 17:29] martinfletcher commented on #317
Ahh apologies, overlooked that......

Thanks

[2017-04-25 17:30] brockallen commented on #317
No worries -- try it out and let me know if it doesn't work for you. I will say that this library was designed to be run in the browser (and not server side), so if you can get it working then great :)

[2017-04-25 17:34] martinfletcher commented on #317
Brilliant, I will keep this open until I get to try it tomorrow.

Does the library need both local and session storage?

[2017-04-25 17:36] brockallen commented on #317
local is used to round trip state to/from the authorization endpoint (and i used local since session doesn't persist in IE if you leave the origin). session is used to store the user profile and tokens (and i didn't use local by default due to possible PII issues)

[2017-04-25 19:42] martinfletcher commented on #317
Ahh right ok that makes sense.

If I implemented the local and session. Storage to use cookies, would that cause any issues.

I am guessing that this is not to great security wise though?

[2017-04-25 21:31] ArturDorochowicz opened #318 "UserManager.signoutRedirectCallback doesn't return the response"
There's an issue with `signoutRedirectCallback` in `UserManager` [1]. It does not pass the response to the caller, so there's no way of, for example, getting the state that may have been stored when signout had been initiated.

TypeScript typings seem to accommodate the return value already actually, because they say `signoutRedirectCallback(url?: string): Promise<any>;`

[1] https://github.com/Id

[2017-04-26 09:40] robin130 opened #320 "How to use CordovaPopupNavigator and CordovaPopupWindow ?"
I saw two files specific for cordova application, but Usermanager does'nt have methods to utilize Cordova inapp browser windows. Are those methods not included in Usermanager intentionally?

[2017-04-26 10:19] merijndejonge commented on #248
Hi Brock,

I'm considering if it is possible to do authentication in my browser plugin
without redirects. I've a new scheme in mind where I no longer will make
use of external login providers (like google), but use my own
identityserver instance for all authentication.
What is your opinion about using resource owner password grant type in my
browser plugins? I do read about some security concerns

[2017-04-28 07:35] blocka commented on #264
I'm having an issue now. My OIDC server (Anvil Connect https://github.com/anvilresearch/connect) does not return a `kid`, but _does_ have a `use` key. It is choking on me as it can't figure out which key is for signing.

[2017-04-28 09:46] sohamnakhare commented on #315
Hey, we are using an in-house IAM server which expects a realm_id in the signin url. This logic is very custom to satisfy some business requirements. Adding a way to add custom parameters, maybe a callback which gets called just before the signin url is formed, would make this library more flexible to use.

Nimbus OAuth SDK does provide a way to add custom parameters, please find this below:
https

[2017-04-28 14:21] brockallen commented on #264
@blocka open a new issue if you think there's the need to make a change here to accommodate your situation

[2017-04-28 14:24] brockallen commented on #248
ROPF is for highly trusted clients that are first party to the token server and user store.

[2017-04-28 14:27] brockallen commented on #320
We need to ask the Cordova expert: @markphillips100.

[2017-04-28 14:29] brockallen commented on #318
Ok, thanks for the report. I'll look into it when I can. In the meantime if you have a proposal for a fix or even a PR, I'm all ears. Thanks.

[2017-04-28 14:30] brockallen commented on #318
Looks like we just just pass the response back -- I think that's what you're after, yes?

[2017-04-28 14:33] brockallen commented on #316
The main auth cookie is http only.

I'm not understanding what initial round trip you're talking about. What is the code doing?

[2017-04-28 17:25] ArturDorochowicz commented on #318
Yes, exactly.

[2017-04-28 23:18] markphillips100 commented on #320
I have an old Ionic v1 demo at [https://github.com/markphillips100/oidc-cordova-demo](https://github.com/markphillips100/oidc-cordova-demo).  Take a look at line 31 in [app.js](https://github.com/markphillips100/oidc-cordova-demo/blob/master/src/Oidc.Demo.Cordova/www/app/js/app.js) for how you use the CordovaPopupNavigator and CordovaIFrameNavigator.

You must have the InAppBrowser installed to us

[2017-05-01 14:28] roblapp commented on #276
I am also having the same issue. Here is my code:

[code]
The user is always null. However, I do see the following key value pair in my local storage...

[code]
At this point there is nothing in my sessionStorage. Here is my userManagerConfiguration object...

[code]

What am I missing here?

[2017-05-02 11:47] tomshane commented on #264
After switching from "Test" IdentityServer configuration to EF Core storage and ASP.NET Core Identity configuration, on my JS client, I'm getting this error ("No key matching kid or alg found in signing keys").

jwks endpoint returns:
[code]

[2017-05-04 09:35] #320 closed, assigned to nobody

[2017-05-05 08:33] ydekova opened #321 "How to make sure different instances of Oidc.UserManager work with the same item in local storage?"
Most of my client app is a SPA, but I need access to the logged in user in some other pages. I can't use redirects or silent redirects to ID server in those pages since I want to avoid any latency in the page loading. I have decided to use local storage however I'm not sure, I know exactly how the storage item key is constructed. To play it safe, I create the UserManager instances on the different

[2017-05-05 09:13] mike-w-kelly opened #322 "IE11 JavaScript Big Number (JSBN) window.crypto getRandowValues error"
line 10936 of oidc-client.js includes a hard coded version of JSBN.

Which makes use of window.crypto.getRandomValues which errors in IE11, with the error:

you can fix this by providing a fallback to the vendor prefixed version window.msCrypto, which works for IE11.

[code]

[2017-05-05 12:27] brockallen commented on #322
Yea, that's the packed version. I suspect you won't find that line of code in the core, but rather in jsrsasign, which is a dependency. I'd ping that author: https://github.com/kjur/jsrsasign

[2017-05-05 12:33] brockallen commented on #321
1: To insure each instance uses the same key you need to make sure each instance uses the same authority and client_id: https://github.com/IdentityModel/oidc-client-js/blob/dev/src/UserManager.js#L420

2: To cleanup orphaned state, use `clearStaleState` on the `UserManager`.

[2017-05-05 12:55] mike-w-kelly commented on #322
Thanks, I did think it was a little odd that it appeared hard coded. I've raised a [pull request](https://github.com/kjur/jsrsasign/pull/254) in jsrassign to cover the issue.

[2017-05-05 13:00] brockallen commented on #322
I'll close this -- feel free to ping me if/when it's fixed on their side.

[2017-05-05 13:02] mike-w-kelly commented on #322
Will do.

[2017-05-05 13:02] #322 closed, assigned to nobody

[2017-05-05 13:32] ydekova commented on #321
Thanks a lot!

I guess when logging out is a nice place to do this.

[2017-05-05 13:34] brockallen commented on #321
Yes, or even just in each page load.

[2017-05-05 17:50] kawazoe commented on #315
I would gladly like to have this feature as well for a different use case. When authenticating with google's authority, you can provide an extra parameter called `hd` to limit the host domain that people can use to sign in. This is mostly a cosmetic thing but it can also help users with multiple google accounts (like people with a personal gmail account and a work google apps account) to use the r

[2017-05-05 18:20] brockallen commented on #315
Understood. The current issue is that right now the param is an object and we look for explicit protocol params. I'd need to figure out how to indicate other params that are custom/non-protocol to include.

[2017-05-08 03:52] RasmusRummel opened #323 "signinPopup without callback.html"
I am trying to make a commenting system as a SaaS service : the client may have an html file, index.html, in which he want to allow people to leave a comment - the client can do that by referencing my external javascript file which will create a commenting UI out-of-the-box.
As part of the commenting UI, there will be a login button so that any people who want to comment can login first - I want t

[2017-05-08 07:59] sattaman opened #324 "Implementing a custom CheckSessionIFrame / exposing SessionMonitor"
I am working on making the library work with React Native, which is proving largely successful.

I am currently working on getting  monitorSession to work and need to implement a custom CheckSessionIFrame. However since the SessionMonitor class is instantiated in UserManager, and no second parameter is passed here, I am not able to specify this. SessionMonitor itself is also not exposed in index.j

[2017-05-08 12:55] brockallen commented on #323
From a security standpoint, I don't recommend this. You want that hand-off page to have as little code in it as possible.

[2017-05-08 12:56] brockallen commented on #324
Ok, yea... I can see how this would be nice to inject (as we do for most other services). Proposal?

[2017-05-08 13:30] sattaman commented on #324
I've got it working just adding the export of SessionMonitor  to the root index.js, then extending it, and passing a different second parameter, which works.

https://github.com/sattaman/oidc-client-js/commit/83035b402f237edffda406aa3006a3f8e304be67

[code]

[2017-05-08 22:30] brockallen opened #325 "consider stopSilentRenew API on user manager"

[2017-05-09 02:44] RasmusRummel commented on #323
Thanks for answer and may I add that I find IdentityServer4 to be an awesome library, however I think that my proposed technical model, embedding a full service within a single javascript reference, is an important technical model because it will easen the use of SaaS.
I don't have enough insight into the security ramifications, but it would be great if there was a way for IdentityServer4 to suppo

[2017-05-09 08:22] tomshane opened #326 "No key matching kid or alg found in signing keys."
After switching from "Test" IdentityServer configuration to EF Core storage and ASP.NET Core Identity configuration, on my JS client, I'm getting this error ("No key matching kid or alg found in signing keys").

jwks endpoint returns:
[code]

[2017-05-09 15:20] sattaman commented on #324
I'm hitting another issue, which may be better placed on the main ID Server repo, I thought I'd mention here in case you can help.

I am using a React Native `WebView` to access the `checksession` page, which gives me similar access to an iframe but is different. It gives me the facility to inject code into the page, which I have done this to bypass the check that the page is in an iframe and to c

[2017-05-09 15:22] brockallen commented on #324
If you don't have a consistent cookie with IdSvr, then it's not surprising that it says changed. Also, from a native app I'm not sure you want to monitor the session, since there might not be a "session" to check (since the browser session might be long gone).

I guess I don't understand the technical details and/or context of Reactive native well enough to glean what's happening.

[2017-05-09 16:28] sattaman commented on #324
The cookie should be consistent, it remembers you click login again. It should function the same as if you'd used a browser from what I can tell.

Do you know where it gets the origin used in the cookie creation?

If I could see what the values used to create the cookie were I'd probably be in a better place. I'll continue to dig around anyhow.

Are you thinking then I should be ditching the monit

[2017-05-10 10:13] alessalessio opened #327 "getUser returns null , even after the receiving access token"
By following the tutorial in [IdentityServer-ClientQuickstart](http://docs.identityserver.io/en/release/quickstarts/7_javascript_client.html)

i m using this client configuration:

[code]

The index.html page is the same provided in the quickstart.

After clicking the "Login" button, my client is successfully authenticated by the Identity Server and redirected to "localhost:5003". I can see the id

[2017-05-10 11:00] alessalessio commented on #327
Adding some logs:
[code]

I am then redirected to the IdentityServer login page .

And after begin logged in , i am redirected again to the initial page (index.html), and this is the log:

[code]

From the log, it seems that the WebStateStore initially set, is null after redirection

[2017-05-10 15:34] merijndejonge commented on #248
Now that I'm no longer using external login providers like Google, I can (re-) consider the option of using a visible iframe for the authentication flow. In that case I don't open ROPF security issues and the authentication flow will not open any popup windows (such that I finally can support plugins on browsers other than chrome).
The only thing I need to do is to make sure my own IdentityServer

[2017-05-10 18:21] brockallen commented on #248
Well, google doesn't allow its login page in an iframe... so if it's good for google, then it's good for IdSvr :)

In all seriousness, we don't want click jacking for the login page.

[2017-05-10 20:02] GDehnke-Turpin commented on #316
I have the same issue, when a user is not authenticated, they hit the page they want to go to, such as www.mesokool.com and the app goes out to make sure the URI is in the database using implicit flow. So what you pretty much have is a processing page or latency on the call out to identity server cause the user was never logged in. Then they get redirected to the login page, then once the login pa

[2017-05-11 10:50] sattaman commented on #324
Got it working!

Digging through the c# source code the origin was pulled from the redirect uri using the following code.

[code]

This meant that for may app with redirect 'com.myapp://authredirect' , the origin actually needed to be the same string. I'll pr the change I needed, exposing SessionMonitor.

[2017-05-11 15:33] merijndejonge commented on #248
Thanks for your reply.
It turns out that X-Frame-Options is actually deprecated (https://www.owasp.org/index.php/Clickjacking_Defense_Cheat_Sheet) in favor of the frame-ancestors directive.

Since I know the sources who access my identity server instance, I can list these in a Content-Security-Policy header, e.g.:

   Content-Security-Policy: frame-ancestors <known-sources>

This solves the securi

[2017-05-11 20:34] merijndejonge opened #329 "userSignedOut not fired after logging out"
Hi,

I've added the following to user-manager-sample.js:
[code]
If I now press one of the logout buttons in the demo application this event does not seem to get fired. Is this intended behavior or how else can my application know when a logout process has completed?

[2017-05-11 20:45] brockallen commented on #329
This event fires when the user has signed out of the OP.

[2017-05-11 20:52] merijndejonge commented on #329
Yes, I red that in the documentation, but what is the OP (sorry for my Ignorance).
Is there an alternative way to get notified when a logout process has completed?

[2017-05-11 20:53] brockallen commented on #329
OP == open id connect provider (same as your STS)

there's a user unloaded event for when the user is removed from storage, which happens when yuo logout

[2017-05-11 21:15] merijndejonge commented on #329
The unload is called before the logout process finished.
If I call e.g. signoutPopup() then I'm logged out from OP, right?

[2017-05-11 21:18] brockallen commented on #329
Well, yes... signout involves a lot of cleanup. One of the things is to clear the storage in the SPA before redirecting to the OP for signout. So yes, the event is fired before the user is signed out fully.

[2017-05-11 21:26] merijndejonge commented on #329
I can understand that. But this does not explain why the userSignedOut event is not fired when I call e.g., signoutPopup().

[2017-05-11 21:42] brockallen commented on #329
If you call removeUser directly, do you get your event?

[2017-05-12 07:17] merijndejonge commented on #234
@brockallen any idea already when 1.4.0 comes out?

[2017-05-12 08:25] ErikSchierboom commented on #250
@JonathanEckman Using a stand alone HTML page appears to have solved my frame timeout problems when using this library with Aurelia. Thanks! However, I do occasionally get this error: `Response was error login_required`. Did you ever see that error? It happens after a period of successfully renewing the token. The log looks like this:

[code]

Any ideas?

[2017-05-12 08:26] ErikSchierboom commented on #98
@crh225 Could you perhaps show how you solved this? I'm having the same problem.

[2017-05-12 14:38] brockallen commented on #250
Your user is no longer logged into the OP

[2017-05-12 14:39] brockallen commented on #234
Not anytime soon -- I'm swamped.

[2017-05-12 15:05] alessalessio commented on #327
I have been able to get the user only after processing the signin reponse.
Any idea why?

Is this the correct workflow?

[code]

[2017-05-12 15:43] brockallen commented on #327
Something about how it's being stored on your callback page -- debug into that.

[2017-05-12 15:45] GDehnke-Turpin commented on #327
What are you coding against: Angular2, ReactJS, JQuery, ES7???

[2017-05-12 15:53] ErikSchierboom commented on #250
Thanks. I think it has to do with using an in-memory store for the IdentityServer data. I'll try and convert that to a database backend. Thanks for the help.

[2017-05-12 16:00] alessalessio commented on #327
ES7.

By debugging i noticed that the "storagestring" was empty when being redirected from the IdServer login page. That s why i m setting manually the localstorage.

Only after setting the localstorage manually, i m able to get the user.

Is this intended to be?

thanks

[2017-05-12 16:16] GDehnke-Turpin commented on #327
Below is an angular example, maybe you can use it as a guide.

[code]

[2017-05-13 15:38] DavidParks8 commented on #246
As the library is now, I haven't been able to get it to work with an "ahead of time" compiled angular application.  It seems d.ts files are not enough for the angular compiler to use the library (a json file produced by the ng compiler is also necessary).  If the library is ported to typescript, this wouldn't be an issue.  My company would like to use this library in some angular applications.  @b

[2017-05-13 18:32] herecydev commented on #246
@DavidParks8  `d.ts` should be enough for typescript to understand. What json file are you referring to?

[2017-05-15 03:50] DavidParks8 commented on #246
d.ts is enought for typescript, but not enough for the angular ahead of time compilation (in some cases).  I am referring to the metadata files which are produced by the angular compiler (ngc) when the following is in the tsconfig.json file:
[code]

[2017-05-15 08:46] alessalessio commented on #327
Hi
thanks for the piece of code. The problem is that the User is always null, if i don't set the local storage as shown during the Signinresponse.

[2017-05-15 14:45] Mitgenosse commented on #286
Info for others: Depending on the Identity Provider (IP) implementation, you may have to configure the `post_logout_redirect_uri` in the server. F.e. when using MITREid, there are some prerequisites to meet or the IP will not redirect the client, see https://github.com/mitreid-connect/OpenID-Connect-Java-Spring-Server/issues/1229

[2017-05-15 14:51] Mitgenosse commented on #65
I have the same problem.
In my entry.js I am trying to set the logger in 1.3.0 using:
[code]
The logger is set, but only a very small amount is being logged, despite setting it to Log.DEBUG.
I only see `user loaded` and sometimes `signinSilent successful, signed in sub: [...]`. Some time ago, there would be very much logging going on. I don't know what happened. Since `automaticSilentRenew` is set

[2017-05-16 10:10] BasyaLipman commented on #327
@brockallen @GDehnke-Turpin @alessalessio

I am currently having the same issue in my AngularJS web application.

My flow is that I call getUser() after successfully authenticating and being directed back to my site.
Then, if getUser returns a null user, I trigger a new login.

In Chrome and IE a new login consistently gets triggered 2 or 3 times before getUser returns user info. In FireFox, I get

[2017-05-16 10:11] brockallen commented on #327
As with anything, I'd revert back to the smallest/simplest sample that shows it's working and build up from there.

[2017-05-16 10:56] alessalessio commented on #327
Hi @brockallen ,
the simplest/smallest example i m using comes directly from the IdentityServer-ClientQuickstart (as pointed out in the beginning).

And it doesn't work if i don't  set the localstorage as described.

[2017-05-16 14:15] Mitgenosse commented on #315
Something like this would be good. I am currently using the userManager.createSigninRequest, then append the custom parameters to the URL and redirect myself.

Passing it (somehow) as a signinRedirect parameter would be nice. (Maybe the createSigninRequest(args) method or _signinStart(args) of the UserManager is a good place to do this? Idk. )

[2017-05-17 08:26] Mitgenosse commented on #65
Ok, nevermind. The chromium console filter was set to "Info" and not "Verbose". It logs again

[2017-05-17 09:57] Mitgenosse opened #330 "revokeAccessTokenOnSignout does not revoke access token"
Hello,
I want the access token to be revoked when the user logs out.
So I set `revokeAccessTokenOnSignout` to true but it is not revoked. The log says:
[code]
despite being "correctly" logged in. Silent renewing the access token works.

Furthermore my config is as follows:
[code]

Is there something else I need to consider?

[2017-05-17 14:59] xrkolovos opened #331 "Add version number in the beginning of oidc-client js script"
Add version number in the beginning of oidc-client js script

[2017-05-17 16:08] superjulius commented on #326
We have also faced the same issue recently (using 1.3.0 version) without changing anything as far as we can tell.

From the error message, we suspected that the KID (key identifier) had changed in IdentityServer since the token was issued and therefore out-of-sync with the client. We were using the temp signing credentials (this is a DEV environment) and hosting in Azure App (free plan).

We just

[2017-05-18 07:45] tomshane commented on #326
Without changing anything, it works now, with or without temporary certificate. It must have been some browser cache, local storage information or anything. Weirdly, I tried to clear all those, but it didn't work. It started working now for no apparent reason.

[2017-05-18 07:45] #326 closed, assigned to nobody

[2017-05-18 18:42] superjulius commented on #326
It must have been indeed some cache issues. I faced similar issues when playing with different key signing implementation. What seemed to work was to clear local/session storage for both IDServer and application and clear the browser cache too...

[2017-05-18 19:37] brockallen commented on #326
Yes, we had caching on by default in IdSvr which we considered a bug and fixed recently.

[2017-05-19 12:56] GDehnke-Turpin commented on #330
When you logout, what are you calling to actually logout.

[2017-05-20 20:30] tfoel opened #332 "id_token-only scenario with automatic silent renew"
Similar issues have been raised here, still I need guidance finding the right solution.

I am using the Azure AD's OIDC interface directly + implicit flow to fetch user data. The way it works is that everything there is to know about the user is returned in the id_token (which should be fine), so there is no need for an access_token to query the user info endpoint.

However, the silent renew is bu

[2017-05-22 12:23] andersekelund commented on #315
I agree. We want to send a custom parameter from the client, because we use the SAML plugin Kentor Authservice which redirects to a Federation. If we supply an EntityId as a parameter the Federation's Discovery Service gets overriden and user is redirected to the correct IDP (instead of choosing one from the DS).

[2017-05-23 05:07] Robban1980 commented on #276
Encountering the same problem now. Will try to investigate more.
I get this error in the console 'user not found in storage'

[2017-05-23 07:30] Robban1980 opened #333 "Any examples using Angular 1.x?"
I am trying to migrate from Oidc-Manager to oidc-client-js for an AngularJS 1.x app. However i am having problems with the implementation and i cannot find examples for anyone doing this.

I have looked at the popup examples, however i need to implement the redirect callback flow. I get my tokens from the IDP server the callback html page is handling the response. And i can see my response in loca

[2017-05-23 07:36] Mitgenosse commented on #330
Programmatically I am calling `signoutRedirect` which calls
[code]
Is this the info you wanted?

[2017-05-23 13:28] GDehnke-Turpin commented on #333
Are you trying to use implicit flow? What do your settings look like, could you paste some code.
You should be able to use the link below for examples, you should have no issue porting it to angular1, since all it is, is a configuration setting that you have that talks to identity server. So basically, have your settings setup in a JSOn file, read in that JSON file and those can be your settings f

[2017-05-23 19:57] brockallen commented on #330
JWTs are not revocable.

[2017-05-23 20:00] brockallen commented on #332
Why do you need to keep requesting an id_token? Once you have authentication, it's up to your client app to decide the user's session lifetime.

But if you really want to do this, then you can manually trigger a silent request with signinSilent on the UserManager.

[2017-05-23 20:00] brockallen commented on #331
Why can't you do this yourself?

[2017-05-23 20:02] brockallen commented on #327
@alessalessio does it not work in all browsers, or just one?

[2017-05-23 20:27] epitka opened #334 "How to renew token in mvc app?"
First little background, we have an mvc app that serves an aurelia app per mvc area. We use identity server and we have endpoint /account/renewtokens that is in AccountController that we can hit to renew tokens (requirement is such that this end point is used).  So by the time aurelia app is served we have authenticated user.  We wanted to tap into oidc-client functionallity to sliently renew toke

[2017-05-23 20:41] epitka commented on #334
And here is the log when token is being renewed

[code]

[2017-05-24 04:47] BasyaLipman commented on #327
@brockallen - for me, it looped a couple of times in all browsers, but in FF it looped infinitely. In other words, there was a problem in all browsers, though the looping happens so fast it's hard to see without debugging.

[2017-05-24 06:32] Mitgenosse commented on #330
So what would be the cases where you can revoke an access token?

[2017-05-24 11:36] AndreasHohn opened #335 "Example code for node.js"
Hello,

I am trying to get the oidc-client running in node.js enviroment. I did come as far that there are not problems when starting it. But when calling
`mgr.signinRedirect({**"not sure what to put here"**}).then(function() {
        log("signinRedirect done");
    }).catch(function(err) {
        log(err);
    });
});`

there is an error thrown:
`TypeError: n._XMLHttpRequest is not a constructo

[2017-05-24 12:47] dimitri-a opened #336 "How to import oidc-client.js into reactjsapp?"
I was looking to integrate https://github.com/IdentityModel/oidc-client-js into my reactjs app. The issue is that I don't know how to import this in my app. Currently I have this:

    import Oidc from 'oidc-client';
    ..
    var mgr = new Oidc.UserManager(settings);

more code [github][1]

The console shows this error:

    Uncaught TypeError: Cannot read property '_babelPolyfill' of undefined

[2017-05-24 13:05] stjepan opened #337 "localStorage and sessionStorage doesn't work for browsers in "private mode""
Hi,

I see there are following user stores in the code: WebStorageStateStore and InMemoryWebStorage. When users are browsing in private mode, localStorage and sessionStorage are not accessable. InMemory is not usable since a reload would clear that one instantly as well.

What is your proposed workaround for that, so that I still can use your library?

Thanks in advance!

/Stjepan.

Sames as #269

[2017-05-24 13:08] stjepan commented on #336
For your specific issue (as by your exception message), you'll need to:
npm install --save babel-polyfill

Then make sure you do somewhere in you code, ex. your main.js (or whatever it's called) following:
import 'babel-polyfill';

[2017-05-24 13:13] stjepan commented on #336
I have just looked into your code on the gihub and I see you've wrongly included oidc-client.js, directly in to the code.

Check instructions from here about how to do it correctly:
https://www.npmjs.com/package/oidc-client

You'll find information about babel-polyfill aswell

[2017-05-24 13:20] stjepan commented on #269
@tomeinar Could you share your CookieStorage?

[2017-05-24 14:08] tomeinar commented on #269
I'll ask my client if they are willing to share it :)

[2017-05-24 17:30] stjepan commented on #331
Like in a filename or what? What is the purpose of version number? packages.json defines what version you're using.

[2017-05-24 17:32] GDehnke-Turpin commented on #331
^^^ What he said... But, it might be helpful to know what version it is when you are in the file, somewhat more of an old school way to check versioning when the package.json file is not on hand.

[2017-05-24 17:53] stjepan commented on #331
That's so oldschool man :)
Don't develop apps old way...use package.json or whatever means you have defining external libs in your own project.

[2017-05-24 18:53] RichiCoder1 commented on #234
Ditto to the above. Anyway we can assist, or is it purely a bandwidth issue? Currently using our own in-house solution.

[2017-05-25 04:35] dimitri-a commented on #336
hi Stjepan,

I forgot to say the oidc-client.js has been modified that is why I am
trying to add this directly not through npm install.

I tried adding the babel polyfill module but no luck?

cheers,
Dimitri

On Wed, May 24, 2017 at 11:13 PM, Stjepan Karin <notifications@github.com>
wrote:

[2017-05-25 06:28] tomeinar commented on #269
Here you go @stjepan, please let me know if something is unclear about this

Basically we use a StorageFactory that defaults to session, then local and cookie, if all else is unavailable

[code]
[code]

The CookieStorage itself is just a wrapper around the [js-cookie](https://www.npmjs.com/package/js-cookie) package so that it fits with what's expected by the oidc-client

[code]
And then we set it

[2017-05-25 10:48] xrkolovos commented on #331
yes i mean inside the jsfile

[2017-05-25 11:35] brockallen commented on #331
Correct -- just rename the file where you're including it in your app, if that's what you wish.

[2017-05-25 11:35] #331 closed, assigned to nobody

[2017-05-25 13:12] brockallen commented on #334
This library is designed for pure client-side JS/SPA apps, not a mix of server-side MVC and JS. If you're doing the mixed approach, then you will have to come up with your own token renewal approach (presumably using your server-side OIDC library).

[2017-05-25 13:12] #334 closed, assigned to nobody

[2017-05-25 13:12] brockallen commented on #336
This is the react library on top of oidc-client: https://github.com/maxmantz/redux-oidc

[2017-05-25 13:14] brockallen commented on #234
Yes, it's a bandwidth issue. If you want to take a stab at it, then comment here with your ideas on how you'd envision it being added into the existing style of the library (meaning would it go into UserManager, or not? Maybe there's a new class for this specific workflow.).

[2017-05-25 13:15] brockallen commented on #337
I don't have a solution for you. Is it just localStorage, or is sessionStorage also broken in these scenarios? I see why localStorage is blocked, but at least they could make it "go away" after the incognito window is closed. Seems like a very bad choice in the browsers.

[2017-05-25 13:17] brockallen commented on #335
Why? This library is designed for browser-based client-side JavaScript.

[2017-05-25 13:18] brockallen commented on #327
Do the samples work for you? For example, this one: https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc

[2017-05-25 13:19] brockallen commented on #332
Any update?

[2017-05-25 13:19] brockallen commented on #330
When the token is stored in the token service (presumably in some DB).

[2017-05-25 13:22] brockallen commented on #248
CSP is logically the same, but given that v2 is not wide enough yet I don't think we can fully trust/use it.

On a side note, google recently put out a sample/ref JS implementation for native style OIDC clients as browser plugins: https://github.com/openid/AppAuth-JS

[2017-05-25 13:22] brockallen commented on #251
So no feedback on expected changes?

[2017-05-25 13:23] #296 closed, assigned to nobody

[2017-05-25 13:23] brockallen commented on #300
BTW, given the recent changes in OAuth2 attacks on native apps, Google has put out a library targeting native/Cordova clients: https://github.com/openid/AppAuth-JS

[2017-05-25 13:24] brockallen commented on #306
You might want to look at this for native apps instead: https://github.com/openid/AppAuth-JS

[2017-05-25 13:24] brockallen commented on #311
No update?

[2017-05-25 13:25] brockallen commented on #314
It needs to be an array. See this, for example: http://demo.identityserver.io/.well-known/openid-configuration/jwks

[2017-05-25 13:25] MrCrimp commented on #251
I simply worked around the issue by checking for node environment, and if so I did not intit anything.

[2017-05-25 13:25] brockallen commented on #316
Any update on this?

[2017-05-25 13:26] brockallen commented on #317
Cookies are designed to send to a server. If you put sensitive things like tokens in a cookie, then your server can read them. I'd not do that, myself.

[2017-05-25 13:26] #321 closed, assigned to nobody

[2017-05-25 13:27] brockallen commented on #323
The protocol is not designed to be performed via ajax.

[2017-05-25 13:27] brockallen commented on #329
Any update?

[2017-05-25 13:30] brockallen commented on #251
Ok, makes sense. As mentioned elsewhere, this library was never designed for a server side scenario.

[2017-05-25 13:30] #251 closed, assigned to nobody

[2017-05-25 13:33] tfoel commented on #332
Managed to renew the id_token manually, using the signingSilent call, as you suggested.

In my scenario, the frontend acts as a client to the backend (which is a bunch of stateless endpoints).
Once I have authentication, I am sending the id_token to the backend in an http header as a proof of identity on each request. The backend then verifies the JWT and resolves the local user permissions based

[2017-05-25 13:38] GDehnke-Turpin commented on #316
The current work around is not having the process page, and having the redirected URI in implicit flow the main landing page, but still get the small amount of latency over the wire.

[2017-05-25 13:39] brockallen commented on #332
The id token expiration only needs to be long enough to deliver from the token server to your app. It helps prevents replay.

No, as I think session management is up to the client app. Id token is just a snapshot of proof of identity. Perhaps a bad example, but when you go to a bar or a club that has a bouncer you only need to show your id at the door. Once you're in the trusted perimeter then all

[2017-05-25 13:41] brockallen commented on #316
Ok, thanks for the update. I'll close this then.

[2017-05-25 13:41] #316 closed, assigned to nobody

[2017-05-25 13:56] tfoel commented on #332
Fine example, just a bit of a pity I don't get to experience that anymore ;)

So, normally the id_token should be exchanged for something else (another token) that the app itself controls, I guess?

And the way it is done right now (using the id_token to access a service) is basically a shortcut that spares a few additional round trips (thinking about renewal also). Not sure about at what cost jus

[2017-05-25 14:02] brockallen commented on #332
Yes, and for a SPA where there's typically no server-side UI framework, and only an API somewhere, then the SPA mainly relies on the access_token for that "session" (but id_token does provide good identity info to the UI).

[2017-05-25 14:09] tfoel commented on #332
I thought about doing that, but it seemed wrong to use that access_token in the SPA, as it was issued to give access to the user's data at the IDP, not to secure some 3rd party API.

[2017-05-25 14:12] brockallen commented on #332
Well, maybe i wasn't clear -- you send the access token to the API. The JS should not read the contents of it. And access tokens are more than just accessing the user's data at the user info endpoint -- they're about protecting your custom APIs too.

[2017-05-25 14:12] merijndejonge commented on #248
I Agree. I've looked at CSPv2 which is interesting, but not widely
supported (yet). Unfortunately.

AppAuth sounds very interesting. Thanks for the link. Does this make
oidc-client obsolete? What do you think?

On Thu, May 25, 2017 at 3:22 PM, Brock Allen <notifications@github.com>
wrote:

[2017-05-25 14:14] GDehnke-Turpin commented on #337
If you don't want to have it persist in the browser, as that is what it is sounding like, you could fallback to anysort of database of your liking... Else just change it to public mode...?!?!

[2017-05-25 14:20] rainesmoshe commented on #311
Hi, it looks like an internal problem in the network, with company security
protection tool websense proxy setting. Looks like it is not an application
problem. Once this is solve I'll double check.

FYI

On May 25, 2017 9:24 AM, "Brock Allen" <notifications@github.com> wrote:

[2017-05-25 14:49] brockallen commented on #248
oidc-client is meant for browser based JS apps. The other repo I linked is for native clients (and a browser plugin falls under the native category, even though it's done in JS). Those have different protocol requirements -- the main diff being that a native app should use hybrid and PKCE, not implicit flow.

[2017-05-25 15:58] alessalessio commented on #327
The sample works. I ll figure out where's the difference with mine. Thanks

[2017-05-25 18:20] tfoel commented on #332
Great, thanks!

[2017-05-25 18:20] #332 closed, assigned to nobody

[2017-05-25 19:51] RichiCoder1 commented on #234
I was thinking a natural extension to the `UserManager`. Basically:
`signinPassword(username: string, password: string): Promise<User>;`

In theory it should be simple since it's just a straight forward API request, but I'd imagine it gets most complicated as a lot of the library infrastructure assumes (I believe), the implicit flow which can't wholely be resused.

Edit: I believe the refresh case

[2017-05-25 20:06] brockallen commented on #234
Yea, as you're finding it's complicated :)

[2017-05-25 20:29] RichiCoder1 commented on #234
But definitely not insurmountable!
The API changes would basically amount to:
[code]

Some flag would probably also need to be added to user to signify that the access_token of the password type.

Signin would make a simple XHR request to the token endpoint with the appropriate args. SigninRequest and SigninResponse should need very little changes to fit that.

`SilentRenewService` would need to h

[2017-05-25 20:32] #336 closed, assigned to nobody

[2017-05-25 20:39] brockallen commented on #234
Why introspection? That's for APIs.

This would not work, as ROPF is not really OIDC, thus there's no session.

Also would not work since there's no session at the OP.

[2017-05-25 21:16] RichiCoder1 commented on #234
Fair enough. I misunderstood the purpose :)

Hmm. Maybe a seperate UserManager-esque class would make sense. Rip out all the persistent session related bits and only keep signin, signout, and revoke. What would it be called though?

[2017-05-25 22:01] brockallen commented on #234
ResourceOwnerClient?

[2017-05-25 23:12] RamKovuru commented on #329
I also noticed the same issue where the addUserSignedOut event is not fired when i call startSignoutMainWindow() and endSignoutMainWindow() methods. addUserUnloaded() event is fired() when i try to signout

[2017-05-26 01:51] RichiCoder1 commented on #234
That works here. Though it might be confusing since it doesn't have "Manager" and people might take that to mean it doesn't take care of all the storage and other bits at first glance.

[2017-05-26 08:09] franpsif commented on #276
You have to use both, the signinRedirect and the signinRedirectCallback. First you have to do something like that:

[code]
And when the IDS redirects to your Website, the token and some info is returned as fragment in the URL. You have to pass this fragment to the signinRedirectCallback method, like that:

[code]

Now, the user is created in the user store and you can use getUser and all the provi

[2017-05-26 08:55] stjepan commented on #337
@brockallen localStorage and sessionStorage are basically the same, but in one case and that is sessionStorage clears out as soon as you close tab/browser.
@GDehnke-Turpin The last options is cookies (in browser), which would work, but there is no official userStore in the solution. I know other fixed it that way, or by preserving it on the server, as you mention.
https://github.com/IdentityModel/

[2017-05-26 08:59] stjepan commented on #269
@tomeinar Awesome! I'll give it a try! Thx a lot!

[2017-05-26 10:12] Robban1980 commented on #276
@franpsif thanks!
The part of putting the url here this.mgr.signinRedirectCallback(url) helped me move forward. :)

[2017-05-26 10:20] Robban1980 commented on #333
Sorry for my late follow-up @GDehnke-Turpin , other work got in the way.
My error was really silly, in the callback page i did not provide the URL to the Oidc.UserManager().signinRedirectCallback function. After adding it, then everything started working.

I got helped in this thread
https://github.com/IdentityModel/oidc-client-js/issues/276#issuecomment-304220028

[2017-05-26 10:58] brockallen commented on #337
Yea, I'm fully aware. My point was that the incognito window could provide localStorage that was actually implemented similar to sessionStorage -- that would be better than it not working at all.

[2017-05-26 10:58] #333 closed, assigned to nobody

[2017-05-26 10:59] brockallen commented on #234
Well, there's already an OidcClient that's more protocol, and UserManager that's additional features on top. You could provide a similar separation -- protocol vs management.

[2017-05-26 19:42] RichiCoder1 commented on #234
Yup that makes sense. Maybe just ResourceOwnerClient for now. I'm currently rewriting our in house equivalent of this and I'll see if I can make it so I can pull the relevant bits out and pull something together for a PoC PR.

[2017-05-26 21:47] ShadSterling commented on #327
To generate the User object you need to call `mgr.signinRedirectCallback(window.location.href)`.  But that won't actually give you the User object, you can either generate the User object afterward with `mgr.getUser()` or subscribe a callback in advance with `mgr.events.addUserLoaded( (user)=>{...} )`

[2017-05-28 19:39] ClientIco commented on #290
@UlyssesAlves any feedback on this maybe ?

[2017-05-29 05:45] stjepan commented on #337
I got it solved by implementing Secure Cookie Storage, if no other possible.

When in Private Mode, in Safari (both iOS and MacOS), localStorage and sessionStorage have length of 0, which will effectivelly throw an error as soon as you try to store anything.

MDN has a nice feature-detection function that can be used before you try writing to it.
https://developer.mozilla.org/en-US/docs/Web/API/We

[2017-05-29 10:22] alessalessio commented on #327
The example only works if the user logs in using a button.
If i want to "protect" the whole page and redirect the user to the identity server during page login, adding the line

`authorize('openid', 'id_token');`

at the end of the app.js file in your JsOidc sample, the app loops until it crashes.

What's the viable solution if a client html page needs to be authorized this way?

[2017-05-29 14:05] UlyssesAlves commented on #290
@ClientIco unfortunately not. At first I was planning to use a package which would have required me to update angular version, but my boss said it could take more time than we had available for the specific task I was working on, so I decided to implement it manually without the addition of the said package. Then, to return the project to a working state, I just copied the node_modules from anothe

[2017-05-30 07:17] Mitgenosse commented on #330
Ok, thank you for the info.

[2017-05-30 07:17] #330 closed, assigned to nobody

[2017-05-30 12:57] delepster opened #338 "Bypass issuer validation"
### Context
I am currently building a multi-tenanted app which authorizes users using their microsoft account. In this scenario the issuer set in the jwt token is not the same as the one fetched within the metadata, hence failing the token validation. This is as designed on the microsoft sts side.

### Issue
Can we configure the validation to bypass the issuer validation?

[2017-05-30 13:07] brockallen commented on #338
Not at present. I've not tried it, but you might be able to set the options and metadata manually (including the issuer) to get what you want...

Out of curiosity, why aren't you using their JS library for AAD?

[2017-05-30 13:21] delepster commented on #338
I am trying to leverage the use of the oidc-client-js library we've done in other projects. I guess I might end using their library, as you say.

[2017-05-30 13:33] brockallen commented on #338
The reason I suggest it is that their multi-tenancy support violates some aspects of the specs (like issuer), so it might be better to use their non-standard JS library for their non-standard OIDC implementation.

[2017-05-30 13:38] delepster commented on #338
I agree there are some quirks in their implementation. Thanks for your time.

[2017-05-30 13:38] #338 closed, assigned to nobody

[2017-05-30 22:06] ShadSterling opened #339 "Documentation"
The documentation in your wiki is horribly inadequate.

Maybe I'm not your target audience.  I'm not familiar with the OIDC protocol, and I was handed a already started webapp which uses this library for authentication.  The way this library was used in the app barely worked at all, and when trying to make improvements the documentation was very little help.  Having to figure out how the library i

[2017-05-30 22:07] ShadSterling commented on #327
Basically everything I know about using this library is here: https://github.com/IdentityModel/oidc-client-js/issues/339

[2017-05-30 22:36] brockallen commented on #339
I appreciate your feedback and detailed notes.

Given that this is not a commercial product, I'm not sure what you expected in terms of docs. I work on this project in my free time (between paid work, which means nights/weekends/etc), and I'm guessing that the countless hours I've put into it has still saved you time on your project (despite the time it's taken you to learn how to use it). I certa

[2017-05-30 22:53] brockallen commented on #339
Not that this assuages your frustration, but I have added a clause to the wiki to set expectations: https://github.com/IdentityModel/oidc-client-js/wiki/Home/2fc5816d3ac19b392a07b136f0179c1be254d131

I'm still interested in reviewing your detailed feedback and incorporating it into the wiki/docs. I don't have time in the near term for that, but I will add it to my queue. Thanks again.

[2017-05-31 09:57] AndreSteenbergen opened #340 "Sessionmanager not detecting logged in state changes correctly"
(might be documentation?)
Scenario: (after building simple OP and client using this exaple: http://docs.identityserver.io/en/release/quickstarts/7_javascript_client.html)
Start:
Client - not logged in
OP - not logged in

When: logging in with OP (not client) and refreshing client
Expecting: client showing user details

Result: "User not logged in"

[2017-05-31 10:57] AndreSteenbergen commented on #340
I changed the sample app,
- adding a silent login callback html
- changing the config (add silent_redirect_uri)
- changed the mgr.getUser function:
[code]

And I added the following functions to app.js
[code]

[2017-05-31 11:02] AndreSteenbergen commented on #340
The only issue I end up with is that the client does not get automatically notified when a user logs in. After a refresh it is ok now.

[2017-05-31 12:25] brockallen commented on #340
Yea, this is not how it's expected to work. The event is for notifications when an authenticated user's status has changed at the OP. Mainly follows the session management spec: https://openid.net/specs/openid-connect-session-1_0.html

[2017-05-31 13:01] AndreSteenbergen commented on #340
Is my change to my local example a good practice? Or is there a better way to check the users login state?

[2017-05-31 13:04] brockallen commented on #340
Well, getUser tells you if you have a local "session" in your JS app, and the choice to use or not use that if up to your client logic. That local session is unrelated to the SSO session at the OP. How you want to associate those lifetimes is up to your requirements. I can't answer that for you.

[2017-05-31 13:09] AndreSteenbergen commented on #340
My question is answered. So I'll close the issue. Thanks for the info.

[2017-05-31 13:09] #340 closed, assigned to nobody

[2017-05-31 13:12] brockallen commented on #340
np

[2017-05-31 20:00] ShadSterling commented on #339
To clear, I appreciate your work, was frustrated at the situation as a whole, and tried to write what would have most helped me at the beginning.  I've never tried to suggest edits to a wiki, so I'm not sure how that works.  I did look up tutorials on the protocol, and found them all to be very long and far more in depth that I hoped I would need when using the library - and if my summary above is

[2017-06-01 14:48] sattaman commented on #324
@brockallen were you happy to expose sessionmonitor with above pr?

[2017-06-02 10:42] franpsif commented on #311
Hi,
I have the same problem but only in Firefox (in Chrome the signinSilent method is working fine). In my case I receive the correct response from the server but two errors are showed in the console: "Frame window timed out" and "TypeError: getComputedStyle(...) is null". This is too strange because the response is fine, so I think this could be related only with the browser.

[2017-06-02 12:24] franpsif commented on #311
Hi,
I have great news. I have found what is the problem related with firefox. As you can see for instance here: [https://bugzilla.mozilla.org/show_bug.cgi?format=default&id=548397](https://bugzilla.mozilla.org/show_bug.cgi?format=default&id=548397) there is a bug in firefox related with the hidden iframes that are created with: `this._frame.style.display = "none";` In order to avoid this error, it

[2017-06-02 12:26] brockallen commented on #311
Sure, except how would that work with CSP enabled?

[2017-06-02 12:39] franpsif commented on #311
I have done a search in google and I think `this._frame.style.visibility = "hidden";` is completely compatible with the CSP. No issues related with that have been opened.

[2017-06-02 15:02] brockallen opened #341 "Consider flag for preventing automatic silent renew if user not active"
hard part is how do we detect the user is really inactive. Something like this?

document.body.addEventListener("keydown", activityDetected);
document.body.addEventListener("mousemove", activityDetected);

[2017-06-05 06:45] franpsif commented on #311
Hi! Any update?

Thanks!

[2017-06-05 08:28] BasyaLipman commented on #327
I had the same experience as @alessalessio - worked with the button, but looped when tried to protect entire page.

[2017-06-05 13:11] GDehnke-Turpin commented on #327
Am I the only one who think's this is hoaky?

[2017-06-05 13:39] GDehnke-Turpin commented on #341
What about users who are disabled, physically... Right now you only have keystrokes and mouse movement, what about other interactions such as voice?

[2017-06-06 08:13] mpszczolinski opened #342 "automatic login/refresh when getUser() is null - bug or missunderstanding?"
#Hi,

I just want to mention that I spend 5 days looking for solution before writing here.

I have app that uses silentRenew, which works really ok, what bothers me is the problem when I am logged in, then I am idle for a night, then I got back to my machine, refresh page, and in code it goes to part where 'user' is 'null' (see code below).

So my application assumes user is not authenticated (in

[2017-06-07 06:02] crudh opened #343 "Allow supressing id_token_hint in silent renew"
After upgrading to 1.2.0 (or 1.3.0) we have a problem in Edge when trying to do a `signinSilent`.  We get a "Frame window timed out". But it works in Chrome/FF/Safari.

This seems to be related to #116, #187 and possibly #311.

After some digging it seems like the problem is the length of the url supplied to the iframe when trying to do `signinSilent`. When `id_token_hint` was included by default,

[2017-06-07 08:13] crudh commented on #343
Update: Seems like we had a lot of redundant data in the id token that we could remove that solved the issue for us.

Should I close the issue @brockallen or should I leave it open? It's not an obvious problem to track down if you have a large id token. If you want I could submit a PR that logs warnings on too long urls in the iframe or something similar?

[2017-06-08 14:43] figuerres commented on #246
@herecydev  and @brockallen  and others:
part of what @DavidParks8  is refering to is that   projects using angular 2 (just angular) often use angular-cli  to "compile" the app
angular cli  wants to do a deep AOT compile of the whole app so that it can make good calls on what to do with web-packing the code and resources used by the app.

so lose / lax / javascript style things that work fine when

[2017-06-08 15:56] figuerres commented on #327
@GDehnke-Turpin
authorization, and the whole user identity game are not simple subjects. also the standards that we are dealing with were written to try and make multiple companies agree on a common standard even though each of them have different versions of how they do the same thing.
and security is a real mother to do right.

so this package and the related OIDC and OAuth stuff are not as simp

[2017-06-08 16:22] GDehnke-Turpin commented on #327
@figuerres
This package is meant to be a starter for something that can/could be much better, no company should implement this as a final solution and probably should fork it to a private repo. And yes, doing security is a pain in the arse...

I don't believe anyone is saying he is getting paid for this and it shouldn't be taken as a final solution.

Cheers!

[2017-06-08 19:12] vaduveerappan opened #344 "Montior session not getting enabled for signinRedirect"
Not sure if this is more of a question or a an issue

So we have the client logic written the following way

Querysessionstaus  => if  it returns ( "Login_required" ) {
      Do an "signinRedirect"
} else {
      Do an "iframeSignin"
}

We also have the following event logic

events.addUserSignedOut {
    logUserOut
}

The logic work fine, except when it comes to multiple tab. So based on above co

[2017-06-08 19:14] GDehnke-Turpin commented on #344
Are you using the userManager? Have anything in application/localStorage?

[2017-06-08 19:25] vaduveerappan commented on #344
Yes. We are using userManger.

And also we are setting the "monitorSession: true " on all tabs.

We dont have anything on localStorage. But why would localStorage prevent an event from getting triggered?

[2017-06-08 19:36] GDehnke-Turpin commented on #344
Could you provide a bit more code? That way I can know what is going on.

[2017-06-09 13:04] urbanhusky opened #345 "Support for surrounding basic authentication"
We have: oidc implicit flow, IdentityServer4 with asp.net core identity acting as OP. Angular 2 app on top of asp.net core mvc api.

Our reverse proxy (ngins) adds basic authentication to the app, because we want to additionally limit the access to the entire application to a specific set of users/customers, instead of having the app publicly available to everyone - and also because basic auth was

[2017-06-09 14:15] urbanhusky commented on #345
I might have misunderstood how basic authentication works in the browser. It seems to me that each XMLHttpRequest needs to set the headers as the browser will not add any basic authentication to it (or rather: it will get challenged and the next request will still not have the basic authentication header, repeat).

Adding a header for the basic authentication from js would not be useful either sin

[2017-06-09 14:38] vaduveerappan commented on #344
var settings = {
        clockSkew: 300,
        loadUserInfo: true,
        filterProtocolClaims: true,
        automaticSilentRenew: false,
        silentRequestTimeout: 5000, //10000
        accessTokenExpiringNotificationTime: 60,
        monitorSession: true,
        checkSessionInterval: 2000,
        revokeAccessTokenOnSignout: true
};

var mgr = new Oidc.UserManager(settings);

mgr.clearSt

[2017-06-12 05:56] DavidParks8 opened #346 "Webpack Can't Resolve Typescript module"
In an angular cli app, webpack gives the error: `Module not found: Error: Can't resolve 'oidc-client/oidc-client'` when trying to import the module.  This error occurs because the typings file name is different than the js entrypoint filename.  This can be fixed by renaming the typings file to `index.d.ts` and altering package.json accordingly.  Without this change, I can't compile my angular temp

[2017-06-12 12:21] brockallen commented on #345
If you're talking about the user's credentials then yes, you don't want to do both tokens and basic auth.

[2017-06-12 12:52] urbanhusky commented on #345
We have decided to remove Basic Authentication from our application. Thanks

[2017-06-12 12:52] #345 closed, assigned to nobody

[2017-06-12 18:25] figuerres opened #347 "Documentation: popup login and log out"
Some items that i am working thru in trying to move from redirection for login to pop up:

i am developing an Angular SPA application so the sample stuff leaves some lose ends.
it seems like i need a small html page to just run the line of code" new Oidc.UserManager().signinPopupCallback();"  so that the popup is closed and control returns to the app that opened the pop up window ??
is that true ?

[2017-06-13 13:38] CraigEaston opened #348 "monitorSession iFrame not working for me"
I am following this:
[OIDC Getting Started](https://identityserver.github.io/Documentation/docsv2/overview/jsGettingStarted.html)

But I am not seeing the monitorSession console logs, also when I log out from another browser tab, I don't get the UserSignedOut event (I assume this is not happening because I can't get the monitorSession working)

Here is my sample code:
[code]

Here is what my brows

[2017-06-13 17:18] lvanderbijl commented on #317
@brockallen  What pII issues are a concern? If we don't use local storage, logins don't persist across tabs. Unless I'm totally doing something wrong. The only way I can get logins to persist across tabs is to use localStorage for both state and userStore.

Just trying to understanding security implications...

[2017-06-15 17:06] figuerres commented on #313
i have also run into this, i want to help but i have not done a pr before, the online docs refer to making a branch and then using the branch to make a pr, but on the portal i do not see a web ui for making a branch, only for making a fork.
i am not sure if i am looking at the wrong thing or lack permissions or what....
if i find any other missing type definitions i would add them also so we cover

[2017-06-16 00:54] TheoGit commented on #327
I agree with you @GDehnke-Turpin, and you're not being disrespectful.  "user" is still null, getUser() isn't working

[2017-06-16 13:29] brockallen opened #349 "Change staleStateAge to 5 min by default"
And add docs for it

[2017-06-16 14:31] brockallen opened #350 "Look into infrequent timing error around postMessage on check session iframe"
Looks like timer is calling postMessage before iframe has loaded from check session endpoint.

[2017-06-16 14:35] stuartbloom opened #351 "signoutRedirect failing on deployed system in IE11"
Everything is working fine in Chrome, and in IE11, however, calling `userManager.signoutRedirect()` works fine in Chrome but not in IE which is returning a 404 error.

inspecting the URL, it is almost the same as the one that I see in Chrome apart from it has extra information appended to it.

These are the URLs:

Chrome:
https://quality2012/dev_mapquest_api/identity/connect/endsession?id_token_hi

[2017-06-16 15:21] brockallen commented on #343
Good to hear. And yes, in general, keeping id_token as small as possible helps many things. Using the user info endpoint should also help.

As for the issue, maybe what's best is to have a flag to toggle if id_token_hint is sent in silent renewal?

[2017-06-16 16:20] brockallen commented on #344
This event lets you know the user has signed out of the IdP.

[2017-06-16 16:23] vaduveerappan commented on #344
@brockallen : Yes . the problem is , the event never get triggered on tab 1 ( On the tab which came through signInSilent ) .

The user have signed out of the Idp on a different tab, so you would expect the "user signed out console" right?. I get the log on all tabs except tab 1

[2017-06-16 16:26] brockallen commented on #344
Hmm, so tabs where the initial login is via signinSilent never get the signed out notification from IdP?

[2017-06-16 16:30] vaduveerappan commented on #344
@brockallen : Yep. In the signinredirect tab , it doesn`t include property to successfully register monitorSession.

[2017-06-16 16:31] brockallen commented on #344
Ok, I'll look into it when I can. Thanks.

[2017-06-16 16:32] brockallen commented on #346
Submit a PR that works for it, and I'll merge it. Thanks.

[2017-06-16 16:34] vaduveerappan commented on #344
Cool thanks !

[2017-06-16 16:34] brockallen commented on #317
email, name, and any other identity claims that might be requested in the id_token.

[2017-06-16 16:34] #317 closed, assigned to nobody

[2017-06-16 16:35] brockallen commented on #351
Perhaps dup? https://github.com/IdentityModel/oidc-client-js/issues/343

[2017-06-17 07:44] stuartbloom commented on #351
@brockallen looks like it very well could be; but how do I get the userManager to not send the id_token_hint when calling the signoutRedirect() method?

[2017-06-17 08:55] brockallen commented on #351
As of now, we can't. I can consider a flag on the setting to prevent it. In the meantime, I'd suggest making the id_token smaller by not putting so many claims in there.

[2017-06-17 12:20] stuartbloom commented on #351
@brockallen that's great, thanks for the advice. Question though, how do I go about reducing the number of claims?

[2017-06-17 15:19] brockallen commented on #351
Do you have `AlwaysIncludeUserClaimsInIdToken` set to `true` on your `Client` config? If so, change it to `false`.

[2017-06-18 05:22] crudh commented on #343
@brockallen yes, we removed things from the id token that was already sent by the user info endpoint.

a toggle flag would work great for us!

[2017-06-19 07:38] stuartbloom commented on #351
@brockallen sorry Brock, was away from my code yesterday.  I don't see that property on the client, however, I do see `AlwaysSendClientClaims` and that is false.

Is there anything else I can do?  In case it makes any difference, we are using IdentityServer3.

[2017-06-19 07:49] jrwpatterson opened #353 "help getting Response was error restricted_response_type"
I'm getting the above in my logs but I have no idea what it means, or where to start debugging.

[2017-06-19 08:33] phildaumont opened #354 "Possible support for hybrid flow when used in cordova app"
First off thanks for your work on this client + identityserver4!
I have been using this client successfully within an ionic app to authenticate to identityserver4 + google with an Implicit flow.

I have seen it mentioned previously that the spec prohibits JS apps from using the Hybrid flow, but was wondering if hybrid flow was permissible when used say from a Cordova application?

I watched the pr

[2017-06-19 11:37] brockallen commented on #351
Ah, then check the "AlwaysInclude" flag on the identity scope definition (or its claims).

[2017-06-19 11:38] brockallen commented on #351
Ini short, you want to redice the claims in the id_token, and use the access_token to hit the user info endpoint. Maybe watch this where it discusses the optimization: https://vimeo.com/131636653

[2017-06-19 11:56] brockallen commented on #354
Yes, then you would use hybrid + PKCE, and to do all of that you want a different library. Here's the reference implementation: https://github.com/openid/AppAuth-JS

[2017-06-19 11:57] brockallen commented on #353
What OP? Check the docs of the OIDC provider.

[2017-06-19 12:19] stuartbloom commented on #351
@brockallen Sorry but not sure where I should be looking.  I watched the video, infact I have seen it before, but I cannot see where the "AlwaysInclude" flag is, or for that matter where the identity scope definition can be found.

Really appreciate your time on this;  Thanks :)

[2017-06-19 12:27] brockallen commented on #351
Well, what I meant by the video was the understanding of the "id_token" vs "id_token token" and the user info endpoint.

[2017-06-19 12:27] brockallen commented on #351
Anyway, I'll close this in favor of #343 tracking the feature to add a flag to not send the id_token_hint on silent renewal.

[2017-06-19 12:27] #351 closed, assigned to nobody

[2017-06-19 12:34] phildaumont commented on #354
Fantastic thank you.

[2017-06-19 12:35] #354 closed, assigned to nobody

[2017-06-19 13:17] stuartbloom commented on #343
@crudh just wondering, how did you go about reducing the length of your token/token_hint?

Thanks for any assistance :)

[2017-06-19 13:30] crudh commented on #343
@stuartbloom I don't have any technical info since I'm just on the frontend parts in this current project. But to summarize we were sending out a bunch of user related data, that aren't really claims, both in the token and from the userinfo endpoint. Now we only output that in the userinfo endpoint and only have the required claims in the token.

Does that answer the question or should I ping one

[2017-06-19 13:42] GDehnke-Turpin commented on #343
This might sound strange, but to avoid the massive URL, I ended out doing a silent in application redirect to the exact same URL such as mybusiness.com/dashboard. The redirect removes the massive token in the URL and you have a clean SEO experience. Could you possibly show a short snippet of code that you are using.

[2017-06-19 13:50] crudh commented on #343
@GDehnke-Turpin we also update the url (push a new state to the browser history) after we have received the token in the url from the redirect. We have never had any problem with the regular login redirect and url length, it only affected the iframe for the silent renew.

[2017-06-19 14:21] stuartbloom commented on #343
@GDehnke-Turpin

this is my logout code :s

[code]

Thanks

Stuart

[2017-06-19 15:01] enevlogiev commented on #348
While my code is different, I have a similar issue. I can see the iFrame created, but sometimes it doesn't want to start checking the session in chrome and edge.
It has worked every time in Firefox so far.
Any attention from the team will be well appreciated.

Update:
I noticed the **/endsessioncallback?sid=....** getting blocked sometimes on chrome.

[2017-06-19 20:37] figuerres commented on #313
PS: looks like the session change add / remove are not in the .d.ts file also.
i have them in my local copy to add to the revoke token if i can see how to get it in here for a pr

[2017-06-20 12:25] brockallen commented on #313
https://help.github.com/articles/about-pull-requests/

[2017-06-20 12:58] figuerres commented on #313
@brockallen
thank you for responding, i read that page and it led me to this page [https://help.github.com/articles/creating-a-pull-request/](url)

on that page it says that i need to create a branch ?  at least i think that is what it says...
sorry but i am new at this.  i have a local copy in vs code that i have edited, i know that if i had my own repo i would publish to that.

i am just not sur

[2017-06-20 13:28] michaldudak opened #356 "Documentation - log levels"
The Home page in the wiki mentions several log levels, but DEBUG is missing.

[2017-06-20 16:11] ttugates opened #357 "checksession CSP issue... Content Security Policy directive: "script-src 'unsafe-inline'"
Getting"Refused to load the script 'http://localhost:54638/4a9b07feb425475abe86bc6ba88d9ccc/browserLink' because it violates the following Content Security Policy directive: "script-src 'unsafe-inline' 'sha256-VDXN0nOpFPQ102CIVz+eimHA5e+wTeoUUQj5ZYbtn8w='".

I see a different user on Stack Overflow reported same behavior but specifically in Firefox.  I experience in Chrome.

Could be realted to ht

[2017-06-20 16:52] brockallen commented on #357
This is not related to this library. Your web page's CSP policy is doing its job (and blocking browser link). Change your CSP settings if you want browser link to work.

[2017-06-20 16:53] brockallen commented on #356
Feel free to add it. If not, then I'll add it when I can. Thanks.

[2017-06-20 16:58] michaldudak commented on #356
I'd love to, but frankly, I've got no idea how to contribute to a wiki.

[2017-06-20 17:00] brockallen commented on #356
There should be an "edit" button you can click.

[2017-06-20 17:05] michaldudak commented on #356
Unfortunately, there isn't any. It may be limited to repo owners only.

[2017-06-20 17:06] brockallen commented on #356
Ah ok -- I thought I left it open. Thx

[2017-06-20 18:48] BasyaLipman commented on #327
Firstly, thank you @brockallen - you've done great work. This library is a big time saver.

@alessalessio

I ended up adding a separate login view / link, with the redirect_uri as a _**separate html page**_ as in the sample you mentioned and the one @brockallen suggested. That solved the problem. The issue is only when trying to log in using the asynchronous getUser method and setting redirect_uri

[2017-06-20 20:33] santialbo commented on #357
Hi @brockallen I have a related issue (with the title). There's a longer explanation here https://stackoverflow.com/questions/44651318/csp-issues-with-checksession-using-oidc-client-js
Apparently, on Firefox I'm getting a CSP blocking on the checksession iframe even though I haven't set any CSP tags on my SPA index.html. Do you have any hints?

[2017-06-20 23:22] BasyaLipman commented on #133
Hi @brockallen

I'm trying to figure out how to revoke my reference token when logging out of my site, and am having some trouble finding documentation/examples for this.

You mention above

I have added` revokeAccessTokenOnSignout: true `to my settings, and have added `revocation_endpoint` to the `metadata` field in the settings as well (CORS is not enabled, so manually put the metadata in.)

I d

[2017-06-21 00:04] ShadSterling commented on #327
I solved a similar problem by changing the redirect URIs to include a query, and making the page behave differently depending on the query.  So there's only one page for all redirects, but it can handle each of them appropriately.  (First I tried to distinguish by the query generated by the auth server, but I couldn't find a way to do that.)

[2017-06-21 07:21] AGuyCoding opened #358 "How to update only the access_token without update the lifespan of the id_token"
It may be easy to achieve, but i am not able to update only the **access_token** (without updating the lifetime of the **id_token**)

On the IdentityServer i have theses settings:
[code]

the oidc-client-js is configured with

[code]
also i have set the "callback.html":

[code]

and the "silent.html"
[code]
____________________________________________________

Everything work as expected, the only

[2017-06-21 13:12] brockallen commented on #357
No, but I'll reopen this until we get it sorted out.

[2017-06-21 21:42] JoshBarr commented on #23
Hey @brockallen,

I'd be happy to help out with some of the work on reducing the bundle size. I've got a few suggestions which I'll open a PR for shortly.

From what I can tell, the library is using only a few es6 features which require polyfilling. Initially, we can just load them in the webpack entryPoint, however core-js allows us to require functions that don't pollute the global namespace or

[2017-06-22 13:27] AGuyCoding commented on #358
Hmm i think i found the answer, somehow the IdentityServer (or even .net) cannot handle lifetimes below 5 minutes...
i tried with settings:
[code]
then logged in, closed the window (because in my settings the *UpdateAccessTokenClaimsOnRefresh* is set to true), wait for 6 min, call the site again, and then i am getting logged out, everything works as expected....

[2017-06-22 16:26] brockallen commented on #23
@JoshBarr -- sure, all sounds good. And yes, let's do these small ones first then the crypto after. To be honest, though, these small changes will be small compared to any savings we get with the crypto, so perhaps that's the bigger win?

[2017-06-22 18:08] santialbo commented on #357
Sorry @brockallen. It ended up being an addon trying to inject their code.
I'm still getting the following warning on the header of the checksession response, but that sounds less important.
[code]
Sorry for the inconvenience, you can probably close this now.

[2017-06-22 19:30] #357 closed, assigned to nobody

[2017-06-23 00:05] bptillman opened #359 "Can UserManager work properly when created without settings?"
This seems like something to be tagged as a question, but it's more something I was hoping you could clarify for me that might shed some light on an issue we have seen cropping up in our deployed solution utilizing this and IdentityServer4.

In the wiki you mention:

But in some of the samples I see where a new UserManager is instantiated without the settings parameter, such as here:
https://githu

[2017-06-23 00:27] JoshBarr commented on #23
It occurred to me that while a compliant library should – for completeness – work with all kinds of crypto implementations, the majority of implementers will likely be working with a subset of EC* or RSA* or PS*, rather than all nine algorithms.

Perhaps allowing users to generate their own builds with just the crypto implementations they require would help reduce the bundle size further? I think

[2017-06-23 00:36] brockallen commented on #23
I like that idea for advanced users that know how to do that and know what algs their STS supports. Most people won't be in that category, I fear.

[2017-06-23 11:07] ccrowhurstram commented on #246
Maybe for angular (>=2), take a look at the following oidc library: https://damienbod.com/2017/06/14/angular-auth-oidc-client-release-an-openid-implicit-flow-client-in-angular/

[2017-06-23 12:26] figuerres commented on #246
@ccrowhurstram

interesting....  i know i have read some of his stuff in the past. Will have to check this out and see how it looks!

[2017-06-23 18:41] bptillman commented on #359
As a followup to this, I tested out my signinRedirectCallback code from above by setting my clockSkew value in the settings to 3660 (1hr1min) and then shifting my local clock to be 1hr off, which means I should still be able to login without issue. Then when I tried to login it caught an error stating `iat is in the future`.

Once I changed the signinRedirectCallback to use the already instantiate

[2017-06-23 20:40] brockallen commented on #359
On the callbacks the workflow is pretty narrow so most settings are ignored. The intent with this pattern was that for the callbacks I didn't want the config to need to be duplicated in several places.

[2017-06-25 09:04] tibbus opened #361 "[wiki] update docs for Events"
Hi, not sure what's the way to contribute to the wiki page as it's a separate repo and cannot be forked.

I did the changes here :
https://github.com/tibbus/oidc-client-js/wiki

[2017-06-25 12:56] tibbus commented on #346
I don't have any errors
* Angular CLI 1.1.3
* Angular 4.2.4

I use the production build which compiles the templates AOT.

[2017-06-26 03:19] KshitizGIT commented on #251
@MrCrimp = Could you elaborate on how you did the checking for node environment ? I tried using the IsNode and IsBrowser flags, but  i didnot work for me .

I am working with the "MVC ASP.NET Core with Angular" template which provides pre-rendering out the box .

[2017-06-26 06:36] tibbus opened #362 "signinSilent not working"
Hi,

I have the oidc implemented following the Angular2 example.
It works to `signinRedirect` and to `signoutRedirect` , also automaticSilentRenew is set to `true` and works, when the token expires I receive a new valid one.

The issue is that the `signinSilent` is not working, when I call the method I'm still logged in with a valid token and I receive :
[code]
Even the `frame error` I receive a n

[2017-06-26 13:30] ShadSterling commented on #347
Yes, it sounds like you have it right.

- The `popup_redirect_uri` is passed to the auth server in the popup window, so it must be accepted as a redirect uri.\

- Whatever's at that URI must call `signingPopupCallback(window.location.href)` to get the session info from the query from the auth server and pass it to the main window

I agree that better documentation is needed, and understand that co

[2017-06-26 13:46] ShadSterling opened #363 "Unexpected end of JSON input"
The Auth server my app uses is malfunctioning this morning, and I'd like to be able to handle the error better.

I am unable to catch the exception because it occurs in some asynchronous code within `oidc-client` (so it's not subject to any try/catch block in my code), and seems to be preventing a promise my code is waiting on from being either resolved or rejected.

The in-browser debugger shows

[2017-06-26 14:11] epozsh commented on #178
@nathanpiazza hello, sorry for inconvience, did you get this client work with ur react isomorphic app?

[2017-06-27 01:55] kuncevic commented on #362
I have a single redirect uri for `login` and `silent login` as just component in my angular spa an had same issue when was trying to use `silent login`:

[code]
My error when `silent login`:
[code]

[2017-06-27 04:09] kuncevic commented on #362
## signinSilent():

Just figure out that my `frame time out` error happened when I am calling `silent sign in` manually

[code]
However, token gets renewed just before that error taking place.

So this way I got two `authorize` requests  the first one with the current token is OK
![chrome_2017-06-28_11-48-09](https://user-images.githubusercontent.com/1283734/27617172-09238462-5bf8-11e7-9ae8-d2ec52

[2017-06-27 11:46] theirishpenguin opened #364 "Question: Is it possible to add arbitrary settings to the userManager config?"
Hi, ideally, I'd like to pass an additional parameter along with my config that can be picked up by the receiving SSO server. For example, ```foo: 'bar'``` below.

(I tried it at the top-level and inside metadata but it didn't work. Is there a way to pass extra arbitrary params?)

[code]

Or is the passing of arbitrary parameters not supported? I wondered if it is reasonable to enhance 'state' for

[2017-06-27 23:50] kuncevic commented on #362
Just was looking trough the issues may be this one is an answer why the error is taking place https://github.com/IdentityModel/oidc-client-js/issues/172#issuecomment-257851885

[2017-06-28 03:48] kuncevic commented on #172
@freemanfx did u solve the issue? looks like this one is something similar that happened in my case https://github.com/IdentityModel/oidc-client-js/issues/362 and @tibbus

[2017-06-28 13:32] brockallen commented on #363
Yep, sounds like a bug. Feel free to send a PR to have it fixed sooner rather than later.

[2017-06-28 13:33] brockallen commented on #364
Dup? https://github.com/IdentityModel/oidc-client-js/issues/315

[2017-06-28 13:52] theirishpenguin commented on #364
Ah, thanks @brockallen - it probably is. I wasn't sure from the terminology in that ticket. I will close this and comment there. Cheers!

[2017-06-28 13:52] #364 closed, assigned to nobody

[2017-06-28 13:55] theirishpenguin commented on #315
Hi guys, do ye have a sense as to when this might be fixed? (ie. when might https://github.com/IdentityModel/oidc-client-js/pull/355 be merged?).

It would be great to have access to this functionality soon in my scenarios.

Thanks for a great project!

[2017-06-28 13:57] brockallen commented on #315
Not for a bit -- I'm traveling.

[2017-06-28 14:36] theirishpenguin commented on #315
Thanks for the the update @brockallen. Have a good trip!

[2017-06-28 16:33] artipixel opened #365 "Frame window timed out Event"
I'm trying to simulate a scenario where the identity server didn't get the silent login request.
I'm doing so by **killing the network** and calling `signinSilent()`, as expected, I've got `Frame window timed out` exception.
Problem is, this exception is never caught and I didn't found any way to catch it or extend it's parent.
We have encountered several time in this error, and when this exceptio

[2017-06-28 17:11] ghost opened #366 "silent renew interaction_required even when user already authenticated"
Hi. I use signinRedirect with prompt=select_account in my userManager config. Google as OP. Also I rely on silent renew. If there no saved google accounts in browser, I enter my google creds, authenticate and after token expiration silent renew works properly. But if there already exists few account to select, I select one of them, authenticate and silent renew breaks with error interaction requir

[2017-06-28 19:13] brockallen commented on #366
You're using oidc-client directly with google as the OP?

[2017-06-29 00:54] ShadSterling commented on #363
... I can't tell if you missed the part where I couldn't figure out where to make the change and asked where I should look.  If I have to hunt it down myself it will be later.

[2017-06-29 03:42] #346 closed, assigned to DavidParks8

[2017-06-29 07:52] ThomasR opened #367 "[Wiki] Indentation levels are not correct"
The docs for the config parameters are pretty confusing, since the indentation depth is not correct.

### ACTUAL:
[code]
![actual](https://user-images.githubusercontent.com/136820/27676988-59b8c24e-5cb0-11e7-86fe-93b3d066a14d.png)

### EXPECTED:
[code]

![bildschirmfoto vom 2017-06-29 09-48-28](https://user-images.githubusercontent.com/136820/27677035-7d4885dc-5cb0-11e7-9540-6f168c41defc.png)

[2017-06-29 08:08] freemanfx commented on #172
I solved the issue. Was related to the IdentityServer. The configuration was not correct and the server didn't respond as expected making the client fail.

[2017-06-29 08:09] tibbus commented on #172
@freemanfx  Can you please give more details with what was wrong in the server config and what did you fixed ?

[2017-06-29 08:42] freemanfx commented on #172
As far as I remember the redirectURI was not the same as the page making the request or something along those lines. I mentioned previously that it worked on the same machine as the IdentityServer making be believe what the possible issue could be.

[2017-06-29 11:14] stuartbloom commented on #343
Hey @crudh @GDehnke-Turpin @brockallen

Just wondering if there is any movement on this enhancement? or a clearer workaround?

Thanks

[2017-06-29 11:24] ghost commented on #366
@brockallen, yes

[2017-06-29 11:30] j4ro opened #368 "signinSilent overwrite prompt parameter"
I'm using oidc-client with Angular2 app and IdentityServer3, where I have auto login using NTLM.

I want to use silent login to log user in as there is no interaction needed but when I try to do it IS3 throws error with info: "prompt=none was requested. But user is not authenticated.": https://github.com/IdentityServer/IdentityServer3/blob/master/source/Core/ResponseHandling/AuthorizeInteractionRe

[2017-06-29 14:44] ghost commented on #366
For example, user have multiple google accounts and visit my website for first time. He select one of available account, silent renew won't work (interaction_required). Without manually entered creds it won't work.

[2017-06-29 16:21] brockallen commented on #368
Possibly. I forget why you'd want to do an iframe without prompt=none, though.

[2017-06-29 20:35] ms007 commented on #23
One thing that adds size too is the dependency to babel-polyfill. The babel-polyfill lib is huge too and it seams that only some polyfills are required, but it's hard to say which ones. Can you provide some insights what is really required?
I had to include babel-polyfill only to get oidc-client working in Internet Explorer.

[2017-06-29 21:05] brockallen commented on #23
I think @JoshBarr started that research...

[2017-06-30 01:53] kuncevic commented on #362
## Solution

I just looked at the sample and  configured that with my identity server https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc/wwwroot to make sure that it is working. Also I added `silentSignin()` to that to make sure it is works:
[code]
[code]

Then in my angular SPA I setup separate components to handle `signinSilentCallback` and `signinRedirectC

[2017-06-30 05:20] kuncevic commented on #365
I had resolved my issue https://github.com/IdentityModel/oidc-client-js/issues/362#issuecomment-312153803 see if solution working for you.

[2017-06-30 05:23] kuncevic commented on #172
Here is an update on https://github.com/IdentityModel/oidc-client-js/issues/362#issuecomment-312153803 basically I ended up of using `html` files for redirects instead of redirecting straight to my angular SPA. That solved the `timeout issue` in my case.

[2017-06-30 05:29] tibbus commented on #362
I'm already using separate files for redirects, not sure what's wrong with mine

[2017-06-30 06:27] j4ro commented on #368
I think you mean that prompt=none in invisible iframe is logical cause you don't want to show any prompt for user. Unfortunately in OpenId spec there is:

OPTIONAL. Space delimited, case sensitive list of ASCII string values that specifies whether the Authorization Server prompts the End-User for reauthentication and consent. The defined values are:
none
The Authorization Server MUST NOT display a

[2017-06-30 06:49] kuncevic commented on #362
@tibbus try to setup https://github.com/IdentityServer/IdentityServer4.Samples/tree/release/Clients/src/JsOidc/wwwroot against your idserv and see if it is working.

[2017-06-30 07:06] tibbus commented on #362
@kuncevic Thanks, that's a good idea, I tried before with the angular2 sample and didn't worked, but this one is more simple and clear.

From my perspective it looks like a server error not client, but will see.

In my case also is weird as autoRenew works, it says in the logs that didn't found the user but it renews the token successfully multiple times :

[code]

[2017-06-30 15:26] mdymel commented on #306
@sattaman did you manage to get it running?

[2017-06-30 15:48] sattaman commented on #306
Yes. I'm still running off a forked branch though. I've got an additional PR outstanding , and last time i checked the version hadn't been bumped.

[2017-07-02 11:30] artipixel commented on #365
@kuncevic Nope, this is not exactly the same issue, as I have it configured right, it works just fine, but occasionally it throws this error and just stops renewing the session.
I just need to know how to catch this exception, currently I don't think there is a way without changing the source code.

[2017-07-02 12:54] brockallen commented on #365
There's an event for errors for the automatic silent renew feature. It's on the user manager events property.

[2017-07-02 13:07] artipixel commented on #365
@brockallen It doesn't catch this exception and basically never fired, at least not in my tests...
How can I catch this specific exception with `Frame window timed out`?
One thing I forgot to mention - I don't use automatic renew - but listening for mouse/keyboard events myself. I guess this why this doesn't fire.
Thanks!

[2017-07-02 13:12] brockallen commented on #365
Hmm, it should catch the same errors as if you call signinSilent yourself explicitly. Perhaps it's a bug -- I can look into when I can (but it won't be a several days).

[2017-07-02 13:23] artipixel commented on #365
Yep, I also thought that it should catch the same errors, but when calling `sigininSilent` it just throws without catch.
It will be nice to have a callback that fires, but for now - I wasn't able to extend that object - can it be extended externally somehow?  Thanks!

[2017-07-02 13:25] brockallen commented on #365
So I'd suggest just disabling the automatic feature, and handle the tokenExpiring even yourself and call signinSilent yourself -- that way the catch will work.

[2017-07-03 11:27] artipixel commented on #365
I don't know what went wrong, but after reading the source code I've tried this:
[code]

Everything seems to work now...
Maybe I wasn't supposed to send nothing to the signinSilent function..

[2017-07-05 08:01] ErikSchierboom opened #369 "signinSilentCallback returns successful promise when error occured"
If there is an error server-side while silently renewing the token, the silent renew callback URL contains the error in the hash parameter. Like this:

`http://localhost/postrenew.html#error=login_required&state=<state>`

However, when the `signinSilentCallback` processes this URL, it processed it as if it was a successful renewal, which means that in the following code, the success alert will be

[2017-07-05 13:16] brockallen commented on #369
Error are supposed to always be passed via query, IIRC

[2017-07-05 13:18] brockallen commented on #369
Oh I was wrong... https://tools.ietf.org/html/rfc6749#section-4.2.2. Hmm, makes me wonder how oidc-client handles it.

[2017-07-05 13:18] ErikSchierboom commented on #369
@brockallen By the way, we use IdentityServer4 as our backend.

[2017-07-05 13:21] brockallen commented on #369
Yea, I think I was thinking about signout params for post logout redirect (i.e. state). Sorry for the confusion.

[2017-07-05 13:22] ErikSchierboom commented on #369
No problem :)

[2017-07-05 13:25] brockallen commented on #369
Ok, so now I understand (it usually takes me a bit because i'm a slow reader). So the problem is that the error is not raised on the callback, but in the promise for the signinSilent at the caller that initiates the silent signin.

[2017-07-05 13:28] ErikSchierboom commented on #369
Yes, precisely. I would expect the call to `signinSilentCallback()` to throw, thereby allowing me to catch the exception of the returned promise or the `addSilentRenewError` callback (either is fine with me).

[2017-07-05 13:29] brockallen commented on #369
Hmm... well it doesn't now, but we might be able to somehow get them to collaborate.

[2017-07-05 13:41] SGStino opened #370 "window.document.body is still null"
in `CheckSessionIFrame.js` , the line:

[code]

seems to throw an error in some cases (race condition?) because window.document.body is still null when that code is executing.

delaying this to untill the body is completly loaded fixes the issue. However, the way we did it doesn't feel completely right to us:
[code]

[2017-07-05 13:54] ErikSchierboom commented on #369
It appears that I'm not the best of readers, as I may have misread your answer. Actually, I don't really know if the `signinSilent` call throws, as the `signinSilent` call is done automatically (due to automatic token renewal). The result of the `signinSilent` call is that the client is redirected to the postrenew callback, in which I call `signinSilentCallback`. This implies to me that the `signi

[2017-07-05 13:57] brockallen commented on #369
If you're using the automatic silent renew, then you can handle errors in an event: https://github.com/IdentityModel/oidc-client-js/blob/dev/sample/public/user-manager-sample.js#L62

[2017-07-05 13:58] brockallen commented on #370
Any chance you can track down what the timing error really is?

[2017-07-05 14:01] ErikSchierboom commented on #369
@brockallen I tried that, but the event handler doesn't get called unfortunately.

[2017-07-05 17:31] tungphuong commented on #93
Hello, I am facing the same issue. Could you please share me steps to investigate and fix it? Thanks

[2017-07-06 00:42] Robban1980 opened #371 "LocalStorage filling up with oidc.<uniquId> entries"
I don't know if this is a bug or i have configured something wrong somewhere.
I can see that localstorage is filling up with entries like this
**Key:** oidc.<unqiueid>
**Value:** {"id":"<unqiueid>","created":12345678,"nonce":"12345678","authority":"https://theauthserver.com","client_id":"clientuniqueid"}

and i cannot figure out why? They seem to never be deleted.
What are these used for?

The oid

[2017-07-06 07:07] ysrmmz opened #372 "XMLHttpRequest cannot load https://sts.xxxxxxx.xxx/adfs/.well-known/openid-configuration."
Hello,
I am trying to implement oAuth2 in a single pages application (Developed in React Mobx) against on-premise ADFS (ADFS 2016) with the help of oidc-client-js.

Here is the exact error message I am getting.
XMLHttpRequest cannot load https://sts.xxxxxxx.xxx/adfs/.well-known/openid-configuration.
Redirect from 'https://sts.xxxxxxx.xxx/adfs/.well-known/openid-configuration' to 'https://sts.xxxxx

[2017-07-06 07:26] BasyaLipman opened #373 "Revocation endpoint 400 bad request invalid client"
Hi,

I'm using oidc-client in my SPA application against IdentityServer3, using implicit flow.

Revoking my reference token on sign out is not working.

I have set revokeAccessTokenOnSignout: true and client_secret to a dummy secret, and I see the request being sent out. However I'm getting a "400 bad request invalid client" response.
Here's the request being sent:
<img width="821" alt="scrnshot"

[2017-07-06 09:51] byoungs commented on #372
You have to allow this on your authorization server. I followed the directions here for PingFed successfully http://community.unboundid.com/t5/Data-Broker/Configuring-CORS-in-Ping-Federate-so-that-Data-Broker-s-Sample/ta-p/324.

[2017-07-06 13:08] SGStino commented on #370
at random (more yes than no)  in Chrome 59, IE11 and Edge 38, actually we had the error pop up saying appendChild could not be found on null.

When debugging, it turned out `window.document.body` was still null.

Suggesting the code was already executing before the entire body was loaded and set.
I'm guessing it has something to do with the script being in the <head></head> section of the document

[2017-07-06 13:26] brockallen commented on #371
This is the state for the protocol flow and it's not getting cleaned up because the protocol workflow is not getting completed. I guess you're doing a lot of testing? There's an API to clean them up automatically: https://github.com/IdentityModel/oidc-client-js/blob/dev/sample/public/user-manager-sample.js#L82

[2017-07-06 21:03] beowulf2128 opened #374 "Troubles authenticating with AzureAD"
Question - Anyone having success authenticating with Microsoft (MS) Azure AD? My app needs a token to interface with MS's Graph API, and I'm having troubles, especially with silent token renewal.

My code and flow goes like this, starting with initial page load of my app:

-----

1) Hard-code `userManager`'s `_metadata`

If `userManager.settings._metadata` is empty, oidc client sends out a pre-req

[2017-07-07 00:53] Robban1980 commented on #371
Yes I am doing a lot of testing, replacing oidc-manager with this one. :)
But i wonder if i am doing something else wrong too, as even for what i would expect to be the normal flow of Signing-in, navigate around for a bit and then Sign-out. These entries does not get cleaned up.

I am working in an Angular 1.4.x app so i could have configured something wrong somewhere. I have not been able to find

[2017-07-07 08:16] ThomasR commented on #342
Yes, that is how single sign on works in general, and is not an issue of this particular library.

That's why you should use private mode on public computers, or remember to manually clear all cookies after your work is done.

[2017-07-07 11:12] ysrmmz commented on #372
We have Big-IP server and our infrastructure guys are looking into it. I will update once we find out a solution.

[2017-07-07 19:46] brockallen commented on #373
Check the logs in IdSvr3

[2017-07-07 19:47] brockallen commented on #371
I'd clear them all out and then complete one successful test to login and see if the localStorage entry remains. If so, then you're right -- something is not cleaning it up. You'd debug into this on the xxxCallback page.

[2017-07-07 19:48] brockallen commented on #372
I don't think ADFS supports CORS.

[2017-07-08 09:10] cportermalta opened #375 "Managing user profile"
Hi all,

In instances where you have **multiple clients** and a **central IdentityServer 4** instance which handles user auth/n, how would you go about managing user profiles from individual clients?

**Current scenario:**

1. user clicks on manage profile
2. user is redirected to a custom manage claims page on IdentityServer which a) loads all claims in a form, b) allows user to mod such claims a

[2017-07-09 05:49] BasyaLipman commented on #373
@brockallen thanks.
Here is the log. What does it mean?
[code]

[2017-07-09 13:32] brockallen commented on #373
So there you go -- it looks like the secret validation is failing in IdSvr. Not an oidc-client issue.

[2017-07-09 16:25] Jeevsxp opened #376 "Is the 'addAccessTokenExpired' event triggered before or after silent renew?"
Is 'addAccessTokenExpired' triggered after silent renew?

If not can an event be added 'addSilentRenewSuccess', passing in the new access token perhaps?

[2017-07-09 16:37] brockallen commented on #376
It should and does it all the projects I work on.

The userLoaded event fires when the user has been updated.

[2017-07-09 17:35] Jeevsxp commented on #376
Brilliant thank you @brockallen

[2017-07-09 17:35] #376 closed, assigned to nobody

[2017-07-10 13:58] goxr3plus opened #377 "{ "status": 0, "statusText": "error" } error even if connected to OpenIDConnect Provider Server"
I just started using [oidc-client-js][1], so i am really confused trying to understand it . I have the below question :) .

I have been connected to a remote webserver running OpenIDConnect and specifically using https://github.com/mitreid-connect/OpenID-Connect-Java-Spring-Server **i have builded the openid-connect-server-webapp** and created a client correctly. It is hosted on a vm .

[![enter i

[2017-07-11 07:07] jonasbg commented on #377
If you go into the Network tab in Chrome you should see that the `Authorization Header` has access_token set (my guess as this issue is not related to oidc-client).

This is an CORS error, simply put: you're accessing your web-api from a different domain than it is hosted at. You must set your web-api server to allow connections from your test client domain. This approach is different based on the

[2017-07-11 07:09] goxr3plus commented on #377
Yes i am accesing from localhost using Apache on Windows  :) I added Allow-Control-Origin on Chrome and Enabled Cores through plugin but again same error :( .

Thanks for your help .

[2017-07-11 08:29] Robban1980 commented on #371
Thanks @brockallen seems like something is wrong in my Callback page, i will debug and see what i find.

[2017-07-11 11:50] ashutosh49 opened #379 "[Help Wanted] SSO Usage"
Hi,

I was trying to use this library to my React-Redux application and was wondering on how to handle the case where there would be no redirect_uri?
Basically, we want all the components of our SPA to be protected and so, once an unauthenticated user tries to access any part of our app, he/she should be redirected for authentication to the IdP and get redirected back to the original component he/

[2017-07-11 14:15] u840903 opened #380 "State store is set, but removed before it can be used (No matching state found in storage)"
TL;DR: Redirect sign-in works, but popup doesn't. State store is set but removed before it can be used.

[code]
If I watch my local storage I can se the correct key and value for a brief second before its removed.
[code]
No matching key, since it's removed.

[2017-07-11 14:17] u840903 commented on #380
Solved: `signinRedirectCallback()` was by mistake fired along side with `signinPopupCallback()`. Removing the `signinRedirectCallback()` call fixed my problem.

[2017-07-11 14:17] #380 closed, assigned to nobody

[2017-07-12 12:01] jonasbg opened #381 "[Help wanted] Angular2 - access_token not available immediately after login"
I have an application in Angular4 that shall not be accessable for non signed in users. I'm using Angular Guards to check for the logged in state and redirecting to signin if necessary.

[code]
After redirecting I'm initalizing some http calls that needs the access_token.
But those first initial calls cant find the access_token.

**How can I "postpone" the bootstraping of the application until OID

[2017-07-12 19:11] beowulf2128 commented on #374
No one has any anything helpful to share?

[2017-07-13 13:54] goxr3plus commented on #377
There is a temporary solution tough only for testing your application and not for production , disabling Web-Security on Google Chrome

**FIRST YOU NEED TO KILL ALL THE INSTANCES OF CHROME** , then install a Plugin Called CORS Toggle
and finally run the bellow commants from Terminal or Commant Prompt

For Windows
`.\chrome --args --disable-web-security --user-data-dir`

For Ubuntu Linux (tested on

[2017-07-14 11:00] ysrmmz commented on #372
@brockallen,

Does it means we cannot implement authentication in a single page application against ADFS (2016) as it will send XMLHttpRequest to ADFS and CORS is not supported by ADFS?

Just need to confirm as we will then consider other options.

[2017-07-14 12:44] brockallen commented on #372
I don't know -- I've not evaluated ADFS2016, so I don't know how much or little of OIDC it implements.

[2017-07-16 13:33] tibbus commented on #381
You need to use the the [APP_INITIALIZER](https://stackoverflow.com/questions/43639136/angular4-app-initializer-wont-delay-initialization)

This how it looks in my app :

**app.module.ts**

[code]
**authInitializer.ts:**
[code]

**auth.service.ts :**

[code]

[2017-07-16 14:10] SebastianStehle commented on #381
You just have to return a promise or Observable in your Guard.

[2017-07-18 07:05] andrewalderson commented on #381
Like @SebastianStehle says you need to return an Observable or Promise from your guard. I have a complete working sample of an Angular client authenticating against IdentityServer4 at start up in my repo [https://github.com/andrewalderson/angular-identityserver](url). Just created this over the weekend so no docs yet :(

[2017-07-18 08:32] SebastianStehle commented on #381
@andrewalderson I had a look to your sample. You could get an expired access token with getUser(), right?

At the moment I do a signinSilent, because I don't trust my own server. A proper solution would be to make a retry in the interceptor. I should try it out.

Btw: this is my interceptor:

https://github.com/Squidex/squidex/blob/master/src/Squidex/app/shared/interceptors/auth.interceptor.ts

An

[2017-07-18 10:50] jonasbg commented on #381
@andrewalderson thank you. I've tried to follow the GIT code, and I've both implemented your code into my solution and tried to implement my code into yours. The error I'm getting is: `ERROR TypeError: Cannot read property 'access_token' of undefined`  which is because the authService exists before the accessToken is available,
[code]
It works when I have the dataService call inside home.module, b

[2017-07-18 11:03] tibbus commented on #381
With the APP_INITIALIZER nothing should be called before, my app waits until it gets a response from the `identity server getUser().then... promise` .

It checks what is returned from `getUser()` if everything is ok I just rezolve the promise for the initializer and then Angular starts the app. (it doesn't even call the providers constructor before the initializer promise is resolved)

[2017-07-18 22:15] andrewalderson commented on #381
@jonasbg In my sample you should be subscribing to the Observable in the auth.service before you make any calls that require authentication. You can inject the auth.service into the AppComponent and do that in the constructor.
[code]
Also, as a note - you shouldn't be accessing the manager in the auth service directly like you are doing in your AuthGuardService. It violates the [Law of Demeter.](h

[2017-07-20 07:04] rosdi commented on #302
@CraigEaston Thanks for the code sample...

[2017-07-21 02:00] joshiji opened #383 "Open signinPopup in a new tab"
I am trying to use the oidc-client library to enable login in a chrome extension. Since in this case, I can't use `singinRedirect`, I tried using `signinPopup`. This function is working as expected.

However, I just wanted to check if it is possible to launch the login provider URL in a new tab instead of a new pop up window?

Looking into the code, I see the `display` property is hard coded to `"

[2017-07-22 21:05] Farshidgolkarihagh commented on #275
Hi, I am having the same problem. Any suggestions on a fix? Thanks

[2017-07-24 13:27] mpellerin42 opened #384 "Question: is it possible to check the validity of a token from oidc-client-js"
Hi,

is it possible to get the user from an existing token?

Here the workflow I have to set up: the customer will log in via identity server through a website called the portal. Once logged in, the customer can click on a link which redirect him to a single page application.
Currently, the SPA is configured to check the authentication against the portal. If the user is not logged, then he is redi

[2017-07-24 15:02] kristofdegrave commented on #384
Hi mathilde,

Since you are authenticated to the identity server, the user won't be prompt with the login screen again. In fact the user will get redirected back to your application immediatly.

So what does it mean, wheter the user is authenticated to the identity server or not, if you hit your spa you need to make a call to the identity server. Next the identity server will determine if the user

[2017-07-24 15:15] mpellerin42 commented on #384
Hi Kristof,

thank you for your answer. But I don't really see how that could happen that way.
On the spa, I make a getUser call, if no User, I send a signinRedirect request, as the user is not authenticated, there is a redirection to identity server login page and then spa get the token and every thing is fine.
But in a real use case scenario, the user will be logged in the portal, click a link t

[2017-07-24 16:43] kristofdegrave commented on #384
Ok, maybe I didn't see the entire scenario. When you say they authenticate against the portal, do you mean you have your own sign-in mechanism for your portal, or is the user redirected to the identityserver to authenticate for the portal (I don't think this is the case, reading you anwser.)

Well I think you have 2 scenario's for this. You can either use the identity server for authentication on

[2017-07-24 16:54] kristofdegrave commented on #379
As far as I know you have no other option than working with a redirect_uri when working in a spa enviroment. The redirect_uri is necessary to pass the information from the identityserver (like your access and id token) back to your application.

I would also advise you to use a seperate page as redirect_uri. On that page you are then able to navigate back to the page the user was trying to access.

[2017-07-24 17:16] kristofdegrave commented on #375
Well I have also some architectual issues on how to manage claims which are more application specific, but would be handy to be added inside the claims signed by the identity server.

I'll start with the info I have read about this. To start I would suggest that you read a post of @leastprivilege (https://leastprivilege.com/2016/12/16/identity-vs-permissions/). This basicly comes down on the follo

[2017-07-25 07:01] mpellerin42 commented on #384
When I say they authenticate against the portal, I mean via identity server: the portal use the normal redirect mechanism. So the user come to the portal and is redirected to identity server login page. The user authenticate himself and then access to the protected part of the portal. From there, there is a link to the spa. When clicking on the link, the user is redirected to the spa.

As the user

[2017-07-25 08:54] kristofdegrave commented on #384
Since the user is already authenticated against the identityserver, the user doesn't need to login again. The identityserver uses a cookie for this. So if the same logged in user wants to start a new client, identityserver will detect that the user is logged in so he won't prompt the user with a login screen, but it will redirect the user immediatly back to the application. In most cases the user

[2017-07-25 16:15] mina-skunk opened #385 "Failed to execute 'postMessage'"
I have 'automaticSilentRenew' on but if I open my client with an expired token, I intermittently get `Failed to execute 'postMessage' on 'DOMWindow': The target origin provided ('[OP / loginURL]') does not match the recipient window's origin ('[client URL]').` What could this be?

[2017-07-26 07:05] AGuyCoding opened #387 "How to validate the id_token?"
I still can't get my head round it.
When does the id_token expire on the client application with this configurations

**Startup.cs**
[code]

**Config.cs**
[code]
The **oidc-client** config
[code]

_______________________________

So when i am logged in everything works, even the access_token gets renewed after the time i defined with **AccessTokenLifetime**, but i will **_never_** get logged out.

[2017-07-26 11:06] mpellerin42 commented on #384
We found the solution: the first thing the spa do is to call an API which is also secured by OIDC. I give the token I get from the portal to the API and the API check the token validity. So if the token is not valid, the request fail and I can redirect the user to the login page.

[2017-07-26 11:06] #384 closed, assigned to nobody

[2017-07-26 17:43] ShadSterling commented on #363
Added to pull request #382.

[2017-07-26 18:53] malloy045 opened #389 "automaticSilentRenew iframe/callback URI issues - Cordova (android)"
I'm writing an Ionic2 application and I'm having trouble dealing with the callback URI in the iframe used by the automaticSilentRenew feature.  Bear with me, I am new to the whole Ionic/cordova world.

The refresh event is triggered, the iframe is created, and the process begins.  I can verify from my identity provider that the refresh is taking place and the redirect is issued successfully.

The

[2017-07-26 18:59] malloy045 commented on #389
One option I tried was to mimic the silent renew manually.  But when I do this, I hit a wall validating the auth response and trying to update the UserManager with the new values (I would have to do all of this manually as well).

For example, open up a way to call the `OidcClient.processSigninResponse(url, stateStore)` method manually through the UserManager.

[2017-07-26 20:49] mina-skunk opened #390 "MetadataService is an interface"
In a typescript project:
[code]
generates `'MetadataService' only refers to a type, but is being used as a value here.`. How would I use a custom JsonService?

[2017-07-27 14:34] beowulf2128 commented on #374
Just to help anyone else who comes along ... all my problems calling AzureAD went away after I dropped OIDC Client JS and switched to Adal JS:

https://github.com/AzureAD/azure-activedirectory-library-for-js

Just make sure to use v1.0.15 or later, or it won't build correctly with Webpack.

Adal JS comes with wrappers for Angular. But if you use React or something else, you can still use the adal.